extends ../../_layouts/standard-detail

block append config
  - baseUrl = "../../"
  - pageUrl = "/organisation-structure/board-of-directors"
  - var pageData = site.data.standardDetail.boardOfDirectors
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts

block detailContent
  +rte()
    h2 The IMDA Board is chaired by Mr Chan Yeng Kit, Permanent Secretary (Ministry of Defence). The Board members guide the work of IMDA and help chart the growth of Singapore's infocomm media industry.

  .row
    .col-md-4
      +image-link({
        "title": "Mr Chan Yeng Kit",
        "image": "/images/directors/Mr Chan Yeng Kit.jpg",
        "description": "Chairman <br /> Permanent Secretary (Defence), Ministry of Defence"
      }).match-height
    .col-md-4
      +image-link({
        "title": "Dr Ayesha Khanna",
        "image": "/images/directors/Dr Ayesha Khanna_edit.jpg",
        "description": "Chief Executive Officer & Co-Founder <br /> ADDO AI"
      }).match-height
    .col-md-4
      +image-link({
        "title": "Mr Caesar Sengupta",
        "image": "/images/directors/Mr Caesar Sengupta.jpg",
        "description": "Vice President, Product Management <br /> Google"
      }).match-height
    .col-md-4
      +image-link({
        "title": "Mr Chey Chor Wai",
        "image": "/images/directors/Mr Chey Chor Wai.jpg",
        "description": "Former Assurance Partner <br /> PricewaterhouseCoopers LLP"
      }).match-height
    .col-md-4
      +image-link({
        "title": "Mr Jeffrey Siow",
        "image": "/images/directors/Jeffrey Siow.jpg",
        "description": "Principal Private Secretary to Prime Minister"
      }).match-height
    .col-md-4
      +image-link({
        "title": "Mr Kevin Wo",
        "image": "/images/directors/Mr Kevin Wo.jpg",
        "description": "Managing Director <br /> Microsoft Operations Pte Ltd"
      }).match-height
    .col-md-4
      +image-link({
        "title": "Mr Kok Ping Soon",
        "image": "/images/directors/Mr Kok Ping Soon.png",
        "description": "Chief Executive Officer <br /> Government Technology Agency"
      }).match-height
    .col-md-4
      +image-link({
        "title": "Dr Lim Kuo-Yi",
        "image": "/images/directors/Dr Lim Kuo-Yi.jpg",
        "description": "Managing Partner <br /> Monk's Hill Venture Pte Ltd"
      }).match-height
    .col-md-4
      +image-link({
        "title": "Mr Robert Gilby",
        "image": "/images/directors/Mr Robert Gilby.jpg",
        "description": "Chief Executive Officer <br /> Blue Hat Ventures"
      }).match-height
    .col-md-4
      +image-link({
        "title": "Mr Robert Yap",
        "image": "/images/directors/Mr Robert Yap.jpg",
        "description": "Chairman <br /> Fullerton Systems & Services"
      }).match-height
    .col-md-4
      +image-link({
        "title": "Mr Saw Ken Wye",
        "image": "/images/directors/Mr Saw Ken Wye.png",
        "description": "Chief Executive Officer <br /> CrimsonLogic Pte Ltd"
      }).match-height
    .col-md-4
      +image-link({
        "title": "Mr Tan Kiat How",
        "image": "/images/directors/Mr Tan Kiat How.jpg",
        "description": "Chief Executive Officer <br /> Info-communications Media Development Authority"
      }).match-height
    .col-md-4
      +image-link({
        "title": "Mr Vivek Couto",
        "image": "/images/directors/Mr Vivek Couto.jpg",
        "description": "Executive Director <br /> Media Partners Asia Limited"
      }).match-height
    .col-md-4
      +image-link({
        "title": "Ms Wu Choy Peng",
        "image": "/images/directors/Ms Wu Choy Peng.jpg",
        "description": "Chief Technology Officer <br /> GIC Pte Ltd"
      })

