// page-banner styles
.page-banner {
  position: relative;
  padding: 44px 0 76px;
  overflow: hidden;
  
  @include desktop {
    padding: 24px 0 120px;
    min-height: 250px;
  }

  .breadcrumbs {
    @include desktopMax {
      display: none;
    }

    @include desktop {
      margin: 0 0 50px;
    }
  }

  .info-container {
    text-align: start;
    color: #fff;
    text-transform: uppercase;

    @include desktop {
      text-align: center;
    }

    .article-info {
      display: inline-flex;
      text-align: center;
      margin: 20px 20px 20px 0;
      padding: 5px 10px;
      border: #fff solid 1px;
      border-radius: 25px;
      color: #fff;
      font-size: calc-em(16px);
      width: fit-content;

      @include mobileMax {
        font-size: calc-em(12px);
      }

      svg {
        margin: 0 20px;
        scale: 1.3;
        align-self: center;

        @include mobileMax {
          scale: 1.5;
        }
      }

      span:first-of-type,
      span:last-of-type {
        margin-right: 20px;
      }
    }
  }

  &__background {
    width: 100%;
    position: absolute;
    top: 0;
    height: 300px;
    
    @include desktop {
      height: 400px;
    }

    @include tablet {
      height: 400px;
    }

    img {
      @include absolute-img;
      @include image-cover;
    }

    & ~ .page-banner__shapes,
    & ~ .page-banner__line,
    & ~ .page-banner__notch {
      display: none;
    }
  }

  &:before {
    content: "";
  }

  &:before {
    background: transparent;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }

  &__shapes {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    .building {
      @include desktopMax {
        display: none;
      }
    }

    &.animation-building-start {
      .building {
        path {
          animation-name: drawSVGLine;
          animation-timing-function: linear;
          animation-duration: 0.3s;
          animation-iteration-count: 1;
          animation-direction: normal;
        }
      }
    }

    &.animation-building-end {
      .building {
        path {
          stroke-dashoffset: 0;
        }
      }
    }

    &.animation-logo-start {
      .logo {
        polyline {
          animation-name: drawSVGLine;
          animation-timing-function: linear;
          animation-duration: 0.3s;
          animation-iteration-count: 1;
          animation-direction: normal;
        }

        path {
          animation-name: drawSVGLine;
          animation-timing-function: linear;
          animation-duration: 0.15s;
          animation-iteration-count: 1;
          animation-direction: normal;
          animation-delay: 0.15s;
        }
      }
    }

    &.animation-logo-end {
      .logo {
        path,
        polyline {
          stroke-dashoffset: 0;
        }
      }
    }

    .logo,
    .building {
      position: absolute;

      polyline,
      path {
        stroke-dasharray: 1;
        stroke-dashoffset: 1;
      }
    }

    .logo {
      right: -2px;
      bottom: 20px;

      @include desktop {
        bottom: 30px;
      }

      @include desktopMax {
        width: 140px;
        height: auto;
      }

      @include mobileMax {
        width: 110px;
        height: auto;
      }
    }

    .building {
      left: -17px;
      bottom: 0;
      
      @include desktopMax {
        left: -9.5px;
        width: 60px;
        height: auto;
      }
    }
  }

  &__line {
    position: absolute;
    bottom: 0px;
    left: -2px;    // 0px offset minus 2px width of path stroke
    width: calc(60% + 3px + 2px);   //add 3px for buffer, 152px offset, 2px width of path stroke
    height: 1px;

    &.animation-line-start {
      &:before {
        animation-timing-function: linear;
        animation-duration: 0.1s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-name: extendWidthFull;
      }
    }

    &.animation-line-end {
      &:before {
        width: 100%;
      }
    }
    
    @include tablet {
      width: calc(66.75% + 3px - 150px);   //add 3px for buffer, 150 from left offsett
    }
    
    @include desktop {
      left: 150px;    // 152px offset minus 2px width of path stroke
      height: 2px;
    }
    
    @include lgDesktop {
      width: calc(50% + 720px - 475px);   //add 3px for buffer
    }

    &:before {
      content: '';
      display: block;
      width: 0%;
      height: 2px;
      background-color: $purple40;
    }
  }

  &__notch {
    position: absolute;
    bottom: -2px;
    right: -10px;
    width: 40%;
    height: 22px;
    transform: skewX(-44.02897806deg);
    background-color: #fff;
    
    @include desktop {
      right: -15px;
      width: 33.25%;
      height: 32px;
    }

    @include lgDesktop {
      width: calc(50% - 720px + 478px);
    }

    &.animation-step-1-start {
      &:before {
        animation-duration: 0.02s;
        animation-name: extendHeight;
      }
    }

    &.animation-step-1-end {
      &:before {
        height: calc(100% + 2px);
        
        @include desktopMax {
          height: calc(100% + 1px);
        }
      }
    }

    &.animation-step-2-start {
      &:after {
        animation-duration: 0.05s;
        animation-name: extendWidth;
        
        @include desktop {
          animation-name: extendWidthDesktop;
        }
      }
    }

    &.animation-step-2-end {
      &:after {
        @include desktop {
          width: calc(100% + 2px - 239px - 28px);
        }

        @include desktopMax {
          width: calc(100% + 1px - 140px - 18px);
        }
        
        @include mobileMax {
          width: calc(100% + 1px - 110px - 18px);
        }
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: -1px;
      background-color: $purple40;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      animation-direction: normal;
    }

    &:before {
      bottom: 0px;
      width: 3px;
      height: 0;
      
      @include desktopMax {
        width: 2px;
      }
    }
    
    &:after {
      top: -2px;
      width: 0;
      height: 2px;
      
      @include desktopMax {
        top: -1px;
        height: 1px;
      }
    }
  }

  .container {
    z-index: 1;
  }

  .page-title {
    color: #fff;
    font-size: calc-em(26px);
    line-height: 120%;
    font-weight: 800;
    margin: 0 auto;

    @include desktopMax {
      padding-right: 140px;
    }

    @include mobileMax {
      padding-right: 0;
    }
    
    @include desktop {
      font-size: calc-em(32px);
      text-align: center;
      max-width: calc(100% / 3 * 2);
    }
  }

  &__event-info {
    margin: 16px 0 0 10px;
    
    @include desktop {
      max-width: calc(100% / 3 * 2);
      margin: 16px auto 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__info-item {
    color: rgba(240, 234, 243, 0.8);
    display: block;
    margin: 0 10px 3px 0;
    font-size: calc-em(14px);
    
    @include desktop {
      margin: 0 16px 0 0;
    }

    &:last-child {
      margin: 0 10px 0 0;
      
      @include desktop {
        margin: 0;
      }
    }

    .icon {
      margin-right: 6px;
    }
  }

  &--dark,
  &--dark--detail {
    &:before {
      background: $pageBannerBlack !important;
    }

    .page-title,
    .page-desc {
      color: #fff;
    }
  }

  &--dark {
    overflow: visible;
    padding: 104px 0 30px;

    @include desktop {
      padding: 40px 0 20px;
    }

    .page-title,
    .page-desc {
      text-align: center;
      padding: 0;
    }
  }

  &--dark--detail {
    .page-banner__notch, .page-banner__line {
      &:before, &:after {
        background-color: $purple80 !important;
      }
    }

    .page-banner__shapes {
      .logo {
        polyline {
          stroke: $purple80 !important;
        }
      }

      .logo,
      .building {
        path {
          stroke: $purple80 !important;
        }
      }
    }
  }

  &--maroon {
    .page-banner__notch, .page-banner__line {
      &:before, &:after {
        background-color: $maroon80 !important;
      }
    }

    .page-banner__shapes {
      .logo {
        polyline {
          stroke: $maroon80 !important;
        }
      }

      .logo,
      .building {
        path {
          stroke: $maroon80 !important;
        }
      }
    }
  }

  &--teal {
    .page-banner__notch, .page-banner__line {
      &:before, &:after {
        background-color: $turquoise80 !important;
      }
    }

    .page-banner__shapes {
      .logo {
        polyline {
          stroke: $turquoise80 !important;
        }
      }

      .logo,
      .building {
        path {
          stroke: $turquoise80 !important;
        }
      }
    }
  }

  &--white {
    .page-banner__notch, .page-banner__line {
      &:before, &:after {
        background-color: #fff !important;
        opacity: 0.6;
      }
    }

    .page-banner__shapes {
      .logo {
        polyline {
          stroke: #fff !important;
          opacity: 0.6;
        }
      }

      .logo,
      .building {
        path {
          stroke: #fff !important;
          opacity: 0.6;
        }
      }
    }
  }
}

.publication-detail {
  border-bottom: 1px solid $grey2;

  p {
    display: inline-block;
    font-size: calc-em(12px);
    background: none;
    border-radius: 15px;
    color: $purple;
    font-weight: 400;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0px 8px 0px;
    padding-right: 20px;
    position: relative;
    vertical-align: middle;
    margin-right: -4px;

    &::after {
      vertical-align: middle;
      position: relative;
      display: inline-block;
      content: '|';
      padding-left: 20px;
      color: $grey2;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}
