include ../../molecules/breadcrumbs/breadcrumbs

mixin page-banner(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .page-banner(class=spec.__class)&attributes(attributes)

    if spec.image
      .page-banner__background
        img(src=spec.image, alt=spec.alt)
    else
      .page-banner__shapes
        svg.building(width="169" height="165" viewBox="0 0 169 165" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(fill="none" d="M1 164V58.9425L49.1093 85.4788V164H60.1689V2L122.656 34.6175V164H134.821V60.601L168 78.8447V164" stroke-width="2" stroke-miterlimit='10' pathLength="1")
        svg.logo(xmlns='http://www.w3.org/2000/svg' width="239" height="119" viewBox='0 0 239.16 119.56')
          g
            polyline(points='1 119.52 1 1.69 31.54 18.1 31.54 118.54 70.13 118.54 70.13 17.7 98.95 1.7 98.95 118.44 136.4 118.44 136.4 54.77 161.59 118.56 202.15 118.56 226.02 55.68 225.97 118.5 239.16 118.5' fill="none" stroke-width="2" stroke-miterlimit='10' pathLength="1")
          g
            path(d='M181.28,70.32L150.41,1.81h61.75l-30.88,68.51Z' fill="none" stroke-width="2" stroke-miterlimit='10' pathLength="1")

      .page-banner__line
      .page-banner__notch

    .container
      +breadcrumbs({
        "items": spec.breadcrumbs
      })

      h1.page-title= spec.pageTitle

      if spec.pageDesc 
        p.page-desc= spec.pageDesc

      if spec.readtime
        .info-container
          .article-info
            if spec.date
              svg(width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg") 
                path(d="M13.7307 2.57031H0.269302C0.119895 2.57031 0 2.69155 0 2.83852V9.01453C0 9.49216 0.391041 9.8816 0.870619 9.8816H4.95073C5.10935 9.88711 5.23847 9.75668 5.23478 9.60605C5.23109 9.46093 5.10382 9.33968 4.95073 9.3452H0.870619C0.688011 9.3452 0.538603 9.1964 0.538603 9.01453V3.10672H13.4632V9.01453C13.4632 9.1964 13.3138 9.3452 13.1312 9.3452H9.0419C8.88696 9.34152 8.75968 9.46828 8.76337 9.61707C8.76522 9.76403 8.89249 9.88528 9.0419 9.8816H13.1312C13.6108 9.8816 14.0018 9.49216 14.0018 9.01453V2.83852C14.0018 2.68972 13.882 2.57031 13.7325 2.57031H13.7307Z" fill="white") 
                path(d="M13.7307 3.10822H0.269302C0.119895 3.10822 0 2.98881 0 2.84001V0.867067C0 0.389446 0.391041 0 0.870619 0H13.1312C13.6108 0 14.0018 0.389446 14.0018 0.867067V2.84001C14.0018 2.98881 13.882 3.10822 13.7325 3.10822H13.7307ZM0.538603 2.57181H13.4632V0.867067C13.4632 0.685204 13.3138 0.536406 13.1312 0.536406H0.870619C0.688011 0.536406 0.538603 0.685204 0.538603 0.867067V2.57181Z" fill="white")
                path(d="M9.88473 1.55423C9.88473 1.74711 9.72795 1.90142 9.53612 1.90142C9.34429 1.90142 9.1875 1.74527 9.1875 1.55423C9.1875 1.36318 9.34429 1.20703 9.53612 1.20703C9.72795 1.20703 9.88473 1.36318 9.88473 1.55423Z" fill="white")
                path(d="M11.166 1.55423C11.166 1.74711 11.0092 1.90142 10.8174 1.90142C10.6255 1.90142 10.4688 1.74527 10.4688 1.55423C10.4688 1.36318 10.6255 1.20703 10.8174 1.20703C11.0092 1.20703 11.166 1.36318 11.166 1.55423Z" fill="white") 
                path(d="M12.4472 1.55423C12.4472 1.74711 12.2904 1.90142 12.0986 1.90142C11.9068 1.90142 11.75 1.74527 11.75 1.55423C11.75 1.36318 11.9068 1.20703 12.0986 1.20703C12.2904 1.20703 12.4472 1.36318 12.4472 1.55423Z" fill="white")
                path(d="M7.00368 11.0016C6.85427 11.0016 6.73438 10.8822 6.73438 10.7334V4.71352C6.73438 4.56472 6.85427 4.44531 7.00368 4.44531C7.15308 4.44531 7.27298 4.56472 7.27298 4.71352V10.7316C7.27298 10.8803 7.15308 10.9998 7.00368 10.9998V11.0016Z" fill="white")
                path(d="M5.01884 6.50108C4.95059 6.50108 4.8805 6.47536 4.82885 6.42209C4.72372 6.31738 4.72372 6.14838 4.82885 6.04367L6.80988 4.07072C6.91502 3.96601 7.08472 3.96601 7.18985 4.07072L9.17088 6.04367C9.27602 6.14838 9.27602 6.31738 9.17088 6.42209C9.06574 6.5268 8.89605 6.5268 8.79091 6.42209L6.99987 4.63835L5.20883 6.42209C5.15718 6.47536 5.08709 6.50108 5.01884 6.50108Z" fill="white")
              span=spec.date
              span=" | " 
            svg(xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none") 
              path(d="M9.22313 4.18812C8.93639 3.56552 8.52345 3.01992 7.99537 2.56562C7.36212 2.02112 6.5938 1.64822 5.77566 1.48652C5.1568 1.36332 4.5003 1.36442 3.89362 1.48652C3.4685 1.57012 3.06552 1.70762 2.69132 1.89132C2.50644 1.97162 2.45441 2.17952 2.52969 2.29172C2.59501 2.38852 2.76661 2.42812 2.91163 2.34012C3.05556 2.26972 3.22826 2.19382 3.42754 2.12672C3.6102 2.06402 3.79841 2.01342 3.99215 1.97602C4.26449 1.92102 4.54791 1.89352 4.83464 1.89352C5.12138 1.89352 5.40147 1.92102 5.67713 1.97602C6.41113 2.12122 7.09863 2.45562 7.66657 2.94292C8.13929 3.34992 8.50906 3.83832 8.7659 4.39602C9.02939 4.96362 9.16224 5.56862 9.16224 6.19562C9.16224 8.56832 7.22041 10.4988 4.83353 10.4988C2.44666 10.4988 0.502617 8.56942 0.502617 6.19672C0.502617 5.22432 0.833635 4.31352 1.39603 3.58202C1.51671 3.47202 1.50896 3.28502 1.40046 3.19262C1.30083 3.10902 1.13587 3.11782 1.03734 3.22782C0.385266 4.05282 0 5.08792 0 6.19672C0 8.84552 2.16878 10.9993 4.83353 10.9993C7.49829 10.9993 9.66486 8.84442 9.66486 6.19672C9.66486 5.49712 9.5154 4.82062 9.22202 4.18812H9.22313Z" fill="white")
              path(d="M4.83334 1.6514C4.69495 1.6514 4.58203 1.5392 4.58203 1.4017V0.4997C4.58203 0.3622 4.69495 0.25 4.83334 0.25C4.97173 0.25 5.08465 0.3622 5.08465 0.4997V1.4028C5.08465 1.5403 4.97173 1.6525 4.83334 1.6525V1.6514Z" fill="white")
              path(d="M8.99393 4.54148C8.97401 4.54148 8.95408 4.53928 8.93415 4.53378C8.85998 4.51618 8.79687 4.46448 8.76587 4.39518C8.50903 3.83748 8.13926 3.34908 7.66654 2.94208C7.61008 2.89258 7.57797 2.82108 7.58019 2.74628C7.5824 2.67148 7.61783 2.60108 7.67761 2.55598L8.39832 2.00268C8.61752 1.83438 8.93304 1.87398 9.10243 2.09178L9.97813 3.21488C10.1475 3.43268 10.1077 3.74618 9.88957 3.91448L9.14782 4.48758C9.10353 4.52168 9.04818 4.54038 8.99393 4.54038V4.54148ZM8.21897 2.77048C8.56438 3.10708 8.85333 3.48768 9.08139 3.90678L9.58069 3.52068L8.70498 2.39758L8.21897 2.77048Z" fill="white")
              path(d="M4.83295 6.90288C5.2261 6.90288 5.54481 6.58621 5.54481 6.19558C5.54481 5.80495 5.2261 5.48828 4.83295 5.48828C4.4398 5.48828 4.12109 5.80495 4.12109 6.19558C4.12109 6.58621 4.4398 6.90288 4.83295 6.90288Z" fill="white")
              path(d="M4.83334 5.85761C4.69495 5.85761 4.58203 5.74541 4.58203 5.60791V3.00751C4.58203 2.87001 4.69495 2.75781 4.83334 2.75781C4.97173 2.75781 5.08465 2.87001 5.08465 3.00751V5.60791C5.08465 5.74541 4.97173 5.85761 4.83334 5.85761Z" fill="white")
              path(d="M3.27344 0.2497C3.27344 0.1122 3.38636 0 3.52475 0H6.1419C6.28028 0 6.3932 0.1122 6.3932 0.2497C6.3932 0.3872 6.28028 0.4994 6.1419 0.4994H3.52475C3.38636 0.4994 3.27344 0.3872 3.27344 0.2497Z" fill="white")
            span=spec.readtime

      if spec.event
        .page-banner__event-info
          if spec.event.date
            p.page-banner__info-item
              span.icon.icon-calendar
              span.vh Date
              span.info= spec.event.date
          if spec.event.time
            p.page-banner__info-item
              span.icon.icon-time
              span.vh Time
              span.info= spec.event.time
          if spec.event.location
            p.page-banner__info-item
              span.icon.icon-location
              span.vh Venue
              span.info= spec.event.location

      //- if spec.articleDate
      //-   p.page-banner__last-update
      //-     span.label= (spec.isPublication) ? "Published on" : "Last updated"
      //-     span.date= spec.articleDate
      
  if spec.isPublication
    .publication-detail
      .container
        p Last updated: #{spec.articleDate}
        p Published on: #{spec.articleDate}
        p 
          span.read-time
          |  min read


