extends ../_layouts/base

include ../_modules/molecules/thumbnail-card/thumbnail-card
include ../_modules/molecules/thumbnail-card-portrait/thumbnail-card-portrait

include ../_modules/organisms/content-hub-banner/content-hub-banner
include ../_modules/organisms/featured-stories/featured-stories
include ../_modules/organisms/success-stories/success-stories
include ../_modules/organisms/thought-leadership/thought-leadership
include ../_modules/organisms/browse-interest/browse-interest

block append stylesheets

block append scripts

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - pageTitle = 'Content Hub'
  - darkMode = true

//- block breadcrumb
  //- +breadcrumb()

//- block banner
  //- +banner()

block content
  +content-hub-banner({
    "title": "Content Hub",
    "text": "This is our vision for the future of digital, and how we are bringing it to life.",
    "image": "/images/content-hub/content-hub.jpg",
    "mobileImage": "/images/content-hub/content-hub-mobile.jpg"
  })

  +featured-stories({
    "title": "Editor's picks",
    "articles": [
      {
        "mobileImage": "/images/testimonial1.jpg",
        "image": "/images/testimonial1.jpg",
        "title": "Bridging the digital divide",
        "url": "#",
        "category": "Success stories"
      },
      {
        "mobileImage": "/images/testimonial2.jpg",
        "image": "/images/testimonial2.jpg",
        "title": "Uncovering locally tailored innovation with IMDA's Open Innovation Platform",
        "url": "#",
        "category": "Success stories"
      },
      {
        "mobileImage": "/images/testimonial3.jpg",
        "image": "/images/testimonial3.jpg",
        "title": "Journeying together towards open innovation",
        "url": "#",
        "category": "Thought Leadership"
      },
      {
        "mobileImage": "/images/testimonial4.jpg",
        "image": "/images/testimonial4.jpg",
        "title": "Emerge stronger into economic recovery with these five tech opportunities",
        "url": "#",
        "category": "Thought Leadership"
      },
      {
        "mobileImage": "/images/testimonial5.jpg",
        "image": "/images/testimonial5.jpg",
        "title": "Embrace innovation, emerge resilient",
        "url": "#",
        "category": "Success stories"
      }
    ]
  })

  +success-stories({
    "bg": "/images/content-hub/storiesbg.jpg",
    "mobileBg": "/images/content-hub/storiesbgmobile.jpg",
    "title": "Success stories",
    "text": "Turning ideas into practical application. See how companies, professionals and everyday Singaporeans are are digitalising with IMDA's support.",
    "stories": [
      {
        "image": "/images/content-hub/stories1.jpg",
        "title": "Uncovering locally tailored innovation with IMDA's Open Innovation Platform",
        "description": "IMDA is looking to support 5G use cases in the four strategic clusters of (i) Maritime Operations; (ii) Urban Mobility; (iii) Smart Estates and (iv) Industry 4.0. The objective of the 5G Grant is to work with key industry partners in the above clusters to catalyse the development of 5G through.",
        "url": "#"
      },
      {
        "image": "/images/content-hub/stories2.jpg",
        "title": "Emerge stronger into economic recovery with these five tech opportunities",
        "description": "IMDA is looking to support 5G use cases in the four strategic clusters of (i) Maritime Operations...",
        "url": "#"
      },
      {
        "image": "/images/content-hub/stories3.jpg",
        "title": "Exploring virtual worlds: Five industry insights from Singapore's gaming ecosystem",
        "url": "#"
      }
    ]
  })

  +thought-leadership({
    "bg": "/images/content-hub/thoughtleadershipbg.jpg",
    "mobileBg": "/images/content-hub/thoughtleadershipbgmobile.jpg",
    "title": "The<br/>next<br/>big thing",
    "text": "Our ideas and answers for all things digital.",
    "articles": [
      {
        "mobileImage": "/images/content-hub/thoughtleadership1.jpg",
        "image": "/images/content-hub/thoughtleadership1.jpg",
        "title": "Uncovering locally tailored innovation with IMDA’s Open Innovation Platform",
        "description": "IMDA is looking to support 5G use cases in the four strategic clusters of (i) Maritime Operations; (ii) Urban Mobility; (iii) Smart Estates and (iv) Industry 4.0. The objective of the 5G Grant is to work with key industry partners in the above clusters to catalyse the development of 5G through.",
        "url": "#",
        "topics": [
          {
            "name": "Industry 4.0",
            "url": "#"
          },
          {
            "name": "Innovation",
            "url": "#"
          },
          {
            "name": "Artificial Intelligence",
            "url": "#"
          }
        ]
      },
      {
        "mobileImage": "/images/content-hub/stories2.jpg",
        "image": "/images/content-hub/stories2.jpg",
        "title": "Emerge stronger into economic recovery with these five tech opportunities",
        "description": "IMDA is looking to support 5G use cases in the four strategic clusters of (i) Maritime Operations...",
        "url": "#",
        "topics": [
          {
            "name": "Industry 4.0",
            "url": "#"
          },
          {
            "name": "Innovation",
            "url": "#"
          }
        ]
      },
      {
        "mobileImage": "/images/content-hub/stories3.jpg",
        "image": "/images/content-hub/stories3.jpg",
        "title": "Exploring virtual worlds: Five industry insights from Singapore's gaming ecosystem",
        "url": "#",
        "topics": [
          {
            "name": "Industry 4.0",
            "url": "#"
          },
          {
            "name": "Innovation",
            "url": "#"
          },
          {
            "name": "Machine Learning",
            "url": "#"
          }
        ]
      }
    ]
  })

  +browse-interest({
    "bg": "/images/content-hub/interestbg.jpg",
    "mobileBg": "/images/content-hub/interestbgmobile.jpg",
    "title": "Explore based on your interest"
  })(data-listingurl="/news-listing")


