mixin awards(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .awards
    h2.awards__title Awards won:
    ul.awards__list
      li.awards__item.has-match-height
        span.title World Premiere
        span.name 39 <sup>th</sup> Festival Des Films Du Monde 2015
      li.awards__item.has-match-height
        span.title World Premiere
        span.name 39 <sup>th</sup> Festival Des Films Du Monde 2015
      li.awards__item.has-match-height
        span.title World Premiere
        span.name 39 <sup>th</sup> Festival Des Films Du Monde 2015
      li.awards__item.has-match-height
        span.title World Premiere
        span.name 39 <sup>th</sup> Festival Des Films Du Monde 2015
      li.awards__item.has-match-height
        span.title World Premiere
        span.name 39 <sup>th</sup> Festival Des Films Du Monde 2015
      li.awards__item.has-match-height
        span.title World Premiere
        span.name 39 <sup>th</sup> Festival Des Films Du Monde 2015
