// awards styles
.awards__list {
  list-style: none;
  padding: 10px;
  margin: 10px 0 20px;
  border: 2px dotted #ddd;
  @extend %clearfix;
}

.awards__item {
  width: 50%;
  float: left;
  text-align: center;
  padding: 5px 10px;
  font-size: calc-em(14px);

  .title,
  .name {
    display: block;
    line-height: 1.2;
    margin: 5px 0;
  }

  .name {
    text-transform: uppercase;
    font-weight: $heavy;
  }
}
