include ../../atoms/buttons/buttons

mixin image-card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  a.image-card(href= spec.url)&attributes(attributes)
    .image-card__image
      img(src= spec.image, alt= spec.title)
    .image-card__content
      h3.image-card__title= spec.title
      p.image-card__desc= spec.description

      if spec.teaser
        small.image-card__teaser= spec.teaser
    span.right-arrow
      +right-arrow

include ../../atoms/pill/pill

mixin article-card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  article.card&attributes(attributes)
    div
      a(href=spec.url)
        .card__header
          div
            span.category= spec.category
            if spec.industry
              span.industry= spec.industry
          if spec.date
            div.date=spec.date
        picture.card__image 
          source(srcset= spec.mobileImage, media="(max-width: 1023px)")
          source(srcset= spec.image)
          img(src=spec.image, alt="")
      .card__text
        a(href=spec.url)
          span.vh=spec.title
        h3=spec.title
        if spec.description
          p= spec.description
        if spec.topics
          ul.card__tags
            each topic in spec.topics
              li
                +pill({
                  "label": topic.name,
                  "url": topic.url
                })
        span.right-arrow
          +right-arrow