// image-card styles
.card {
  a {
    display: block;
    text-decoration: none;
    position: relative;
  }

  > div {
    @include hover {
      &:hover {
        img {
          transform: scale(1.1);
        }

        .card__header {
          &::before {
            width: 100%;
          }
        }
  
        .card__image {
          &__overlay {
            opacity: 1;
            visibility: visible;
          }
        }

        h3 {
          color: $primaryPurple;
        }
      }
    }

    > a {
      &:hover {
        & + .card__text {
          h3 {
            a {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  picture {
    display: block;
    @include aspect-ratio(335, 208, 100%);
    margin: 0 0 16px;
    overflow: hidden;
    position: relative;    
  }

  img {
    @include absolute-img;
    @include image-cover;
    transition: all 0.5s $easeInOutExpo;
  }

  .date {
    padding: 5px 10px;
    transform: none;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
  }

  &__header {
    padding-right: 130px;
    background-color: $grey3;
    z-index: 1;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(100%);
      width: 24px;
      height: 3px;
      z-index: 1;
      background-color: $primaryPurple;
      transition: width 0.35s ease-in-out;

      @include nohover {
        width: 100%;
      }
    }

    & > div {
      background-color: transparent;
      display: inline-block;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.08em;
      color: $primaryPurple;
      padding: 5px 23px 5px 20px;
    }
  }

  &__image {
    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: $overlay;
      opacity: 0;
      visibility: hidden;
      transition: all 0.35s ease-in-out;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;

      @include lgDesktop {
        font-size: calc-em(18px);
      }
    }
  }

  &__text {
    padding: 0 0 40px 12px;
    border-left : 1px solid $textBlack;
    color: $textBlack;
    position: relative;

    & > a {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
    }

    h3 {
      font-weight: 600;
      font-size: calc-em(18px);
      line-height: 140%;
      margin: 0 0 8px;

      a {
        display: inline;
        color: $textBlack;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    > span {
      display: block;
      margin: 0 0 8px;
      line-height: 140%;

      &.right-arrow {
        margin: 0;
        left: 16px;
        bottom: 0;
        z-index: -1;
      }
    }
  }

  &__tags {
    @include normalise-list;
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 12px 12px 0 0;

      .pill {
        margin: 0;
      }
    }
  }
}

.image-card {
  $p: &;
  background: #fff;
  border: 1px solid $borderGray2;
  display: block;
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;
  transition: all .5s $easeInOutExpo;
  text-decoration: none;

  &:is(a) {
    @include hover {
      &:hover, &:focus {
        box-shadow: $purpleShadowDark;
    
        #{$p}__image {
          img {
            transform: scale(1.1);
          }
        }
    
        #{$p}__title {
          color: $primaryPurple;
        }
  
        #{$p}__content {
          &::before {
            width: 100%;
          }
        }
      }
    }
  }

  &--has-teaser {
    background: $background;
    // border: 1px solid $background;
    box-shadow: none;

    #{$p}__title {
      color: $textBlack;
      font-size: calc-em(17px);
      font-weight: 600;
      /* padding-top: 15px; */
      position: relative;
      text-transform: uppercase;

      /* &:before {
        content: "";
        background: $red;
        height: 3px;
        position: absolute;
        top: 0;
        width: 13px;
      } */
    }

    #{$p}__content {
      padding-bottom: 60px;
    }

    &:hover, &:focus {
      box-shadow: $purpleShadowDark;
      #{$p}__title {
        color: $primaryPurple;
      }

      #{$p}__content {
        background: lighten($background, 4%);
      }
    }
  }

  &__image {
    overflow: hidden;

    img {
      width: 100%;
      transition: transform .5s $easeInOutExpo;
    }
  }

  &__title {
    color: $textBlack;
    font-size: calc-em(20px);
    font-weight: 600;
    margin: 8px 0;
  }

  &__desc {
    color: $bodyTextColor;
    font-weight: $roman;
    margin-top: 8px;
  }

  &__teaser {
    color: $rose;
    font-size: calc-em(12px);
    font-weight: $roman;
    text-transform: uppercase;
  }

  &__content {
    padding: 20px 24px 38px;
    transition: background .5s $easeInOutExpo;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 3px;
      z-index: 1;
      background-color: $primaryPurple;
      transition: width 0.35s ease-in-out;

      @include nohover {
        width: 100%;
      }
    }
  }
}
