mixin video-list-box(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .video-list-box(class=spec.__class)&attributes(attributes)
    .col-4
      .video-box
        .col-12
          .video-image
            img(src="https://placeimg.com/640/360/tech", alt="")
          .video-iframe(data-video-id="o4EhNwYRnek")
              .youtubeplayer(id= "uniqueplayerid4" data-player-id="uniqueplayerid4")
        .col-12
          .item-content
            .item-title
              p 
                strong Lorem impusim dolar
            .item-description 
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A impedit, voluptas ipsam delectus accusamus ipsa deleniti consectetur tempore obcaecati itaque fuga quidem atque quaerat officiis temporibus architecto numquam quis repellat!
    .col-4
      .video-box
        .col-12
          .video-image
            img(src="https://placeimg.com/640/360/tech", alt="")
          .video-iframe(data-video-id="L209rWk_0TY")
              .youtubeplayer(id= "uniqueplayerid2" data-player-id="uniqueplayerid2")
        .col-12
          .item-content
            .item-title
              p 
                strong Lorem impusim dolar
            .item-description 
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A impedit, voluptas ipsam delectus accusamus ipsa deleniti consectetur tempore obcaecati itaque fuga quidem atque quaerat officiis temporibus architecto numquam quis repellat!
    .col-4
      .video-box
        .col-12
          .video-image
            img(src="https://placeimg.com/640/360/tech", alt="")
          .video-iframe(data-video-id="YTg5ls23AJA")
              .youtubeplayer(id= "uniqueplayerid3" data-player-id="uniqueplayerid3")
        .col-12
          .item-content
            .item-title
              p 
                strong Lorem impusim dolar
            .item-description 
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A impedit, voluptas ipsam delectus accusamus ipsa deleniti consectetur tempore obcaecati itaque fuga quidem atque quaerat officiis temporibus architecto numquam quis repellat!
