// film-gallery styles
.film-gallery {
  @extend %clearfix;
  margin-bottom: 40px;

  .slick-arrow + div .slick-slide {
    padding: 0 10px;
  }

  .slick-prev,
  .slick-next {
    width: 30px;
    top: 50%;
    background: transparent !important;

    &:before {
      color: $primaryPurple;
      font-size: calc-em(40px);
      font-weight: $heavy;
      padding: 0;
    }
  }

  .slick-prev {
    left: 0;
    transform: translate(-50%, -50%);
  }

  .slick-next {
    right: 0;
    transform: translate(50%, -50%);
  }
}

.film-gallery__item {
  position: relative;
  background: #eee;
  width: 50%;
  float: left;
  border: 5px solid #fff;
  display: block;

  &.slick-slide {
    margin: 0;

    img {
      display: block;
    }
  }

  .is-single & {
    float: none;
    width: auto;
  }

  &:after {
    content: '';
    display: block;
    padding-top: 56%;
  }

  img {
    position: absolute;
    object-fit: contain;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: $bpTablet - 1) {
  .film-gallery {
    .slick-prev {
      left: 0;
      transform: translate(0, -50%);
    }

    .slick-next {
      right: -20px;
      transform: translate(0, -50%);
    }
  }
  .film-gallery__item {
    width: 100%;
  }
}
