mixin film-gallery(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .film-gallery
    h2.film-gallery__title Photo Gallery
    .film-gallery__list
      a.fancybox(data-fancybox="gallery", href="http://placehold.it/715x400").film-gallery__item
        img(src="http://placehold.it/715x400")
      a.fancybox(data-fancybox="gallery", href="http://placehold.it/400x400").film-gallery__item
        img(src="http://placehold.it/400x400")
      a.fancybox(data-fancybox="gallery", href="http://placehold.it/400x700").film-gallery__item
        img(src="http://placehold.it/400x700")
      a.fancybox(data-fancybox="gallery", href="http://placehold.it/715x400").film-gallery__item
        img(src="http://placehold.it/715x400")
      a.fancybox(data-fancybox="gallery", href="http://placehold.it/715x400").film-gallery__items
        img(src="http://placehold.it/715x400")
