include ../image-link/image-link

mixin image-cta-listing(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - length = spec.items.length

  .image-cta-listing
    .row
      each item in spec.items
        .col-md-6
          +image-link(item)
