// image cta listing styles
.image-cta-listing {

  .row {
    @include desktop {
    > div {
      &:first-child:nth-last-child(3),
      &:nth-child(2):nth-last-child(2),
      &:last-child:nth-child(3) {
        flex: 0 0 calc(100% / 3);
        max-width: calc(100% / 3);
      }
    }
    }

    .image-link {
      &__content {
        p {
          margin: 0;
        }
        span {
          display: block;
        }
        .btn {
          margin-top: 14px;
        }
      }
    }
  }
}