extends ../../_layouts/standard-detail

block append config
  - baseUrl = "../../"
  - pageUrl = "/news-listing/best-of-best"
  - var pageData = site.data.standardDetail.bestOfBest
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts
  - nextArticle = pageData.nextArticle

block detailContent
  +rte()
    h2 In case you missed it: A quick round-up of who won what at the inaugural SG:D Techblazer Awards.

  +highlight-card({
    "image": "/images/news/best-of-best-detail.jpg",
    "title": "Best of the Best",
    "content": "Minister for Communications and Information, Mr S Iswaran, with the winners of the inaugural SG:D Techblazer Awards, and members of the Awards organising committee. <br /> By Billy Teo"
  })

  +gallery({
    "items": [
      {
        "image": "/images/news/best-of-best-detail-2.jpg",
        "alt": "The winners of the SG:D Techblazer Best Adoption Award: Changi Airport Group and the Housing & Development Board.",
        "caption": "The winners of the SG:D Techblazer Best Adoption Award: Changi Airport Group and the Housing & Development Board."
      },
      {
        "image": "/images/news/best-of-best-detail-3.jpg",
        "alt": "Minister for Communications and Information, Mr S Iswaran.",
        "caption": "Minister for Communications and Information, Mr S Iswaran."
      },
      {
        "image": "/images/news/best-of-best-detail-4.jpg",
        "alt": "Mr Saw Ken Whye, President of SGTech.",
        "caption": "Mr Saw Ken Whye, President of SGTech."
      },
      {
        "image": "/images/news/best-of-best-detail-5.jpg",
        "alt": "The winners of the SG:D Techblazer Most Impactful Award.",
        "caption": "The winners of the SG:D Techblazer Most Impactful Award."
      },
      {
        "image": "/images/news/best-of-best-detail-6.jpg",
        "alt": "The winners of the SG:D Techblazer Most Promising Award.",
        "caption": "The winners of the SG:D Techblazer Most Promising Award."
      },
      {
        "image": "/images/news/best-of-best-detail-7.jpg",
        "alt": "Partners of IMDA's new SG:D Spark programme joined Minister Mr S Iswaran on stage for a photo opportunity.",
        "caption": "Partners of IMDA's new SG:D Spark programme joined Minister Mr S Iswaran on stage for a photo opportunity."
      }
    ]
  })

  +rte()
    p Keeping Changi Airport flying high is the ongoing mission for <a href="#">Changi Airport Group (CAG)</a>.

    p It is no easy task, but the group’s Smart Airport Programme offers a suite of solutions that uses sensors, AI, data analytics and use-centric design to delight passengers and improve productivity.

    p Comprising four main components, the platform has made significant improvements around airport operations, such as reducing aircraft taxiing time by two minutes during peak hours and predicting aircraft landing times by more than two hours ahead. Passengers at the Airport Terminal Four do not even need to queue, thanks to the Fast and Seamless Travel System aka FAST.

    p No wonder it won the Best Adoption Award in the Private Sector category of the inaugural <a href="#"><strong>SG:D Techblazer Awards</strong></a>.

    p When asked how he felt about CAG winning the Award, Mr Steve Lee, CAG’s Chief Information Officer and Group Senior Vice-President, told IMpact: “As some wise people have said, innovation is 5% inspiration and 95% perspiration. This Award encourages us to continue the difficult work of innovation!”

    p He credited CAG partners such as the ground handlers, the airlines, vendors and “the CAAS, which is a key partner in many of our projects” for the success of the Smart Airport Programme.

    p CAG and other winners were duly recognised at an SGTech gala dinner on Nov 7.

    h3 Techblazers

    p The Awards, jointly organised by IMDA and SGTech (formerly known as SiTF), received a grand total of 331 nominations – a record of sorts. The Techblazer Awards continues the tradition of its predecessors – the National Infocomm Awrads (NIA) and the SiTF Awards – in recognising the best-of-the best of infocomm media companies based in Singapore.

    p Guest-of-Honour, Minister for Communications and Information, Mr S Iswaran, said in his speech that the standard of the submissions has been quite high this year, with the companies having either produced outstanding tech solutions for their customers, or having used technology to transform their business models.

    p He added: “So all of these organisations exemplify the spirit of innovation that we want to nurture, especially among our home grown firms so that they can grow and thrive.”

    p Mr Saw Ken Whye, President of SGTech, said in his welcome speech: “This industry cannot move forward if we don’t have dreamers who can translate ideas into products and services. They are the ones who are the Techblazers, the trailblazers of where we want to go.”

    p One such trailblazing Techblazer was the Gold Winner in the Most Impactful category, fintech firm M-DAQ. Its Aladdin solution opens the door for e-commerce platforms to allow customers to pay in multiple currencies – while merchants can choose to receive only the currency of their choice, with the benefit of a guaranteed foreign exchange conversion rate.

    p In short, online shoppers enjoy savings and tend to buy more when they can pay in their local currency at competitive and transparent exchange rates.

    p Mr Richard Koh, CEO and founder of M-DAQ, told The Business Times that Aladdin is available on e-commerce platforms serving a combined market totalling over 2.58 billion people across 33 contries – processing more than 75 unique transactions along the way.

    p In fact, he hoped that M-DAQ will achieve $10 billion in e-commerce transactions processed next year, as compared to an expected $6 billion this year.

    p M-Daq was highlighted by Mr Iswaran, who said: “I think in a broader sense, given the growth of electronic commerce in Southeast Asia and the potential that we see, I think these sorts of solutions and applications are going to have significant scope and traction.”

    p Other ‘Most Impactful’ winners were CXA Group (Silver), which offers an employee benefits and wellness digital marketplace for companies, and Aida Technologies (Bronze) which has an AI-driven analytic platform for financial services.

    h3 Helping patients and residents

    p The Most Promising Award category Gold winner was Biofourmis, which has developed the Biovitals tool that uses AI and machine learning to analyse and monitor patient data collated from wearable devices.

    p Aside from predicting whether a patient’s condition is getting better or worse, Biovitals can also predict how effective treatments – say, a drug or therapy – can be.

    p Mr Kuldeep Singh Rajput, founder and CEO, told IMpact: “The Award is a testament to the growth of Biofourmis and our mission of augmenting personalised care using prescription digital theuraputics to better manage patients with chronic complex conditions.”

    p It will motivate his team to keep on scaling and growing the business, and using their technology to eventually help millions of patients, he added.

    p Other companies in the Most Promising category included travel tech firm BeMyGuest (Silver) and AI-based medtech firm Kronikare (Bronze).

    p While most of the winners are arguably not widely known yet, the winner of the Best Adoption in the Public Sector is literally a household name: The Housing & Development Board (HDB).

    p It won for its digital platform, the HDB Smart Hub, which integrates, manages and analyses data collated from sources including public feedback, and sensors across building services such as utilities, lighting and life operations.

    p The Smart Hub allows HDB, for example, to carry out integrated environmental modelling with digital 3D models  – taking into account factors such as windflow, heat gain and water transpiration – for new towns such as Tengah and Punggol.

    p This helps HDB to evaluate the best way to lay out housing blocks – and to improve the modelling based on data captured by sensors.

    p Mr Fong Chun Wah, HDB’s Deputy Chief Executive (Building), told IMpact: “It really validates the work that we are doing in HDB, as we want to build homes for people and create safe environments that people enjoy.”

    p The Award, he added, is “encouraging for our staff and business partners who worked with us on the HDB Smart Hub.”

    h3 The Spark of tech entrepreneurship

    p During his speech, Mr Iswaran also announced the launch of the new SG:D Spark programme initiated by IMDA.

    p It is designed to support a wider – and younger – segment of promising Singapore-based ICM start-ups by building up their capabilities and helping them to grow. SG:D Spark will help both enterprise (B2B ) and (B2C) consumer tech companies, including hardware and IT services firms.

    p This programme will help address the key challenges that such start-ups face, such as talent recruitment and attraction, access to funding, professional resources and network for business growth as well as gaining initial reference customers. Mr Iswaran explained that the programme will augment the corporate capabilities of promising ICM start-ups and young companies through support from “subject matter experts within the community, together with Government tools."

    p “We aim to provide the resources, knowledge and network that are essential to the companies’ growth.”

    p IMDA will partner SGTech and seven venture capitalists to spot ICM companies that show promise, while the 13 industry partners and Institutes of Higher Learning (IHLs) will support the selected companies by contributing their specialised expertise and assisting in diverse areas including fund-raising, deal structuring, risk management, corporate governance and processes, product and brand development, go-to-market strategies and talent acquisition.

    p Mr Iswaran also shared that SG:D Spark companies will gain increased access to government tech projects, which will allow them “to build up reference customers in order to support their initial growth and the ability to expand into the region.”



