mixin thumbnail-card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  article.thumbnail-card(class=spec.__class)&attributes(attributes)
    a(href=spec.url) 
      picture.thumbnail-card__image
        source(srcset= spec.image)
        img(src=spec.image, alt="")
      .thumbnail-card__text
        h3=spec.title
        if spec.topics
          ul.article-topics
            each topic in spec.topics
              li #{topic.name}
        span.right-arrow
          +right-arrow
