// thumbnail-card styles
.thumbnail-card {
  $p: &;

  > a {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;

    @include desktop {
      border-radius: 8px;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }

    &:before {
      height: 50%;
      opacity: 0.5;
      z-index: 1;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.556075) 40%, #000000 100%);
    }

    @include hover {
      &:hover {
        #{$p}__header {
          &:before {
            width: calc(100% + 80px);
          }
        }
    
        #{$p}__image img {
          transform: scale(1.1);
        }
      }
    }
  }

  picture {
    display: block;
    @include aspect-ratio(335, 439, 100%);

    @include tablet {
      @include aspect-ratio(1232, 722, 100%);
    }

    img {
      @include absolute-img;
      @include image-cover;
      transition: all 0.5s $easeInOutExpo;
    }
  }

  &__text {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px 20px 64px;
    z-index: 2;
    
    @include desktop {
      padding: 60px 50px 108px;
    }

    h3 {
      font-weight: 600;
      font-size: calc-em(18px);
      line-height: 140%;
      color: $textOffWhite;
      text-shadow: $textGlow1;
      margin: 0;

      @include desktop {
        font-size: calc-em(36px);
      }
    }

    ul {
      @include clearfix;
      list-style-type: none;
      padding: 0;
      margin: 12px 0 0;
    }

    li {
      font-weight: 400;
      font-size: calc-em(12px);
      line-height: 140%;
      color: $textOffWhite;
      text-shadow: $textGlow1;
      display: inline;
      float: left;
      
      @include desktop {
        font-size: calc-em(16px);
      }

      &:after {
        content: '|';
        margin: 0 8px;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }

  .right-arrow {
    
    .arrow-body,
    .arrow-head {
      stroke: #fff;
    }
  }
}