include ../../atoms/loading-icon/loading-icon

mixin loading-screen(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .loading-screen(class=spec.__class)&attributes(attributes)
    +loading-icon
