mixin home-banner(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.home-banner(class=spec.__class)&attributes(attributes)
    div(data-carousel)
      each banner in spec.banners
        .home-banner__slide(class=banner.video || banner.poster ? '' : 'is-image')
          .home-banner__media
            if banner.video || banner.poster
              video(src=banner.video autoplay preload="auto" muted poster=banner.poster playsinline loop)
            else
              picture
                source(srcset=banner.mobileImage, media="(max-width: 767px)")
                source(srcset=banner.image)
                img(src=banner.image, alt="")
          .home-banner__text
            .container
              if banner.category
                span.category
                  span=banner.category
              h1 !{banner.title}
              p=banner.text
              +button({
                "url": banner.url,
                "label": banner.label
              })
    .imda-carousel__controls.imda-carousel__controls--home-banner
      .container
        div(data-carousel-arrows)
        div(data-carousel-dots)
    .home-banner__ui
      span Scroll for more 
      span.icon.icon-down-arrow