// home-banner styles
.home-banner {
  $p: &;
  position: relative;

  [data-carousel] {
    &:not(.slick-initialized) {
      display: flex;

      .home-banner__slide {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }

  .slick { //make slick carousel items same height
    &-track {
      display: flex;
    }

    &-slide {
      height: inherit;
      
      &> div,
      .home-banner__slide {
        height: 100%;
      }
    }
  }

  &__ui {
    position: absolute;
    left: 50%;
    bottom: -14px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, 0);
    
    span {
      color: $maroon10;
    }
    
    .icon {
      font-size: calc-em(28px);
      animation: updownshortscrolldown 2s ease-in-out infinite alternate;
    }
  }

  &__slide {
    position: relative;
    display: block !important;
    
    .home-banner__text {
      z-index: 2;

      @include desktopMax {
        position: relative;
      }
    }

    &.is-image {

      /* @include desktop {
        &::before {
          content: none;
        }
      } */
      /*  */
      #{$p}__media {
        &:before,
        &:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          width: 100%;
          z-index: 1;
        }

        /* &:before {
          top: 0;
          height: 90px;
          background: rgba(0,0,0,0.35);

          @include desktop {
            top: 0;
            bottom: 0;
            right: auto;
            width: 63%;
            height: 100%;
            background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.367698) 79.5%, rgba(0, 0, 0, 0) 100%);
          }
        } */
      }

      #{$p}__text {
        z-index: 2;

        @include desktopMax {
          position: relative;
          align-items: flex-start;
          padding-left: 0px;
          padding-right: 0px;
        }

        .container {
          @include desktopMax {
            margin: 0;
            padding: 0 44px;

            /* &::before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: linear-gradient(180deg, rgba(0,0,0,0.35) 40%, rgba(0,0,0,0));
              z-index: -1;
            } */
          }

          @include desktop {
            padding: 0 104px;
          }
          
          @media screen and (min-width: 1600px) {
            padding: 0 25px;
          }
          
          h1, p {
            text-shadow: none;
          }
        }
      }
    }
  }

  .imda-carousel__controls {
    .container {
      display: flex;
      align-items: center;
      position: static;
      
      @include tablet {
        justify-content: center;
      }
    }

    [data-carousel-arrows] {
      .slick-arrow {
        background-color: transparent;
        border: none;
        position: absolute;
        height: 100%;
        width: 40px;
        top: 0;
        bottom: 0;
        border-radius: 0;
        font-size: calc-em(32px);
        margin: 0;
        text-shadow: $textGlow1;

        @include desktop {
          width: 80px;
          font-size: calc-em(40px);
        }

        &.slick-prev {
          left: 0;
        }
        
        &.slick-next {
          right: 0;
        }

        // &.slick-disabled {
        //   border: 1px solid #fff;
        //   color: #fff;
        //   opacity: 0.4;

        //   @include mobileMax {
        //     margin: 0 8px 0 0;
        //   }

        //   &:hover {
        //     background-color: transparent;
        //     border-color: #fff;
        //   }
        // }

        &:hover {
          background-color: transparent;
          border-color: transparent;
          color: $primaryPurple;
        }
      }
    }
    
    [data-carousel-dots] {
      position: absolute;
      left: 50%;
      bottom: 64px;
      transform: translate(-50%, 0);
      
      @include desktop {
        bottom: 55px;
      }

      li {
        margin: 0 16px 0 0;
        
        @include desktop {
          margin: 0 32px 0 0;
        }

        &.slick-active {
          .dot-indicator {
            width: 8px;
            background-color: #fff;

            @include desktop {
              width: 76px;
            }
          }
          
          .dot-page {
            width: 24px;
            margin: 0 0 0 12px;

            @include desktopMax {
              width: 0;
              margin: 0;
            }
          }
        }
      }

      .dot-indicator {
        width: 8px;
        height: 8px;
        border-radius: 4px;
        border-color: #fff;
      }
  
      .dot-page {
        color: #fff;
      }
    }
  }

  &__media {
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.35);
      z-index: 2;
    }

    @include desktopMax {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    @include desktop {
      position: relative;
      min-height: 667px;
    }

    picture {
      display: block;
    }

    picture,
    video, img {
      @include absolute-img;
      @include image-cover;
    }
  }

  &__text {
    color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    
    @include desktopMax {
      padding: 90px 24px 120px;
    }
    
    @include desktop {
      @include absolute-img;
      height: 100%;
    }
    
    .container {
      @include desktop {
        padding: 0 104px;
      }
      
      @media screen and (min-width: 1600px) {
        padding: 0 25px;
      }
      
      > * {
        max-width: 810px;

        &:last-child {
          margin-bottom: 0;
        }
      }
      
      > span {
        display: none;
      }

      .btn-primary {
        transition: background-color 0.35s ease-in-out;
      }
    }

    h1 {
      font-weight: 600;
      // font-size: calc-em(24px);
      font-size: calc-em(30px);
      line-height: 120%;
      margin: 0 0 16px;
      text-shadow: $textGlow1;
      
      // @include lgMobile {
      //   font-size: calc-em(34px);
      // }

      @include desktop {
        font-size: calc-em(64px);
        margin: 0 0 24px;
      }

      b {
        font-weight: 700;
      }
    }

    p {
      font-weight: 400;
      line-height: 140%;
      text-shadow: $textGlow2;
      margin: 0 0 32px;
      padding-right: 150px;
    
      @include tabletMax {
        padding-right: 100px;
      }

      @include mobileMax {
        padding-right: 50px;
      }

      @include desktop {
        font-size: calc-em(22px);
        margin: 0 0 48px;
      }
    }

    // a {
    //   display: flex;
    //   flex-direction: column;
    //   align-items: center;
    //   justify-content: center;
    //   width: 128px;
    //   height: 128px;
    //   border-radius: 50%;
    //   background-color: rgba(255, 255, 255, 0.25);
    //   border: 1px solid #FFFFFF;
    //   box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    //   backdrop-filter: none;
    //   text-align: center;
    //   line-height: 140%;
    //   color: #fff;
    //   text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    //   text-decoration: none;
    //   transition: all 0.25s ease-in-out;
      
    //   &:hover {
    //     background-color: rgba(112, 47, 138, 0.8);
    //     backdrop-filter: blur(6px);
    //     border-color: rgba(112, 47, 138, 0.8);
    //   }

    //   @include desktop {
    //     width: 136px;
    //     height: 136px;
    //   }

    //   span:not(.icon) {
    //     margin: 8px 0 0;
        
    //     @include desktop {
    //       margin: 20px 0 0;
    //     }
    //   }

    //   .icon {
    //     margin: 8px 0 0;
        
    //     @include desktop {
    //       margin: 12px 0 0;
    //     }
    //   }
    // }
  }
}