include ../../atoms/button/button
include ../../molecules/film-filter/film-filter
include ../../molecules/film-listing/film-listing
include ../../atoms/pagination/pagination

mixin film-directory(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.film-directory(class=spec.__class)&attributes(attributes)
    form(method="post" action="/" id="mainform")
      .container.container--mw1140
        h1.title Film Directory
        +button({"text":"VIEW ALL PRODUCTION COMPANIES", "__class":"sggd-btn--standard film-directory__button"})
        +film-filter()
        +film-listing()
      +pagination()
      .container.container--mw1140
        .rte.disclaimer
          p
            | All the information provided on this website is provided on an “as is” and “as available” basis and you agree that you use such information entirely at your own risk. The Film Commission gives no warranty and accepts no responsibility or liability for the accuracy or the completeness of the information and materials contained in this website.
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
