// film-directory styles
.film-directory {
  .title {
    font-family: $font-family;
    font-size: calc-em(28px);
    font-weight: 600;
  }

  .sggd-btn {
    .btn-text {
      span {
        font-size: calc-em(15px, 21px);
      }
    }

    &--standard {
      .btn-text {
        span {
          font-size: calc-em(16px);
        }
      }
    }
  }

  .pagination {
    background-color: transparent;
    margin: 0;
    padding: 0;

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__list {
      display: flex;
    }

    &__item {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.25s ease-in-out;

      &.js-prev-page, 
      &.js-next-page {
        border: 1px solid $primaryPurple;
        color: $primaryPurple;

        &.is-hidden {
          display: none;
        }

        span {
          font-weight: 400;
        }

        &:focus,
        &:hover {
          background-color: $purple20;
        }
      }

      &:hover,
      &.active {
        .pagination__link {
          background-color: $purple20;
          color: $textBlack;
        }
      }

      .pagination__link {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 0;
        height: auto;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        color: $textBlack;
        font-weight: 600;
        transition: all 0.25s ease-in-out;

        &:before {
          display: none;
        }
      }
    }
  }
}
