// event-speaker-card styles
.event-speaker-card {
  padding: 30px 50px 34px;
  border: 1px solid #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  @include desktop {
    padding: 28px 30px 31px;
  }

  &__image {
    position: relative;
    width: 128px;
    height: 128px;
    margin: 0 0 15px;
    display: block;
    border-radius: 50%;
    overflow: hidden;

    @include desktop {
      width: 154px;
      height: 154px;
      margin: 0 0 26px;
    }

    img {
      @include absolute-img;
      @include image-cover;
    }
  }

  &__text {
    header {
      text-align: center;
      margin: 0 0 18px;
      
      h3 {
        font-weight: 500;
        font-size: calc-em(18px);
        line-height: 140%;
        margin: 0 0 2px;
      }
      
      p {
        font-size: calc-em(14px);
        line-height: 140%;
        margin: 0;
      }
    }

    > p {
      line-height: 140%;
      margin: 0;

      @include desktop {
        font-size: calc-em(18px);
      }
    }
  }
}