mixin event-speaker-card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .event-speaker-card(class=spec.__class)&attributes(attributes)
    picture.event-speaker-card__image
      source(srcset= spec.image, media="(max-width: 1023px)")
      source(srcset= spec.image)
      img(src=spec.image, alt="")
    .event-speaker-card__text
      header
        h3=spec.name
        p=spec.designation
      p=spec.text
