extends ../_layouts/standard-detail

include ../_modules/molecules/homepage-tour/homepage-tour
include ../_modules/molecules/highlight-card/highlight-card
include ../_modules/molecules/video-player/video-player
include ../_modules/molecules/image-text/image-text
include ../_modules/molecules/article-link/article-link
include ../_modules/molecules/image-link/image-link
include ../_modules/molecules/image-cta-listing/image-cta-listing
include ../_modules/molecules/image-rte/image-rte
include ../_modules/molecules/cta-banner/cta-banner
include ../_modules/molecules/teaser-card/teaser-card
include ../_modules/molecules/short-image-card/short-image-card
include ../_modules/molecules/box-quote/box-quote
include ../_modules/molecules/name-card/name-card
include ../_modules/molecules/topic-card-listing/topic-card-listing
include ../_modules/molecules/tags-list/tags-list
include ../_modules/molecules/purplebg-section-wrapper/purplebg-section-wrapper
include ../_modules/organisms/accordion-list/accordion-list
include ../_modules/organisms/detail-content/detail-content
include ../_modules/organisms/gallery/gallery
include ../_modules/organisms/newsletter/newsletter
include ../_modules/organisms/related-posts/related-posts
include ../_modules/organisms/page-banner/page-banner
include ../_modules/organisms/page-header/page-header
include ../_modules/organisms/three-col-imgcard/three-col-imgcard
include ../_modules/organisms/two-col-carousel/two-col-carousel
include ../_modules/organisms/standard-content-carousel/standard-content-carousel
include ../_modules/organisms/selected-posts/selected-posts
include ../_modules/organisms/article-listing-with-questionnaire/article-listing-with-questionnaire
include ../_modules/organisms/digital-blocks/digital-blocks
include ../_modules/organisms/article-gallery-carousel/article-gallery-carousel
include ../_modules/organisms/call-to-actions/call-to-actions
include ../_modules/organisms/partners/partners


block append config
  - pageUrl = "/article-page-two"
  - var pageData = site.data.standardDetail.articlePage
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts


block detailContent
  +image-text({
    "image": "/images/detail/gallery-1.jpg",
    "alt": "Groupfie",
    "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
  })
  
  +detail-section({
    "title": "About"
  })#supports
    +rte()
      p Aligned to the Professional Services Industry Transformation Map and Accountancy Roadmap launched in 2018, the Accountancy Industry Digital Plan (IDP) is part of the SMEs Go Digital programme which aims to make going digital simple for SMEs. The Accountancy IDP provides a step-by-step guide on the digital solutions local Small and Medium Practices (SMPs) can adopt at each stage of their growth.

      p The Infocomm Media Development Authority (IMDA), in partnership with the Singapore Accountancy Commission (SAC) and the Institute of Singapore Chartered Accountants (ISCA), has jointly developed the Accountancy IDP. The IDP will continue to be updated over time as the industry progresses and newer, more relevant technologies are introduced.
  +image-text({
    "image": "/images/detail/gallery-1.jpg",
    "alt": "Groupfie",
    "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
  })
  +video-player({
    "videoId": "L209rWk_0TY",
    "image": "/images/detail/gallery-1.jpg",
    "title": "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, quibusdam."
  })
  +video-player({
    "videoId": "L209rWk_0TY",
    "image": "/images/detail/gallery-1.jpg",
    "title": "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, quibusdam."
  })
  
  +detail-section({
    "title": "Who is it for?"
  })#supports
    +rte()
      p The Accountancy Industry Digital Plan is developed for local accounting entities, especially SMPs.

  +rte()
    h2 Benefits
    p The IDP provides a step-by-step guide on the digital solutions to adopt at each stage of your growth. For a start, you can use the IDP to find out if your business is digital-ready.

  +rte()
    h2 Digital Roadmap
    p You can refer to the Digital Roadmap of the IDP, as a guide to assess your digital readiness and identify opportunities for going digital and training to raise employees' digital skills.
    p <strong>Download</strong>
  
  +rte()
    h2 Digital and Business Consultancy
    ul
      li
        b Intellectual Property Rights
        br
        p The lead agency for Intellectual Rights (IPR) protection in Singapore is the Intellectual <a href="#">Property Office of Singapore</a href="#"> (IPOS). IMDA provides support in the infocomm aspects.
      li
        b Domain Names
        br
        p Under the IDA Act (Cap 137A), IDA has the power to authorise or regulate the registration, administration and management of domain names in Singapore. The Singapore Network Information Centre (SGNIC) was set up in October 1995 with the main purpose of administering the Internet domain name space in Singapore. It is the central registry recognised by the Internet Corporation for Assigned Names and Numbers (ICANN) to administer third-level domain name registration under the ".sg" domain name. SGNIC cooperates with the international, regional and local Internet communities to ensure a stabilised and efficient operation of the ".sg" domain name space in support of applications provided over the Internet.
        p For more information on domain name policies, please refer to the <a href="#">SGNIC</a href="#"> website.

  +rte()
    h2 Pre-approved Solutions with Grant Support
    p The Accountancy IDP outlines the digital solutions that companies can adopt at each stage of their growth to streamline operations, improve efficiency, and drive business growth.
    p Eligible SMEs can receive funding support from the Productivity Solutions Grant (PSG) or other relevant grants on the <a class=" link__external" rel="noopener noreferrer" href="https://www.businessgrants.gov.sg/" target="_blank">Business Grants Portal</a>  to implement digital solutions in the Accountancy IDP.

  +rte()
    h2 Feedback
    p Send us your feedback on the IDPs, in <a class=" link__word" href="/-/media/Imda/Files/Programme/SMEs-Go-Digital/Industry-Digital-Plans/Accountancy-IDP/IDP-feedback-form.docx" target="_blank">this form (269.93KB)</a>  (best viewed in Microsoft Word) to <a href="mailto:info@imda.gov.sg">info@imda.gov.sg</a>.
