extends ../../_layouts/standard-detail

block append config
  - baseUrl = "../../"
  - pageUrl = "/events-listing/e2-forum"
  - var pageData = site.data.standardDetail.e2Forum
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts

block detailContent
  +rte()
    img(src="/images/events/e2-forum.jpg", alt="E2 Connect Forum Banner")

    p Organised by Infocomm Media Development Authority (IMDA), the biennial E<sup>2</sup> Connect Forum is back for a second run since its launch in 2016. Standing for Enable, Empower and Connect, E<sup>2</sup> Connect Forum aims to raise awareness and promote the benefits of infocomm and assistive technology (IT/AT) adoption by persons with disabilities (PWDs).

    p This experiential forum consists of educational seminars by inspiring speakers, hands-on workshops and an exhibition comprising multiple thematic zones. Come and experience how IT/AT can be applied to meet the needs of PWDs and support them in independent living.

    p Be part of Singapore's IT/AT forum and learn how technology can enable, empower and connect persons with disabilities. Visit <a href="www.e2connect.sg" target="_blank">www.e2connect.sg</a> for more info.

