include ../../molecules/cookie-message/cookie-message
include ../newsletter/newsletter

mixin site-footer(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  footer.site-footer
    .container
      h2.site-footer__header Infocomm Media Development Authority
      .site-footer__row1
        nav(aria-label="Contact navigation")
          ul
            li
              a(href="#") Contact Us
            li
              a(href="#") Careers
            li
              a(href="#") Feedback
            li
              a(href="#") FAQ
            li
              a(href="#") Subscribe to Newsletter
        nav(aria-label="Social media navigation")
          ul
            li
              a(href="#")
                span.sr-only Facebook
                span.icon-facebook
            li
              a(href="#")
                span.sr-only Twitter
                span.icon-twitter
            li
              a(href="#")
                span.sr-only Youtube
                span.icon-youtube
            li
              a(href="#")
                span.sr-only Instagram
                span.icon-instagram
            li
              a(href="#")
                span.sr-only Linked In
                span.icon-linkedin
      .site-footer__row2
        nav(aria-label="Sub-navigation")
          ul
            li
              a(href="#") Report Vulnerability
                span.icon-external-link
            li
              a(href="#") Supported Browser
            li
              a(href="#") Privacy Statement
            li
              a(href="#") Terms of Use
            li
              a(href="#") Rate this Site
            li
              a(href="#") Reach.sg
                span.icon-external-link
            li
              a(href="#") Sitemap
        div
          div.copyright &copy; 2022 Government of Singapore 
          div.last-updated Last updated on 21 July 2022

//- mixin site-footer(spec)
//-   - spec = spec || {}
//-   - spec.__class = spec.__class || ''

//-   .site-footer
//-     +cookie-message({
//-       "message": "<p>To offer you a better experience, this site uses cookies. Read more about cookies in our <a href='#'>Privacy Statement</a>.</p>"
//-     })
//-     a.btn-scroll-top(href="#mainContent", title="Back to top of page")
//-       span.vh Back to top of page
//-       span.icon.icon-angle-up
//-     if !spec.hideNewsletter
//-           +newsletter()
//-     .container
//-       .site-footer__top
//-         h3.site-footer__title Infocomm Media Development Authority
//-         nav.site-footer__nav
//-           ul
//-             each item in spec.footerNav
//-               li
//-                 a(href= item.url)= item.name

//-         .site-footer__common
//-           ul.common-links
//-             each item in spec.commonLinks
//-               li
//-                 a(href= item.url)= item.name

//-           ul.social-links
//-             li
//-               a.facebook(href= spec.socialLinks.facebook.url, title= spec.socialLinks.facebook.title, target="_blank")
//-                 span.icon.icon-facebook
//-             li
//-               a.twitter(href= spec.socialLinks.twitter.url, title= spec.socialLinks.twitter.title, target="_blank")
//-                 span.icon.icon-twitter
//-             li
//-               a.youtube(href= spec.socialLinks.youtube.url, title= spec.socialLinks.youtube.title, target="_blank")
//-                 span.icon.icon-youtube
//-             li
//-               a.instagram(href= spec.socialLinks.instagram.url, title= spec.socialLinks.instagram.title, target="_blank")
//-                 span.icon.icon-instagram
//-             li
//-               a.linkedin(href= spec.socialLinks.linkedin.url, title= spec.socialLinks.linkedin.title, target="_blank")
//-                 span.icon.icon-linkedin

//-       .site-footer__bottom
//-         nav.site-footer__panel
//-           ul
//-             each item in spec.panelLinks
//-               li
//-                 a(href= item.url)= item.name

//-         .site-footer__end-note
//-           small.copyright &copy; 2019, Government of Singapore.
//-           small.last-update Last updated 24 February 2018

