// site-footer styles
.site-footer {
  color: #fff;
  padding: 44px 0 120px;
  line-height: 150%;
  background-color: $footerBlack;
  position: relative;
  z-index: 1;
  
  @include desktop {
    padding: 56px 0 120px;
    line-height: 140%;
  }

  h2 {
    font-size: calc-em(18px);
    line-height: 120%;
    font-weight: 500;
    margin: 0 0 40px;
    
    @include lgDesktop {
      font-size: calc-em(20px);
    }
  }

  ul {
    @include normalise-list;

    @include desktop {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    li {
      margin: 0 0 18px;
      
      @include desktop {
        margin: 0 24px 0 0;
      }

      &:last-child {
        @include desktopMax {
          margin-bottom: 0;
        }

        @include desktop {
          margin-right: 0;
        }
      }
    }

    a {
      text-decoration: none;
      font-weight: 400;
      line-height: 150%;
      color: #fff;

      &:hover {
        text-decoration: underline;
      }

      .icon-external-link {
        line-height: 1;
      }
    }
  }

  &__row1 {
    @include desktop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0 20px;
      border-bottom: 1px solid #fff;
    }

    nav {
      &:first-child {
        @include desktopMax {
          padding: 0 0 24px;
          border-bottom: 1px solid #fff;
        }

        ul {
          flex-wrap: wrap;
        }
      }

      &:last-child {
        @include desktopMax {
          margin: 24px 0 36px;
        }

        ul {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          li {
            margin: 0 32px 0 0;

            &:last-child {
              margin: 0;
            }
          }

          a {
            font-size: calc-em(30px);
            position: relative;
            display: flex;
            align-items: center;
            text-decoration: none;
            height: 40px;

            &:before {
              content: "";
              background-color: $primaryPurple;
              border-radius: 50%;
              height: 40px;
              left: 50%;
              position: absolute;
              transform: translate(-50%, 0) scale(0);
              transition: transform .25s $easeInOutExpo;
              top: 0;
              width: 40px;
              z-index: 0;
            }
  
            &:hover, &:focus {
              color: #fff;

              &:before {
                transform: translate(-50%, 0) scale(1);
              }
            }
            
            @include desktop {
              font-size: calc-em(24px);
            }
          }

          [class^="icon-"] {
            position: relative;
            z-index: 1;
            margin: 0;
          }
        }
      }

      a {
        white-space: nowrap;

        > span {
          margin: 0 0 0 8px;
        }
      }
    }
  }

  &__row2 {
    @include desktop {
      padding: 20px 0 0;
    }

    @include lgDesktop {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    nav {
      margin: 0 0 24px;

      @include lgDesktop {
        margin: 0;
      }

      ul {
        @include desktop {
          flex-wrap: wrap;
        }
      }

      li {
        @include desktop {
          margin-bottom: 8px;
        }
      }

      a {
        white-space: nowrap;

        > span {
          margin: 0 0 0 8px;
        }
      }
    }

    div {
      > div {
        margin: 0 0 8px;
        
        @include lgDesktop {
          text-align: right;
        }

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}


// .site-footer {
//   position: relative;

//   .btn-scroll-top {
//     background: $purple;
//     border-radius: 50%;
//     box-shadow: $buttonShadow;
//     display: block;
//     height: 50px;
//     opacity: 0;
//     position: absolute;
//     right: 20px;
//     text-decoration: none;
//     top: -25px;
//     visibility: hidden;
//     width: 50px;
//     z-index: 9999;

//     .icon {
//       align-items: center;
//       color: #fff;
//       display: flex;
//       font-size: 2.5em;
//       height: 100%;
//       justify-content: center;
//     }

//     &:hover, &:focus {
//       box-shadow: $buttonShadowHover;
//     }

//     &.sticky {
//       position: fixed;
//       bottom: 40px;
//       top: auto;
//       // @media only screen and (max-width: $bpTablet) {
        
//       //   bottom: 40px;
//       // }
//     }

    

//     &.shown {
//       opacity: 1;
//       visibility: visible;
//     }
    
//   }

//   ul {
//     @extend %list-unstyled;
//     li {
//       a {
//         text-decoration: none;
//       }
//     }
//   }

//   &__title {
//     color: $purple;
//     font-size: calc-em(18px);
//     font-weight: $heavy;
//   }

//   &__nav {
//     ul {
//       @extend %clearfix;

//       li {
//         margin-bottom: 10px;

//         a {
//           color: $headerColor;
//           display: inline-block;
//           font-weight: $medium;
//           position: relative;

//           &:before {
//             content: "";
//             background: $purple;
//             height: 100%;
//             left: 0;
//             position: absolute;
//             transform: scaleX(0);
//             transform-origin: left center;
//             transition: transform .25s $easeInOutExpo;
//             top: 0;
//             width: 100%;
//             z-index: -1;
//           }

//           &:hover, &:focus {
//             color: #fff;

//             &:before {
//               transform: scaleX(1);
//             }
//           }
//         }
//       }
//     }
//   }

//   &__common {
//     .common-links {
//       li {
//         margin-bottom: 10px;

//         a {
//           color: $headerColor;
//           display: inline-block;
//           font-weight: $medium;
//           position: relative;

//           &:before {
//             content: "";
//             background: $purple;
//             bottom: 0;
//             height: 1px;
//             left: 0;
//             position: absolute;
//             transform: scaleX(0);
//             transform-origin: left center;
//             transition: transform .25s $easeInOutExpo;
//             width: 100%;
//           }

//           &:hover, &:focus {
//             color: $purple;

//             &:before {
//               transform: scaleX(1);
//             }
//           }
//         }
//       }
//     }

//     .social-links {
//       li {
//         display: inline-block;
//         margin-right: 5px;

//         a {
//           color: $purple;
//           display: inline-block;
//           font-size: 1.5em;
//           position: relative;
//           text-align: center;
//           width: 40px;

//           &:before {
//             content: "";
//             background: $purple;
//             border-radius: 50%;
//             height: 40px;
//             left: 0;
//             margin-top: -5px;
//             position: absolute;
//             transform: scale(0);
//             transition: transform .25s $easeInOutExpo, background-color .25s ease-in-out;
//             top: 0;
//             width: 40px;
//             z-index: -1;
//           }

//           &:hover, &:focus {
//             color: #fff;

//             &:before {
//               transform: scale(1);
//             }

//             &.facebook {
//               &:before {
//                 background-color: $facebook;
//               }
//             }

//             &.twitter {
//               &:before {
//                 background-color: $twitter;
//               }
//             }

//             &.linkedin {
//               &:before {
//                 background-color: $linkedin;
//               }
//             }

//             &.instagram {
//               &:before {
//                 background-color: $instagram;
//               }
//             }

//             &.youtube {
//               &:before {
//                 background-color: $youtube;
//               }
//             }
//           }
//         }
//       }
//     }
//   }

//   &__top {
//     padding: 20px 0;
//   }

//   &__bottom {
//     border-top: 1px solid $borderColor;
//     padding: 20px 0 70px 0px;
//   }

//   &__panel {
//     ul {
//       li {
//         margin-bottom: 15px;

//         a {
//           color: $headerColor;
//           display: inline-block;
//           font-weight: $roman;
//           position: relative;

//           &:before {
//             content: "";
//             background: $purple;
//             bottom: 0;
//             height: 1px;
//             left: 0;
//             position: absolute;
//             transform: scaleX(0);
//             transform-origin: left center;
//             transition: transform .25s $easeInOutExpo;
//             width: 100%;
//           }

//           &:hover, &:focus {
//             color: $purple;

//             &:before {
//               transform: scaleX(1);
//             }
//           }
//         }
//       }
//     }
//   }

//   &__end-note {
//     small {
//       color: $bodyTextColor;
//       font-size: calc-em(13px);
//       font-weight: $light;
//     }
//   }
// }


// @media only screen and (min-width: $bpDesktop) {
//   .site-footer {
//     &__title {
//       font-size: calc-em(18px);
//     }

//     &__nav {
//       width: 50%;

//       ul {
//         li {
//           width: 50%;
//           float: left;

//           a {
//             color: $headerColor;
//           }
//         }
//       }
//     }

//     &__common {
//       text-align: right;

//       .common-links {
//         display: inline-block;
//         margin-right: 10px;

//         li {
//           display: inline-block;
//           margin: 0 0 0 15px;

//           a {
//             color: $bodyTextColor;
//             font-size: calc-em(15px);
//             font-weight: $roman;
//           }
//         }
//       }

//       .social-links {
//         display: inline-block;
//         margin-left: 15px;

//         li {
//           // margin: 0 0 0 15px;
//         }
//       }
//     }

//     &__panel {
//       float: left;

//       ul {
//         li {
//           display: inline-block;
//           margin-right: 15px;

//           a {
//             color: $bodyTextColor;
//             font-size: calc-em(14px);
//           }
//         }
//       }
//     }

//     &__end-note {
//       float: right;

//       small {
//         font-size: calc-em(14px);
//       }
//     }
//   }
// }
