extends ../../_layouts/standard-detail

block append config
  - baseUrl = "../../"
  - pageUrl = "/events-listing/story-lab"
  - var pageData = site.data.standardDetail.storyLab
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts

block detailContent
  +rte()
    h2 The problem with binge-watching on Netflix is that you lose three days of your life.” – Harland Williams.

    p Join us on 1 September to find out how Netflix hooks its audiences, and how local and regional creators can adapt to the new trends impacting the broadcast scene. The session will feature an esteemed panel of local and international experts including Colin Muir, Ken Kwek, Jaya Rathakrishnan, Shamaine Othman and Ng Swee San.

    h3 Key highlights

    ul
      li Discover the differences between the production slate of Netflix and traditional TV producers
      li Find out how Netflix differentiates itself from its streaming rivals such as Disney, Apple and Amazon
      li Learn about Netflix’s investment strategy and future commercial and creative goals

    h3 Panel Discussion

    p Hear from our local and regional panellists as they share their views on how the rise of Netflix has also impacted the local and regional scenes, and what local and regional creators and producers can do to better prepare and adapt to such trends.

    p Admission is free! Register now at <a href="https://ageofnetflix.eventbrite.sg/" target="_blank">https://ageofnetflix.eventbrite.sg/</a>.
