// event-form styles'
body .event-form {
    .scfForm {
        fieldset {
            border: 0;
            padding: 0;
        }
        .scfSingleLineTextBorder,
        .scfChecklistBorder {
            display: block;
            margin: 15px 0;
        }

        select,
        input[type="text"],
        input[type="email"],
        input[type="number"],
        input[type="date"] {
            display: block;
            width: 100%;
            padding: 10px;
            border: 1px solid #dddddd;
            margin-bottom: 15px!important;
            font-size: 16px !important;
        }

        .scfSectionBorderAsFieldSet {
          margin: 0;
        }

        .scfSectionContent{
            label,
            .scfCheckBoxListLabel {
                padding: 0;
                display: inline-block;
                margin: 5px 0;
                color: #6f358d!important;
                font-family: $font-family;
                font-weight: 600;
            }

            .scfValidator {
                color: $red;
                display: block;
            }

            .scfRequired,
            .scfValidatorRequired {
                left: -10px;
                top: 5px;
            }

            table {
              margin-bottom: 15px;
            }

            table td {
                padding: 2px 10px 2px 0;
            }

            select,
            .scfSingleLineGeneralPanel,
            .scfSingleEmailPanel {
                width: 100%;
                max-width: 600px;
            }

            input[type="checkbox"],
            input[type="radio"] {
                margin: 7px 8px 0 0 ;
                vertical-align: top;
                display: inline-block;

                & + label {
                    width: auto;
                    max-width: calc(100% - 30px);
                    display: inline-block;
                    vertical-align: top;
                    color: #000!important;
                    font-family: $font-family;
                    font-weight: normal;
                }
            }

            & .is-error {
              select,
              input[type="radio"],
              input[type="checkbox"],
              input[type="text"],
              input[type="email"],
              input[type="number"],
              input[type="date"] {
                border-color: $red;
              }
            }

            input[type="radio"],
            input[type="checkbox"] {
                -webkit-appearance: none;
                border: 1px solid #ddd;
                background: #fff;
                padding: 8px;
                display: inline-block;
                position: relative;

                &:checked {
                    border: 1px solid #ddd;
                    background: #fff;
                    color: #99a1a7;
                }

                &:checked:after {
                    content: '\2714';
                    font-size: 14px;
                    line-height: 1;
                    position: absolute;
                    top: 1px;
                    left: 2px;
                    color: #222;
                    font-weight: bold;
                }

            }

            .scfDropListLabel,
            .scfEmailLabel,
            .scfMultipleLineTextLabel,
            .scfSingleLineTextLabel,
            .scfPasswordLabel,
            .scfNumberLabel,
            .scfDatePickerLabel,
            .scfDateLabel,
            .scfRadioButtonListLabel,
            .scfCheckBoxListLabel,
            .scfListBoxLabel,
            .scfFileUploadLabel,
            .scfDateSelectorLabel,
            .scfCreditCardLabel,
            .scfConfirmPasswordLabel,
            .scfCaptchaLabel,
            .scfTelephoneLabel,
            .scfSmsTelephoneLabel,
            .scfEmailGeneralPanel,
            .scfMultipleLineGeneralPanel,
            .scfSingleLineGeneralPanel,
            .scfPasswordGeneralPanel,
            .scfNumberGeneralPanel,
            .scfDatePickerGeneralPanel,
            .scfDateGeneralPanel,
            .scfRadioButtonListGeneralPanel,
            .scfCheckBoxListGeneralPanel,
            .scfFileUploadGeneralPanel,
            .scfDateSelectorGeneralPanel,
            .scfCreditCardGeneralPanel,
            .scfConfirmPasswordGeneralPanel,
            .scfCaptchaGeneralPanel,
            .scfTelephoneGeneralPanel,
            .scfSmsTelephoneGeneralPanel {
                float: none;
            }

            input[type="radio"] {
                border-radius: 50%;
            }

            input[type="checkbox"] {
                border-radius: 0;
            }
        }

        .scfSubmitButton,
        .cbtn {
            border-color: $purple;
            color: $purple;

            &:hover {
                background: $purple;
                color: #fff;
            }

            &[disabled],
            &[disabled]:hover {
                border-color: $grey;
                background: $grey;
                color: $lightgrey;
            }
        }

        .cbtn {
            margin-right: 5px;
            text-transform: uppercase;
            font-size: calc-em(16px);
        }

        .scfSubmitButtonBorder {
            display: inline-block;
            box-sizing: border-box;
            padding:10px;
        }

        .scfSubmitButton {
            border-color: $purple;
            color: $purple;
            padding: 7px 20px;
            display: none;
            border-radius: 0;
            font-size: calc-em(16px);
            margin-right: 0;
            transform: translateX(0);
            left: 0;
        }
    }

    button[type="submit"],
    input[type="submit"] {
        display: none;
    }
}

.event-details {
  padding-bottom: 20px;
}

.event-form__tabs {
    @extend %clearfix;
    margin: 0 0 20px;
}

.event-form__tab {
    width: 33.3%;
    float: left;
    text-align: center;
    border: 0;
    background: transparent;
    border-radius: 0;
    -webkit-appearance: none;
    border-top: 4px solid $grey;
    padding: 15px 15px 5px;
    position: relative;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 0;
        height: 0;
        margin: auto;
        border-top: 10px solid $grey;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        transform: translateY(-100%);
        transition: transform .25s ease-in-out;
    }

    .number {
        padding: 5px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: $grey;
        display: inline-block;
        text-align: center;
        margin-right: 5px;
    }

    &.is-active {
        border-top-color: $purple;
        color: $purple;
        font-weight: bold;

        .number {
            background: $purple;
            color: #fff;
        }

        &:after {
            border-top-color: $purple;
            transform: translateY(0);
        }
    }

    &:hover:not([disabled]),
    &:focus:not([disabled]) {
        &:before {
            transform: translateY(0);
        }
    }
}

.event-form__steps {
    margin: 30px 0;
    padding: 20px 0;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    counter-reset: section;
    list-style-type: none;
    box-sizing: border-box;
}

.event-form__step {
    display: inline-block;
    margin-right: 10px;
    border: 0;
    background: transparent;
    -webkit-appearance: none;
    border-radius: 0;

    &:before {
        counter-increment: section;
        content: counter(section, decimal);
        padding: 5px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: $grey;
        display: inline-block;
        text-align: center;
        margin-right: 5px;
    }

    &.is-active {
        &:before {
            background: $purple;
            color: #fff;
        }
    }
}

.event-form__progress {
    margin: 20px 0 40px;
}

.progress__container {
    height: 5px;
    border-radius: 10px;
    background: $grey;
    display: block;
    margin: 10px 0;
    overflow: hidden;
}

.progress__value {
    display: block;
    width: 100%;
    background: $purple;
    height: 100%;
    transform-origin: left top;
    transform: scaleX(0.33);
    transition: transform .5s ease-in-out;
}

.event-form__content {
    display: none;

    &.is-active {
        display: block;
    }
}
