mixin event-form(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  form
    .event-form
      #form_E67819B227B04A11A49C04A5FEEB1354.scfForm
        input#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_formreference(type='hidden', name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$formreference', value='form_E67819B227B04A11A49C04A5FEEB1354')
        #content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_intro.scfIntroBorder
        #content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354__summary.scfValidationSummary(style='display:none;')
        #content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_form_E67819B227B04A11A49C04A5FEEB1354_submitSummary.scfSubmitSummary(style='color:Red;')
        #content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_fieldContainer(onkeypress="javascript:return WebForm_FireDefaultButton(event, 'content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_form_E67819B227B04A11A49C04A5FEEB1354_submit')")
          
          .scfSectionBorder
            fieldset.scfSectionBorderAsFieldSet
              .scfSectionContent
                #content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C(class='fieldid.%7b4725F8FF-DE76-4034-B7D8-C043880E511C%7d name.Name validationgroup.form_E67819B227B04A11A49C04A5FEEB1354_submit')
                  .event-form__container
                    .event-form__content.is-active(data-content='1')
                      fieldset
                        .scfSectionContent
                          .scfSingleLineTextBorder
                            label.scfSingleLineTextLabel(for='input-name') Name
                            .scfSingleLineGeneralPanel
                              input#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_txtName(name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$field_4725F8FFDE764034B7D8C043880E511C$txtName', type='text', required='')
                            span.scfRequired *
                            span.scfValidator(style='display: none') Please enter your name
                          .scfChecklistBorder
                            span.scfCheckBoxListLabel Gender
                            .scfCheckBoxListGeneralPanel
                              table.scfCheckBoxList
                                tbody
                                  tr
                                    td
                                      span(name='gender')
                                        input#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_rdbGenderMale(type='radio', name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$field_4725F8FFDE764034B7D8C043880E511C$Gender', value='rdbGenderMale', checked='checked')
                                        label(for='content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_rdbGenderMale') Male
                                  tr
                                    td
                                      input#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_rdbGenderFemale(type='radio', name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$field_4725F8FFDE764034B7D8C043880E511C$Gender', value='rdbGenderFemale')
                                      label(for='content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_rdbGenderFemale') Female
                          .scfSingleLineTextBorder
                            label.scfSingleLineTextLabel(for='input-officenumber') Office Number
                            .scfSingleLineGeneralPanel
                              input#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_txtOfficeNumber(name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$field_4725F8FFDE764034B7D8C043880E511C$txtOfficeNumber', type='text')
                          .scfSingleLineTextBorder
                            label.scfSingleLineTextLabel(for='input-mobilenumber') Mobile Number
                            .scfSingleLineGeneralPanel
                              input#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_txtMobileNumber(name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$field_4725F8FFDE764034B7D8C043880E511C$txtMobileNumber', type='text', required='')
                            span.scfRequired *
                            span.scfValidator(style='display: none') Please enter your number
                          .scfSingleLineTextBorder
                            label.scfSingleLineTextLabel(for='input-email1') Email 1
                            .scfSingleLineGeneralPanel
                              input#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_txtEmail1(name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$field_4725F8FFDE764034B7D8C043880E511C$txtEmail1', type='text')
                          .scfSingleLineTextBorder
                            label.scfSingleLineTextLabel(for='input-email2') Email 2
                            .scfSingleLineGeneralPanel
                              input#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_txtEmaill2(name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$field_4725F8FFDE764034B7D8C043880E511C$txtEmaill2', type='text')
                          .scfSingleLineTextBorder
                            label.scfSingleLineTextLabel(for='input-facebook') Facebook Account
                            .scfSingleLineGeneralPanel
                              input#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_txtFacebook(name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$field_4725F8FFDE764034B7D8C043880E511C$txtFacebook', type='text', placeholder='www.facebook.com', pattern="www.facebook.com/([A-z0-9\.]+)\/?$")
                          .scfSingleLineTextBorder
                            label.scfSingleLineTextLabel(for='input-twitter') Twitter Account
                            .scfSingleLineGeneralPanel
                              input#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_txtTwitter(name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$field_4725F8FFDE764034B7D8C043880E511C$txtTwitter', type='text', placeholder='www.twitter.com')
                          .scfSingleLineTextBorder
                            label.scfSingleLineTextLabel(for='input-linkedin') Linkedin Account
                            .scfSingleLineGeneralPanel
                              input#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_txtLinkedin(name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$field_4725F8FFDE764034B7D8C043880E511C$txtLinkedin', type='text', placeholder='www.linkedin.com')
                    .event-form__content(data-content='2')
                      fieldset
                        .scfSectionContent
                          .scfSingleLineTextBorder
                            label.scfSingleLineTextLabel(for='input-designation') Designation
                            .scfSingleLineGeneralPanel
                              input#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_txtDesignation(name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$field_4725F8FFDE764034B7D8C043880E511C$txtDesignation', type='text')
                          .scfSingleLineTextBorder
                            label.scfSingleLineTextLabel(for='input-company') Company
                            .scfSingleLineGeneralPanel
                              input#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_txtCompany(name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$field_4725F8FFDE764034B7D8C043880E511C$txtCompany', type='text' )
                          .scfSingleLineTextBorder
                            label.scfDropListLabel(for='content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_ddlIndustries') Industry
                            select#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_ddlIndustries(name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$field_4725F8FFDE764034B7D8C043880E511C$ddlIndustries' required='')
                              option(value='') please select
                              option(value='Industry 1') Industry 1
                              option(value='Industry 2') Industry 2
                              option(value='Industry 3') Industry 3
                            span.scfRequired *
                            span.scfValidator(style='display: none') Please select an option
                          div
                            label.scfDropListLabel(for='input-job') Job Function
                            select#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_ddlJobFunctions(name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$field_4725F8FFDE764034B7D8C043880E511C$ddlJobFunctions')
                              option(value='') please select
                              option(value='Job Function 1') Job Function 1
                              option(value='Job Function 2') Job Function 2
                              option(value='Job Function 3') Job Function 3
                          .scfChecklistBorder(data-max='3')
                            span.scfCheckBoxListLabel Event List
                            .scfCheckBoxListGeneralPanel
                              table.scfCheckBoxList
                                tbody
                                  tr
                                    td
                                      input#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_ckEDB96074FC764EEEBA0F48BD0E6504D9(type='checkbox', name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$field_4725F8FFDE764034B7D8C043880E511C$ckEDB96074FC764EEEBA0F48BD0E6504D9')
                                      label(for='content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_ckEDB96074FC764EEEBA0F48BD0E6504D9') Session A, 31 Jan 2018, 20:30
                                  tr
                                    td
                                      input#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_ckEE8490E7C1E2413B8918F11EDA1562EF(type='checkbox', name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$field_4725F8FFDE764034B7D8C043880E511C$ckEE8490E7C1E2413B8918F11EDA1562EF')
                                      label(for='content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_ckEE8490E7C1E2413B8918F11EDA1562EF') Session B, 19 Feb 2018, 22:00
                                  tr
                                    td
                                      input#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_ck8F09EA252413473DB8F2D2CDB2F756B6(type='checkbox', name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$field_4725F8FFDE764034B7D8C043880E511C$ck8F09EA252413473DB8F2D2CDB2F756B6')
                                      label(for='content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_ck8F09EA252413473DB8F2D2CDB2F756B6') Session C, 04 Feb 2018, 21:30
                                  tr
                                    td
                                      input#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_ck24C1868955C04AA48E10A76D831524B4(type='checkbox', name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$field_4725F8FFDE764034B7D8C043880E511C$ck24C1868955C04AA48E10A76D831524B4')
                                      label(for='content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_ck24C1868955C04AA48E10A76D831524B4') Session D, 01 Jan 0001, 00:00
                                  tr
                                    td
                                      input#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_ckD61220E836234CBCAAA9C215A86C16E0(type='checkbox', name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$field_4725F8FFDE764034B7D8C043880E511C$ckD61220E836234CBCAAA9C215A86C16E0')
                                      label(for='content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_ckD61220E836234CBCAAA9C215A86C16E0') Session E, 27 Feb 2018, 21:30
                            span.scfValidator(style='display: none') Please select up to 3 events
                    .event-form__content(data-content='3')
                      fieldset
                        .scfSectionContent
                          div
                            label.scfDropListLabel(for='input-interest') Subject Interest
                            select#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_ddlSubjectInterests(name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$field_4725F8FFDE764034B7D8C043880E511C$ddlSubjectInterests')
                              option(value='Interest 1') Interest 1
                              option(value='Interest 2') Interest 2
                              option(value='Interest 3') Interest 3
                          .scfChecklistBorder
                            .scfCheckBoxListGeneralPanel
                              table.scfCheckBoxList
                                tbody
                                  tr
                                    td
                                      input#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_ck0(type='checkbox', name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$field_4725F8FFDE764034B7D8C043880E511C$ck0')
                                      label(for='checkbox-0') Subscribe to IMPact Newsletter all categories
                                  tr
                                    td
                                      input#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_ck1(type='checkbox', name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$field_4725F8FFDE764034B7D8C043880E511C$ck1')
                                      label(for='checkbox-1') Subscribe to IMPact Newsletter category 1
                                  tr
                                    td
                                      input#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_ck2(type='checkbox', name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$field_4725F8FFDE764034B7D8C043880E511C$ck2')
                                      label(for='checkbox-2') Subscribe to IMPact Newsletter category 2
                                  tr
                                    td
                                      input#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_ck3(type='checkbox', name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$field_4725F8FFDE764034B7D8C043880E511C$ck3')
                                      label(for='checkbox-3') Subscribe to Events Type 1
                                  tr
                                    td
                                      input#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4725F8FFDE764034B7D8C043880E511C_ck4(type='checkbox', name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$field_4725F8FFDE764034B7D8C043880E511C$ck4')
                                      label(for='checkbox-4') Subscribe to Events Type 2
                  .event-form__progress
                    span.progress__text
                      | Step
                      span.js-current-progress 1
                      |  of 3
                    span.progress__container
                      span.progress__value
                  button.cbtn.js-prev-step(type='button', disabled='') Prev
                  button.cbtn.js-next-step(type='button') Next
                #content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_F93204AAE5254E2988633E17A37D185F(class='fieldid.%7bF93204AA-E525-4E29-8863-3E17A37D185F%7d name.Gender validationgroup.form_E67819B227B04A11A49C04A5FEEB1354_submit')
                #content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_4E9115FF2DEF423ABFC19A51FDED9607(class='fieldid.%7b4E9115FF-2DEF-423A-BFC1-9A51FDED9607%7d name.Office+Number validationgroup.form_E67819B227B04A11A49C04A5FEEB1354_submit')
                #content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_8AE0CEE9DE4A4EFAB526665F20C0E6EF(class='fieldid.%7b8AE0CEE9-DE4A-4EFA-B526-665F20C0E6EF%7d name.Mobile+Number validationgroup.form_E67819B227B04A11A49C04A5FEEB1354_submit')
                #content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_5B4FEE19E5104FD39E282793FB9243AB(class='fieldid.%7b5B4FEE19-E510-4FD3-9E28-2793FB9243AB%7d name.Email+1 validationgroup.form_E67819B227B04A11A49C04A5FEEB1354_submit')
                #content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_7BD08C067A6F4DCFBA134ED1409821AA(class='fieldid.%7b7BD08C06-7A6F-4DCF-BA13-4ED1409821AA%7d name.Email+2 validationgroup.form_E67819B227B04A11A49C04A5FEEB1354_submit')
                #content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_CB60797DC2C841068FF6DD783E966BE7(class='fieldid.%7bCB60797D-C2C8-4106-8FF6-DD783E966BE7%7d name.Facebook+Account validationgroup.form_E67819B227B04A11A49C04A5FEEB1354_submit')
                #content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_0ED18503A23B4561A4EDB701662E6C3E(class='fieldid.%7b0ED18503-A23B-4561-A4ED-B701662E6C3E%7d name.Twitter+Account validationgroup.form_E67819B227B04A11A49C04A5FEEB1354_submit')
                #content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_0E932B1B3EE644E0B20FE0E4AD68DA5A(class='fieldid.%7b0E932B1B-3EE6-44E0-B20F-E0E4AD68DA5A%7d name.Linkedin+Account validationgroup.form_E67819B227B04A11A49C04A5FEEB1354_submit')
          div
            fieldset.scfSectionBorderAsFieldSet
              .scfSectionContent
                #content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_C5591CFDAE0D4F1EA5F383F0C4270736(class='fieldid.%7bC5591CFD-AE0D-4F1E-A5F3-83F0C4270736%7d name.Designation validationgroup.form_E67819B227B04A11A49C04A5FEEB1354_submit')
                #content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_687A1F7455EE40D5A04720F7656E68E9(class='fieldid.%7b687A1F74-55EE-40D5-A047-20F7656E68E9%7d name.Company validationgroup.form_E67819B227B04A11A49C04A5FEEB1354_submit')
                #content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_79D0F3744E974FD7ADB445328165B906(class='fieldid.%7b79D0F374-4E97-4FD7-ADB4-45328165B906%7d name.Industry validationgroup.form_E67819B227B04A11A49C04A5FEEB1354_submit')
                #content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_F4337DE9F73D4E2091C3479BB9DED6A3(class='fieldid.%7bF4337DE9-F73D-4E20-91C3-479BB9DED6A3%7d name.Job+Function validationgroup.form_E67819B227B04A11A49C04A5FEEB1354_submit')
                #content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_435E439A88164B578D285ECDC6593AEC(class='fieldid.%7b435E439A-8816-4B57-8D28-5ECDC6593AEC%7d name.Sessions+List validationgroup.form_E67819B227B04A11A49C04A5FEEB1354_submit')
          div
            fieldset.scfSectionBorderAsFieldSet
              .scfSectionContent
                #content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_8932EC505F1D4548BF3DF17522321D4F(class='fieldid.%7b8932EC50-5F1D-4548-BF3D-F17522321D4F%7d name.Subject+Interest validationgroup.form_E67819B227B04A11A49C04A5FEEB1354_submit')
                #content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_36270AE8BAAE4A9B919B2780CFF61505(class='fieldid.%7b36270AE8-BAAE-4A9B-919B-2780CFF61505%7d name.Subscribe+To+IMPact+Newsletter+All+Categories validationgroup.form_E67819B227B04A11A49C04A5FEEB1354_submit')
                #content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_1AB6C5972F67404E9F993305D747DDD5(class='fieldid.%7b1AB6C597-2F67-404E-9F99-3305D747DDD5%7d name.Subscribe+To+IMPact+Newsletter+Category+1 validationgroup.form_E67819B227B04A11A49C04A5FEEB1354_submit')
                #content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_AF157FBB3F4F48A3BBB3FF71FFDEB4FA(class='fieldid.%7bAF157FBB-3F4F-48A3-BBB3-FF71FFDEB4FA%7d name.Subscribe+To+IMPact+Newsletter+Category+2 validationgroup.form_E67819B227B04A11A49C04A5FEEB1354_submit')
                #content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_AFCDBB5FB2514D178367CC4414BDD092(class='fieldid.%7bAFCDBB5F-B251-4D17-8367-CC4414BDD092%7d name.Subscribe+To+Events+Type+1 validationgroup.form_E67819B227B04A11A49C04A5FEEB1354_submit')
                #content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_field_3904A928FF0D49CE988F33B2A67F490B(class='fieldid.%7b3904A928-FF0D-49CE-988F-33B2A67F490B%7d name.Subscribe+To+Events+Type+2 validationgroup.form_E67819B227B04A11A49C04A5FEEB1354_submit')
        #content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_footer.scfFooterBorder
        .scfSubmitButtonBorder
          input#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_form_E67819B227B04A11A49C04A5FEEB1354_submit.scfSubmitButton(type='submit', name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$form_E67819B227B04A11A49C04A5FEEB1354_submit', value='Submitt', onclick='$scw.webform.lastSubmit = this.id;')
        input#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_form_E67819B227B04A11A49C04A5FEEB1354_eventcount(type='hidden', name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$form_E67819B227B04A11A49C04A5FEEB1354_eventcount', value='1')
        input#content_3_eventregistrationform_0_form_E67819B227B04A11A49C04A5FEEB1354_form_E67819B227B04A11A49C04A5FEEB1354_anticsrf(type='hidden', name='content_3$eventregistrationform_0$form_E67819B227B04A11A49C04A5FEEB1354$form_E67819B227B04A11A49C04A5FEEB1354_anticsrf', value='119083a0-157a-4cc3-996d-0f0640fe419e')

  .event-details
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
