extends ../../_layouts/standard-detail

block append config
  - baseUrl = "../../"
  - pageUrl = "/events-listing/led-symposium"
  - var pageData = site.data.standardDetail.ledSymposium
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts

block detailContent
  +rte()
    p The Lean Enterprise Development (LED) Symposium 2018, themed "<strong>Transform and Grow: Agile Businesses Agile Workforce</strong>", will be a platform for participants to learn from more than 15 enterprises, of which have embraced technology and successfully transformed their business to capture new opportunities while creating new value for their employees.

    p Join us at the LED Symposium 2018 and find out how you can benefit from the LED Scheme to transform and grow your business.

    p
      a(href="#") Register here!

  p Brought to you by the LED Taskforce
  .row
    .col-sm-4.col-md-4
      img(src="/images/events/leds.png", alt="Lean Enterprise Development Logo")


