include ../buttons/buttons

mixin film(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.image = spec.image || 'http://placehold.it/300x150'
  - spec.title = spec.title || 'Title'
  - spec._desc = spec._desc || 'By Someone'
  - spec.tag = spec.tag || 'Tag'
  - spec.link = spec.link || '#'

  a.film(href=spec.link, class=spec.__class)&attributes(attributes)
    .film__image
      img(src=spec.image)
    .film__content.has-match-height
      h2.film__title=spec.title
      span.film__desc=spec._desc
      span.film__tag=spec.tag
      span.right-arrow
        +right-arrow