// film styles
.carousel__item,
.film-listing__item {
  a {
    background: #fff;
    border: 1px solid $borderGray2;
    display: block;
    margin-bottom: 16px;
    overflow: hidden;
    position: relative;
    transition: all .5s $easeInOutExpo;
    text-decoration: none;

    @include hover {
      &:hover, &:focus {
        box-shadow: $purpleShadowDark;
    
        .film__image {
          img {
            transform: scale(1.1);
          }
        }
    
        .film__title {
          color: $primaryPurple;
        }
  
        .film__content {
          &::before {
            width: 100%;
          }
        }
      }
    }
  }
}

.film__image {
  overflow: hidden;

  img {
    width: 100%;
    transition: transform .5s $easeInOutExpo;
  }
}

.film__title {
  color: $textBlack;
  font-size: calc-em(20px);
  font-weight: 600;
  margin: 8px 0;
}

.film__desc,
.film__tag {
  color: $bodyTextColor;
  font-weight: $roman;
  margin-top: 8px;
}

.film__content {
  padding: 20px 24px 38px;
  transition: background .5s $easeInOutExpo;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 3px;
    z-index: 1;
    background-color: $primaryPurple;
    transition: width 0.35s ease-in-out;

    @include nohover {
      width: 100%;
    }
  }
}
