// block-card styles
.block-card {
  background-color: #fff;

  &.block-card--double {
    @include desktopMax {
      display: none;
    }
  }
  
  @include desktop {
    @include aspect-ratio(308, 169, 100%);
  }

  a {
    text-decoration: none;
    color: $textBlack;
    padding: 16px 56px 16px 16px;
    border-style: solid;
    border-width: 1px;
    display: block;
    transition: all 0.25s ease-in-out;
    position: relative;
    
    @include desktop {
      padding: 16px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      text-align: right;
    }

    &:hover, &:focus {
      h3 {
        color: $primaryPurple;
      }
    }
  }

  h3 {
    font-size: calc-em(18px);
    line-height: 140%;
    margin: 0 0 8px;
    font-weight: 600;
    text-align: left;
  }

  p {
    margin: 0;
    text-align: left;
    
    @include desktop {
      padding: 0 56px 0 0;
      // text-overflow: ellipsis;
      // overflow: hidden;
      // white-space: nowrap;
    }
    
    @include lgDesktop {
      @include line-clamp(3);
      white-space: normal;
    }
  }

  svg {
    height: 14px;
    margin: 0;
    position: absolute;
    bottom: calc(50% - 7px);
    right: 16px;
    animation: rightleftshort 2s linear infinite alternate;
    
    @include desktop {
      bottom: 16px;
    }
  }

  .arrow-body {
    stroke-dasharray: 3;
    stroke-dashoffset: 0;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
  .arrow-head {
    stroke-dasharray: 3;
    stroke-dashoffset: 2;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 0.8s;
  }
  
  &:not(article) {
    picture {
      @include desktopMax {
        @include aspect-ratio(336, 96, 100%);
      }
    }

    @include desktop {
      padding-top: 0;
    }
  }

  picture {
    @include aspect-ratio(308, 169, 100%);

    img {
      @include absolute-img;
      @include image-cover;
    }
  }

  &--double {
    picture {
      @include aspect-ratio(308, 338, 100%);
    }
  }
}