// related-posts styles
.related-posts {
  .container {
    padding-top: 32px;
    padding-bottom: 40px;
    @include desktop {
      padding-top: 40px;
      padding-bottom: 48px;
    }
  }
  
  .col-md-4 {
    @include desktopMax {
      &:last-child {
        .teaser-card {
          margin: 0;
        }
      }
    }

    @include desktop {
      .teaser-card {
        height: 100%;
        margin: 0;
      }
    }
  }

  [data-carousel] {
    margin-bottom: 20px;

    @include desktop {
      margin-bottom: 0;
    }
  }

  .slick-list {
    display: flex;
  }

  .slick-track {
    display: flex;
  }

  .teaser-card {
    height: 100%;
  }

  .cta {
    margin-top: 40px;
    text-align: center;
  }
}
