include ../../molecules/event-listing-card/event-listing-card
include ../../molecules/press-release-card/press-release-card
include ../../molecules/teaser-card/teaser-card
include ../../molecules/section-header/section-header

mixin related-posts(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.related-posts
    .container
      if spec.title
        +section-header({
          "title": "Featured Programmes"
        })

      .row(data-carousel)
        each item in spec.items
          .col-md-4
            if spec.type == 'event'
              +event-listing-card(item)
            else if spec.type == 'press'
              +press-release-card(item)
            else
              +teaser-card(item)
      .imda-carousel__controls.imda-carousel__controls--dotsbar
        //- div.desktop-only(data-carousel-arrows)
        div(data-carousel-dots)

      if (spec.cta) 
        div.cta
          +button({
            "url": spec.cta.url,
            "label": spec.cta.name
          })