// download styles
.download-section {
  .title {
    font-family: $font-family;
    font-size: calc-em(16px);
    font-weight: $black;
  }
}

.download__desc {
  font-weight: $heavy;
  font-size: calc-em(15px);
}

.download__title {
  .name {
    font-family: $font-family;
    font-weight: $black;
  }

  .icon {
    img {
      display: inline;
    }
  }
}
