mixin download(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.desc = spec.desc || ''
  - spec.image = spec.image || ''
  - spec.name = spec.name || ''

  .download(class=spec.__class)&attributes(attributes)
    if spec.desc
      span.download__desc=spec.desc
    a(href="/assets/images/something.pdf").download__button
      if spec.image
        .download__image
          img(src=spec.image)
      .download__title.has-match-height
        span.name=spec.name
        .icon
          img(src="/Cwp/assets/imda/images/icon-download.png")
          span PDF
