// introduction styles
.introduction {
  // padding: 40px 0 125px;
  color: #fff;
  position: relative;
  overflow: hidden;

  // @include desktop {
    padding: 30px 0 0;
    margin: -30px 0 0;

    &:before {
      content: '';
      width: 275px;     // add 15px from half of triangle
      height: 30px;
      position: absolute;
      bottom: calc(100% - 32px);
      left: -15px;     // offset 15px from half of triangle
      transform: skewX(44.02897806deg);

      @media only screen and (min-width: 1440px) {
        left: calc(50% - 735px);     // minus 15px from half of triangle
      }
    }
    
    @media only screen and (min-width: 1440px) {
      &:after {
        content: '';
        width: calc(50% - 720px);
        height: 30px;
        position: absolute;
        bottom: calc(100% - 32px);
        left: 0;
      }
    }
  // }

  .container {
    // position: static;
    
    // @include desktop {
      display: flex;
    // }

    // @media only screen and (min-width: 1440px) {
    //   position: relative;
    // }
  }
  
  h2 {
    position: relative;
    margin: 0 0 16px;
    font-weight: 500;
    // font-size: calc-em(26px);
    line-height: 120%;
    
    // @include desktop {
    font-size: calc-em(36px);
    // }
    
    b {
      font-weight: 800;
    }
  }

  &__text {
    position: relative;
    z-index: 1;

    .rte {
      color: #fff;
    }

    // @include desktop {
      flex: 0 0 62%;
      max-width: 62%;
      padding: 48px 0;
      min-height: 275px;
    // }
  }

  &__image {
    position: absolute;
    bottom: 0;
    right: 8.4%;
    z-index: 0;

    // @include tablet {
      width: calc(30% - 15px);
    // }

    .shape {
      // @include tabletMax {
      //   width: 208px;
      //   height: 135px;
      // }
      
      // @include tablet {
        @include aspect-ratio(370, 240, 100%);
        width: 100%;
      // }
    }

    .imda-letter {
      position: absolute;
      
      &--1 {
        width: 17%;
        top: 16.2962963%;
        left: 7.913669065%;
        animation: updownshort 3s ease-in-out infinite alternate;
      }
      
      &--2 {
        width: 17%;
        top: 16.2962963%;
        left: 42%;
        animation: updownshort 3s ease-in-out infinite alternate;
      }
      
      &--3 {
        width: 32%;
        top: 16.2962963%;
        left: 83%;
        animation: rightleftshort 3s ease-in-out infinite alternate;
      }
      
      &--4 {
        width: 19%;
        top: 52.7%;
        left: 77%;
        animation: rightleftshort 3s ease-in-out infinite alternate;
      }
      
      &--5 {
        width: 19%;
        top: 52.7%;
        left: 103%;
        animation: rightleftshort 3s ease-in-out infinite alternate;
      }

      path {
        position: absolute;
        top: 0;
      }
    }
  }
}