include ../../molecules/rte/rte

mixin introduction(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.introduction.desktop-only
    div
      .container
        .introduction__image
          .shape
            svg.imda-letter.imda-letter--1(viewBox="0 0 66 291" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M1 288.998L64.7581 255.608V36.322L1 2.14648V288.998Z" stroke-width="1.5" stroke-miterlimit="10")
            svg.imda-letter.imda-letter--2(viewBox="0 0 66 291" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M0.777832 36.1756V255.461L64.5359 288.851V2L0.777832 36.1756Z" stroke-width="1.5" stroke-miterlimit="10")
            svg.imda-letter.imda-letter--3(viewBox="0 0 132 147" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M1.73975 1.03125L66.1324 144.26L130.555 1.03125H1.73975Z" stroke-width="1.5" stroke-miterlimit="10")
            svg.imda-letter.imda-letter--4(viewBox="0 0 77 190" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M1.72559 188.82H75.6064L1.72559 4.58594V188.82Z" stroke-width="1.5" stroke-miterlimit="10")
            svg.imda-letter.imda-letter--5(viewBox="0 0 77 190" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M1.91797 188.964H75.7988V4.73047L1.91797 188.964Z" stroke-width="1.5" stroke-miterlimit="10")

        .introduction__text
          h2 !{spec.title}
          +rte
            | !{spec.content}
