// notification styles
.notification {
  background: transparentize($background, .15);
  display: none;
  padding: 20px 0;

  .btn-close {
    background: none;
    border: 0;
    color: #000;
    height: 35px;
    position: absolute;
    right: 0;
    top: -5px;
    width: 35px;

    .icon {
      font-size: 1.3em;
    }
  }

  &__content {
    padding-right: 35px;
    position: relative;
  }

  p {
    margin: 0;
  }

  a {
    color: $darkBlue;

    &:visited {
      color: $purple;
    }

    &:hover, &:focus {
      color: $red;
    }
  }
}
