mixin notification(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .notification
    .container
      .notification__content
        != spec.message
        button.btn-close(type="button")
          span.vh Close notification
          span.icon.icon-close
