// social-share styles
.social-share {
  @include desktopMax {
    display: flex;
    align-items: center;
  }

  &__label {
    display: block;
    margin: 0 0 16px;
    font-weight: 600;
    line-height: 140%;
    color: $primaryPurple;

    @include desktopMax {
      margin: 0 16px 0 0;
    }
  }

  &__list {
    @extend %list-unstyled;
    display: inline-block;
    margin: 0;

    @include desktopMax {
      display: flex;
      align-items: center;
    }

    li {
      display: block;
      margin: 0 0 10px;

      &:last-child {
        margin: 0;
      }
      
      @include desktopMax {
        margin: 0 10px 0 0;
      }
    }
  }

  &--horizontal {
    padding: 20px 0;
  }

  .btn-share {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    color: $primaryPurple;
    border: 1px solid $primaryPurple;
    background-color: #fff;
    margin-bottom: 0;

    .icon {
      position: relative;
      z-index: 1;
    }

    &:hover, &:focus {
      color: #fff;
      background-color: $primaryPurple;
    }
  }
}
