mixin social-share(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .social-share.addthis_toolbox&attributes(attributes)
    p.social-share__label Share:
    ul.social-share__list
      li
        a.btn-share.addthis_button_linkedin(href="#", title="Share to LinkedIn")
          span.icon.icon-linkedin
      li
        a.btn-share.addthis_button_facebook(href="#", title="Share to Facebook")
          span.icon.icon-facebook
      li
        a.btn-share.addthis_button_twitter(href="#", title="Share to Twitter")
          span.icon.icon-twitter
      


