include ../../molecules/article-link/article-link

mixin selected-posts(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .selected-posts
    ul.selected-posts__list
      .row
        - columnClass = (spec.items.length > 2) ? 'col-md-4 col-sm-6' : 'col-md-4 col-sm-6'
        each item in spec.items
          li(class= columnClass)
            +article-link(item)
