// selected-posts styles
.selected-posts {
  margin: 20px 0;

  &__list {
    @extend %list-unstyled;

    .row {
      justify-content: left;
    }

    li {
      margin-bottom: 10px;

      &.col-md-4 {
        .article-link {
          &__title {
            a {
              font-size: calc-em(24px);
            }
          }
        }
      }
      &.col-md-6 {
        .article-link {
          &__title {
            a {
              font-size: calc-em(24px);
            }
          }
        }
      }
    }
  }
}
