include ../../molecules/collapsible-content/collapsible-content

mixin about-us-intro(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  article.article-intro(class=spec.__class)&attributes(attributes)
    .container
      .row
        .col-md-3
          h2=spec.title
        .col-md-9
          +collapsible-content({
            "text": spec.text,
            "expandLabel": "Read more",
            "collapseLabel": "Close",
            "isText": true
          })
            | !{spec.collapsibleContent}
      if block
        block
