// about-us-intro styles
.article-intro {
  background-color: $darkerPurple;
  padding: 48px 0 56px;
  color: #fff;
  
  @include desktop {
    margin: -2px 0 0;
    padding: 74px 0 72px; // extra 3px due to negative margin
  }

  h2 {
    font-weight: 600;
    font-size: calc-em(32px);
    line-height: 140%;
    margin: 0 0 8px;
    
    @include desktop {
      font-size: calc-em(40px);
    }
  }
}