// showcase-section styles
.showcase-section{
  h4 {
    font-size: calc-em(50px);
    font-family: $font-family;
    font-weight: $light;
    line-height: 3.125rem;
  }
}

@media only screen and (max-width: $bpTablet - 1) {
  .showcase-section {
    h4 {
      font-size: calc-em(30px);
    }

    .col-4 {
      width: 100%;
    }
  }
}
