include ../../molecules/showcase-card/showcase-card

mixin showcase-section(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.showcase-section(class=spec.__class)&attributes(attributes)
    .container.container--mw1140
      h4 Technology Showcase
      a.sggd-btn(class="sggd-btn--standard sggd-showcase-btn", href="#")&attributes(attributes)
        .btn-text
          span VIEW ALL
        .arrow
          .arrow-wrapper
            span.left
            span.right
      .col-4
        +showcase-card()
      .col-4
        +showcase-card()
      .col-4
        +showcase-card()

      a.sggd-btn(class="sggd-btn--standard sggd-showcase-btn-mobile", href="#")&attributes(attributes)
        .btn-text
          span VIEW ALL
        .arrow
          .arrow-wrapper
            span.left
            span.right
