include ../../molecules/breadcrumbs/breadcrumbs
include ../../atoms/buttons/buttons

mixin page-header(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .page-header(class=spec.__class)&attributes(attributes)
    .page-header__bg
      svg.svg-triangle2(width="359" height="230" viewBox="0 0 359 230" fill="none" xmlns="http://www.w3.org/2000/svg")
        path.updown(d="M158.501 229.168L108.747 202.928V27.7218L158.501 0.838485V229.168Z" stroke="white")
        path.updown(d="M50.2538 202.928L0.5 229.168V0.838485L50.2538 27.7218V202.928Z" stroke="white")
        path.leftright(d="M274.528 229.5H216.962V84.8815L274.528 229.5Z" stroke="white")
        path.leftright(d="M361.5 84.8815V229.5H303.934L361.5 84.8815Z" stroke="white")
        path.leftright(d="M289.224 113.654L238.745 0.549805H339.717L289.224 113.654Z" stroke="white")
    .page-header__image
      picture
        source(srcset= spec.mobileImage, media="(max-width: 1023px)")
        source(srcset= spec.image)
        img(src= spec.image, alt= spec.title)
    .container
      +breadcrumbs({
        "items": spec.breadcrumbs
      })

    .page-header__info-wrapper
      .container
        .page-header__info
          if spec.sectionName
            span.section-name= spec.sectionName

          h1.page-title= spec.pageTitle

          if spec.description
            p.page-description= spec.description

          if spec.ctas
            .page-header__ctas
              each cta in spec.ctas
                +button({
                  "label": cta.label,
                  "url": cta.url
                })