// page-header styles
.page-header {
  position: relative;
  border-bottom: 2px solid $purple40;

  @include tablet {
    padding: 24px 0 0;

    &:before {
      content: '';
      background-color: #fff;
      width: 191px;     // add 15px from half of triangle
      height: 30px;
      position: absolute;
      bottom: -2px;
      left: calc(75% - 60px);     // 8 columns + gutter
      transform: skewX(-44.02897806deg);
      border-top: 2px solid $purple40;
      border-left: 3px solid $purple40;
      z-index: 2;
    }
    
    &:after {
      content: '';
      background-color: #fff;
      border-top: 2px solid $purple40;
      width: calc(25% - 15px);   // 3 columns of 1390
      height: 30px;
      position: absolute;
      bottom: -2px;
      right: 0;
      z-index: 2;
    }
  }

  @include desktop {
    padding: 24px 0 0;
  }

  &--purple {
    @include tablet {
      &:before {
        content: '';
        background-color: $darkerPurple;
      }
      
      &:after {
        background-color: $darkerPurple;
      }
    }
  }

  &--remove-overlay {
    .page-header__info-wrapper {
      &::before {
        background: transparent;
      }
    }
  }

  .breadcrumbs {
    width: 100%;

    @include desktopMax {
      display: none;
    }
  }

  > .container {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
  }

  &__image {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;

    img {
      height: 100%;
      object-fit: cover;
      object-position: center center;
      width: 100%;
    }
  }

  .section-name {
    color: #fff;
    display: inline-block;
    font-size: calc-em(13px);
    font-weight: $light;
    padding-top: 10px;
    position: relative;
    text-transform: uppercase;
  }

  &__info-wrapper {
    width: 100%;
    position: relative;
    padding: 94px 0 16px;
    
    @include tablet {
      padding: 0 0 40px;
      margin: 128px 0 0;
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0,0,0,0.30) 40%, rgba(0, 0, 0, 0.70));
    }
  }

  &__info {
    > * {
      &:last-child {
        margin: 0;
      }
    }

    @include desktop {
      height: 100%;
      width: 70%;
      align-self: flex-end;
    }
    
    @include lgDesktop {
      width: 65%;
    }
  }

  .page-title {
    color: #fff;
    font-weight: 700;
    line-height: 1.2;
    font-size: calc-em(40px);
    margin: 0 0 8px;
    text-shadow: $textGlow1;
    
    @include desktop {
      font-size: calc-em(64px);
    }
  }

  .page-description {
    color: #fff;
    font-weight: 500;
    line-height: 1.4;
    text-shadow: $textGlow1;
    margin: 0 0 24px;
    
    @include desktop {
      font-size: calc-em(18px);
    }
  }
  
  &__ctas {
    a {
      margin: 0 10px 10px 0;
    }
  }

  &__image {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__bg {
    display: none;

    @include lgDesktopMax {
      svg {
        width: 260px;
        height: 166px;
      }
    }

    @include desktop {
      display: inline-block;
      position: absolute;
      bottom: 0px;
      right: 0;
      z-index: 1;
      padding: 20px 0;
      overflow: hidden;

      svg {
        position: relative;
        overflow: visible;
        top: 30px;
      }
      
      .updown {
        animation: downupshort 2.5s linear infinite alternate;
      }

      .leftright {
        animation: rightleftshort 2.5s linear infinite alternate;
      }
    }

    @include lgDesktop {
      svg {
        top: 50px;
      }
    }
  }
}
