extends ../_layouts/standard-detail

include ../_modules/molecules/tags-list/tags-list

block append config
  - pageUrl = "/inner-page-about"
  - var pageData = site.data.standardDetail.articlePage
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts

block detailContent
  +rte()
    h2 New 99%SME platform enables retailers to access new markets and business insights, last-mile delivery options and stronger customer engagement features

    +tags-list({
      "items": tags,
      "isButton": true
    }).tags-list--links

    +tags-list({
      "items": tags
    }).tags-list--links
    p <b>Singapore - 11 January, 2019</b>: The Infocomm Media Development Authority (IMDA), Singtel and DBS today rolled out a new 99%SME e-commerce platform (99sme.sg) that aims to help Small and Medium Enterprises (SMEs) merchants in Singapore easily adopt digital technologies and provide their customers with omni-channel experiences. The new platform was launched by Ms Sim Ann, Senior Minister of State, Ministry for Communications and Information and Ministry of Culture, Community and Youth.

    h3 Capabilities of the new 99%SME platform

    p The new platform (99sme.sg) complements the 99%SME campaign, co-founded by Singtel and DBS, to help SMEs adopt digital technology to grow their businesses and supports IMDA’s existing plans to boost the digital capabilities of Singapore’s retail sector.

    p SMEs can tap into the platform’s new omni-channel and retail features to grow their customer base using both their offline and online presence effectively. The platform allows retailers to offer ‘last-mile’ delivery options to their online customers by allowing them to perform self-collection from the stores. This enables SMEs to upsell and cross-sell to online customers who walk into their stores and collect their merchandise. SME merchants can also use the platform’s business insights and reports to better understand sales performance of product categories and help them plan their product mix to optimise sales and inventory.

    p There is no charge for SMEs to list their products or services. Participating merchants can also freely use the platform’s library of common copyright-free product images and details to list their products and services more easily.

    p For the consumer, the new 99%SME platform will enable them to conveniently find the nearest and most relevant SME store and product based on their search query. They can also enjoy the platform’s recommended or similar products, based on their needs and previous usage patterns.

    p Ms Jane Lim, Assistant Chief Executive, Sector Transformation Group, IMDA, said: “With the strong growth of e-commerce in Singapore, our neighbourhood retailers with physical stores should capitalise on this opportunity by going omni-channel. Dedicated platforms such as the 99%SME platform can help them digitalise and compete more effectively in an increasingly connected and globalised market. Residents will benefit too as they will be able to search and buy products more easily from their neighbourhood retailers, whether they shop offline or online.”

    p “The new 99%SME platform presents SMEs with all the features of a digital marketplace to optimise their market exposure and help shoppers find and buy their products either online or in-store. The platform will greatly benefit SMEs by giving them the opportunity to develop an online revenue stream and, at the same time, encourage more buyers to visit their physical stores,” said Mr Andrew Lim, Managing Director, Business Group at Singtel. “As a founding member of the 99%SME movement, we are committed to helping SMEs scale up and thrive in a highly competitive environment and make the most of new opportunities in the fast-growing digital economy.”

    p In addition, merchants on 99%SME will also have access to DBS’ B2B e-marketplace, which enables SMEs to sell their goods and services to large corporations. These SMEs can also access supply chain connections, financing, and payment solutions that are usually only open to large enterprises.

    p “Recognising that SMEs need more support to thrive in the digital economy, multi-national corporations (MNCs) and public sector partners must collaborate to close the gap with SMEs,” said Ms Joyce Tee, Group Head of SME Banking, DBS Bank. “The B2B e-marketplace pilot launch was successful, and we’re in the processing of onboarding large corporates. With support from the broader ecosystem partners and by leveraging the power of new technologies, SMEs will be given the tools needed to grow revenue and expand into new markets.”

    p To help SMEs accelerate their digitalisation journey, Singtel and DBS are partnering the Federation of Merchants’ Association, trade associations, chambers of commerce, polytechnics and corporate partners to reach out and encourage SMEs to support the new 99%SME platform.

    p Mr Yeo Hiang Meng, President, Federation of Merchants’ Association Singapore (FMAS), said: “FMAS welcomes dedicated efforts like these, which will benefit heartland retailers and get them ready for the new digital economy. Every heartland and neighbourhood have its own unique retail mix and having an omni-channel presence helps open up more opportunities for retailers.”

    p The launch of the new platform marks another milestone in the journey of the annual 99%SME campaign to help SMEs in Singapore transform and operate in the digital economy. Since its launch in 2015, the campaign has supported more than 8,000 SMEs in their digitalisation journey.

    p For more information, please visit <a href="https://www.99sme.sg" target="_blank">99sme.sg</a>.

    hr

    p
      strong Resources: #{' '}
      a(href="https://www.imda.gov.sg/-/media/imda/files/about/media-releases/2019/factsheet_new99smelaunch_10-jan-final.pdf?la=en" target="_blank") Annex A: 99%SME Platform fact sheet

    hr

    h3 ISSUED BY THE INFOCOMM MEDIA DEVELOPMENT AUTHORITY, SINGAPORE TELECOMMUNICATIONS, AND DEVELOPMENT BANK OF SINGAPORE

    hr

    h4 About Infocomm Media Development Authority (IMDA)

    p The Infocomm Media Development Authority (IMDA) leads Singapore’s digital transformation with infocomm media. To do this, IMDA will develop a dynamic digital economy and a cohesive digital society, driven by an exceptional infocomm media (ICM) ecosystem – by developing talent, strengthening business capabilities, and enhancing Singapore's ICM infrastructure. IMDA also regulates the telecommunications and media sectors to safeguard consumer interests while fostering a pro-business environment, and enhances Singapore’s data protection regime through the Personal Data Protection Commission.

    p For more news and information, visit <a href="/">www.imda.gov.sg</a> or follow IMDA on Facebook IMDAsg and Twitter @IMDAsg.

    h4 About Singtel

    p Singtel is Asia's leading communications technology group, providing a portfolio of services from next-generation communication, technology services to infotainment to both consumers and businesses. For consumers, Singtel delivers a complete and integrated suite of services, including mobile, broadband and TV. For businesses, Singtel offers a complementary array of workforce mobility solutions, data hosting, cloud, network infrastructure, analytics and cyber-security capabilities. The Group has presence in Asia, Australia and Africa and reaches over 700 million mobile customers in 21 countries. Its infrastructure and technology services for businesses span 21 countries, with more than 428 direct points of presence in 362 cities.

    p For more information, visit <a href="https://www.singtel.com" target="_blank">www.singtel.com</a>

    p Follow us on Twitter at <a href="https://www.twitter.com/SingtelNews" target="_blank">www.twitter.com/SingtelNews</a>.

    h4 About DBS

    p DBS is a leading financial services group in Asia, with over 280 branches across 18 markets. Headquartered and listed in Singapore, DBS has a growing presence in the three key Asian axes of growth: Greater China, Southeast Asia and South Asia. The bank's "AA-" and "Aa1" credit ratings are among the highest in the world.

    p Recognised for its global leadership, DBS has been named “Global Bank of the Year” by The Banker and “Best Bank in the World” by Global Finance. The bank is at the forefront of leveraging digital technology to shape the future of banking, having been named “World’s Best Digital Bank” by Euromoney. In addition, DBS has been accorded the “Safest Bank in Asia” award by Global Finance for ten consecutive years from 2009 to 2018.

    p DBS provides a full range of services in consumer, SME and corporate banking. As a bank born and bred in Asia, DBS understands the intricacies of doing business in the region’s most dynamic markets. DBS is committed to building lasting relationships with customers, and positively impacting communities through supporting social enterprises, as it banks the Asian way. It has also established a SGD 50 million foundation to strengthen its corporate social responsibility efforts in Singapore and across Asia.

    p With its extensive network of operations in Asia and emphasis on engaging and empowering its staff, DBS presents exciting career opportunities. The bank acknowledges the passion, commitment and can-do spirit in all of our 26,000 staff, representing over 40 nationalities. For more information, please visit <a class="link__external" href="https://www.dbs.com" target="_blank">www.dbs.com</a>.

    hr

    p
      strong For media clarifications, please contact

    ul
      li
        p
          | Christopher Koh
          br
          | Senior Manager, Communications and Marketing, IMDA
          br
          | DID: (65) 6211 1709
          br
          | Email: <a href="mailto:Christopher_Koh@imda.gov.sg">Christopher_Koh@imda.gov.sg</a>
      li
        p
          | Sonny Phua
          br
          | Manager
          br
          | Singtel Group Strategic Communications and Brand
          br
          | Tel: +65 8511 7996
          br
          | Email: <a href="mailto:sonnyphua@singtel.com">sonnyphua@singtel.com</a>
      li
        p
          | Gwen Lee
          br
          | Assistant Vice President
          br
          | Group Strategic Marketing and Communications, DBS Bank
          br
          | Tel: +65 8636 2195
          br
          | Email: <a href="mailto:gwenlee@dbs.com">gwenlee@dbs.com</a>

block bottomContent
  +purplebg-section-wrapper()
    +related-posts({
      "title": "Featured Programmes",
      "cta": {
        "name": "View all programmes",
        "url": "/programme-listing"
      },
      "items": relatedPosts
    })
    +three-col-imgcard({
      "title": "Latest Stories",
      "cta": {
        "name": "View all stories",
        "url": "/news-listing"
      },
      "items": [
        {
          "url": "#1",
          "title": "Bringing local treats abroad with IMDA's CTO-as-a-Service",
          "image": "/images/news/news-5.jpg",
          "tags": [
            "Industry 4.0",
            "Innovation"
          ]
        },
        {
          "url": "#2",
          "title": "Coding talents Swiftly discovered",
          "image": "/images/news/news-1.jpg",
          "tags": [
            "technology",
            "talent"
          ]
        },
        {
          "url": "#2",
          "title": "New Singapore Digital Scholarship offers global exposure and more",
          "image": "/images/news/news-4.jpg",
          "tags": [
            "education",
            "artificial intelligence"
          ]
        }
      ]
    })
