include ../../molecules/image-card/image-card

mixin standard-content-carousel(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .standard-content__carousel(class=spec.__class )&attributes(attributes)
    .container
      .standard-content__list(data-carousel)
        each item in spec.items
          .standard-content__item
            +image-card(item)
      .imda-carousel__controls.imda-carousel__controls--stories
        div.no-desktop(data-carousel-pager)
        div(data-carousel-arrows)
        div.desktop-only(data-carousel-dots)