// standard-content-carousel styles
.standard-content__carousel {
  margin: 0 0 30px;

  @include desktop {
    margin-bottom: 60px;
  }

  .container {
    padding: 0;
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    height: inherit;
  }

  .standard-content {
    &__list {
      margin: 0 -15px 32px;

      @include tablet {
        margin: 0 -15px 22px;
      }
    }

    &__item {
      padding: 0 15px;

      &> * {
        height: 100%;
      }
    }
  }

  .imda-carousel__controls {
    @include desktop {
      justify-content: flex-start;
    }

    [data-carousel-dots] {
      margin: 0 0 0 32px;
    }
  }
}