mixin banner(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .banner(class=spec.__class)&attributes(attributes)
    .banner-image
      img.desktop-img(src="/images/banner3.jpg", alt="", srcset="")
      img.mobile-img(src='/images/banner1small.jpg')
    .banner-content
      .container
        h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, in architecto perferendis vero sequi nam quis.
    .banner-content.banner-content--mobile
      .container
        h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, in architecto perferendis vero sequi nam quis.
