include ../../molecules/download/download

mixin download-section(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.download-section(class=spec.__class)&attributes(attributes)
    .row
      .col-xs-12.col-sm-12.col-md-12
        p.title Read our e-brochures:
      .col-xs-12.col-sm-12.col-md-12
        .row
          +download({
            "desc": "Read our Film e-brochure if you are interested to know more.",
            "image": "/images/brochure-1.jpg",
            "name": "Film e-brochure",
            "__class": "col-xs-12 col-sm-6 col-md-6"
          })
          +download({
            "desc": "Check out Singapore’s beautiful landscape in our Locations Brochure.",
            "image": "/images/brochure-2.jpg",
            "name": "Film Locations and Media Services",
            "__class": "col-xs-12 col-sm-6 col-md-6"
          })
