extends ../_layouts/base

include ../_modules/organisms/profile-landing/profile-landing

block append stylesheets

block append scripts

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - pageTitle = 'Profile Selector'
  - isProfileLanding = true

//- block breadcrumb
  //- +breadcrumb()

//- block banner
  //- +banner()

block content
  +profile-landing
