mixin pagination(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .pagination&attributes(attributes)
    ul.pagination__list
      - var i = 0
      if spec.currentPage > 1
        li.first-page
          a(href= spec.baseUrl + '?page=1', title="First page")
            span.icon.icon-arrow-left

        li.prev-page
          a(href= spec.baseUrl + '?page=' + (spec.currentPage), title="Previous page")
            span.icon.icon-arrow-left

      while i < spec.noOfPages
        - var currentPageClass = ((i + 1) == spec.currentPage) ? 'active' : ''
        li(class= currentPageClass)
          a(href= spec.baseUrl + '?page=' + (i + 1), title="Page " + (i + 1))= (i + 1)
        - i++

      if spec.currentPage < spec.noOfPages
        li.next-page
          a(href="#")
            span.icon.icon-arrow-right
        li.last-page
          a(href= spec.baseUrl + '?page=' + spec.noOfPages, title="Last page")
            span.icon.icon-arrow-right

mixin pagination-js()
  .pagination&attributes(attributes)
    ul.pagination__list
