// pagination styles
.pagination {
  text-align: center;

  @include mobileMax {
    margin: 0 -15px;
    white-space: nowrap;
  }

  &__list {
    @extend %list-unstyled;
    @extend %clearfix;
    display: inline-block;

    @include mobileMax {
      white-space: nowrap;
    }

    li {
      display: inline-block;
      margin-right: 10px;

      @include mobileMax {
        margin-right: 0px;
        font-size: calc-em(14px);
      }

      &.active {
        a {
          background: $purple20;
          color: $textBlack;
        }
      }

      &.first-page {
        .icon {
          &:before {
            border-left: 2px solid $purple;
          }
        }
      }

      &.last-page {
        .icon {
          &:before {
            border-right: 2px solid $purple;
          }
        }
      }

      a {
        align-items: center;
        border: 2px solid transparent;
        border-radius: 50%;
        color: $textBlack;
        display: flex;
        font-weight: 600;
        height: 40px;
        justify-content: center;
        margin: 0px;
        text-decoration: none;
        width: 40px;

        &:hover, &:focus {
          background: $purple20;
          color: $textBlack;
        }
      }

      &.prev-page, &.next-page {
        a {
          border: 1px solid $primaryPurple;
          color: $primaryPurple;

          &:hover, &:focus {
            color: $primaryPurple;
          }
        } 
         
      }
    }
  }
}
