extends ../../_layouts/standard-listing

block append config
  - baseUrl = "../../"
  - pageUrl = "/news-events/key-events"
  - var pageData = site.data.standardListing.keyEvents
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageHeader = pageData.pageHeader
  - pageItems = pageData.items
