extends ../_layouts/microsite

include ../_modules/organisms/banner/banner
include ../_modules/molecules/button-centered/button-centered
include ../_modules/molecules/content-carousel/content-carousel
include ../_modules/molecules/content-listing/content-listing
include ../_modules/molecules/download-box/download-box
include ../_modules/molecules/icon-list-box/icon-list-box
include ../_modules/molecules/image-box/image-box
include ../_modules/molecules/title-box/title-box
include ../_modules/molecules/video-box/video-box
include ../_modules/molecules/video-list-box/video-list-box
include ../_modules/organisms/cta-section/cta-section

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - pageTitle = 'SG Digital Inner Page'

block content
  section.breadcrumb-page.resize
    .container
      ul
        li
          a(href='#') Home
        li
          a(href='#') Infocomm & Media Buzz
        li
          a(href='#') Digital Government
        li
          a(href='#') TechSkills Accelerator to boost ICT professional

  .sggd-wrapper
    +banner()
    section.content
      section.article.resize
        .container
          .section-title
            span.date last updated 25 may 2016

          .share
            .left
              img(src="/Cwp/assets/imda/images/share-btn-dummy.png")
            .right
              ul
                li
                  a(href="#")
                    img(src="/Cwp/assets/imda/images/ic-print.png")
                    span print
                li
                  a(href="#")
                    img(src="/Cwp/assets/imda/images/ic-share.png")
                    span share

          h2 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus tenetur alias pariatur vitae, delectus error aperiam repellat id cupiditate at! Reprehenderit illum odit iusto cum excepturi rem odio similique omnis.
          strong Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis minima maiores commodi?
          br
          br
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum in consequatur velit non? Totam sunt iure enim odit odio numquam deserunt, eos ratione a! Natus blanditiis earum consectetur rem reiciendis! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint aliquam cum at non nisi deserunt, exercitationem veniam asperiores a iure? Rem eaque minus quasi sunt nulla deleniti perspiciatis porro accusantium?
          +title-box()
          +video-box()
          +title-box()
          +video-list-box()
          +button-centered()
          +title-box()
          br
          br
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptates non excepturi autem qui? Unde error id eligendi praesentium, eum sapiente inventore nobis. Itaque inventore nobis aperiam quisquam dolorum rem! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur hic reprehenderit ipsum accusantium illum laborum, saepe sint, corporis tempora debitis, voluptas excepturi et nihil qui consectetur exercitationem officia veniam aliquid?
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia deleniti veritatis illum. Sequi, sit tempora. In eum quia consequuntur voluptate non velit, sunt, expedita delectus illo voluptatum voluptas maiores atque! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non eveniet explicabo veniam repellendus cumque amet laudantium maxime odit aut cupiditate impedit minima esse, natus sed quaerat illo nam voluptates itaque. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur voluptatem, exercitationem eum ipsam deserunt sapiente neque nisi nobis fuga voluptates est eligendi quisquam libero? Dignissimos neque illo debitis culpa et.
          //<p style="text-align: center;"><img height="626" alt="9 key tech trends" width="918" src="/images/homepage/success-1.jpg" style="height: 626px; width: 918px;"></p>
          +title-box()
          +icon-list-box({"items": 3})
          +title-box()
          +icon-list-box({"items":2})
          +title-box()
          +icon-list-box()
          +title-box()
          +content-carousel()
          +title-box()
          +image-box()
          +image-box()
          +image-box()
          +image-box()
          +image-box()
          +title-box()
          +content-listing()
          +download-box()
          h2 Read On
    +cta-section({
      "page": "componenttemplate"
    })

