include ../../custom-select/custom-select
include ../../atoms/loading-icon/loading-icon

mixin featured-events-carousel(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.featured-events-carousel(class=spec.__class data-templateid=spec.templateid data-imagetemplateid=spec.imagetemplateid)&attributes(attributes)
    if spec.background
      .featured-events-carousel__background
        div#featuredEventsImages

    .container
      header.featured-events-carousel__header
        h2.sr-only=spec.title
        +custom-select(spec.filter)
        if spec.text
          p.desktop-only=spec.text
      .featured-events-carousel__content
        +loading-icon()
        block

    if spec.template === 'profile'
      script#eventsProfilePicksImageTemplate(type="text/x-dot-template")
        +event-listing-card-placeholder

      script#eventsProfilePicksTemplate(type="text/x-dot-template")
        |{{? it.length}}
        |{{~ it :item:index}}
        +event-listing-thumbnail-card-dot()
        |{{~}}
        |{{??}}
        +event-listing-card-placeholder
        |{{?}}
    else
      script#eventsTopPicksTemplate(type="text/x-dot-template")
        |{{? it.length}}
        |{{~ it :item:index}}
        +events-carousel-item-dot()
        |{{~}}
        |{{??}}
        +events-carousel-item-placeholder
        |{{?}}

    script(id=spec.dataId type="application/json").
      !{JSON.stringify(spec.data)}