// featured-events-carousel styles
.featured-events-carousel {
  margin: 70px 0 0;
  padding: 0 0 51px;
  position: relative;

  @include desktop {
    margin: 140px 0 0;
  }

  &__background {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 75%;

    img {
      @include image-cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      filter: blur(50px);
      
      @include desktop {
        filter: blur(225px);
      }
      @supports (-webkit-touch-callout: none) {
        filter: blur(50px);
        -webkit-filter: blur(50px);
      }
    }
    
    .event-listing-card-placeholder {
      filter: blur(50px);
      
      @include desktop {
        filter: blur(225px);
      }

      @supports (-webkit-touch-callout: none) {
        filter: blur(50px);
        -webkit-filter: blur(50px);
      }
    }
  }

  &--top-picks {
    margin: 70px 0 79px;
    position: relative;
    z-index: 1;
    
    @include desktop {
      margin: 140px 0;
    }

    .container {
      padding: 0;
    }

    .imda-carousel__controls {
      padding: 0 30px;
      margin: 17px 0 0;

      @include desktop {
        margin: 23px 0 0;
      }

      [data-carousel-arrows] {
        .slick-arrow {          
          &.slick-prev {
            @include desktop {
              left: 24px;
            }
          }
          
          &.slick-next {
            @include desktop {
              right: 24px;
            }
          }
        }
      }
    }
  }

  &--profile-picks {
    z-index: 0;

    .container {
      @include desktop {
        padding: 0 60px;
      }
      
      @media only screen and (min-width: 1520px) {
        padding: 0 30px;
      }
    }

    .featured-events-carousel__content {
      .slick-list {
        @include desktopMax {
          overflow: visible;
        }
      }

      .slick-track {
        @include desktopMax {
          width: 100% !important;
          position: static;
          @include aspect-ratio(335, 328, 100%);
        }
      }
  
      .slick-slide {
        @include desktopMax {
          position: absolute !important;
          top: 0 !important;
          left: 0 !important;
        }
      }
    }

    .imda-carousel__controls {
      margin: 60px 0 0;

      @include desktop {
        margin: 15px 0 0;
      }

      [data-carousel-arrows] {
        .slick-arrow {
          &.slick-prev {
            @include desktop {
              right: calc(100% + 12px);
            }
          }
          
          &.slick-next {
            @include desktop {
              left: calc(100% + 12px);
            }
          }
        }
      }
    }
  }

  &__header {
    margin: 0 auto 40px;
    text-align: center;
    
    @include desktop {
      margin: 0 auto 55px;
    }

    label {
      font-weight: 600;
      font-size: calc-em(36px);
      line-height: 140%;
      text-align: center;
      margin: 0;

      @include desktop {
        font-size: calc-em(50px);
        margin: 0 0 -7px;
      }
    }

    p {
      font-weight: 500;
      font-size: calc-em(24px);
      line-height: 140%;
      max-width: 730px;
      margin: 54px auto 0;
    }
  }

  .custom-select {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .custom-select__custom-dropdown {
    // min-width: 130px;
    
    // @include desktopMax {
    //   max-width: 240px;
    // }

    &.list-shown {
      .custom-list {
        transform: translate(-50%, 0) scale(1);
      }

      .icon {
        transform: rotate(0);
      }
    }
  }

  .custom-trigger {
    border: none;
    border-radius: 0;
    background-color: transparent;
    font-weight: 600;
    font-size: calc-em(26px);
    line-height: 140%;
    color: #fff;
    padding: 0 50px 0 0;
    border-bottom: 3px solid $orange80;
    
    @include desktopMax {
      text-align: center;
      padding: 0;
    }
    
    @include desktop {
      font-size: calc-em(50px);
    }

    &:hover, &:focus {
      background: transparent;
      box-shadow: none;
    }

    .label {      
      @include desktop {
        margin: 0 16px 0 0;
      }
    }

    .icon {
      color: #fff;
      font-size: calc-em(12px, 50px);

      @include desktopMax {
        right: -40px;
      }
    }
  }

  .custom-list {
    min-width: 300px;
    max-height: 375px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0) scale(0.5);
    background-color: #2f3033;
    border-radius: 4px;

    li {
      button {
        background: #2f3033;
        text-align: center;
        font-size: calc-em(20px);
        font-weight: 400;
        line-height: 140%;
        padding: 13px 36px;
        color: #fff;

        &:hover, &:focus {
          background: #2f3033;
          color: $purple60;
        }

        @include desktop {
          font-size: calc-em(26px);
          padding: 18px 36px;
        }
      }

      &.active {
        button {
          padding-right: 36px;
          background: $darkPurple20;
          color: #fff;
          font-weight: 600;

          &:after {
            display: none;
          }
        }
      }

      &[data-value="all"] {
        position: relative;

        button {
          pointer-events: none;

          &:before {
            content: '\e91c';
            font-family: icomoon !important;
            font-weight: 400;
            text-align: right;
            position: absolute;
            right: 17px;
            transform: scaleY(-1);
            font-size: calc-em(6px, 20px);
            
            @include desktop {
              font-size: calc-em(10px, 26px);
              right: 16px;
            }
          }
        }

        &.active {
          button {
            background: #2f3033 !important;
            font-weight: 400;
          }
        }
      }
    }
  }

  &__content {
    position: relative;

    &.content-loaded {
      .loading-icon {
        display: none;
      }
    }

    &.content-updating {
      .loading-icon {
        display: block;
      }
    }

    .loading-icon {
      left: 0;
      position: absolute;
      margin: auto;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 1;
    }
  }

  .slick-track {
    @include desktopMax {
      transform: translate(0, 0) !important;
    }
  }

  .slick-slide {
    @include desktopMax {
      opacity: 1;
      display: block;
      transform: translate3d(0, 0, 0);
      pointer-events: auto;
      transition: all 0.3s ease-in-out !important;
    }

    &.slick-slide--next0 {
      @include desktopMax {
        opacity: 1 !important;
        z-index: 999 !important;
        transform: translate(0, 0);
      }
    }

    &.slick-slide--next1 {
      @include desktopMax {
        opacity: 0.9 !important;
        z-index: 998 !important;
        transform: translate(10px, 10px);
      }
    }
    
    &.slick-slide--next2 {
      @include desktopMax {
        opacity: 0.8 !important;
        z-index: 997 !important;
        transform: translate(20px, 20px);
      }
    }
    
    &.slick-slide--next3 {      
      @include desktopMax {
        opacity: 0.7 !important;
        z-index: 996 !important;
        transform: translate(30px, 30px);
      }
    }
    
    &.slick-slide--next4 {
      @include desktopMax {
        opacity: 0.6 !important;
        z-index: 995 !important;  
        transform: translate(40px, 40px);
      }
    }
  }

  .imda-carousel__controls {
    @include desktop {
      justify-content: center;
    }

    [data-carousel-dots] {
      color: #fff;

      li {
        &.slick-active {
          .dot-indicator {
            background-color: #fff;
          }
        }

        .dot-indicator {
          border-color: #fff;
        }

        .dot-page {
          color: #fff;
        }
      }
    }
    
    [data-carousel-pager] {
      color: #fff;
  
      @include desktop {
        display: none;
      }
    }

    [data-carousel-arrows] {
      .slick-arrow {
        border: 1px solid #fff;
        background-color: transparent;
        
        @include desktop {
          position: absolute;
          top: calc(50% - 23px);
          transform: translate(0, -50%);
          border: none;
          font-size: calc-em(40px);
          height: auto;
        }

        &.slick-prev {
          @include desktop {
            margin: 0;
          }
        }
        
        &.slick-disabled {
          border-color: #fff;
          color: #fff;
        }
      }
    }
  }
}