include ../../molecules/image-text/image-text

mixin gallery(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .gallery
    ul.gallery__list(data-carousel)
      each item in spec.items
        li
          +image-text(item)
    .imda-carousel__controls.imda-carousel__controls--gallery
      div(data-carousel-arrows)
      div(data-carousel-dots)