// gallery styles
.gallery {
  margin-bottom: 30px;
  
  @include desktop {
    margin-bottom: 60px;
  }

  &__carousel {
    position: relative;

    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }

    .slick-prev {
      left: 20px;
    }
    
    .slick-next {
      right: 20px;
    }
  }

  .image-text {
    margin: 0;
  }

  &__list {
    @extend %list-unstyled;

    .image-text {
      filter: none;
    }
  }

  .imda-carousel__controls--gallery {
    margin-top: 12px;
  }
}
