extends ../_layouts/standard-landing

block append config
  - baseUrl = "../"
  - pageUrl = "/digital-landscape"
  - var pageData = site.data.standardLanding.digitalLandscape
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageHeader = pageData.pageHeader
  - pageItems = pageData.items
