// home-tabs styles
.home-tabs {
  padding: 0;
  text-align: center;
  position: relative;
  
  @include desktop {
    padding: 64px 0;
  }

  h2 {
    font-weight: 600;
    font-size: calc-em(36px);
    line-height: 120%;
    margin: 0 0 32px;
  }

  &__shapes {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    .shape {
      position: absolute;
    }

    &--1 {
      .shape1 {
        top: 50%;
        left: -36px;
        animation: rightleftshort 3s ease-in-out infinite alternate;
      }
  
      .shape2 {
        right: 4%;
        bottom: -76px;
        animation: updown 3s ease-in-out infinite alternate;
      }

      .shape3 {
        top: 0;
        left: calc(100% - 40px);
        animation: leftrightshort 3s ease-in-out infinite alternate;

        @media only screen and (max-width: 1480px) {
          display: none;
        }
      }
    }
    
    &--2 {
      .shape1 {
        top: -32px;
        right: calc(100% - 60px);
        animation: leftrightshort 3s ease-in-out infinite alternate;
      }
      
      .shape2 {
        top: 152px;
        right: calc(0% - 60px);
        animation: rightleftshort 3s ease-in-out infinite alternate;
      }
      
      .shape3 {
        right: -51px;
        bottom: -162px;
        animation: updown 3s ease-in-out infinite alternate;
      }
    }
    
    &--3 {
      .shape1 {
        top: 269px;
        right: calc(100% - 213px);
        animation: leftrightshort 3s ease-in-out infinite alternate;
      }
  
      .shape2 {
        right: -150px;
        bottom: -120px;
        animation: updown 3s ease-in-out infinite alternate;
      }
      
      .shape3 {
        top: -115px;
        left: calc(100% - 40px);
        animation: rightleftshort 3s ease-in-out infinite alternate;

        @media only screen and (max-width: 1510px) {
          display: none;
        }
      }
    }
  }

  .container {
    @include desktopMax {
      padding: 0;
    }
  }

  &__nav {
    position: relative;
    margin: 0 0 32px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    width: 100%;
    
    @include desktopMax {
      overflow: hidden;
      padding: 0 0 3px;
      display: none;
    }
    
    &.nav-init {
      .ui-handle, 
      .ui-handle-static {
        transform: scale(1);
      }
      .ui-handle-static--two {
        transform: scale(0.9);
      }
    }

    nav {
      flex: 0 0 100%;
      max-width: 100%;
      display: flex;
      position: relative;
      z-index: 1;
      //border-bottom: 1px solid $borderGray;
      
      @include desktopMax {
        padding: 0 20px;
      }
      
      @include desktop {
        height: 67px;
      }
    }

    .ui-handle {
      width: calc(100% - 40px);
      display: block;
      background-color: $primaryPurple;
      height: 3px;
      position: absolute;
      bottom: 0;
      
      @include desktopMax {
        left: 20px !important;
        right: 20px !important;
      }

      @include desktop {
        top: 100%;
        left: 0;
        right: auto;
        bottom: auto;
        transition: all 0.55s $easeInOutCustom;
        transform: scale(1);
        width: calc(100% / 3)
      }
    }

    .ui-handle-static {
      width: calc(100% - 40px);
      display: block;
      background-color: $tabGrey;
      height: 1px;
      position: absolute;
      bottom: 0;
      
      @include desktopMax {
        left: 20px !important;
        right: 20px !important;
      }

      @include desktop {
        top: 101%;
        left: 0;
        right: auto;
        bottom: auto;
        transform: scale(1);
        width: calc(100% / 3)
      }

      &--two {
        left: calc(100% / 3);
      }

      &--three {
        left: calc(100% / 3 * 2);
      }
    }

    a {
      padding: 14px 24px;
      color: $textBlack;
      text-decoration: none;
      height: 100%;
      flex: 0 0 100%;
      max-width: 100%;
      font-size: calc-em(24px);
      font-weight: 400;
      line-height: 120%;
      
      @include desktop {
        display: flex !important;
        align-items: center;
        justify-content: center;
        flex: 0 0 33.33%;
        max-width: 33.33%;
        tranform: none !important;
        transition: all 0.4s ease-in-out;
      }

      &:hover,
      &.active {
        color: $textBlack;

        @include desktop {
          font-size: calc-em(32px);
          font-weight: 500;
        }

        @include lgDesktop {
          font-size: calc-em(32px);
          font-weight: 500;
        }
      }

      strong {
        font-weight: 500;
      }
    }
  }

  &__shapes {
    &--1,
    &--2,
    &--3 {
      display: block;
      height: 0;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  &__content {
    text-align: left;

    > section {
      display: block;

      &.article-gallery-carousel {
        @include desktopMax {
          display: none;
        }
      }
      
      @include desktop {
        height: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        margin: 0 -10px;
      }
    }
  }

  &__shapes,
  &__content {
    .transition {
      transition: all 0.3s ease-in-out;
    }

    .fadeout {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }

    .fadein {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    .active {
      height: auto;
    }
  }
}