mixin home-tabs(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  div.home-tabs(class=spec.__class)&attributes(attributes)
    h2.desktop-only IMDA at a Glance
    .home-tabs__shapes.desktop-only
      .home-tabs__shapes.home-tabs__shapes--1#shapes0.active.fadein
        .shape.shape1
          svg(width="400" height="1776" viewBox="0 0 400 1776" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M398 1013.57H1V6L398 1013.57Z" stroke="#FDE5E9" stroke-width="2" stroke-miterlimit="10")
            path(d="M380 370.886V1588.32L29 1773.7V181.149L380 370.886Z" stroke="#F0EAF3" stroke-width="2" stroke-miterlimit="10")
        .shape.shape2
          svg(width="176" height="193" viewBox="0 0 176 193" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M174 192L88.0202 3L2 192L174 192Z" stroke="#D2EAE7" stroke-width="2" stroke-miterlimit="10")
        .shape.shape3
          svg(width="215" height="602" viewBox="0 0 215 602" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M1 116.793V487.846L214 600V2L1 116.793Z" stroke="#FFF2E5" stroke-width="2" stroke-miterlimit="10")
      .home-tabs__shapes.home-tabs__shapes--2#shapes1
        .shape.shape1
          svg(width="256" height="643" viewBox="0 0 256 643" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M255 504.9L255 134.972L1.00006 1.99998L1 641L255 504.9Z" stroke="#FDE5E9" stroke-width="2" stroke-miterlimit="10")
        .shape.shape2
          svg(width="162" height="190" viewBox="0 0 162 190" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M160 189L81.0186 3L1.99999 189L160 189Z" stroke="#D2EAE7" stroke-width="2" stroke-miterlimit="10")
        .shape.shape3
          svg(width="264" height="664" viewBox="0 0 264 664" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M2 663H263L263 6L2 663Z" stroke="#FFF2E5" stroke-width="2" stroke-miterlimit="10")
      .home-tabs__shapes.home-tabs__shapes--3#shapes2
        .shape.shape1
          svg(width="389" height="387" viewBox="0 0 389 387" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M207 201.204L3 292.855L207 384.55L207 201.204Z" stroke="#F5E7EF" stroke-width="2" stroke-miterlimit="10")
            path(d="M52 302.292L386 152.181L52 1.99988L52 302.292Z" stroke="#F5E7EF" stroke-width="2" stroke-miterlimit="10")
        .shape.shape2
          svg(width="692" height="273" viewBox="0 0 692 273" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M691 2.00003L691 271.569L5.99999 271.569L691 2.00003Z" stroke="#FFF2E5" stroke-width="2" stroke-miterlimit="10")
        .shape.shape3
            svg(width="256" height="707" viewBox="0 0 256 707" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M1 136.884V572.88L255 704.663V2L1 136.884Z" stroke="#D2EAE7" stroke-width="2" stroke-miterlimit="10")
    .container
      .home-tabs__nav(aria-label="Tab navigation")
        span.ui-handle
        span.ui-handle-static.ui-handle-static--one
        span.ui-handle-static.ui-handle-static--two
        span.ui-handle-static.ui-handle-static--three
        nav
          each tab, index in spec.nav
            if index === 0
              a(id=tab.__id href=tab.ref data-shapesref="#shapes" + index) !{tab.label}
            else
              a(id=tab.__id href=tab.ref data-shapesref="#shapes" + index style="display: none;") !{tab.label}

      .home-tabs__content
        block