// story-card styles
.story-card {
  $p: &;
  background: #fff;
  /* border: 1px solid $borderGray2; */
  color: $textBlack;
  display: flex;
  overflow: hidden;
  text-decoration: none;
  box-shadow: $purpleShadowDark;
  border: 1px solid $borderGray2;

  .tag-pill {
    background: transparentize(#fff, .85);
    border: 0;
    border-radius: 15px;
    color: #fff;
    font-size: calc-em(13px);
    font-weight: $light;
    letter-spacing: 0.1em;
    padding: 3px 10px;
    text-transform: uppercase;
  }

  @include hover {
    &:hover {
      /* color: #fff; */
      box-shadow: $purpleShadowDark;
  
      #{$p}__image {
        img {
          transform: scale(1.1);
        }
      }
  
      /* #{$p}__company {
        .label {
          color: #fff;
        }
  
        .icon {
          color: #fff;
        }
      } */
  
      #{$p}__content {
        &:before {
          opacity: 1;
          width: 100%;
        }
      }
  
      #{$p}__title {
        color: $primaryPurple;
      }
    }
  }
  

  /* &--green-yellow {
    .tag-pill {
      background: linear-gradient(45deg, $green 55%, $yellow 75%);
    }

    #{$p}__content {
      &:before {
        background: linear-gradient(15deg, $green 55%, $yellow 95%);
      }
    }
  }

  &--blue-green {
    .tag-pill {
      background: linear-gradient(45deg, $blue 55%, $green 75%);
    }

    #{$p}__content {
      &:before {
        background: linear-gradient(15deg, $blue 55%, $green 75%);
      }
    }
  }

  &--red-orange {
    .tag-pill {
      background: linear-gradient(45deg, $red 55%, $orange2 75%);
    }

    #{$p}__content {
      &:before {
        background: linear-gradient(15deg, $red 55%, $orange2 75%);
      }
    }
  }

  &--purple-red {
    .tag-pill {
      background: linear-gradient(45deg, $purple 55%, $red 75%);
    }

    #{$p}__content {
      &:before {
        background: linear-gradient(15deg, $purple 55%, $red 75%);
      }
    }
  } */

  &--reverse {
    flex-direction: row-reverse;
  }

  &--vertical {
    flex-direction: column;

    #{$p}__image {
      width: 100%;
    }

    #{$p}__content {
      width: 100%;
    }
  }

  &__image {
    overflow: hidden;
    position: relative;
    width: 50%;

    img {
      height: 100%;
      object-fit: cover;
      object-position: center center;
      transition: transform .3s $easeInOutExpo;
      width: 100%;
    }

    .tag-pill {
      bottom: 20px;
      font-size: calc-em(10px);
      font-weight: $roman;
      position: absolute;
      right: 20px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px 20px 84px;
    position: relative;
    width: 50%;

    * {
      position: relative;
    }

    .right-arrow {
      position: absolute;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 3px;
      z-index: 1;
      background-color: $primaryPurple;
      transition: width 0.35s ease-in-out;

      @include nohover {
        width: 100%;
      }
    }
  }

  &__title {
    font-size: calc-em(20px);
    font-weight: 600;
    margin: 0;
  }

  &__desc {
    font-weight: $roman;
  }

  &__company {
    bottom: 50px;
    margin: 0;
    position: absolute;
    padding-right: 20px;

    .label {
      color: $darkGrey2;
      font-weight: 600;
      transition: color .25s ease-in-out;
      vertical-align: middle;
    }

    .icon {
      color: $darkGrey2;
      font-size: 1.4em;
      margin-right: 6px;
      transition: color .25s ease-in-out;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
