include ../../atoms/buttons/buttons

mixin story-card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  a.story-card(href= spec.url)&attributes(attributes)
    .story-card__image
      img(src= spec.image, alt= spec.title)
      span.tag.tag-pill= spec.industry
    .story-card__content
      h3.story-card__title= spec.title
      p.story-card__desc= spec.description
      p.story-card__company
        span.icon.icon-organisation
        span.label= spec.company
      span.right-arrow
        +right-arrow

mixin story-card-dot(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  a.story-card(href="{{= item.url }}", class="story-card--{{= item.color }}")&attributes(attributes)
    .story-card__image
      img(src="{{=item.image}}", alt="{{=item.title}}")
      |{{?item.type == 'solutions'}}
      span.tag.tag-pill {{=item.industry}}
      |{{?}}
    .story-card__content
      h3.story-card__title {{=item.title}}
      p.story-card__desc {{=item.description}}
      p.story-card__company
        span.icon.icon-building 
        span.label {{=item.topic}}
      span.right-arrow
        +right-arrow