extends ../_layouts/base

include ../_modules/organisms/page-banner/page-banner
include ../_modules/organisms/events-listing/events-listing

block append config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var pageTitle = "Events"
  - var pageDesc = "This is our vision for the future of digital, and how we are bringing it to life."
  -
    var breadcrumbs = [
      {
        "name": "News & Events",
        "url": "/standard-landing"
      },
      {
        "name": "Events"
      }
    ]

block content
  +page-banner({
    "pageTitle": pageTitle,
    "pageDesc": pageDesc,
    "breadcrumbs": breadcrumbs,
    "image": "/images/pagebanner1.jpg",
    "color": "dark" 
  }).page-banner--dark

  +events-listing().events-listing--dark