// sgds-masthead styles
.sg-crest {
  width: 20px;
  height: 28px;
}

.masthead-layout {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.sgds-masthead {
  padding: 0px;
  background-color: rgba(240, 240, 240, 1);
  color: rgba(71, 71, 71, 1);
  font-size: calc-em(10px);
  
  @include lgMobile {
    font-size: calc-em(12px);
  }
  
  @include desktop {
    font-size: calc-em(14px);
  }
}

.sgds-masthead-button {
  display: flex;
  align-items: center;
  color: rgba(47, 96, 206, 1);
  cursor: pointer;

  .is-text {
    text-decoration: underline;
  }
}

.sgds-masthead-identify-icon {
  width: 12px;
  height: 21px;
  display: block;
  transform: rotate(0deg);
  user-select: none;
  transition: all 0.3s ease-in-out 0s;

  &.open {
    transform: rotate(180deg);
  }
}

.sgds-masthead-content {
  padding-top: 1rem;
  padding-bottom: 2rem;
  
  @include desktop {
    padding-top: 2.5rem;
    padding-bottom: 3rem;
  }

  .content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10rem;

    @include desktopMax {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }

  .column-wrapper {
    display: flex;
    gap: 1rem;
    font-size: 1rem;

    @include desktopMax {
      font-size: 12px;
      gap: 0.5rem;
    }

    .content {
      .title {
        font-weight: 600;
        margin-bottom: 0.5rem;
      }

      article {
        line-height: 1.5rem;

        @include desktopMax {
          line-height: 1.2rem;
        }
      }
    }
  }

  .banner-icon {
    width: 18px;
    
    @include desktopMax {
      width: 12px;
    }
  }

  .banner-icon-inline {
    width: 1rem;

    @include desktopMax {
      width: 0.6rem;
      height: 10px;
      margin-top: 0.15rem;
    }
  }

  .trusted-websites-link {
    display: inline-flex;
    align-items: center;
    color: rgba(47, 96, 206, 1);
    text-decoration: none;
  }

  .trusted-websites-icon {
    fill: rgba(47, 96, 206, 1);
    margin-left: 2px;
    
    @include desktopMax {
      width: 12px;
    }
  }
}

.columns {
  @include desktop {
    width: 100%;
  }
}

.column {
  display: block;
  flex: 1 1 0px;
  padding: 2px 0;
}
