extends ../../_layouts/standard-detail

block append config
  - baseUrl = "../../"
  - pageUrl = "/news-listing/sky-is-limit"
  - var pageData = site.data.standardDetail.skyIsLimit
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts
  - nextArticle = pageData.nextArticle

block detailContent
  +rte()
    h2 Flashback to E2Connect Forum 2018, where the future of more accessible infocomm and assistive technology (IT/AT) took the spotlight.

  +highlight-card({
    "image": "/images/news/sky-is-limit-2.jpg",
    "title": "The sky is the limit for IT/AT",
    "content": "Minister for Communications and Information, Mr S Iswaran, visiting the exhibition space at E2Connect 2018, where a plethora of IT/AT tools were on display."
  })

  +gallery({
    "items": [
      {
        "image": "/images/news/sky-is-limit-3.jpg",
        "alt": "A line-up of IT/AT accessories at the Singapore Association of the Visually Handicapped (SAVH) booth.",
        "caption": "A line-up of IT/AT accessories at the Singapore Association of the Visually Handicapped (SAVH) booth."
      },
      {
        "image": "/images/news/sky-is-limit-4.jpg",
        "alt": "Demonstration of a hands-on automated fare collection system.",
        "caption": "Demonstration of a hands-on automated fare collection system."
      },
      {
        "image": "/images/news/sky-is-limit-5.jpg",
        "alt": "Some cute IT/AT tools at the SPD booth that help make the lives of persons with physical disabilities better.",
        "caption": "Some cute IT/AT tools at the SPD booth that help make the lives of persons with physical disabilities better."
      },
      {
        "image": "/images/news/sky-is-limit-6.jpg",
        "alt": "Ms Chia Yong Yong, President of SPD, gave a keynote speech titled 'Great Expectations – The Future for Assistive Technology'.",
        "caption": "Ms Chia Yong Yong, President of SPD, gave a keynote speech titled 'Great Expectations – The Future for Assistive Technology'."
      },
      {
        "image": "/images/news/sky-is-limit-7.jpg",
        "alt": "Minister for Communications & Information, Mr S Iswaran, in a group shot with the two keynote speakers of E2Connect 2018: Ms Chia Yong Yong, President of SPD, and Mr Christopher Hills, video creator and entrepreneur. ",
        "caption": "Minister for Communications & Information, Mr S Iswaran, in a group shot with the two keynote speakers of E2Connect 2018: Ms Chia Yong Yong, President of SPD, and Mr Christopher Hills, video creator and entrepreneur. "
      }
    ]
  })

  +rte()
    p Did you know that there are tech accessories like the Roger Pen that can help deaf students to hear what their teachers are saying?

    p The Roger Pen is a Bluetooth-equipped pen-shaped microphone that relays sound directly to the hearing aid or cochlear implants used by deaf persons.

    p And it has helped students like Ms Sebrina Ng from Temasek Polytechnic, who told The New Paper about her previous frustrations – before the Roger Pen came along – over relying on lip reading or having to constantly ask her classmates about what her teachers were saying in class.

    p In his opening speech at the E2Connect Forum 2018 on 19 Nov, Minister for Communications and Information, Mr S Iswaran spoke about the Digital Readiness Blueprint that was launched in June 2018 to help all segments of society to have access to technology and reap the benefits.

    p In line with that vision, he announced the launch of three satellite loan libraries that allow Persons With Disabilities (PWDs) to have greater access to Infocomm and Assistive Technology (IT/AT) tools.

    h3 Test before buying

    p These satellite libraries would give PWDs the opportunity to test-drive IT/AT tools such as a Braille notetaker or a screen reader, so they could confirm the appropriateness of these devices meeting their needs before purchasing them. Such tools can cost between $50 and $5,000.

    p Temasek Polytechnic launched its library in November, with other institutes of higher learning – including Ngee Ann Polytechnic and Singapore Polytechnic – also set to introduce their library of IT/AT tools for loan.

    p The initiative is part of efforts by the IMDA and SPD (previously known as the Society for the Physically Disabled) to help students with disabilities to get greater access to such tools.

    p These satellite loan libraries complement the existing library located at the Enabling Village and SPD. Mr Iswaran added that the Government will do more to help Singaporeans who are persons with disabilities, and enable them to use technology to participate actively and fully in society.

    p Another prong in the strategy: the enhancement of IMDA’s Enable IT Programme, which also provides grants to voluntary welfare organisations such as Fei Yue Community Services to integrate technology in their programmes and services that help PWD clients.

    p For example, Fei Yue’s Early Intervention Programme and Infants adopted interactive systems such as Prosense and Timocco to better engage  children with special needs in various activities.

    h3 Future of Assistive Tech

    p Fun fact: ‘E2Connect’ actually stands for Enable, Empower and Connect.

    p The two-day event, organised by IMDA with support from the Lifelong Learning Institute, SPD and SG Enable, consisted of a seminar programme, an exhibition featuring IT/AT tools and solutions, and workshops highlighting accessibility features in mainstream devices and the tinkering of toys for inclusive engagement with PWDs. It was first held in 2016.

    p The seminar featured speakers who shared on how inclusive IT/AT can help PWDs at home, in school and in the workplace.

    p Ms Chia Yong Yong, President of SPD, gave the opening keynote speech titled ‘Great Expectations – The Future for Assistive Technology’ in which she shared her own adoption of technology for work, and how tech tools have helped her.

    p For example, she can use her voice to call for a lift, and sensors in her office conference room allows her to control lighting and window blinds without the need for assistance

    p The lawyer and former Nominated Member of Parliament said: “Technology changes the way we work. I am not able to carry files, but I can browse documents stored in the cloud.”

    p She acknowledged though, that IT/AT still has room for improvement. For example, she has to use different headsets at work – one for her mobile phone, and one specially for her voice dictation software. “One challenge is, toggling through different apps. How do you unify and make all your different applications, created by different developers, talk to each other?”

    p She thus exhorted developers to think beyond about the technology per se or issues such as market share, but about how “we can impact a person’s life.”

    p She also spoke about how assistive tech is becoming part of the mainstream, and the importance of universal design for tech tools – which means designing them to be easily used by people regardless of disability or age, for example.

    h3 High-flying creativity

    p One highlight of the E2Connect Forum was a workshop session for some 300 participants from the Cerebral Palsy Alliance Singapore (CPAS), including students, teachers and caregivers. The workshop was conducted by Australian video creator Christopher Hills and his father and collaborative partner, Garry Hills.

    p Disability did not stop Christopher from pursuing his creative dreams. He has cerebral palsy and is a wheelchair-user, but thanks to switch devices that allow him to control his iPhone and computer by tapping his head on an input device, he now runs his own company, Switched-On Video Editing and also produces his own videos.

    p Together with his father, Christopher also delivered the second keynote speech on the first day, titled ‘Sky’s The Limit’, sharing anecdotes about his journey in learning video editing and eventually becoming an entrepreneur with the help of IT/AT tools.

    p As a treat for the keynote audience, Christopher even premiered his new short movie which he shot using a drone with a built-in camera, all from his wheelchair. The amazing cinematography was a testimony to the immense power of IT/AT in helping him to unleash his creativity.

    p No wonder he received resounding applause from the audience for his role as director – and lead actor too!

    p Curious? Do catch the behind-the-scenes look at the creation of 'Sky's The Limit' on Christopher's Youtube page.
