extends ../_layouts/standard-detail

block append config
  - pageUrl = "/templates"
  - var pageData = site.data.standardDetail.templates
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts

block detailContent
  +rte()
    table
      tr
        th Template
        th Remarks
      tr
        td
          a(href="/") Home
        td
      tr
        td
          a(href="/article-page") Newsroom Detail
        td
      tr
        td
          a(href="/detail-page", target="_blank") Standard detail page
        td
      tr
        td
          a(href="/event-detail", target="_blank") Event Detail
        td
      tr
        td
          a(href="/events-listing", target="_blank") Events Listing
        td
      tr
        td
          a(href="/news-detail", target="_blank") News Detail
        td
      tr
        td
          a(href="/news-listing", target="_blank") News Listing
        td
      tr
        td
          a(href="/newsroom", target="_blank") Newsroom
        td
      tr
        td
          a(href="/programme-listing", target="_blank") Programme Listing
        td
      tr
        td
          a(href="/regulations-listing", target="_blank") Regulations Listing
        td
      tr
        td
          a(href="/search-results?keyword=digital", target="_blank") Search Results
        td
      tr
        td
          a(href="/standard-landing", target="_blank") Standard Landing
        td
      tr
        td
          a(href="/standard-listing", target="_blank") Standard Listing
        td
      tr
        td
          a(href="/supported-digital-listing", target="_blank") Supported Digital Listing
        td

    table
      tr
        th Prototype
        th Remarks
      tr
        td
          a(href="/digital-landscape") Infocomm Media Landscape
        td Standard Landing
      tr
        td
          a(href="/industry-support") Develop the Industry
        td Standard Landing
      tr
        td
          a(href="/digital-readiness") Digital Readiness
        td Standard Listing
      tr
        td
          a(href="/industry-support-detail") Programme Detail
        td Standard Detail
      tr
        td
          a(href="/news-events") News & Events
        td Standard Landing
      tr
        td
          a(href="/news-events/key-events") Key Events
        td Standard Listing
      tr
        td
          a(href="/events-listing/e2-forum") E2 Connect Forum 2018
        td Event Detail
      tr
        td
          a(href="/events-listing/led-symposium") LED Symposium 2018
        td Event Detail
      tr
        td
          a(href="/events-listing/psg-briefing") PSG Briefing
        td Event Detail
      tr
        td
          a(href="/organisation-structure") Organisation Structure
        td Standard Landing
      tr
        td
          a(href="/programme-detail") Individual Programme Detail
        td Standard Detail
      tr
        td
          a(href="/pixel") Pixel
        td Standard Detail
      tr
        td
          a(href="/regulation-detail") Regulation Detail
        td Standard Detail
      tr
        td
          a(href="/regulations-landing") Regulations and Licenses
        td Standard Listing
      tr
        td
          a(href="/technology-innovation") Technology & Innovation
        td Standard Listing
      tr
        td
          a(href="/support-the-community") Support the community
        td Standard landing
      tr
        td
          a(href="/supported-digital-detail") Supported Digital Detail
        td Standard Detail
      tr
        td
          a(href="/industry-support") Talent & Manpower
        td Standard Listing
      tr
        td
          a(href="/who-we-are") Who we are
        td Standard Landing
      tr
        td
          a(href="/endorsed-companies") Endorsed Companies
        td Supported Digital Listing
      tr
        td
          a(href="/singapore-media-festival") Singapore Media Festival
        td Standard Landing
