mixin questionnaire-article-item(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.target = spec.target || '_self'

  article.questionnaire-article-item(class=spec.__class)&attributes(attributes)
    a(href="" target="" data-url=spec.url data-target=spec.target)
      div
        h3
          span.title=spec.title
          if spec.isexternal 
            span.icon-external-link
        p=spec.text
      +right-arrow

mixin questionnaire-article-item-dot(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  article.questionnaire-article-item
    a(href="" target="" data-url="{{=item.url}}" data-target="{{=item.target}}") 
      div
        h3 
          span.title {{=item.title}}
          |{{?item.isexternal}}
          span.icon-external-link
          |{{?}}
        p {{=item.text}}
      +right-arrow
