// questionnaire-article-item styles
.questionnaire-article-item {
  border-top: 1px solid $borderGray;
  padding: 16px 0 0;
  margin: 0 0 24px;
  position: relative;
  
  @include desktopMax {
    margin: 0 0 16px;
  }

  .reloaded & {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;

    @include nohover {
      &:before {
        width: 23px;
      }
    }

    &.fadein {
      opacity: 1;

      @include nohover {
        &:before {
          width: 100%;
        }
      }
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    transition: width 0.35s ease-in-out;
    background-color: $primaryPurple;
    
    @include hover {
      width: 24px;
    }
  }

  @include hover {
    &:hover {
      &:before {
        width: 100%;
      }
    }
  }

  @media (hover: hover) and (min-width: $bpDesktop) {
    &:hover {
      h3 {
        color: $primaryPurple;
      }
    }
  }

  a {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: $textBlack;
    text-decoration: none;
    
    @include desktop {
      align-items: flex-end;
    }
  }

  div {
    padding: 0 24px 0 0;
  }

  h3 {
    font-weight: 600;
    font-size: calc-em(18px);
    line-height: 120%;
    margin: 0 0 8px;

    @include desktopMax {
      color: #fff;
    }

    span.title {
      margin-right: 8px;
    }

    .icon-external-link {
      vertical-align: baseline;
    }
  }

  p {
    line-height: 140%;
    margin: 0;

    @include desktopMax {
      color: #fff;
    }
  }

  svg {
    flex-shrink: 0;
    flex-grow: 0;
    height: 14px;
    width: auto;
    animation: rightleftshort 2s linear infinite alternate;

    line,
    path {
      stroke: $primaryPurple;

      @include desktopMax {
        stroke: #fff;
      }
    }
  }
}