extends ../_layouts/base

include ../_modules/accordion/accordion
include ../_modules/custom-select/custom-select
include ../_modules/atoms/buttons/buttons
include ../_modules/atoms/checkbox/checkbox
include ../_modules/atoms/loading-icon/loading-icon
include ../_modules/atoms/search-field/search-field
include ../_modules/molecules/article-link/article-link
include ../_modules/molecules/box-quote/box-quote
include ../_modules/molecules/child-card/child-card
include ../_modules/molecules/featured-card/featured-card
include ../_modules/molecules/filters-group/filters-group
include ../_modules/molecules/highlight-card/highlight-card
include ../_modules/molecules/image-card/image-card
include ../_modules/molecules/image-link/image-link
include ../_modules/molecules/image-text/image-text
include ../_modules/molecules/name-card/name-card
include ../_modules/molecules/pagination/pagination
include ../_modules/molecules/panel-card/panel-card
include ../_modules/molecules/snippet-card/snippet-card
include ../_modules/molecules/social-share/social-share
include ../_modules/molecules/story-card/story-card
include ../_modules/molecules/summary-card/summary-card
include ../_modules/molecules/teaser-card/teaser-card
include ../_modules/molecules/thumbnail-card/thumbnail-card
include ../_modules/molecules/cta-banner/cta-banner
include ../_modules/molecules/video-player/video-player
include ../_modules/organisms/page-banner/page-banner
include ../_modules/organisms/page-header/page-header
include ../_modules/organisms/accordion-list/accordion-list

block append config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var pageTitle = "All modules"
  - var pageDescription = "IMDA drives the growth, competitiveness and innovation of Singapore's information and communication technology (ICT) industry by nurturing local ICT enterprises."
  - var sectionName = "Industry Support"
  -
    var breadcrumbs = []

block content
  +page-banner({
    "pageTitle": pageTitle,
    "breadcrumbs": breadcrumbs,
    "sectionName": sectionName
  })

  +page-banner({
    "pageTitle": pageTitle,
    "breadcrumbs": breadcrumbs,
    "sectionName": sectionName
  }).page-banner--red-group

  +page-banner({
    "pageTitle": pageTitle,
    "breadcrumbs": breadcrumbs,
    "sectionName": sectionName
  }).page-banner--dark-red

  +page-banner({
    "pageTitle": pageTitle,
    "breadcrumbs": breadcrumbs,
    "sectionName": sectionName
  }).page-banner--coral

  +page-banner({
    "pageTitle": pageTitle,
    "breadcrumbs": breadcrumbs,
    "sectionName": sectionName
  }).page-banner--rose

  +page-banner({
    "pageTitle": pageTitle,
    "breadcrumbs": breadcrumbs,
    "sectionName": sectionName
  }).page-banner--green-group

  +page-banner({
    "pageTitle": pageTitle,
    "breadcrumbs": breadcrumbs,
    "sectionName": sectionName
  }).page-banner--sea-green

  +page-banner({
    "pageTitle": pageTitle,
    "breadcrumbs": breadcrumbs,
    "sectionName": sectionName
  }).page-banner--grass-green

  +page-banner({
    "pageTitle": pageTitle,
    "breadcrumbs": breadcrumbs,
    "sectionName": sectionName
  }).page-banner--blue-group

  +page-banner({
    "pageTitle": pageTitle,
    "breadcrumbs": breadcrumbs,
    "sectionName": sectionName
  }).page-banner--steel-blue

  +page-banner({
    "pageTitle": pageTitle,
    "breadcrumbs": breadcrumbs,
    "sectionName": sectionName
  }).page-banner--royal-blue

  +page-banner({
    "pageTitle": pageTitle,
    "breadcrumbs": breadcrumbs,
    "sectionName": sectionName
  }).page-banner--navy-blue

  +page-banner({
    "pageTitle": pageTitle,
    "breadcrumbs": breadcrumbs,
    "sectionName": sectionName
  }).page-banner--orange

  +page-banner({
    "pageTitle": pageTitle,
    "breadcrumbs": breadcrumbs,
    "event": {
      "date": "7 Jan - 21 Apr",
      "time": "2:00 PM - 9:00 PM",
      "location": "Crocus City Hall"
    },
    "category": {
      "name": "Events",
      "url": "/events-listing"
    },
    "articleDate": "21 Sep 2018"
  })

  +page-banner({
    "pageTitle": pageTitle,
    "breadcrumbs": breadcrumbs,
    "isPublication": true,
    "articleDate": "21 Sep 2018",
    "category": {
      "name": "Codes of Practice",
      "url": "#"
    },
    "industry": {
      "name": "Finance",
      "url": "#"
    },
    "target": {
      "name": "For Individuals",
      "url": "#",
      "icon": "icon-individual"
    }
  })

  +page-header({
    "pageTitle": pageTitle,
    "description": pageDescription,
    "breadcrumbs": breadcrumbs,
    "sectionName": sectionName,
    "image": "/images/standard/banner-img.jpg",
    "mobileImage": "/images/standard/m-banner-img.jpg",
    "cta": {
      "name": "View all regulations and acts",
      "url": "/regulation-listing"
    }
  })

  .container.all-modules
    h1 All modules

    h2 Accordion

    .accordion-list
      .accordion-list__header
        .accordion-list__header--title
          h2 Accordion Group Item 1
        .accordion-list__header--buttons
          a.btn.btn--icon.btn-expand(title="Expand")
            span(class="icon icon-plus")
            span(class="label") Expand All
          //- a.btn.btn--icon.btn-collapse(title="Collapse")
          //-   span(class="icon icon-minus")
          //-   span(class="label") Collapse All
      .accordion-list__wrap
        +accordion-item({
            "title": "Accordion Item 1",
            "expanded": true,
            "__id": "accordion-01"
        })
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, sint? Repudiandae veniam labore velit impedit quos excepturi ex quaerat laudantium.
        +accordion-item({
            "title": "Accordion Item 2",
            "__id": "accordion-02"
        })
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus reprehenderit ea quibusdam reiciendis quae. Quisquam voluptate modi sint! Beatae, quos?
        +accordion-item({
            "title": "Accordion Item 3",
            "__id": "accordion-03"
        })
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio minus facere autem fugit nam aut accusamus quisquam excepturi. Temporibus voluptas sit vel reiciendis necessitatibus suscipit facere totam obcaecati natus quas!

    h2 Custom Select

    +custom-select({
      "name": "customSelect1",
      "id": "customSelect1",
      "label": "Custom Select 1",
      "options": [
        {
          "text": "Value 1",
          "value": "value1"
        },
        {
          "text": "Value 2",
          "value": "value2"
        },
        {
          "text": "Value 3",
          "value": "value3"
        }
      ]
    })

    +custom-select({
      "name": "customSelect2",
      "id": "customSelect2",
      "label": "Custom Select 2",
      "options": [
        {
          "text": "Value 1",
          "value": "value1"
        },
        {
          "text": "Value 2",
          "value": "value2"
        },
        {
          "text": "Value 3",
          "value": "value3"
        }
      ]
    })

    hr

    h2 Buttons

    +buttons()

    h2 Checkbox

    +checkbox({
      "name": "checkbox",
      "label": "This is a checkbox",
      "id": "checkbox"
    })

    h2 Loading icon

    +loading-icon()

    h2 Search field

    +search-field()

    hr

    h2 Article Link

    .row
      .col-md-4
        +article-link({
          "title": "Media Manpower Plan",
          "image": "/images/mega-menu-1.jpg",
          "url": "#",
          "description": "Lorem ipsum dolor sit amet"
        })
      .col-md-4
        +article-link({
          "title": "Media Manpower Plan",
          "image": "/images/mega-menu-1.jpg",
          "url": "#",
          "description": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
        })
      .col-md-4
        +article-link({
          "title": "Media Manpower Plan",
          "image": "/images/mega-menu-1.jpg",
          "url": "#",
          "description": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
        })

    h2 Box Quote

    .row
      .col-md-9
        +box-quote({
          "image": "/images/detail/quote.jpg",
          "title": "Lorem ipsum dolor",
          "content": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores labore dignissimos architecto quos nisi et, dolore fugiat placeat error animi officiis non cumque impedit maxime deserunt reprehenderit dolorem sapiente hic laboriosam veniam ut eos odit tempora? Non ea officiis corporis officia at quidem nam blanditiis, similique necessitatibus aperiam vitae reprehenderit!",
          "author": "James Lim Rui Yi",
          "designation": "Senior Manager, Industry Development Group"
        })

    h2 Child Card

    .row
      .col-md-6
        +child-card({
          "__class":"child-card__closed",
          "title": "Listing Item 01",
          "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
          "url": "#"
        })
      .col-md-6
        +child-card({
          "title": "Listing Item 02",
          "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
          "url": "#"
        })
      .col-md-6
        +child-card({
          "title": "Listing Item 03",
          "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
          "url": "#"
        })

    h2 CTA Banner

    +cta-banner({
      "title": "Explore companies accredited by IMDA",
      "description": "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, temporibus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, temporibus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, temporibus.",
      "image": "/images/cta-banner.jpg",
      "cta": {
        "url": "/endorsed-companies",
        "name": "View endorsed companies"
      }
    })

    h2 Featured Card

    .row
      .col-md-3
        +featured-card({
          "image": "/images/detail/featured-1.jpg",
          "name": "SG:Digital: Explore Singapore digitalisation",
          "url": "#"
        })

    h2 Highlight Card

    .row
      .col-md-9
        +highlight-card({
          "image": "/images/detail/highlight-1.jpg",
          "title": "Section Highlight",
          "content": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio!"
        })

        +highlight-card({
          "image": "/images/detail/highlight-2.jpg",
          "title": "Section Highlight",
          "content": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio!"
        }).highlight-card--purple.highlight-card--reverse


    h2 Image card

    .row
      .col-md-4
        +image-card({
          "title": "What we do",
          "url": "#",
          "description": "Janio provides logistics solutions in Southeast Asia, with a simple goal to create an integrated network that shrinks Asia’s supply chain onto a single platform.",
          "image": "/images/homepage/article-1.jpg",
          "topics": {
            "url": "#",
            "name": "CEO's Office"
          }
        })
      .col-md-4
        +image-card({
          "title": "Organisation Structure",
          "url": "#",
          "description": "Janio provides logistics solutions in Southeast Asia, with a simple goal to create an integrated network that shrinks Asia’s supply chain onto a single platform.",
          "image": "/images/homepage/article-1.jpg"
        })
      .col-md-4
        +image-card({
          "title": "Awards & Certification",
          "url": "#",
          "description": "Janio provides logistics solutions in Southeast Asia, with a simple goal to create an integrated network that shrinks Asia’s supply chain onto a single platform.",
          "image": "/images/homepage/article-1.jpg"
        })
      .col-md-4
        +image-card({
          "title": "Janio - Building on The Cloud for Speed And Flexibility",
          "url": "#",
          "description": "Janio provides logistics solutions in Southeast Asia, with a simple goal to create an integrated network that shrinks Asia’s supply chain onto a single platform.",
          "teaser": "Develop Rapidly and Scale Easily",
          "image": "/images/homepage/article-1.jpg"
        }).image-card--has-teaser
      .col-md-4
        +image-card({
          "title": "Janio - Building on The Cloud for Speed And Flexibility",
          "url": "#",
          "description": "Janio provides logistics solutions in Southeast Asia, with a simple goal to create an integrated network that shrinks Asia’s supply chain onto a single platform.",
          "teaser": "Develop Rapidly and Scale Easily",
          "image": "/images/homepage/article-1.jpg"
        }).image-card--has-teaser
      .col-md-4
        +image-card({
          "title": "Janio - Building on The Cloud for Speed And Flexibility",
          "url": "#",
          "description": "Janio provides logistics solutions in Southeast Asia, with a simple goal to create an integrated network that shrinks Asia’s supply chain onto a single platform.",
          "teaser": "Develop Rapidly and Scale Easily",
          "image": "/images/homepage/article-1.jpg"
        }).image-card--has-teaser

    h2 Image Link

    .row
      .col-md-4
        +image-link({
          "title": "Title",
          "image": "/images/detail/image-1.png",
          "description": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, inventore.",
          "url": "#"
        })
      .col-md-4
        +image-link({
          "title": "Title",
          "image": "/images/detail/image-2.png",
          "description": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, inventore.",
          "url": "#"
        })
      .col-md-4
        +image-link({
          "title": "Title",
          "image": "/images/detail/image-3.png",
          "description": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, inventore.",
          "url": "#"
        })

    h2 Image Text

    +image-text({
      "image": "/images/detail/gallery-1.jpg",
      "alt": "Groupfie",
      "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
    })

    h2 Name Card

    .row
      .col-sm-6
        +name-card({
          "salutation": "Mr",
          "name": "Tan Kiat How",
          "image": "/images/senior-management/Mr Tan Kiat How.jpg",
          "designation": "<p>Chief Executive Officer</p><p>Director-General, Telecoms&Post</p>",
          "cta": {
            "url": "#",
            "label": "CEO's Office"
          }
        }).match-height
      .col-sm-6
        +name-card({
          "salutation": "Ms",
          "name": "Jane Lim",
          "image": "/images/senior-management/Ms Jane Lim.png",
          "designation": "<p>Assistant Chief Executive, Sectoral Transform</p>",
          "cta": {
            "url": "#",
            "label": "International & Corporate Group"
          }
        }).match-height

    h2 Pagination

    +pagination({
      "noOfPages": 5,
      "baseUrl": "/modules",
      "currentPage": 3
    })

    h2 Panel Card

    .row
      .col-md-4
        +panel-card({
          "url": "#",
          "title": "Insider Secrets of the AI Escape Bus Challenge",
          "image": "/images/news/news-10.jpg",
          "date": "03 Nov 2017",
          "industries": [
            "Retail"
          ],
          "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
          "topics": [
            {
              "name": "Digital Economy",
              "url": "#"
            },
            {
              "name": "Startups",
              "url": "#"
            }
          ]
        })
      .col-md-4
        +panel-card({
          "url": "#",
          "title": "Insider Secrets of the AI Escape Bus Challenge",
          "image": "/images/news/news-10.jpg",
          "date": "03 Nov 2017",
          "industries": [
            "Retail"
          ],
          "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
          "topics": [
            {
              "name": "Digital Economy",
              "url": "#"
            },
            {
              "name": "Startups",
              "url": "#"
            }
          ]
        }).panel-card--dark-red
      .col-md-4
        +panel-card({
          "url": "#",
          "title": "Insider Secrets of the AI Escape Bus Challenge",
          "image": "/images/news/news-10.jpg",
          "date": "03 Nov 2017",
          "industries": [
            "Retail"
          ],
          "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
          "topics": [
            {
              "name": "Digital Economy",
              "url": "#"
            },
            {
              "name": "Startups",
              "url": "#"
            }
          ]
        }).panel-card--coral
      .col-md-4
        +panel-card({
          "url": "#",
          "title": "Insider Secrets of the AI Escape Bus Challenge",
          "image": "/images/news/news-10.jpg",
          "date": "03 Nov 2017",
          "industries": [
            "Retail"
          ],
          "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
          "topics": [
            {
              "name": "Digital Economy",
              "url": "#"
            },
            {
              "name": "Startups",
              "url": "#"
            }
          ]
        }).panel-card--rose
      .col-md-4
        +panel-card({
          "url": "#",
          "title": "Insider Secrets of the AI Escape Bus Challenge",
          "image": "/images/news/news-10.jpg",
          "date": "03 Nov 2017",
          "industries": [
            "Retail"
          ],
          "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
          "topics": [
            {
              "name": "Digital Economy",
              "url": "#"
            },
            {
              "name": "Startups",
              "url": "#"
            }
          ]
        }).panel-card--sea-green
      .col-md-4
        +panel-card({
          "url": "#",
          "title": "Insider Secrets of the AI Escape Bus Challenge",
          "image": "/images/news/news-10.jpg",
          "date": "03 Nov 2017",
          "industries": [
            "Retail"
          ],
          "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
          "topics": [
            {
              "name": "Digital Economy",
              "url": "#"
            },
            {
              "name": "Startups",
              "url": "#"
            }
          ]
        }).panel-card--grass-green
      .col-md-4
        +panel-card({
          "url": "#",
          "title": "Insider Secrets of the AI Escape Bus Challenge",
          "image": "/images/news/news-10.jpg",
          "date": "03 Nov 2017",
          "industries": [
            "Retail"
          ],
          "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
          "topics": [
            {
              "name": "Digital Economy",
              "url": "#"
            },
            {
              "name": "Startups",
              "url": "#"
            }
          ]
        }).panel-card--steel-blue
      .col-md-4
        +panel-card({
          "url": "#",
          "title": "Insider Secrets of the AI Escape Bus Challenge",
          "image": "/images/news/news-10.jpg",
          "date": "03 Nov 2017",
          "industries": [
            "Retail"
          ],
          "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
          "topics": [
            {
              "name": "Digital Economy",
              "url": "#"
            },
            {
              "name": "Startups",
              "url": "#"
            }
          ]
        }).panel-card--royal-blue
      .col-md-4
        +panel-card({
          "url": "#",
          "title": "Insider Secrets of the AI Escape Bus Challenge",
          "image": "/images/news/news-10.jpg",
          "date": "03 Nov 2017",
          "industries": [
            "Retail"
          ],
          "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
          "topics": [
            {
              "name": "Digital Economy",
              "url": "#"
            },
            {
              "name": "Startups",
              "url": "#"
            }
          ]
        }).panel-card--navy-blue
      .col-md-4
        +panel-card({
          "url": "#",
          "title": "Insider Secrets of the AI Escape Bus Challenge",
          "image": "/images/news/news-10.jpg",
          "date": "03 Nov 2017",
          "industries": [
            "Retail"
          ],
          "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
          "topics": [
            {
              "name": "Digital Economy",
              "url": "#"
            },
            {
              "name": "Startups",
              "url": "#"
            }
          ]
        }).panel-card--orange
      .col-md-4
        +panel-card({
          "url": "#",
          "title": "Insider Secrets of the AI Escape Bus Challenge",
          "date": "03 Nov 2017",
          "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis."
        }).panel-card--simple

    h2 Snippet Card
    .row
      .col-md-9
        +snippet-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "topics": [
            {
              "url": "#",
              "name": "Digital Economy"
            },
            {
              "url": "#",
              "name": "Startups"
            }
          ],
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "icon": "icon-individual",
          "target": "For Individuals"
        })
      .col-md-9
        +snippet-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "topics": [
            {
              "url": "#",
              "name": "Digital Economy"
            },
            {
              "url": "#",
              "name": "Startups"
            }
          ],
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "icon": "icon-individual",
          "target": "For Individuals"
        }).snippet-card--dark-red
      .col-md-9
        +snippet-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "topics": [
            {
              "url": "#",
              "name": "Digital Economy"
            },
            {
              "url": "#",
              "name": "Startups"
            }
          ],
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "icon": "icon-individual",
          "target": "For Individuals"
        }).snippet-card--coral
      .col-md-9
        +snippet-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "topics": [
            {
              "url": "#",
              "name": "Digital Economy"
            },
            {
              "url": "#",
              "name": "Startups"
            }
          ],
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "icon": "icon-individual",
          "target": "For Individuals"
        }).snippet-card--rose
      .col-md-9
        +snippet-card({
          "url": "#",
          "title": "CODE@SG Movement - Developing Computational Thinking As A National Capability",
          "topics": [
            {
              "url": "#",
              "name": "Digital Economy"
            },
            {
              "url": "#",
              "name": "Startups"
            }
          ],
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "icon": "icon-individual",
          "target": "For Individuals"
        }).snippet-card--sea-green
      .col-md-9
        +snippet-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "topics": [
            {
              "url": "#",
              "name": "Digital Economy"
            },
            {
              "url": "#",
              "name": "Startups"
            }
          ],
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "icon": "icon-individual",
          "target": "For Individuals"
        }).snippet-card--grass-green
      .col-md-9
        +snippet-card({
          "url": "#",
          "title": "CODE@SG Movement - Developing Computational Thinking As A National Capability",
          "topics": [
            {
              "url": "#",
              "name": "Digital Economy"
            },
            {
              "url": "#",
              "name": "Startups"
            }
          ],
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "icon": "icon-individual",
          "target": "For Individuals"
        }).snippet-card--steel-blue
        +snippet-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "topics": [
            {
              "url": "#",
              "name": "Digital Economy"
            },
            {
              "url": "#",
              "name": "Startups"
            }
          ],
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "icon": "icon-individual",
          "target": "For Individuals"
        }).snippet-card--royal-blue
        +snippet-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "topics": [
            {
              "url": "#",
              "name": "Digital Economy"
            },
            {
              "url": "#",
              "name": "Startups"
            }
          ],
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "icon": "icon-individual",
          "target": "For Individuals"
        }).snippet-card--navy-blue
        +snippet-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "topics": [
            {
              "url": "#",
              "name": "Digital Economy"
            },
            {
              "url": "#",
              "name": "Startups"
            }
          ],
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "icon": "icon-individual",
          "target": "For Individuals"
        }).snippet-card--orange

    h2 Social Share

    +social-share()

    h2 Story Card

    .row
      .col-md-6
        +story-card({
          "title": "Automating manufacturing process with digitalisation",
          "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit perspiciatis aut fugiat illo dolor, vel aliquam asperiores maiores obcaecati quos!",
          "image": "/images/stories/story-1.jpg",
          "company": "VI Dimension Pte Ltd - ARVAS",
          "industry": "Finance",
          "url": "#"
        }).story-card--green-yellow
      .col-md-6
        +story-card({
          "title": "Automating manufacturing process with digitalisation",
          "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit perspiciatis aut fugiat illo dolor, vel aliquam asperiores maiores obcaecati quos!",
          "image": "/images/stories/story-2.jpg",
          "company": "VI Dimension Pte Ltd - ARVAS",
          "industry": "Tech",
          "url": "#"
        }).story-card--reverse.story-card--blue-green
      .col-md-6
        +story-card({
          "title": "Automating manufacturing process with digitalisation",
          "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit perspiciatis aut fugiat illo dolor, vel aliquam asperiores maiores obcaecati quos!",
          "image": "/images/stories/story-2.jpg",
          "company": "VI Dimension Pte Ltd - ARVAS",
          "industry": "Tech",
          "url": "#"
        }).story-card--reverse.story-card--purple-red
      .col-md-3
        +story-card({
          "title": "Automating manufacturing process with digitalisation",
          "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit perspiciatis aut fugiat illo dolor, vel aliquam asperiores maiores obcaecati quos!",
          "image": "/images/stories/story-3.jpg",
          "company": "VI Dimension Pte Ltd - ARVAS",
          "industry": "Blockchain",
          "url": "#"
        }).story-card--vertical.story-card--red-orange

    h2 Summary card

    +summary-card({
      "title": "Better Internet Campaign",
      "image": "/images/homepage/campaign.jpg",
      "contents": "<p>The IMDA develops and regulates the converging infocomm and media sectors in a holistic way, creating a dynamic and exciting sector filled with opportunities for growth, through an emphasis on talent, research, innovation and enterprise.</p><p>As a statutory board in the Singapore government, it seeks to deepen regulatory capabilities for a converged infocomm media.</p>",
      "cta": {
        "url": "#",
        "label": "Find out more"
      }
    })

    h2 Teaser Card

    .row
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "target": "For Individuals",
          "icon": "icon-individual"
        })
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).teaser-card--dark-red
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).teaser-card--coral
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).teaser-card--rose
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).teaser-card--sea-green
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).teaser-card--grass-green
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).teaser-card--steel-blue
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).teaser-card--royal-blue
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).teaser-card--navy-blue
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).teaser-card--orange
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).teaser-card--panel
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).teaser-card--dark-red.teaser-card--panel
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).teaser-card--coral.teaser-card--panel
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).teaser-card--rose.teaser-card--panel
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).teaser-card--sea-green.teaser-card--panel
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).teaser-card--grass-green.teaser-card--panel
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).teaser-card--steel-blue.teaser-card--panel
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).teaser-card--royal-blue.teaser-card--panel
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).teaser-card--navy-blue.teaser-card--panel
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).teaser-card--orange.teaser-card--panel

    h2 Thumbnail Card

    .row
      .col-md-4
        +thumbnail-card({
          "title": "SG Data center achievements in the spotlight",
          "image": "/images/news/news-1.jpg",
          "topics": [
            "Data Center",
            "Digital Makers"
          ],
          "category": "News",
          "date": "03 Nov 2017",
          "url": "#"
        })
      .col-md-4
        +thumbnail-card({
          "title": "SG Data center achievements in the spotlight",
          "topics": [
            "Data Center",
            "Digital Makers"
          ],
          "category": "News",
          "date": "03 Nov 2017",
          "url": "#"
        }).thumbnail-card--dark-red
      .col-md-4
        +thumbnail-card({
          "title": "SG Data center achievements in the spotlight",
          "image": "/images/news/news-1.jpg",
          "topics": [
            "Data Center",
            "Digital Makers"
          ],
          "category": "News",
          "date": "03 Nov 2017",
          "url": "#"
        }).thumbnail-card--coral
      .col-md-4
        +thumbnail-card({
          "title": "SG Data center achievements in the spotlight",
          "image": "/images/news/news-1.jpg",
          "topics": [
            "Data Center",
            "Digital Makers"
          ],
          "category": "News",
          "date": "03 Nov 2017",
          "url": "#"
        }).thumbnail-card--rose
      .col-md-4
        +thumbnail-card({
          "title": "SG Data center achievements in the spotlight",
          "image": "/images/news/news-1.jpg",
          "topics": [
            "Data Center",
            "Digital Makers"
          ],
          "category": "News",
          "date": "03 Nov 2017",
          "url": "#"
        }).thumbnail-card--sea-green
      .col-md-4
        +thumbnail-card({
          "title": "SG Data center achievements in the spotlight",
          "image": "/images/news/news-1.jpg",
          "topics": [
            "Data Center",
            "Digital Makers"
          ],
          "category": "News",
          "date": "03 Nov 2017",
          "url": "#"
        }).thumbnail-card--grass-green
      .col-md-4
        +thumbnail-card({
          "title": "SG Data center achievements in the spotlight",
          "topics": [
            "Data Center",
            "Digital Makers"
          ],
          "category": "News",
          "date": "03 Nov 2017",
          "url": "#"
        }).thumbnail-card--steel-blue
      .col-md-4
        +thumbnail-card({
          "title": "SG Data center achievements in the spotlight",
          "image": "/images/news/news-1.jpg",
          "topics": [
            "Data Center",
            "Digital Makers"
          ],
          "category": "News",
          "date": "03 Nov 2017",
          "url": "#"
        }).thumbnail-card--royal-blue
      .col-md-4
        +thumbnail-card({
          "title": "SG Data center achievements in the spotlight",
          "image": "/images/news/news-1.jpg",
          "topics": [
            "Data Center",
            "Digital Makers"
          ],
          "category": "News",
          "date": "03 Nov 2017",
          "url": "#"
        }).thumbnail-card--navy-blue
      .col-md-4
        +thumbnail-card({
          "title": "SG Data center achievements in the spotlight",
          "image": "/images/news/news-1.jpg",
          "topics": [
            "Data Center",
            "Digital Makers"
          ],
          "category": "News",
          "date": "03 Nov 2017",
          "url": "#"
        }).thumbnail-card--orange

    h2 Video Player

    +video-player({
      "videoId": "L209rWk_0TY",
      "image": "/images/detail/gallery-1.jpg",
      "title": "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, quibusdam."
    })

    .rte
      a.link__pdf(href="/images/ste.pdf") This is pdf link
      br
      a.link__word(href="/images/ste.doc") This is doc link
      br
      a.link__word(href="/images/ste.docx") This is docx link
      br
      a.link__excel(href="/images/ste.xls") This is xls link
      br
      a.link__excel(href="/images/ste.xlsx") This is xlsx link
      br
      a.link__ppt(href="/images/ste.ppt") This is ppt link
      br
      a.link__ppt(href="/images/ste.pptx") This is pptx link
      br
      a.link__external(href="#") This is external link
      br
      p
        img(alt="NetlinkTrust logo" src="/images/homepage/partner-logo-1.png")
        span(style="padding-left: 5px;")
          img(alt="Fairprice foundation logo" src="/images/homepage/partner-logo-2.png")
        span(style="padding-left: 80px;")
          img(alt="POSB logo" src="/images/homepage/partner-logo-2.jpg")
      div(class="iframe-wrap")
        iframe(width="560" height="315" src="https://www.youtube.com/embed/2Dzs853ZSK4?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" id="widget4")