extends ../_layouts/standard-landing

block append config
  - baseUrl = "../"
  - pageUrl = "/standard-landing"
  - var pageData = site.data.standardLanding.standardLanding
  - pageTitle = pageData.pageTitle
  - pageDescription = ''
  - sectionName = ''
  - breadcrumbs = pageData.breadcrumbs
  - pageHeader = pageData.pageHeader
  - pageItems = pageData.items
