extends ../../_layouts/standard-detail

block append config
  - baseUrl = "../../"
  - pageUrl = "/events-listing/silver-it-fest-plus"
  - var pageData = site.data.standardDetail.silverItFest
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts

block detailContent
  +rte()
    h2 IT Classes@ Silver Infocomm Junctions

    p More than 2,500 seniors attended the Silver IT Fest Plus – IT Classes@ITE College Central in June 2018, and 97% of participants said they were more confident to use technology at the end of the class!

    p If you had missed the June classes, do not fret. You can now sign up for the upcoming Silver IT Fest Plus - IT Classes (24 Sep – 7 Oct) at your nearest participating Silver Infocomm Junctions (SIJs) or Community Centres/Clubs (CCs) located island wide.

    h2 Be a Smart Citizen

    p To equip yourself with Basic Digital Skills, sign up for the SkillsFuture for Digital Community course, which is a one-day course to cover essential skills to learn how to transact digitally, e-communication and more to help you take advantage of digital services for you daily activities. Other courses such as Basic Computer (Win 10) cover the basics to use the computer optimally, or learn how to manage your storage with ‘Online Storage and Sharing’ course and get tips to ‘Stay Safe Online’. You can also sign up e-Travel, e-Entertainment, Digital Banking, Navigating Around Singapore and Mobile App for Government Services to meet your daily living needs.

    p The new Silver Digital Creators (SDC) course aimed to build confidence of seniors using technology. You will learn how to publish an e-book, make a movie, create personalise ringtone or use basic coding to programme a drone or a robot. The SDC consists of 5 modules– Digital Photography, Movie Making, Digital Music & Art, Coding and Book Authoring. If you complete all 5 modules, you will also receive an Apple Regional training Centre certificate of recognition.

    h2 How to Sign up?

    p Visit the nearest SIJs (CARE, CDAC, ITE, NTUC LearningHub and RSVP Singapore), or Community Centres/Clubs to sign up for IT classes. For more information on the Silver IT Fest Plus - IT Classes, please click <a href="#">here (PDF) </a>.

    p
      a(href="#") List of IT Classes in English and Mandarin (PDF)

    p
      a(href="#") List of IT Classes in Tamil (PDF)

    p
      a(href="#") List of IT Classes in Malay (PDF)

    p Courses are SkillsFuture credit eligible.

    p Follow the IMDA Facebook page for informing about upcoming events. For enquiries on the Silver IT Fest Plus IT Classes, please call the IMDA hotline at 6377 3800 or email to <a href="mailto:info@imda.gov.sg">info@imda.gov.sg</a>.
