extends ../_layouts/who-we-are

include ../_modules/organisms/about-us-intro/about-us-intro
include ../_modules/organisms/accordion-sliders/accordion-sliders

block append config
  - baseUrl = "../"
  - pageUrl = "/who-we-are"
  - var pageData = site.data.standardLanding.whoWeAre
  - pageTitle = pageData.pageTitle
  - pageDescription = "We chart Singapore's digital transformation efforts by building the foundations of its digital infrastructure and driving digital innovation for a vibrant digital workforce and a safe and inclusive digital society."
  - sectionName = ''
  - breadcrumbs = pageData.breadcrumbs
  - pageHeader = pageData.pageHeader
  - pageContent = pageData.content

block whoWeAreContent
  +about-us-intro({
    "title": pageContent.intro.title,
    "text": pageContent.intro.text,
    "collapsibleContent": pageContent.intro.collapsibleContent
  })
    +accordion-sliders
      each topic, index in pageContent.intro.topics
        +horizontal-accordion({
          "image": topic.image,
          "image2": topic.image2,
          "image3": topic.image3,
          "title": topic.title,
          "text": topic.text
        }).active(data-index=index)
  +accordion-sections(pageContent.whatwedo)