include ../../atoms/pill/pill

mixin panel-card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .panel-card&attributes(attributes)
    .panel-card__header
      if spec.industries
        span.industry
          each industry, index in spec.industries
            if (index > 0)
              | , #{' '}
            = industry
      if spec.__type =='event'
        span.date
          span.icon.icon-calendar
          span.label= spec.date
      else
        span.date= spec.date
    if spec.image
      .panel-card__image
        a(href= spec.url)
          img(src= spec.image, alt= spec.title)
    .panel-card__content
      a.panel-card__title(href= spec.url)
        h3= spec.title
      p.panel-card__desc= spec.description

      if spec.topics && spec.topics.length
        each topic in spec.topics
          +pill({
            "label": topic.name,
            "url": topic.url
          })

mixin panel-card-dot(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .panel-card(class="panel-card--{{=item.color}}")
    .panel-card__header
      span.date
        span.icon.icon-calendar
        span.label {{=item.date}}
    .panel-card__content
      a.panel-card__title(href="{{=item.url}}")
        h3 {{=item.title}}
      p.panel-card__desc {{=item.description}}

      | {{? item.topics.length}}
      | {{~ item.topics :topic}}

      a.pill(href="{{=topic.url}}") {{=topic.name}}
      | {{~}}
      | {{?}}

mixin panel-card-news-dot(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .panel-card
    .panel-card__header
      | {{? item.industries.length }}
      span.industry
        | {{~ item.industries :industry:industryIndex}}
        | {{? industryIndex > 0}}
        | ,
        | {{?}}
        | {{=industry}}
        | {{~}}
        | {{?}}
      span.date {{= item.date }}
    .panel-card__image
      a(href="{{=item.url}}")
        img(src="{{=item.image}}", alt="{{=item.title}}")
  .panel-card__content
      a.panel-card__title(href="{{=item.url}}")
        h3 {{=item.title}}
      p.panel-card__desc {{=item.description}}

      | {{? item.topics.length}}
      | {{~ item.topics :topic}}
      a.pill(href="{{=topic.url}}") {{=topic.name}}
      | {{~}}
      | {{?}}

mixin panel-card-press-dot(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .panel-card.panel-card--simple
    .panel-card__header
      span.category {{= item.type}}
      span.date {{= item.date }}
    .panel-card__content
      a.panel-card__title(href="{{=item.url}}")
        h3 {{=item.title}}
      p.panel-card__desc {{=item.description}}

mixin panel-card-digitalsol-dot(spec)
  - spec = spec || {}
  - spec.__class = spec.__class

  .panel-card(class="panel-card--{{=item.color}}")
    .panel-card__header
      span.type
        span.label {{=item.type}}
    | {{? item.image}}
    .panel-card__image
      a(href="{{=item.url}}" target="_blank")
        img(src="{{=item.image}}", alt="{{=item.title}}")
    | {{?}}
    .panel-card__content
      a.panel-card__title(href="{{=item.url}}" target="_blank")
        h3 {{=item.title}}
      p.panel-card__desc.panel-card__provider {{=item.provider}}
      | {{? item.contact}}
      p.panel-card__desc {{=item.contact}}
      | {{?}}
      p.pill {{=item.access}}