// panel-card styles
.panel-card {
  $p: &;
  background: #fff;
  border-radius: 4px;
  box-shadow: $cardShadow;
  overflow: hidden;
  cursor: default;
  transition: all .25s $easeInOutExpo;
  &:hover, &:focus {
    box-shadow: $cardShadowHover;
    .panel-card__image {
      a {
        img {
          transform: scale(1.1);
        }
      }
    }
    .panel-card__title {
      color: $purple;
    }
  }
  &--dark-red {
    #{$p}__header {
      background: $darkRed;
    }

   
    &:hover, &:focus {
      #{$p}__title {
        color: $darkRed;
      }
    }
  }

  &--coral {
    #{$p}__header {
      background: $coral;
    }

    &:hover, &:focus {
      #{$p}__title {
      
        color: $coral;
      }
    }
  }

  &--rose {
    #{$p}__header {
      background: $rose;
    }

    &:hover, &:focus {
      #{$p}__title {
        color: $rose;
      }
    }
  }

  &--sea-green {
    #{$p}__header {
      background: $seaGreen;
    }

    &:hover, &:focus {
      #{$p}__title {
        color: $seaGreen;
      }
    }
  }

  &--grass-green {
    #{$p}__header {
      background: $grassGreen;
    }

    &:hover, &:focus {
      #{$p}__title {
        color: $grassGreen;
      }
    }
  }


  &--steel-blue {
    #{$p}__header {
      background: $steelBlue;
    }

    &:hover, &:focus {
      #{$p}__title {
        color: $steelBlue;
      }
    }
  }

  &--royal-blue {
    #{$p}__header {
      background: $royalBlue;
    }

    &:hover, &:focus {
      #{$p}__title {
        color: $royalBlue;
      }
    }
  }

  &--navy-blue {
    #{$p}__header {
      background: $navyBlue;
    }

    &:hover, &:focus {
      #{$p}__title {
      
        color: $navyBlue;
      }
    }
  }



  &--orange {
    #{$p}__header {
      background: $orange;
    }

    &:hover, &:focus {
      #{$p}__title {
      
        color: $orange;
      }
    }
  }




  &--grey {
    #{$p}__header {
      background: lighten($grey, 20%);
    }

    &:hover, &:focus {
      #{$p}__title {
      
        color: $grey;
      }
    }
  }

  &--event {
    #{$p}__header {
      .date {
        float: none;
      }
    }
  }

  &--simple {
    #{$p}__header {
      background: transparent;
      border-bottom: 1px solid $borderColor;

      .category {
        color: $purple;
      }

      .date {
        color: $headerColor;
      }
    }
  }

  &__header {
    @extend %clearfix;
    background: $purple;
    color: #fff;
    padding: 5px 10px;

    .industry {
      font-size: calc-em(12px);
      font-weight: $heavy;
      letter-spacing: .1em;
      text-transform: uppercase;
    }

    .date {
      float: right;
      font-size: calc-em(12px);
      font-weight: $roman;
      margin-top: 3px;
      text-transform: uppercase;

      .icon {
        margin-right: 5px;
        opacity: 0.5;
      }
    }
  }

  &__title {
    color: $headerColor;
    text-decoration: none;

    &:visited {
      color: $visitedLink;
    }

  

    h3 {
      font-size: calc-em(24px);
      margin: 10px 0;
    }
  }

  &__image {
    overflow: hidden;
    width: 100%;

    a {
      display: block;

      // &:hover, &:focus {
      //   img {
      //     transform: scale(1.1);
      //   }
      // }
    }

    img {
      transition: transform .25s $easeInOutExpo;
      width: 100%;
    }

  }

  &__desc {
    font-size: calc-em(15px);
    font-weight: $light;
  }

  &__content {
    padding: 20px;

    .btn {
      margin: 0 10px 8px 0;
      letter-spacing: 0.05em;
    }
  }

  
}
