mixin events-carousel-item-placeholder(spec)

  .event-carousel-card-placeholder&attributes(attributes)
    .event-carousel-card-placeholder__image
      svg(width="497" height="481" viewBox="0 0 497 481" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M-33 -144H530L248.566 489L-33 -144Z" fill="url(#paint0_linear_405_79969)")
        defs
          linearGradient(id="paint0_linear_405_79969" x1="404.5" y1="-336.5" x2="-32.9999" y2="594" gradientUnits="userSpaceOnUse")
            stop(stop-color="#FFAFC1" stop-opacity="0.6")
            stop(offset="0.82105" stop-color="#FFAFC1" stop-opacity="0")

    .event-carousel-card-placeholder__text
      h3 Stay tuned for new updates coming your way.
      p Please come back later or switch to a different activity to view our picks.


mixin events-carousel-item(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .event-carousel-card(class=spec.__class)&attributes(attributes)
    .event-carousel-card__image
      picture
        source(srcset= spec.image, media="(max-width: 1023px)")
        source(srcset= spec.image)
        img(src=spec.image, alt="")
      if spec.signature
        .event-carousel-card__label(class= spec.whiteLabel ? 'event-carousel-card__label--white' : '')
          +signature-label
    .event-carousel-card__text
      span.event-carousel-card__tag=spec.type
      h3=spec.title
      if spec.text
        p=spec.text
      span.date=spec.date
      +button({
        "label": "Learn more",
        "url": "#"
      })

mixin events-carousel-item-dot(spec)
  .event-carousel-card
    .event-carousel-card__image
      picture
        | {{? item.mobileImage}}
        source(srcset="{{=item.mobileImage}}", media="(max-width: 1023px)")
        | {{?}}
        source(srcset="{{=item.image}}")
        img(src="{{=item.image}}", alt="{{=item.title}}")
      | {{? item.signature}}
      | {{? item.whiteLabel}}
      .event-carousel-card__label.event-carousel-card__label--white
        +signature-label
      | {{??}}
      .event-carousel-card__label
        +signature-label
      | {{?}}
      | {{?}}
    .event-carousel-card__text
      | {{? item.type}}
      span.event-carousel-card__tag {{=item.type}}
      | {{?}}
      h3 {{=item.title}}
      | {{? item.description}}
      p {{=item.description}}
      | {{?}}
      | {{? item.date}}
      span.date {{=item.date}}
      | {{?}}
      +button({
        "label": "Learn more",
        "url": "#"
      })