// events-carousel-item styles
.event-carousel-card {
  color: #F0F0F0;
  overflow: hidden;

  &__image {
    @include aspect-ratio(375, 268, 100%);
    
    @include desktop {
      @include aspect-ratio(1440, 505, 100%);
    }

    img {
      @include absolute-img;
      @include image-cover;
    }
  }

  &__label {
    position: absolute;
    top: 0;
    right: 0;
    width: 102px;
    height: 102px;

    @include desktop {
      width: 220px;
      height: 220px;
    }

    &.event-carousel-card__label--white {
      svg {
        path {
          stroke: #fff;
          fill: #fff;
        }
      }
    }

    svg {
      position: absolute;
      left: 0;
      bottom: 0;
      animation: rotating 6s linear infinite;

      @include desktop {
        width: 385px;
        height: 385px;
      }

      path {
        stroke: #000;
        fill: #000;
      }
    }
  }

  &__text {
    padding: 26px 20px 31px;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: $contentHubBlack;
    text-align: center;
    margin: -65px auto 0;
    position: relative;
    z-index: 1;
    max-width: calc(100% - 60px);

    @include desktop {
      padding: 35px 20px 40px;
      max-width: 784px;
      margin: -156px auto 0;
    }
  }

  &__tag {
    font-weight: 500;
    font-size: calc-em(12px);
    line-height: 140%;
    text-shadow: $textGlow1;
    margin: 0 0 12px;
    display: block;
    text-transform: uppercase;

    @include desktop {
      font-size: calc-em(16px);
      margin: 0 0 10px;
    }
  }

  h3 {
    font-weight: 600;
    font-size: calc-em(18px);
    line-height: 140%;
    margin: 0 0 9px;
    
    @include desktop {
      font-size: calc-em(32px);
      line-height: 120%;
      margin: 0 0 8px;
    }
  }

  p {
    font-weight: 500;
    line-height: 140%;
    margin: 0 auto 14px;
    max-width: 568px;

    @include desktopMax {
      display: none;
    }
  }

  .date {
    font-size: calc-em(12px);
    line-height: 140%;
    margin: 0 0 16px;
    display: block;

    @include desktop {
      font-size: calc-em(16px);
      margin: 0 0 16px;
    }
  }

  a {
    color: $textOffWhite;
    border: 1px solid $textOffWhite;
    background-color: transparent;
  }
}

.event-carousel-card-placeholder {
  position: relative;
  display: flex;
  align-items: end;

  @include desktop {
    align-items: center;
  }

  &__image {
    background: linear-gradient(108.59deg, rgba(63, 38, 73, 0.8) 23.78%, rgba(76, 43, 93, 0) 100%), linear-gradient(147.01deg, rgba(255, 175, 193, 0) 27.42%, rgba(255, 175, 193, 0.6) 101.33%), #702F8A;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    svg {
      position: absolute;
      top: 0;
      right: 0;
      width: 184px;
      height: 214px;

      @include desktop {
        width: auto;
        height: auto;
        right: 100px;
      }
    }
  }

  &__text {
    color: #FFF;
    padding: 123px 30px 30px;
    z-index: 1;

    @include desktop {
      padding: 155px 100px;
    }
    
    h3 {
      font-weight: 600;
      font-size: calc-em(24px);
      line-height: 140%;
      margin: 0 0 16px;
      max-width: 50%;
      
      @include desktop {
        max-width: 524px;
        font-size: calc-em(36px);
      }
    }

    p {
      line-height: 140%;
      margin: 0;
      
      @include desktop {
        max-width: 524px;
        font-size: calc-em(24px);
      }
    }
  }
}