include ../../atoms/loading-icon/loading-icon
include ../../molecules/panel-card/panel-card
include ../../molecules/listing-filter/listing-filter
include ../../molecules/pagination/pagination

mixin digitalsol-listing(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  //- .digitalsol-listing(data-endpoint="/ajax/digitalsol-listing.json")
  .digitalsol-listing(data-endpoint="/ajax/digitalsol-listing.json")
    .container
      +listing-filter({
        "fields": [
          {
            "label": "Types of Solutions",
            "id": "solutions",
            "name": "solutions",
            "__type": "select",
            "options": [
              {
                "value": "All",
                "text": "All Solutions"
              },
              {
                "value": "Digital Ordering",
                "text": "Digital Ordering"
              },
              {
                "value": "HR Payroll",
                "text": "HR Payroll"
              }
            ]
          },
          {
            "label": "Solution Providers",
            "id": "provider",
            "name": "provider",
            "__type": "select",
            "options": [
              {
                "value": "All",
                "text": "All Providers"
              },
              {
                "value": "7Network",
                "text": "7-Network"
              },
              {
                "value": "8x8",
                "text": "8x8"
              },
              {
                "value": "Acronis Asia",
                "text": "Acronis Asia"
              },
              {
                "value": "Alibaba Cloud Singapore",
                "text": "Alibaba Cloud Singapore"
              },
              {
                "value": "Amazon Web Services",
                "text": "Amazon Web Services, Inc"
              }
            ]
          },
          {
            "label": "Search by keyword",
            "id": "keyword",
            "name": "keyword",
            "__type": "search"
          }
        ]
      }).digitalsol-listing__filters

      .digitalsol-listing__content
        +loading-icon()
        .digitalsol-listing__list
        
        +pagination-js().digitalsol-listing__pagination
  
  script#digitalsolListingTemplate(type="text/x-dot-template")
    |{{? it.length}}
    |{{~ it :item:index}}
    .digitalsol-listing__item.col-md-4.col-sm-12.col-xs-12
      +panel-card-digitalsol-dot()
    |{{~}}
    |{{??}}
    p.empty-msg Sorry, there is no result. Please try with different filter.
    |{{?}}