// digitalsol-listing styles
.digitalsol-listing {
    // background: $background;
    padding: 30px 0;
  
    &__content {
      min-height: 300px;
      overflow: hidden;
      position: relative;
      width: 100%;
  
      &:before {
        content: "";
        background: #fff;
        height: 100%;
        left: 0;
        opacity: 0.8;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
      }
  
      &.content-loaded {
        &:before {
          display: none;
        }
  
        .loading-icon {
          display: none;
        }
  
        .pagination {
          display: block;
        }
      }
  
      &.content-updating {
        &:before {
          display: block;
        }
  
        .loading-icon {
          display: block;
        }
      }
  
      .loading-icon {
        left: 0;
        position: absolute;
        margin: auto;
        right: 0;
        top: 20px;
        z-index: 1;
      }
  
      .pagination {
        display: none;
      }
    }
  
    &__item {
      margin-bottom: 20px;
      width: 100%;

      .panel-card {
        .panel-card__header {
          // font-weight: 800;
          font-size: calc-em(14px);
          // color: #fff;
          background-color: transparent;
          padding: 10px;
          border-bottom: 1px solid #e4e4e4;
        }

        &__content {
          .pill,
          .btn-tag {
            display: inline-block;
            cursor: default;
            
            &:hover {
              color: #6F358D;
              background-color: transparent;
            }
          }
        }

        &--teal {
          .panel-card__header {
            color: #3cab95;
          }
        }

        &--blue {
          .panel-card__header {
            color: #4a9acf;
          }
        }

        &--green {
          .panel-card__header {
            color: #48b577;
          }
        }

        &--purple {
          .panel-card__header {
            color: #9557ad;
          }   
        }

        &--orange {
          .panel-card__header {
            color: #d68f1e;
          }   
        }

        &--red {
          .panel-card__header {
            color: #d14536;
          }   
        }
      }
    }
  }
  
  @media only screen and (min-width: $bpTablet) {
    .digitalsol-listing {
      &__list {
        margin: 0 0px;
        padding: 5px 0 0;
        display: flex;
        flex-wrap: wrap;
      }
  
      &__item {
        margin-bottom: 30px;
        padding: 0 15px;
        width: (100% / 2);
      }
    }
  }
  
  @media only screen and (min-width: $bpDesktop) {
    .digitalsol-listing {
      &__item {
        width: (100% / 3);
      }
    }
  }