// detail-aside styles
// .detail-aside {
// }

@media only screen and (max-width: $bpDesktop - 1) {
  .detail-aside {
    .social-share {
      margin-top: 0 !important;
    }
  }
}

@media only screen and (min-width: $bpDesktop) {
  .detail-aside {
    padding-top: 50px;

    .sticky {
      position: fixed;
      top: 0;
    }

    .stick-to-bottom {
      position: absolute;
      top: auto;
      bottom: 32px;
    }
  }
}