include ../../molecules/social-share/social-share

mixin detail-aside(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  aside.detail-aside
    +social-share()
    //- if spec.tags
    //-   +tags-list({
    //-     "items": spec.tags
    //-   })

    //- +featured({
    //-   "items": [
    //-     {
    //-       "image": "/images/detail/featured-1.jpg",
    //-       "name": "SG:Digital: Explore Singapore digitalisation",
    //-       "url": "/detail-page"
    //-     },
    //-     {
    //-       "image": "/images/detail/featured-2.jpg",
    //-       "name": "Better Internet Campaign Started",
    //-       "url": "/detail-page"
    //-     }
    //-   ]
    //- })
