extends ../_layouts/standard-listing

block append config
  - pageUrl = "/standard-listing"
  - var pageData = site.data.standardListing.standardListing
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageHeader = pageData.pageHeader
  - pageItems = pageData.items

block detailContent
  +rte()
    h2 Other Infocomm Related Acts and Policies

    ul
      li
        b Intellectual Property Rights
        br
        p The lead agency for Intellectual Rights (IPR) protection in Singapore is the Intellectual <a href="#">Property Office of Singapore</a href="#"> (IPOS). IMDA provides support in the infocomm aspects.
      li
        b Domain Names
        br
        p Under the IDA Act (Cap 137A), IDA has the power to authorise or regulate the registration, administration and management of domain names in Singapore. The Singapore Network Information Centre (SGNIC) was set up in October 1995 with the main purpose of administering the Internet domain name space in Singapore. It is the central registry recognised by the Internet Corporation for Assigned Names and Numbers (ICANN) to administer third-level domain name registration under the ".sg" domain name. SGNIC cooperates with the international, regional and local Internet communities to ensure a stabilised and efficient operation of the ".sg" domain name space in support of applications provided over the Internet.
        p For more information on domain name policies, please refer to the <a href="#">SGNIC</a href="#"> website.
