extends ../_layouts/base

include ../_modules/organisms/page-banner/page-banner
include ../_modules/organisms/innovative-tech-listing/innovative-tech-listing

block append stylesheets

block append scripts

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - pageTitle = 'Innovative Tech Companies Listing'
  - pageDescription = "IMDA drives the growth, competitiveness and innovation of Singapore's information and communication technology (ICT) industry by nurturing local ICT enterprises."
  - var sectionName = "For Industry"
  -
    var breadcrumbs = [
      {
        "name": "For Industry",
        "url": "/industry-support"
      },
      {
        "name": "Programmes, Grants, Scholarships and Schemes"
      }
    ]

//- block breadcrumb
  //- +breadcrumb()

//- block banner
  //- +banner()

block content
  +page-banner({
    "pageTitle": pageTitle,
    "breadcrumbs": breadcrumbs,
  })(class= bannerColorClass)
  
  +innovative-tech-listing()
