mixin short-image-card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  a.short-image-card(class=spec.__class href=spec.url)&attributes(attributes)
    if (spec.readTime)
      .short-image-card__read-time
        div
          span.icon.icon-time
          span= spec.readTime
    .short-image-card__img-wrapper 
      img(src=spec.image alt=spec.title)
    .short-image-card__text
      h3.short-image-card__title= spec.title 
      p=spec.description
      .short-image-card__tag-list
        each tag, index in spec.tags
          if index != 0
            | #{' | '}
          = tag
      span.right-arrow
        +right-arrow
    
