// short-image-card styles
.short-image-card {
  $p: &;
  text-decoration: none;
  position: relative;
  display: block;
  color: $textBlack;
  margin-bottom: 20px;
  border: 1px solid $borderGray2;
  // background-color: #fff;

  @include hover {
    &:hover {
      #{$p}__read-time {
        &::before {
          width: calc(100% + 20px);
        }
      }

      #{$p}__img-wrapper img {
        transform: scale(1.1);
      }
    }
  }

  &__read-time {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    text-transform: uppercase;
    color: $primaryPurple;
    font-size: calc-em(14px);
    font-weight: $medium;
    width: 100%;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0px;
      height: 100%;
      width: 100px;
      display: block;
      background-color: $purple10;
      transition: width 0.35s ease-in-out;
      transform: skewX(-44.02897806deg);
      z-index: -1;
      transition: width 0.35s ease-in-out;

      @include nohover {
        width: calc(100% + 20px);
      }
      
    }

    & > div {
      padding: 5px 5px 5px 10px;
      background-color: $purple10;
      display: inline-block;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: -20px;
        height: 100%;
        width: 100px;
        display: block;
        background-color: $purple10;
        transition: width 0.35s ease-in-out;
        transform: skewX(-44.02897806deg);
        z-index: -1;
      }
    }

    .icon {
      margin-right: 10px;
    }
  }

  &__img-wrapper {
    @include aspect-ratio(810, 545, 100%);
    overflow: hidden;

    img {
      @include absolute-img;
      @include image-cover;
      transition: all 0.5s $easeInOutExpo;
    }
  }

  &__text {
    padding: 24px 20px 54px;
  }

  &__title {
    line-height: 1.4;
    font-weight: 600;
    margin: 8px 0;
  }

  &__tag-list {
    display: none;
    font-size: calc-em(14px);
    margin-bottom: 18px;
    font-weight: $medium;
    color: $darkGrey2;

    @include desktop {
      font-size: calc-em(16px);
    }
  }

  // .right-arrow {
  //   position: relative;
  //   left: 0px;
  //   bottom: 0px;
  //   display: inline-block;
  // }
}