extends ../_layouts/standard-detail

include ../_modules/organisms/accordion-list/accordion-list

block append config
  - pageUrl = "/accordion-list"
  - var pageData = site.data.standardDetail.accordionList
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts

block detailContent
  +accordion-list()