// announcement-section styles
.announcement-slider-dots {
  position: absolute;
  bottom: -10px;
  list-style: none;
  left: calc(50% - 50px) ;
  display: block;
  text-align: left;
  padding: 0;
  margin: 0;

  li {
    position: relative;
    display: inline-block;
    margin: 0 3px;
    padding: 0;
    cursor: pointer;

    button {
      border: 0;
      background: transparent;
      display: block;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      cursor: pointer;

      &:hover, &:focus {
        outline: none;

        &:before {
          opacity: 1;
        }
      }

      &:before {
        width: 10px;
        height: 10px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        padding: 0;
        top: 0;
        left: 0;
        content: "";
        text-align: center;
        color: white;
        opacity: 0.8;
      }
    }

    &.slick-active {
      button:before {
        background: $purpleOld;
        opacity: 0.75;
      }
    }
  }
}

.announcement-section {
  padding: 25px 0px;
  background-color: $grey5;
  max-height: 400px;
  overflow: hidden;
  position: relative;
  display: none;

  h2 {
    padding-left: 40px;
    font-size: calc-em(25px);
    padding-bottom: 5px;
    margin: 0;
    font-weight: $roman;
  }

  .carousel-wrapper {
    padding: 0px 40px;
    display: block;
    position: relative;
    margin: 0;
  }

  .announcement-prev-arrow, .announcement-next-arrow {
    display: block;
    border: none;
    z-index: 5;
    cursor: pointer;
    padding: 7px 0;
    background: $blueOld;
    background: linear-gradient(to right, $greenOld, $blueOld) !important;
    transition: all 0.3s ease-in-out;
    text-align: center;

    span {
      display: block;
      font-family: 'icomoon';
      color: white;
      font-size: 2em;
    }
  }

  .announcement-prev-arrow {
    position: absolute;
    left: 60px;
    width: 30px;
    height: 45px;
    top: calc(50% - 17.5px);
    transform: translateX(-50px);
    opacity: 1;
    transition: all 0.3s ease-in-out;

    span {
      display: block;
      transform: rotate(180deg);
    }
  }

  .announcement-next-arrow {
    top: calc(50% - 17.5px);
    position: absolute;
    right: 60px;
    width: 30px;
    height: 45px;
    transform: translateX(50px);
    opacity: 1;
  }
}

@media only screen and (max-width: $bpTablet - 1) {
  .announcement-section {
    h2 {
      padding-left: 0;
      font-size: calc-em(20px);
    }

    .carousel-wrapper {
      padding: 0;
    }

    .announcement-prev-arrow, .announcement-next-arrow {
      padding: 0;
    }

    .announcement-prev-arrow {
      width: 50px;
      height: 30px;
      top: calc(100% - 45px);
      left: calc(100% - 52px);
    }

    .announcement-next-arrow {
      width: 50px;
      height: 30px;
      top: calc(100% - 45px);
      right: 50px;
    }
  }
}
