include ../../molecules/announcement-card/announcement-card

mixin announcement-section(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.announcement-section(class=spec.__class)&attributes(attributes)
    .container.container--mw1140
      H2 ANNOUNCEMENTS
      .carousel-wrapper
        .announcement-prev-arrow
          span.icon.icon-angle-right
        .announcement-next-arrow
          span.icon.icon-angle-right
        .announcement-carousel
          +announcement-card()
          +announcement-card()
          +announcement-card()
          +announcement-card()
          +announcement-card()
