extends ../_layouts/standard-detail

block append config
  - pageUrl = "/sitemap"
  - var pageData = site.data.standardDetail.sitemap
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription

block detailContent
  +rte()
    .sitemap
      ul
        li
          a(href='/imda-revamp') IMDA
        li
          a(href='/imda-revamp/who-we-are') Who we are
          ul
            li
              a(href='/imda-revamp/who-we-are/about-imda') What We Do
              ul
                li
                  a(href='/imda-revamp/who-we-are/about-imda/our-accolades') Our Accolades
                li
                  a(href='/imda-revamp/who-we-are/about-imda/our-service-standards') Our Service Standards
                li
                  a(href='/imda-revamp/who-we-are/about-imda/our-team') Our Team
                  ul
                    li
                      a(href='/imda-revamp/who-we-are/about-imda/our-team/our-board-of-directors') Our Board of Directors
                    li
                      a(href='/imda-revamp/who-we-are/about-imda/our-team/our-senior-management') Our Senior Management
                      ul
                        li
                          a(href='/imda-revamp/who-we-are/about-imda/our-team/our-senior-management/ceo-office') CEO's Office
                        li
                          a(href='/imda-revamp/who-we-are/about-imda/our-team/our-senior-management/data-innovation-and-protection') Data Innovation and Protection
                        li
                          a(href='/imda-revamp/who-we-are/about-imda/our-team/our-senior-management/industry-development') Industry Development
                        li
                          a(href='/imda-revamp/who-we-are/about-imda/our-team/our-senior-management/international-and-corporate') International and Corporate
                        li
                          a(href='/imda-revamp/who-we-are/about-imda/our-team/our-senior-management/planning') Planning
                        li
                          a(href='/imda-revamp/who-we-are/about-imda/our-team/our-senior-management/policy-regulation-and-competition-development') Policy, Regulation & Competition Development
                        li
                          a(href='/imda-revamp/who-we-are/about-imda/our-team/our-senior-management/sectoral-transformation') Sectoral Transformation
                        li
                          a(href='/imda-revamp/who-we-are/about-imda/our-team/our-senior-management/technology-and-infrastructure') Technology and Infrastructure
                    li
                      a(href='/imda-revamp/who-we-are/about-imda/our-team/our-subsidiaries') Subsidiary
                      ul
                        li
                          a(href='/imda-revamp/who-we-are/about-imda/our-team/our-subsidiaries/ida-organisation-structure') IDA Organisation Structure
            li
              a(href='/imda-revamp/who-we-are/international-relations') International Relations
              ul
                li
                  a(href='/imda-revamp/who-we-are/international-relations/free-trade-agreement') Free Trade Agreement
                li
                  a(href='/imda-revamp/who-we-are/international-relations/geographic-focus') Geographic Focus
                li
                  a(href='/imda-revamp/who-we-are/international-relations/infocomm-media-executive-programme-sharing-the-singapore-experience-2016') Infocomm Media Executive Programme Sharing the Singapore Experience 2016
                li
                  a(href='/imda-revamp/who-we-are/international-relations/infocomm-media-programmes') Infocomm Media Programmes
                li
                  a(href='/imda-revamp/who-we-are/international-relations/international-partnerships') International Partnerships
                li
                  a(href='/imda-revamp/who-we-are/international-relations/mutual-recognition-arrangements') Mutual Recognition Arrangements (MRA)
                li
                  a(href='/imda-revamp/who-we-are/international-relations/testing-laboratories-and-certification-bodies-recognised-by-imda') Testing Laboratories and Certification Bodies Recognised by IMDA
                li
                  a(href='/imda-revamp/who-we-are/international-relations/trade-facilitation') Trade Facilitation
            li
              a(href='/imda-revamp/who-we-are/media-room') Media Room
              ul
                li
                  a(href='/imda-revamp/who-we-are/media-room/media-releases') Media Releases
                li
                  a(href='/imda-revamp/who-we-are/media-room/speeches') Speeches
        li
          a(href='/imda-revamp/infocomm-media-landscape') Infocomm Media Landscape
          ul
            li
              a(href='/imda-revamp/infocomm-media-landscape/overview') Overview
            li
              a(href='/imda-revamp/infocomm-media-landscape/research-and-statistics') Research and Statistics
              ul
                li
                  a(href='/imda-revamp/infocomm-media-landscape/research-and-statistics/inside-page-1') Call for Proposal for the DTV Ready Kit
                li
                  a(href='/imda-revamp/infocomm-media-landscape/research-and-statistics/stat1') Request for Proposals for the Installation and Operation of Federated Lockers
                li
                  a(href='/imda-revamp/infocomm-media-landscape/research-and-statistics/stat-2') Stat 2
            li
              a(href='/imda-revamp/infocomm-media-landscape/sgdigital-1') SG Digital
              ul
                li
                  a(href='/imda-revamp/infocomm-media-landscape/sgdigital-1/sg-digital-standard-landing-page') SG Digital Standard Landing Page
                  ul
                    li
                      a(href='/imda-revamp/infocomm-media-landscape/sgdigital-1/sg-digital-standard-landing-page/sg-digital-standard-page') SG Digital Standard Page
                    li
                      a(href='/imda-revamp/infocomm-media-landscape/sgdigital-1/sg-digital-standard-landing-page/sg-digital-standard-page-2') SG Digital Standard Page 2
                li
                  a(href='/imda-revamp/infocomm-media-landscape/sgdigital-1/sg-digital-standard-listing-page') SG Digital Standard Listing Page
                li
                  a(href='/imda-revamp/infocomm-media-landscape/sgdigital-1/technology-landing-page') Technology Landing Page
                li
                  a(href='/imda-revamp/infocomm-media-landscape/sgdigital-1/artificial-intelligence') Artificial Intelligence
                li
                  a(href='/imda-revamp/infocomm-media-landscape/sgdigital-1/cyber-security') Cybersecurity
                li
                  a(href='/imda-revamp/infocomm-media-landscape/sgdigital-1/internet-of-things') Internet of Things
                li
                  a(href='/imda-revamp/infocomm-media-landscape/sgdigital-1/services-and-digital-economy-technology-roadmap') Services and Digital Economy Technology Roadmap
            li
              a(href='/imda-revamp/infocomm-media-landscape/std-landing') Std Landing
              ul
                li
                  a(href='/imda-revamp/infocomm-media-landscape/std-landing/standard-page-1') Standard Page 1
        li
          a(href='/imda-revamp/programme-listing') Programme Listing
          ul
            li
              a(href='/imda-revamp/programme-listing/entrepass') EntrePass
            li
              a(href='/imda-revamp/programme-listing/programme-detail-page-1') Programme Detail Page 1
            li
              a(href='/imda-revamp/programme-listing/programme-detail-page-2') Programme Detail Page 2
            li
              a(href='/imda-revamp/programme-listing/programme-detail-page-3') Programme Detail Page 3
            li
              a(href='/imda-revamp/programme-listing/programme-detail-page-4') Programme Detail Page 4
            li
              a(href='/imda-revamp/programme-listing/programme-detail-page-5') Programme Detail Page 5
            li
              a(href='/imda-revamp/programme-listing/zzzz') ZZZZ
            li
              a(href='/imda-revamp/programme-listing/all-individuals-page') All individuals Page
            li
              a(href='/imda-revamp/programme-listing/all-organization-page') All Organization page
            li
              a(href='/imda-revamp/programme-listing/home-access') Home Access
        li
          a(href='/imda-revamp/for-industry') For Industry
          ul
            li
              a(href='/imda-revamp/for-industry/overview') Overview
            li
              a(href='/imda-revamp/for-industry/programmes') Programmes
              ul
                li
                  a(href='/imda-revamp/programme-listing/programme-detail-page-1') Programme Detail Page 1
                li
                  a(href='/imda-revamp/programme-listing/programme-detail-page-2') Programme Detail Page 2
                li
                  a(href='/imda-revamp/programme-listing/programme-detail-page-3') Programme Detail Page 3
            li
              a(href='/imda-revamp/for-industry/innovative-tech-solutions') Innovative Tech Solutions
              ul
                li
                  a(href='/imda-revamp/for-industry/innovative-tech-solutions/supported-digital-solution-detail-page-1') Supported Digital Solution Detail Page 1
                li
                  a(href='/imda-revamp/for-industry/innovative-tech-solutions/supported-digital-solution-detail-page-2') Supported Digital Solution Detail Page 2
                li
                  a(href='/imda-revamp/for-industry/innovative-tech-solutions/supported-digital-solution-detail-page-3') Supported Digital Solution Detail Page 3
            li
              a(href='/imda-revamp/for-industry/collaboration-and-partnership') Collaboration and Partnership
            li
              a(href='/imda-revamp/for-industry/custom-listing') Custom Listing
              ul
                li
                  a(href='/imda-revamp/who-we-are/about-imda/our-accolades') Our Accolades
                li
                  a(href='/imda-revamp/who-we-are/about-imda/our-team/our-board-of-directors') Our Board of Directors
                li
                  a(href='/imda-revamp/infocomm-media-landscape/research-and-statistics/inside-page-1') Call for Proposal for the DTV Ready Kit
                li
                  a(href='/imda-revamp/infocomm-media-landscape/research-and-statistics/stat1') Request for Proposals for the Installation and Operation of Federated Lockers
            li
              a(href='/imda-revamp/for-industry/innovative-sg-startups') Innovative SG Startups
              ul
                li
                  a(href='/imda-revamp/for-industry/innovative-sg-startups/122r23') 122r23
                li
                  a(href='/imda-revamp/for-industry/innovative-sg-startups/company-detail-page-333') Company Detail Page 333
                li
                  a(href='/imda-revamp/for-industry/innovative-sg-startups/company-detail-page-aaaaa') Company Detail Page aaaaa
                li
                  a(href='/imda-revamp/for-industry/innovative-sg-startups/company-detail-page--fwerq34r-23') Company Detail Page  fwerq34r 23
                li
                  a(href='/imda-revamp/for-industry/innovative-sg-startups/company-detail-page-hahahaah') Company Detail Page hahahaah
                li
                  a(href='/imda-revamp/for-industry/innovative-sg-startups/company-detail-page-we-weferg-w') Company Detail Page we weferg w
                li
                  a(href='/imda-revamp/for-industry/innovative-sg-startups/wzzz-company-detail-page') wzzz Company Detail Page
            li
              a(href='/imda-revamp/for-industry/singapore-film-commission') SFC
              ul
                li
                  a(href='/imda-revamp/for-industry/singapore-film-commission/directory') directory
                li
                  a(href='/imda-revamp/for-industry/singapore-film-commission/films') Films
                  ul
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/a-lullaby-to-the-sorrowful-mystery') A Lullaby To The Sorrowful Mystery
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/a-singapore-story') A Singapore Story
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/film2') Film2
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/film-3') Film 3
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/infinity-war') text text text
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/sfc2-test-film') sfc2 test film
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/three-billboards-outside-ebbing') Three Billboards Outside Ebbing, Missouri
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/wonder-boy') Wonder Boy
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/wonder-boy1') Wonder Boy
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/wonder-boy10') Wonder Boy
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/wonder-boy11') Wonder Boy
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/wonder-boy12') Wonder Boy
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/wonder-boy13') Wonder Boy
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/wonder-boy14') Wonder Boy
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/wonder-boy15') Wonder Boy
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/wonder-boy16') Wonder Boy
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/wonder-boy17') Wonder Boy
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/wonder-boy18') Wonder Boy
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/wonder-boy19') Wonder Boy
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/wonder-boy2') Wonder Boy2
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/wonder-boy20') Wonder Boy
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/wonder-boy3') Wonder Boy3
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/wonder-boy4') Wonder Boy4
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/wonder-boy5') Wonder Boy
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/wonder-boy6') Wonder Boy
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/wonder-boy7') Wonder Boy
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/wonder-boy8') Wonder Boy
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/films/wonder-boy9') Wonder Boy
                li
                  a(href='/imda-revamp/for-industry/singapore-film-commission/directors') Directors
                  ul
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/directors/dick-lee') Dick Lee
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/directors/director1') Director1
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/directors/director-2') Director 2
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/directors/director-3') Director 3
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/directors/joyce-lee') Joyce Lee
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/directors/martin-mcdonagh') Martin McDonagh
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/directors/sfc2-test-director') sfc2 test director
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/directors/wes-anderson') Wes Anderson
                li
                  a(href='/imda-revamp/for-industry/singapore-film-commission/producers') Producers
                  ul
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/producers/daniel-battsek') Daniel Battsek
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/producers/producer1') Producer1
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/producers/producer2') Producer2
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/producers/producer3') Producer3
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/producers/tan-bee-thiam') Tan Bee Thiam
                li
                  a(href='/imda-revamp/for-industry/singapore-film-commission/production-companies') Production Companies
                  ul
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/production-companies/company1') Company1
                    li
                      a(href='/imda-revamp/for-industry/singapore-film-commission/production-companies/sfc2-test-company') sfc2 test company
        li
          a(href='/imda-revamp/for-community') For Community
          ul
            li
              a(href='/imda-revamp/for-community/digital-inclusion') Digital Inclusion
            li
              a(href='/imda-revamp/for-community/digital-readiness') Digital Readiness
              ul
                li
                  a(href='/imda-revamp/for-community/digital-readiness/get-connected') Get Connected
                li
                  a(href='/imda-revamp/for-community/digital-readiness/get-hands-on') Get Hands on
                li
                  a(href='/imda-revamp/for-community/digital-readiness/get-informed') Get Informed
                li
                  a(href='/imda-revamp/for-community/digital-readiness/get-involved') Get Involved
            li
              a(href='/imda-revamp/for-community/imconnected-interactive-report') IMconnected Interactive Report
            li
              a(href='/imda-revamp/for-community/overview') Overview
        li
          a(href='/imda-revamp/regulations-and-licensing-listing') Regulation Acts Listing
          ul
            li
              a(href='/imda-revamp/regulations-and-licensing-listing/licence-for-the-provision-of-arts-entertainment') Licence for The Provision of Arts Entertainment
            li
              a(href='/imda-revamp/regulations-and-licensing-listing/regulation-acts-detail-page-1') Regulation S&G 1
            li
              a(href='/imda-revamp/regulations-and-licensing-listing/regulation-acts-detail-page-2') Regulation Framework & policy 1
            li
              a(href='/imda-revamp/regulations-and-licensing-listing/regulation-acts-detail-page-3') Broadcast Licence
            li
              a(href='/imda-revamp/regulations-and-licensing-listing/regulation-acts-detail-page-4') Regulation Acts Detail page 4
        li
          a(href='/imda-revamp/regulations-and-licensing') Regulations & Licensing
          ul
            li
              a(href='/imda-revamp/regulations-and-licensing/overview') Overview
            li
              a(href='/imda-revamp/regulations-and-licensing/regulations') Regulations
              ul
                li
                  a(href='/imda-revamp/regulations-and-licensing/regulations/acts-and-regulations') Acts and Regulations
                li
                  a(href='/imda-revamp/regulations-and-licensing/regulations/codes-of-practice') Codes of Practice
                li
                  a(href='/imda-revamp/regulations-and-licensing/regulations/consultations') Consultations
                li
                  a(href='/imda-revamp/regulations-and-licensing/regulations/enforcement-decisions') Enforcement Decisions
                li
                  a(href='/imda-revamp/regulations-and-licensing/regulations/frameworks-and-policies') Frameworks and Policies
                li
                  a(href='/imda-revamp/regulations-and-licensing/regulations/standards-and-guidelines') Standards and Guidelines
            li
              a(href='/imda-revamp/regulations-and-licensing/licensing') Licenses
              ul
                li
                  a(href='/imda-revamp/regulations-and-licensing/licensing/arts') Arts
                li
                  a(href='/imda-revamp/regulations-and-licensing/licensing/broadcasting') Broadcasting
                li
                  a(href='/imda-revamp/regulations-and-licensing/licensing/internet') Internet
                li
                  a(href='/imda-revamp/regulations-and-licensing/licensing/films') Films
                li
                  a(href='/imda-revamp/regulations-and-licensing/licensing/newspaper-and-printing-press') Newspaper and Printing Press
                li
                  a(href='/imda-revamp/regulations-and-licensing/licensing/postal') Postal
                li
                  a(href='/imda-revamp/regulations-and-licensing/licensing/telecommunication') Telecommunication
                li
                  a(href='/imda-revamp/regulations-and-licensing/licensing/online-application-of-licences') Online Application of Licences
                li
                  a(href='/imda-revamp/regulations-and-licensing/licensing/licensing-hotlines') Licensing Hotlines
                li
                  a(href='/imda-revamp/regulations-and-licensing/licensing/list-of-telecommunication-and-postal-service-licensees') List of Telecommunication and Postal Service Licensees
        li
          a(href='/imda-revamp/news-and-events') News & Events
          ul
            li
              a(href='/imda-revamp/news-and-events/overview') Overview
            li
              a(href='/imda-revamp/news-and-events/impact-news') IMPACT News
              ul
                li
                  a(href='/imda-revamp/news-and-events/impact-news/2019/02/news-detail-page-1') News Detail Page 1
                li
                  a(href='/imda-revamp/news-and-events/impact-news/2019/02/news-detail-page-2') News Detail Page 2
                li
                  a(href='/imda-revamp/news-and-events/impact-news/2019/02/news-detail-page-3') News Detail Page 3
                li
                  a(href='/imda-revamp/news-and-events/impact-news/2019/02/news-detail-page-4') News Detail Page 4
                li
                  a(href='/imda-revamp/news-and-events/impact-news/2019/03/news-detail-page-5') News Detail Page 5
                li
                  a(href='/imda-revamp/news-and-events/impact-news/2019/03/news-detail-page-5-1') News Detail Page 5
                li
                  a(href='/imda-revamp/news-and-events/impact-news/2019/03/news-detail-page-6') News Detail Page 6
                li
                  a(href='/imda-revamp/news-and-events/impact-news/2019/03/news-detail-page-7') News Detail Page 7
            li
              a(href='/imda-revamp/news-and-events/newsroom') Newsroom
              ul
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2016/2016-call-for-proposal-for-development-assistance-scheme-short-films-open-for-submission')
                    | 2016 Call-for-Proposal for Development Assistance Scheme (Short Film) Open for Submission
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2016/2016-data-driven-innovation-challenge-empowers-youth-with-hands-on-data-literacy-skills')
                    | 2016 Data-Driven Innovation Challenge empowers youth with hands-on data literacy skills
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2016/asia-tv-forum-market-and-screensingapore')
                    | Speech by Mr Chee Hong Tat, Minister of State for Communications & Information and Health, at the opening ceremony of Asia TV Forum & Market and ScreenSingapore
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2016/fourth-smart-work-centre-to-open-in-revamped-tampines-regional-library') Fourth Smart Work Centre to Open in Revamped Tampines Regional Library
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2016/imda-brings-fresh-content-to-mipcom-from-asia-for-the-global-market')
                    | Singapore's Infocomm Media Development Authority Brings Fresh Content to MIPCOM from Asia for the Global Market
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2016/imda-imposes-145000-financial-penalty-on-singnet-for-pay-tv-service-disruptions')
                    | IMDA Imposes $145,000 Financial Penalty on Singnet for Pay-TV Service Disruptions
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2016/imda-imposes-financial-penalty-on-netlink-trust')
                    | IMDA imposes financial penalty of $500,000 on NetLink Trust for not meeting Service Standards
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2016/imda-pre-qualifies-two-companies-for-new-entrant-spectrum-auction') IMDA Pre-Qualifies Two Companies for New Entrant Spectrum Auction
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2016/imda-to-empower-businesses-workers-and-communities-to-seize-opportunities-in-a-digital-future')
                    | IMDA to Empower Businesses, Workers and Communities to Seize Opportunities in a Digital Future
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2016/launch-of-pixel-studios')
                    | Create, Collaborate, Innovate - Speech by Dr Yaacob Ibrahim, Minister for Communications and Information, at the launch of PIXEL Studios
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2016/launch-of-urban-logistics-technology-roadmap')
                    | Launch of Urban Logistics Technology Roadmap, 12 Additional Malls to Benefit from Tech-Enabled Process Re-Engineering
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2016/mci-awards-ceremony-2016')
                    | Speech by Dr Yaacob Ibrahim, Minister for Communications and Information, at the MCI Awards Ceremony 2016
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2016/mci-awards-scholarships-skillsfuture-study-awards-internship-oppty-for-infocomm-media-design-sectors')
                    | MCI Awards Scholarships, SkillsFuture Study Awards and Internship Opportunities for Infocomm Media and Design Sectors
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2016/national-infocomm-awards-2016')
                    | Companies with machine learning and big data analytics technologies clinched top honours at National Infocomm Awards 2016
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2016/outstanding-computing-teachers-awards-presented-at-infocomm-media-youth-festival') Outstanding Computing Teachers Awards Presented at Infocomm Media Youth Festival
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2016/pixel-studios-opens-its-doors-to-next-generation-of-content-creators-to-collaborate-and-innovate')
                    | PIXEL Studios Opens its Doors to Next Generation of Content Creators to Collaborate and Innovate
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2016/production-has-begun-for-hbo-asia-first-original-comedy-drama-series-sent') Production Has Begun for HBO Asia's First Original Comedy Drama Series, SENT
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2016/programme-advisory-committees-commend-improvements-to-public-service-broadcast-programmes')
                    | Programme Advisory Committees Commend Improvements to Public Service Broadcast Programmes
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2016/sale-of-2g-mobile-devices-for-local-use-will-not-be-allowed-from-1-january-2017') Sale of 2G Mobile Devices for Local Use Will Not Be Allowed from 1 January 2017
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2016/singapore-film-commission-partners-online-entertainment-platform-viddsee')
                    | Singapore Film Commission Partners Online Entertainment Platform Viddsee to Spotlight Singapore Films on New Singapore Film Channel
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2016/singapore-media-festival-2016-spotlights-innovative-storytelling-for-a-digital-world')
                    | Singapore Media Festival 2016 Spotlights Innovative Storytelling for a Digital World
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2016/singapore-media-festival-unveils-new-chapters-in-asian-story-telling') Singapore Media Festival Unveils New Chapters in Asian Storytelling
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2016/singapore-presents-over-700-hours-of-compelling-asian-stories-for-the-global-market')
                    | Singapore Presents Over 700 Hours of Compelling Asian Stories for the Global Market
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2016/sph-partners-imda-to-produce-and-distribute-short-form-digital-video-content') SPH partners IMDA to produce and distribute short form digital video content
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2016/tpg-telecom-pte-ltd-makes-winning-bid-in-new-entrant-spectrum-auction') TPG Telecom Pte Ltd Makes Winning Bid in New Entrant Spectrum Auction
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2016/trial-li-fi-technology-in-singapore') IMDA inviting companies to trial Li-Fi technology in Singapore
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/175-mhz-of-spectrum-allocated-to-four-winning-bidders-through-the-general-spectrum-auction')
                    | 175 MHz Of Spectrum Allocated To Four Winning Bidders Through The General Spectrum Auction
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/19th-annual-sme-conference-20th-infocomm-commerce-conference-and-sme-expo-2017')
                    | Speech by Dr Yaacob Ibrahim, Minister for Communications and Information, at the opening ceremony of the 19th Annual SME conference and 20th Infocomm Commerce Conference and SME Expo 2017
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/2g-services-to-cease-on-1-april-2017') 2G Services to Cease on 1 April 2017
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/900-low-income-pre-qualified-households-to-enjoy-free-home-broadband-and-tablets') 900 Low-Income Pre-Qualified Households to enjoy Free Home Broadband and Tablets
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/analogue-tv-broadcast-to-cease-from-1-january-2019') Analogue TV broadcast to cease from 1 January 2019
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/banking-telco-players-collaborate-to-help-smes-adopt-connected-transformative-tech')
                    | Banking, Telco Players Collaborate to Help SMEs Adopt Connected, Transformative Tech
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/codextremeapps-2017---24-hour-hackathon-to-tackle-solutions-for-iot') CODE::XTREMEAPPS:: 2017 - 24-Hour Hackathon to Tackle Solutions for IoT
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/cutting-edge-innovations-and-creative-ideas-at-the-smart-nation-innovations-week-2017')
                    | Cutting edge innovations, creative ideas and something for everyone at the Smart Nation Innovations Week 2017!
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/eyes-on-habitat---coral-reefs') Eyes on Habitat: Coral Reefs
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/fact-sheet---public-consultation-on-code-of-practice-for-info-communication-facilities-in-buildings')
                    | Fact Sheet: Public Consultation On Code Of Practice For Info-Communication Facilities In Buildings
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/giving-smes-the-boost-they-need-for-innovation-and-new-growth') Giving SMEs the Boost They Need for Innovation and New Growth
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/huawei-reinforces-commitment-to-singapores-digital-economy-through-strategic-partnerships-with-imda')
                    | Huawei reinforces commitment to Singapore’s Digital Economy through strategic partnerships with  IMDA, Keppel Data Centres and Ascent Solutions
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/icm-innovations-help-logistics-sector-push-new-boundaries-and-synergise-across-ecosystem')
                    | ICM Innovations Help Logistics Sector Push New Boundaries and Synergise Across Ecosystem
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/imda-awards-frequencies-for-two-new-radio-stations') IMDA Awards Frequencies for Two New Radio Stations
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/imda-develops-industry-ready-talents-with-the-support-from-schools-companies-and-start-ups')
                    | IMDA develops industry-ready talents with the support  from schools, companies and start-ups
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/imda-finalises-review-of-prices-in-netlink-trusts-interconnection-offer') IMDA Finalises Review Of Prices In Netlink Trust’s Interconnection Offer
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/imda-imposes-500-000-penalty-on-singnet-for-fibre-broadband-service-disruption') IMDA Imposes $500,000 Penalty on SingNet for Fibre Broadband Service Disruption
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/imda-imposes-5500-financial-penalty-on-mediacorp-for-breaching-the-video-on-demand-programme-code')
                    | IMDA Imposes $5,500 Financial Penalty on Mediacorp for Breaching the Video-On-Demand Programme Code
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/imda-imposes-7000-financial-penalty-on-sph-radio-for-breaching-free-to-air-radio-programme-code')
                    | IMDA Imposes $7,000 Financial Penalty on SPH Radio for Breaching Free-To-Air Radio Programme Code
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/imda-imposes-financial-penalty-of--150000-on-netlink-trust-for-not-meeting-qos')
                    | IMDA imposes financial penalty of $150,000 on NetLink Trust for not meeting Quality of Service (QoS) Standards
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/infocomm-media-business-exchange-opening-ceremony')
                    | Speech by Dr Yaacob Ibrahim, Minister for Communications and Information, at Infocomm Media Business eXchange Opening Ceremony
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/infocomm-media-industry-transformation-map') Infocomm Media Industry Transformation Map
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/landmark-partnership-to-level-up-skills-for-singaporeans-to-seize-fintech-jobs') Landmark partnership to level up skills for Singaporeans to seize FinTech jobs
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/launch-of-the-infocomm-media-industry-transformation-map')
                    | Speech by Dr Yaacob Ibrahim, Minister for Communications and Information at the launch of the Infocomm Media Industry Transformation Map
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/launch-of-the-skills-framework-for-infocomm-technology')
                    | Speech by Dr Yaacob Ibrahim, Minister for Communications and Information at the launch of the Skills Framework for Infocomm Technology
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/ministerial-forum-on-icm-2017')
                    | Speech by Dr Yaacob Ibrahim, Minister for Communications and Information, at the Ministerial Forum on ICM 2017
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/more-support-for-mid-career-jobseekers-to-restart-ict-career') More support for mid-career jobseekers to restart ICT career
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/new-online-resource-to-help-seniors-go-digital') New Online Resource to Help Seniors Go Digital
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/new-opportunities-for-singapore-content-to-go-international-plug-into-digital-platforms')
                    | New Opportunities for Singapore Content to go International; Plug into Digital Platforms
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/new-tripartite-standard-to-promote-industry-best-practices-that-support-media-freelancers')
                    | New Tripartite Standard to Promote Industry Best Practices that Support Media Freelancers
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/opening-address-by-imda-assistant-chief-executive-development-mr-khoong-hock-yun-at-cloud-asia-2017')
                    | Welcome & opening address by IMDA Assistant Chief Executive (Development), Mr Khoong Hock Yun at Cloud Asia 2017
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/personal-data-protection-seminar-2017')
                    | Speech by Dr Yaacob Ibrahim, Minister for Communications and Information, at the Personal Data Protection Seminar 2017
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/pre-approved-digital-solutions-for-smes-to-seize-new-growth-opportunities') Pre-Approved Digital Solutions for SMEs to Seize New Growth Opportunities
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/raising-standards-of-pre-approved-digital-solutions-to-foster-smes-growth-in-the-digital-economy')
                    | Raising Standards of Pre-approved Digital Solutions to Foster SMEs’ Growth in the Digital Economy
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/reinventing-storytelling-takes-centrestage-at-the-singapore-media-festival-2017') Reinventing Storytelling takes Centrestage at the Singapore Media Festival 2017
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/sgx-inks-moi-with-imda-to-create-a-pathway-for-imda-accredited-companies-to-access-capital-markets')
                    | SGX inks MOI with IMDA to create a pathway for IMDA-accredited companies to access capital markets more efficiently for expansion
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/silver-it-fest-opening-ceremony')
                    | Speech by Dr Yaacob Ibrahim, Minister for Communications and Information, at the Silver IT Fest Opening Ceremony
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/singapore-and-japan-to-encourage-operators-to-lower-international-mobile-roaming-retail-rate')
                    | Singapore and Japan to Encourage Operators to Lower International Mobile Roaming Retail Rates to Benefit Consumers
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/singapore-completes-pilot-project-to-provide-global-city-insights') Singapore Completes Pilot Project to Provide Global City Insights
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/singapore-media-festival-2017-asia-celebrates-innovative-storytelling-amidst-evolving-global-market')
                    | Singapore Media Festival 2017: Asia Celebrates Innovative Storytelling Amidst Evolving Global Market
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/singapore-media-festival-2017-celebrates-indonesia') Singapore Media Festival 2017 celebrates Indonesia
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/singapore-media-festival-2017-taking-asian-storytelling-to-the-global-forefront') Singapore Media Festival 2017: Taking Asian Storytelling to the Global Forefront
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/singapores-first-digital-garage-to-grow-a-community-of-1000-digital-makers') Singapore’s first “Digital Garage” to grow a community of 1000 digital makers
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/skills-framework-for-ict')
                    | Skills Framework for ICT for Singapore’s Budding Data Scientists, Cyber Risk Analysts, Companies and More
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/skool4kidz-hosts-hour-of-code-story-begins-with-a-code-to-teach-computational-thinking')
                    | Skool4Kidz Hosts Hour of Code "Story Begins with a Code" to Teach Computational Thinking to 250 Students and Family
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/smart-nation-innovations-week-2017-abound-with-opportunities-for-the-digital-economy')
                    | Smart Nation Innovations Week 2017 Abound with Opportunities for the Digital Economy
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/smart-nations-innovations')
                    | Speech by Dr Yaacob Ibrahim, Minister for Communications and Information at the Smart Nations Innovations, innovfest unbound 2017
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/south-east-cdc-and-ibm-lead-corporate-partner-initiative-to-address-social-change')
                    | South East Community Development Council and IBM Lead Corporate Partner Initiative to Address Social Change
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/speech-by-dr-yaacob-ibrahim-at-infocomm-media-business-exchange-opening-ceremony')
                    | Speech by Dr Yaacob Ibrahim, Minister for Communications and Information, at Infocomm Media Business Exchange Opening Ceremony
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/speech-by-dr-yaacob-ibrahim-at-the-launch-of-the-icm-itm-on-3-nov-2017')
                    | Speech by Dr Yaacob Ibrahim, Minister for Communications and Information at the launch of the Infocomm Media Industry Transformation Map on 3 Nov 2017, at 11:30 am, Suntec City Convention and Exhibition Centre
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/speech-by-dr-yaacob-ibrahim-at-the-smart-nations-innovations-innovfest-unbound-2017')
                    | Speech by Dr Yaacob Ibrahim at the Smart Nations Innovations innovfest unbound 2017
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/speech-by-goh-ms-aileen-chia-at-the-republic-polytechnic-school-of-infocomm-graduation-ceremony')
                    | Speech by GOH Ms Aileen Chia, Assistant Chief Executive, IMDA, at the Republic Polytechnic School of Infocomm Graduation Ceremony 2017
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/speech-by-imda-assistant-chief-executive-mr-khoong-hock-yun-at-scs-cloud-and-bcm-conference-2017')
                    | Speech by IMDA Assistant Chief Executive (Development), Mr Khoong Hock Yun at the Singapore Cloud Society’s Cloud & Business Continuity Management Conference 2017
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/starhub-home-broadband-network-disruption-caused-by-surge-in-legitimate-dns-traffic---imda-and-csa')
                    | StarHub's Home Broadband Network Disruption Caused by Surge in Legitimate DNS Traffic: IMDA and CSA
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/winning-solutions-for-code-xtremeapps-2017-hackathon-unveiled') Winning Solutions For Code::Xtremeapps:: 2017 Hackathon Unveiled
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2017/wirelesssg-enhances-login-experience-and-expands-operator-pool') Wireless@SG enhances login experience and expands operator pool
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/6th-personal-data-protection-seminar')
                    | Opening Remarks by Mr S Iswaran, Minister for Communications and Information, at 6thPersonal Data Protection Seminar
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/78000-punggol-and-bukit-panjang-households-to-benefit-from-247-parcel-collection-points')
                    | 78,000 Punggol and Bukit Panjang households to benefit from 24/7 parcel collection points
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/accessing-new-markets-through-singapore') Accessing New Markets Through Singapore
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/accreditation-sg-digital-partners-leading-insurance-companies-to-accelerate-digital-transformation')
                    | Accreditation SG Digital Partners leading insurance companies to accelerate digital transformation
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/ai-singapore-1st-year-anniversary-event')
                    | Speech by Minister S Iswaran, Minister for Communications and Information, at AI Singapore’s 1st Year Anniversary Event
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/ai-singapore-launches-two-new-initiatives-in-partnership-with-imda') AI Singapore launches two new initiatives in
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/ai-solutions-to-improve-the-world-at-code-xtremeapps-2018') AI solutions to improve the world at Code::XtremeApps::2018
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/artificial-intelligence-governance-and-ethics-initiatives') Artificial Intelligence Governance and Ethics Initiatives
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/building-a-digitally-ready-nation-and-connecting-communities-through-technology') Building a Digitally-Ready Nation and Connecting Communities through Technology
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/collaboration-and-ecosystems-are-key-in-building-singapores-competitive-edge-in-a-digital-era')
                    | Collaboration and ecosystems are key in building Singapores competitive edge in a Digital Era
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/composition-of-the-advisory-council-on-the-ethical-use-of-ai-and-data') Composition of the Advisory Council on the Ethical Use -
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/consumer-awareness-and-satisfaction-survey-2018') Consumer Awareness and Satisfaction Survey 2018
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/consumer-protection-measures-to-be-further-enhanced-through-the-telecommunication')
                    | Consumer protection measures to be further enhanced through the Telecommunication and subscription TV Mediation-Adjudication Scheme
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/digital-tv-starter-kit-application-extended-to-march-2019') Digital TV Starter Kit application extended to March 2019
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/digital-tv-starter-kits-for-all-singaporean-non-pay-tv-hdb-households') Digital TV Starter Kits for all Singaporean non-Pay TV HDB households
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/e-payment-learning-journey-encourages-seniors-to-take-the-first-step-in-transacting-digitally')
                    | E-Payment Learning Journey Encourages Seniors to Take the First Step in Transacting Digitally
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/facebook-launches-startup-station-singapore-with-imda') Facebook launches Startup Station Singapore with IMDA
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/global-smart-city-network-to-study-singapores-wireless-at-sg') Global Smart City Network to Study Singapore’s Wireless@SG
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/google-squared-online-for-smes-graduation-ceremony')
                    | Welcome remarks by Dr Yaacob Ibrahim, Minister for Communications and Information at the Google Squared Online for SMEs Graduation Ceremony
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/greater-access-to-infocomm-and-assistive-technology-tools-to-support-persons-with-disabilities')
                    | Greater Access to Infocomm and Assistive Technology Tools to Support Persons with Disabilities
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/ibm-and-imda-to-train-apprentices-in-specialised-tech-skills-such-as-ai-blockchain-data-analytics')
                    | IBM and IMDA to train apprentices in specialised tech skills such as Artificial Intelligence, Blockchain and Data Analytics
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/imda-and-pdpc-launch--pilot-of-data-protection-trustmark-certification-scheme') IMDA and PDPC launch  pilot of Data Protection Trustmark certification scheme
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/imda-launches-initiatives-to-grow-digital-capabilities-and-media-talent-to-go-global')
                    | IMDA launches initiatives to grow digital capabilities and media talent to go global
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/imda-partners-clicknetwork-to-launch--new-public-service-web-series') IMDA Partners Clicknetwork to launch  new Public Service Web Series
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/imda-proposes-changes-to-ready-new-buildings-for-new-technology-deployment') IMDA Proposes changes to ready new Buildings for new Technology Deployment
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/imda-response-to-media-queries-on-states-times-review') IMDA Response to Media Queries on States Times Review
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/imda-statement-on-states-times-review') IMDA Statement on States Times Review
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/imdas-technology-call-to-boost-development-of-smart-estate-projects') IMDAs Technology Call to Boost Development of Smart Estate Projects
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/imdas-tertiary-awards-expanded-to-benefit-more-infocomm-and-media-students') IMDAs Tertiary Awards expanded to benefit more Infocomm and Media students
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/inaugural-meeting-of-the-advisory-council-on-the-ethical-use-of-artificial-intelligence-and-data')
                    | Inaugural meeting of the Advisory Council on the Ethical Use Of Artificial Intelligence and Data
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/inaugural-sgd-techblazer-awards')
                    | Inaugural SG:D Techblazer Awards to Recognise Innovative Companies in Digital Tech & Propel them to greater heights
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/infocomm-media-development-authority-annual-partners-appreciation')
                    | Speech by Dr Yaacob Ibrahim, Minister for Communications and Information, at the Infocomm Media Development Authority (IMDA)’s Annual Partners’ Appreciation
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/information-at-the-singapore-digital-industry-day')
                    | Speech by Mr S Iswaran, Minister for Communications and Information at the Singapore Digital (SG:D) Industry Day
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/innovfest-unbound-2018')
                    | Speech by Mr S Iswaran, Minister for Communications and Information at the Innovfest Unbound 2018
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/kampong-glam-launches-5-new-digital-initiatives-with-150-merchants-on-board') Kampong Glam Launches 5 New Digital Initiatives with 150 Merchants On Board
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/keynote-address-by-ms-jane-lim-imda-at-the-launch-vcargo-cloud-camelone-marketplace')
                    | Keynote Address by Ms Jane Lim, Assistant Chief Executive (Sectoral Transformation), IMDA, at the Launch of vCargo Cloud CamelONE Marketplace
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/launch-of-security-industry-digital-plan') Launch of Security Industry Digital Plan
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/launch-of-singapores-first-blockchain-challenge-to-boost-innovation-and-adoption-beyond-fintech')
                    | Launch of Singapore’s first Blockchain challenge   to boost innovation and adoption beyond Fintech
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/leadership-movements-in-infocomm-media-development-authority') Leadership movements in Infocomm Media Development Authority
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/major-push-to-develop-ict-talent-for-health-tech-careers') Major Push to Develop ICT Talent for Health Tech Careers
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/mci-workplan-seminar-2018')
                    | Speech by Mr S Iswaran, Minister for Communications and Information, at MCI Workplan Seminar 2018
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/more-companies-to-invest-in-grooming-digital-leaders')
                    | More Companies to Invest in Grooming Digital Leaders through the First Graduating Cohort of Squared Online for SMEs
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/national-infocomm-media-award')
                    | Speech by Minister S Iswaran, Minister for Communications and Information, at the National Infocomm Media Award
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/pdpc-issues-nric-advisory-guidelines-to-protect-consumers') PDPC Issues NRIC Advisory Guidelines to Protect Consumers
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/recognising-and-strengthening-support-for-innovative-infocomm-companies') Recognising and Strengthening Support for Innovative Infocomm Companies
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/services-40-new-digital-capabilities-to-prepare-businesses-for-the-future-of-services')
                    | Services 4.0: New Digital Capabilities to Prepare Businesses for the Future of Services
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/singapore-and-chinese-technology-companies-at-smart-china-expo-deepen-partnerships')
                    | Singapore and Chinese technology companies at Smart China Expo Deepen Partnerships
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/singapore-chongqing-digital-economy-seminar-and-business-matching-session')
                    | Singapore-Chongqing Digital Economy Seminar and Business Matching Session gather technology companies from both cities
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/singapore-ict-companies-raised-their-international-profile-at-inaugural-smart-china-expo')
                    | SINGAPORE ICT COMPANIES RAISED THEIR INTERNATIONAL PROFILE AT INAUGURAL SMART CHINA EXPO
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/singapore-introduces-world-first-unified-payment-qr-code-sgqr') Singapore Introduces World’s First Unified Payment QR Code – SGQR
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/singapore-media-festival-2018-showcasing-global-creative-excellence') Singapore Media Festival 2018 – Showcasing Global Creative Excellence
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/singapore-media-festival-2018-welcomes-the-asian-academy-awards') Singapore Media Festival 2018 Welcomes the Asian Academy Awards
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/singapore-presents-more-than-400-hours-of-compelling-content-at-hong-kong-filmart-2018')
                    | Singapore Presents more than 400 hours of Compelling content at Hong Kong Filmart 2018
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/smf-2018-brings-vibrant-showcase-of-content-and-platforms-to-propel-asian-talent-and-stories')
                    | SMF 2018 brings vibrant showcase of content and platforms to propel Asian talent and stories
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/speech-by-minister-s-iswaran-minister-of-communications-and-information-at-the-singapore-hour-asia')
                    | Speech by Minister S Iswaran, Minister for Communications and Information, at the Singapore Hour, Asia TV Forum & Market and ScreenSingapore
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/speech-by-mr-s-iswaran-minister-for-commmunications-and-information-at-sg-d-industry-day')
                    | Speech by Mr S Iswaran Minister for Commmunications and Information At SG:D Industry Day
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/speech-by-ms-sim-ann-senior-minister-of-state-mci-for-opening-of-the-asia-tv-forum-market')
                    | Speech by Ms Sim Ann, Senior Minister of State, MCI, at the opening of the Asia TV Forum & Market (ATF) and ScreenSingapore, Singapore Media Festival
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/sph-and-imda-renew-partnership-to-produce-and-distribute-short-form-digital-videos-for-a-second-year')
                    | SPH and IMDA renew partnership to produce and distribute short form digital videos for a second year
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/tech-saturday-upsized')
                    | Opening Remarks by Mr S Iswaran, Minister for Communications and Information at Tech Saturday (Upsized!)
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2018/the-future-is-yours-to-create-at-punggol-digital-district') The Future is Yours to Create at Punggol Digital District
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2019/facilities-based-operators-to-implement-standardised-earthworks-requirements') Facilities-Based Operators to Implement Standardised Earthworks Requirements
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2019/imda-collaborates-with-industry-to-strengthen-telecom-cybersecurity') IMDA Collaborates with Industry to Strengthen Telecom Cybersecurity
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2019/imda-imposes-financial-penalty-of--100000-on-singpost-for-not-meeting-2017-qos-standards')
                    | IMDA Imposes Financial Penalty of $100,000 on Singpost for Not Meeting 2017 QOS Standards
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2019/imda-seeks-publics-views-on-the-proposed-competition-code') IMDA Seeks Public's Views on the Proposed Competition Code
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2019/imda-singtel-and-dbs-launch-new-platform-to-strengthen-smes-omni-channel-capabilities')
                    | IMDA Singtel and DBS launch new platform to strengthen SMEs omni-channel capabilities
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2019/imda-statement-on-watain-concert') IMDA Statement on Watain Concert
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2019/keynote-speech-by-mr-leong-keng-thai-at-peking-university-law-school-and-development-academy')
                    | Keynote Speech by Deputy Chief Executive, Mr Leong Keng Thai, at Peking University Law School & Development Academy on Tuesday, 15 January 2019 in Beijing, China
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2019/keynote-speech-mr-leong-keng-thai-dce-imda-and-ec-dpac-pdpc-at-tsinghua-university-school-of-law')
                    | Keynote Speech by Deputy Chief Executive, Mr Leong Keng Thai, at Tsinghua University School of Law on Thursday, 17 January 2019 in Beijing, China
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2019/new-wholesale-trade-industry-digital-plan-to-help-smes-accelerate-their-digitalisation-journey')
                    | New Wholesale Trade Industry Digital Plan to Help SMEs Accelerate their Digitalisation Journey
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2019/singapore-content-offerings-at-hong-kong-filmart-2019') Singapore content offerings at Hong Kong Filmart 2019
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2019/singapore-launches-first-in-asia-integrated-tv-viewership-data') Singapore launches first-in-Asia integrated TV viewership data
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2019/singapore-releases-asias-first-model-ai-governance-framework') Singapore Releases Asia's First Model AI Governance Framework
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2019/singtel-tv-and-imda-to-bring-singapore-stories-to-life') Singtel TV and IMDA to bring Singapore stories to life
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2019/smes-to-start-digital-get-connected-and-be-trusted') SMEs to Start Digital, Get Connected and Be Trusted
                li
                  a(href='/imda-revamp/news-and-events/newsroom/2019/speech-by-mr-s-iswaran-at-start-digital-get-connected-and-be-trusted')
                    | Speech by Mr S Iswaran, Minister for Communications and Information, at ‘Start Digital, Get Connected and Be Trusted' on 9 January 2019
            li
              a(href='/imda-revamp/news-and-events/events-listing') Events Listing
              ul
                li
                  a(href='/imda-revamp/news-and-events/events-listing/key-event-detail-page-1') Key Event Detail Page 1
                li
                  a(href='/imda-revamp/news-and-events/events-listing/key-event-detail-page-2') Key Event Detail Page 2
                li
                  a(href='/imda-revamp/news-and-events/events-listing/event-detail-page-1') Event Detail Page 1
                li
                  a(href='/imda-revamp/news-and-events/events-listing/event-detail-page-2') Event Detail Page 2
                li
                  a(href='/imda-revamp/news-and-events/events-listing/event-detail-page-3') Event Detail Page 3
                li
                  a(href='/imda-revamp/news-and-events/events-listing/event-detail-page-4') Event Detail Page 4
                li
                  a(href='/imda-revamp/news-and-events/events-listing/event-detail-page-for-all') Event Detail Page For all
                li
                  a(href='/imda-revamp/news-and-events/events-listing/join-the-family-of-tech-savvy-seniors') Join the Family of Tech-Savvy Seniors
                li
                  a(href='/imda-revamp/news-and-events/events-listing/sme-centre-conference-2019') SME Centre Conference 2019
        li
          a(href='/imda-revamp/page-not-found') Page Not Found
        li
          a(href='/imda-revamp/sitemap') Sitemap
