// horizontal-accordion styles
.horizontal-accordion {
  $p: &;
  padding: 0 6px;
  
  @include desktop {
    display: flex;
    width: 128px !important;
    border-right: 2px solid #fff;
    overflow: hidden;
    transition: width 0.3s;
    padding: 0;
    
    &:first-child {
      // border-radius: 8px 0 0 8px;
    }
    &:last-child {
      // border-radius: 0 8px 8px 0;
      border-right: none;
    }
  }
  
  &.slick-active {
    @include desktop {
      width: calc(100vw - 60px - 128px - 128px - 1px) !important;
    }

    @include lgDesktop {
      width: 1133px !important;
    }

    button {
      @include desktop {
        width: 0px;
      }
    }

    #{$p}__content {
      @include desktop {
        width: calc(100vw - 60px - 128px - 128px - 1px);
      }
  
      @include lgDesktop {
        width: 1133px;
      }
    }
  }

  button {
    width: 128px;
    height: 323px;
    font-weight: 600;
    font-size: calc-em(40px);
    line-height: 120%;
    padding: 0;
    text-align: center;
    color: #fff;
    background-color: $darkPurple20;
    border: none;
    position: relative;
    overflow: hidden;
    transition: width 0.3s;
    
    span {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-90deg);
      transform-origin: 50% 50%;
    }
  }

  &__content {
    @include desktop {
      width: 0px;
      height: 323px;
      box-shadow: $purpleShadow;
      transition: width 0.3s;
      background-color: transparent;
      display: flex;
      align-items: center;
    }
    
    > div {
      @include desktopMax {
        border: 1px solid #fff;
        border-radius: 8px;
        padding: 16px 20px 48px;
      }
      
      @include desktop {
        display: flex;
        align-items: center;
        padding: 58px;
        width: calc(100vw - 60px - 128px - 128px - 1px);
        flex-shrink: 0;
        flex-grow: 0;
      }

      @include lgDesktop {
        width: 1133px;
      }
    }
  }

  &__image {
    @include desktopMax {
      width: 140px;
      margin: 0 auto;
    }
    
    @include desktop {
      margin: 0 40px 0 0;
      flex: 0 0 200px;
      max-width: 200px;
    }

    img {
      width: 100%;
    }
  }

  &__text {
    @include desktop {
      flex: 0 0 calc(100% - 240px);
      max-width: calc(100% - 240px);
    }

    h3 {
      font-weight: 800;
      line-height: 140%;
      font-size: calc-em(48px);
      color: $purple20;
      margin: 0 0 8px;
      color: #fff;
      text-align: center;
      
      @include desktop {
        font-size: calc-em(64px);
        text-align: left;
      }
    }

    > div {
      position: relative;
      padding: 16px 24px 0;
      height: 100%;
      font-weight: 600;
      line-height: 140%;
      color: #fff;
  
      @include desktopMax {
        display: flex;
        padding: 16px;
      }

      @include desktop {
        font-size: calc-em(22px);
      }
  
      @include hover {
        &:hover {
          &:before {
            width: calc(100% - 3px);
          }
      
          &:after {
            height: calc(100% - 3px);
          }
  
          &__lines {
            &:before {
              width: 33px;
            }
        
            &:after {
              height: 33px;
            }
          }
        }
      }
  
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        background-color: $borderGray2;
      }
      
      &:before {
        width: 44px;
        height: 1px;
        transition: width 0.35s linear;
  
        // @include nohover {
        //   width: calc(100% - 3px);
        // }
      }
  
      &:after {
        width: 1px;
        height: 44px;
        transition: height 0.35s linear;
  
        // @include nohover {
        //   height: calc(100% - 3px);
        // }
      }

      p {
        margin: 0;
      }
    }
  }

  &__lines {
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: $primaryPurple;
    }
    
    &:before {
      width: 23px;
      height: 3px;
      transition: width 0.35s linear;

      @include nohover {
        width: 33px;
      }
    }
    
    &:after {
      width: 3px;
      height: 23px;
      transition: height 0.35s linear;

      @include nohover {
        height: 33px;
      }
    }
  }
}