mixin horizontal-accordion(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .horizontal-accordion(class=spec.__class)&attributes(attributes)
    button.horizontal-accordion__handle.desktop-only(type="button")
      span=spec.title
    .horizontal-accordion__content
      div
        .horizontal-accordion__image
          img(src=spec.image, alt="" data-profile1=spec.image data-profile2=spec.image2 data-profile3=spec.image3)
        .horizontal-accordion__text
          h3=spec.title
          div
            .horizontal-accordion__lines
            p=spec.text
