include ../../atoms/buttons/buttons
include ../../molecules/questionnaire-filters/questionnaire-filters
include ../../molecules/questionnaire-article-item/questionnaire-article-item

include ../../atoms/buttons/buttons

mixin article-listing-with-questionnaire(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.articles-with-questionnaire(class=spec.__class data-endpoint="/ajax/industries-and-interests.json" data-profile=spec.profile)&attributes(attributes)
    h3.no-desktop See what's relevant to you
    +questionnaire-filters(spec.filters)
    .articles-with-questionnaire__content
      .articles-with-questionnaire__image
        figure
          img(src=spec.image, alt="" data-src=spec.image)
      
      .articles-with-questionnaire__listing
        span.articles-with-questionnaire__label.no-desktop Results
        .articles-with-questionnaire__listing-default
          each article in spec.articles
            +questionnaire-article-item(article)
          +button({
            "url": "/programme-listing",
            "label": "View all"
          })
        .articles-with-questionnaire__listing-content
          //each article in spec.articles
            +questionnaire-article-item(article)
        
        
    script#questionnaireArticlesTemplate(type="text/x-dot-template")
      | {{? it.items.length}}
      div(data-carousel)
        | {{~ it.items:item:index}}
        +questionnaire-article-item-dot
        | {{~}}
      .imda-carousel__controls.imda-carousel__controls--articles
        div(data-carousel-pager)
        div(data-carousel-arrows)
      | {{? it.url}}
      +button-dot()
      | {{?}}
      | {{??}}
      p No results found. Please try a different combination.
      | {{?}}