// article-listing-with-questionnaire styles
.articles-with-questionnaire {
  @include desktopMax {
    padding: 60px 20px 72px;
  }

  .imda-carousel__controls {
    margin: 0 0 24px;

    @include desktop {
      display: none;
    }

    [data-carousel-pager] {
      color: #fff;
    }

    [data-carousel-arrows] {
      .slick-arrow {
        background-color: #fff;
        color: $primaryPurple;

        &.slick-disabled {
          background-color: $purple40;
          color: #fff;
          opacity: 1;
          border-color: $purple40;
        }
      }
    }
  }

  > h3 {
    margin: 0 auto 24px;
    font-weight: 600;
    font-size: calc-em(26px);
    line-height: 120%;
    text-align: center;
    color: #fff;
    padding: 0 24px;
  }

  .home-tabs__content > & {
    @include desktop {
      margin: 0;
    }
  }

  .questionnaire-filters {
    margin: 0 0 32px;
    
    @include desktopMax {
      margin: 0;
      z-index: 2;
    }
  }

  &__label {
    display: none;
    margin: 32px 0 8px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;

    &.active {
      @include desktopMax {
        display: block;
      }
    }
  }

  &__content {
    display: flex;
  }

  &__image {
    @include desktopMax {
      display: none;
    }

    @include desktop {
      flex: 0 0 calc(100% / 8 * 3);
      max-width: calc(100% / 8 * 3);
    }

    figure {
      display: block;
      margin: 0;
    }

    img {
      width: 100%;
    }
  }

  &__listing {
    width: 100%;
    
    @include desktop {
      flex: 0 0 calc(100% / 8 * 5);
      max-width: calc(100% / 8 * 5);
      padding: 0 0 0 64px;
    }

    &-default {
      @include desktopMax {
        display: none !important;
      }
    }

    &-default, &-content {
      & > p {
        color: #fff;
      }
    }

    @include desktop {
      &-default, &-content {
        & > p {
          color: $textBlack;
          font-size: calc-em(18px);
        }
      }
    }
    
    .reloaded .btn {
      opacity: 0;
      transition: opacity 0.25s ease-in-out;

      @include desktopMax {
        display: flex;
        width: 100%;
        background-color: transparent;
        border: 1px solid #fff;
      }

      &.fadein {
        opacity: 1;
      }
    }
  }
}