mixin video-box(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .video-box(class=spec.__class)&attributes(attributes)
    .col-6
      .video-image
        img(src="https://placeimg.com/640/360/tech", alt="", srcset="")
      .video-iframe(data-video-id="o4EhNwYRnek")
        .youtubeplayer#uniqueplayerid(data-player-id="uniqueplayerid")
        
    .col-6
      .box-content
        .content-title
          h2 "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque veniam velit fugit eum quod ut incidunt libero."
        .content-author
          p Helen Keller
