include ../../molecules/listing-filter/listing-filter

mixin events-search(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.events-search(class=spec.__class)&attributes(attributes)
    .events-search__background
      picture
        source(srcset= spec.mobileImage, media="(max-width: 1023px)")
        source(srcset= spec.image)
        img(src=spec.image, alt="")
    .container
      header.events-search__header
        h2=spec.title 
      .events-search__content
        +news-listing-filter({
          "browse": true,
          "search": [
            {
              "__type": "select",
              "label": "Support for",
              "id": "support",
              "name": "support",
              "options": [
                {
                  "value": "",
                  "text": "Select a profile"
                },
                {
                  "value": "all",
                  "text": "All profiles",
                  "profile": "profile0",
                  "selected": true
                },
                {
                  "value": "Businesses",
                  "text": "Businesses",
                  "profile": "profile1"
                },
                {
                  "value": "Students-&-Professionals",
                  "text": "Students & Professionals",
                  "profile": "profile2"
                },
                {
                  "value": "Public-&-Seniors",
                  "text": "Public & Seniors",
                  "profile": "profile3"
                }
              ]
            },
            {
              "id": "keyword",
              "name": "keyword",
              "__type": "search"
            }
          ],
          "filters": [
            {
              "label": "Event activity",
              "id": "activity",
              "name": "activity",
              "__type": "select",
              "options": [
                {
                  "value": "all",
                  "text": "All activity"
                },
                {
                  "value": "event",
                  "text": "Event"
                },
                {
                  "value": "seminar",
                  "text": "Seminar"
                },
                {
                  "value": "workshop",
                  "text": "Workshop"
                },
                {
                  "value": "inviteonly",
                  "text": "By invite only"
                }
              ]
            },
            {
              "label": "Event format",
              "id": "format",
              "name": "format",
              "__type": "select",
              "options": [
                {
                  "value": "all",
                  "text": "All formats"
                },
                {
                  "value": "offline",
                  "text": "Offline"
                },
                {
                  "value": "online",
                  "text": "Online"
                },
                {
                  "value": "hybrid",
                  "text": "Hybrid"
                }
              ]
            },
            {
              "__type": "select",
              "label": "Event period",
              "id": "period",
              "name": "period",
              "options": [
                {
                  "value": "upcoming",
                  "text": "Upcoming"
                },
                {
                  "value": "past",
                  "text": "Past"
                }
              ]
            }
          ]
        }).events-listing__filters.listing-filter--dark
