// events-search styles
.events-search {
  position: relative;
  margin: 74px 0 72px;
  padding: 0;
  
  @include desktop {
    margin: 135px 0 150px;
  }

  &__background {
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      transform: translate(0, -57%);
      
      @include desktop {
        transform: translate(0, -63%);
      }
    }
  }

  &__header {
    h2 {
      text-align: center;
      font-weight: 600;
      font-size: calc-em(36px);
      line-height: 120%;
      margin: 0 0 32px;
    }
  }

  &__content {
    overflow: visible;
    min-height: 0;
    
    a {
      color: $textOffWhite;
      border: 1px solid $textOffWhite;
      background-color: transparent;
    }
  }

  .listing-filter {
    margin: 0;

    @include desktopMax {
      padding: 24px 24px 36px;
    }

    .btn-submit {
      pointer-events: none;
    }

    &__footer {
      display: flex;
      margin: 20px 0 0;
      
      @include desktop {
        margin: 48px 0 0;
      }
    }
  }
}