// site-nav styles
.site-nav {
  ul {
    @extend %list-unstyled;
  }

  a {
    text-decoration: none;
  }
}

.site-nav {
  @include desktopMax {
    transition: all .25s ease-in-out;
    padding: 9px 30px 120px;
    height: calc(100vh - 100px - 79px);
    height: calc(calc(var(--vh, 1vh) * 100) - 100px - 79px);
    overflow: auto;
  }

  @media only screen and (max-width: $bpDesktop - 1) and (-webkit-device-pixel-ratio: 3) {
    padding: 22px 20px 200px;
  }

  &::-webkit-scrollbar {
    width: 5px;
    background: $lightPurple;
  }

  &::-webkit-scrollbar-thumb {
    background: $primaryPurple;
    border-radius: 5px;
  }
  
  &__lvl1 {
    @include desktop {
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    > li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: background-color, border-color 0.35s ease-in-out;
      
      @include desktopMax {
        background-color: #fff;
        width: 100%;
        border-bottom: 1px solid $borderGray;

        &:last-child {
          border-bottom: none;
        }
      }

      &.active {
        .site-nav__lvl2 {
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
          z-index: 1;
        }
      }

      @include desktopMax {
        &.active {
          .site-nav__lvl2 {
            transform: translate(0, 0);
          }
        }
      }

      @include desktop {
        margin: 0 10px;
        height: 80px;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          width: 0;
          height: 4px;
          background-color: $primaryPurple;
          transition: width 0.35s ease-in-out;
        }

        &.active {
          > button {
            transform: rotate(270deg);
          }
        }
        
        &:hover {
          &:after {
            width: 100%;
          }

          > a {
            color: $primaryPurple !important;
          }

          /* > button {
            transform: rotate(270deg);
          } */

          /* .site-nav__lvl2 {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
          } */
        }
      }
      
      @include lgDesktop {
        margin: 0 16px;
      }
      
      @include xlDesktop {
        margin: 0 32px 0 0;

        &:last-child {
          margin: 0;
        }
      }

      > a {
        color: $textBlack;
        display: block;
        font-weight: 500;
        line-height: 140%;
        padding: 20px 0;
        transition: color 0.35s ease-in-out;
        
        @include desktopMax {
          font-weight: 600;
          font-size: calc-em(20px);
          width: 100%;
        }
        
        @include desktop {
          text-align: center;
          line-height: 17px;
          margin-right: 4px;
          font-size: calc-em(14px);
        }
        
        @include lgDesktop {
          min-width: 100px;
        }
      }

      > button {
        margin: 0;
        background-color: transparent;
        color: $textBlack;
        border: none;
        
        
        @include desktopMax {
          display: block;
          font-size: calc-em(14px);
        }

        @include desktop {
          font-size: calc-em(12px);
          transform: rotate(90deg);
        }
      }
    }
  }

  &__lvl2 {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.35s ease-in-out;
    
    &.container{
      padding: 0;
      display: block !important;

      @media only screen and (max-width: 1550px) {
        margin: 0 50px;
        width: calc(100% - 100px);
      }

      @include desktopMax {
        width: 100%;
        margin: 0;
      }
    }
    
    @include desktopMax {
      position: fixed;
      top: 179px;
      left: 0;
      right: 0;
      width: 100vw;
      height: calc(100vh - 100px - 79px);
      height: calc(calc(var(--vh, 1vh) * 100) - 100px - 79px);
      transform: translate(100%, 0);
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 5px;
        background: $lightPurple;
      }
    
      &::-webkit-scrollbar-thumb {
        background: $primaryPurple;
        border-radius: 5px;
      }
    }

    @include desktop {
      background-color: $profilePurple;
      max-height: calc(100vh - 112px - 50px);
      max-height: calc(calc(var(--vh, 1vh) * 100) - 112px - 50px);
      position: fixed;
      top: 112px;
      left: 0;
      right: 0;
      width: 100%;
      box-shadow: 0 2px 6px rgba(0,0,0,.35);

      .container {
        max-height: calc(100vh - 112px - 50px);
        max-height: calc(calc(var(--vh, 1vh) * 100) - 112px - 50px);
      }

      &__nav {
        overflow-y: auto;
        overflow-x: hidden;

        // MOZ
        scrollbar-color: $primaryPurple $lightPurple;
        scrollbar-width: thin;
        // IE 11
        scrollbar-face-color: $primaryPurple;
        scrollbar-track-color: $lightPurple;

        &::-webkit-scrollbar {
          width: 5px;
          background: $lightPurple;
        }
      
        &::-webkit-scrollbar-thumb {
          background: $primaryPurple;
          border-radius: 5px;
        }
      }

      &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
        right: 0;
        background-color: #fff;
        z-index: 0;
      }
    }

    .btn-back {
      @include desktop {
        display: none;
      }
    }

    .container {
      @include desktopMax {
        flex-direction: column;
        padding: 0;
      }

      @include desktop {
        z-index: 1;
      }
    }
    
    &__intro {
      color: $textBlack;
      flex: 0 0 100%;
      max-width: 100%;
      background-color: $profilePurple;
      padding: 32px 20px;
      overflow-y: auto;
      position: relative;

      &::-webkit-scrollbar {
        width: 5px;
        background: $lightPurple;
      }
    
      &::-webkit-scrollbar-thumb {
        background: $primaryPurple;
        border-radius: 5px;
      }
      
      @include desktop {
        padding: 56px 16px 56px 0;
        flex: 0 0 calc(336 / 1440 * 100%);
        max-width: calc(336 / 1440 * 100%);
      }

      button {
        display: block;
        width: 100%;
        background-color: transparent;
        color: $textBlack;
        font-weight: 500;
        line-height: 140%;
        text-align: left;
        margin: 0 0 24px;
        padding: 0;
        border: none;
        display: flex;
        align-items: center;
        height: 22px;
        position: relative;
        z-index: 1;

        .icon {
          margin: 0 10px 0 0;
          font-size: calc-em(14px);
        }
      }

      &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 0;

        svg {
          position: absolute;
          top: 0;
          right: 0;

          @include desktop {
            top: auto;
            bottom: 0;
          }
        }
      }

      &__content {
        position: relative;
        z-index: 1;

        @include desktop {
          padding: 0 16px 0 0;
          max-height: calc(100vh - 112px - 50px - 56px - 56px);   // minus header, 50px space and 56px top and bottotm padding
          max-height: calc(calc(var(--vh, 1vh) * 100) - 112px - 50px - 56px - 56px);
          overflow-y: auto;

          &::-webkit-scrollbar {
            width: 5px;
            background: $lightPurple;
          }
        
          &::-webkit-scrollbar-thumb {
            background: $primaryPurple;
            border-radius: 5px;
          }
        }
      }

      // picture {
      //   width: 100%;
      //   display: block;
      //   margin: 0 0 14px;

      //   @include desktopMax {
      //     display: none;
      //   }

      //   img {
      //     width: 100%;
      //   }
      // }

      strong {
        font-weight: 600;
        font-size: calc-em(26px);
        line-height: 32px;
        margin: 0 0 12px;
        display: block;
        
        @include desktop {
          font-size: calc-em(20px);
          line-height: 120%;
          margin: 0 0 8px;
        }
      }

      p {
        line-height: 125%;
        margin: 0;
      }
    }

    &__nav {
      background-color: #fff;
      flex: 0 0 100%;
      max-width: 100%;
      padding: 12px 20px 120px;
      
      @media only screen and (max-width: $bpDesktop - 1) and (-webkit-device-pixel-ratio: 3) {
        padding: 12px 20px 200px;
      }

      @include desktop {
        padding: 40px 0 40px 48px;
        flex: 0 0 calc(1104 / 1440 * 100%);
        max-width: calc(1104 / 1440 * 100%);
      }

      ul {
        @include desktop {
          margin: 0 -16px;
          display: flex;
          flex-wrap: wrap;
          overflow-y: auto;
  
          &::-webkit-scrollbar {
            width: 5px;
            background: $lightPurple;
          }
        
          &::-webkit-scrollbar-thumb {
            background: $primaryPurple;
            border-radius: 5px;
          }
        }
      }

      li {
        @include desktopMax {
          border-bottom: 1px solid $borderGray;

          &:last-child {
            border-bottom: none;
          }
        }

        @include desktop {
          flex: 0 0 50%;
          max-width: 50%;
          padding: 0 16px;
        }
      }

      a {
        display: flex;
        height: 100%;
        transition: none;
        padding: 20px 0;
        
        @include desktop {
          padding: 16px 20px;

          &:hover {
            .nav-item {
              &__image {
                img {
                  transform: scale(1.1);
                }
              }
            }
          }
        }

        .nav-item {
          &__image {
            flex: 0 0 130px;
            max-width: 130px;

            @include desktopMax {
              flex: 0 0 96px;
              max-width: 96px;
            }
            
            picture,
            img {
              display: block;
              overflow: hidden;
              width: 100%;
            }
            
            img {
              transition: transform 0.2s ease-in-out;
            }
          }

          &__text {
            color: $textBlack;
            
            @include desktopMax {
              padding: 0 14px;
              flex: 0 0 calc(100% - 96px);
              max-width: calc(100% - 96px);
            }

            @include desktop {
              padding: 0 14px;
              flex: 0 0 calc(100% - 130px);
              max-width: calc(100% - 130px);
            }

            span {
              font-weight: 600;
              line-height: 140%;
              display: block;
              margin: 0 0 4px;
              
              @include desktop {
                line-height: 22px;
                margin: 0 0 5px;
              }
            }

            p {
              margin: 0;
              line-height: 20px;
              font-size: calc-em(14px);
            }
          }
        }
      }
    }
  }
}