mixin site-nav(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  nav.site-nav(aria-label="Site Navigation")
    ul.site-nav__lvl1
      each item, index in spec.items
        - var liClass = item.children ? 'with-child' : ''
        li(class=liClass)
          a(href= item.url) !{item.name}
          if item.children
            button.icon.icon-chevron-right(type="button")
              span.sr-only Next level
            .site-nav__lvl2.container
              .container
                .site-nav__lvl2__intro
                  .site-nav__lvl2__intro__bg
                    svg.no-desktop(width="215" height="154" viewBox="0 0 215 154" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(d="M172 81.1783L172 -376.689L327 -446.406L327 152.537L172 81.1783Z" stroke="#E2D5E8" stroke-width="1.5" stroke-miterlimit="10")
                      path(d="M192.5 -89.1953L3.5 -15.0989L192.5 59.0323L192.5 -89.1953Z" stroke="#ECD1E0" stroke-width="2" stroke-miterlimit="10")
                    svg.desktop-only(width="336" height="274" viewBox="0 0 336 274" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(d="M456 319.82V1582.7L89 1775V123L456 319.82Z" stroke="#ECD1E0" stroke-width="2" stroke-miterlimit="10")
                      path(d="M-74 1039H341V-6L-74 1039Z" stroke="#E2D5E8" stroke-width="2" stroke-miterlimit="10")
                  button.btn-back(type="button")
                    span.icon.icon-chevron-left
                    span.label Back
                  .site-nav__lvl2__intro__content
                    //- picture.site-nav__lvl2__intro__content__image
                    //-   source(srcset=item.image)
                    //-   img(src=item.image , alt="")
                    .site-nav__lvl2__intro__content__text
                      strong=item.name 
                      p=item.description
                .site-nav__lvl2__nav
                  ul
                    each child, childIndex in item.children
                      li
                        a(href= child.url aria-label=child.name)
                          .nav-item__image
                            picture
                              source(srcset=child.image)
                              img(src=child.image , alt="")
                          .nav-item__text
                            span= child.name
                            p= child.description

mixin site-nav-dot(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  ul.site-nav__lvl1
    | {{~ it.nav :level1}}
    | {{var liClass = level1.children ? "with-child" : "";}}
    li(class="{{=liClass}}")
      a(href="{{=level1.url}}") {{=level1.name}}
      | {{? level1.children}}
      button.icon.icon-chevron-right(type="button")
        span.sr-only Next level
      | {{?}}
      | {{? level1.children}}
      .site-nav__lvl2.container
        .container
          .site-nav__lvl2__intro
            .site-nav__lvl2__intro__bg
              svg.no-desktop(width="215" height="154" viewBox="0 0 215 154" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M172 81.1783L172 -376.689L327 -446.406L327 152.537L172 81.1783Z" stroke="#E2D5E8" stroke-width="1.5" stroke-miterlimit="10")
                path(d="M192.5 -89.1953L3.5 -15.0989L192.5 59.0323L192.5 -89.1953Z" stroke="#ECD1E0" stroke-width="2" stroke-miterlimit="10")
              svg.desktop-only(width="336" height="274" viewBox="0 0 336 274" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M456 319.82V1582.7L89 1775V123L456 319.82Z" stroke="#ECD1E0" stroke-width="2" stroke-miterlimit="10")
                path(d="M-74 1039H341V-6L-74 1039Z" stroke="#E2D5E8" stroke-width="2" stroke-miterlimit="10")
            button.btn-back(type="button")
              span.icon.icon-chevron-left
              span.label Back
            .site-nav__lvl2__intro__content
              .site-nav__lvl2__intro__content__text
                strong {{=level1.name}}
                | {{? level1.description}}
                p {{=level1.description}}
                | {{?}}
          .site-nav__lvl2__nav
            ul
              | {{~ level1.children :level2}}
              li
                a(href="{{=level2.url}}" aria-label="{{=level2.name}}")
                  .nav-item__image
                    picture
                      source(srcset="{{=level2.image}}")
                      img(src="{{=level2.image}}" , alt="")
                  .nav-item__text
                    span {{=level2.name}}
                    | {{? level2.description}}
                    p {{=level2.description}}
                    | {{?}}
              | {{~}}
      | {{?}}
    | {{~}}
