mixin press-release-card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  article.press-release-card(class=spec.__class)&attributes(attributes)
    a(href=spec.url)
      span.press-release-card__tag Press releases & speeches 
      h3=spec.title
      if spec.description
        p=spec.description
      +button-placeholder({
        "label": "Read more",
        "url": "#"
      })