// press-release-card styles
.press-release-card {
  $p: &;
  border: 1px solid $borderGray2;
  display: block;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  margin: 0 0 20px;
  transition: all .5s $easeInOutExpo;
  background-color: #fff;
  height: 100%;
  padding: 20px 20px 64px;

  @include desktop {
    margin: 0 0 30px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 3px;
    z-index: 1;
    background-color: $purple100;
    transition: width 0.35s ease-in-out;
  }

  @include hover {
    &:hover {
      box-shadow: $purpleShadowDark;

      &:before {
        width: 100%;
      }

      h3 {
        color: $purple100;
      }
    }
  }

  a {
    display: block;
    height: 100%;
    text-decoration: none;
  }

  &__tag {
    display: block;
    color: $purple100;
    font-size: calc-em(14px);
    line-height: 140%;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 12px;
  }

  h3 {
    text-decoration: none;
    font-size: calc-em(20px);
    font-weight: 600;
    line-height: 140%;
    margin: 0;
    color: $textBlack;
    transition: all 0.25s $easeInOutExpo;

    @include desktop {
      font-size: calc-em(22px);
    }
  }

  p {
    margin: 16px 0 30px;
    line-height: 140%;
    color: $textBlack;
  }

  .btn {
    position: absolute;
    left: 20px;
    bottom: 30px;
    padding: 6px 20px;
    background-color: transparent;
    border: 1px solid $purple100;
    color: $purple100 !important;

    &:hover {
      background-color: transparent;
    }
    
    svg {
      .arrow-body, .arrow-head {
        stroke: $purple100;
      }
    }
  }
}