extends ../_layouts/standard-detail

include ../_modules/molecules/highlight-card/highlight-card
include ../_modules/molecules/video-player/video-player
include ../_modules/molecules/image-text/image-text
include ../_modules/molecules/article-link/article-link
include ../_modules/molecules/image-link/image-link
include ../_modules/molecules/cta-banner/cta-banner
include ../_modules/molecules/teaser-card/teaser-card
include ../_modules/molecules/box-quote/box-quote
include ../_modules/molecules/name-card/name-card
include ../_modules/organisms/accordion-list/accordion-list
include ../_modules/organisms/gallery/gallery
include ../_modules/organisms/standard-content-carousel/standard-content-carousel

block append config
  - pageUrl = "/regulation-detail"
  - var pageData = site.data.standardDetail.regulationDetail
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts

block detailContent
  +rte
    p(style="font-style: italic;") 
      strong Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius nam itaque, earum inventore fugit aperiam vero minima maiores tenetur dignissimos quas sequi sed laborum dolor sit autem nemo, odio nesciunt.

  +detail-section({
    "title": "Header 2",
    "subtitle": "Subtitle"
  })#sample
    +highlight-card({
      "image": "/images/detail/highlight-1.jpg",
      "content": "<table><tbody><tr><td><strong>Website</strong></td><td>:</td><td><a href=\"#\">https://accredify.io/</a></td></tr><tr><td><strong>Contact</strong></td><td>:</td><td>Quah Zheng Wei</td></tr><tr> <td><strong>Email</strong></td><td>:</td><td><a href=\"mailto:contact@accredify.io\">contact@accredify.io</a></td></tr><tr> <td><strong>Category</strong></td><td>:</td><td>Enterprise Data / Development Platform</td></tr><tr> <td><strong>Sub category</strong></td><td>:</td><td>Verifiable Certificates</td></tr></tbody></table>"
    })
    +rte
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex nesciunt aperiam maxime quo odit, suscipit itaque quis, dolor, minus odio temporibus. Eaque, inventore tempora incidunt unde odit ab ratione ipsa.

      h3 Header 3

      ul
        li Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sed porro rerum sapiente, nesciunt dolore necessitatibus pariatur fugiat quisquam iste illo nihil esse molestiae optio ut nemo repudiandae unde voluptatum!
        li Eius explicabo dolorum adipisci a quis natus facere optio repudiandae recusandae perspiciatis error, quas nulla! Suscipit quos sunt magni. Rerum reprehenderit nesciunt ut, velit tenetur aut iure exercitationem quod fuga!
        li Earum tempora incidunt voluptatibus ullam, velit exercitationem possimus laboriosam reprehenderit iusto facilis delectus dolorum excepturi a voluptates quibusdam quaerat, fugit harum quas aspernatur expedita nam, eum temporibus. Est, id dolorem.

      h3 Header 3

      ul
        li Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi exercitationem earum tempora recusandae dicta natus eligendi vel debitis quia soluta eius molestiae sed et accusantium deserunt ab, aliquam quaerat sint!
        li Quam laboriosam modi sapiente totam facere exercitationem illum, cupiditate quisquam corporis quidem neque aliquam esse vitae necessitatibus nam fuga asperiores sit, sequi odit, nisi eligendi voluptate debitis molestias? Adipisci, quia!
        li Hic reprehenderit facere explicabo in excepturi molestiae natus repellendus maiores? Modi nesciunt impedit ad, dolorum unde officiis consequuntur placeat culpa blanditiis. Dolor odit ipsam nostrum hic vero at quae deserunt.
      h2 Header 2
      +accordion-list
    +video-player({
      "videoId": "L209rWk_0TY",
      "image": "/images/detail/gallery-1.jpg",
      "title": "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, quibusdam."
    })

    +image-text({
      "image": "/images/detail/gallery-1.jpg",
      "alt": "Groupfie",
      "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
    })

    +gallery({
      "items": [
        {
          "image": "/images/detail/gallery-1.jpg",
          "alt": "Groupfie",
          "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
        },
        {
          "image": "/images/detail/gallery-1.jpg",
          "alt": "Groupfie",
          "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
        },
        {
          "image": "/images/detail/gallery-1.jpg",
          "alt": "Groupfie",
          "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
        },
        {
          "image": "/images/detail/gallery-1.jpg",
          "alt": "Groupfie",
          "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
        }
      ]
    })

    .row
      .col-md-4
        +article-link({
          "title": "Media Manpower Plan",
          "image": "/images/mega-menu-1.jpg",
          "url": "#",
          "description": "Lorem ipsum dolor sit"
        })
      .col-md-4
        +article-link({
          "title": "Media Manpower Plan",
          "image": "/images/mega-menu-1.jpg",
          "url": "#",
          "description": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
        })
      .col-md-4
        +article-link({
          "title": "Media Manpower Plan",
          "image": "/images/mega-menu-1.jpg",
          "url": "#",
          "description": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
        })

    .row
      .col-md-4
        +image-link({
          "title": "Title",
          "image": "/images/detail/image-1.png",
          "description": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, inventore.",
          "url": "#"
        })
      .col-md-4
        +image-link({
          "title": "Title",
          "image": "/images/detail/image-2.png",
          "description": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, inventore.",
          "url": "#"
        })
      .col-md-4
        +image-link({
          "title": "Title",
          "image": "/images/detail/image-3.png",
          "description": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, inventore.",
          "url": "#"
        })
    +cta-banner({
      "title": "Explore companies accredited by IMDA",
      "description": "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, temporibus.",
      "image": "/images/cta-banner.jpg",
      "cta": {
        "url": "/endorsed-companies",
        "name": "View endorsed companies"
      }
    })
  
    .row
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills.",
          "category": "Grants",
          "industry": "Finance",
          "icon": "icon-individual"
        }).match-height
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "icon": "icon-individual"
        }).match-height
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services.",
          "category": "Grants",
          "industry": "Finance",
          "icon": "icon-individual"
        }).match-height
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).match-height
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).match-height
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).match-height
    +box-quote({
      "title": "Lorem ipsum dolor",
      "content": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores labore dignissimos architecto quos nisi et, dolore fugiat placeat error animi officiis non cumque impedit maxime deserunt reprehenderit dolorem sapiente hic laboriosam veniam ut eos odit tempora? Non ea officiis corporis officia at quidem nam blanditiis, similique necessitatibus aperiam vitae reprehenderit!",
      "author": "James Lim Rui Yi",
      "designation": "Senior Manager, Industry Development Group"
    })

    .row
      .col-md-6
        +name-card({
          "salutation": "Mr",
          "name": "Lew Chuen Hong",
          "image": "/images/senior-management/Lew Chuen Hong.png",
          "designation": "<p>Chief Executive</p><p>Commissioner</p><p>Personal Data Protection Commission</p><br/><p>Executive Director</p><p>POFMA Office</p>",
          "cta": {
            "url": "#",
            "label": "CEO's Office"
          }
        })
      .col-md-6
        +name-card({
          "salutation": "Ms",
          "name": "Aileen Chia",
          "image": "/images/senior-management/Aileen Chia.png",
          "designation": "<p>Director-General (Telecoms & Post)</p><br/><p>Deputy Chief Executive, Connectivity Development & Regulation</p><br/><p>Deputy Executive Director (POFMA Office)</p>",
          "cta": {
            "url": "#",
            "label": "Resilience, Cybersecurity & Infrastructure Group"
          },
          "cta2": {
            "url": "#",
            "label": "Policy, Regulation & Competition Development Group"
          }
        })

    +standard-content-carousel({
      "items": [
        {
          "image": "/images/standard/landing-1.jpg",
          "title": "What we do",
          "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
          "url": "#"
        },
        {
          "image": "/images/standard/landing-2.jpg",
          "title": "Organisation Structure",
          "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith. An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
          "url": "#"
        },
        {
          "image": "/images/standard/landing-3.jpg",
          "title": "Awards & Certification",
          "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
          "url": "#"
        },
        {
          "image": "/images/standard/landing-4.jpg",
          "title": "Service Standards",
          "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
          "url": "#"
        },
        {
          "image": "/images/standard/landing-5.jpg",
          "title": "Corporate Publications",
          "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
          "url": "#"
        }
      ]
    })

  +detail-section({
    "title": "Overview",
    "subtitle": "Subtitle"
  })#overview
    +video-player({
      "videoId": "L209rWk_0TY",
      "image": "/images/detail/gallery-1.jpg",
      "title": "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, quibusdam."
    })

  +detail-section({
    "title": "Who applies?"
  })#whoApplies
    +box-quote({
      "image": "/images/detail/quote.jpg",
      "title": "Lorem ipsum dolor",
      "content": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores labore dignissimos architecto quos nisi et, dolore fugiat placeat error animi officiis non cumque impedit maxime deserunt reprehenderit dolorem sapiente hic laboriosam veniam ut eos odit tempora? Non ea officiis corporis officia at quidem nam blanditiis, similique necessitatibus aperiam vitae reprehenderit!",
      "author": "James Lim Rui Yi",
      "designation": "Senior Manager, Industry Development Group"
    })

    +rte()
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa esse aspernatur, reprehenderit rerum hic mollitia. Mollitia obcaecati repellat, iste asperiores perferendis minus saepe fugit eaque blanditiis, ipsa placeat atque ducimus neque sunt dolorum cum debitis et itaque, reiciendis voluptas ipsum maxime. Quae non modi quia reprehenderit, sequi reiciendis odio quis.

    +box-quote({
      "title": "Lorem ipsum dolor",
      "content": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores labore dignissimos architecto quos nisi et, dolore fugiat placeat error animi officiis non cumque impedit maxime deserunt reprehenderit dolorem sapiente hic laboriosam veniam ut eos odit tempora? Non ea officiis corporis officia at quidem nam blanditiis, similique necessitatibus aperiam vitae reprehenderit!",
      "author": "James Lim Rui Yi",
      "designation": "Senior Manager, Industry Development Group"
    })

  +detail-section({
    "title": "How to apply?",
    "subtitle": "Here's step by step guide"
  })#howToApply
    +rte()
      p Please follow the following instruction to apply:
      ol
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, ipsam.
        li Lorem, ipsum dolor sit amet consectetur adipisicing elit. <a href="#">Illo ad</a href="#">, et eum distinctio iusto dolorum!
        li Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi labore qui recusandae minima nulla velit vitae possimus corporis saepe non.

  +detail-section({
    "title": "Fees"
  })#fees
    +rte()
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum dolor, ipsam perspiciatis cum totam odio reiciendis itaque quam, blanditiis id, dolorem laudantium! Illum quisquam id rerum, perferendis adipisci fugit ipsam qui assumenda fuga eos tenetur ex. Aperiam exercitationem a quidem! Quos in repudiandae id labore ab rem, aspernatur nesciunt alias?

      table
        tr
          th lorem ipsum
          th lorem ipsum dolor sit
        tr
          td Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, iure!
          td Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta quas tempore atque est quibusdam harum.
        tr
          td Lorem ipsum dolor sit amet.
          td Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur molestias quisquam earum iste repudiandae quas.

  +detail-section({
    "title": "Hotline"
  })#hotline
    +rte()
      p Call us if you have any question: <b>+65 98765432</b>
