// interactive-card styles
.interactive-card {
  .main-info {
    .item-title {
      p {
        font-family: $font-family;
        font-size: calc-em(14px);
        font-weight: $black;
      }
    }

    .item-date {
      p {
        font-family: $font-family;
        font-size: calc-em(14.5px);
        font-weight: $black;
      }
    }

    .detail-info-section {
      p {
        font-size: calc-em(16px);
      }
    }
  }
}
