mixin interactive-card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.date = spec.date || ''
  - spec.icon = spec.icon || ''
  - spec.title = spec.title || ''
  - spec.icon = spec.icon || ''

  .interactive-card(class=spec.__class)&attributes(attributes)
    .main-info
      .item-wrapper
        .item-icon
          if spec.icon === "rocket"
            img.highlight-icon(src="/images/ui/rocket-blue.png")
            img.normal-icon(src="/images/ui/rocket.png")
          if spec.icon === "connection"
            img.highlight-icon(src="/images/ui/connection-blue.png")
            img.normal-icon(src="/images/ui/connection.png")
          if spec.icon === "lock"
            img.highlight-icon(src="/images/ui/lock-blue.png")
            img.normal-icon(src="/images/ui/lock.png")
          if spec.icon === "tower"
            img.highlight-icon(src="/images/ui/tower-blue.png")
            img.normal-icon(src="/images/ui/tower.png")
          if spec.icon === "phone"
            img.highlight-icon(src="/images/ui/phone-blue.png")
            img.normal-icon(src="/images/ui/phone.png")
        .item-date
          p=spec.date
          span

        .item-title
          p=spec.title
        .item-cta
          .cta-arrow
            span.span-left
            span.span-right
      .detail-info-section
        p <a href="https://www.google.com.sg" target="_blank">Lorem ipsum dolor sit</a>, amet consectetur adipisicing elit. Ipsum beatae voluptates facere veritatis perspiciatis sunt, dolores explicabo, rem blanditiis laudantium non? Consectetur reprehenderit doloremque voluptate adipisci commodi minima praesentium ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique distinctio temporibus dolorem, aspernatur accusamus quia quod maxime aut, quo ipsam sequi. Veritatis suscipit dignissimos accusamus quaerat odit reprehenderit officia incidunt!

