mixin highlight-card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .highlight-card&attributes(attributes)
    .highlight-card__bg
      svg.svg-triangle(width="113" height="78" viewBox="0 0 113 78" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M2 -114L87.9798 75L174 -114L2 -114Z" stroke="#FFEBEF" stroke-width="2" stroke-miterlimit="10")
      svg.svg-line(width="199" height="27" viewBox="0 0 199 27" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M-73 319L97.5081 1.02032L197 1L26.4919 318.975L-73 319Z" stroke="#ECD1E0" stroke-width="2" stroke-miterlimit="10")
    .highlight-card__image
      img(src= spec.image, alt= spec.title)
    .highlight-card__content
      
      .highlight-card__text
        if spec.title
          h3= spec.title
        | !{spec.content}
