// highlight-card styles
.highlight-card {
  $p: &;
  max-width: 768px;
  margin: 0 auto 30px;
  box-shadow: $purpleShadowDark;
  position: relative;
  background-color: #fff;
  
  @include tablet {
    display: flex;
    margin-top: 50px;
    width: calc(100% - 26px);
    left: 13px;
  }

  @include desktop {
    margin-bottom: 60px;
  }

  &__image {
    width: 100%;
    position: relative;
    z-index: 2;
    
    @include tablet {
      width: 350px;
      max-width: 350px;
      min-width: 350px;
      position: relative;
      top: -26px;
      left: -26px;
    }

    img {
      width: 100%;
      @include tablet {
        @include image-cover;
        height: 230px;
      }
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @include tabletMax {
      display: none;
    }

    @include tablet {
      &::before {
        content: "";
        display: block;
        width: 23.5%;
        height: 100%;
        background-color: $purple10;
        transform: skewX(-30.029deg);
      }
    }

    svg {
      position: absolute;
      path {
        stroke: $borderGray2;
        opacity: 0.6;
      }
    }

    .svg-triangle {
      right: 0px;
      top: 0px;
      z-index: 2;
      //animation: updown 1.5s linear infinite alternate;
    }

    .svg-line {
      left: 0;
      bottom: 0;

      /* path {
        stroke-dasharray: 2;
        stroke-dashoffset: 2;
        animation-timing-function: linear;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: reverse;
        animation-name: drawLine;
        animation-delay: 1s;
      } */
    }

    .svg-polygon {
      top: 0;
      right: -30px;

      path {
        stroke-dasharray: 2;
        stroke-dashoffset: 2;
        animation-timing-function: linear;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: reverse;
        animation-name: drawLine;
      }
    }
  }

  &__text {
    position: relative;
    z-index: 2;
  }

  &__content {
    position: relative;
    z-index: 2;
    padding: 24px 20px;
    line-height: 180%;
    
    @include tablet {
      padding-left: 0;
      /* width: calc(100% - 26px);
      padding: 36px 40px; */
    }

    h3 {
      font-size: calc-em(24px);
      font-weight: 600;
      line-height: 140%;
      margin: 0 0 16px;
      
      @include desktop {
        font-size: calc-em(28px);
      }
    }

    table {
      td {
        vertical-align: top;

        &:first-child {
          white-space: nowrap;
          padding-right: 20px;
        }
      }
    }
  }

  &--border {
    img {
      box-shadow: 0 0 8px rgb(112 47 138 / 40%);
    }
  }
}