extends ../../_layouts/standard-detail

block append config
  - baseUrl = "../../"
  - pageUrl = "/news-listing/think-big"
  - var pageData = site.data.standardDetail.thinkBig
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts
  - nextArticle = pageData.nextArticle

block detailContent
  +rte()
    h2 Flashback to Innovation Labs World, and what Senior Minister of State, Dr Janil Puthucheary, shared in his Innovation Vision speech.

    p “An ambitious approach to innovative insurance products.”

    p This was how Dr Janil Puthucheary, Senior Minister of State for Transport, and Communications and Information, described the partnership between IMDA and four insurance companies – Great Eastern, LumenLab (Metlife’s Asia Innovation centre), NTUC Income and Prudential Singapore.

    p He witnessed the signing of the Memorandum of Intent (MOI) between IMDA and the four firms, which took place after his speech about inclusive citizen services at Innovation Labs World (ILW). Mr Howie Lau, IMDA's Chief Industry Development Officer, signed the MOI with representatives of the four companies.

    p ILW is an annual conference organised by GovInsider, an online news portal covering Smart cities and public service innovation around the globe. Held on 25 September 2018, it attracted a thousand attendees from the public and private sector, with a strong international presence.

    p Through the MOI, companies under IMDA’s Accreditation@SG Digital programme will work with the insurance companies to co-develop disruptive insurance technology, tapping on frontier technologies such as artificial intelligence and machine learning.

    p It is one example of the Government working with the private sector to pursue innovation. Work is already progressing, with Sense Infosys working with Great Eastern on a Proof-of-Concept on transaction monitoring, while DataRobot has teamed up with NTUC Income to improve and automate its pricing analysis.

    h3 Thinking Big

    p Dr Janil was the Guest-of-Honour at ILW, and also gave away the GovInsider Innovation Awards to the winners.

    p In his speech, the phrase ‘Think big, start small, act fast’ -- inspired by what Education Minister Ong Ye Kung said earlier this year – encapsulated a vision of how government agencies should deliver innovative services for citizens.

    p Dr Janil said that the expectations of citizens in Singapore are extremely high around Smart Nation and digital government. Going beyond these expectations is a major motivation for the Government.

    p “We have to dream big and try to anticipate further needs and design for both resilience and opportunity for the future, rather than solve today’s and yesterday’s problems.”

    p Government agencies need to start small and act fast too – be agile, in other words.

    p "We need to institutionalise some degree of agility in our technological development as it relates to public policy.”

    p He highlighted the MyTransport.SG app by the Land Transport Authority, which “demonstrates the kind of responsiveness that we need to have in the design approach, and the engineering approach.”

    p The LTA improves the app iteratively by responding to transport concerns from citizens, and comparing what the public and private sectors had developed around navigation and mobility as a service in Singapore, “both to meet consumers’ needs and to layer in a public policy outcome.”

    p The public transport app was relaunched with new driver-friendly features, such as indicating the availability of parking lots, to serve a policy aim. “We start to persuade drivers and nudge them toward public transport. To begin that, we had to engage with them.”

    h3 Digital Inclusion

    p One particular challenge in dealing with digital and technological expectations of citizens in Singapore is the need to be inclusive, said Dr Janil.

    p But there are already initiatives to address it.

    p Access – to a smartphone, to a data plan, or even a basic online banking account – is therefore an essential element that ensures that citizens can participate in the digital government space.

    p Hence, the rollout of the Digital Readiness Blueprint in June this year, which “looks at issues of access, literacy and participation.”

    p He highlighted the Silver Infocomm Junctions and initiatives for the elderly, which include workshops that teach seniors to use their smart phones apps, and even how to make e-payments.

    p Language is another area of concern, as some citizens do not speak English as the first language, and those who can speak English will code switch in Singlish.

    p Thus, the need for the Government to generate a National Speech Corpus, as a platform for inclusion. It is an AI library containing voice samples in local accents, which will help local companies to create speech-enabled applications – such as a digital voice assistant that can understand local lingo like ‘nasi lemak’ to help seniors who cannot speak English well, for example.

    p Inclusion also extends to working adults and mid-career professionals, particularly where digital skills acquisition is concerned. Dr Janil cited the TechSkills Accelerator (TeSA) programme, which helps mid-career professionals to pick up skills in areas such as AI and data analytics – thereby helping them to transition to new career opportunities even as disruption occurs.
