extends ../_layouts/base

include ../_modules/organisms/page-banner/page-banner
include ../_modules/organisms/story-listing/story-listing

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - pageTitle = 'Innovative Tech Solutions'
  - var sectionName = "For Industry"
  -
    var breadcrumbs = [
      {
        "name": "For Industry",
        "url": "/industry-support"
      },
      {
        "name": "Technology & Innovation",
        "url": "/technology-innovation"
      },
      {
        "name": "Innovative Tech Solutions"
      }
    ]

block content
  +page-banner({
    "pageTitle": pageTitle,
    "breadcrumbs": breadcrumbs,
    "sectionName": sectionName
  })

  +story-listing({
    "pageUrl": "/supported-digital-listing",
    "type": "solutions",
    "nav": [
      {
        "url": "/supported-digital-listing",
        "name": "Innovative Tech Solutions",
        "isActive": true
      },
      {
        "url": "/endorsed-companies",
        "name": "Innovative SG Startups"
      }
    ],
    "items": [
      {
        "title": "Automating manufacturing process with digitalisation",
        "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit perspiciatis aut fugiat illo dolor, vel aliquam asperiores maiores obcaecati quos!",
        "image": "/images/stories/story-1.jpg",
        "company": "VI Dimension Pte Ltd - ARVAS",
        "industry": "Blockchain",
        "url": "#",
        "color": "green-yellow"
      },
      {
        "title": "Redeveloping advertising analytics with blockchain",
        "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit perspiciatis aut fugiat illo dolor, vel aliquam asperiores maiores obcaecati quos!",
        "image": "/images/stories/story-2.jpg",
        "company": "VI Dimension Pte Ltd - ARVAS",
        "industry": "Blockchain",
        "url": "#",
        "color": "blue-green"
      },
      {
        "title": "Robotising the system for the restaurant",
        "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit perspiciatis aut fugiat illo dolor, vel aliquam asperiores maiores obcaecati quos!",
        "image": "/images/stories/story-3.jpg",
        "company": "VI Dimension Pte Ltd - ARVAS",
        "industry": "Blockchain",
        "url": "#",
        "color": "purple-red"
      },
      {
        "title": "Automating manufacturing process with digitalisation",
        "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit perspiciatis aut fugiat illo dolor, vel aliquam asperiores maiores obcaecati quos!",
        "image": "/images/stories/story-4.jpg",
        "company": "VI Dimension Pte Ltd - ARVAS",
        "industry": "Blockchain",
        "url": "#",
        "color": "green-yellow"
      },
      {
        "title": "Face recognition system for Changi Airport in 2019",
        "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit perspiciatis aut fugiat illo dolor, vel aliquam asperiores maiores obcaecati quos!",
        "image": "/images/stories/story-5.jpg",
        "company": "VI Dimension Pte Ltd - ARVAS",
        "industry": "Blockchain",
        "url": "#",
        "color": "red-orange"
      },
      {
        "title": "Redeveloping advertising analytics with blockchain",
        "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit perspiciatis aut fugiat illo dolor, vel aliquam asperiores maiores obcaecati quos!",
        "image": "/images/stories/story-6.jpg",
        "company": "VI Dimension Pte Ltd - ARVAS",
        "industry": "Blockchain",
        "url": "#",
        "color": "green-yellow"
      }
    ]
  })
