// tags-list styles
.tags-list {
  &__title {
    font-size: calc-em(18px);
    margin: 0 0 12px;
    color: $textBlack;
    
    @include desktop {
      font-size: calc-em(20px);
    }
  }

  &__list {
    @extend %list-unstyled;
    margin: -8px 0 0;

    li {
      display: inline-block;
      margin: 10px 0px 0 0;

      a.pill {
        margin: 0 10px 0 0;
      }
    }
  }

  &--links {
    ul {
      padding-left: 0;
      li {
        margin: 0;
        &::before {
          content: none;
        }

        a.pill {
          text-decoration: none;
          background-color: $primaryPurple;
          color: white;
          font-size: calc-em(16px, 18px);

          &:hover, &:focus {
            background-color: $primaryDarkPurple;
          }
        }

        a.btn-primary {
          font-size: calc-em(16px, 18px);
          line-height: 1.2;
          margin: 0 16px 10px 0;
        }
      }
    }
  }
}
