include ../../atoms/pill/pill
include ../../atoms/buttons/buttons

mixin tags-list(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.isButton = spec.isButton || false

  .tags-list(class=spec.__class)&attributes(attributes)
    if spec.title
      h3.tags-list__title= spec.title
    ul.tags-list__list
      each item in spec.items
        li
          if (spec.isButton === true)
            +button({
              "label": item.name,
              "url": item.url
            })
          else 
            +pill({
              "label": item.name,
              "url": item.url
            })
