mixin download-box(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .download-box(class=spec.__class)&attributes(attributes)
    .download-item
      .item-image
        img(src="/images/brochure-2.jpg", alt="")
      .item-description
        a(href="#") Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque, perspiciatis.
