mixin title-box(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .title-box(class=spec.__class)&attributes(attributes)
    h2 Sample title
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis iusto numquam necessitatibus doloremque debitis! Iste impedit, doloremque voluptatem quasi aspernatur accusamus sed a in illo? Cumque facilis quae ullam est?
