extends ../_layouts/standard-detail

block append config
  - pageUrl = "/programme-detail"
  - var pageData = site.data.standardDetail.programmeDetail
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts

block detailContent
  +detail-section({
    "title": "Overview"
  })
    +rte()
      p The New Talent Feature Grant (NTFG) encourages first and second-time directors to launch their careers in filmmaking by helping them make films for different platforms, including cinemas, film festivals, broadcast, video-on-demand, or online platforms.

      h1 Header 1 - Font size <span class="no-mobile no-tablet">32px</span><span class="no-desktop">26px</span>, Medium (500)

      h2 Header 2 - Font size <span class="no-mobile no-tablet">30px</span><span class="no-desktop">24px</span>, Medium (500)

      h3 Header 3 - Font size <span class="no-mobile no-tablet">28px</span><span class="no-desktop">22px</span>, Medium (500)

      h4 Header 4 - Font size <span class="no-mobile no-tablet">26px</span><span class="no-desktop">20px</span>, Medium (500)

      h5 Header 5 - Font size <span class="no-mobile no-tablet">24px</span><span class="no-desktop">19px</span>, Medium (500)
      
      h6 Header 6 - Font size <span class="no-mobile no-tablet">22px</span><span class="no-desktop">18px</span>, Medium (500)

      p
        strong Paragraph - Font size <span class="no-mobile no-tablet">18px</span><span class="no-desktop">16px</span>, Semibold (600)
      p Paragraph - Font size <span class="no-mobile no-tablet">18px</span><span class="no-desktop">16px</span>, Regular (400)
      p 
        i Paragraph - Font size <span class="no-mobile no-tablet">18px</span><span class="no-desktop">16px</span>, Regular (400)
        
  +detail-section({
    "title": "Programmes"
  })
    .row
      .col-md-6
        +teaser-card({
          "title": "Home Access",
          "category": "Scheme",
          "industry": "Tech",
          "description": "IMDA developed a set of customised curriculum to increase infocomm litgeracy among seniors. There are two tracks, iBEGIN and iLIVE, for seniors to learn basic infocomm and digital lifestyle skills respectively.",
          "url": "/home-access",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).teaser-card--panel.teaser-card--blue.match-height
      .col-md-6
        +teaser-card({
          "title": "Silver Infocomm Junctions",
          "category": "Programmes",
          "industry": "Tech",
          "description": "The Silver Infocomm Junctions are senior-friendly infocomm learning hubs that offer affordable infocomm training and customised curriculum to citizens including seniors",
          "url": "/detail-page",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).teaser-card--panel.teaser-card--pink.match-height
      .col-md-6
        +teaser-card({
          "title": "Basic Digital Skills",
          "category": "Programmes",
          "industry": "Tech",
          "description": "Citizen can learn Basic Digital Skills at the one-day SkillsFuture for Digital Community (SFDC) introductory course",
          "url": "/detail-page",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).teaser-card--panel.teaser-card--pink.match-height
      .col-md-6
        +teaser-card({
          "title": "Digital Clinics",
          "category": "Programmes",
          "industry": "Tech",
          "description": "Digital Clinics allow participants especially seniors to receive one-on-one assistance from volunteers with their smartphones.",
          "url": "/detail-page",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).teaser-card--panel.teaser-card--pink.match-height
      .col-md-6
        +teaser-card({
          "title": "Intergen IT Bootcamp",
          "category": "Programmes",
          "industry": "Tech",
          "description": "Seniors have a chance to go back to school and interact with their grandchildren or students from the neighbouring schools to learn basic infocomm skills",
          "url": "/detail-page",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).teaser-card--panel.teaser-card--pink.match-height
      .col-md-6
        +teaser-card({
          "title": "SG:D Friends Programme",
          "category": "Programmes",
          "industry": "Tech",
          "description": "Sign up as SG:D Friends to help Singaporeans be digitally ready so that they can be empowered to stay connected to enrich their lives.",
          "url": "/detail-page",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).teaser-card--panel.teaser-card--pink.match-height
