// accordion-sections styles
.accordion-sections {
  $p: '.accordion-list';
  padding: 80px 0 56px;
  position: relative;
  overflow: hidden;

  @include desktop {
    padding: 80px 0 40px;
  }

  &__shapes {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    .shape {
      position: absolute;
      path {
        stroke: $borderGray2;
        opacity: 0.6;
      }
    }
    
    .shape1 {
      top: -599px;
      right: 0;
      animation: updown 3s ease-in-out infinite alternate;

      @include desktopMax {
        width: 50%;
        height: auto;
        max-width: 186px;
        top: auto;
        bottom: calc(100% - 55px);
      }
    }

    .shape2 {
      top: 39%;
      left: -52px;
      animation: updown 3s ease-in-out infinite alternate;

      @include desktopMax {
        top: auto;
        left: -11px;
        bottom: -52px;
        width: 27.2%;
        height: auto;
        max-width: 102px;
      }
    }

    .shape3 {
      right: 0;
      bottom: 22%;
      animation: leftrightshort 3s ease-in-out infinite alternate;

      @include desktopMax {
        display: none;
      }
    }
  }

  #{$p}__header {
    h2 {
      font-weight: 600;
      font-size: calc-em(32px);
      line-height: 140%;
      margin: 0 0 8px;
    }

    &--buttons {
      text-align: left;
      margin: 0 0 24px;
      position: static;
      transform: translate(0);

      .btn {
        padding: 0;
      }
    }
  }

  .accordion-list {
    margin: 0;
  }

  .accordion-item {
    @include desktopMax {
      border-top: 1px solid $borderGray;
      margin: 0 0 16px;
      transition: all 0.3s ease-in-out;
    }

    &:last-child {
      margin: 0;
    }

    &.expanding,
    &.expanded {
      @include desktopMax {
        background-color: $purple10;
      }
    }

    @include desktop {
      margin: 0 0 80px;
      border-top: none;
      
      &:last-child {
        margin: 0;
      }
    }
    
    .accordion-title {
      @include desktopMax {
        padding: 20px 78px 16px 9px;
        
        span {
          &:nth-last-child(2) {
            font-size: calc-em(20px);
            line-height: 130%;
            font-weight: 400;
            
            strong {
              font-weight: 600;
            }
          }
        }
      }

      @include desktop {
        display: none !important;
      }

      &__image {
        max-width: 40px;
        max-height: 40px;
        margin: 0 0 10px;
      }

      .icon {
        right: -7px;
        color: $darkPurple40;
        align-items: flex-start;
        height: auto;

        &:before {
          margin: 3px 0 0;
        }
      }
    }
    
    .accordion-content {
      padding: 0 9px;
      background-color: transparent;

      @include desktop {
        display: block !important;
      }

      header {
        max-width: 950px;
        color: $textBlack;

        p {
          margin: 0 0 16px;
          line-height: 140%;
        }
      }

      h3 {
        font-weight: 400;
        font-size: calc-em(32px);
        margin: 0 0 24px;
        line-height: 140%;
        
        strong {
          font-weight: 600;
        }
      }

      .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 24px 0 0;
        
        @include desktop {
          margin: 38px -20px 0;
        }
      }

      .row,
      .collapsible-content__collapsible__content {
        > div:not(.collapsible-content__collapsible) {
          margin: 0 0 24px;
          flex: 0 0 100%;
          max-width: 100%;
          
          @include desktop {
            padding: 0 20px;
            margin: 0 0 40px;
            flex: 0 0 calc(100% / 3);
            max-width: calc(100% / 3);
          }
        }
      }

      a {
        margin: 0 10px 10px 0;

        @include desktopMax {
          background-color: transparent;
          color: $primaryPurple !important;
          border: 1px solid $primaryPurple;
          padding: 8px 20px;

          .arrow-body,
          .arrow-head {
            stroke: $primaryPurple;
          }
        }
      }

      &--horizontal {
        @include desktop {
          display: flex !important;
        }

        header {
          @include desktop {
            flex: 0 0 calc(100% / 10 * 6.6);
            max-width: calc(100% / 10 * 6.6);
          }
        }
        
        .row {
          @include desktop {
            flex: 0 0 calc(100% / 10 * 4.5);
            max-width: calc(100% / 10 * 4.5);
            margin: 0;
          }
        }

        .row,
        .collapsible-content__collapsible__content {
          > div:not(.collapsible-content__collapsible) {
            @include desktop {
              margin: 0 0 40px;
              flex: 100%;
              max-width: 100%;
            }
  
            > div {
              @include desktop {
                display: flex;
                padding: 14px 17px 0;
              }
            }
  
            .topic-card__image {
              @include desktop {
                margin: 0 24px 0 0;
              }
            }
  
            .topic-card__text {
              @include desktop {
                flex: 0 0 calc(100% - 48px - 24px); // 10px for margin
                max-width: calc(100% - 48px - 24px);
              }
            }
          }
        }
      }
    }
  }

  .collapsible-content {
    &__collapsible {
      width: 100%;
      
      @include desktopMax {
        padding: 0 0 40px;
      }

      &__content {
        margin: 0;

        @include desktop {
          display: flex !important;
          flex-wrap: wrap;
        }
      }

      &__handle {
        text-align: center;
        margin: 20px 0 0;
        
        button {
          border-bottom-color: $primaryPurple;
          color: $primaryPurple;
        }
      }
    }
  }
}