include ../../molecules/topic-card/topic-card
include ../../organisms/accordion-list/accordion-list

mixin accordion-sections(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.accordion-sections
    .accordion-sections__shapes
      svg.shape.shape1(width="306" height="773" viewBox="0 0 306 773" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M2.00007 771.344L305 771.344L305 5.99997L2.00007 771.344Z" stroke="#E2D5E8" stroke-width="2" stroke-miterlimit="10")
      svg.shape.shape2(width="148" height="164" viewBox="0 0 148 164" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M2 1L73.9831 161.282L146 1L2 1Z" stroke="#E2D5E8" stroke-width="2" stroke-miterlimit="10")
      svg.shape.shape3(width="241" height="274" viewBox="0 0 241 274" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M240 72.8193V202.282L108 271.473V2L240 72.8193Z" stroke="#E2D5E8" stroke-width="2" stroke-miterlimit="10")
        path(d="M1 72.123L145 137.222L1.00001 202.352L1 72.123Z" stroke="#E2D5E8" stroke-width="2" stroke-miterlimit="10")

    .container
      .accordion-list(class=spec.__class)&attributes(attributes)
        .accordion-list__header.no-desktop
          .accordion-list__header--title
            h2=spec.title
          .accordion-list__header--buttons
            a.btn.btn--icon.btn-expand(title="Expand")
              span(class="icon icon-plus")
              span(class="label") Expand All
            //- a.btn.btn--icon.btn-collapse(title="Collapse")
            //-   span(class="icon icon-minus")
            //-   span(class="label") Collapse All
        .accordion-list__wrap
          each section, index in spec.sections
            - var sectionLayoutClass = section.reverse ? 'accordion-content--horizontal' : ''
            +accordion-item({
              "title": section.header.title,
              "image": section.header.image,
              "image2": section.header.image2,
              "image3": section.header.image3,
              "__id": "whoWeAreSection" + index,
              "__layoutClass": sectionLayoutClass
            })
              header
                h3.desktop-only !{section.header.title}
                div
                  each button in section.header.buttons
                    +button(button)
              .collapsible-content.row
                each topic, index in section.topics
                  if index <= 2
                    div
                      +topic-card(topic)
                if section.topics.length > 3
                  .collapsible-content__collapsible
                    .collapsible-content__collapsible__content(style="display: none;")
                      each topic, index in section.topics
                        if index > 2
                          div
                            +topic-card(topic)
                    .collapsible-content__collapsible__handle.no-desktop
                      button(type="button" data-expandlabel="Read more" data-collapselabel="Read less") Read more
