mixin button-centered(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .button-centered(class=spec.__class)&attributes(attributes)
    a.btn.btn--rounded(href="#") Watch more videos
