mixin rte(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .rte&attributes(attributes)
    if block
      block
    else
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis necessitatibus itaque, nesciunt repellendus fugiat nobis mollitia nisi nam aspernatur labore.
