// rte styles
.rte {
  color: $textBlack;

  .body--dark & {
    color: #fff;

    ul {
      > li {
        &:before {
          content: url("data:image/svg+xml,%3Csvg width='22' height='10' viewBox='0 0 25 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.83 0.5L13.93 9.27H0.5V0.5H22.83Z' fill='none' stroke='%23C6ACD0'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }

  .body--dark.imda-theme--maroon & {
    ul {
      > li {
        &:before {
          content: url("data:image/svg+xml,%3Csvg width='22' height='10' viewBox='0 0 25 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.83 0.5L13.93 9.27H0.5V0.5H22.83Z' fill='none' stroke='%23D8A4C1'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }

  .body--dark.imda-theme--teal & {
    ul {
      > li {
        &:before {
          content: url("data:image/svg+xml,%3Csvg width='22' height='10' viewBox='0 0 25 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.83 0.5L13.93 9.27H0.5V0.5H22.83Z' fill='none' stroke='%2399CFC7'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }
  
  @include desktop {
    font-size: calc-em(18px);
  }
  
  // &:last-child {
  //   margin-bottom: 0;
  // }

  // > *,
  // > div > * {
  //   margin-top: 0;
  //   margin-bottom: 1rem;
  // }

  // > *:last-child,
  // > div > *:last-child {
  //   margin-bottom: 0;
  // }

  p, ul, ol, table {
    line-height: 1.4;
  }

  p, ul, ol {
    strong {
      font-weight: 600;
    }
  }

  p {
    margin-top: 0px !important;
    margin-bottom: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
  }

  h2 {
    padding-top: 40px;
    margin-bottom: 20px;
    margin-top: 0px !important;
  }

  h3, h4 {
    padding-top: 20px;
    margin-bottom: 20px;
    margin-top: 0px !important;
  }

  h5, h6 {
    padding-top: 10px;
    margin-bottom: 20px;
    margin-top: 0px !important;
  }

  h1 {
    font-size: calc-em(28px);

    @include desktop {
      font-size: calc-em(32px, 18px);
    }  
  }

  h2 {
    font-size: calc-em(26px);

    @include desktop {
      font-size: calc-em(30px, 18px);
    }  
  }

  h3 {
    font-size: calc-em(20px);
    font-weight: 500;
    
    @include desktop {
      font-size: calc-em(24px, 18px);
    }  
  }

  h4 {
    font-size: calc-em(18px);
    font-weight: 500;

    @include desktop {
      font-size: calc-em(20px, 18px);
    }  
  }

  h5 {
    font-size: calc-em(16px);
    font-weight: 500;

    @include desktop {
      font-size: calc-em(18px, 18px);
    }  
  }
  
  h6 {
    font-size: calc-em(16px);
    font-weight: 500;

    @include desktop {
      font-size: calc-em(18px, 18px);
    }  
  }

  a {
    color: $primaryPurple;
    text-decoration: underline;
    word-break: break-all;

    &:visited {
      color: $primaryMaroon;
    }
  }

  hr {
    background-color: transparent;
    border-top: 1px dashed transparent;
    border-left: 1px dashed transparent;
    border-right: 1px dashed transparent;
    border-bottom: 1px dashed #767676;
    margin: 32px 0;
  }

  .table {
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;

    table {
      filter: none;
    }
  }

  table {
    width: 100% !important;
    overflow: auto;
    display: table;
    overflow-x: auto;
    overflow-wrap: break-word;
    margin: 0 0 20px;
    border-radius: 4px;
    border-spacing: 0;

    tr {
      &:first-child {
        th,td {
          &:first-child {
            border-top-left-radius: 4px;
          }

          &:last-child {
            border-top-right-radius: 4px;
          }
        }

        th, td {
          border-top: 1px solid $tableBorder;
        }
      }

      &:last-child {
        td {
          &:first-child {
            border-bottom-left-radius: 4px;
          }

          &:last-child {
            border-bottom-right-radius: 4px;
          }
        }
      }

      th, td {
        &:first-child {
          border-left: 1px solid $tableBorder;
        }
      }
    }

    thead {
      & + tbody {
        tr {
          &:first-child {
            td {
              &:first-child {
                border-top-left-radius: 0;
              }
    
              &:last-child {
                border-top-right-radius: 0;
              }
            }
          }
        }
      }
    }

    td {
      background-color: #FEFEFF;
    }

    td, th {
      padding: 10px;
      /* position: relative; */
      border-right: 1px solid $tableBorder;
      border-bottom: 1px solid $tableBorder;
      word-break: break-word;
      min-width: 100px; //minimum width set for td,th so that it wont be too small when break word in small screens

      > *:last-child {
        margin-bottom: 0;
      }
    }

    th {
      background-color: #FEFEFF;
      color: $textBlack;
      text-align: left;
      border-bottom: 2px solid $primaryPurple;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    tr:nth-child(odd) {
      td {
        background-color: $tableEven;
      }
    }
  }

  ol,
  ul {
    padding-left: 40px;
    word-break: normal;
    
    @include desktop {
      font-size: 1.125rem;
    }

    li {
      margin: 20px 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  ol {
    counter-reset: list-number-counter;

    li {
      list-style-type: none;
      position: relative;
    }

    &> li::before {
      counter-increment: list-number-counter;
      content: counter(list-number-counter)". ";
      position: absolute;
      top: 0px;
      left: -40px;
    } 

    &.tablesaw-advance-dots {
      li {
        &:before {
          display: none;
        }
      }
    }

    ol {
      padding-left: 40px;
    }
  }

  ul {
    > li {
      position: relative;
      list-style-type: none;

      &:before {
        content: url("data:image/svg+xml,%3Csvg width='22' height='10' viewBox='0 0 25 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.83 0.5L13.93 9.27H0.5V0.5H22.83Z' fill='none' stroke='%23702F8A'/%3E%3C/svg%3E%0A");
        position: absolute;
        left: -40px;
        top: -2px;
      }

      > ul {
        padding-left: 40px;
      }

      &.maroon {
        &:before {
          content: url("data:image/svg+xml,%3Csvg width='22' height='10' viewBox='0 0 25 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.83 0.5L13.93 9.27H0.5V0.5H22.83Z' fill='none' stroke='%23702F8A'/%3E%3C/svg%3E%0A");
        }
      }

      &.turquoise {
        &:before {
          content: url("data:image/svg+xml,%3Csvg width='22' height='10' viewBox='0 0 25 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.83 0.5L13.93 9.27H0.5V0.5H22.83Z' fill='none' stroke='%23008672'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }

  .image-float-left {
    float: left;
  }

  img {
    display: inline-block;
  }

  .iframe-wrap {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.tablesaw-bar {
  @include clearfix;
  margin: 0 0 12px;

  .tablesaw-bar-section {
    label {
      color: $primaryPurple;
      display: flex;
      align-items: center;
      font-weight: 600;
      padding: 8px 0;
    }

    .tablesaw-btn {
      padding: 0 24px 0 0;
      position: relative;

      &:after {
        @extend %icomoon;
        content: url("data:image/svg+xml,%3Csvg width='22' height='10' viewBox='0 0 25 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.83 0.5L13.93 9.27H0.5V0.5H22.83Z' fill='white' stroke='%23702F8A'/%3E%3C/svg%3E%0A");
        color: $primaryPurple;
        font-size: calc-em(8px);
        padding: 0;
        top: 50%;
        left: auto;
        right: 0;
        bottom: auto;
        transform: translate(0, -50%);
        
      }
    }
  }
}

.tablesaw-advance {
  padding: 5px 0 6px;

  a.tablesaw-nav-btn {
    color: $primaryPurple;
    border-color: $primaryPurple;
    padding: 0 !important;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    width: 32px;
    height: 32px;

    &:before {
      text-indent: 0;
      font-size: calc-em(12px, 14px);
      transform: translate(-50%, -50%);
    }

    &.left {
      &:before {
        @extend %icomoon;
        content: url("data:image/svg+xml,%3Csvg width='22' height='10' viewBox='0 0 25 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.83 0.5L13.93 9.27H0.5V0.5H22.83Z' fill='white' stroke='%23702F8A'/%3E%3C/svg%3E%0A");
        border: none;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
      }
    }
    
    &.right {
      &:before {
        @extend %icomoon;
        content: url("data:image/svg+xml,%3Csvg width='22' height='10' viewBox='0 0 25 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.83 0.5L13.93 9.27H0.5V0.5H22.83Z' fill='white' stroke='%23702F8A'/%3E%3C/svg%3E%0A");
        border: none;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
      }
    }
  }
}

.tablesaw-advance-dots {
  padding: 0;
  height: 32px;
  display: flex;
  align-items: center;

  li {
    padding: 0 4px;

    i {
      width: 5px;
      height: 5px;
      background: $primaryPurple;
      display: block;
    }
  }
}

.tablesaw {
  border-collapse: separate;
}

.tablesaw-stack {
  width: 100% !important;

  th, td {
    .tablesaw-cell-label {
      a {
        color: #fff !important;

        &:hover, &:visited {
          color: white !important;
        }
      }
    }
  }

  &.overflow {
    border-collapse: collapse;

    thead {
      th, td {
        display: none;
      }
    }

    tbody {
      th, td {
        padding: 0;
        display: flex;
        width: 100% !important;
      }

      tr {
        display: table-row;
        border-bottom: 2px solid $textBlack;

        &:first-child {
          td {
            border-top: none;
            
            &:first-child {
              border-top: 1px solid $tableBorder;
              border-top-left-radius: 4px !important;
              border-top-right-radius: 4px !important;

              .tablesaw-cell-label {
                border-radius: 4px 0 0 0;
              }
            }
          }
        }

        &:last-child {
          border-bottom: none;

          td:first-child {
            border-bottom-left-radius: 0px;
          }

          td:last-child {
            border-bottom: 1px solid $tableBorder;
            border-bottom-left-radius: 4px;

            .tablesaw-cell-label {
              border-radius: 0 0 0 4px;
            }
          }
        }
      }
    }

    th, td {
      .tablesaw-cell-label {
        display: inline-block !important;
        padding: 12px;
        border-left: 1px solid $tableBorder;
        border-right: 1px solid $tableBorder;
        color: $textBlack;
        font-weight: 500;
        flex: 0 0 30%;
        max-width: 30%;
      }

      &:first-child {
        border-left: 0px solid !important;
      }
    }
  
    .tablesaw-cell-content {
      padding: 12px;
      flex: 0 0 70%;
      max-width: 70%;
    }
  }

  .tablesaw-cell-content {
    > *:last-child {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 639px) {
  .no-scrollbar {
    .tablesaw-stack {
      th, td {
        border: 1px solid $tableBorder !important;

        &:first-child {
          border-left: 1px solid $tableBorder !important;
        }
      }
      td {
        padding: 0 !important;
      }
      tr {
        border: 0 !important;
      }
    }
  }

  .tablesaw {
    border-collapse: collapse;
  }

  .tablesaw-stack {
    border-left: none !important;
    border-right: none !important;

    thead {
      th, td {
        display: none;
      }
    }
  
    tbody {
      th, td {
        padding: 0;
        display: flex;
        width: 100% !important;
      }
  
      tr {
        display: table-row;
        border-bottom: 2px solid $textBlack;

        &:first-child {
          td {
            border-top: none;
            
            &:first-child {
              border-top: 1px solid $tableBorder;
              border-top-left-radius: 4px !important;
              border-top-right-radius: 4px !important;

              .tablesaw-cell-label {
                border-radius: 4px 0 0 0;
              }
            }
          }
        }

        &:last-child {
          border-bottom: none;

          td:first-child {
            border-bottom-left-radius: 0px;
          }

          td:last-child {
            border-bottom: 1px solid $tableBorder;
            border-bottom-left-radius: 4px;

            .tablesaw-cell-label {
              border-radius: 0 0 0 4px;
            }
          }
        }
      }
    }
  
    th, td {
      .tablesaw-cell-label {
        display: inline-block !important;
        padding: 12px;
        border-left: 1px solid $tableBorder;
        border-right: 1px solid $tableBorder;
        color: $textBlack;
        font-weight: 500;
        flex: 0 0 30%;
        max-width: 30%;
      }

      &:first-child {
        border-left: 0px solid !important;
      }
    }
  
    .tablesaw-cell-content {
      padding: 12px;
      flex: 0 0 70%;
      max-width: 70%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .tablesaw-stack {
    th, td {
      .tablesaw-cell-label {
        flex: 0 0 40%;
        max-width: 40%;
      }
    }
  
    .tablesaw-cell-content {
      padding: 12px;
      flex: 0 0 60%;
      max-width: 60%;
    }
  }
}