// event-listing-card styles
.event-listing-card {
  height: 100%;

  > a {
    display: block;
    text-decoration: none;
    position: relative;
    border: 1px solid #fff;
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
  }

  &__label {
    position: absolute;
    top: 0;
    right: 0;
    width: 102px;
    height: 102px;

    &.event-listing-card__label--white {
      svg {
        path {
          stroke: #fff;
          fill: #fff;
        }
      }
    }

    svg {
      position: absolute;
      left: 0;
      bottom: 0;
      animation: rotating 6s linear infinite;

      path {
        stroke: #000;
        fill: #000;
      }
    }
  }

  &__type {
    position: absolute;
    right: 15px;
    bottom: 30px;
    font-weight: 500;
    font-size: calc-em(14px);
    line-height: 140%;
    display: inline-block;
    padding: 0 10px;
    color: #fff;
    border-radius: 10px;
    background-color: $contentHubBlack;
  }

  &__image {
    @include aspect-ratio(391, 257, 100%);

    img {
      @include image-cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    color: #fff;
    padding: 20px 20px 50px;
    
    @include desktop {
      padding: 20px 30px 50px;
    }

    .event-listing-card__tag {
      margin: 0 0 20px -20px;
      padding: 2px 7px 2px 20px;
      background-color: #fff;
      color: $textBlack;
      font-weight: 500;
      font-size: calc-em(14px);
      line-height: 140%;
      display: inline-flex;
      align-items: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      @include desktop {
        margin: 0 0 20px -30px;
        padding: 2px 7px 2px 30px;
      }
    }

    h3 {
      margin: 0 0 20px;
      font-weight: 500;
      line-height: 140%;
      font-size: calc-em(22px);
      @include line-clamp(2);
      
      @include desktopMax {
        font-size: calc-em(20px);
      }
    }

    p {
      margin: 0 0 30px;
      font-size: calc-em(14px);
      @include line-clamp(3);
      font-weight: 500;
      line-height: 140%;

      @include desktopMax {
        display: none;
      }
    }

    .footer-date {
      display: flex;
      gap: 9px;
      align-items: center;
      position: absolute;
      bottom: 30px;
      left: 20px;

      @include desktop {
        left: 30px;
      }
    }

    .date {
      font-size: calc-em(14px);
      text-transform: uppercase;
    }
  }
  
  .right-arrow {
    line-height: 1;
    bottom: 26px;

    .arrow-body, .arrow-head {
      stroke: $imdaWhite;
    }
  }
}

.event-listing-thumbnail-card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;

  &__image {
    @include aspect-ratio(335, 328, 100%);
    
    @include desktop {
      @include aspect-ratio(1232, 722, 100%);
    }

    img {
      @include absolute-img;
      @include image-cover;
    }
  }

  &__overlay {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.04%, #000000 68.59%);
    }

    img {
      width: 96px;
      height: auto;
      top: auto;
      left: auto;
      right: 0;
      bottom: -11px;

      @include desktop {
        width: 512px;
        bottom: -58px;
      }
    }
  }

  &__label {
    position: absolute;
    top: 0;
    right: 0;
    width: 102px;
    height: 102px;

    @include desktop {
      width: 220px;
      height: 220px;
    }

    &.event-listing-thumbnail-card__label--white {
      svg {
        path {
          stroke: #fff;
          fill: #fff;
        }
      }
    }

    svg {
      position: absolute;
      left: 0;
      bottom: 0;
      animation: rotating 6s linear infinite;

      @include desktop {
        width: 385px;
        height: 385px;
      }

      path {
        stroke: #000;
        fill: #000;
      }
    }
  }
  
  &__text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 23px 26px 42px;
    
    @include desktop {
      padding: 48px;
    }

    @include lgDesktop {
      padding: 58px 93px;
    }

    .event-listing-thumbnail-card__tag {
      margin: 0 0 14px -26px;
      background-color: #fff;
      padding: 2px 7px 2px 26px;
      color: $textBlack;
      font-weight: 500;
      font-size: calc-em(14px);
      line-height: 140%;
      display: inline-flex;
      align-items: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      @include desktop {
        margin: 0 0 15px -48px;
        font-size: calc-em(20px);
        padding: 8px 12px 8px 48px;
      }

      @include lgDesktop {
        margin: 0 0 15px -93px;
        padding: 8px 12px 8px 93px;
      }
    }

    h3 {
      font-weight: 500;
      font-size: calc-em(20px);
      line-height: 140%;
      margin: 0 0 22px;

      @include desktop {
        font-weight: 600;
        font-size: calc-em(40px);
        margin: 0 0 15px;
      }
    }

    .footer-date {
      position: absolute;
      bottom: 26px;
      left: 27px;

      @include desktop {
        position: relative;
        left: auto;
        bottom: auto;
      }
    }

    .date {
      font-size: calc-em(12px);
      text-transform: uppercase;
      font-weight: 500;
      line-height: 140%;
      
      @include desktop {
        display: block;
        font-size: calc-em(24px);
        margin: 0 0 23px;
      }
    }
  }

  .right-arrow {
    line-height: 1;
    bottom: 26px;

    @include desktop {
      display: none;
    }

    .arrow-body, .arrow-head {
      stroke: $imdaWhite;
    }
  }

  .btn {
    color: $textOffWhite;
    border: 1px solid $textOffWhite;
    background-color: transparent;

    @include desktopMax {
      display: none;
    }
  }

  > a {
    @include desktopMax {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.event-listing-card-placeholder {
  position: relative;
  display: flex;
  align-items: end;
  border-radius: 8px;
  overflow: hidden;

  @include desktop {
    align-items: center;
  }

  &__image {
    background: linear-gradient(113.41deg, rgba(76, 43, 93, 0.5) 0%, rgba(76, 43, 93, 0) 78.81%), linear-gradient(138.3deg, rgba(255, 175, 193, 0) 49.15%, rgba(255, 175, 193, 0.6) 109.54%), #702F8A;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    svg {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 169px;
      height: 303px;

      @include desktop {
        width: auto;
        height: auto;
      }
    }
  }

  &__text {
    color: #FFF;
    padding: 123px 30px 30px;
    z-index: 1;

    @include desktop {
      padding: 270px 75px;
    }
    
    h3 {
      font-weight: 600;
      font-size: calc-em(24px);
      line-height: 140%;
      margin: 0 0 16px;
      max-width: 50%;
      
      @include desktop {
        max-width: 524px;
        font-size: calc-em(36px);
      }
    }

    p {
      line-height: 140%;
      margin: 0;
      
      @include desktop {
        max-width: 524px;
        font-size: calc-em(24px);
      }
    }
  }
}