mixin event-listing-card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  article.event-listing-card(class=spec.__class)&attributes(attributes)
    a.event-listing-card__link(href=spec.url)
      span.vh=spec.title
      .event-listing-card__image
        picture
          source(srcset= spec.image, media="(max-width: 1023px)")
          source(srcset= spec.image)
          img(src=spec.image, alt="")
        if spec.signature
          .event-listing-card__label(class= spec.whiteLabel ? 'event-listing-card__label--white' : '')
            +signature-label
        if spec.isHybrid
          span.event-listing-card__type Hybrid
      .event-listing-card__text
        span.event-listing-card__tag=spec.type
        h3=spec.title
        if spec.description
          p.event-listing-card__desc=spec.description
        if spec.date
          .footer-date
            svg(width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M13.5658 1.96191H0.464683C0.31195 1.96191 0.1875 2.09202 0.1875 2.2391V13.3491C0.1875 13.4961 0.31195 13.6262 0.464683 13.6262H2.67649C2.82357 13.6262 2.95368 13.4961 2.95368 13.3491C2.95368 13.202 2.82357 13.0719 2.67649 13.0719H0.73621V5.29377H13.2604V13.0719H4.78648C4.6394 13.0719 4.5093 13.202 4.5093 13.3491C4.5093 13.4961 4.6394 13.6262 4.78648 13.6262H13.5376C13.6846 13.6262 13.8147 13.4961 13.8147 13.3491V2.2391C13.8147 2.10899 13.7186 1.9902 13.5658 1.96191V1.96191ZM13.2604 4.7394H0.73621V2.51628H13.2604V4.7394Z" fill="white")
              path(d="M5.19269 2.01285C5.19269 2.99713 4.38943 3.79474 3.4108 3.79474C3.26938 3.79474 3.15624 3.68161 3.15624 3.54019C3.15624 3.39877 3.26938 3.28563 3.4108 3.28563C4.11224 3.28563 4.68358 2.71429 4.68358 2.01285C4.68358 1.31141 4.11224 0.740069 3.4108 0.740069C2.70936 0.740069 2.16065 1.28312 2.13236 1.96194H1.62891C1.65153 1.00028 2.44349 0.230957 3.4108 0.230957C4.37811 0.230957 5.19269 1.02857 5.19269 2.01285Z" fill="white")
              path(d="M12.3784 2.01285C12.3784 2.99713 11.5752 3.79474 10.5965 3.79474C10.4551 3.79474 10.342 3.68161 10.342 3.54019C10.342 3.39877 10.4551 3.28563 10.5965 3.28563C11.298 3.28563 11.8693 2.71429 11.8693 2.01285C11.8693 1.31141 11.298 0.740069 10.5965 0.740069C9.8951 0.740069 9.35205 1.28312 9.32377 1.96194H8.82031C8.84294 1.00028 9.62924 0.230957 10.5965 0.230957C11.5639 0.230957 12.3784 1.02857 12.3784 2.01285Z" fill="white")

            span.date=spec.date
        span.right-arrow
          +right-arrow


mixin signature-label(spec)

  svg(width="179" height="179" viewBox="0 0 179 179" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M147.419 66.1321C147.818 67.1153 148.04 68.1275 148.083 69.1579C148.127 70.1919 147.996 71.0554 147.691 71.752L146.389 71.6395C146.654 70.9901 146.781 70.2064 146.77 69.2922C146.759 68.3779 146.577 67.4854 146.222 66.6147C145.885 65.7838 145.504 65.1453 145.083 64.7063C144.662 64.2673 144.226 63.9952 143.773 63.8936C143.319 63.792 142.88 63.8283 142.449 63.9988C141.93 64.2093 141.574 64.5249 141.378 64.9494C141.183 65.3739 141.092 65.8636 141.103 66.4151C141.114 66.9702 141.168 67.5652 141.266 68.2001C141.364 68.835 141.451 69.4772 141.527 70.123C141.603 70.7688 141.611 71.3855 141.542 71.9805C141.473 72.5755 141.284 73.1089 140.969 73.5805C140.653 74.0522 140.141 74.4331 139.434 74.7197C138.777 74.9846 138.106 75.0571 137.413 74.9338C136.724 74.8104 136.067 74.4549 135.439 73.8707C134.812 73.2866 134.271 72.434 133.818 71.3093C133.517 70.5656 133.321 69.7856 133.23 68.9656C133.139 68.1493 133.172 67.4019 133.324 66.7235L134.634 66.7453C134.485 67.4672 134.453 68.182 134.536 68.8931C134.619 69.6042 134.779 70.2536 135.019 70.845C135.341 71.6395 135.715 72.2526 136.14 72.6844C136.564 73.1161 137.007 73.381 137.467 73.4789C137.928 73.5805 138.385 73.537 138.839 73.3519C139.358 73.1415 139.713 72.8259 139.909 72.4014C140.105 71.9769 140.192 71.4871 140.17 70.9284C140.149 70.3697 140.091 69.7747 139.996 69.1361C139.898 68.5012 139.818 67.8591 139.749 67.2205C139.681 66.5784 139.677 65.9652 139.739 65.3739C139.8 64.7825 139.985 64.2528 140.294 63.7811C140.602 63.3095 141.103 62.9358 141.799 62.6528C142.441 62.3916 143.113 62.3263 143.802 62.4569C144.495 62.5875 145.155 62.9467 145.783 63.5381C146.411 64.1294 146.958 64.9893 147.419 66.1285V66.1321Z" fill="black")
    path(d="M141.334 54.8962L129.536 62.9795L128.68 61.7315L140.478 53.6482L141.334 54.8962Z" fill="black")
    path(d="M130.304 42.187C131.121 42.9126 131.748 43.7144 132.198 44.5924C132.644 45.474 132.902 46.381 132.971 47.3171C133.04 48.2531 132.92 49.1783 132.612 50.0889C132.303 50.9995 131.799 51.8449 131.103 52.6285C130.406 53.4122 129.622 54.0108 128.755 54.4244C127.888 54.838 126.981 55.0629 126.038 55.0992C125.095 55.1355 124.158 54.9831 123.233 54.6421C122.308 54.3011 121.437 53.7677 120.621 53.0421C119.808 52.3165 119.174 51.5292 118.724 50.673C118.274 49.8168 118.042 48.917 118.023 47.9701L119.362 47.8758C119.413 48.7211 119.62 49.4794 119.986 50.1542C120.353 50.829 120.85 51.4385 121.47 51.9936C122.13 52.5814 122.838 53.0131 123.585 53.2888C124.336 53.5646 125.095 53.6843 125.864 53.648C126.633 53.6117 127.369 53.4303 128.073 53.1002C128.777 52.77 129.416 52.2839 129.985 51.6417C130.547 51.0104 130.954 50.3247 131.204 49.581C131.454 48.8372 131.552 48.0826 131.498 47.3134C131.444 46.5443 131.237 45.8042 130.878 45.0931C130.518 44.382 130.011 43.7362 129.361 43.1557C128.752 42.6115 128.091 42.1906 127.384 41.8895C126.676 41.5884 125.9 41.4541 125.051 41.4832L125.171 40.0573C126.078 40.061 126.974 40.2533 127.859 40.6306C128.744 41.0079 129.561 41.5267 130.301 42.187H130.304ZM126.136 41.1566L122.635 45.0967L121.55 44.1316L125.174 40.0537L126.136 41.1566Z" fill="black")
    path(d="M118.129 33.6975L112.749 46.9471L111.595 46.4791L107.125 31.2558L107.731 31.5025L103.058 43.0107L101.676 42.4484L107.056 29.1987L108.21 29.6667L112.658 44.8792L112.052 44.6325L116.725 33.1243L118.125 33.6939L118.129 33.6975Z" fill="black")
    path(d="M99.6233 27.3266L92.3272 41.2547L90.8398 41.1749L85.082 26.543L86.6747 26.63L91.9499 40.355L91.3368 40.3223L98.0559 27.2432L99.6269 27.3266H99.6233ZM96.8478 31.0018L96.3326 32.2027L88.028 31.7565L87.6434 30.5084L96.8442 31.0055L96.8478 31.0018Z" fill="black")
    path(d="M76.0602 28.1465L78.8502 40.8374L83.759 39.7599L84.0383 41.0369L72.7442 43.5185L72.4648 42.2415L77.3736 41.1639L74.5836 28.473L76.0602 28.1501V28.1465Z" fill="black")
    path(d="M57.986 34.8004C59.5751 33.9043 61.0844 33.6576 62.5138 34.0567C63.9433 34.4558 65.1623 35.5514 66.1709 37.3437L70.1908 44.4837L68.8738 45.2238L64.8829 38.1382C64.0558 36.6653 63.1125 35.7691 62.0531 35.4426C60.9937 35.1161 59.8581 35.2939 58.65 35.9759C57.4273 36.6653 56.6799 37.5469 56.4115 38.6208C56.143 39.6947 56.4187 40.9681 57.2495 42.4411L61.2404 49.5267L59.9597 50.2487L55.9398 43.1087C54.9312 41.3164 54.6228 39.7092 55.0183 38.2834C55.4137 36.8575 56.4042 35.7002 57.9933 34.8041L57.986 34.8004Z" fill="black")
    path(d="M38.88 51.2645L45.1964 51.9974L44.1044 53.2128L37.7734 52.4981L38.88 51.2682V51.2645ZM45.4069 43.9976L56.0479 53.5538L52.4707 57.5374C51.6616 58.4408 50.8199 59.0866 49.9492 59.4748C49.0784 59.863 48.215 59.99 47.3587 59.8521C46.5025 59.7143 45.6898 59.3007 44.9207 58.6077C44.1697 57.9329 43.6799 57.1783 43.455 56.3438C43.23 55.5094 43.259 54.635 43.5529 53.728C43.8468 52.821 44.3983 51.914 45.2073 51.0142L48.2222 47.6546L48.2875 48.6197L44.3946 45.1259L45.4032 44.0012L45.4069 43.9976ZM48.1968 48.5362L49.18 48.5109L46.1905 51.8414C45.2363 52.9044 44.7429 53.9239 44.7139 54.8926C44.6849 55.8649 45.0912 56.7248 45.9293 57.483C46.7819 58.2485 47.6889 58.5642 48.6503 58.4299C49.6118 58.2957 50.5696 57.6971 51.5274 56.6341L54.5169 53.3071L54.5967 54.2867L48.1968 48.5399V48.5362Z" fill="black")
    path(d="M33.9907 61.5535L30.4244 69.3792L29.2344 68.835L33.4284 59.6343L46.4422 65.5661L42.3752 74.4911L41.1852 73.9469L44.6246 66.4006L33.9907 61.5535ZM40.0641 64.1403L36.9295 71.0191L35.7576 70.4858L38.8922 63.607L40.0641 64.1403Z" fill="black")
    path(d="M31.2408 115.524C30.8091 114.556 30.5515 113.554 30.4717 112.524C30.3919 111.494 30.4935 110.623 30.7728 109.915L32.0789 109.981C31.8358 110.641 31.7379 111.428 31.7778 112.343C31.8213 113.257 32.0318 114.142 32.4163 114.998C32.7828 115.818 33.1855 116.442 33.6208 116.867C34.0562 117.291 34.5025 117.549 34.9596 117.636C35.4167 117.723 35.8557 117.672 36.2802 117.484C36.7918 117.255 37.1364 116.925 37.3142 116.497C37.4956 116.065 37.5682 115.575 37.5391 115.02C37.5101 114.465 37.4339 113.874 37.3142 113.239C37.1945 112.604 37.0856 111.969 36.9877 111.327C36.8861 110.685 36.8607 110.068 36.9078 109.473C36.955 108.878 37.1292 108.337 37.4267 107.855C37.7242 107.372 38.2212 106.973 38.9178 106.661C39.5636 106.371 40.2348 106.277 40.9277 106.378C41.6207 106.48 42.2919 106.81 42.9377 107.372C43.5835 107.935 44.1531 108.769 44.6465 109.876C44.973 110.608 45.1943 111.381 45.314 112.198C45.4301 113.01 45.4265 113.758 45.2995 114.443L43.9898 114.469C44.1132 113.743 44.1204 113.025 44.0152 112.321C43.91 111.617 43.725 110.971 43.4637 110.387C43.1154 109.603 42.72 109.005 42.281 108.588C41.842 108.17 41.3921 107.924 40.9277 107.837C40.4633 107.753 40.0098 107.811 39.5636 108.011C39.052 108.239 38.7074 108.569 38.5296 108.998C38.3482 109.429 38.2793 109.923 38.3192 110.478C38.3591 111.033 38.4389 111.628 38.555 112.263C38.6747 112.898 38.7799 113.533 38.8706 114.171C38.9613 114.81 38.9867 115.426 38.9468 116.018C38.9069 116.609 38.74 117.146 38.4461 117.629C38.1523 118.111 37.6661 118.503 36.9804 118.808C36.3455 119.091 35.6816 119.178 34.985 119.073C34.2884 118.967 33.6172 118.63 32.9678 118.06C32.3184 117.491 31.7451 116.649 31.2445 115.528L31.2408 115.524Z" fill="black")
    path(d="M37.707 126.543L49.2225 118.061L50.1186 119.28L38.6032 127.762L37.707 126.543Z" fill="black")
    path(d="M49.1669 138.871C48.3288 138.174 47.6721 137.394 47.1932 136.531C46.7143 135.667 46.4277 134.768 46.3261 133.832C46.2245 132.896 46.3116 131.97 46.591 131.049C46.8667 130.127 47.342 129.264 48.0132 128.458C48.6843 127.653 49.4462 127.025 50.2988 126.586C51.1514 126.144 52.0512 125.89 52.9908 125.821C53.9305 125.752 54.8738 125.875 55.8098 126.184C56.7459 126.492 57.6347 126.996 58.4728 127.693C59.3109 128.389 59.9712 129.159 60.4501 129.997C60.929 130.838 61.1939 131.727 61.241 132.674L59.9059 132.812C59.8261 131.967 59.5939 131.216 59.2021 130.555C58.8102 129.895 58.295 129.3 57.6565 128.77C56.9744 128.204 56.2561 127.798 55.4978 127.548C54.7396 127.297 53.9777 127.207 53.2085 127.268C52.4394 127.33 51.7101 127.537 51.0172 127.892C50.3242 128.248 49.7038 128.756 49.156 129.416C48.6154 130.066 48.2345 130.766 48.0095 131.517C47.7846 132.268 47.712 133.026 47.7918 133.792C47.8717 134.557 48.1039 135.29 48.4884 135.99C48.873 136.69 49.3991 137.318 50.0703 137.873C50.6979 138.396 51.3727 138.795 52.0911 139.07C52.8094 139.346 53.5895 139.455 54.4348 139.397L54.3659 140.826C53.4589 140.852 52.5555 140.692 51.6593 140.344C50.7632 139.996 49.9288 139.506 49.1632 138.871H49.1669ZM53.3682 139.756L56.735 135.7L57.8524 136.625L54.3695 140.823L53.3718 139.756H53.3682Z" fill="black")
    path(d="M61.625 146.944L66.5446 133.516L67.7165 133.944L72.7087 149.001L72.0955 148.776L76.3694 137.112L77.7698 137.623L72.8502 151.05L71.6819 150.622L66.7079 135.57L67.321 135.795L63.0472 147.459L61.6286 146.94L61.625 146.944Z" fill="black")
    path(d="M80.3122 152.661L87.1402 138.497L88.6313 138.526L94.8752 152.959L93.2825 152.926L87.5502 139.383L88.1633 139.393L81.8832 152.69L80.3086 152.658L80.3122 152.661ZM82.9643 148.895L83.4396 147.68L91.7515 147.85L92.1759 149.084L82.9643 148.895Z" fill="black")
    path(d="M103.854 151.043L100.629 138.458L95.7601 139.706L95.4336 138.439L106.637 135.57L106.96 136.836L102.091 138.084L105.316 150.67L103.851 151.043H103.854Z" fill="black")
    path(d="M121.684 143.78C120.124 144.73 118.626 145.028 117.185 144.68C115.745 144.331 114.49 143.275 113.419 141.52L109.16 134.521L110.452 133.734L114.682 140.678C115.56 142.122 116.536 142.985 117.603 143.275C118.673 143.566 119.801 143.348 120.988 142.626C122.185 141.897 122.903 140.99 123.135 139.909C123.368 138.827 123.048 137.561 122.167 136.121L117.936 129.177L119.192 128.411L123.451 135.41C124.521 137.166 124.884 138.762 124.539 140.203C124.195 141.639 123.244 142.833 121.684 143.783V143.78Z" fill="black")
    path(d="M133.949 134.158L122.988 124.968L126.428 120.865C127.208 119.936 128.024 119.261 128.884 118.844C129.74 118.427 130.6 118.271 131.46 118.38C132.32 118.489 133.147 118.873 133.941 119.541C134.714 120.19 135.229 120.927 135.483 121.754C135.741 122.581 135.737 123.455 135.472 124.373C135.211 125.291 134.689 126.213 133.909 127.142L131.006 130.603L130.908 129.641L134.917 133.001L133.945 134.158H133.949ZM131.006 129.717L130.027 129.775L132.9 126.347C133.818 125.251 134.275 124.217 134.275 123.245C134.275 122.273 133.836 121.424 132.973 120.698C132.095 119.962 131.18 119.679 130.223 119.846C129.265 120.012 128.329 120.644 127.407 121.739L124.534 125.168L124.418 124.192L131.01 129.717H131.006ZM140.225 126.673L133.887 126.158L134.935 124.907L141.288 125.407L140.225 126.677V126.673Z" fill="black")
    path(d="M144.762 116.207L148.056 108.261L149.264 108.762L145.389 118.104L132.18 112.626L135.935 103.566L137.143 104.067L133.965 111.73L144.758 116.207H144.762ZM138.605 113.83L141.5 106.846L142.69 107.34L139.795 114.324L138.605 113.83Z" fill="black")
    path(d="M33.5148 101.894C32.6622 97.9575 32.2305 93.9013 32.2305 89.8343C32.2305 85.7672 32.6368 81.9759 33.435 78.1628L33.7905 78.239C32.996 82.0267 32.5969 85.9305 32.5969 89.8343C32.5969 93.7381 33.025 97.9067 33.874 101.814L33.5184 101.89L33.5148 101.894Z" fill="black")
    path(d="M144.293 101.894L143.938 101.818C144.783 97.9067 145.215 93.8759 145.215 89.8379C145.215 85.7999 144.812 82.0304 144.021 78.2427L144.377 78.1665C145.175 81.9796 145.581 85.9051 145.581 89.8379C145.581 93.7707 145.149 97.9611 144.297 101.898L144.293 101.894Z" fill="black")

mixin event-listing-card-dot(spec)
  article.event-listing-card
    a.event-listing-card__link(href="{{=item.url}}")
      .event-listing-card__image
        picture
          | {{? item.mobileImage}}
          source(srcset="{{=item.mobileImage}}", media="(max-width: 1023px)")
          | {{?}}
          source(srcset="{{=item.image}}")
          img(src="{{=item.image}}", alt="{{=item.title}}")
        | {{? item.signature}}
        | {{? item.whiteLabel}}
        .event-listing-card__label.event-listing-card__label--white
          +signature-label
        | {{??}}
        .event-listing-card__label
          +signature-label
        | {{?}}
        | {{?}}
        | {{? item.isHybrid}}
        span.event-listing-card__type Hybrid
        | {{?}}
      .event-listing-card__text
        | {{? item.type}}
        span.event-listing-card__tag {{=item.type}}
        | {{?}}
        h3 {{=item.title}}
        | {{? item.description}}
        p.event-listing-card__desc {{=item.description}}
        | {{?}}
        | {{? item.date}}
        .footer-date
          svg(width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M13.5658 1.96191H0.464683C0.31195 1.96191 0.1875 2.09202 0.1875 2.2391V13.3491C0.1875 13.4961 0.31195 13.6262 0.464683 13.6262H2.67649C2.82357 13.6262 2.95368 13.4961 2.95368 13.3491C2.95368 13.202 2.82357 13.0719 2.67649 13.0719H0.73621V5.29377H13.2604V13.0719H4.78648C4.6394 13.0719 4.5093 13.202 4.5093 13.3491C4.5093 13.4961 4.6394 13.6262 4.78648 13.6262H13.5376C13.6846 13.6262 13.8147 13.4961 13.8147 13.3491V2.2391C13.8147 2.10899 13.7186 1.9902 13.5658 1.96191V1.96191ZM13.2604 4.7394H0.73621V2.51628H13.2604V4.7394Z" fill="white")
            path(d="M5.19269 2.01285C5.19269 2.99713 4.38943 3.79474 3.4108 3.79474C3.26938 3.79474 3.15624 3.68161 3.15624 3.54019C3.15624 3.39877 3.26938 3.28563 3.4108 3.28563C4.11224 3.28563 4.68358 2.71429 4.68358 2.01285C4.68358 1.31141 4.11224 0.740069 3.4108 0.740069C2.70936 0.740069 2.16065 1.28312 2.13236 1.96194H1.62891C1.65153 1.00028 2.44349 0.230957 3.4108 0.230957C4.37811 0.230957 5.19269 1.02857 5.19269 2.01285Z" fill="white")
            path(d="M12.3784 2.01285C12.3784 2.99713 11.5752 3.79474 10.5965 3.79474C10.4551 3.79474 10.342 3.68161 10.342 3.54019C10.342 3.39877 10.4551 3.28563 10.5965 3.28563C11.298 3.28563 11.8693 2.71429 11.8693 2.01285C11.8693 1.31141 11.298 0.740069 10.5965 0.740069C9.8951 0.740069 9.35205 1.28312 9.32377 1.96194H8.82031C8.84294 1.00028 9.62924 0.230957 10.5965 0.230957C11.5639 0.230957 12.3784 1.02857 12.3784 2.01285Z" fill="white")

          span.date {{=item.date}}
        | {{?}}
        span.right-arrow
          +right-arrow

mixin event-listing-thumbnail-card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  article.event-listing-thumbnail-card(class=spec.__class)&attributes(attributes)
    .event-listing-thumbnail-card__image
      picture
        source(srcset= spec.image, media="(max-width: 1023px)")
        source(srcset= spec.image)
        img(src=spec.image, alt="")
      if spec.signature
        .event-listing-thumbnail-card__label(class= spec.whiteLabel ? 'event-listing-thumbnail-card__label--white' : '')
          +signature-label
      .event-listing-thumbnail-card__overlay
        img(src="/Cwp/assets/imda/images/event-card-overlay.png", alt="")
    .event-listing-thumbnail-card__text
      span.event-listing-thumbnail-card__tag=spec.type
      h3=spec.title
      if spec.description
        p=spec.description
      if spec.date
        .footer-date
          span.date=spec.date
      span.right-arrow
        +right-arrow
      +button({
        "label": "Learn more",
        "url": "#"
      })
    a(href="#").no-desktop

mixin event-listing-thumbnail-card-dot(spec)
  article.event-listing-thumbnail-card
    .event-listing-thumbnail-card__image
      picture
        | {{? item.mobileImage}}
        source(srcset="{{=item.mobileImage}}", media="(max-width: 1023px)")
        | {{?}}
        source(srcset="{{=item.image}}")
        img(src="{{=item.image}}", alt="{{=item.title}}")
      | {{? item.signature}}
      | {{? item.whiteLabel}}
      .event-listing-thumbnail-card__label.event-listing-thumbnail-card__label--white
        +signature-label
      | {{??}}
      .event-listing-thumbnail-card__label
        +signature-label
      | {{?}}
      | {{?}}
      .event-listing-thumbnail-card__overlay
        img(src="/Cwp/assets/imda/images/event-card-overlay.png", alt="")
    .event-listing-thumbnail-card__text
      | {{? item.type}}
      span.event-listing-thumbnail-card__tag {{=item.type}}
      | {{?}}
      h3 {{=item.title}}
      | {{? item.description}}
      p {{=item.description}}
      | {{?}}
      | {{? item.date}}
      .footer-date
        span.date {{=item.date}}
      | {{?}}
      span.right-arrow
        +right-arrow
      +button({
        "label": "Learn more",
        "url": "#"
      })
    a(href="#").no-desktop

mixin event-listing-card-placeholder(spec)

  .event-listing-card-placeholder&attributes(attributes)
    .event-listing-card-placeholder__image
      svg(width="458" height="564" viewBox="0 0 458 564" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M471 0L471 2096L-3.77326e-06 1845.99L0.000136272 244.06L471 0Z" fill="url(#paint0_linear_405_81879)")
        defs
          linearGradient(id="paint0_linear_405_81879" x1="471" y1="0" x2="-48.4316" y2="2046.28" gradientUnits="userSpaceOnUse")
            stop(stop-color="#FFAFC1" stop-opacity="0.7")
            stop(offset="0.259747" stop-color="#FFAFC1" stop-opacity="0.1")

    .event-listing-card-placeholder__text
      h3 Stay tuned for new updates coming your way.
      p Please come back later or switch to a different activity to view our picks.