include ../topic-card/topic-card

mixin topic-card-listing(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .topic-card-listing(class=spec.__class)&attributes(attributes)
    .row
      each item in spec.items
        .col-md-6
          +topic-card(item)  
  