// ico-rte-listing styles
.topic-card-listing {
  margin: 16px 20px 0;
  position: relative;
  
  .row {

    @include desktop {
      > div {
        &:first-child:nth-last-child(3),
        &:nth-child(2):nth-last-child(2),
        &:last-child:nth-child(3) {
          flex: 0 0 calc(100% / 3);
          max-width: calc(100% / 3);
        }

        &:first-child:last-child {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }

    .topic-card {
      margin-bottom: 16px;

      > div {
          display: inline-flex;

          .topic-card__image {
            margin-bottom: 0;
            margin-right: 16px;
            max-height: fit-content;

            img {
              @include desktop {
                height: 48px;
              }
              @include desktopMax {
                width: 100%;
              }
              aspect-ratio: 1/1;
            }
          }
        }
    }
  }

  &--iconTop {
    margin: 20px 0;
    
    .row {
      .topic-card {
        
        > div {
          display: block;

            .topic-card__image {
              margin-bottom: 20px;
            }
          }
      }
    }
  }
}