extends ../_layouts/standard-detail

block append config
  - pageUrl = "/detail-page"
  - var pageData = site.data.standardDetail.collaborationOpps
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts

block detailContent
  +rte()
    h1 Welcome to IMDA
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro hic doloremque facere soluta eum eaque harum ipsam ea exercitationem consectetur!

    p Lorem ipsum dolor sit amet <a href="#">consectetur adipisicing elit</a>. Vel fugit aliquid, sit hic maiores facere, accusamus illum iure quasi a reiciendis! Corporis non asperiores vel tempora officia sunt odit fugit itaque facilis modi? Asperiores, amet provident. Provident a officia ullam praesentium. Quisquam voluptatibus facilis id assumenda aliquid natus, sed necessitatibus?

  +video-player({
    "videoId": "L209rWk_0TY",
    "image": "/images/detail/gallery-1.jpg",
    "title": "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, quibusdam.",
    "holderId": "video1"
  })

  +video-player({
    "videoId": "_OfY0D99Z-s",
    "image": "/images/detail/gallery-1.jpg",
    "title": "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, quibusdam.",
    "holderId": "video2"
  })

  +highlight-card({
    "image": "/images/detail/highlight-1.jpg",
    "title": "Section Highlight",
    "content": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio!"
  })

  +highlight-card({
    "image": "/images/detail/highlight-2.jpg",
    "title": "Section Highlight",
    "content": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio!"
  }).highlight-card--purple.highlight-card--reverse

  +box-quote({
    "image": "/images/detail/quote.jpg",
    "title": "Lorem ipsum dolor",
    "content": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores labore dignissimos architecto quos nisi et, dolore fugiat placeat error animi officiis non cumque impedit maxime deserunt reprehenderit dolorem sapiente hic laboriosam veniam ut eos odit tempora? Non ea officiis corporis officia at quidem nam blanditiis, similique necessitatibus aperiam vitae reprehenderit!",
    "author": "James Lim Rui Yi",
    "designation": "Senior Manager, Industry Development Group"
  })

  +box-quote({
    "title": "Lorem ipsum dolor",
    "content": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores labore dignissimos architecto quos nisi et, dolore fugiat placeat error animi officiis non cumque impedit maxime deserunt reprehenderit dolorem sapiente hic laboriosam veniam ut eos odit tempora? Non ea officiis corporis officia at quidem nam blanditiis, similique necessitatibus aperiam vitae reprehenderit!",
    "author": "James Lim Rui Yi",
    "designation": "Senior Manager, Industry Development Group"
  })

  .row
    .col-md-6.col-sm-6
      +teaser-card({
        "title": "Silver Infocomm Curriculum",
        "category": "Scheme",
        "industry": "Tech",
        "description": "IMDA developed a set of customised curriculum to increase infocomm litgeracy among seniors. There are two tracks, iBEGIN and iLIVE, for seniors to learn basic infocomm and digital lifestyle skills respectively.",
        "url": "#",
        "target": "For Individuals",
        "icon": "icon-individual"
      }).teaser-card--panel.teaser-card--blue
    .col-md-6.col-sm-6
      +teaser-card({
        "title": "Silver Infocomm Curriculum",
        "category": "Scheme",
        "industry": "Tech",
        "description": "IMDA developed a set of customised curriculum to increase infocomm litgeracy among seniors. There are two tracks, iBEGIN and iLIVE, for seniors to learn basic infocomm and digital lifestyle skills respectively.",
        "url": "#",
        "target": "For Individuals",
        "icon": "icon-individual"
      }).teaser-card--panel.teaser-card--pink

  +selected-posts({
    "items": [
      {
        "url": "#",
        "image": "/images/detail/selected-1.jpg",
        "title": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, quidem!",
        "description": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quae magni unde dicta, repudiandae qui odit atque neque natus quidem sequi accusamus non consectetur similique, animi nostrum facere dolor nesciunt quam adipisci? Eveniet necessitatibus, enim minima voluptatibus alias rem labore."
      },
      {
        "url": "#",
        "image": "/images/detail/selected-2.jpg",
        "title": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, quidem!",
        "description": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quae magni unde dicta, repudiandae qui odit atque neque natus quidem sequi accusamus non consectetur similique, animi nostrum facere dolor nesciunt quam adipisci? Eveniet necessitatibus, enim minima voluptatibus alias rem labore."
      },
      {
        "url": "#",
        "image": "/images/detail/selected-3.jpg",
        "title": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, quidem!",
        "description": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quae magni unde dicta, repudiandae qui odit atque neque natus quidem sequi accusamus non consectetur similique, animi nostrum facere dolor nesciunt quam adipisci? Eveniet necessitatibus, enim minima voluptatibus alias rem labore."
      }
    ]
  })

  +selected-posts({
    "items": [
      {
        "url": "#",
        "image": "/images/detail/selected-1.jpg",
        "title": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, quidem!",
        "description": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quae magni unde dicta, repudiandae qui odit atque neque natus quidem sequi accusamus non consectetur similique, animi nostrum facere dolor nesciunt quam adipisci? Eveniet necessitatibus, enim minima voluptatibus alias rem labore."
      },
      {
        "url": "#",
        "image": "/images/detail/selected-2.jpg",
        "title": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, quidem!",
        "description": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quae magni unde dicta, repudiandae qui odit atque neque natus quidem sequi accusamus non consectetur similique, animi nostrum facere dolor nesciunt quam adipisci? Eveniet necessitatibus, enim minima voluptatibus alias rem labore."
      }
    ]
  })

  +gallery({
    "items": [
      {
        "image": "/images/detail/gallery-1.jpg",
        "alt": "Groupfie",
        "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
      },
      {
        "image": "/images/detail/gallery-1.jpg",
        "alt": "Groupfie",
        "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
      },
      {
        "image": "/images/detail/gallery-1.jpg",
        "alt": "Groupfie",
        "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
      },
      {
        "image": "/images/detail/gallery-1.jpg",
        "alt": "Groupfie",
        "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
      }
    ]
  })

  .row
    .col-md-4
      +image-link({
        "title": "Title",
        "image": "/images/detail/image-1.png",
        "description": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, inventore.",
        "url": "#"
      })
    .col-md-4
      +image-link({
        "title": "Title",
        "image": "/images/detail/image-2.png",
        "description": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, inventore.",
        "url": "#"
      })
    .col-md-4
      +image-link({
        "title": "Title",
        "image": "/images/detail/image-3.png",
        "description": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, inventore.",
        "url": "#"
      })
