mixin footnote(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .footnote(class=spec.__class)&attributes(attributes)
    button.footnote__toggle
      span Footnotes
      span.icon.icon-chevron-down
    .footnote__content(style="display: none;")
      +rte
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, quisquam error atque maiores, consequuntur ipsa voluptates tenetur veniam magni minus impedit suscipit. Molestias culpa nemo excepturi nihil, soluta modi? Placeat?Rem voluptas, praesentium nam suscipit deserunt ipsum voluptatum! Vero dignissimos quo esse tempora omnis veniam perspiciatis nihil. Provident, magni? Hic ab, quidem illo similique totam animi exercitationem nulla est eius?Laudantium unde ipsa pariatur sint sunt eligendi, voluptatum at id! Asperiores reprehenderit cupiditate pariatur, dolores provident esse laudantium atque quisquam dolore veritatis corporis odio expedita accusantium nam alias, vel repellendus!

        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis quibusdam laborum error velit sit pariatur sapiente excepturi illo reiciendis, aperiam quia! Amet pariatur libero debitis est velit tempore reiciendis nesciunt.Sed laudantium illo velit ullam error quibusdam sit? Eos asperiores in tempora suscipit iure voluptatum magni impedit ducimus quisquam cupiditate dolor fuga officia laborum, fugit a! Vel quaerat dolor numquam!
        
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero ratione commodi aperiam error dolores. Asperiores unde nisi amet architecto numquam tenetur voluptas corrupti earum quae veniam maxime, a quisquam soluta.

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut reiciendis velit numquam! Porro voluptates cupiditate ratione quo doloribus saepe possimus animi deleniti laborum quos, laudantium deserunt debitis tempora assumenda repellendus.Sapiente iste, deleniti sit facere, in nulla harum, sed id voluptatum asperiores ullam esse unde itaque incidunt dolores. Earum eaque obcaecati ut consectetur at vero, quam quae in? Molestiae, quisquam!Veritatis dolorem reiciendis, cum molestias necessitatibus, laboriosam inventore aliquam fuga reprehenderit totam, aut blanditiis porro eos dolorum! Nulla quidem voluptatem temporibus perferendis inventore id amet praesentium nemo cum, velit eum?
