// footnote styles
.footnote {
  margin: 0 0 24px;

  &.active {
    .footnote__toggle {
      .icon {
        transform: scaleY(-1);
      }
    }
  }

  &__toggle {
    font-weight: 600;
    line-height: 140%;
    color: $grey;
    gap: 9px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    outline: 0;
    background-color: transparent;
    
    @include desktop {
      font-size: calc-em(18px);
    }

    .icon {
      font-size: calc-em(7px);

      @include desktop {
        font-size: calc-em(7px, 18px);
      }
    }
  }

  &__content {
    padding: 20px 0 12px;
  }
}