include ../../dropdown-nav/dropdown-nav
include ../../atoms/search-field/search-field

mixin listing-filter(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .listing-filter&attributes(attributes)
    .listing-filter__header
      p.listing-filter__label Filter by
      button.btn.btn-pill(type="button") Show
    .listing-filter__filters
      .row
        each field in spec.fields
          if field.__type == 'select'
            .listing-filter__field.listing-filter__selection.custom-select(data-filtername=field.name)
              label.vh(for= field.id)= field.label
              select(id= field.id, name= field.name)
                each option in field.options
                  if (option.profile)
                    option(value= option.value data-type=option.type ? option.type : "option" data-profile=option.profile ? option.profile : "")= option.text
                  else if (option.profilelist)
                    option(value= option.value data-type=option.type ? option.type : "option" data-profilelist=option.profilelist ? option.profilelist : "")= option.text
                  else
                    option(value= option.value data-type=option.type ? option.type : "option")= option.text
          else if field.__type == 'searchicon'
            span#icon-search-top.icon.icon-search 
          else if field.__type == 'search'
            +search-field({
              "id": field.id,
              "name": field.name
            }).listing-filter__field.listing-filter__search
          else if field.__type == 'nav'
            +dropdown-nav({
              "items": field.items
            }).listing-filter__field.listing-filter__nav

mixin news-listing-filter(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .listing-filter&attributes(attributes)
    .listing-filter__searchbar
      .row
        each field in spec.search
          if field.__type == 'select'
            .listing-filter__field.listing-filter__selection.custom-select(data-filtername=field.name)
              label.vh(for= field.id)= field.label
              select(id= field.id, name= field.name)
                each option in field.options
                  if (option.profile)
                    if option.selected
                      option(value= option.value data-type=option.type ? option.type : "option" data-profile=option.profile ? option.profile : "" selected)= option.text
                    else
                      option(value= option.value data-type=option.type ? option.type : "option" data-profile=option.profile ? option.profile : "")= option.text
                  else if (option.profilelist)
                    option(value= option.value data-type=option.type ? option.type : "option" data-profilelist=option.profilelist ? option.profilelist : "")= option.text
                  else
                    if option.selected
                      option(value= option.value data-type=option.type ? option.type : "option" selected)= option.text
                    else
                      option(value= option.value data-type=option.type ? option.type : "option")= option.text
          else if field.__type == 'search'
            +search-field({
              "id": field.id,
              "name": field.name
            }).listing-filter__field.listing-filter__search
    div
      .listing-filter__header
        div
          div.listing-filter__label Filters
          div.listing-filter__profile-label.mobile-only for 
            span.profile-label all profiles
        button.btn.btn-pill(type="button")
          span.vh Show
          span.icon.icon-chevron-down
      .listing-filter__filters
        .row
          each field in spec.filters
            if field.__type == 'select'
              .listing-filter__field.listing-filter__selection.custom-select(data-filtername=field.name)
                label.vh(for= field.id)= field.label
                select(id= field.id, name= field.name)
                  each option in field.options
                    if (option.profile)
                      option(value= option.value data-type=option.type ? option.type : "option" data-profile=option.profile ? option.profile : "")= option.text
                    else if (option.profilelist)
                      option(value= option.value data-type=option.type ? option.type : "option" data-profilelist=option.profilelist ? option.profilelist : "")= option.text
                    else
                      if option.selected
                        option(value= option.value data-type=option.type ? option.type : "option" selected)= option.text
                      else
                        option(value= option.value data-type=option.type ? option.type : "option")= option.text
        .listing-filter__footer
          if spec.browse
            +button({
              "label": "Browse",
              "url": "#"
            })
          else
            button.btn(type="button") Done