// listing-filter styles
.listing-filter {
  $p: &;
  margin-bottom: 30px;

  &__label {
    color: $textBlack;
    font-size: calc-em(18px);
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 0;
  }

  &__field {
    &.hide {
      display: none;
    }
  }

  .row {
    margin: 0;
  }
}

@media only screen and (max-width: $bpTablet - 1) {
  .listing-filter {
    border: 2px solid $purple;
    border-radius: 4px;

    &__header {
      padding: 10px 20px;

      @include tabletMax {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .btn-pill {
        background: linear-gradient(90deg,#612057 0%, #6f358d 100%);
        font-size: calc-em(14px);
        font-weight: $medium;
        text-transform: none;

        &:hover, &:focus {
          color: #fff;
        }
      }
    }

    &__label {
      font-size: calc-em(14px);
    }

    &__filters {
      border-top: 2px solid $purple;
      display: none;
      padding: 20px;
    }

    &__field {
      margin-bottom: 20px;
      flex: 0 0 100%;
      max-width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (min-width: $bpTablet) {
  .listing-filter {
    $p: &;
    margin-bottom: 28px;

    &__header {
      display: inline-block;

      .btn-pill {
        display: none;
      }
    }

    &__label {
      display: inline-block;
      margin-bottom: 20px;
      margin-right: 20px;
    }

    &__filters {
      display: block;
      width: 100%;
    }

    &__field {
      display: inline-block;
      margin-bottom: 20px;
      margin-right: 20px;
    }
  }
}
