extends ../_layouts/standard-detail

block append config
  - pageUrl = "/industry-support-detail"
  - var pageData = site.data.standardDetail.industrySupport
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - anchorNav = pageData.anchorNav
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts

block detailContent
  +detail-section({
    "title": "Overview"
  })#overview
    +rte()
      p The New Talent Feature Grant (NTFG) encourages first and second-time directors to launch their careers in filmmaking by helping them make films for different platforms, including cinemas, film festivals, broadcast, video-on-demand, or online platforms.
  +detail-section({
    "title": "Who can apply?"
  })#whoCanApply
    +rte()
      ul
        li Singapore-registered companies that engage in info-communications, media and activities
        li Companies who have adopted the Tripartite Standard on the Procurement of Services Media
        li Freelancers (TS Media Freelancers)

      p The director of the film must be a Singaporean / Singapore PR.
  +detail-section({
    "title": "What SFC supports"
  })#supports
    +rte()
      p Projects must be feature films of no less than 70 minutes. SFC will support up to S$250,000 or 100% of a project's qualifying costs that are directly linked to the project, whichever is lower.

      p
        strong The qualifying cost categories include:
      ul
        li Manpower
        li Equipment (Hardware)
        li Equipment (Software)
        li Intellectual Property
        li Professional Services
        li Others

      p
        strong Proposals shall be assessed on the following criteria, including but not limited to:
      ul
        li Creative merits, including the infusion of data and/or digital technologies to capture new audiences
        li Execution ability of the Company and Project Team
        li Financing and Feasibility (including distribution and marketing potential, e.g. digital distribution)
        li Benefits to Singapore

  +detail-section({
    "title": "How to apply?"
  })#how
    +rte()
      p Please click <a href="#">here</a> for updates on the Call-for-Proposals (CFP) dates for NTFG. Interested applicants can submit their application enquiries to <a href="mailto:SFC@imda.gov.sg">SFC@imda.gov.sg</a> or approach an IMDA Industry Officer to discuss their project.

  +detail-section({
    "title": "Related-Party Transactions"
  })#party
    +rte()
      p Related-party transactions are as defined in <b>Financial Reporting Standard (FRS) 24</b>. Examples of related parties include (but are not limited to) subsidiaries, associated companies, joint ventures, key management staff and their close family members (e.g. spouse, children, domestic partner, and dependents). The examples cited here are by no means exhaustive. For the purpose of declaring related party transactions in the above, the Company should seek specific advice from a professional accountant on the interpretation of related parties under Financial Reporting Standard (FRS) 24.
      p If any potential supplier/service provider for the project is a related-party, grant applicants are reminded to make the appropriate declaration to IMDA when submitting their grant application. Do note that any related-party transaction incurred by grant applicants, that had not been declared to IMDA and approved by IMDA, would not be funded.
