mixin loading-icon(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  div.loading-icon
    lottie-player(src="/Cwp/assets/imda/images/loading-logo.json"  background="transparent"  speed="1"  style="width: 300px; height: 220px;")
    span.loading-icon__text Loading
      span.dot1 .
      span.dot2 .
      span.dot3 .