// loading-icon styles
@keyframes loading {
  0% {
    box-shadow: $buttonShadow;
    background: $purple;
  }

  50% {
    background: $green;
  }

  100% {
    box-shadow: $buttonShadowHover;
    background: $red;
  }
}

@keyframes loadingSpin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loadingDotBefore {
  0% {
    color: transparent;
  }
  25% {
    color: $textBlack;
  }
  75% {
    color: $textBlack;
  }
  90%,
  100% {
    color: transparent;
  }
}

@keyframes loadingDot {
  0% {
    color: transparent;
  }
  25% {
    color: transparent;
  }
  50% {
    color: $textBlack;
  }
  75% {
    color: $textBlack;
  }
  90%,
  100% {
    color: transparent;
  }
}

@keyframes loadingDotAfter {
  0% {
    color: transparent;
  }
  25% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  75% {
    color: $textBlack;
  }
  90%,
  100% {
    color: transparent;
  }
}

@keyframes loadingChild {
  0% {
    background: $purple;
  }

  50% {
    background: $green;
  }

  100% {
    background: $red;
  }
}

.loading-icon {
  //animation: loading 2s infinite alternate, loadingSpin 2s infinite linear;
  /* border-radius: 50%; */
  /* box-shadow: $buttonShadow; */
  display: inline-block;
  /* height: 50px; */
  overflow: hidden;
  position: relative;
  width: 300px;
  text-align: center;

  &__text {
    font-size: calc-em(20px);
    letter-spacing: 0.5px;

    .dot1 {
      animation: loadingDotBefore 2s infinite linear;
    }

    .dot2 {
      animation: loadingDot 2s infinite linear;
    }

    .dot3 {
      animation: loadingDotAfter 2s infinite linear;
    }
  }

  /* .line {
    border: 2px solid #fff;
    border-radius: 50%;
    bottom: 0;
    display: inline-block;
    position: absolute;
    height: 40px;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    width: 40px;
  } */

  /* .clip {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;

    &:before, &:after {
      content: "";
      animation: loadingChild 2s infinite alternate;
      display: inline-block;
      height: 50%;
      position: absolute;
      width: 100%;
    }

    &:after {
      height: 100%;
      width: 50%;
    }
  } */
}
