include ../../atoms/loading-icon/loading-icon
include ../../molecules/story-card/story-card
include ../../molecules/listing-filter/listing-filter
include ../../molecules/pagination/pagination

mixin story-listing(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.story-listing(data-endpoint="/ajax/story-listing.json")
    .container
      +listing-filter({
        "fields": [
          {
            "__type": "nav",
            "items": spec.nav
          },
          {
            "__type": "hidden",
            "id": "type",
            "name": "name",
            "value": spec.type
          },
          {
            "label": "Select industry",
            "id": "industry",
            "name": "industry",
            "__type": "select",
            "options": [
              {
                "value": "media",
                "text": "Media"
              },
              {
                "value": "Technology",
                "text": "Technology"
              },
              {
                "value": "Telecommunications",
                "text": "Telecommunications"
              },
              {
                "value": "Postal",
                "text": "Postal"
              },
              {
                "value": "Financial Services",
                "text": "Financial Services"
              },
              {
                "value": "Logistics",
                "text": "Logistics"
              },
              {
                "value": "Retail",
                "text": "Retail"
              },
              {
                "value": "Security",
                "text": "Security"
              },
              {
                "value": "Environmental Services",
                "text": "Environmental Services"
              },
              {
                "value": "Food Services",
                "text": "Food Services"
              },
              {
                "value": "Wholesale Trade",
                "text": "Wholesale Trade"
              },
              {
                "value": "All",
                "text": "All Industries"
              }
            ]
          },
          {
            "label": "Search by keyword",
            "id": "keyword",
            "name": "keyword",
            "__type": "search"
          }
        ]
      }).story-listing__filters

      .story-listing__content
        +loading-icon()
        .story-listing__list
          .row
          //-   - var columnClasses = ['col-md-8', 'col-md-8', 'col-md-4', 'col-md-4', 'col-md-8', 'col-md-8']
          //-   each item, index in spec.items
          //-     .story-listing__item(class= columnClasses[index%6])
          //-       if ((index + 1)%6 == 1 || (index + 1)%6 == 5)
          //-         +story-card(item).story-card--reverse(class="story-card--" + item.color)
          //-       else if ((index + 1)%6 == 0 || (index + 1)%6 == 2)
          //-         +story-card(item)(class="story-card--" + item.color)
          //-       else if ((index + 1)%6 == 3 || (index + 1)%6 == 4)
          //-         +story-card(item).story-card--vertical(class="story-card--" + item.color)

        +pagination-js().story-listing__pagination

  script#storyListingTemplate(type="text/x-dot-template")
    |{{? it.length}}
    |{{~ it :item:index}}
    |{{? (index + 1)%6 == 1 || (index + 1)%6 == 5}}
    .story-listing__item.col-md-8
      +story-card-dot().story-card--reverse
    |{{?? (index + 1)%6 == 0 || (index + 1)%6 == 2}}
    .story-listing__item.col-md-8
      +story-card-dot()
    |{{?? (index + 1)%6 == 3 || (index + 1)%6 == 4}}
    .story-listing__item.col-md-4
      +story-card-dot().story-card--vertical
    |{{?}}
    |{{~}}
    |{{??}}
    p.empty-msg Sorry, there is no result. Please try with different filter.
    |{{?}}


