// story-listing styles
.story-listing {
  $p: &;
  // background: $background;
  padding: 30px 0;

  &__item {
    margin-bottom: 20px;
  }

  &__content {
    position: relative;
    min-height: 300px;

    &:before {
      content: "";
      background: #fff;
      height: 100%;
      left: 0;
      opacity: 0.8;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    &.content-loaded {
      &:before {
        display: none;
      }

      .loading-icon {
        display: none;
      }

      .pagination {
        display: block;
      }
    }

    &.content-updating {
      &:before {
        display: block;
      }

      .loading-icon {
        display: block;
      }
    }

    .loading-icon {
      left: 0;
      position: absolute;
      margin: auto;
      right: 0;
      top: 20px;
      z-index: 1;
    }

    .pagination {
      display: none;
    }
  }

  &__list {
    .row {
      @extend %clearfix;
      display: block;
    }

    [class^="col-"], [class*=" col-"] {
      float: left;
    }

    @media only screen and (min-width: $bpDesktop) {
      @for $i from 1 through 12 {
        .col-md-#{$i} {
          width: (100% / 12 * $i);
        }
      }
    }
  }
}

@media only screen and (max-width: $bpDesktop - 1) {
  .story-listing {
    &__item {
      .story-card {
        flex-direction: row;
      }

      &:nth-child(even) {
        .story-card {
          flex-direction: row-reverse;
        }
      }
    }
  }
}

@media only screen and (max-width: $bpTablet - 1) {
  .story-listing {
    &__item {
      .story-card {
        flex-direction: column;

        &__image, &__content {
          width: 100%;
        }

        &__content {
          padding-bottom: 20px;
        }

        &__company {
          bottom: 0;
          margin-top: 20px;
          position: relative;
        }
      }

      &:nth-child(even) {
        .story-card {
          flex-direction: column;
        }
      }
    }
  }
}

@media only screen and (min-width: $bpDesktop) {
  .story-listing {
    &__item {
      margin-bottom: 30px;

      .story-card {
        height: 100%;
      }
    }
  }
}
