// filters-group styles
.filters-group {
  $p: &;
  margin-bottom: 30px;

  &__label {
    color: $primaryPurple;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
  }

  &__field {
    margin-bottom: 40px;
    position: relative;
    transition: transform .25s $easeInOutExpo, opacity .25s ease-in-out, visibility .25s ease-in-out;

    &.hidden {
      opacity: 0;
      transform: translateY(40px);
      visibility: hidden;
    }
  }

  .custom-select {
    &.selecting {
      z-index: 1;
    }
  }

  &__field-label {
    color: $textBlack;
    display: block;
    font-size: calc-em(18px);
    font-weight: 600;
    margin-bottom: 8px;
  }

  &__select {
    .custom-select {
      &__custom-dropdown {
        display: block;
      }
    }
  }

  &__list {
    @extend %list-unstyled;

    li {
      border-radius: 4px;
      display: block;
      margin-bottom: 24px;
    }

    > li {
      transition: all .25s ease-in-out;

      &.active {
        // border: 1px solid $borderColor;
        // padding: 5px 0 0;

        ul {
          // background: #fff;
          padding: 15px 5px 5px 15px;
          margin: 0 -5px;

          li {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      ul {
        display: none;
      }
    }
  }

  &__checkbox {
    .filters-group__field-label {
      margin-bottom: 20px;
    }
  }

  &__subgroup {
    @extend %list-unstyled;

    .checkbox + label {
      font-weight: $roman;
    }
  }

  &__footer {
    .btn-primary {
      display: block;
    }
  }
}

@media only screen and (max-width: $bpTablet - 1) {
  .filter-sticky {
    margin-bottom: 30px;
  }

  .filters-group {
    $p: &;
    border: 2px solid $primaryPurple;
    border-radius: 4px;

    &.sticky {
      position: fixed;
      top: 0;
      width: calc(100% - 30px);
      z-index: 2;

      #{$p}__header {
        background: #fff;
      }

      #{$p}__filters {
        background: #fff;
        height: 100%;
        overflow: auto;
      }

      &.filters-shown {
        height: 100%;
      }
    }

    &__header {
      padding: 10px 20px;

      @include tabletMax {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .btn-pill {
        background: $primaryPurple;
        float: right;
        font-weight: $medium;
        text-transform: none;

        &:hover, &:focus {
          color: #fff;
        }
      }
    }

    &__label {
      font-size: calc-em(14px);
    }

    &__filters {
      border-top: 2px solid $primaryPurple;
      display: none;
      padding: 20px;
      position: relative;
      z-index: 2;
    }

    &__field {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (min-width: $bpTablet) {
  .filters-group {
    transition: background-color .25s ease-in-out, padding .25s ease-in-out, box-shadow .25s ease-in-out;
    // MOZ
    scrollbar-color: $primaryPurple $lightPurple;
    scrollbar-width: thin;
    // IE 11
    scrollbar-face-color: $primaryPurple;
    scrollbar-track-color: $lightPurple;

    &::-webkit-scrollbar {
      width: 5px;
      background: $lightPurple;
    }

    &::-webkit-scrollbar-thumb {
      background: $primaryPurple;
      border-radius: 5px;
    }

    &__header {
      display: none;
    }

    &__filters {
      display: block !important;
    }

    &.sticky {
      // background: #fff;
      // box-shadow: $cardShadow;
      height: 100%;
      overflow: auto;
      padding: 20px 0 20px;
      position: fixed;
      top: 0;
      width: calc(100%/3 - 5px);

      &__header {
        display: block;
      }
    }

    &.stick-to-bottom {
      bottom: 0;
      position: absolute;
      width: calc(100%/3 - 5px);
    }

    &__footer {
      display: none;
    }
  }
}

@media only screen and (min-width: $bpDesktop) {
  .filters-group {
    &.sticky, &.stick-to-bottom {
      width: calc(1024px/3 - 15px);
    }
  }
}

@media only screen and (min-width: $bpLgDesktop) {
  .filters-group {
    &.sticky, &.stick-to-bottom {
      width: calc(1280px/4 - 15px);
    }
  }
}
