include ../../atoms/search-field/search-field
include ../../atoms/checkbox/checkbox

mixin filters-group(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .filters-group&attributes(attributes)
    .filters-group__header
      p.filters-group__label Filters
      button.btn.btn-pill(type="button") Show
    form.filters-group__filters(action="#")
      each field in spec.fields

        - var hiddenClass = (field.hidden) ? 'hidden' : ''
        - var isChild = field.__isChild

        if field.__type == "search"
          .filters-group__field.filters-group__search(class= hiddenClass)
            label.filters-group__field-label(for= field.id)= field.label
            +search-field({
              "id": field.id,
              "name": field.name,
              "isRequired": field.isRequired
            })
        else if field.__type == "checkbox"
          if isChild
            //- isChild when there is child filter under a main filter (not the subgroup)
            //- e.g.: programme listing page Type of organisation
            .filters-group__field.filters-group__checkbox.filters-group--child(class= hiddenClass)
              p.filters-group__field-label.vh= field.label
              ul.filters-group__list
                each option, index in field.options
                  li
                    +checkbox({
                      "id": field.name + '-' + index,
                      "name": field.name,
                      "value": option.value,
                      "label": option.label,
                      "profile": option.profile
                    })
          else
            .filters-group__field.filters-group__checkbox(class= hiddenClass)
              p.filters-group__field-label= field.label
              ul.filters-group__list
                each option, index in field.options
                  li
                    +checkbox({
                      "id": field.name + '-' + index,
                      "name": field.name,
                      "value": option.value,
                      "label": option.label,
                      "profile": option.profile
                    })

                    if (option.subgroup)
                      ul.filters-group__subgroup
                        each subOption, subIndex in option.subgroup.options
                          li
                            +checkbox({
                              "id": option.subgroup.name + "-" + subIndex,
                              "name": option.subgroup.name,
                              "value": subOption.value,
                              "label": subOption.label
                            })
        else if field.__type == "select"
          .filters-group__field.filters-group__select.custom-select(class= hiddenClass)
            label.filters-group__field-label(for= field.id)= field.label
            select.filters-group__select(id= field.id, name= field.name)
              each option in field.options
                if (option.profile)
                  if (option.categories)
                    - var categories = option.categories.join('|')
                    option(value= option.value data-type=option.type ? option.type : "option" data-profile=option.profile ? option.profile : "" data-categories=categories)= option.text
                  else
                    option(value= option.value data-type=option.type ? option.type : "option" data-profile=option.profile ? option.profile : "")= option.text
                else
                  if (option.categories)
                    - var categories = option.categories.join('|')
                    option(value= option.value data-type=option.type ? option.type : "option" data-categories=categories)= option.text
                  else
                    option(value= option.value data-type=option.type ? option.type : "option")= option.text
      footer.filters-group__footer
        button.btn.btn-primary(type="button")
          span Submit
