extends ../_layouts/base

include ../_modules/organisms/page-banner/page-banner
include ../_modules/organisms/newsroom/newsroom

block append config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var pageTitle = "News Room"
  - var sectionName = "News & Events"
  -
    var breadcrumbs = [
      {
        "name": "News & Events",
        "url": "/standard-landing"
      },
      {
        "name": "News Room"
      }
    ]

block content
  +page-banner({
    "pageTitle": pageTitle,
    "breadcrumbs": breadcrumbs,
    "sectionName": sectionName
  })

  +newsroom({
    "pageUrl": "/newsroom",
    "items": [
      {
        "url": "#",
        "title": "Coding talents Swiftly discovered",
        "image": "/images/news/news-1.jpg",
        "date": "03 Nov 2017",
        "industries": [
          "Retail"
        ],
        "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
        "topics": [
          {
            "name": "Digital Economy",
            "url": "#"
          },
          {
            "name": "Startups",
            "url": "#"
          }
        ],
        "color": "purple"
      },
      {
        "url": "#",
        "title": "New Singapore Digital Scholarship offers global exposure and more",
        "image": "/images/news/news-4.jpg",
        "date": "03 Nov 2017",
        "industries": [
          "Retail",
          "Finance"
        ],
        "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
        "topics": [
          {
            "name": "Digital Economy",
            "url": "#"
          },
          {
            "name": "Startups",
            "url": "#"
          }
        ],
        "color": "green"
      },
      {
        "url": "#",
        "title": "Best of the Best",
        "image": "/images/news/news-5.jpg",
        "date": "03 Nov 2017",
        "industries": [
          "Retail"
        ],
        "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
        "topics": [
          {
            "name": "Digital Economy",
            "url": "#"
          },
          {
            "name": "Startups",
            "url": "#"
          }
        ],
        "color": "orange"
      },
      {
        "url": "#",
        "title": "What you need to know about the Singapore Media Festival 2018",
        "image": "/images/news/news-6.jpg",
        "date": "03 Nov 2017",
        "industries": [
          "Retail"
        ],
        "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
        "topics": [
          {
            "name": "Digital Economy",
            "url": "#"
          },
          {
            "name": "Startups",
            "url": "#"
          }
        ],
        "color": "rose"
      },
      {
        "url": "#",
        "title": "Insider Secrets of the AI Escape Bus Challenge",
        "image": "/images/news/news-6.jpg",
        "date": "03 Nov 2017",
        "industries": [
          "Retail"
        ],
        "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
        "topics": [
          {
            "name": "Digital Economy",
            "url": "#"
          },
          {
            "name": "Startups",
            "url": "#"
          }
        ],
        "color": "blue"
      },
      {
        "url": "#",
        "title": "The AI Future is a game",
        "image": "/images/news/news-7.jpg",
        "date": "03 Nov 2017",
        "industries": [
          "Broadcast and publication"
        ],
        "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
        "topics": [
          {
            "name": "Digital Economy",
            "url": "#"
          },
          {
            "name": "Startups",
            "url": "#"
          }
        ],
        "color": "purple"
      },
      {
        "url": "#",
        "title": "The AI Future is a game",
        "image": "/images/news/news-8.jpg",
        "date": "03 Nov 2017",
        "industries": [
          "Retail"
        ],
        "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
        "topics": [
          {
            "name": "Digital Economy",
            "url": "#"
          },
          {
            "name": "Startups",
            "url": "#"
          }
        ],
        "color": "green"
      },
      {
        "url": "#",
        "title": "What you need to know about the Singapore Media Festival 2018",
        "image": "/images/news/news-9.jpg",
        "date": "03 Nov 2017",
        "industries": [
          "Retail"
        ],
        "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
        "topics": [
          {
            "name": "Digital Economy",
            "url": "#"
          },
          {
            "name": "Startups",
            "url": "#"
          }
        ],
        "color": "orange"
      },
      {
        "url": "#",
        "title": "Insider Secrets of the AI Escape Bus Challenge",
        "image": "/images/news/news-10.jpg",
        "date": "03 Nov 2017",
        "industries": [
          "Retail"
        ],
        "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
        "topics": [
          {
            "name": "Digital Economy",
            "url": "#"
          },
          {
            "name": "Startups",
            "url": "#"
          }
        ],
        "color": "green"
      }
    ]
  })
