extends ../_layouts/standard-landing

block append config
  - baseUrl = "../"
  - pageUrl = "/organisation-structure"
  - var pageData = site.data.standardLanding.organisationStructure
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageHeader = pageData.pageHeader
  - pageItems = pageData.items
