mixin article-link(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .article-link(class=spec.__class)&attributes(attributes)
    a.article-link__image(href= spec.url)
      img(src= spec.image, alt= spec.title)
    .article-link__content
      .article-link__content__lines
      .article-link__content__text
        h4.article-link__title=spec.title
        .article-link__desc= spec.description
