// article-link styles
.article-link {
  $p: &;
  margin: 0 0 20px;
  
  @include desktop {
    margin: 0 0 30px;
  }

  @include hover {
    &:hover {
      #{$p}__content {
        &:before {
          width: calc(100% - 3px);
        }
    
        &:after {
          height: calc(100% - 3px);
        }
  
        &__lines {
          &:before {
            width: 33px;
          }
      
          &:after {
            height: 33px;
          }
        }
      }
    }
  }
  
  &__image {
    display: block;
    overflow: hidden;
    margin: 0 0 20px;

    img {
      transition: transform .25s $easeInOutExpo;
      width: 100%;
    }

    // &:hover, &:focus {
    //   img {
    //     transform: scale(1.1);
    //   }
    // }
  }

  &__content {
    position: relative;
    padding: 12px 16px 8px;
    word-wrap: break-word;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      background-color: $borderGray;
    }
    
    &:before {
      width: 44px;
      height: 1px;
      transition: width 0.35s linear;

      @include nohover {
        width: 100%;
      }
    }

    &:after {
      width: 1px;
      height: 44px;
      transition: height 0.35s linear;

      @include nohover {
        height: 100%;
      }
    }

    &__lines {
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: $primaryPurple;
      }
      
      &:before {
        width: 23px;
        height: 3px;
        transition: width 0.35s linear;
        @include nohover {
          width: 33px;
        }
      }
      
      &:after {
        width: 3px;
        height: 23px;
        transition: height 0.35s linear;
        @include nohover {
          height: 33px;
        }
      }
    }
  }

  &__title {
    margin: 0;
    color: $textBlack;
    line-height: 140%;
    font-size: calc-em(20px);
    font-weight: 700;

    a {
      color: $textBlack;
      text-decoration: none;

      &:visited {
        color: $visitedLink;
      }

      &:hover, &:focus {
        color: $purple;
      }
      &[href=""], &[href="#"] {
        &:hover, &:focus {
          color: $textBlack;
        }
        &:visited {
          color: $visitedLink;
        }
      }
    }
  }
  
  &__desc {
    color: $textBlack;
    line-height: 140%;
    font-size: 1rem;
    
    > * {
      margin: 0;
    }
  }

  &__align-left {
    .article-link__image {
      img {
        margin: 0px 0px;
      }
    }
    .article-link__desc {
      text-align: left;
    }
    .article-link__title {
      text-align: left;
    }
  }
  &__align-right {
    .article-link__image {
      img {
        margin: 0px 0px 0px auto;
      }
    }
    .article-link__desc {
      text-align: right;
    }
    .article-link__title {
      text-align: right;
    }
  }
}
