extends ../_layouts/press-release-detail

include ../_modules/molecules/article-summary/article-summary
include ../_modules/organisms/full-bleed-accordions/full-bleed-accordions
include ../_modules/organisms/accordion-list/accordion-list


block append stylesheets

block append scripts

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - var pageData = site.data.standardDetail.pressRelease
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts

block detailContent
  +article-summary
    +rte
      p AWS and IMDA launches new first-of-its-kind Joint Innovation Centre in Southeast Asia at IMDA’s PIXEL Innovation Hub to encourage startup growth and accelerate industry innovation supported by the IMDA PIXEL Innovation Hub and IMDA’s Open Innovation Platform

      ul
        li The Centre will enable over 100 Singapore-based IMDA Accredited and IMDA Spark enterprises and startups to access the latest AWS technologies and resources to create and scale innovation
  
  +rte
    p
      strong
        i SINGAPORE – 06 May 2020
    p The Infocomm Media Development Authority, Singapore (IMDA) and Amazon Web Services (AWS) have signed a Memorandum of Intent (MOI) to set up the AWS-IMDA Joint Innovation Centre @ PIXEL, a Joint Innovation Centre (JIC) at IMDA’s PIXEL Innovation Hub1. The Centre will support enterprises and startups, as well as scale the growth of Singapore-based companies under IMDA Accreditation and IMDA Spark programmes2 by providing them access to the latest AWS technologies and dedicated support from the AWS Partner Network (APN). The AWS-IMDA JIC @ PIXEL will be AWS’s first JIC in Southeast Asia, and will serve as an innovation hub for enterprises, startups, and governments in Singapore, and Southeast Asia. The Centre will be ready in mid-2023.

    h2 First AWS JIC in Southeast Asia

    p The JIC will serve as an extension of AWS Singapore’s Cloud Innovation Centre3., as well as IMDA’s PIXEL and Open Innovation Platform (OIP)4. initiatives. The centre will provide enterprises and startups with support to drive innovation through technology education and innovation challenges workshops, opportunities for business growth and scale through AWS and IMDA’s business networks, avenues to showcase their technology use cases, and consultancy using Amazon’s “Working Backwards” methodology – an innovation process that helps an organisation approach a challenge with the end outcome in mind and then rapidly bring that solution to life.
      br
      | Beyond activities within the JIC, enterprises and startups from AWS’s and IMDA’s networks will be able to better access a larger innovation community through co-innovation labs and events. AWS and IMDA will organise innovation events each year at PIXEL, with the first event being a week-long regional festival of innovation in the first half of 2023.

    p To-date, more than 100 Singapore-based companies are supported under IMDA Accreditation and IMDA Spark, with nine unicorns5. and more than 10 companies recognised as global industry leaders by research and consulting firms, Gartner and market intelligence firm, CB Insights6.. IMDA Accredited and IMDA Spark companies saw an average of growth of two times in revenue, compared to when companies first join the programme. IMDA continues to grow its portfolio, with more than 40 companies joining the two programmes per year.

    p “To nurture innovation among startups, enterprises, and public sector agencies, it is critical to create an environment that brings together the latest technology with a network of supportive partners,” said Elsie Tan, Country Manager, Worldwide Public Sector, Singapore, at AWS. “We recognise the quality and growth of the companies under the IMDA Accreditation and IMDA Spark programmes and are excited to collaborate with IMDA to establish the AWS-IMDA Joint Innovation Centre @ PIXEL, to accelerate innovation and drive growth for enterprises and startups in Singapore and across Southeast Asia. AWS is committed to providing local businesses with access to AWS technologies to help them experiment with solutions, bring new innovations to market, solve real-world challenges, and transform industries.”

    h2 IMDA and AWS will support Singapore-based companies to grow their business

    p Under the MOI, IMDA Accredited and IMDA Spark companies will benefit from tech advisory and a sandbox environment7. supported by both AWS and the IMDA Technical Acceleration Lab8. initiative to conduct proof-of-concept projects with customers and prospects from both public and commercial sectors in Singapore. They will also benefit from the APN, which will provide enterprises and startups access to customers in government, education, and healthcare, in Singapore and internationally. The partners can accelerate their development with AWS, tap into AWS Partner Programs, list their software on AWS Marketplace, and enjoy dedicated support for co-selling opportunities.

    p Mr Justin Ang, Assistant Chief Executive, IMDA said, “IMDA is excited to collaborate with AWS to set up its first JIC in Southeast Asia at IMDA PIXEL, which will serve as a strong platform for startups, enterprises, and governments to innovate digitally. We are delighted that IMDA is recognised as a key community enabler within Singapore and the region, and PIXEL as an innovation hub for all types of partners to connect and build world-class products for global markets. We look forward to bringing AWS’s resources and networks to our Singapore-based companies under our IMDA Accreditation and IMDA Spark programmes to further accelerate their growth.”

block detailContentAccordions
  +full-bleed-accordions({
    "tags": tags
  })
    +accordion-item({
      "title": "Jointly issued by IBM, Infocomm Media Development Authority (IMDA), M1 and Samsung Electronics Co., Ltd.",
      "__id": "accordion-01"
    })
      p
        strong About IBM
      p For more information please visit 
        a(href="https://www.ibm.com/cloud/") https://www.ibm.com/cloud
        | .

      p
        strong About Infocomm Media Development Authority (IMDA)
      p The Infocomm Media Development Authority (IMDA) leads Singapore’s digital transformation with infocomm media. To do this, IMDA will develop a dynamic digital economy and a cohesive digital society, driven by an exceptional infocomm media (ICM) ecosystem – by developing talent, strengthening business capabilities, and enhancing Singapore's ICM infrastructure. IMDA also regulates the telecommunications and media sectors to safeguard consumer interests while fostering a pro-business environment, and enhances Singapore’s data protection regime through the Personal Data Protection Commission.

      p
        strong About M1
      p M1, a subsidiary of Keppel Corporation, is Singapore’s most vibrant and dynamic communications company, providing mobile and fixed services to over two million customers. Since the launch of commercial services in 1997, M1 has achieved many firsts, including the first operator to offer nationwide 4G service, as well as ultra high-speed fixed broadband, fixed voice and other services on the Next Generation Nationwide Broadband Network (NGNBN). With a continual focus on network quality, customer service, value and innovation, M1 links anyone and anything; anytime, anywhere. For more information, visit www.m1.com.sg

      p Facebook: 
        a(href="#") facebook.com/m1limited
        br
        | Instagram: 
        a(href="#") instagram.com/m1.sg
        br
        | Twitter: 
        a(href="#") twitter.com/m1singapore
        br
        | LinkedIn: 
        a(href="#") linkedin.com/company/m1-limited

      p
        strong About Samsung Electronics Co., Ltd.
      p Samsung inspires the world and shapes the future with transformative ideas and technologies. The company is redefining the worlds of TVs, smartphones, wearable devices, tablets, digital appliances, network systems, and memory, system LSI, foundry and LED solutions. For the latest news, please visit the Samsung Newsroom at 
        a(href="#") http://news.samsung.com.

    +accordion-item({
      "title": "For media clarifications, please contact:",
      "__id": "accordion-02"
    })
      .row
        .col-sm-6
          p
            strong (Mr) Aung Thi Ha 
            br
            | Manager 
            br 
            | (Communications and Marketing) 
            br 
            | Infocomm Media Development Authority
            br 
            | DID: (65) 9338 2594
            br 
            | Email: aung_thi_ha@imda.gov.sg
        .col-sm-6
          p
            strong (Ms) Esther Low
            br
            | Head
            br 
            | (PR & Corporate Marketing)
            br 
            | Samsung Electronics Singapore
            br 
            | DID: (65) 9170 7107
            br 
            | Email: esther.low@samsung.com
        .col-sm-6
          p
            strong (Mr) Ken Ng
            br
            | Senior Executive 
            br 
            | (Corporate Communications) 
            br 
            | M1
            br 
            | DID: (65) 9699 0133
            br 
            | Email: ngcj@m1.com.sg
        .col-sm-6
          p
            strong (Ms) Selvi R
            br
            | Communications Manager
            br 
            | IBM ASEAN
            br 
            | DID: (65) 9795 4165
            br 
            | Email: selvir@sg.ibm.com