// success-stories styles
.success-stories {
  position: relative;
  padding: 184px 0 0;
  margin: 0 0 24px;
  overflow: hidden;

  @include desktop {
    padding: 244px 0 0;
    margin: 0 0 80px;
  }

  &__bg {
    opacity: 0.45;

    img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(calc(-50% - 40px), 0);
      max-width: none;
      
      @include tablet {
        width: 100%;
        left: auto;
        right: 0;
        transform: translate(0, 0);
      }
      
      @include desktop {
        width: auto;
        left: 50%;
        right: auto;
        transform: translate(calc(-50% + 231px), 0);
      }

      @include lgDesktop {
        left: 0;
        transform: translate(0, 0);
      }
    }
  }

  &__header {
    color: $textOffWhite;
    margin: 0 0 36px;
    max-width: 786px;
    
    @include desktop {
      width: 64%;
      margin: 0 0 70px;
    }

    a {
      color: $textOffWhite;
      border: 1px solid $textOffWhite;
      background-color: transparent;
    }

    h2 {
      font-weight: 600;
      font-size: calc-em(40px);
      line-height: 120%;
      text-shadow: $textGlow1;
      margin: 0 0 10px;
      width: 53%;
  
      @include desktop {
        width: 100%;
        font-size: calc-em(80px);
        margin: 0 0 20px;
      }
    }
  
    p {
      font-weight: 500;
      line-height: 120%;
      text-shadow: $textGlow1;
      margin: 0 0 20px;
  
      @include desktop {
        font-size: calc-em(24px);
        margin: 0 0 20px;
      }
    }
  }

  &__body {
    margin: 0 -12px;

    article {
      padding: 0 12px;

      @include desktop {
        flex: 0 0 calc(100% / 3);
        max-width: calc(100% / 3);
      }
    }
  }

  [data-carousel] {
    padding: 0 72px 0 0;
    
    @include lgMobile {
      padding: 0 57px 0 0;
    }

    @include tablet {
      padding: 0;
    }

    &:not(.slick-initialized) {
      display: flex;
    }

    > article {
      flex: 0 0 100%;
      max-width: 100%;
      
      @include tablet {
        flex: 0 0 50%;
        max-width: 50%;
      }

      @include desktop {
        flex: 0 0 calc(100% / 3);
        max-width: calc(100% / 3);
      }
    }
  }
  
  .slick-list {
    overflow: visible;
  }

  .slick-track {
    display: flex;

    @include tablet {
      width: 100% !important;
    }
  }

  .slick-slide {
    float: none;
    height: auto;
  }
}