include ../../molecules/stories-card/stories-card

mixin success-stories(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.success-stories(class=spec.__class data-endpoint="/ajax/story-listing.json" data-type="success-stories")&attributes(attributes)
    picture.success-stories__bg
      source(srcset= spec.mobileBg, media="(max-width: 1023px)")
      source(srcset= spec.bg)
      img(src=spec.bg, alt="")
    .container
      header.success-stories__header
        h2=spec.title
        p=spec.text
        +button({
          "label": "View more",
          "url": "#"
        })
      .success-stories__body

    script#successStoriesTemplate(type="text/x-dot-template")
      | {{? it.length}}
      div(data-carousel)
        | {{~ it:item:index}}
        +stories-card-dot()
        | {{~}}
      | {{??}}
      p No results found. Please try a different combination.
      | {{?}}