include ../article-link/article-link

mixin mega-menu(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .mega-menu
    .container
      span.arrow
      each item, index in spec.items
        .mega-menu__content(id="menu-" + index)
          .mega-menu__teaser
            h2.mega-menu__title= item.name
            p.mega-menu__desc= item.description

            //- a.btn.btn-angle.btn-angle--white(href= item.url)
            //-   span Learn more
            //-   span.icon.icon-angle-right
          .mega-menu__right
            nav.mega-menu__nav
              ul
                each child, childIndex in item.children
                  - var hasChildClass = (child.children) ? 'has-children' : ''
                  li(class= hasChildClass, data-target="#childmenu-" + index + "-" + childIndex)
                    a(href= child.url)= child.name
            .mega-menu__highlights
              h3 Highlights
              .mega-menu__highlights-contents
                .row
                  if item.highlights
                    each highlight in item.highlights
                      .col-md-6
                        +article-link(highlight)
            each child, childIndex in item.children
              if child.children
                nav.mega-menu__drawer(id="childmenu-" + index + "-" + childIndex)
                  //- h3.mega-menu__nav-title &nbsp;
                  //- a.section-link(href= child.url) Learn more
                  ul.mega-menu__child
                    each grandChild in child.children
                      li
                        a(href= grandChild.url)= grandChild.name
  .mega-menu-overlay
