// mega-menu styles
.mega-menu {
  position: absolute;
  width: 100%;
  z-index: 999;

  &.expanded {
    .arrow {
      opacity: 1;
    }
  }

  .arrow {
    background-image: url('../images/mega-menu-icon.png');
    background-size: cover;
    background-position: center center;
    display: block;
    height: 13px;
    left: 0;
    margin-left: -10px;
    opacity: 0;
    position: absolute;
    transition: transform .25s ease-in-out, opacity .25s ease-in-out;
    top: -23px;
    width: 37px;
    z-index: 999;
  }

  &__content {
    @extend %clearfix;
    background: #fff;
    border-radius: 4px;
    box-shadow: 4px 4px 16px 0 transparentize(#000, .76);
    display: none;
    margin-top: -10px;
    height: 400px;
    overflow: hidden;
    position: relative;
    z-index: 998;

    &.active {
      display: flex;
    }
  }

  &__teaser {
    background: $purple;
    float: left;
    padding: 20px;
    width: 20%;
  }

  &__title {
    color: #fff;
    font-size: calc-em(24px);
    font-weight: $medium;
    letter-spacing: 0.01em;
    line-height: 1.2;
    margin: 10px 0;
  }

  &__desc {
    color: #fff;
    font-size: calc-em(14px);
    line-height: 1.4;
    margin: 0 0 20px;
  }

  &__right {
    float: left;
    display: flex;
    width: 80%;
    padding: 20px 30px;
  }

  &__nav {
    border-right: 2px solid $purple;
    float: left;
    height: 100%;
    overflow: auto;
    width: 40%;

    ul {
      @extend %list-unstyled;

      li {
        // margin: 0 0 10px;
        position: relative;

        &.has-children {
          .icon {
            color: $red;
            display: inline-block;
            position: relative;
          }

          &.active {
            a {
              background: $grey5;
              color: $purple;
            }

            .icon {
              color: $purple;
            }
          }
        }

        a {
          color: $headerColor;
          display: block;
          font-size: calc-em(15px);
          font-weight: $roman;
          padding: 5px 10px;
          text-decoration: none;

          .icon {
            transition: transform .25s $easeInOutExpo;
          }

          &:hover, &:focus {
            background: $grey5;
            color: $purple;

            .icon {
              color: $purple;
              transform: translateX(10px);
            }

            &:before {
              background: $purple;
            }
          }

          &:before {
            content: "";
            background: transparent;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            transition: all .25s ease-in-out;
            width: 2px;
          }
        }
      }
    }
  }

  &__highlights {
    padding: 0 30px;
    float: left;
    width: 60%;

    h3 {
      color: $purple;
      font-size: calc-em(20px);
      font-weight: $heavy;
      letter-spacing: 0.01em;
      line-height: 1.2;
      margin: 0 0 1em;
    }

    &.hidden {
      display: none;
    }
  }

  &__highlights-contents {
    border-top: 2px solid $grey4;
    padding: 20px 0;

    .article-link {
      &__title {
        font-size: calc-em(18px);
        font-weight: $light;
        line-height: 1.2rem;

        a {
          color: $purple;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &__desc {
        font-size: calc-em(13px);
      }

      &__image {
        img {
          height: 165px;
          object-fit: cover;
          object-position: center center;
          width: 100%;
        }
      }
    }
  }

  &__drawer {
    padding: 0 30px;
    display: none;
    height: 100%;
    float: left;
    overflow: auto;
    width: 60%;

    .section-link {
      color: $purple;
      display: inline-block;
      margin-bottom: 20px;
      position: relative;

      &:before {
        content: "";
        background: $purple;
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: scaleX(0);
        transform-origin: left center;
        transition: transform .25s $easeInOutExpo;
        width: 100%;
        z-index: -1;
      }

      &:hover, &:focus {
        color: #fff;

        &:before {
          transform: scaleX(1);
        }
      }
    }

    &.active {
      display: block;
    }
  }

  &__nav-title {
    font-size: calc-em(20px);
    font-weight: $heavy;
    margin: 0 0 10px;
  }

  &__child {
    @extend %list-unstyled;
    // border-top: 2px solid $grey4;
    column-count: 2;
    padding-top: 15px;

    li {
      margin-bottom: 10px;

      a {
        color: $headerColor;
        display: inline-block;
        font-size: calc-em(14px);
        font-weight: $light;
        position: relative;
        text-decoration: none;

        &:before {
          content: "";
          background: $purple;
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          transform: scaleX(0);
          transform-origin: left center;
          transition: transform .25s $easeInOutExpo;
          width: 100%;
          z-index: -1;
        }

        &:hover, &:focus {
          color: #fff;

          &:before {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}

.mega-menu-overlay {
  background: transparent;
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  transition: all .25s ease-in-out;
  width: 100%;
  z-index: 998;

  &.shown {
    background: transparentize(#000, .6);
  }
}

@media only screen and (max-width: $bpDesktop - 1) {
  .mega-menu {
    display: none;
  }
}
