.showcase-card {
  .showcase-card-detail {
    .showcase-card-title {
      font-family: $font-family;
      font-size: calc-em(21px);
      font-weight: $black;
    }

    .showcase-card-description {
      font-family: $font-family;
      font-size: calc-em(16px);
      font-weight: $roman;
    }
  }
}
