mixin showcase-card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  a.showcase-card(class=spec.__class, href="#")&attributes(attributes)
    .showcase-card-image
      img(src="/images/news-1.png")
    .showcase-card-detail
      p.showcase-card-title Tech showcase
      p.showcase-card-description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur recusandae! Adipisci itaque sequi laboriosam ducimus reiciendis explicabo exercitationem, rem incidunt porro illum.
