extends ../_layouts/standard-detail

block append config
  - pageUrl = "/detail-page"
  - var pageData = site.data.standardDetail.detailPage
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts
  - nextArticle = { url: '/', title: 'Celebrating creativity and storytelling: Five highlights from the Singapore Media Festival'}

block detailContent
  +rte()
    h1 Welcome to IMDA
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro hic doloremque facere soluta eum eaque harum ipsam ea exercitationem consectetur!

    p Lorem ipsum dolor sit amet <a href="#">consectetur adipisicing elit</a>. Vel fugit aliquid, sit hic maiores facere, accusamus illum iure quasi a reiciendis! Corporis non asperiores vel tempora officia sunt odit fugit itaque facilis modi? Asperiores, amet provident. Provident a officia ullam praesentium. Quisquam voluptatibus facilis id assumenda aliquid natus, sed necessitatibus?

  +video-player({
    "videoId": "L209rWk_0TY",
    "image": "/images/detail/gallery-1.jpg",
    "title": "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, quibusdam.",
    "holderId": "video1"
  })

  +video-player({
    "videoId": "_OfY0D99Z-s",
    "image": "/images/detail/gallery-1.jpg",
    "title": "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, quibusdam.",
    "holderId": "video2"
  })

  +highlight-card({
    "image": "/images/detail/highlight-1.jpg",
    "title": "Section Highlight",
    "content": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio!"
  })

  +highlight-card({
    "image": "/images/detail/highlight-2.jpg",
    "title": "Section Highlight",
    "content": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio!"
  }).highlight-card--purple.highlight-card--reverse

  +box-quote({
    "image": "/images/detail/quote.jpg",
    "title": "Lorem ipsum dolor",
    "content": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores labore dignissimos architecto quos nisi et, dolore fugiat placeat error animi officiis non cumque impedit maxime deserunt reprehenderit dolorem sapiente hic laboriosam veniam ut eos odit tempora? Non ea officiis corporis officia at quidem nam blanditiis, similique necessitatibus aperiam vitae reprehenderit!",
    "author": "James Lim Rui Yi",
    "designation": "Senior Manager, Industry Development Group"
  })

  +box-quote({
    "title": "Lorem ipsum dolor",
    "content": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores labore dignissimos architecto quos nisi et, dolore fugiat placeat error animi officiis non cumque impedit maxime deserunt reprehenderit dolorem sapiente hic laboriosam veniam ut eos odit tempora? Non ea officiis corporis officia at quidem nam blanditiis, similique necessitatibus aperiam vitae reprehenderit!",
    "author": "James Lim Rui Yi",
    "designation": "Senior Manager, Industry Development Group"
  })

  .row
    .col-md-6.col-sm-6
      +teaser-card({
        "title": "Silver Infocomm Curriculum",
        "category": "Scheme",
        "industry": "Tech",
        "description": "IMDA developed a set of customised curriculum to increase infocomm litgeracy among seniors. There are two tracks, iBEGIN and iLIVE, for seniors to learn basic infocomm and digital lifestyle skills respectively.",
        "url": "#",
        "target": "For Individuals",
        "icon": "icon-individual"
      }).teaser-card--panel.teaser-card--blue
    .col-md-6.col-sm-6
      +teaser-card({
        "title": "Silver Infocomm Curriculum",
        "category": "Scheme",
        "industry": "Tech",
        "description": "IMDA developed a set of customised curriculum to increase infocomm litgeracy among seniors. There are two tracks, iBEGIN and iLIVE, for seniors to learn basic infocomm and digital lifestyle skills respectively.",
        "url": "#",
        "target": "For Individuals",
        "icon": "icon-individual"
      }).teaser-card--panel.teaser-card--pink

  +selected-posts({
    "items": [
      {
        "url": "test.pdf",
        "image": "/images/detail/image-1.png",
        "__class":"article-link__align-left",
        "title": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, quidem!",
        "description": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quae magni unde dicta, repudiandae qui odit atque neque natus quidem sequi accusamus non consectetur similique, animi nostrum facere dolor nesciunt quam adipisci? Eveniet necessitatibus, enim minima voluptatibus alias rem labore."
      },
      {
        "url": "#",
        "image": "/images/detail/selected-2.jpg",
        "title": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, quidem!",
        "description": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quae magni unde dicta, repudiandae qui odit atque neque natus quidem sequi accusamus non consectetur similique, animi nostrum facere dolor nesciunt quam adipisci? Eveniet necessitatibus, enim minima voluptatibus alias rem labore."
      },
      {
        "url": "#",
        "image": "/images/detail/selected-3.jpg",
        "__class":"article-link__align-right",
        "title": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, quidem!",
        "description": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quae magni unde dicta, repudiandae qui odit atque neque natus quidem sequi accusamus non consectetur similique, animi nostrum facere dolor nesciunt quam adipisci? Eveniet necessitatibus, enim minima voluptatibus alias rem labore."
      }
    ]
  })

  +selected-posts({
    "items": [
      {
        "url": "#",
        "image": "/images/detail/selected-1.jpg",
        "title": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, quidem!",
        "description": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quae magni unde dicta, repudiandae qui odit atque neque natus quidem sequi accusamus non consectetur similique, animi nostrum facere dolor nesciunt quam adipisci? Eveniet necessitatibus, enim minima voluptatibus alias rem labore."
      },
      {
        "url": "#",
        "image": "/images/detail/selected-2.jpg",
        "title": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, quidem!",
        "description": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quae magni unde dicta, repudiandae qui odit atque neque natus quidem sequi accusamus non consectetur similique, animi nostrum facere dolor nesciunt quam adipisci? Eveniet necessitatibus, enim minima voluptatibus alias rem labore."
      }
    ]
  })

  +gallery({
    "items": [
      {
        "image": "/images/detail/gallery-1.jpg",
        "alt": "Groupfie",
        "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
      },
      {
        "image": "/images/detail/gallery-1.jpg",
        "alt": "Groupfie",
        "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
      },
      {
        "image": "/images/detail/gallery-1.jpg",
        "alt": "Groupfie",
        "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
      },
      {
        "image": "/images/detail/gallery-1.jpg",
        "alt": "Groupfie",
        "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
      }
    ]
  })

  .row
    .col-md-4
      +image-link({
        "title": "Title",
        "image": "/images/detail/image-1.png",
        "description": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, inventore.",
        "url": "#"
      })
    .col-md-4
      +image-link({
        "title": "Title",
        "image": "/images/detail/image-2.png",
        "description": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, inventore.",
        "url": "#"
      })
    .col-md-4
      +image-link({
        "title": "Title",
        "image": "/images/detail/image-3.png",
        "description": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, inventore.",
        "url": "#"
      })

  .rte
    div(style="box-sizing: border-box; border: 0px none; margin: 20px 0px; overflow: visible; text-indent: 0px; text-align: start;" class="table no-scrollbar")
      table(cellspacing="0" cellpadding="0" border="0" style="box-sizing: border-box; border-collapse: collapse; border-spacing: 0px; margin: 0px 0px 15px; width: 889px;")
        thead(style="box-sizing: border-box;")
          tr(style="box-sizing: border-box; background-image: none; background-attachment: scroll; background-size: initial; background-origin: initial; background-clip: initial; background-position: 0% 0%; background-repeat: repeat;")
            th(style="box-sizing: border-box; text-align: left; padding: 10px; border: 1px solid #676767; background-image: none; background-attachment: scroll; background-size: initial; background-origin: initial; background-clip: initial; background-position: 0% 0%; background-repeat: repeat;")
              span(style="box-sizing: border-box;") Broadband Service
            th(style="box-sizing: border-box; text-align: left; padding: 10px; border: 1px solid #676767; background-image: none; background-attachment: scroll; background-size: initial; background-origin: initial; background-clip: initial; background-position: 0% 0%; background-repeat: repeat;")
              span(style="box-sizing: border-box;") Ability to support multiple online sessions
        tbody(style="box-sizing: border-box;")
          tr(style="box-sizing: border-box; background-image: none; background-attachment: scroll; background-size: initial; background-origin: initial; background-clip: initial; background-position: 0% 0%; background-repeat: repeat;")
            td(style="box-sizing: border-box; padding: 10px; border: 1px solid #676767;") 56 kbps dial-up
            td(style="box-sizing: border-box; padding: 10px; border: 1px solid #676767;") Not possible
          tr(style="box-sizing: border-box; background-image: none; background-attachment: scroll; background-size: initial; background-origin: initial; background-clip: initial; background-position: 0% 0%; background-repeat: repeat;")
            td(style="box-sizing: border-box; padding: 10px; border: 1px solid #676767;") 512 kbps
            td(style="box-sizing: border-box; padding: 10px; border: 1px solid #676767;") Possible but slow and jerky
          tr(style="box-sizing: border-box; background-image: none; background-attachment: scroll; background-size: initial; background-origin: initial; background-clip: initial; background-position: 0% 0%; background-repeat: repeat;")
            td(style="box-sizing: border-box; padding: 10px; border: 1px solid #676767;") 3,500 kbps and above
            td(style="box-sizing: border-box; padding: 10px; border: 1px solid #676767;") Smooth and responsive
  .rte
    .table
      table
        thead
          tr
            th Head 1
            th Head 2
            th Head 3
            th Head 4
            th Head 5
            th Head 6
            th Head 7
            th Head 8

        tbody
          tr
            td row 1 cell 1
            td row 1 cell 2
            td row 1 cell 3
            td row 1 cell 4
            td row 1 cell 5
            td row 1 cell 6
            td row 1 cell 7
            td row 1 cell 8
          tr
            td row 2 cell first
            td row 2 cell
            td row 2 cell
            td row 2 cell
            td row 2 cell
            td row 2 cell
            td row 2 cell
            td row 2 cell last
          tr
            td row 3 cell first
            td row 3 cell
            td row 3 cell
            td row 3 cell
            td row 3 cell
            td row 3 cell
            td row 3 cell
            td row 3 cell last
          tr
            td row 4 cell first
            td row 4 cell
            td row 4 cell
            td row 4 cell
            td row 4 cell
            td row 4 cell
            td row 4 cell
            td row 4 cell last
          tr
            td row 5 cell first
            td row 5 cell
            td row 5 cell
            td row 5 cell
            td row 5 cell
            td row 5 cell
            td row 5 cell
            td row 5 cell last
    .table
      table
        thead
          tr
            th(colspan="2") Head 1
            th Head 2
            th Head 3
            th Head 4
            th Head 5
            th Head 6
            th Head 7

        tbody
          tr
            td row 1 cell 1
            td row 1 cell 2
            td row 1 cell 3
            td row 1 cell 4
            td row 1 cell 5
            td row 1 cell 6
            td row 1 cell 7
            td row 1 cell 8
          tr
            td row 2 cell first
            td row 2 cell
            td row 2 cell
            td row 2 cell
            td row 2 cell
            td row 2 cell
            td row 2 cell
            td row 2 cell last
          tr
            td row 3 cell first
            td row 3 cell
            td row 3 cell
            td row 3 cell
            td row 3 cell
            td row 3 cell
            td row 3 cell
            td row 3 cell last
          tr
            td row 4 cell first
            td row 4 cell
            td row 4 cell
            td row 4 cell
            td row 4 cell
            td row 4 cell
            td row 4 cell
            td row 4 cell last
          tr
            td row 5 cell first
            td row 5 cell
            td row 5 cell
            td row 5 cell
            td row 5 cell
            td row 5 cell
            td row 5 cell
            td row 5 cell last

    .table
      table
        tbody
          tr
            td row 1 cell 1
            td row 1 cell 2
            td row 1 cell 3
            td row 1 cell 4
            td row 1 cell 5
            td row 1 cell 6
            td row 1 cell 7
            td 
              a 1 cell 8
          tr
            td row 2 cell first
            td row 2 cell
            td row 2 cell
            td row 2 cell
            td row 2 cell
            td row 2 cell
            td row 2 cell
            td row 2 cell last
          tr
            td row 3 cell first
            td row 3 cell
            td row 3 cell
            td row 3 cell
            td row 3 cell
            td row 3 cell
            td row 3 cell
            td row 3 cell last
          tr
            td row 4 cell first
            td row 4 cell
            td row 4 cell
            td row 4 cell
            td row 4 cell
            td row 4 cell
            td row 4 cell
            td row 4 cell last
          tr
            td row 5 cell first
            td row 5 cell
            td row 5 cell
            td row 5 cell
            td row 5 cell
            td row 5 cell
            td row 5 cell
            td row 5 cell last
  .rte
    ul
      li liste item
        ol
          li list item
          li list item
          li list item
            ul
              li list itme
              li list item
              li list item
                ol
                  li list item
                  li list item
                  li list item
      li list item
      li list item
      li list item
    ol
      li liste item
        ol
          li list item
          li list item
          li list item
            ul
              li list itme
              li list item
              li list item
                ol
                  li list item
                  li list item
                  li list item
      li list item
      li list item
      li list item

  +standard-content-carousel({
    "items": [
      {
        "image": "/images/standard/landing-1.jpg",
        "title": "What we do",
        "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
        "url": "#"
      },
      {
        "image": "/images/standard/landing-2.jpg",
        "title": "Organisation Structure",
        "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith. An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
        "url": "#"
      },
      {
        "image": "/images/standard/landing-3.jpg",
        "title": "Awards & Certification",
        "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
        "url": "#"
      },
      {
        "image": "/images/standard/landing-4.jpg",
        "title": "Service Standards",
        "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
        "url": "#"
      },
      {
        "image": "/images/standard/landing-5.jpg",
        "title": "Corporate Publications",
        "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
        "url": "#"
      }
    ]
  })  