extends ../../_layouts/microsite

include ../../_modules/organisms/event-form/event-form


block append config
  - baseUrl = "../../"
  - pageUrl = "/events-listing/event-form"
  - var pageData = site.data.standardDetail.ledSymposium
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts

block content
  .container
    .row
      .col-md-12
        +event-form()

  p Brought to you by the LED Taskforce
  
  .row
    .col-sm-4.col-md-4
      img(src="/images/events/leds.png", alt="Lean Enterprise Development Logo")


