extends ../_layouts/microsite

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - pageTitle = 'SG Digital'

block content
  <section class="content">
    <section class="breadcrumb-page resize">
      <div class="container">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Infocomm & Media Buzz</a></li>
          <li><a href="#">Digital Government</a></li>
          <li><a href="#">TechSkills Accelerator to boost ICT professionals</a></li>
        </ul>
      </div>
    </section>
    <div class="sggd-wrapper">
      <section data-slider-speed="3000" class="carousel-banner">
        <div class="slider-nav slider-nav--prev"><span>&#xe915;</span></div>
        <div class="slider-nav slider-nav--next"><span>&#xe915;</span></div>
        <div class="banner-slider">
          <a href="http://www.google.com" class="banner-slide">
            <div class="banner-image">
              <img src="/images/banner3.jpg" class="desktop-img"><img src="/images/banner1small.jpg" class="mobile-img">
              <div class="banner-content desktop-content">
                <div class="container">
                  <span class="banner-detail">
                    <h1>This is a desktop title with more.</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span class="sggd-btn sggd-btn--special">
                      <div class="btn-text"><span>View more</span></div>
                      <div class="arrow">
                        <div class="arrow-wrapper"><span class="left"></span><span class="right"></span></div>
                      </div>
                    </span>
                  </span>
                </div>
              </div>
              <div class="banner-content mobile-content">
                <div class="container">
                  <span class="banner-detail">
                    <h1>This is a mobile content with more.</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span class="sggd-btn sggd-btn--special">
                      <div class="btn-text"><span>View more</span></div>
                      <div class="arrow">
                        <div class="arrow-wrapper"><span class="left"></span><span class="right"></span></div>
                      </div>
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </section>
      <section class="announcement-section">
        <div class="container container--mw1140">
          <h2>ANNOUNCEMENTS</h2>
          <div class="carousel-wrapper">
            <div class="announcement-prev-arrow"><span> &#xe915;</span></div>
            <div class="announcement-next-arrow"><span>&#xe915;</span></div>
            <div class="announcement-carousel">
              <div class="annoucement-wrapper">
                <div class="announcement-card">
                  <div class="announcement-image"><img src="/images/announcement.png" alt="announcement image"></div>
                  <div class="announcement-detail">
                    <p class="announcement-title">The infocomm and media sectors are key sectors in Singapore’s economy</p>
                    <p class="announcement-description">Upload once, sell everywhere – that is the tagline for iSyndica, which was set up in May to provide photographers, footage producers and illustrators with a single platform to manage and distribute their portfolio. </p>
                    <a href="https://www.google.com.sg" target="_blank" class="announcement-link">View More</a>
                  </div>
                </div>
              </div>
              <div class="annoucement-wrapper">
                <div class="announcement-card">
                  <div class="announcement-image"><img src="/images/announcement.png" alt="announcement image"></div>
                  <div class="announcement-detail">
                    <p class="announcement-title">The infocomm and media sectors are key sectors in Singapore’s economy</p>
                    <p class="announcement-description">Upload once, sell everywhere – that is the tagline for iSyndica, which was set up in May to provide photographers, footage producers and illustrators with a single platform to manage and distribute their portfolio. </p>
                    <a href="https://www.google.com.sg" target="_blank" class="announcement-link">View More</a>
                  </div>
                </div>
              </div>
              <div class="annoucement-wrapper">
                <div class="announcement-card">
                  <div class="announcement-image"><img src="/images/announcement.png" alt="announcement image"></div>
                  <div class="announcement-detail">
                    <p class="announcement-title">The infocomm and media sectors are key sectors in Singapore’s economy</p>
                    <p class="announcement-description">Upload once, sell everywhere – that is the tagline for iSyndica, which was set up in May to provide photographers, footage producers and illustrators with a single platform to manage and distribute their portfolio. </p>
                    <a href="https://www.google.com.sg" target="_blank" class="announcement-link">View More</a>
                  </div>
                </div>
              </div>
              <div class="annoucement-wrapper">
                <div class="announcement-card">
                  <div class="announcement-image"><img src="/images/announcement.png" alt="announcement image"></div>
                  <div class="announcement-detail">
                    <p class="announcement-title">The infocomm and media sectors are key sectors in Singapore’s economy</p>
                    <p class="announcement-description">Upload once, sell everywhere – that is the tagline for iSyndica, which was set up in May to provide photographers, footage producers and illustrators with a single platform to manage and distribute their portfolio. </p>
                    <a href="https://www.google.com.sg" target="_blank" class="announcement-link">View More</a>
                  </div>
                </div>
              </div>
              <div class="annoucement-wrapper">
                <div class="announcement-card">
                  <div class="announcement-image"><img src="/images/announcement.png" alt="announcement image"></div>
                  <div class="announcement-detail">
                    <p class="announcement-title">The infocomm and media sectors are key sectors in Singapore’s economy</p>
                    <p class="announcement-description">Upload once, sell everywhere – that is the tagline for iSyndica, which was set up in May to provide photographers, footage producers and illustrators with a single platform to manage and distribute their portfolio. </p>
                    <a href="https://www.google.com.sg" target="_blank" class="announcement-link">View More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="interactive-section">
        <div class="container container--mw1140">
          <div class="col-6">
            <h2>SG Digital</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus deleniti voluptatum alias quod nam maxime nemo aliquid! Placeat quasi, quas id tempore modi itaque eos? Sunt dolorum veniam facere esse.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem molestiae beatae similique impedit tenetur reprehenderit quas reiciendis dicta, neque vero sint iure iusto doloremque quo sed quod ducimus sapiente. Pariatur!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus sed consequuntur esse velit cumque mollitia inventore iste, provident at eos eligendi laborum error! Ut, suscipit quod aut quae temporibus officiis!</p>
          </div>
          <div class="col-6">
            <div class="interactive-card">
              <div class="main-info">
                <div class="item-wrapper">
                  <div class="item-icon"><img src="/images/ui/rocket-blue.png" class="highlight-icon"><img src="/images/ui/rocket.png" class="normal-icon">
                  </div>
                  <div class="item-date">
                    <p>Community</p>
                    <span></span>
                  </div>
                  <div class="item-title">
                    <p>Digital Rediness</p>
                  </div>
                  <div class="item-cta">
                    <div class="cta-arrow"><span class="span-left"></span><span class="span-right"></span></div>
                  </div>
                </div>
                <div class="detail-info-section">
                  <p><a href="https://www.google.com.sg" target="_blank">Lorem ipsum dolor sit</a>, amet consectetur adipisicing elit. Ipsum beatae voluptates facere veritatis perspiciatis sunt, dolores explicabo, rem blanditiis laudantium non? Consectetur reprehenderit doloremque voluptate adipisci commodi minima praesentium ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique distinctio temporibus dolorem, aspernatur accusamus quia quod maxime aut, quo ipsam sequi. Veritatis suscipit dignissimos accusamus quaerat odit reprehenderit officia incidunt!</p>
                </div>
              </div>
            </div>
            <div class="interactive-card">
              <div class="main-info">
                <div class="item-wrapper">
                  <div class="item-icon"><img src="/images/ui/connection-blue.png" class="highlight-icon"><img src="/images/ui/connection.png" class="normal-icon">
                  </div>
                  <div class="item-date">
                    <p>Talent</p>
                    <span></span>
                  </div>
                  <div class="item-title">
                    <p>SG:D Talent</p>
                  </div>
                  <div class="item-cta">
                    <div class="cta-arrow"><span class="span-left"></span><span class="span-right"></span></div>
                  </div>
                </div>
                <div class="detail-info-section">
                  <p><a href="https://www.google.com.sg" target="_blank">Lorem ipsum dolor sit</a>, amet consectetur adipisicing elit. Ipsum beatae voluptates facere veritatis perspiciatis sunt, dolores explicabo, rem blanditiis laudantium non? Consectetur reprehenderit doloremque voluptate adipisci commodi minima praesentium ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique distinctio temporibus dolorem, aspernatur accusamus quia quod maxime aut, quo ipsam sequi. Veritatis suscipit dignissimos accusamus quaerat odit reprehenderit officia incidunt!</p>
                </div>
              </div>
            </div>
            <div class="interactive-card">
              <div class="main-info">
                <div class="item-wrapper">
                  <div class="item-icon"><img src="/images/ui/lock-blue.png" class="highlight-icon"><img src="/images/ui/lock.png" class="normal-icon">
                  </div>
                  <div class="item-date">
                    <p>SME</p>
                    <span></span>
                  </div>
                  <div class="item-title">
                    <p>SG:D SMEs Go Digital</p>
                  </div>
                  <div class="item-cta">
                    <div class="cta-arrow"><span class="span-left"></span><span class="span-right"></span></div>
                  </div>
                </div>
                <div class="detail-info-section">
                  <p><a href="https://www.google.com.sg" target="_blank">Lorem ipsum dolor sit</a>, amet consectetur adipisicing elit. Ipsum beatae voluptates facere veritatis perspiciatis sunt, dolores explicabo, rem blanditiis laudantium non? Consectetur reprehenderit doloremque voluptate adipisci commodi minima praesentium ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique distinctio temporibus dolorem, aspernatur accusamus quia quod maxime aut, quo ipsam sequi. Veritatis suscipit dignissimos accusamus quaerat odit reprehenderit officia incidunt!</p>
                </div>
              </div>
            </div>
            <div class="interactive-card">
              <div class="main-info">
                <div class="item-wrapper">
                  <div class="item-icon"><img src="/images/ui/tower-blue.png" class="highlight-icon"><img src="/images/ui/tower.png" class="normal-icon">
                  </div>
                  <div class="item-date">
                    <p>Mar 2018</p>
                    <span></span>
                  </div>
                  <div class="item-title">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  </div>
                  <div class="item-cta">
                    <div class="cta-arrow"><span class="span-left"></span><span class="span-right"></span></div>
                  </div>
                </div>
                <div class="detail-info-section">
                  <p><a href="https://www.google.com.sg" target="_blank">Lorem ipsum dolor sit</a>, amet consectetur adipisicing elit. Ipsum beatae voluptates facere veritatis perspiciatis sunt, dolores explicabo, rem blanditiis laudantium non? Consectetur reprehenderit doloremque voluptate adipisci commodi minima praesentium ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique distinctio temporibus dolorem, aspernatur accusamus quia quod maxime aut, quo ipsam sequi. Veritatis suscipit dignissimos accusamus quaerat odit reprehenderit officia incidunt!</p>
                </div>
              </div>
            </div>
            <div class="interactive-card">
              <div class="main-info">
                <div class="item-wrapper">
                  <div class="item-icon"><img src="/images/ui/phone-blue.png" class="highlight-icon"><img src="/images/ui/phone.png" class="normal-icon">
                  </div>
                  <div class="item-date">
                    <p>May 2018</p>
                    <span></span>
                  </div>
                  <div class="item-title">
                    <p>Security IDP</p>
                  </div>
                  <div class="item-cta">
                    <div class="cta-arrow"><span class="span-left"></span><span class="span-right"></span></div>
                  </div>
                </div>
                <div class="detail-info-section">
                  <p><a href="https://www.google.com.sg" target="_blank">Lorem ipsum dolor sit</a>, amet consectetur adipisicing elit. Ipsum beatae voluptates facere veritatis perspiciatis sunt, dolores explicabo, rem blanditiis laudantium non? Consectetur reprehenderit doloremque voluptate adipisci commodi minima praesentium ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique distinctio temporibus dolorem, aspernatur accusamus quia quod maxime aut, quo ipsam sequi. Veritatis suscipit dignissimos accusamus quaerat odit reprehenderit officia incidunt!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="cta-section">
        <div class="col-3">
          <div class="cta-card">
            <div class="cta-card-image">
              <img src="/images/card-1.jpg">
              <a href="#" class="cta-card-description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio autem, saepe dicta totam molestias consequuntur iste asperiores ad quaerat minus maxime ipsum ipsa repellat, ab minima expedita eaque fugit deleniti.</p>
              </a>
            </div>
            <a href="#" class="sggd-btn sggd-btn--gradient cta-card-btn">
              <div class="btn-text"><span>Film Community</span></div>
              <div class="arrow">
                <div class="arrow-wrapper"><span class="left"></span><span class="right"></span></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-3">
          <div class="cta-card">
            <div class="cta-card-image">
              <img src="/images/card-2.jpg">
              <a href="#" class="cta-card-description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio autem, saepe dicta totam molestias consequuntur iste asperiores ad quaerat minus maxime ipsum ipsa repellat, ab minima expedita eaque fugit deleniti.</p>
              </a>
            </div>
            <a href="#" class="sggd-btn sggd-btn--gradient cta-card-btn">
              <div class="btn-text"><span>Filming in Singapore</span></div>
              <div class="arrow">
                <div class="arrow-wrapper"><span class="left"></span><span class="right"></span></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-3">
          <div class="cta-card">
            <div class="cta-card-image">
              <img src="/images/card-3.jpg">
              <a href="#" class="cta-card-description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio autem, saepe dicta totam molestias consequuntur iste asperiores ad quaerat minus maxime ipsum ipsa repellat, ab minima expedita eaque fugit deleniti.</p>
              </a>
            </div>
            <a href="#" class="sggd-btn sggd-btn--gradient cta-card-btn">
              <div class="btn-text"><span>Film Literacy &amp; Awareness</span></div>
              <div class="arrow">
                <div class="arrow-wrapper"><span class="left"></span><span class="right"></span></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-3">
          <div class="cta-card">
            <div class="cta-card-image">
              <img src="/images/card-4.jpg">
              <a href="#" class="cta-card-description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio autem, saepe dicta totam molestias consequuntur iste asperiores ad quaerat minus maxime ipsum ipsa repellat, ab minima expedita eaque fugit deleniti.</p>
              </a>
            </div>
            <a href="#" class="sggd-btn sggd-btn--gradient cta-card-btn">
              <div class="btn-text"><span>Programmes / Grants</span></div>
              <div class="arrow">
                <div class="arrow-wrapper"><span class="left"></span><span class="right"></span></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-3">
          <div class="cta-card">
            <div class="cta-card-image">
              <img src="/images/card-5.jpg">
              <a href="#" class="cta-card-description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio autem, saepe dicta totam molestias consequuntur iste asperiores ad quaerat minus maxime ipsum ipsa repellat, ab minima expedita eaque fugit deleniti.</p>
              </a>
            </div>
            <a href="#" class="sggd-btn sggd-btn--gradient cta-card-btn">
              <div class="btn-text"><span>Film Directory</span></div>
              <div class="arrow">
                <div class="arrow-wrapper"><span class="left"></span><span class="right"></span></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-3">
          <div class="cta-card">
            <div class="cta-card-image">
              <img src="/images/card-6.jpg">
              <a href="#" class="cta-card-description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio autem, saepe dicta totam molestias consequuntur iste asperiores ad quaerat minus maxime ipsum ipsa repellat, ab minima expedita eaque fugit deleniti.</p>
              </a>
            </div>
            <a href="#" class="sggd-btn sggd-btn--gradient cta-card-btn">
              <div class="btn-text"><span>Facts &amp; Figures </span></div>
              <div class="arrow">
                <div class="arrow-wrapper"><span class="left"></span><span class="right"></span></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-3">
          <div class="cta-card">
            <div class="cta-card-image">
              <img src="/images/card-5.jpg">
              <a href="#" class="cta-card-description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio autem, saepe dicta totam molestias consequuntur iste asperiores ad quaerat minus maxime ipsum ipsa repellat, ab minima expedita eaque fugit deleniti.</p>
              </a>
            </div>
            <a href="#" class="sggd-btn sggd-btn--gradient cta-card-btn">
              <div class="btn-text"><span>Film Directory</span></div>
              <div class="arrow">
                <div class="arrow-wrapper"><span class="left"></span><span class="right"></span></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-3">
          <div class="cta-card">
            <div class="cta-card-image">
              <img src="/images/card-6.jpg">
              <a href="#" class="cta-card-description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio autem, saepe dicta totam molestias consequuntur iste asperiores ad quaerat minus maxime ipsum ipsa repellat, ab minima expedita eaque fugit deleniti.</p>
              </a>
            </div>
            <a href="#" class="sggd-btn sggd-btn--gradient cta-card-btn">
              <div class="btn-text"><span>Facts &amp; Figures </span></div>
              <div class="arrow">
                <div class="arrow-wrapper"><span class="left"></span><span class="right"></span></div>
              </div>
            </a>
          </div>
        </div>
      </section>
      <section class="testimonial-section">
        <div class="bg-image"><img src="/images/bgimage.jpg"></div>
        <div class="container container--mw1140 content-wrapper">
          <h3>Success Stories</h3>
          <div class="testimonial-carousel">
            <div class="testimonial-item">
              <div class="testimonial-author-detail">
                <a href="https://www.google.com.sg" target="_blank" class="author-name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique soluta.</a>
                <p class="author-title"></p>
              </div>
              <div class="testimonial-avatar"><img src="/images/avatar.jpg"></div>
              <div class="testimonial-content">
                <p><a href="https://www.google.com.sg" target="_blank">Lorem ipsum dolor sit</a> "amet consectetur adipisicing elit. Voluptate quasi facilis ipsam, magnam laborum optio rem eius aperiam qui animi? Illum rerum asperiores beatae error harum quasi dolorem, ut sit."</p>
              </div>
            </div>
            <div class="testimonial-item">
              <div class="testimonial-author-detail">
                <a href="https://www.google.com.sg" target="_blank" class="author-name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique soluta.</a>
                <p class="author-title"></p>
              </div>
              <div class="testimonial-avatar"><img src="/images/avatar.jpg"></div>
              <div class="testimonial-content">
                <p><a href="https://www.google.com.sg" target="_blank">Lorem ipsum dolor sit</a> "amet consectetur adipisicing elit. Voluptate quasi facilis ipsam, magnam laborum optio rem eius aperiam qui animi? Illum rerum asperiores beatae error harum quasi dolorem, ut sit."</p>
              </div>
            </div>
          </div>
          <div class="carousel-arrow carousel-arrow--next"><span>&#xe915;</span></div>
          <div class="carousel-arrow carousel-arrow--prev"><span>&#xe915;</span></div>
          <a href="#" class="sggd-btn sggd-btn--standard">
            <div class="btn-text"><span>VIEW ALL</span></div>
            <div class="arrow">
              <div class="arrow-wrapper"><span class="left"></span><span class="right"></span></div>
            </div>
          </a>
        </div>
      </section>
      <section class="showcase-section">
        <div class="container container--mw1140">
          <h4>Technology Showcase</h4>
          <a href="#" class="sggd-btn sggd-btn--standard sggd-showcase-btn">
            <div class="btn-text"><span>VIEW ALL</span></div>
            <div class="arrow">
              <div class="arrow-wrapper"><span class="left"></span><span class="right"></span></div>
            </div>
          </a>
          <div class="col-4">
            <a href="#" class="showcase-card">
              <div class="showcase-card-image"><img src="/images/news-1.png"></div>
              <div class="showcase-card-detail">
                <p class="showcase-card-title">Tech showcase</p>
                <p class="showcase-card-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur recusandae! Adipisci itaque sequi laboriosam ducimus reiciendis explicabo exercitationem, rem incidunt porro illum.</p>
              </div>
            </a>
          </div>
          <div class="col-4">
            <a href="#" class="showcase-card">
              <div class="showcase-card-image"><img src="/images/news-1.png"></div>
              <div class="showcase-card-detail">
                <p class="showcase-card-title">Tech showcase</p>
                <p class="showcase-card-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur recusandae! Adipisci itaque sequi laboriosam ducimus reiciendis explicabo exercitationem, rem incidunt porro illum.</p>
              </div>
            </a>
          </div>
          <div class="col-4">
            <a href="#" class="showcase-card">
              <div class="showcase-card-image"><img src="/images/news-1.png"></div>
              <div class="showcase-card-detail">
                <p class="showcase-card-title">Tech showcase</p>
                <p class="showcase-card-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur recusandae! Adipisci itaque sequi laboriosam ducimus reiciendis explicabo exercitationem, rem incidunt porro illum.</p>
              </div>
            </a>
          </div>
          <a href="#" class="sggd-btn sggd-btn--standard sggd-showcase-btn-mobile">
            <div class="btn-text"><span>VIEW ALL</span></div>
            <div class="arrow">
              <div class="arrow-wrapper"><span class="left"></span><span class="right"></span></div>
            </div>
          </a>
        </div>
      </section>
    </div>
  </section>

  //- section.breadcrumb-page.resize
  //-   .container
  //-     ul
  //-       li
  //-         a(href='#') Home
  //-       li
  //-         a(href='#') Infocomm & Media Buzz
  //-       li
  //-         a(href='#') Digital Government
  //-       li
  //-         a(href='#') TechSkills Accelerator to boost ICT professionals
  //- .sggd-wrapper
  //-   +carousel-banner({
  //-     "image":"/images/singapore.png",
  //-     "title":"Building a Digital Society",
  //-     "desc":"#sgdigital",
  //-     "cta":"View more"
  //-   })

  //-   +announcement-section()

  //-   +interactive-section()

  //-   +cta-section({
  //-     "page": "sgdigital"
  //-   })

  //-   +testimonial-section()

  //-   +showcase-section()
