include ../_modules/atoms/buttons/buttons
include ../_modules/atoms/back-to-top/back-to-top

include ../_modules/organisms/site-header/site-header
include ../_modules/organisms/site-footer/site-footer
//- include ../_modules/organisms/loading-screen/loading-screen

//- Custom Configuration
block config
  //- Setup site's base URL to match the "baseUrl" key within `package.json`
  //- Otherwise default to relative pathing
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var isHome = false
  - var pageTitle = 'Infocomm Media Development Authority (IMDA)'
  - var pageDescription = 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, doloribus.'
  - var pageUrl = '/'
  - var navigation = site.data.navigation
  - var hideNewsletter = false
  - var profile = ''
  - var darkMode = false

doctype html
<html class='no-js' lang='en'>

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title= (isHome) ? pageTitle : 'IMDA | ' + pageTitle
  //- The preferred URL (SEO optimized)
  link(rel="canonical", href= pageUrl)

  script(async, src="https://www.googletagmanager.com/gtag/js?id=G-Q1HJV6V86E")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'G-Q1HJV6V86E');

  meta(name="robots", content="follow")
  meta(name="author", content="")
  meta(name="copyright", content="")
  meta(name="description", content= pageDescription)
  meta(name="keywords", content="")

  //- Facebook / Pinterest
  meta(property="og:title", content= title)
  meta(property="og:type", content="")
  meta(property="og:url", content= pageUrl)
  meta(property="og:image", content="")
  meta(property="og:description", content= pageDescription)
  meta(property="og:site_name", content="")
  meta(property="article:published_time" content="")
  meta(property="article:author" content="")

  //- Twitter
  meta(name="twitter:card", content="summary")
  meta(name="twitter:creator", content="")
  meta(name="twitter:url", content= pageUrl)

  meta(name="twitter:title", content= title)
  meta(name="twitter:description", content= pageDescription)
  meta(name="twitter:image", content="")

  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet")

  block stylesheets
    link(rel='preload' href= baseUrl + 'Cwp/assets/imda/styles/main.css' as='style')
    link(rel='stylesheet', href= baseUrl + 'Cwp/assets/imda/styles/main.css')

  link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
  link(href="/favicon.ico", rel="icon", type="image/x-icon")

- var bodyClass = (profile === 'profile0') ? 'imda-theme--purple imda-profile0' : (profile === 'profile1') ? 'imda-theme--purple imda-profile1' : (profile === 'profile2') ? 'imda-theme--maroon imda-profile2' : (profile === 'profile3') ? 'imda-theme--teal imda-profile3' : ''
- bodyClass = isProfileLanding ? bodyClass + ' profile-landing-pg' : bodyClass
- var homeClass = isHome ? 'is-homepage' : ''

body(class=bodyClass + ' ' + homeClass + (darkMode ? 'body--dark' : ''))
  <!--[if lt IE 11]>
  <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  +site-header({
    "primaryNav": navigation.primaryNav
  })

  main.main-content#mainContent
    //- +loading-screen
    block content

  if !isProfileLanding
    +back-to-top
    +site-footer({
      "hideNewsletter": hideNewsletter,
      "footerNav": navigation.footerNav,
      "commonLinks": navigation.commonLinks,
      "socialLinks": navigation.socialLinks,
      "panelLinks": navigation.panelLinks
    })

  block scripts
    script(src= baseUrl + 'Cwp/assets/imda/scripts/main.js')

  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c413daf4fcc62c3"></script>

</html>
