include ../_modules/organisms/site-header/site-header
include ../_modules/organisms/site-footer/site-footer

//- Custom Configuration
block config
  //- Setup site's base URL to match the "baseUrl" key within `package.json`
  //- Otherwise default to relative pathing
  - var baseUrl = '../'
  - var site = htmlWebpackPlugin.options
  - var isHome = false
  - var pageTitle = 'Infocomm Media Development Authority (IMDA)'
  - var pageDescription = 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, doloribus.'
  - var pageUrl = '/'
  - var navigation = site.data.navigation
  - var hideNewsletter = false
  - var profile = 'profile1'

doctype html
<html class='no-js' lang='en'>

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title= (isHome) ? pageTitle : 'IMDA | ' + pageTitle
  //- The preferred URL (SEO optimized)
  link(rel="canonical", href= pageUrl)

  //- The address bar color in Chrome mobile
  meta(name="theme-color", content="#702F8A")

  meta(name="robots", content="follow")
  meta(name="author", content="")
  meta(name="copyright", content="")
  meta(name="description", content= pageDescription)
  meta(name="keywords", content="")

  //- Facebook / Pinterest
  meta(property="og:title", content= title)
  meta(property="og:type", content="")
  meta(property="og:url", content= pageUrl)
  meta(property="og:image", content="")
  meta(property="og:description", content= pageDescription)
  meta(property="og:site_name", content="")
  meta(property="article:published_time" content="")
  meta(property="article:author" content="")

  //- Twitter
  meta(name="twitter:card", content="summary")
  meta(name="twitter:creator", content="")
  meta(name="twitter:url", content= pageUrl)

  meta(name="twitter:title", content= title)
  meta(name="twitter:description", content= pageDescription)
  meta(name="twitter:image", content="")

  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet")

  block stylesheets
    link(rel='stylesheet', href= baseUrl + 'Cwp/assets/imda/scripts/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href= baseUrl + 'Cwp/assets/imda/scripts/vendor/bootstrap-select/dist/css/bootstrap-select.min.css')
    link(rel='stylesheet', href= baseUrl + 'Cwp/assets/imda/scripts/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href= baseUrl + 'Cwp/assets/imda/scripts/vendor/slick/slick.css')
    link(rel='stylesheet', href= baseUrl + 'Cwp/assets/imda/scripts/vendor/slick/slick-theme.css')
    link(rel='stylesheet', href= baseUrl + 'Cwp/assets/imda/styles/main.min.css')
    link(rel='stylesheet', href= baseUrl + 'Cwp/assets/imda/styles/responsive.min.css')
    link(rel='stylesheet', href= baseUrl + 'Cwp/assets/imda/styles/print.css')
    link(rel='stylesheet', href= baseUrl + 'Cwp/assets/imda/styles/style.css')
    link(rel='stylesheet', href= baseUrl + 'Cwp/assets/imda/styles/main-microsite.css')

  link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
  link(href="/favicon.ico", rel="icon", type="image/x-icon")

- var bodyClass = (profile === 'profile0') ? 'imda-theme--purple imda-profile0' : (profile === 'profile1') ? 'imda-theme--purple imda-profile1' : (profile === 'profile2') ? 'imda-theme--maroon imda-profile2' : 'imda-theme--teal imda-profile3'

- var homeClass = isHome ? 'is-homepage' : ''

body(class=bodyClass + ' ' + homeClass)
  <!--[if lt IE 11]>
  <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  div(role="main")

    +site-header({
      "primaryNav": navigation.primaryNav
    })

    main.main-content#mainContent
      block content

    +site-footer({
      "hideNewsletter": hideNewsletter,
      "footerNav": navigation.footerNav,
      "commonLinks": navigation.commonLinks,
      "socialLinks": navigation.socialLinks,
      "panelLinks": navigation.panelLinks
    })

  block scripts
    script(src= baseUrl + 'Cwp/assets/imda/scripts/vendor/jquery/dist/jquery.min.js')
    script(src= baseUrl + 'Cwp/assets/imda/scripts/vendor/custom_widget.js')
    script(src= baseUrl + 'Cwp/assets/imda/scripts/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src= baseUrl + 'Cwp/assets/imda/scripts/vendor/bootstrap-select/dist/js/bootstrap-select.min.js')
    script(src= baseUrl + 'Cwp/assets/imda/scripts/vendor/slick/slick.min.js')
    script(src= baseUrl + 'Cwp/assets/imda/scripts/vendor/garand-sticky/jquery.sticky.min.js')
    script(src= baseUrl + 'Cwp/assets/imda/scripts/vendor/rv-jquery-fontsize/js/rv-jquery-fontsize.min.js')
    script(src= baseUrl + 'Cwp/assets/imda/scripts/vendor/jquery-smartresize/jquery.debouncedresize.js')
    script(src= baseUrl + 'Cwp/assets/imda/scripts/vendor/isotope.js')
    script(src= baseUrl + 'Cwp/assets/imda/scripts/vendor/modernizr/modernizr.js')
    script(src= baseUrl + 'Cwp/assets/imda/scripts/vendor/js-cookie/js-cookie.min.js')
    script(src= baseUrl + 'Cwp/assets/imda/scripts/plugins.min.js')
    script(src= baseUrl + 'Cwp/assets/imda/scripts/main.min.js')
    script(src= baseUrl + 'Cwp/assets/imda/scripts/script.js')
    script(src= baseUrl + 'Cwp/assets/imda/scripts/main-microsite.js')

  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c413daf4fcc62c3"></script>

</html>
