extends ../_layouts/base

include ../_modules/molecules/purplebg-section-wrapper/purplebg-section-wrapper
include ../_modules/molecules/image-cta-listing/image-cta-listing
include ../_modules/molecules/image-rte/image-rte

include ../_modules/organisms/page-banner/page-banner
include ../_modules/organisms/detail-content/detail-content
include ../_modules/organisms/detail-section/detail-section
include ../_modules/organisms/detail-aside/detail-aside
include ../_modules/organisms/featured/featured
include ../_modules/organisms/related-posts/related-posts
include ../_modules/organisms/newsletter/newsletter

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - pageTitle = "Detail page"
  - pageDescription = "IMDA drives the growth, competitiveness and innovation of Singapore's information and communication technology (ICT) industry by nurturing local ICT enterprises."
  - var sectionName = "Industry Support"
  - var breadcrumbs = []
  -
    var pageBanner = {
      "articleDate": "21 Sep 2018",
      "isPublication": false,
      "category": {
        "name": "Codes of Practice",
        "url": "#"
      },
      "industry": {
        "name": "Finance",
        "url": "#"
      },
      "target": {
        "name": "For Individuals",
        "url": "#",
        "icon": "icon-individual"
      }
    }
  -
    var anchorNav = {
      "items": []
    }
  -
    var tags = [
      {
        "name": "Digital Economy",
        "url": "#"
      },
      {
        "name": "Startups",
        "url": "#"
      },
      {
        "name": "Singapore",
        "url": "#"
      },
      {
        "name": "Keyword",
        "url": "#"
      },
      {
        "name": "Innovation",
        "url": "#"
      }
    ]
  -
    var relatedPosts = [
      {
        "url": "#",
        "title": "TechSkills Accelerator",
        "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
        "category": "Grants",
        "industry": "Finance",
        "target": "For Individuals",
        "icon": "icon-individual",
        "color": "orange"
      },
      {
        "url": "#",
        "title": "National Cybersecurity Postgraduate Scholarship",
        "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
        "category": "Programmes",
        "industry": "Finance",
        "target": "For Individuals",
        "icon": "icon-individual",
        "color": "blue"
      },
      {
        "url": "#",
        "title": "Industry Preparation for Pre-graduate (iPREP) Programme",
        "description": "A Smart Nation of the future.",
        "category": "Grants",
        "industry": "Finance",
        "target": "For Enterprises",
        "icon": "icon-organisation",
        "color": "pink"
      }
    ]
  - var nextArticle = null
  - var articleDate = pageBanner.articleDate

block content
  - var bannerColorClass = (pageBanner.color) ? "page-banner--" + pageBanner.color : ""
  +page-banner({
    "pageTitle": pageTitle,
    "breadcrumbs": breadcrumbs,
    "isPublication": pageBanner.isPublication,
    "articleDate": pageBanner.articleDate,
    "event": (pageBanner.event) ? pageBanner.event : null,
    "category": pageBanner.category,
    "target": pageBanner.target,
    "readtime": pageBanner.readtime,
    "date": pageBanner.date
  })(class= bannerColorClass)

  section.detail-wrapper
    .container
      .row
        .col-md-2
        .col-md-8
          +detail-content({
            "nextButton": nextArticle,
            "articleDate": articleDate,
            "footnote":  true
          })
            block detailContent
        .col-md-2
          +detail-aside()
    
  block detailContentAccordions

  block bottomContent
    +purplebg-section-wrapper()
      +related-posts({
        "title": "Featured Programmes",
        "type": "press",
        "cta": {
          "name": "View all programmes",
          "url": "/programme-listing"
        },
        "items": relatedPosts
      })