extends ./base

include ../_modules/organisms/page-header/page-header
include ../_modules/organisms/standard-content/standard-content

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - pageUrl = "/standard-landing"
  - pageTitle = "Standard Landing Page"
  - pageDescription = ""
  - var sectionName = ""
  - var breadcrumbs = []
  -
    var pageHeader = {
      "image": "/images/standard/banner-img.jpg",
      "mobileImage": "/images/standard/m-banner-img.jpg"
    }
  -
    var pageItems = [
      {
        "image": "/images/standard/landing-5.jpg",
        "title": "Corporate Publications",
        "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
        "url": "#"
      }
    ] 

block content
  +page-header({
    "pageTitle": pageTitle,
    "description": pageDescription,
    "breadcrumbs": breadcrumbs,
    "sectionName": sectionName,
    "image": "/images/standard/banner-img.jpg",
    "mobileImage": "/images/standard/m-banner-img.jpg"
  })

  +standard-content({
    "__type": "landing",
    "items": pageItems
  })
    block detailContent


