extends ../_layouts/base

include ../_modules/organisms/page-banner/page-banner
include ../_modules/organisms/standard-content/standard-content

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - pageTitle = "Standard Listing Page"
  - pageDescription = "IMDA drives the growth, competitiveness and innovation of Singapore's information and communication technology (ICT) industry by nurturing local ICT enterprises."
  - var sectionName = "Regulation & Licensing"
  - var breadcrumbs = []
  -
    var pageHeader = {
      "image": "/images/standard/banner-img",
      "mobileImage": "/images/standard/m-banner-img",
      "cta": {
        "name": "View all regulations and acts",
        "url": "/regulation-listing"
      }
    }
  -
    var pageItems = [
      {
        "title": "Listing item 01",
        "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
        "url": "#"
      }
    ]
  - var callToAction = false

block content
  +page-banner({
    "pageTitle": pageTitle,
    "description": pageDescription,
    "breadcrumbs": breadcrumbs,
    "sectionName": sectionName,
    "image": pageHeader.image,
    "mobileImage": pageHeader.mobileImage,
    "cta": pageHeader.cta,
    "share": true
  })

  block beforeListContent

  +standard-content({
    "__type": "listing",
    "items": pageItems,
    "callToAction": callToAction
  })
    block detailContent


