extends ./base

include ../_modules/organisms/page-header/page-header
include ../_modules/organisms/standard-content/standard-content
include ../_modules/organisms/horizontal-accordion/horizontal-accordion
include ../_modules/organisms/accordion-sections/accordion-sections

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - pageUrl = "/who-we-are"
  - pageTitle = "Who We Are"
  - pageDescription = ""
  - var sectionName = ""
  - var breadcrumbs = []

block content
  +page-header({
    "pageTitle": pageTitle,
    "description": pageDescription,
    "breadcrumbs": breadcrumbs,
    "sectionName": sectionName,
    "image": "/images/standard/banner-img.jpg",
    "mobileImage": "/images/standard/m-banner-img.jpg",
    "ctas": [
      {
        "label": "Our team",
        "url": "#"
      },
      {
        "label": "Our accolades",
        "url": "#"
      },
      {
        "label": "Our service standards",
        "url": "#"
      }
    ]
  }).page-header--purple

  block whoWeAreContent
