mixin collapsible-content(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .collapsible-content(class=spec.__class)&attributes(attributes)
    if spec.text
      .rte
        p=spec.text

    .collapsible-content__collapsible
      .collapsible-content__collapsible__content(style="display: none;")
        if spec.isText
          .rte
            block
        else
          block
      .collapsible-content__collapsible__handle.no-desktop
        button(type="button" data-expandlabel=spec.expandLabel data-collapselabel=spec.collapseLabel)=spec.expandLabel


  // update template in accordion sections if there are any changes to this html template