// collapsible-content styles
.collapsible-content {
  margin: 0 0 48px;

  .rte {
    color: #fff;

    @include desktopMax {
      font-size: calc-em(18px);
    }
  }

  &__collapsible {
    &__content {
      margin: 16px 0 0;
      
      @include desktop {
        display: block !important;
      }
    }

    &__handle {
      text-align: center;
      margin: 36px 0 0;

      button {
        padding: 0;
        margin: 0;
        font-weight: 600;
        font-size: calc-em(18px);
        line-height: 140%;
        border: none;
        border-bottom: 2px solid $purple60;
        color: #fff;
        background-color: transparent;
      }
    }
  }
}