// summary-card styles
.summary-card {
  // border: 1px solid $borderColor;
  border-radius: 4px;
  box-shadow: $cardShadow;

  &__image {
    img {
      height: 100%;
      object-fit: cover;
      object-position: center center;
      width: 100%;
    }
  }

  &__content {
    padding: 20px 30px;

    // .btn {
    //   margin-top: 20px;
    // }
  }

  &__title {
    font-size: calc-em(30px);
    font-weight: $roman;
    margin: 10px 0;
  }
}

@media only screen and (min-width: $bpTablet) {
  .summary-card {
    display: flex;

    &__image {
      width: 50%;
    }

    &__content {
      width: 50%;
    }
  }
}

@media only screen and (min-width: $bpDesktop) {
  .summary-card {
    &__image {
      width: 40%;
    }

    &__content {
      width: 60%;
    }
  }
}
