include ../rte/rte

mixin summary-card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .summary-card
    .summary-card__image
      img(src= spec.image, alt= spec.title)
    .summary-card__content
      h2.summary-card__title= spec.title

      +rte()
        != spec.contents

      if spec.cta
          a.btn.btn-angle(href= spec.cta.url, target= (spec.cta.openNewTab) ? "_blank" : "")
            span= spec.cta.label
            span.vh= spec.title
            span.icon.icon-angle-right


