// event-card-carousel styles
.event-card-carousel {
  .row {
    &.slick-initialized {
      display: block;

      @include tabletMax {
        padding: 0 36px 0 0;
      }
    }

    .slick-slide {
      padding: 0 15px;
      float: none;
      height: auto;
    }

    .slick-list {
      @include desktopMax {
        overflow: visible !important;
      }
    }

    .slick-track {
      display: flex;
      margin-left: 0;
      margin-right: 0;
    }

    &:not(.slick-initialized) {
      > div {
        @include desktop {
          padding: 0 15px;
          max-width: 50%;
          flex: 0 0 50%;
        }
        
        > div {
          height: 100%;
        }
      }
    }
  }

  .event-listing-card {
    .event-listing-card__image {
      @include aspect-ratio(288, 186, 100%);
      
      @include desktop {
        @include aspect-ratio(607, 227, 100%);
      }
    }
  }

  .imda-carousel__controls {
    margin: 20px 0 0;
    
    @include desktop {
      justify-content: flex-start;
      gap: 50px;
    }
    
    [data-carousel-dots] {
      color: #fff;

      li {
        &.slick-active {
          .dot-indicator {
            background-color: #fff;
          }
        }

        .dot-indicator {
          border-color: #fff;
        }

        .dot-page {
          color: #fff;
        }
      }
    }

    [data-carousel-pager] {
      color: #fff;
  
      @include desktop {
        display: none;
      }
    }

    [data-carousel-arrows] {
      .slick-arrow {
        border: 1px solid #fff;
        background-color: transparent;
        
        &.slick-disabled {
          border-color: #fff;
          color: #fff;
        }
      }
    }
  }
}