mixin event-card-carousel(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .event-card-carousel(class=spec.__class)&attributes(attributes)
    .row(data-carousel)
      each event in spec.events
        div
          +event-listing-card({
            "url": event.url,
            "image": event.image,
            "signature": event.signature,
            "whiteLabel": event.whiteLabel,
            "type": event.type,
            "date": event.date,
            "title": event.title,
            "description": event.description
          })
    .imda-carousel__controls.imda-carousel__controls--event-card-carousel
      div(data-carousel-arrows)
      div.desktop-only(data-carousel-dots)
      div.no-desktop(data-carousel-pager)