include ../../atoms/buttons/buttons

mixin child-card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  a.child-card(href= spec.url, class=spec.__class)&attributes(attributes)
    if (spec.category)
      .child-card__category= spec.category
    h3.child-card__title= spec.title
    if (spec.description)
      p.child-card__desc= spec.description
    if (spec.ctaLabel)
      +ui-button({
        "label": spec.ctaLabel,
        "hiddenLabel": spec.title
      }).btn-primary--inverse
    else
      span.right-arrow
        +right-arrow
      span.closed Closed