// child-card styles
.child-card {
  $p: &;
  background: #fff;
  border: 1px solid $borderGray2;
  color: $textBlack;
  display: block;
  margin-bottom: 20px;
  padding: 24px 24px 54px;
  position: relative;
  text-decoration: none;
  overflow: hidden;

  &--no-arrow {
    padding-bottom: 80px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 3px;
    z-index: 1;
    background-color: $primaryPurple;
    transition: width 0.35s ease-in-out;

    @include nohover {
      width: 100%;
    }
  }

  @include hover {
    &:hover {
      // background: $background;
      box-shadow: $purpleShadowDark;
      &::before {
        width: 100%;
      }
  
      #{$p}__title {
        color: $purple;
      }

      button.btn {
        background-color: $profilePurple;
      }
    }
  }

  &__category {
    color: $primaryPurple;
    font-size: calc-em(14px);
    font-weight: $medium;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  &__title {
    font-size: calc-em(20px);
    padding-right: 25px;
    font-weight: 600;
    margin: 0px;
    transition: color .25s ease-in-out;
  }

  &__desc {
    font-size: calc-em(16px);
    font-weight: $roman;
    margin: 0;
    padding-top: 10px;
  }

  button.btn {
    margin: 20px 0 20px;
    position: absolute;
    bottom: 18px;
  }

  .closed {
    display: none;
    background-color: $borderGray2;
    color: white;
    margin-top: 10px;
    width: 120px;
    padding: 0 0 2px 0;
    height: 68px;
    border-radius: 0;
    align-items: flex-end;
    justify-content: center;
    transform: rotate(45deg) translateY(-60px) translateX(10px);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
  }
  &__closed {
    .closed {
      display: flex;
    }

    .icon {
      color: $grey;
    }
    &:hover {
      .child-card__desc {
        color: black;
      }
      .icon {
        color: $red;
      }
    }
  }
}
