extends ../../_layouts/standard-detail

block append config
  - baseUrl = "../../"
  - pageUrl = "/organisation-structure/senior-management"
  - var pageData = site.data.standardDetail.seniorManagement
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts

block detailContent
  +rte()
    h2 The IMDA Senior Management seeks to ensure that IMDA's work in the infocomm media sector contributes towards Singapore's economic growth, industry development goals and fostering a cohesive and inclusive society.

  .row
    .col-sm-6
      +name-card({
        "salutation": "Mr",
        "name": "Lew Chuen Hong",
        "image": "https://www-imda-revamp-gov-sg.cwp.sg/-/media/Imda/Images/Content/About/Lew-Chuen-Hong.jpg",
        "designation": "<p>Chief Executive Officer <br /><br /> Commissioner <br/> Personal Data Protection Commission</p>",
        "cta": {
          "url": "/detail-page",
          "label": "CEO Office"
        }
      })
    .col-sm-6
      +name-card({
        "salutation": "Mr",
        "name": "Terence Chia",
        "image": "/images/senior-management/leong-keng-thai.jpg",
        "designation": "<p>Acting Assistant Chief Executive (Corporate) / <br /> Cluster Director (Human Capital Cluster) </p>",
        "cta": {
          "url": "/detail-page",
          "label": "CEO Office"
        }
      })
    .col-sm-6
      +name-card({
        "salutation": "Ms",
        "name": "Aileen Chia",
        "image": "/images/senior-management/Ms Aileen Chia.jpg",
        "designation": "<p>Deputy Chief Executive <br /> <span style='font-weight:200;'>Policy, Regulations & Competition Development</span></p><p>Director-General <br /> <span style='font-weight:200;'>Telecoms & Post</span></p>",
        "cta": {
          "url": "/detail-page",
          "label": "CEO Office"
        }
      })
    .col-sm-6
      +name-card({
        "salutation": "Ms",
        "name": "Jane Lim",
        "image": "/images/senior-management/jane-lim.jpg",
        "designation": "<p>Assistant Chief Executive</p>",
        "cta": {
          "url": "/detail-page",
          "label": "CEO Office"
        }
      })
    .col-sm-6
      +name-card({
        "salutation": "Mr",
        "name": "Howie Lau",
        "image": "/images/senior-management/Mr Howie Lau.jpg",
        "designation": "<p>Chief Industry Development Officer <br /> <span style='font-weight:200;'>Industry Development</span></p>",
        "cta": {
          "url": "/detail-page",
          "label": "CEO Office"
        }
      })
    .col-sm-6
      +name-card({
        "salutation": "Mr",
        "name": "Yeong Zee Kin",
        "image": "/images/senior-management/yeong-zee-kin.jpg",
        "designation": "<p>Assistant Chief Executive <br /> <span style='font-weight:200;'>Data Innovation and Protection</span></p><p>Deputy Commissioner <br /> <span style='font-weight:200'>Personal Data Protection Commission</span></p>",
        "cta": {
          "url": "/detail-page",
          "label": "CEO Office"
        }
      })
    .col-sm-6
      +name-card({
        "salutation": "Mr",
        "name": "Philip Heah",
        "image": "/images/senior-management/philip-heah.jpg",
        "designation": "<p>Assistant Chief Executive <br /> <span style='font-weight:200;'>Technology & Infrastructure</span></p>",
        "cta": {
          "url": "/detail-page",
          "label": "CEO Office"
        }
      })
    .col-sm-6
      +name-card({
        "salutation": "Ms",
        "name": "Koh Li-Na",
        "image": "/images/senior-management/koh-li-na.jpg",
        "designation": "<p>Assistant Chief Executive <br /> <span style='font-weight:200;'>Planning</span></p>",
        "cta": {
          "url": "/detail-page",
          "label": "CEO Office"
        }
      })
