mixin content-listing(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .content-listing(class=spec.__class)&attributes(attributes)
    - for (var i = 0; i < 11; ++i) {
      .col-6
        .content-list-item  
          .col-6
            .item-image
              img(src="http://place-hold.it/300x200", alt="")
          .col-6
            .item-content
              .item-title 
                p 
                  strong Lorem ipsum dolar
              .item-description
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam iure veritatis ducimus natus eveniet magni a voluptas, eaque reprehenderit est dolorem?
              .item-link
                a(href="#") Learn more
    - }
    

