extends ../_layouts/base

include ../_modules/organisms/page-header/page-header
include ../_modules/organisms/regulation-listing/regulation-listing

block append config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var pageTitle = "Regulations & Licensing"
  - var pageDescription = "IMDA drives the growth, competitiveness and innovation of Singapore's information and communication technology (ICT) industry by nurturing local ICT enterprises."
  - var sectionName = "Regulations & Licensing"
  -
    var breadcrumbs = [
      {
        "url": "Regulations & Licensing"
      }
    ]

block content
  +page-header({
    "pageTitle": pageTitle,
    "description": '',
    "breadcrumbs": breadcrumbs,
    "sectionName": '',
    "image": "/images/standard/banner-img.jpg",
    "mobileImage": "/images/standard/m-banner-img.jpg"
  }).page-header--remove-overlay

  +regulation-listing({
    "pageUrl": "/regulations-listing",
    "items": [
      {
        "url": "/regulation-detail",
        "title": "TechSkills Accelerator",
        "topics": [
          {
            "url": "#",
            "name": "Digital Economy"
          },
          {
            "url": "#",
            "name": "Startups"
          }
        ],
        "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
        "category": "Regulations and Acts",
        "industry": "Finance",
        "color": "rose"
      },
      {
        "url": "/regulation-detail",
        "title": "CODE@SG Movement - Developing Computational Thinking As A National Capability",
        "topics": [
          {
            "url": "#",
            "name": "Digital Economy"
          },
          {
            "url": "#",
            "name": "Startups"
          }
        ],
        "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
        "category": "Standards and Guidelines",
        "industry": "Retail",
        "color": "orange"
      },
      {
        "url": "/regulation-detail",
        "title": "Media Manpower Plan",
        "topics": [
          {
            "url": "#",
            "name": "Digital Economy"
          },
          {
            "url": "#",
            "name": "Startups"
          }
        ],
        "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
        "category": "Licenses",
        "industry": "Finance",
        "color": "green"
      },
      {
        "url": "/regulation-detail",
        "title": "National Cybersecurity Postgraduate Scholarship",
        "topics": [
          {
            "url": "#",
            "name": "Digital Economy"
          },
          {
            "url": "#",
            "name": "Startups"
          }
        ],
        "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
        "category": "Licenses",
        "industry": "Media",
        "color": "green"
      },
      {
        "url": "/regulation-detail",
        "title": "National Infocomm Competition NIC",
        "topics": [
          {
            "url": "#",
            "name": "Digital Economy"
          },
          {
            "url": "#",
            "name": "Startups"
          }
        ],
        "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
        "category": "Standards and Guidelines",
        "industry": "Retail",
        "color": "orange"
      },
      {
        "url": "/regulation-detail",
        "title": "Infocomm Clubs Programme",
        "topics": [
          {
            "url": "#",
            "name": "Digital Economy"
          },
          {
            "url": "#",
            "name": "Startups"
          }
        ],
        "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
        "category": "Policies and Frameworks",
        "industry": "Media",
      },
      {
        "url": "/regulation-detail",
        "title": "Infocomm Polytechnic Scholarship",
        "topics": [
          {
            "url": "#",
            "name": "Digital Economy"
          },
          {
            "url": "#",
            "name": "Startups"
          }
        ],
        "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
        "category": "Code of Pracice",
        "industry": "Media",
        "color": "blue"
      }
    ]
  })
