include ../../molecules/short-image-card/short-image-card
include ../../molecules/section-header/section-header

mixin three-col-imgcard(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.three-col-imgcard 
    .container
      +section-header({
        "title": spec.title
      })
    
      .row.three-col-imgcard__listing(data-carousel)
        each item in spec.items
          .col-md-4
            .three-col-imgcard__item 
              +short-image-card(item)
      .imda-carousel__controls.imda-carousel__controls--dotsbar
        //- div.desktop-only(data-carousel-arrows)
        div(data-carousel-dots)

      if (spec.cta) 
        div.cta
          +button({
            "url": spec.cta.url,
            "label": spec.cta.name
          })