// three-col-imgcard styles
.three-col-imgcard {

  .container {
    padding-top: 32px;
    padding-bottom: 40px;

    @include desktop {
      padding-top: 40px;
      padding-bottom: 48px;
    }
  }

  [data-carousel] {
    margin-bottom: 14px;

    @include desktop {
      margin-bottom: 0;
    }
  }

  .slick-list {
    display: flex;
  }

  .slick-track {
    display: flex;
  }

  &__item {
    height: 100%;
    transition: all .25s ease-in-out;

    .short-image-card {
      height: 100%;
    }

    @include hover {
      &:hover {
        box-shadow: $purpleShadowDark;
      }
    }
  }

  .cta {
    margin-top: 40px;
    text-align: center;
  }
}