// site-header styles
.site-header {
  $p: &;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;

  @include desktop {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  }
  
  &.trip-active {
    z-index: 100000;
    pointer-events: none;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.35);
      z-index: 1;
    }

    & + main {
      @include desktopMax {
        position: relative;
        z-index: -1;
      }
    }

    .site-header__inner {
      @include desktopMax {
        z-index: 100000;

        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0,0,0,0.35);
          z-index: 1;
        }
      }
    }
  }

  .is-homepage & {
    &.site-header--top {
      box-shadow: none;

      .site-logo {
        .site-logo--top {
          display: block;
        }
        
        .site-logo--default {
          display: none;
        }
      }
  
      .btn-toggle-search {
        color: #fff;
      }

      .btn-toggle-menu {
        .line {
          background-color: #fff;
        }
      }

      .profile-indicator {
        background-color: transparent;
        border: 1px solid #fff;
      }
  
      #{$p}__main {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
      
        &::after {
          content: none;
        }
      }
      
      .site-nav__lvl1 {
        > li {
          > a,
          > button {
            @include desktop {
              color: #fff;
            }
          }
        }
      }
    }

    &:hover,
    &.active {
      .site-logo {
        .site-logo--top {
          display: none;
        }
      
        .site-logo--default {
          display: block;
        }
      }
  
      .btn-toggle-search {
        color: $primaryPurple;
      }

      .btn-toggle-menu {
        .line {
          background-color: $primaryPurple;
        }
      }

      #{$p}__main {
        background: #fff;
      }
      
      .site-nav__lvl1 {
        > li {
          > a,
          > button {
            @include desktop {
              color: $textBlack;
            }
          }
        }
      }
    }

    .profile-indicator {
      &.active {
        color: $textBlack;
        background-color: #fff;

        svg path {
          stroke: $textBlack;
        }

        & ~ .mobile-angle-up {
          display: block;
        }
      }
    }
  }
  
  .container:not(.sgds-masthead-content) {
    display: flex;
  }

  .btn-toggle-search {
    background-color: transparent;
    border: 0;
    padding: 7px 10px 5px;
    font-size: calc-em(20px);
    position: absolute;
    width: 48px;
    height: 48px;
    top: 50%;
    right: 6px;
    transform: translate(0, -50%);
    padding: 0;
    color: $primaryPurple;
    transition: color 0.25s ease-in-out;
    
    @include lgDesktop {
      right: calc(50% - 709px);
    }
  }

  .btn-toggle-menu {
    background-color: transparent;
    border: 0;
    height: 48px;
    outline: 0;
    position: relative;
    width: 48px;

    @include desktopMax {
      position: absolute;
      top: 9.5px;
      right: 7.5px;
    }

    .line {
      background-color: $primaryPurple;
      border-radius: 2px;
      display: inline-block;
      height: 3px;
      margin: auto;
      position: absolute;
      top: 22.5px;
      left: 12.5px;
      transition: opacity .25s ease-in-out, transform .25s ease-in-out;
      width: 23px;

      &:nth-child(2) {
        transform: translateY(-7px);
      }

      &:nth-child(3) {
        transform: translateY(7px);
      }
    }

    &.active {
      .line {
        &:nth-child(2) {
          transform: translateY(0);
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translateY(0);
          opacity: 0;
        }

        &:nth-child(4) {
          transform: rotate(-45deg);
        }

        &:nth-child(5) {
          transform: rotate(45deg);
        }
      }
    }
  }

  .site-logo {
    display: block;
    width: 142px;
    
    .site-logo--top {
      display: none;
    }
    
    @include desktop {
      flex: 0 0 132px;
      padding: 22px 0;
    }

    @include lgDesktop {
      flex: 0 0 142px;
    }

    img {
      width: 100%;
      display: block;
      transition: opacity 0.25s ease-in-out;
    }
  }
  
  &__main {
    padding: 16px 0;
    position: relative;
    background: #fff;
    transition: all 0.25s ease-in-out;

    @include desktopMax {
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 2px 6px rgba(0,0,0,0.15);
        pointer-events: none;
      }
    }
    
    @include desktop {
      padding: 0;
    }
    
    > .container {
      position: static;
    }
  }

  &__mobile-ui {
    .profile-icon {
      visibility: visible;
      position: absolute;
      top: 22px;
      right: 90px;
      z-index: 2;
      pointer-events: none;

      @include desktop {
        visibility: hidden;
      }

      svg {
        min-height: 21px;
        max-width: 25px;
        margin-bottom: 10px;
        scale: 1.2;

        path {
          stroke: $imdaWhite;
        }
      }
    }

    .mobile-angle-up {
      display: none;
      position: absolute;
      scale: 0.85;
      top: 50px;
      right: 95px;
      z-index: 3;

      @include desktop {
        display: none;
      }
    }

    .icon {
      color: #fff;
      font-size: calc-em(24px);
      font-weight: 100;
      position: absolute;
      top: 47px;
      right: 90px;
      visibility: visible;
      z-index: 3;
      pointer-events: none;
      scale: 1;

      @include desktop {
        visibility: hidden;
      }
    }

    .placeholder-angle-down {
      font-size: calc-em(24px);
      font-weight: 100;
      position: absolute;
      top: 46px;
      right: 96px;
      visibility: visible;
      z-index: 3;
      pointer-events: none;

      @include desktop {
        visibility: hidden;
      }
    }

    .profile-indicator {
      font-size: calc-em(10px);
      position: absolute;
      top: 40px;
      right: 60px;
      font-weight: 500;
      transform: translate(0, -50%);
      color: #fff;
      text-align: center;
      background-color: transparent;
      height: 120%;
      width: 85px;
      border-radius: 0 0 8px 8px;
      padding: 16px 16px 24px 16px;
      z-index: 1;
      
      // &::after {
      //   @include icomoon('\e91c');
      //   font-size: calc-em(6px, 14px);
      //   position: absolute;
      //   top: 50%;
      //   transform: translateY(-50%);
      //   right: 10px;
      //   transition: transform .25s ease-in-out;
      //   visibility: visible;
      // }

      // &.active {
      //   &::after {
      //     visibility: hidden;
      //   }
      // }

      @include desktop {
        display: none;
      }

      // @include mobileMax {
      //   padding: 16px 16px 16px 12px;

      //   & .icon {
      //     font-size: calc-em(5px, 10px);
      //   }
      // }

      &.active {
        background-color: #fff;
        color: $textBlack;
        z-index: 1;

        & ~ .mobile-angle-up {
          display: block;
        }
      }

      &.purpleShadow {
        box-shadow: $purpleShadowDark;
      }

      &.maroonShadow {
        box-shadow: $maroonShadowDark;
      }

      &.turquoiseShadow {
        box-shadow: $turquoiseShadowDark;
      }
    }

    .hide {
      display: none;
    }

    .defaultIcon {
      top: 12px;

      svg {
        scale: 2.5;

        path {
          stroke: $textBlack;
        }
      }

      @include desktop {
        display: none;
      }
    }

    .darkIcon {
      svg {
        path {
          stroke: $textBlack;
        }
      }
    }
  }

  &__inner {
    display: block;
    transition: background-color 0.25s ease-in-out;
    
    @include desktopMax {
      background-color: #fff;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: calc(100vh - 98px);
      height: calc(calc(var(--vh, 1vh) * 100) - 98px);
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      transition: all 0.25s ease-in-out;
      z-index: 999;
    }

    @include desktop {
      position: relative;
      padding: 0 153px 0 0;
      flex: 0 0 calc(100% - 132px - 32px); // minus logo and search button one side padding 14px
      max-width: calc(100% - 132px - 32px);
    }
    
    @include lgDesktop {
      margin: 0 0 0 16px;
      padding: 0 169px 0 0;
      flex: 0 0 calc(100% - 142px - 58px);
      max-width: calc(100% - 142px - 58px);
    }

    &.active {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__profile {
    position: relative !important;
    
    @include desktop {
      position: absolute !important;
      top: 0;
      right: 0;

      .container {
        padding: 0;
      }
    }

    &.active {
      button {
        background-color: #fff !important;
        color: $textBlack;
        z-index: 2;

        .icon {
          transform: scaleY(-1);
        }

        @include desktop {
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
        }

        @include desktopMax {
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
        }
      }

      nav {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }

      .icon-angle-down {
        visibility: hidden;
        z-index: 3;
      }

      .spacer {

        @include desktop {
          visibility: visible;
          position: absolute;
          background-color: #fff;
          height: 8px;
          bottom: -7px;
          width: 100%;
          z-index: 5;
          transition: all 0.25s ease-in;
        }
      }
    }
    
    button {
      display: none;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 20px;
      color: #fff;
      cursor: pointer;
      border: none;
      transition: all 0.25s ease-in-out;
      border-radius: 0 0 8px 8px;

      @include desktop {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        width: 112px;
        height: 97px;
        padding: 5px 20px 0 20px;
        font-size: calc-em(13px);
        line-height: normal;
      }
      
      // @include lgDesktop {
      //   width: 112px;
      //   height: auto;
      //   padding: 20px 20px 0 20px;
      // }

      .icon {
        margin: 0;
        transition: all 0.25s ease-in-out;

        @include desktop {
          font-size: calc-em(30px);
        }

        @include desktopMax {
          font-size: calc-em(36px);
        }
      }

      svg {
        min-height: 21px;
        margin-bottom: 5px;
        scale: 1.2;
        pointer-events: none;

        path {
          stroke: $imdaWhite;
        }

        @include desktopMax {
          min-height: 50px;
          scale: 1.5;
        }
      }

      &.purpleShadow {
        box-shadow: $purpleShadowDark;
      }

      &.maroonShadow {
        box-shadow: $maroonShadowDark;
      }

      &.turquoiseShadow {
        box-shadow: $turquoiseShadowDark;
      }

      .hide {
        display: none;
      }
    }

    nav {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      width: 100%;
      opacity: 0;
      background-color: #fff;
      z-index: 1;
      visibility: hidden;
      pointer-events: none;
      transition: all 0.25s ease-in-out;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      font-size: calc-em(13px);

      @include desktopMax {
        width: 100%;
        left: 0px;
        position: fixed;
        top: 100px;
        pointer-events: auto;
      }

      &.purpleShadow {
        box-shadow: $purpleShadowDark;
      }

      &.maroonShadow {
        box-shadow: $maroonShadowDark;
      }

      &.turquoiseShadow {
        box-shadow: $turquoiseShadowDark;
      }
    }

    ul {
      border-radius: 0 0 8px 8px;
      
      @include normalise-list;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);

      @include desktopMax {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
      }
    }

    li {
      display: flex;
      width: 100%;
      align-items: center;
      text-align: left;
      cursor: pointer;
      padding: 10px 30px;
      
      @include desktop {
        display: list-item;
        text-align: center;
        padding: 10px 0;
      }

      &.purple {
        &.active,
        &:hover {
          background-color: $purple20;
        }

        &.active::after {
          color: $primaryPurple;
        }
      }

      &.maroon {
        &.active,
        &:hover {
          background-color: $maroon20;
        }

        &.active::after {
          color: $primaryMaroon;
        }
      }

      &.turquoise {
        &.active,
        &:hover {
          background-color: $turquoise20;
        }

        &.active::after {
          color: $primaryTeal;
        }
      }

      &:nth-child(2) {
        @include desktop {
          padding-top: 20px;
        }
      }

      &:last-child {
        padding: 0;
        display: none;

        @include desktop {
          display: list-item;
        }
      }

      @include desktop {
        text-align: center;
      }
      
      .icon {
        font-size: calc-em(25px);

        @include desktop {
          font-size: calc-em(30px);
        }
      }
    }

    .darkIcon {
      svg {
        path {
          stroke: $textBlack;
        }
      }
    }

    .spacer {
      visibility: hidden;
      background-color: transparent;
    }

    .label {
      padding: 20px 30px;
      font-size: calc-em(12px);
      font-weight: 500;
      color: #fff;

      @include desktop {
        display: none;
      }
    }

    a {
      padding: 10px 16px 10px 16px;
      font-size: calc-em(14px);
      display: block;
      color: $textBlack;
      text-decoration: none;
      transition: all 0.25s ease-in-out;
      position: relative;
      width: 100%;

      @include desktop {
        padding: 5px 16px 10px 16px;
      }

      // &.active {
      //   &::after {
      //     @include icomoon('\e90e');
      //     position: absolute;
      //     right: 16px;
      //     top: 50%;
      //     transform: translateY(-50%);

      //     @include desktop {
      //       display: none;
      //     }
      //   }
      // }

      &.purple {
        color: $textBlack;

        @include desktop {
          color: $primaryPurple;
        }

        &.active,
        &:hover {
          background-color: $purple20;
        }

        &.active::after {
          color: $primaryPurple;
        }
      }

      &.maroon {
        color: $textBlack;

        @include desktop {
          color: $primaryMaroon;
        }
        
        &.active,
        &:hover {
          background-color: $maroon20;
        }

        &.active::after {
          color: $primaryMaroon;
        }
      }

      &.turquoise {
        color: $textBlack;

        @include desktop {
          color: $primaryTeal
        }

        &.active,
        &:hover {
          background-color: $turquoise20;
        }

        &.active::after {
          color: $primaryTeal;
        }
      }

      @include desktop {
        text-align: center;
      }
    }
  }
}
