include ../../molecules/site-nav/site-nav
include ../../molecules/site-search/site-search
include ../../molecules/mega-menu/mega-menu
include ../../molecules/notification/notification
include ../../organisms/sgds-masthead/sgds-masthead
  
mixin site-header(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  - var selectedProfile = (profile === 'profile0') ? 'Businesses' : (profile === 'profile1') ? 'Businesses' : (profile === 'profile2') ? 'Students & Professionals' : 'Society & Seniors'

  if !isHome
    script#navData(type="application/json").
      [
        {
          "nav":[
            {
              "name":"About IMDA",
              "image":"/Cwp/assets/imda/images/lvl1.jpg",
              "url":"/who-we-are",
              "description":"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat quos repellendus officia facilis commodi vero!",
              "children":[
                {
                  "name":"About IMDA",
                  "url":"/about-imda",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
                },
                {
                  "name":"Careers",
                  "url":"/detail-page",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
                },
                {
                  "name":"Media Room",
                  "url":"/newsroom",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
                },
                {
                  "name":"Corporate Publications",
                  "url":"/standard-listing",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
                },
                {
                  "name":"International Relations",
                  "url":"/standard-listing",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
                },
                {
                  "name":"Contact Us",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?",
                  "url":"/detail-page"
                },
                {
                  "name":"FAQs",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?",
                  "url":"/detail-page"
                }
              ]
            },
            {
              "name":"Programmes & Grants",
              "image":"/Cwp/assets/imda/images/lvl1.jpg",
              "url":"/digital-landscape",
              "description":"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat quos repellendus officia facilis commodi vero!",
              "children":[
                {
                  "name":"Overview",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/detail-page"
                },
                {
                  "name":"Digitalising Singapore - SG Digital",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/detail-page"
                },
                {
                  "name":"Services 4.0",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/detail-page"
                }
              ]
            },
            {
              "name":"Regulations & Licences",
              "image":"/Cwp/assets/imda/images/lvl1.jpg",
              "url":"/industry-support",
              "description":"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat quos repellendus officia facilis commodi vero!",
              "children":[
                {
                  "name":"Overview",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/industry-support"
                },
                {
                  "name":"Programmes",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/programme-listing?category=programmes|grants&support=organisations"
                },
                {
                  "name":"Digitalising SMEs - SMEs Go Digital",
                  "url":"/standard-listing",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg"
                }
              ]
            },
            {
              "name":"Upcoming Events",
              "image":"/Cwp/assets/imda/images/lvl1.jpg",
              "url":"/support-the-community",
              "description":"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat quos repellendus officia facilis commodi vero!",
              "children":[
                {
                  "name":"Overview",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/standard-landing"
                },
                {
                  "name":"Programmes",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/programme-listing?category=programmes|grants&support=individuals"
                },
                {
                  "name":"Digital Readiness",
                  "url":"/digital-readiness",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
                },
                {
                  "name":"Personal Data Protection",
                  "url":"/detail-page",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg"
                }
              ]
            },
            {
              "name":"IMpact Stories",
              "image":"/Cwp/assets/imda/images/lvl1.jpg",
              "url":"/regulations-landing",
              "description":"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat quos repellendus officia facilis commodi vero!",
              "children":[
                {
                  "name":"Overview",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/regulations-landing"
                },
                {
                  "name":"Regulations",
                  "url":"/regulations-listing?category=allRegulations|regulations|policies|consultations|codes|standards|enforcement",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
                },
                {
                  "name":"Licenses",
                  "url":"/regulations-listing?category=licenses",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
                }
              ]
            },
            {
              "name":"Newsroom",
              "image":"/Cwp/assets/imda/images/lvl1.jpg",
              "url":"/news-events",
              "description":"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat quos repellendus officia facilis commodi vero!",
              "children":[
                {
                  "name":"Overview",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/standard-landing"
                },
                {
                  "name":"Infocomm & Media News",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/news-listing"
                },
                {
                  "name":"Media Releases",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/newsroom?type=media"
                },
                {
                  "name":"Speeches",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/newsroom?type=speeches"
                },
                {
                  "name":"Our Signature Events",
                  "url":"/news-events/key-events",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
                },
                {
                  "name":"Upcoming Events",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/events-listing"
                }
              ]
            }
          ]
        },
        {
          "nav":[
            {
              "name":"Programmes & Grants",
              "image":"/Cwp/assets/imda/images/lvl1.jpg",
              "url":"/digital-landscape",
              "description":"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat quos repellendus officia facilis commodi vero!",
              "children":[
                {
                  "name":"Overview",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/detail-page"
                },
                {
                  "name":"Digitalising Singapore - SG Digital",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/detail-page"
                },
                {
                  "name":"Services 4.0",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/detail-page"
                }
              ]
            },
            {
              "name":"Upcoming Events",
              "image":"/Cwp/assets/imda/images/lvl1.jpg",
              "url":"/support-the-community",
              "description":"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat quos repellendus officia facilis commodi vero!",
              "children":[
                {
                  "name":"Overview",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/standard-landing"
                },
                {
                  "name":"Programmes",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/programme-listing?category=programmes|grants&support=individuals"
                },
                {
                  "name":"Digital Readiness",
                  "url":"/digital-readiness",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
                },
                {
                  "name":"Personal Data Protection",
                  "url":"/detail-page",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg"
                }
              ]
            },
            {
              "name":"IMpact Stories",
              "image":"/Cwp/assets/imda/images/lvl1.jpg",
              "url":"/regulations-landing",
              "description":"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat quos repellendus officia facilis commodi vero!",
              "children":[
                {
                  "name":"Overview",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/regulations-landing"
                },
                {
                  "name":"Regulations",
                  "url":"/regulations-listing?category=allRegulations|regulations|policies|consultations|codes|standards|enforcement",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
                },
                {
                  "name":"Licenses",
                  "url":"/regulations-listing?category=licenses",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
                }
              ]
            },
            {
              "name":"About IMDA",
              "image":"/Cwp/assets/imda/images/lvl1.jpg",
              "url":"/who-we-are",
              "description":"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat quos repellendus officia facilis commodi vero!",
              "children":[
                {
                  "name":"About IMDA",
                  "url":"/about-imda",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
                },
                {
                  "name":"Careers",
                  "url":"/detail-page",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
                },
                {
                  "name":"Media Room",
                  "url":"/newsroom",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
                },
                {
                  "name":"Corporate Publications",
                  "url":"/standard-listing",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
                },
                {
                  "name":"International Relations",
                  "url":"/standard-listing",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
                },
                {
                  "name":"Contact Us",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?",
                  "url":"/detail-page"
                },
                {
                  "name":"FAQs",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?",
                  "url":"/detail-page"
                }
              ]
            },
            {
              "name":"Regulations & Licences",
              "image":"/Cwp/assets/imda/images/lvl1.jpg",
              "url":"/industry-support",
              "description":"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat quos repellendus officia facilis commodi vero!",
              "children":[
                {
                  "name":"Overview",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/industry-support"
                },
                {
                  "name":"Programmes",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/programme-listing?category=programmes|grants&support=organisations"
                },
                {
                  "name":"Digitalising SMEs - SMEs Go Digital",
                  "url":"/standard-listing",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg"
                }
              ]
            },
            {
              "name":"Newsroom",
              "image":"/Cwp/assets/imda/images/lvl1.jpg",
              "url":"/news-events",
              "description":"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat quos repellendus officia facilis commodi vero!",
              "children":[
                {
                  "name":"Overview",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/standard-landing"
                },
                {
                  "name":"Infocomm & Media News",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/news-listing"
                },
                {
                  "name":"Media Releases",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/newsroom?type=media"
                },
                {
                  "name":"Speeches",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/newsroom?type=speeches"
                },
                {
                  "name":"Our Signature Events",
                  "url":"/news-events/key-events",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
                },
                {
                  "name":"Upcoming Events",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/events-listing"
                }
              ]
            }
          ]
        },
        {
          "nav":[
            {
              "name":"Newsroom",
              "image":"/Cwp/assets/imda/images/lvl1.jpg",
              "url":"/news-events",
              "description":"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat quos repellendus officia facilis commodi vero!",
              "children":[
                {
                  "name":"Overview",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/standard-landing"
                },
                {
                  "name":"Infocomm & Media News",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/news-listing"
                },
                {
                  "name":"Media Releases",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/newsroom?type=media"
                },
                {
                  "name":"Speeches",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/newsroom?type=speeches"
                },
                {
                  "name":"Our Signature Events",
                  "url":"/news-events/key-events",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
                },
                {
                  "name":"Upcoming Events",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/events-listing"
                }
              ]
            },
            {
              "name":"Upcoming Events",
              "image":"/Cwp/assets/imda/images/lvl1.jpg",
              "url":"/support-the-community",
              "description":"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat quos repellendus officia facilis commodi vero!",
              "children":[
                {
                  "name":"Overview",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/standard-landing"
                },
                {
                  "name":"Programmes",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/programme-listing?category=programmes|grants&support=individuals"
                },
                {
                  "name":"Digital Readiness",
                  "url":"/digital-readiness",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
                },
                {
                  "name":"Personal Data Protection",
                  "url":"/detail-page",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg"
                }
              ]
            },
            {
              "name":"IMpact Stories",
              "image":"/Cwp/assets/imda/images/lvl1.jpg",
              "url":"/regulations-landing",
              "description":"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat quos repellendus officia facilis commodi vero!",
              "children":[
                {
                  "name":"Overview",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/regulations-landing"
                },
                {
                  "name":"Regulations",
                  "url":"/regulations-listing?category=allRegulations|regulations|policies|consultations|codes|standards|enforcement",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
                },
                {
                  "name":"Licenses",
                  "url":"/regulations-listing?category=licenses",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
                }
              ]
            },
            {
              "name":"Programmes & Grants",
              "image":"/Cwp/assets/imda/images/lvl1.jpg",
              "url":"/digital-landscape",
              "description":"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat quos repellendus officia facilis commodi vero!",
              "children":[
                {
                  "name":"Overview",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/detail-page"
                },
                {
                  "name":"Digitalising Singapore - SG Digital",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/detail-page"
                },
                {
                  "name":"Services 4.0",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/detail-page"
                }
              ]
            },
            {
              "name":"About IMDA",
              "image":"/Cwp/assets/imda/images/lvl1.jpg",
              "url":"/who-we-are",
              "description":"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat quos repellendus officia facilis commodi vero!",
              "children":[
                {
                  "name":"About IMDA",
                  "url":"/about-imda",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
                },
                {
                  "name":"Careers",
                  "url":"/detail-page",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
                },
                {
                  "name":"Media Room",
                  "url":"/newsroom",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
                },
                {
                  "name":"Corporate Publications",
                  "url":"/standard-listing",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
                },
                {
                  "name":"International Relations",
                  "url":"/standard-listing",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
                },
                {
                  "name":"Contact Us",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?",
                  "url":"/detail-page"
                },
                {
                  "name":"FAQs",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "description":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?",
                  "url":"/detail-page"
                }
              ]
            },
            {
              "name":"Regulations & Licences",
              "image":"/Cwp/assets/imda/images/lvl1.jpg",
              "url":"/industry-support",
              "description":"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat quos repellendus officia facilis commodi vero!",
              "children":[
                {
                  "name":"Overview",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/industry-support"
                },
                {
                  "name":"Programmes",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg",
                  "url":"/programme-listing?category=programmes|grants&support=organisations"
                },
                {
                  "name":"Digitalising SMEs - SMEs Go Digital",
                  "url":"/standard-listing",
                  "image":"/Cwp/assets/imda/images/lvl2.jpg"
                }
              ]
            }
          ]
        }
      ]

  header.site-header.site-header--top
    +sgds-masthead
    if !isProfileLanding
      a.sr-only(href="#mainContent") Skip to main content 
      .site-header__main
        .container
          a.site-logo(href="/", title="IMDA")
            img.site-logo--top(src="/Cwp/assets/imda/images/imda-logo-white.svg", alt="IMDA Logo")
            img.site-logo--default(src="/Cwp/assets/imda/images/imda-logo.png", alt="IMDA Logo")
          .site-header__inner
            .site-header__profile
              .container
                button(type="button")
                  .profile-icon
                  span=selectedProfile
                  span.icon.icon-angle-down
                .spacer
                nav(aria-label="Persona navigation")
                  ul
                    li.label Select a profile  
                    li.purple
                      svg(xmlns="http://www.w3.org/2000/svg" width="24" height="20" fill="none" viewBox="0 0 24 20") 
                        path(stroke="#702F8A" stroke-linecap="round" stroke-miterlimit="10" d="M22.305 9.894v8.601c0 .368-.267.658-.597.658H2.293c-.33 0-.598-.295-.598-.658V9.894")
                        path(stroke="#702F8A" stroke-linecap="round" stroke-miterlimit="10" d="M10.985 13.028 1.531 9.894C1.217 9.786 1 9.47 1 9.102V4.717c0-.362.268-.657.597-.657H22.4c.333 0 .601.29.601.657v4.385c0 .363-.217.684-.531.792l-9.452 3.134M7.61 4.06l.852-2.407c.14-.393.484-.653.867-.653h5.34c.386 0 .73.26.868.653l.85 2.407")
                        path(stroke="#702F8A" stroke-linecap="round" stroke-miterlimit="10" d="M11.998 11.439c.527 0 .958.475.958 1.056v1.397c0 .581-.431 1.056-.958 1.056-.527 0-.959-.475-.959-1.056v-1.397c0-.58.431-1.056.959-1.056Z")
                      a.purple(class= (profile === 'profile1') ? 'active' : '' href= isHome ? "/business" : "#profile1") Businesses
                    li.maroon
                      svg(xmlns="http://www.w3.org/2000/svg" width="28" height="21" fill="none" viewBox="0 0 28 21") 
                        path(d="m27.28 7.247-13.139 6.247L1 7.247 14.139 1 27.28 7.247Z" stroke="#9E1B64" stroke-linecap="round" stroke-linejoin="round") 
                        path(d="M22.798 9.548v6.657l-8.331 3.864-8.334-3.864V9.877M2.281 7.576v10.52" stroke="#9E1B64" stroke-linecap="round" stroke-linejoin="round")
                      a.maroon(class= (profile === 'profile2') ? 'active' : '' href= isHome ? "/students-and-professionals" : "#profile2") Students & Professionals
                    li.turquoise
                      svg(svg xmlns="http://www.w3.org/2000/svg" width="26" height="20" fill="none" viewBox="0 0 26 20") 
                        path(stroke="#008672" stroke-linejoin="round" d="M1.004 19.343v-2.71c-.023-1.069 0-2.536 1.336-4.612.257-.34.913-1.099 1.475-1.409a9.425 9.425 0 0 1 1.195-.563c-.855-.692-2.425-2.464-2.179-4.787.288-2.719 2.46-4.189 4.638-4.26 2.179-.07 4.252 1.162 4.849 3.239.344 1.197.632 3.098-1.054 4.929l-.773.88c.831.445 2.593 1.689 3.127 3.097.668 1.76.703 2.64.738 3.485.028.676.011 1.913 0 2.71") 
                        path(stroke="#008672" stroke-linejoin="round" d="M14.027 14.226c.035-.104.122-.835 1.424-1.984.868-.766 1.435-.855 1.575-.906-.728-.594-2.065-2.115-1.855-4.108.245-2.333 2.094-3.594 3.95-3.654 1.855-.06 3.62.996 4.129 2.778.293 1.027.538 2.659-.898 4.23l-.652.754c.709.383 2.12 1.516 2.674 2.682.611 1.288.582 2.242.611 2.967.024.58.01 1.501 0 2.186")
                      a.turquoise(class= (profile === 'profile3') ? 'active' : '' href= isHome ? "/public-and-seniors" : "#profile3") Society & Seniors
                    li 
                      span.icon.icon-angle-up.close-btn
            +site-search()

            +site-nav({
              "items": spec.primaryNav
            })

          button.btn-toggle-search.desktop-only(type="button")
            span.vh Toggle search bar
            span.icon.icon-search
          div.site-header__mobile-ui 
            .profile-icon
              svg(xmlns="http://www.w3.org/2000/svg" width="24" height="20" fill="none" viewBox="0 0 24 20") 
                path(stroke="#702F8A" stroke-linecap="round" stroke-miterlimit="10" d="M22.305 9.894v8.601c0 .368-.267.658-.597.658H2.293c-.33 0-.598-.295-.598-.658V9.894")
                path(stroke="#702F8A" stroke-linecap="round" stroke-miterlimit="10" d="M10.985 13.028 1.531 9.894C1.217 9.786 1 9.47 1 9.102V4.717c0-.362.268-.657.597-.657H22.4c.333 0 .601.29.601.657v4.385c0 .363-.217.684-.531.792l-9.452 3.134M7.61 4.06l.852-2.407c.14-.393.484-.653.867-.653h5.34c.386 0 .73.26.868.653l.85 2.407")
                path(stroke="#702F8A" stroke-linecap="round" stroke-miterlimit="10" d="M11.998 11.439c.527 0 .958.475.958 1.056v1.397c0 .581-.431 1.056-.958 1.056-.527 0-.959-.475-.959-1.056v-1.397c0-.58.431-1.056.959-1.056Z")
            button.btn.profile-indicator(type="button")
            span.icon.icon-angle-down
            span.placeholder-angle-down
              svg( xmlns="http://www.w3.org/2000/svg" width="11" height="6" fill="none" viewBox="0 0 11 6")
                path(stroke="#fff" stroke-width="1.3" fill="#fff" d="M9.919 0 5.352 4.462.79 0 0 .772 5.351 6 10.703.772 9.918 0Z")
            .mobile-angle-up 
              svg(width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(path d="M1.02539 7L6.99938 1.79402L12.9665 7L14 6.09946L10.5 3.04973L7 -1.35479e-07L1.07389e-08 6.09946L1.02539 7Z" fill="#262626")
            button.btn-toggle-menu.no-desktop(type="button")
              span.vh Toggle mobile menu
              span.line
              span.line
              span.line
              span.line

        //- +site-search()

        //- +notification({
        //-   "message": "<p>This is a notification, CD!</p>"
        //- })

      //- +mega-menu({
      //-   "items": spec.primaryNav
      //- })
    if !isHome
      script#navTemplate(type="text/x-dot-template")
        | {{? it.nav}}
        +site-nav-dot
        | {{?}}