extends ../_layouts/microsite

include ../_modules/atoms/buttons/buttons
include ../_modules/molecules/social-share/social-share
include ../_modules/organisms/page-banner/page-banner
include ../_modules/organisms/standard-content-carousel/standard-content-carousel

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - pageTitle = 'Royston Tan | Producer'
  - sectionName = 'Industry Support'
  -
    breadcrumbs = [
      {
        "name": "Industry Development",
        "url": "#"
      },
      {
        "name": "Sectors",
        "url": "#"
      },
      {
        "name": "Media",
        "url": "#"
      },
      {
        "name": "Film"
      }
    ]

block content
  <section class="content">
    +page-banner({
      "pageTitle": pageTitle,
      "breadcrumbs": breadcrumbs,
      "sectionName": sectionName,
      "articleDate": "20 December 2017"
    })
    <section class="content">
      <section class="article resize">
        <div class="container">
          +social-share().social-share--horizontal
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12"><img src="http://placehold.it/200x250" class="profile__image">
              <p>Royston Tan is an award-winning filmmaker who delivers a wide repetoire that includes short films, features, documentaries and commercials. He often seeks to challenge the boundaries of societal issues through his works, but is also well-known for some of his more recent box-office favourites like 881 and 7 Letters.</p>
              <p>Royston has bagged awards such as the Granyd Prix award for the 6TM Lab Competition setment at the 29th Clermont-Ferrand International Short Film Festival 2007, Best Director at the 22ND Singapore International Film Festival and the Busan Award at its Film Festival's Asian Project Market in 2012.</p>
            </div>
          </div>
          <section class="related-film">
            <div class="container container--mw1140">
              <div class="row">
                <h2 class="related-film__title">Related Films</h2><a href="/film/directory?search=royston+ang" class="sggd-btn related-film__btn sggd-btn--standard">
                  <div class="btn-text"><span>VIEW ALL</span></div>
                  <div class="arrow">
                    <div class="arrow-wrapper"><span class="left"></span><span class="right"></span></div>
                  </div></a>
                <div class="film-listing">
                  <div class="row">
                    <div class="film-listing__item col-xs-12 col-sm-6 col-md-3"><a href="/film/detail" class="film">
                        <div class="film__image"><img src="http://placehold.it/400x200"></div>
                        <div class="film__content has-match-height">
                          <h2 class="film__title">1400</h2><span class="film__desc">By Someone</span><span class="film__tag">2017, Mandarin / Hokkien / English, Thriller</span>
                          span.right-arrow
                            +right-arrow
                        </div></a>
                    </div>
                    <div class="film-listing__item col-xs-12 col-sm-6 col-md-3"><a href="/film/detail" class="film">
                        <div class="film__image"><img src="http://placehold.it/400x200"></div>
                        <div class="film__content has-match-height">
                          <h2 class="film__title">A lullaby to the sorrowful mystery</h2><span class="film__desc">By Someone</span><span class="film__tag">2017, English, Drama</span>
                          span.right-arrow
                            +right-arrow
                        </div></a>
                    </div>
                    <div class="film-listing__item col-xs-12 col-sm-6 col-md-3"><a href="/film/detail" class="film">
                        <div class="film__image"><img src="http://placehold.it/400x200"></div>
                        <div class="film__content has-match-height">
                          <h2 class="film__title">A yellow bird</h2><span class="film__desc">By Someone</span><span class="film__tag">2017, Chinese, Thriller</span>
                          span.right-arrow
                            +right-arrow
                        </div></a>
                    </div>
                    <div class="film-listing__item col-xs-12 col-sm-6 col-md-3"><a href="/film/detail" class="film">
                        <div class="film__image"><img src="http://placehold.it/400x200"></div>
                        <div class="film__content has-match-height">
                          <h2 class="film__title">Ah boys to men: Frogmen 3</h2><span class="film__desc">By Someone</span><span class="film__tag">2017, English / Mandarin, Drama</span>
                          span.right-arrow
                            +right-arrow
                        </div></a>
                    </div>
                    <div class="film-listing__item col-xs-12 col-sm-6 col-md-3"><a href="/film/detail" class="film">
                        <div class="film__image"><img src="http://placehold.it/400x200"></div>
                        <div class="film__content has-match-height">
                          <h2 class="film__title">Ah boys to men: Frogmen 3</h2><span class="film__desc">By Someone</span><span class="film__tag">2017, English / Mandarin, Drama</span>
                          span.right-arrow
                            +right-arrow
                        </div></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>
    </section>
  </section>

