mixin social-feed(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .social-feed.viewport-animate
    .container
      h2.social-feed__title Join the conversation

      .social-feed__content
        .social-post-wrap.viewport-animate-child
          .social-post.social-post--twitter
            .social-post__header
              span.icon.icon-twitter
              a.social-post__name(href="https://twitter.com/IMDAsg") @IMDAsg
              span.social-post__date 03 Mar 2018
            .social-post__content
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla unde optio ab quisquam. Veritatis ut velit sunt accusamus delectus sed atque facilis et dolorem sint. #SGDigital <a href="http://imda.sg/2tdnWb0">http://imda.sg/2tdnWb0</a>
        .social-post-wrap.viewport-animate-child
          .social-post.social-post--facebook
            .social-post__header
              span.icon.icon-facebook
              a.social-post__name(href="https://www.facebook.com/IMDAsg/" title="IMDA SG Facebook") @IMDAsg
              span.social-post__date 03 Mar 2018
            .social-post__content
              img.social-post__img(src="/images/homepage/social-1.jpg", alt="title")
              p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem omnis facere numquam quis illo, assumenda beatae consequatur aperiam totam reprehenderit. <a href="#">#SGDigital</a>
        .social-post-wrap.viewport-animate-child
          .social-post.social-post__linkedin
            .social-post__header
              span.icon.icon-linkedin
              a.social-post__name(href="https://www.linkedin.com/company/imdasg/") @IMDAsg
              span.social-post__date 03 Mar 2018
            .social-post__content
              img.social-post__img(src="/images/homepage/social-2.jpg", alt="title")
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, cum illum est sit rem accusantium reprehenderit quae dolores cumque modi vitae laboriosam, provident repudiandae quos.
        .social-post-wrap.viewport-animate-child
          .social-post.social-post--linkedin
            .social-post__header
              span.icon.icon-linkedin
              a.social-post__name(href="https://www.linkedin.com/company/imdasg/") @IMDAsg
              span.social-post__date 03 Mar 2018
            .social-post__content
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla unde optio ab quisquam. Veritatis ut velit sunt accusamus delectus sed atque facilis et dolorem sint. #SGDigital <a href="http://imda.sg/2tdnWb0">http://imda.sg/2tdnWb0</a>
        .social-post-wrap.viewport-animate-child
          .social-post.social-post--linkedin
            .social-post__header
              span.icon.icon-linkedin
              a.social-post__name(href="https://www.linkedin.com/company/imdasg/") @IMDAsg
              span.social-post__date 03 Mar 2018
            .social-post__content
              img.social-post__img(src="/images/homepage/social-3.jpg", alt="title")
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla unde optio ab quisquam. Veritatis ut velit sunt accusamus delectus sed atque facilis et dolorem sint. #SGDigital <a href="http://imda.sg/2tdnWb0">http://imda.sg/2tdnWb0</a>
        .social-post-wrap.viewport-animate-child
          .social-post.social-post--twitter
            .social-post__header
              span.icon.icon-twitter
              a.social-post__name(href="https://twitter.com/IMDAsg") @IMDAsg
              span.social-post__date 03 Mar 2018
            .social-post__content
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla unde optio ab quisquam. Veritatis ut velit sunt accusamus delectus sed atque facilis et dolorem sint. #SGDigital <a href="http://imda.sg/2tdnWb0">http://imda.sg/2tdnWb0</a>
