// social-feed styles
.social-post {
  background: #fff;
  border-radius: 4px;
  padding: 15px;
  transition: box-shadow .5s $easeInOutExpo;

  &:hover {
    cursor: pointer;
    box-shadow: $cardShadow;
  }

  &__header {
    margin-bottom: 10px;

    .icon {
      font-size: 1.3em;
      margin-right: 15px;
      vertical-align: middle;
    }

    .icon-twitter {
      color: $twitter;
    }

    .icon-facebook {
      color: $facebook;
    }

    .icon-linkedin {
      color: $linkedin;
    }
  }

  &__name {
    color: $headerColor;
    display: inline-block;
    font-size: calc-em(13px);
    font-weight: $medium;
    position: relative;
    text-decoration: none;

    &:after {
      content: "";
      background: $headerColor;
      bottom: 0;
      height: 1px;
      left: 0;
      position: absolute;
      transform: scaleX(0);
      transform-origin: left center;
      transition: transform .25s $easeInOutExpo;
      width: 100%;
    }

    &:hover, &:focus {
      &:after {
        transform: scaleX(1);
      }
    }
  }

  &__date {
    color: $headerColor;
    font-size: calc-em(12px);
    margin-left: 10px;

    &:before {
      content: "/ ";
    }
  }

  &__content {
    font-size: calc-em(15px);

    img {
      margin-bottom: 10px;
    }

    a {
      color: $blue;
      text-decoration: none;

      &:visited {
        color: $purple;
      }

      &:hover, &:focus {
        color: $red;
        text-decoration: underline;
      }
    }

    p {
      font-size: calc-em(16px);
      font-weight: $light;
      margin: 0;
    }
  }
}

.social-feed {
  opacity: 0;
  position: relative;
  transform: translateY(40px);
  transition: transform .25s $easeInOutExpo, opacity .25s ease-in-out;

  &.in-view {
    opacity: 1;
    transform: translateY(0);
  }

  .viewport-animate-child {
    opacity: 0;
    transform: translateY(40px);
    transition: transform .25s $easeInOutExpo, opacity .25s ease-in-out;

    &.child-in-view {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__title {
    font-size: calc-em(30px);
    font-weight: $medium;
    padding-top: 20px;
    position: relative;

    &:before {
      content: "";
      background: $red;
      height: 3px;
      position: absolute;
      top: 0;
      width: 60px;
    }
  }

  &__content {
    overflow: hidden;
    width: 100%;

    .social-post-wrap {
      margin-bottom: 30px;
    }
  }
}

@media only screen and (min-width: $bpTablet) {
  .social-feed {
    &__content {
      margin: 0 -15px;

      .social-post-wrap {
        padding: 0 15px;
        width: 50%;
      }
    }
  }
}

@media only screen and (min-width: $bpDesktop) {
  .social-feed {
    padding-top: 60px;

    &:before {
      content: "@IMDAsg";
      color: #898d8d;
      font-size: calc-em(130px);
      font-weight: $heavy;
      opacity: .1;
      position: absolute;
      right: calc(((100% - #{$bpDesktop}) / 2) + 10px);
      top: 0;
    }

    &__content {
      .social-post-wrap {
        width: (100% / 3);
      }
    }
  }
}

@media only screen and (min-width: $bpLgDesktop) {
  .social-feed {
    &:before {
      right: calc(((100% - #{$bpLgDesktop}) / 2) + 10px);
    }
  }
}
