// film-details styles
.film-details {
  p {
    margin: 0 0 10px;
  }

  a {
    color: $purpleOld;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .info {
    margin: 1em 0;

    .label {
      font-weight: bold;
      width: 150px;
      padding-right: 10px;
      text-align: right;
      color: #2a2a2a;
      font-size: 1em;
      height: 100%;
      overflow: hidden;
      white-space: normal;
    }

    .text {
      width: calc(100% - 155px);
    }

    .label,
    .text {
      display: inline-block;
      vertical-align: top;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}


.film-detail,
.film-gallery {
  padding: 10px 0 20px;
}

.film-detail__title,
.film-gallery__title,
.awards__title {
  font-size: calc-em(20px);
  margin: 20px 0 15px;
  line-height: 1.2;
}

@media only screen and (max-width: $bpTablet - 1) {
  .film-details {
    .info {
      .label, .text {
        display: block;
        width: 100%;
        padding-right: 0;
        text-align: left;
      }
    }
  }
}

@media only screen and (min-width: $bpDesktop) {
  .film-detail, .film-gallery {
    padding: 20px 0 40px;
  }
}
