mixin film-details(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.film-details
    .info
      span.label Produced by
      .text
        <a href="/film/profile">Ten17p</a> (Philippines), <a href="/film/profile">EpicMedia</a> (Philippines), <a href="/film/profile">Sine Olivia Pilipinas</a> (Philippines), <a href="/film/profile">Potocol</a> (Singapore), <a href="/film/profile">Akanga Film Asia</a> (Singapore)
    .info
      span.label Producers
      .text
        p
          <a href="/film/profile">Bianca Balbuena</a> (Philippines), <a href="/film/profile">Paul Soriano</a> (Philippines), <a href="/film/profile">Jeremy Chua</a> (Singapore), <a href="/film/profile">Fran Borgia</a> (Singapore)
    .info
      .label 
        span International sales/distribution 
      .text
        <a href="/film/profile">Lav Diaz</a>
    .info
      span.label Genre
      .text
        p Historical Drama
    .info
      span.label Language
      .text
        p Tagalog, Spanish, English