mixin button(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  a.btn.btn-primary(class=spec.__class href=spec.url)&attributes(attributes)=spec.label
    svg(height="48" version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 84 48' style='enable-background:new 0 0 84 48;' xml:space='preserve')
        g#line
          line.arrow-body(fill='none' stroke='#000' stroke-width='4.8' stroke-miterlimit='10' x1='0' y1='23.8' x2='65.4' y2='23.8' pathLength="1")
        g#head
          path.arrow-head(fill='none' stroke='#000' stroke-width='4.8' stroke-miterlimit='10' d='M59.2,45.6L79.6,24L59.2,2.4' pathLength="1")

mixin button-placeholder(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.__type = spec.__type || 'button'

  span.btn.btn-primary(class=spec.__class type=spec.__type)&attributes(attributes)=spec.label
    if(spec.hiddenTitle)
      span.vh= spec.hiddenTitle
    svg(height="48" version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 84 48' style='enable-background:new 0 0 84 48;' xml:space='preserve')
      g#line
        line.arrow-body(fill='none' stroke='#000' stroke-width='4.8' stroke-miterlimit='10' x1='0' y1='23.8' x2='65.4' y2='23.8' pathLength="1")
      g#head
        path.arrow-head(fill='none' stroke='#000' stroke-width='4.8' stroke-miterlimit='10' d='M59.2,45.6L79.6,24L59.2,2.4' pathLength="1")

mixin ui-button(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.__type = spec.__type || 'button'

  button.btn.btn-primary(class=spec.__class type=spec.__type)&attributes(attributes)=spec.label
    if(spec.hiddenTitle)
      span.vh= spec.hiddenTitle
    svg(height="48" version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 84 48' style='enable-background:new 0 0 84 48;' xml:space='preserve')
      g#line
        line.arrow-body(fill='none' stroke='#000' stroke-width='4.8' stroke-miterlimit='10' x1='0' y1='23.8' x2='65.4' y2='23.8' pathLength="1")
      g#head
        path.arrow-head(fill='none' stroke='#000' stroke-width='4.8' stroke-miterlimit='10' d='M59.2,45.6L79.6,24L59.2,2.4' pathLength="1")

mixin button-dot(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  a.btn.btn-primary(class=spec.__class href="{{=it.url}}" target="{{=it.target}}")&attributes(attributes) {{=it.urltitle}}
    svg(height="48" version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 84 48' style='enable-background:new 0 0 84 48;' xml:space='preserve')
      g#line
        line.arrow-body(fill='none' stroke='#000' stroke-width='4.8' stroke-miterlimit='10' x1='0' y1='23.8' x2='65.4' y2='23.8' pathLength="1")
      g#head
        path.arrow-head(fill='none' stroke='#000' stroke-width='4.8' stroke-miterlimit='10' d='M59.2,45.6L79.6,24L59.2,2.4' pathLength="1")

mixin right-arrow(spec)
  svg(height="48" version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 84 48' style='enable-background:new 0 0 84 48;' xml:space='preserve')
    g#line
      line.arrow-body(fill='none' stroke='#000' stroke-width='4.8' stroke-miterlimit='10' x1='0' y1='23.8' x2='65.4' y2='23.8' pathLength="1")
    g#head
      path.arrow-head(fill='none' stroke='#000' stroke-width='4.8' stroke-miterlimit='10' d='M59.2,45.6L79.6,24L59.2,2.4' pathLength="1")

mixin buttons(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  a.btn.btn-primary(href="#") Primary button

  br

  a.btn.btn-angle(href="#")
    span Learn more
    span.icon.icon-angle-right

  br

  a.btn.btn-angle.btn-angle--white(href="#")
    span Learn more
    span.icon.icon-angle-right

  br

  a.btn.btn-circle(href="#")
    span.icon.icon-arrow-left

  br

  a.btn.btn-circle(href="#")
    span.icon.icon-arrow-right

  br

  a.cta-link-angle(href="#")
    span View courses
    span.icon.icon-angle-right

  br

  a.btn.btn-pill(href="#") Codes of practise

  br

  a.btn.btn-tag(href="#") Digital economy

  br

  button.btn.btn-social-share(type="button")
    span.icon.icon-share
    span.label Share

  br

  a.btn-share(href="#")
    span.icon.icon-facebook
