// buttons styles
.btn {
  border: 0;
  border-radius: 4px;
  display: inline-block;
  outline: 0;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.btn-primary {
  background-color: $primaryPurple;
  color: #fff !important;
  padding: 10px 20px;
  transition: all 0.25s ease-in-out;
  border-radius: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.35s ease-in-out;
  text-decoration: none !important;

  svg, .icon {
    margin: 0 0 0 12px;
    font-size: calc-em(14px);
    height: 14px;
    animation: leftrightctaarrow 2s linear infinite alternate;
    min-width: 24px;
  }

  .arrow-body {
    stroke: #fff;
    // stroke-dasharray: 3;
    // stroke-dashoffset: 0;
    // animation-timing-function: linear;
    // animation-duration: 4s;
    // animation-iteration-count: infinite;
  }
  
  .arrow-head {
    stroke: #fff;
    // stroke-dasharray: 3;
    // stroke-dashoffset: 2;
    // animation-timing-function: linear;
    // animation-duration: 4s;
    // animation-iteration-count: infinite;
    // animation-delay: 0.8s;
  }

  &:hover, &:focus {
    background-color: $primaryDarkPurple;
    
    // .arrow-body {
    //   animation-name: drawArrowBody;
    // }
    
    // .arrow-head {
    //   animation-name: drawArrowHead;
    // }
  }

  &--inverse {
    background-color: #fff;
    color: $primaryPurple !important;
    border: 1px solid $primaryPurple;
    padding: 5px 19px;
    text-decoration: none !important;

    .arrow-body,
    .arrow-head {
      stroke: $primaryPurple;
    }

    &:hover, &:focus {
      background-color: $profilePurple;
    }
  }
}

.btn-angle {
  background: linear-gradient(90deg, $purple2 0%, $purple3 100%);
  box-shadow: $buttonShadow;
  color: #fff;
  padding: 0 40px 0 15px;

  &:hover, &:focus {
    box-shadow: $buttonShadowHover;
  }

  span:first-child {
    display: inline-block;
    font-weight: $heavy;
    padding: 10px 0;
    text-transform: uppercase;
  }

  .icon {
    align-items: center;
    border-left: 1px solid #8a26a1;
    display: flex;
    font-size: 1.2em;
    height: 100%;
    justify-content: center;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
  }

  &--white {
    background: #fff;
    border: 1px solid $purple;
    color: $purple;

    &:hover, &:focus {
      background: darken($background, 10%);
    }

    .icon {
      border-left-color: $grey4;
    }
  }
}

.btn-circle {
  background: none;
  border: 1px solid $grey;
  border-radius: 50%;
  box-shadow: $buttonShadow;
  color: $grey;
  width: 55px;
  height: 55px;

  &:hover, &:focus {
    box-shadow: $buttonShadowHover;
  }

  .icon {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
  }
}

// .cta-link-angle {
//   display: inline-block;
//   text-decoration: none;

//   &:hover, &:focus {
//     .icon {
//       transform: translateX(8px);
//     }
//   }

//   span:first-child {
//     color: $headerColor;
//     display: inline-block;
//     font-weight: $heavy;
//     margin-right: 10px;
//     vertical-align: middle;
//   }

//   .icon {
//     background: $red;
//     border-radius: 4px;
//     color: #fff;
//     display: inline-block;
//     text-align: center;
//     transition: transform .5s $easeInOutExpo;
//     vertical-align: middle;
//   }
// }

.btn-pill {
  background: transparentize(#fff, .85);
  border: 0;
  border-radius: 15px;
  color: #fff;
  font-size: calc-em(13px);
  font-weight: $heavy;
  letter-spacing: 0.1em;
  padding: 3px 10px;
  text-transform: uppercase;

  &:hover, &:focus {
    background: #fff;
    color: $purple;
  }

  &--target {
    letter-spacing: normal;

    .icon {
      display: inline-block;
      margin-right: 5px;
    }

    .label {
      font-weight: $light;
      text-transform: none;
    }
  }
}

.btn-tag {
  background: none;
  border: 1px solid $purple;
  border-radius: 15px;
  color: $purple;
  font-size: calc-em(10px);
  font-weight: $roman;
  letter-spacing: .1em;
  padding: 4px 10px 3px;
  text-transform: uppercase;

  &:hover, &:focus {
    background: $purple;
    color: #fff;
  }
}

.btn-social-share {
  background: #fff;
  border: 1px solid $purple;
  border-radius: 40px;
  color: $purple;
  padding: 0 56px 0 28px;

  &:hover, &:focus {
    background: $purple;
    border-color: #fff;
    box-shadow: $buttonShadowHover;
    color: #fff;

    .icon {
      border-right-color: #fff;
    }
  }

  .label {
    display: inline-block;
    font-weight: $medium;
    padding: 10px 0;
  }

  .icon {
    align-items: center;
    display: flex;
    font-size: 1.1em;
    height: 100%;
    justify-content: center;
    right: 20px;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    transition: border .25s ease-in-out;
  }
}

.btn-share {
  color: $purple;
  display: inline-block;
  text-decoration: none;

  .icon {
    font-size: 1.2em;
  }
}

// button styles
.sggd-btn {
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  position: relative;
  color: $purpleOld;
  padding-right: 40px;
  transition: all 0.4s ease-in-out;

  .fa {
    display: inline-block;
  }

  &:focus {
    outline: none;
  }

  .btn-text {
    display: inline-block;
    width: 100%;
    border: 2px solid white;
    transition: all 0.4s ease-in-out;

    span {
      padding: 10px 20px;
      font-family: $font-family;
      font-weight: $black;
      font-size: calc-em(15px);
      color: white;
      display: block;
    }
  }

  .arrow {
    display: block;
    position: absolute;
    top: 0;
    right: 2px;
    padding: 7px 13px;
    height: 100%;
    border: 2px solid white;
    border-left: 0;
    transition: all 0.4s ease-in-out;

    .arrow-wrapper {
      vertical-align: bottom;
      display: inline-block;
      padding-bottom: 5px;

      span {
        display: block;
        width: 8px;
        height: 2px;
        background-color: white;
        transition: all 0.4s ease-in-out;
      }

      .left {
        transform: rotate(40deg);
      }

      .right {
        margin-top: 2px;
        transform: rotate(-40deg);
      }
    }
  }

  &--special {
    .btn-text {
      border-radius: 50px 0px 0px 50px;

      span {
        font-weight: $roman;
        text-transform: uppercase;
        font-size: calc-em(16px);
        font-weight: 400;
        padding: 10px 25px;
      }
    }

    .arrow {
      border-radius: 0px 50px 50px 0px;
      padding: 7px 15px;

      .arrow-wrapper {
        padding-bottom: 0;

        .right {
          margin-top: 4px;
        }
      }
    }
  }

  &--standard {
    border: none;
    color: $purpleOld;
    padding-right: 13px;
    border: none;

    .btn-text {
      border: none;

      span {
        color: $purpleOld;
        padding-left: 0;
        font-size: calc-em(16px);
        font-weight: $roman;
      }
    }

    .arrow {
      border: none;
      display: inline-block;
      vertical-align: middle;
      span {
        background-color: $purpleOld !important;
      }
    }

    &:hover {
      .arrow {
        transform: translateX(10px);
      }
    }
  }

  &--gradient {
    border: none;
    background: $blueOld;
    background: linear-gradient(to right, $blueOld, $greenOld);
    padding-right: 20px;

    .scf-wrapper & {
      background: #702F8A;
      padding: 10px 20px;
      transition: all .25s ease-in-out;
      border-radius: 40px;
      transition: all .35s ease-in-out;
      text-decoration: none!important;
      
      .btn-text {
        span {
          font-weight: 400;
          padding: 0;
        }
      }
    }

    .btn-text {
      border: none;
    }

    .arrow {
      border: none;
    }

    &:hover {
      .arrow{
        transform: translateX(5px);
      }
    }
  }

  &.scf-btn {
    background: linear-gradient(to right, $purpleOld, $pinkOld);
    padding-right: 25px;

    .btn-text span {
      color: #fff;
      padding: 10px 20px;
    }

    .fa {
      color: #fff;
      position: absolute;
      right: 10px;
      top: 12px;
    }
  }

  &--noicon {
    padding: 0;

    .btn-text {
      display: block;
    }
  }
}

.btn--icon {
  background-color: #fff;
  color: $primaryPurple;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  position: relative;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 600;

  .icon {
    font-size: 12px;
  }

  .label {
    display: inline-block;
    padding-left: 10px;
  }
}

.right-arrow {
  position: absolute;
  right: 32px;
  bottom: 18px;
  animation: leftrightshort 2s linear infinite alternate;

  svg {
    height: 14px;
  }
  .arrow-body,
  .arrow-head {
    stroke: $primaryPurple;
  }
}