include ../../atoms/film/film

mixin film-carousel(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.film-carousel(class=spec.__class)&attributes(attributes)
    .container.container--mw1140
      h1.title Notable Films
      .carousel.row
        each item in site.data.notable
          .carousel__item.col-xs-12.col-sm-6.col-md-4
            +film(item)
