// interest-filter styles
.interest-filter {
  background: #eee;
  position: relative;
  z-index: 1;

  .form-group {
    display: inline-block;
    margin-left: 10px;
    opacity: 0;
    position: relative;
    transform: translateY(40px);
    transition: transform .45s $easeInOutExpo, opacity .45s ease-in-out, visibility .45s ease-in-out;
    visibility: hidden;

    &.visible {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }

    label {
      display: inline-block;
      font-size: calc-em(20px);
      font-weight: $medium;
      margin-right: 5px;
    }
  }

  .custom-select {
    &__custom-dropdown {
      display: inline-block;
    }

    &.selecting {
      z-index: 2;
    }

    .custom-trigger {
      font-size: calc-em(18px);
    }
  }

  &__form {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 20px 0;

    .comma {
      display: inline-block;
      margin-left: 5px;
    }

    .btn {
      font-size: calc-em(18px);
    }
  }

  & &__option {
    display: none;
    position: absolute;

    &.shown {
      display: inline-block;
      position: relative;
    }
  }

  &__category {
    select {
      opacity: 0;
      transform: translateY(40px);
      transition: opacity .25s ease-in-out, visibility .25s ease-in-out, transform .25s $easeInOutExpo;
      visibility: hidden;

      &.shown {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
      }
      
    }
    &.inactive {
      
      label {
        color: $grey;
      }
      .custom-trigger {
        cursor: auto;
        box-shadow: none;
        .label {
          color: $grey;
        }
        .icon {
          color: $grey;
        }
      }
      .custom-list {
        visibility: hidden;
      }
    }
   
  }
  .btn {
    &.inactive {
      background: $grey;
      box-shadow: none;
      &:hover {
        box-shadow: none;
      }
    }
  }
}


@media only screen and (max-width: $bpLgDesktop - 1) {
  .interest-filter {
    .custom-select {
      &__custom-dropdown {
        min-width: 150px;
      }
    }
  }
}

@media only screen and (max-width: $bpDesktop - 1) {
  .interest-filter {

    .form-group {
      margin-bottom: 10px;
    }
  }
}

@media only screen and (max-width: $bpTablet - 1) {
  .interest-filter {
    &__form {
      .btn {
        display: block;
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: $bpTablet) {
  .interest-filter {
    .form-group {
      label {
        font-size: calc-em(26px);
      }
    }

    &__form {
      .btn {
        margin-left: 5px;
      }
    }
  }
}

@media only screen and (min-width: $bpDesktop) {
  .interest-filter {
    background: #ccc;

    .form-group {
      label {
        font-size: calc-em(18px);
      }

      .btn {
        font-size: calc-em(18px);
      }
    }

    .custom-select {
      .custom-trigger {
        font-size: calc-em(18px);
      }
    }

    &__form {
      padding: 30px 0;
      // background: transparentize(#fff, .2);
    }
  }
}
