mixin interest-filter(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .interest-filter
    .container
      .interest-filter__form
        .form-group.custom-select.interest-filter__support
          label(for="interestSupport") I'm an
          select#interestSupport(name="support")
            option(value="") Please Select
            option(value="organisations") Organisation
            option(value="individuals") Individual
        span.comma ,
        //- .form-group.custom-select.interest-filter__option.shown
        //-   label(for="interestIndusry") I'm in
        //-   select#interestIndustry(name="industry")
        //-     each industry in spec.industries
        //-       option(value= industry.value)= industry.text
        //- .form-group.custom-select.interest-filter__option
        //-   label(for="interestPersona") I'm
        //-   select#interestPersona(name="persona")
        //-     each persona in spec.personas
        //-       option(value= persona.value)= persona.text
        //- span.comma ,

        .form-group.custom-select.interest-filter__category.interest-filter__option
          label(for="organisationCategory") I'm looking for
          select#organisationCategory(name="category")
            each category in spec.organisationCategories
              option(value= category.value, data-category= category.text)= category.text
        .form-group.custom-select.interest-filter__category.interest-filter__option
          label(for="individualCategory") I'm looking for
          select#individualCategory(name="category")
            each category in spec.individualCategories
              option(value= category.value, data-category= category.text)= category.text
        .form-group.custom-select.interest-filter__category.interest-filter__option.shown.inactive
          label(for="defaultCategory") I'm looking for
          select#defaultCategory(name="default")
            option(value="") Please Select
        button.btn.btn-primary.inactive(type="button") Go
