// teaser-card styles
.teaser-card {
  $p: &;
  border: 1px solid $borderGray2;
  display: block;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  margin: 0 0 20px;
  transition: all .5s $easeInOutExpo;
  background-color: #fff;
  
  @include desktop {
    margin: 0 0 30px;
  }

  &:visited {
    #{$p}__title {
      color: $visitedLink;
    }
  }

  @include hover {
    &:hover {
      box-shadow: $purpleShadowDark;

      #{$p}__header {
        &:before {
          width: calc(100% + 80px);
        }
      }
  
      #{$p}__image img {
        transform: scale(1.1);
      }

      #{$p}__title {
        color: $primaryPurple;
      }
    }
  }

  &__header {
    position: relative;
    font-size: calc-em(14px);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: -40px;
      height: 100%;
      width: 100px;
      display: block;
      background-color: $purple10;
      transition: width 0.35s ease-in-out;
      transform: skewX(-44.02897806deg);

      @include nohover {
        width: calc(100% + 80px);
      }
    }

    > div {
      display: inline-block;
      text-transform: uppercase;
      /* height: 33px; */
      font-weight: 500;
      /* line-height: 140%; */
      letter-spacing: 0.08em;
      color: $primaryPurple;
      /* transform: skewX(-44.02897806deg); */
      padding: 5px 5px 5px 20px;
      max-width: 80%;
      position: relative;

      &::before {
        content: "";
        display: block;
        width: calc(100% + 20px);
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: $purple10;
        transform: skewX(-44.02897806deg);
      }

      &> * {
        position: relative;
      }
    }

    span {
      display: inline;
      /* transform: skewX(44.02897806deg); */
      color: $primaryPurple;
      line-height: 140%;
      font-weight: $medium;
      letter-spacing: 0.08em;
      text-transform: uppercase;
    }

    .industry {
      &:before {
        content: "/";
        font-weight: $light;
        margin: 0 10px;
      }
    }
  }

  &__content {
    padding: 24px 20px 54px;
    color: $textBlack;

    > * {
      margin: 16px 0 0;

      &:first-child {
        margin-top: 0;
      }
    }

    .pill {
      display: inline-block;
      margin: 10px 10px 0 0;
      position: relative;
      z-index: 1;
    }
  }

  &__title {
    transition: all 0.25s $easeInOutExpo;
    
    h3 {
      text-decoration: none;
      font-size: calc-em(20px);
      font-weight: 600;
      line-height: 140%;
      margin: 0;

      @include desktop {
        font-size: calc-em(22px);
      }
    }
  }

  &__target {
    .icon {
      font-size: calc-em(14px);
    }

    .label {
      margin-left: 5px;
    }
  }

  &__topics {
    margin-top: 14px;
  }

  &__link {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__image {
    //@include aspect-ratio(300, 200, 100%);
    overflow: hidden;

    img {
      //@include absolute-img;
      //@include image-cover;
      transition: all 0.5s $easeInOutExpo;
      width: 100%;
    }
  }

  &--newsroom {
    border-color: $borderGray2;
    /* Media room teaser card box-shadow version */
    /* border: none;
    box-shadow: 0px 0px 8px rgba(112, 47, 138, 0.4); */
    #{$p} {
      &__header {

        .date {
          transform: none;
          position: absolute;
          right: 0;
          top: 0;
          background-color: transparent;
          padding-right: 21px;
          &::before {
            content: none;
          }
        }
      }
    }

    #{$p}__header {
      padding-right: 160px;
    }

    &.no-border {
      border: none;

      @include hover {
        box-shadow: none;
        &:hover {
          #{$p}__image {
            &::before {
              width: 100%;
            }
          }
        }
      }

      .date {
        padding: 5px 10px;
      }

      #{$p}__header {
        padding-right: 130px;
        background-color: $grey3;
        &::before {
          content: none;
        }

        &> div {
          background-color: transparent;
          &::before {
            content: none;
          }
        }
      }

      #{$p}__content {
        padding: 16px 12px 54px;
        position: relative;

        &::after {
          content: "";
          width: 1px;
          height: calc(100% - 38px); //minus the top bottom padding
          position: absolute;
          left: 0px;
          top: 16px;
          border-left: 1px solid $borderGray;
        }
      }

      #{$p}__title {
        h3 {
          font-size: calc-em(18px);
        }
      }

      #{$p}__image {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 24px;
          height: 3px;
          z-index: 1;
          background-color: $primaryPurple;
          transition: width 0.35s ease-in-out;

          @include nohover {
            width: 100%;
          }
        }
      }
    }
  }

  &--contenthub {
    color: $imdaWhite;
    background-color: transparent;
    border-radius: 8px;

    @include hover {
      &:hover {
        box-shadow: $imdaWhite;
  
        #{$p}__title {
          color: $imdaWhite;
        }
      }
    }

    .teaser-card__header {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      overflow: hidden;
  
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -40px;
        height: 100%;
        width: 100px;
        display: block;
        background-color: $orange40;
        transition: width 0.35s ease-in-out;
        transform: skewX(-44.02897806deg);
      }
  
      > div {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.08em;
        color: $primaryPurple;
        padding: 5px 5px 5px 10px;
        max-width: 80%;
        position: relative;
  
        &::before {
          content: "";
          display: block;
          width: calc(100% + 20px);
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background-color: $orange40;
          transform: skewX(-44.02897806deg);
        }
  
        & > * {
          position: relative;
        }
      }
  
      span {
        display: inline;
        font-size: calc-em(12px);
        line-height: 140%;
        font-weight: $medium;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: $darkOrange;
      }
  
      &--teal {
        &:before,
        > div:before {
          background-color: $turquoise40;
        }
  
        span {
          color: $primaryTurquoise;
        }
      }
    }

    .teaser-card__image {
      @include aspect-ratio(300, 200, 100%);
      overflow: hidden;
      padding-top: 50%;

      img {
        @include absolute-img;
        @include image-cover;
        transition: all 0.5s $easeInOutExpo;
        width: 100%;
        height: auto;
      }
    }

    .header-readtime {
      display: inline-flex;
      position: absolute;
      align-items: center;
      background-color: $textBlack;
      border-radius: 25px;
      top: 0;
      right: 18px;
      margin-top: 40%;
      padding: 2px 22px;
      font-size: calc-em(12px);

      @include desktop {
        margin-top: 42%;
      }

      svg {
        scale: 1.3;
        margin-right: calc-em(12px);
      }

      .readtime {
        text-transform: uppercase;
        line-height: normal;
      }
    }

    .teaser-card__content{
      color: $imdaWhite;
      padding: 20px 30px 50px;

      .footer-date {
        position: absolute;
        display: flex;
        align-items: center;
        bottom: 30px;
        left: 32px;

        svg {
          margin-right: calc-em(12px);
          scale: 1.3;
        }

        .date {
          line-height: normal;
        }
      }

      .teaser-card__desc {
        margin-top: 20px;
      }

      .right-arrow {
        bottom: 30px;
        .arrow-body, .arrow-head {
          stroke: $imdaWhite;
        }
      }
    }
  }
}

.news-listing__list {
  .teaser-card {
    $p: &;
    &--newsroom {
      margin-bottom: 20px;
      .teaser-card__header {
        @media only screen and (max-width: 1200px) {
          font-size: calc-em(14px);
        }
      }
      
    }
  }
}