/* =====================
Layout
===================== */
%vh {
    @include visuallyhidden();
}

%clearfix { @include clearfix(); }

%container {
  margin: auto;
  position: relative;
  width: 100%;
  padding: 0 30px;

  @media only screen and (min-width: $bpLgDesktop) {
    padding: 0 25px;
  }
}

%list-unstyled {
  @include normalise-list;
}

.clearfix {
  @extend %clearfix;
}

.container {
  @extend %container;
  max-width: $bpLgDesktop;
}

.container-lg {
  @extend %container;
  max-width: $bpXLgDesktop;
}

.vh, .sr-only {
  @extend %vh;
}

.img-responsive {
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
  width: 100%;
}

.table-wrapper {
  &.hide-indicator {
    small {
      display: none;
    }
  }

  small {
    margin: 0 0 10px;
    font-size: calc-em(12px);
    font-weight: 500;
    line-height: 120%;
    color: $purple100;
    display: flex;
    gap: 4px;
    justify-content: end;
    align-items: center;

    span {
      margin: 0;
    }

    .icon {
      font-size: calc-em(10px, 12px);
    }
  }
}

.table-responsive {
  width: 100%;
  position: relative;
  margin-bottom: 20px !important;
  padding: 0 0 7px;

  table {
    margin: 0 !important;
  }

  &.ps {
    &.ps--active-x {
      .ps__rail-x {
        opacity: 1;
        background-color: transparent;
      }
    }
  }

  .ps__rail-y {
    display: none;
  }

  .ps__rail-x {
    height: 5px;

    .ps__thumb-x {
      height: 5px;
      background-color: $grey6;
      bottom: 0;
    }
  }
}

.hide {
  display: none;
}

.row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

.row-reverse {
  flex-direction: row-reverse;
}

[class^="col-"], [class*=" col-"] {
  width: 100%;
  padding: 0 15px;
}

[class^="col-offset-"], [class*=" col-offset-"] {
  margin: auto;
}

.tablet-only {
  display: none;
}

.desktop-only {
  display: none;
}


.align-left {
  // display: inline-block;
  // float: left;
  // clear: both;
  // margin-right: 20px !important;
}

.align-right {
  //display: inline-block;
  // float: right;
  // clear: both;
  // margin-left: 20px !important;
}

.add-border {
  border: 1px solid $borderGray2;
}


@for $i from 1 through 12 {
  .col-xs-#{$i} {
    flex: 0 0 (100% / 12 * $i);
    max-width: (100% / 12 * $i);
  }

  .col-offset-xs-#{$i} {
    margin-left: (100% / 12 * $i);
  }
}

@media only screen and (max-width: $bpTablet - 1) {
  .no-mobile {
    display: none;
  }
}

@media only screen and (min-width: $bpTablet) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      flex: 0 0 (100% / 12 * $i);
      max-width: (100% / 12 * $i);
    }

    .col-offset-sm-#{$i} {
      margin-left: (100% / 12 * $i);
    }
  }

  .mobile-only {
    display: none;
  }
}

@media only screen and (min-width: $bpTablet) and (max-width: $bpDesktop - 1) {
  .tablet-only {
    display: block;
  }

  .no-tablet {
    display: none;
  }
}

@media only screen and (min-width: $bpDesktop), print {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      flex: 0 0 (100% / 12 * $i);
      max-width: (100% / 12 * $i);
    }

    .col-offset-md-#{$i} {
      margin-left: (100% / 12 * $i);
    }
  }

  .desktop-only {
    display: block;
  }

  .no-desktop {
    display: none;
  }
}

@media only screen and (min-width: $bpLgDesktop) {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      flex: 0 0 (100% / 12 * $i);
      max-width: (100% / 12 * $i);
    }

    .col-offset-lg-#{$i} {
      margin-left: (100% / 12 * $i);
    }
  }
}




