// keyframes
@keyframes drawSVGLine {
  from{
    stroke-dashoffset: 1;
  }
  to{
    stroke-dashoffset: 0;
  }
}

@keyframes drawSVGLineReverse {
  from{
    stroke-dashoffset: 0;
  }
  to{
    stroke-dashoffset: 1;
  }
}

@keyframes drawArrowBody {
  from{
    stroke-dashoffset: 0;
  }
  to{
    stroke-dashoffset: -6;
  }
}

@keyframes drawArrowHead {
  from{
    stroke-dashoffset: 2;
  }
  to{
    stroke-dashoffset: 8;
  }
}

@keyframes drawLine {
  from{
    stroke-dashoffset: 2;
  }
  to{
    stroke-dashoffset: -1;
  }
}

@keyframes extendWidthFull {
  0% {
    width: 0%;
  }
  
  100% {
    width: 100%;
  }
}

@keyframes extendWidthDesktop {
  0% {
    width: 0%;
  }
  
  100% {
    width: calc(100% + 1px - 239px - 28px);
  }
}

@keyframes extendWidth {
  0% {
    width: 0%;
  }
  
  100% {
    width: calc(100% + 1px - 94px - 18px);
  }
}

@keyframes extendHeight {
  0% {
    height: 0%;
  }
  
  100% {
    height: 100%;
  }
}

@keyframes leftright {
  0% {
    transform: translate(0px, 0);
  }

  100% {
    transform: translate(20px, 0);
  }
}

@keyframes leftrightshort {
  0% {
    transform: translate(0px, 0);
  }

  100% {
    transform: translate(16px, 0);
  }
}

@keyframes leftrightctaarrow {
  0% {
    transform: translate(0px, 0);
  }

  100% {
    transform: translate(8px, 0);
  }
}

@keyframes rightleft {
  0% {
    transform: translate(0px, 0);
  }

  100% {
    transform: translate(-20px, 0);
  }
}

@keyframes rightleftshort {
  0% {
    transform: translate(0px, 0);
  }

  100% {
    transform: translate(-12px, 0);
  }
}

@keyframes updownshort {
  0% {
    transform: translate(0, 0px);
  }

  100% {
    transform: translate(0, 12px);
  }
}

@keyframes updown {
  0% {
    transform: translate(0, 0px);
  }

  100% {
    transform: translate(0, 20px);
  }
}

@keyframes updownshortscrolldown {
  0% {
    transform: translate(0, 0px);
  }

  100% {
    transform: translate(0, 12px);
  }
}

@keyframes downupshort {
  0% {
    transform: translate(0, -12px);
  }

  100% {
    transform: translate(0, 0px);
  }
}

@keyframes downup {
  0% {
    transform: translate(0, -20px);
  }

  100% {
    transform: translate(0, 0px);
  }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}