// print styles
@media print {
  .site-header {
    position: relative !important;
    box-shadow: none !important;

    .btn-toggle-search,
    .site-search,
    .site-nav,
    .site-header__mobile-ui {
      display: none !important;
    }

    .site-logo {
      .site-logo--top {
        display: none !important;
      }
      
      .site-logo--default {
        display: block !important;
      }
    }

    .site-header__inner {
      height: 80px !important;
    }

    .site-header__main {
      background: #fff !important;
    }
  }

  .profile-selector__intro__bg {
    video {
      display: block !important;
    }
  }

  .is-homepage {
    .main-content {
      margin: 0 !important;
    }
  }

  .introduction {
    display: block !important;
    page-break-inside: avoid;
  }

  .home-tabs,
  .stories-carousel {
    page-break-inside: avoid;
  }
  
  .home-tabs__content {

    > section {
      display: none !important;
      
      &.active { 
        display: block !important;
      }
    }
  }

  .article-gallery-carousel {
    .imda-carousel__controls {
      justify-content: space-between !important;

      [data-carousel-pager] {
        display: none !important;
      }
      
      [data-carousel-dots] {
        display: block !important;
      }
    }
  }

  .digital-blocks {
    .no-desktop {
      display: none !important;
    }

    .desktop-only {
      display: block !important;
    }
  }

  .call-to-actions {
    &.no-desktop {
      display: none !important;
    }

    &.desktop-only {
      display: block !important;
    }

    .col-sm-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  .detail-wrapper {
    .detail-content, .detail-aside {
      padding: 36px 0;
    }
  }

  .related-posts,
  .two-col-carousel,
  .three-col-imgcard {
    page-break-inside: avoid;
  }

  .news-listing__item {
    page-break-inside: avoid;
  }
}