// css theme colours
.imda-theme {
  &--purple {
    .pill {
      color: $primaryPurple;
      border-color: $primaryPurple;

      &:hover {
        background-color: $lightPurple;
      }
    }

    .standard-content {
      a:not(.child-card) {
        color: $purple100;
        &:visited {
          color: $darkPurple20;
        }
      }
    }

    .sitemap {
      a {
        color: $purple100;
        &:visited {
          color: $darkPurple20;
        }
      }
    }

    .detail-content {
      .rte a:not(.btn):not(.pill) {
        color: $purple100;
        text-decoration: underline;
        &:after {
          color: $purple100;
        }
        &:visited {
          color: $darkPurple20
        }
      }
    }

    .block-card {
      a {
        border-color: $borderPurple2;

        &:hover {
          background-color: $profilePurple;
        }
      }

      svg {
        line, path {
          stroke: $primaryPurple;
        }
      }
    }

    .site-header {
      .btn-toggle-menu {
        .line {
          background-color: $primaryPurple;
        }
      }
    }

    .site-nav {
      .site-nav__lvl1 {
        li:hover {
          .icon-chevron-right {
            color: $purple100;
          }
        }
      }
    }

    .site-nav__lvl2,
    .site-nav__lvl2__intro__bg {
      background-color: $purple10;
      svg path {
        stroke: $borderGray2;
        opacity: 0.6;
      }
    }

    &.is-homepage {
      .site-header {
        &.site-header--top {
          .btn-toggle-menu {
            .line {
              background-color: #fff;
            }
          }
        }

        &:hover,
        &.active {
          .btn-toggle-menu {
            .line {
              background-color: $primaryPurple;
            }
          }

          .profile-indicator {
            background-color: $purple100;
          }
        }

        .profile-indicator {
          &.active {
            background-color: #fff !important;
          }
        }
      }
    }

    .site-header__profile {
      .label {
        background-color: $darkerPurple;
      }

      button {
        background-color: $primaryPurple;
      }

      // &.active {
      //   button {
      //     background-color: $primaryDarkPurple;
      //   }
      // }

      nav {
        li:nth-child(2):hover {
          background-color: $purple20;
        }
        li:nth-child(3):hover {
          background-color: $maroon20;
        }
        li:nth-child(4):hover {
          background-color: $turquoise20;
        }
      }
    }

    .home-tabs__shapes path {
      stroke: $borderGray2;
      opacity: 0.6;
    }

    .profile-indicator {
      background-color: $primaryPurple;
    }

    .introduction {
      &:before {
        background-color: $darkPurple40;
      }

      @media only screen and (min-width: 1440px) {
        &:after {
          background-color: $darkPurple40;
        }
      }

      > div {
        background-color: $darkPurple40;
      }

      path {
        stroke: #fff;
        opacity: 0.6;
      }
    }

    .articles-with-questionnaire {
      @include desktopMax {
        background: $darkerPurple;
      }
    }

    .questionnaire-filters {
      &__top,
      &__bottom {
        @include desktopMax {
          background-color: $primaryPurple;
        }

        > span {
          @include desktopMax {
            color: $purple20;
          }
        }
      }

      .custom-select {
        &__custom-dropdown {
          &.selected {
            .custom-trigger {
              color: $primaryPurple;
              border-color: $purple10;
              background: $purple10;

              .icon {
                color: $primaryPurple;
              }
            }
          }

          .custom-list {
            @include desktopMax {
              border: 1px solid $purple10;

              li {
                &.active {
                  button {
                    background: $purple10;
                    color: $primaryPurple;
                  }
                }

                button {
                  color: #fff;
                  background: $primaryPurple;
                }
              }
            }

            @media (hover: hover) and (max-width: $bpDesktop - 1) {
              li {
                button {
                  &:hover {
                    background: $purple10;
                    color: $primaryPurple;
                  }
                }
              }
            }
          }
        }
      }
      .custom-trigger {
        color: #fff;
        border-color: $purple10;
        background: $primaryPurple;

        .icon {
          color: #fff;
        }
      }
    }

    .questionnaire-article-item {
      &:before {
        @include desktopMax {
          background-color: $purple80;
        }
      }
    }

    .digital-blocks {
      .article-group {
        > div {
          &:last-child {
            article {
              &:nth-last-child(2) {
                a {
                  @include desktopMax {
                    border-bottom-color: $borderPurple2;
                  }
                }
              }
            }
          }
        }
      }
    }

    .stories-carousel {
      background: linear-gradient(180deg, #431C53 0%, #702F89 100%);
    }

    .page-header {
      &__info::before {
        background: $primaryPurpleGradient;
      }
    }

    .page-banner {
      &::before {
        background: $darkPurple10;
      }

      .page-banner__line {
        &:before {
          background-color: $purple40;
        }
      }

      .page-banner__notch {
        &:before,
        &:after {
          background-color: $purple40;
        }
      }

      .page-banner__shapes {
        .logo,
        .building {
          polyline,
          path {
            stroke: $purple40;
          }
        }
      }
    }

    .checkbox {
      &:checked + label::before {
        background-color: $primaryPurple;
        border-color: $primaryPurple;
      }
    }

    .pagination:not(.pagination-js--dark) {
      .pagination__list {
        li.active a,
        li.active a:hover {
          background: $purple100;
          color: #fff;
          pointer-events: none;
        }
        li.prev-page,
        li.next-page {
          a {
            border: none;
            &:hover {
              background: $purple20;
            }
          }
        }
      }
    }

    .pagination-js--dark {
      .pagination__list {
        li.active a {
          background: #fff;
          pointer-events: none;
          &:hover {
            background: #fff;
            color: $textBlack;
          }
        }
        li.prev-page,
        li.next-page {
          a {
            color: #fff;

            &:hover {
              background: $whiteOpacity;
              color: #fff;
            }
          }
        }
        li a:hover {
          background-color: $whiteOpacity;
          color: #fff;
        }
      }
    }

    .newsletter {
      .newsletter__bg {
        svg path {
          stroke: $purple20;
        }
      }

      &:hover {
        .newsletter__bg {
          svg path {
            fill: $purple20;
          }
        }
      }
    }

    .call-to-actions {
      @include desktop {
        path {
          stroke: $purple20;
        }
      }
      .col-sm-6:hover {
        .call-to-actions__bg svg path {
          fill: $purple20;
        }
      }
    }
  }

  &--maroon {
    .profile-item {
      .arrow-body,
      .arrow-head {
        stroke: #fff;
      }
    }

    .home-tabs__content {
      .btn, .slick-arrow {
        background-color: $maroon100;

        &:hover {
          background-color: $primaryDarkMaroon;
        }
      }
      .dot-indicator {
        background-color: $maroon100 !important;
        border-color: $maroon100 !important;
      }
    }

    .home-tabs__shapes path {
      stroke: $borderGray2;
      opacity: 0.6;
    }

    .home-tabs__nav {
      .ui-handle {
        background-color: $maroon100;
      }
    }

    .partners__list {
        .slick-arrow {
          color: $maroon100;
      }
    }

    .child-card {
      &::before {
        background-color: $maroon100;
      }
      &:hover {
        box-shadow: $maroonShadowDark;
        .child-card__title {
          color: $maroon100;
        }
      }

      .child-card__category {
        color: $maroon100;
      }
      .arrow-body,
      .arrow-head {
        stroke: $maroon100;
      }
    }

    .block-card {
      a {
        border-color: $borderMaroon;

        &:hover {
          background-color: $profileMaroon;
        }
      }

      svg {
        line, path {
          stroke: $primaryMaroon;
        }
      }
    }

    .site-header {
      .btn-toggle-menu {
        .line {
          background-color: $primaryMaroon;
        }
      }
      .btn-toggle-search {
        color: $maroon100;
      }
      .search-opened {
        .icon-search {
          color: $maroon100;
        }
        .btn-search {
          background: $maroon100;
          border: 1px solid $maroon100;
          &:hover {
            background: $primaryDarkMaroon;
          }
        }
      }
      .site-search {
        .icon-search {
          color: $maroon100;
        }
        
        &__icons {
          .btn-back .icon,
          > .icon {
            color: $maroon100;
          }
        }

        .btn-search {
          color: #fff;
        }

        &__results {
          &__suggestions {
            li {
              a {
                &:hover {
                  background-color: $maroon10;
                }

                > span {
                  color: $maroon100;
                }
              }
            }
            > div {
              a {
                background-color: $maroon100;
                
                &:hover {
                  background-color: $primaryDarkMaroon;
                }
              }
            }
          }

          &__categories {
            a {
              border-color: $maroon100;
              color: $maroon100 !important;

              &:hover {
                background-color: $darkMaroon30;
                border-color: $darkMaroon30;
                color: #fff !important;
              }
            }
          }
        }
      }
      .site-nav {
        &::-webkit-scrollbar {
          width: 5px;
          background: $maroon20;
        }

        &::-webkit-scrollbar-thumb {
          background: $maroon100;
          border-radius: 5px;
        }
        .site-nav__lvl1 > li:after {
          background-color: $maroon100;
        }
        .site-nav__lvl1 {
          li.active {
            color: $maroon100;
          }
          li:hover {
            a {
              color: $maroon100 !important;
            }
            .icon-chevron-right {
              color: $maroon100;
            }
          }
        }
        .site-nav__lvl2,
        .site-nav__lvl2__intro__bg {
          background-color: $maroon10;
          svg path {
            stroke: $borderGray2;
            opacity: 0.6;
          }
        }
      }
    }

    &.is-homepage {
      .site-header {
        &.site-header--top {
          .btn-toggle-menu {
            .line {
              background-color: #fff;
            }
          }
          .btn-toggle-search {
            color: #fff;
          }
        }

        &:hover,
        &.active {
          .btn-toggle-menu {
            .line {
              background-color: $primaryMaroon;
            }
          }
          .btn-toggle-search {
            color: $maroon100;
          }

          .profile-indicator {
            background-color: $maroon100;
          }
        }
        .btn-toggle-search {
          color: $maroon100;
        }
        .search-opened {
          .icon-search {
            color: $maroon100;
          }
          .btn-search {
            background: $maroon100;
            border: 1px solid $maroon100;
            &:hover {
              background: $primaryDarkMaroon;
            }
          }
        }
        .profile-indicator {
          &.active {
            background-color: #fff !important;
          }
        }
      }

      .home-banner {
        .btn {
          background-color: $maroon100;

          &:hover {
            background-color: $primaryDarkMaroon;
          }

          .arrow-body,
          .arrow-head {
            stroke: #fff;
          }
        }
        .slick-arrow {
          &:hover {
            color: $maroon100;
          }
        }

        &.active {
          .profile-indicator {
            background-color: #fff;
          }
        }
      }
    }

    .site-header__profile {
      .label {
        background-color: $darkerMaroon;
      }

      button {
        background-color: $primaryMaroon;
      }

      // &.active {
      //   button {
      //     background-color: darken($primaryMaroon, 10%);
      //   }
      // }
      nav {
        li:nth-child(2):hover {
          background-color: $purple20;
        }
        li:nth-child(3):hover {
          background-color: $maroon20;
        }
        li:nth-child(4):hover {
          background-color: $turquoise20;
        }
      }
    }

    .profile-indicator {
      background-color: $primaryMaroon;
    }

    .page-header {
      border-bottom: 2px solid $maroon40;

      &::before,
      &::after {
        background-color: $primaryDarkMaroon;
      }
      &::before {
        border-left: 2px solid $maroon40;
        border-top: 2px solid $maroon40;
      }
      &::after {
        border-top: 2px solid $maroon40;
      }

      .page-header__ctas .btn {
        background-color: $maroon100;
        &:hover {
          background-color: $primaryDarkMaroon;
        }
      }
    }

    .article-intro {
      background-color: $primaryDarkMaroon;
      .horizontal-accordion__handle {
        background-color: $maroon100;
      }
      .horizontal-accordion__lines {
        &::before,
        &::after {
          background-color: $maroon100;
        }
      }
      .collapsible-content__collapsible__handle {
        button {
          border-bottom: 2px solid $maroon60;
        }
      }
      .slick-arrow {
        background-color: $maroon100;
      }
    }

    .accordion-sections {
      .accordion-list__header {
        .btn:not(.btn-expand) {
          background-color: $maroon100;
          &:hover {
            background-color: $primaryDarkMaroon;
          }
        }
      }
      .accordion-item {
        &.expanding,
        &.expanded {
          @include desktopMax {
            background-color: $maroon10;
          }
        }

        .accordion-content a {
          border: 1px solid $maroon100;
          color: $maroon100 !important;
          background-color: transparent;

          @include desktop {
            border: none;
          }

          .arrow-body,
          .arrow-head {
            stroke: $maroon100;
          }
        }

        @include desktop {
          .accordion-content a {
            color: #fff !important;
            background-color: $maroon100;

            &:hover {
              background-color: $primaryDarkMaroon;
            }

            .arrow-body,
            .arrow-head {
              stroke: #fff;
            }
          }
        }
      }

      .collapsible-content__collapsible__handle {
        button {
          border-bottom: 2px solid $maroon60;
          color: $maroon100;
        }
      }
    }

    .anchor-nav {
      &.is-sticky {
        @include desktopMax {
          button {
            color: $maroon100;
            background-color: $maroon10;
          }

          .anchor-nav__list {
            box-shadow: $maroonShadow;

            li {
              &.active {
                a {
                  color: $maroon100;
                  background-color: $maroon10;
                }
              }

              a {
                color: $textBlack;
              }
            }
          }
        }
      }

      &--events {
        &.is-sticky {
          background-color: $darkMaroon30;
        }
      }

      &.expanded {
        @include desktopMax {
          button {
            background-color: $darkMaroon30;
            color: #fff;
          }
        }
      }

      &__list {
        li {
          a {
            @include desktopMax {
              color: $maroon100;
            }

            @include hover {
              &:hover {
                border-color: $maroon100;
                color: $maroon100;
              }
            }
          }

          &.active {
            a {
              @include desktop {
                border-color: $maroon100;
                color: $maroon100;
              }
            }
          }
        }
      }
    }

    .publication-detail {
      p {
        color: $maroon100;
      }
    }

    // @media only screen and (max-width: 639px) {
    //   .tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label {
    //     background-color: $maroon100;
    //   }
    //   .tablesaw-stack tbody tr {
    //     border-bottom: 1px solid $maroon100;
    //     &:first-child {
    //       border-top: 1px solid $maroon100;
    //     }
    //   }
    // }

    .purplebg-section-wrapper__content .slick-dots {
      li.slick-active {
        .dot-indicator {
          background-color: $maroon100;
          border-color: $maroon100;
        }
      }
      .dot-indicator {
        background-color: $maroon20;
        border-color: $maroon20;
      }
    }

    .introduction {
      &:before {
        background-color: $darkMaroon30;
      }

      @media only screen and (min-width: 1440px) {
        &:after {
          background-color: $darkMaroon30;
        }
      }

      > div {
        background-color: $darkMaroon30;
      }

      path {
        stroke: #fff;
        opacity: 0.6;
      }
    }
    
    .search-filters {
      &__input {
        border-color: $maroon100;
      }

      &__icons {
        .btn-back .icon,
        > .icon {
          color: $maroon100;
        }
      }

      .btn-search {
        color: $maroon100;
        border-color: $maroon100;

        &:hover {
          background-color: $primaryDarkMaroon;
          border-color: $primaryDarkMaroon;
          color: #fff;
        }
      }

      &__filters {
        > button {
          .icon {
            background-color: $maroon100;
          }
        }

        &__options {
          > div {
            button {
              background-color: $maroon100;
  
              &:hover {
                background-color: $primaryDarkMaroon;
              }
            }
          }
        }
      }

      &__suggestions {
        li {
          a {
            &:hover {
              background-color: $maroon10;
            }

            > span {
              color: $maroon100;
            }
          }
        }
      }
    }

    .filters-group,
    .listing-filter:not(.listing-filter--dark) {
      .search-field {
        .search-field__input {
          border: 1px solid $maroon20;
        }
        .btn-submit {
          color: $maroon100;
        }
      }

      .custom-select__custom-dropdown .custom-trigger {
        border: 1px solid $maroon20;
        color: $maroon100;
        .icon-chevron-down {
          color: $maroon100;
        }
      }
      .custom-trigger {
        &:hover {
          box-shadow: $maroonShadowDark;
        }
      }
      .custom-list {
        li.active button {
          background-color: $maroon20;
          color: $maroon100;
        }
        li button:hover {
          background-color: $maroon20;
          color: $maroon100;
        }
      }
      .icon-chevron-down {
        color: $maroon100;
      }

      @media only screen and (max-width: 767px) {
        border: 2px solid $maroon100;

        .filters-group__label {
          color: $maroon100;
        }
        .btn-pill {
          background: $maroon100;
        }
        .filters-group__filters,
        .listing-filter__filters {
          border-top: 2px solid $maroon100;
        }
        .filters-group__footer {
          button:last-child {
            background-color: $maroon100;
          }
        }
      }
    }

    .listing-filter--dark {
      .search-field {
        .search-field__input {
          border: 1px solid #fff;
        }
        .btn-submit {
          color: #fff;
          @media only screen and (max-width: 767px) {
            color: #fff;
          }
        }
      }
      .custom-list {
        li.active button,
        li.active:hover button {
          background-color: $maroon100;
          color: #fff;
        }
        li button:hover {
          color: $maroon100;
        }
      }
      .icon-chevron-down {
        color: #fff;
      }

      @media only screen and (max-width: 767px) {
        border: 2px solid #fff;

        .filters-group__label {
          color: #fff;
        }
        .btn-pill {
          background: $maroon100;
          color: #fff;
        }
        .filters-group__filters {
          border-top: 2px solid #fff;
        }
        .filters-group__footer {
          button:last-child {
            background-color: $maroon100;
          }
        }
      }
    }

    .articles-with-questionnaire {
      @include desktopMax {
        background: $darkMaroon;
      }
    }

    .questionnaire-filters {
      @include desktop {
        box-shadow: $maroonShadowDark;
      }

      &__top,
      &__bottom {
        @include desktopMax {
          background-color: $primaryMaroon;
          border-color: #fff;
        }

        > span {
          @include desktopMax {
            color: $maroon20;
          }
        }

        @include desktop {
          > .btn-reset {
            color: $maroon100;
            border-color: $maroon100;

            &:hover {
              background-color: $maroon20;
            }
          }
        }
      }

      .custom-select {
        &__custom-dropdown {
          &.selected {
            .custom-trigger {
              color: $primaryMaroon;
              border-color: $maroon10;
              background: $maroon10;

              .icon {
                color: $primaryMaroon;
              }
            }
          }

          .custom-list {
            @include desktopMax {
              border: 1px solid $maroon10;

              li {
                &.active {
                  button {
                    background: $maroon10;
                    color: $primaryMaroon;
                  }
                }

                button {
                  color: #fff;
                  background: $primaryMaroon;
                }
              }
            }

            @include desktop {

              li {
                &.active {
                  button {
                    background: $maroon100;
                    color: #fff;
                  }
                }

                button {
                  color: $maroon100;
                  border-color: $maroon100;

                  &:hover {
                    background-color: $maroon100;
                    color: #fff;
                  }
                }
              }
            }

            @media (hover: hover) and (max-width: $bpDesktop - 1) {
              li {
                button {
                  &:hover {
                    background: $maroon10;
                    color: $primaryMaroon;
                  }
                }
              }
            }
          }
        }
      }
      .custom-trigger {
        color: #fff;
        border-color: $maroon10;
        background: $primaryMaroon;

        .icon {
          color: #fff;
        }
      }
    }

    .articles-with-questionnaire__content {
      .questionnaire-article-item {
        &:before {
          background-color: $maroon100;
        }
        .arrow-body,
        .arrow-head {
          stroke: $maroon100;
        }
        &:hover {
          h3 {
            color: $maroon100;
          }
        }
      }
      .btn {
        background-color: $maroon100;
        &:hover {
          background-color: $primaryDarkMaroon;
        }
      }
    }

    .digital-blocks {
      .article-group {
        > div {
          &:last-child {
            article {
              &:nth-last-child(2) {
                a {
                  @include desktopMax {
                    border-bottom-color: $borderMaroon;
                  }
                }
              }
            }
          }
        }
      }
      .block-card a:focus, .block-card a:hover {
        h3 {
          color: $maroon100;
        }
      }
    }

    .stories-carousel {
      background: $primaryMaroonGradient180;

      .btn {
        &:hover {
          background-color: $primaryDarkMaroon;
        }
      }
    }

    .call-to-actions {
      @include desktop {
        .btn {
          background-color: $maroon100;
          &:hover {
            background-color: $primaryDarkMaroon;
          }
        }
        path {
          stroke: $maroon20;
        }
      }
      .col-sm-6:hover {
        .call-to-actions__bg svg path {
          fill: $maroon20;
        }
      }
      .row {
        filter: drop-shadow($maroonShadow)
      }
    }

    .call-to-actions__text {
      .btn-primary {
        background-color: $maroon100;
        &:hover {
          background-color: $primaryDarkMaroon;
        }
      }
    }

    .page-header {
      &__info::before {
        background: $primaryMaroonGradient;
      }
    }

    .page-banner {
      &::before {
        background: $pageBannerMaroon;
      }

      .page-banner__line {
        &:before {
          background-color: $lightMaroon;
        }
      }

      .page-banner__notch {
        &:before,
        &:after {
          background-color: $lightMaroon;
        }
      }

      .page-banner__shapes {
        .logo,
        .building {
          polyline,
          path {
            stroke: $lightMaroon;
          }
        }
      }
    }

    .checkbox {
      &:checked + label::before {
        background-color: $primaryMaroon;
        border-color: $primaryMaroon;
      }
    }

    .accordion-list {
      .btn--icon {
        color: $maroon100;
      }
      .accordion-title {
        color: $primaryDarkMaroon;

        &::before {
          background-color: $maroon100;
        }
        .icon {
          &::before {
            color: $maroon100;
          }
        }
      }
    }

    .highlight-card {
      box-shadow: $maroonShadowDark;
      .highlight-card__bg {
        &::before {
          background-color: $maroon20;
        }
      }
      .highlight-card__text {
        a {
          color: $maroon100;
          &:after {
            color: $maroon100;
          }
        }
      }
      &--border {
        img {
          box-shadow: $maroonShadowDark;
        }
      }
    }

    .video-player {
      .icon-play {
        &::before {
          color: $maroon100;
        }
      }
    }

    .gallery {
      li.slick-active .dot-indicator {
        background-color: $maroon100;
      }
      .dot-indicator {
        border: 1px solid $maroon100;
      }
      .slick-arrow {
        background-color: $maroon100;
      }
    }

    .article-link {
      .article-link__content__lines {
        &::before, &::after {
          background-color: $maroon100;
        }
      }
    }

    .image-link {
      .image-link__image {
        &::before {
          background-color: $maroon100;
        }
      }
      .image-link__content {
        .btn {
          border: 1px solid $maroon100;
          color: $maroon100 !important;

          .arrow-body,
          .arrow-head {
            stroke: $maroon100;
          }

          &:hover {
            background-color: $maroon20;
          }
        }
      }
    }

    .teaser-card {
      &:hover {
        box-shadow: $maroonShadowDark;
        .teaser-card__content {
          .teaser-card__title {
            color: $maroon100;
          }
        }
      }
      .pill {
        border: 1px solid $maroon100;
        color: $maroon100;

        &:hover {
          background-color: $maroon20;
        }
      }
      &--contenthub {
        &:hover {
          box-shadow: none;
          .teaser-card__content {
            .teaser-card__title {
              color: #fff;
            }
          }
        }
      }
      .teaser-card__header {
        &::before {
          background-color: $maroon20;
        }
        div {
          &::before {
            background-color: $maroon20;
          }
          span {
            color: $maroon100;
          }
        }
        .date {
          color: $maroon100;
        }
      }
      .arrow-body,
      .arrow-head {
        stroke: $maroon100;
      }
    }

    .cta-banner {
      box-shadow: $maroonShadow;

      &:hover {
        .cta-banner__bg {
          .shape-with-fill {
            path {
              fill: $maroon20;
            }
          }
        }
      }

      .btn {
        background-color: $maroon100;
        color: #fff;

        &:hover {
          background-color: $darkMaroon;
        }
      }

      &--event {
        .btn {
          background-color: transparent;

          &:hover {
            background-color: $maroon100;
          }
        }
      }

      .cta-banner__bg {
        path {
          stroke: $maroon20;
        }
      }
    }

    .box-quote {
      .icon-blockquote {
        &::before {
          color: $maroon100;
        }
      }
      .box-quote__border--border1 {
        &::before,
        &::after {
          background-color: $maroon20;
        }
        .box-quote__border--border2 {
          &::before,
          &::after {
            background-color: $maroon20;
          }
          .box-quote__border__segment {
            background-color: $maroon20;
          }
        }
      }
    }

    .box-quote {
      .icon-blockquote {
        &::before {
          color: $maroon100;
        }
      }
      &__border__segment {
        background-color: $maroon20;
      }
      .box-quote__border:after, .box-quote__border:before {
        background-color: $maroon20;
      }
    }

    .name-card {
      box-shadow: $maroonShadowDark;

      .name-card__footer {
        .btn {
          border: 1px solid $maroon100;
          color: $maroon100 !important;

          &:hover {
            background-color: $maroon20;
          }

          .arrow-body,
          .arrow-head {
            stroke: $maroon100;
          }
        }
      }
    }

    .image-card {
      &:hover {
        box-shadow: $maroonShadowDark;
        .image-card__title {
          color: $maroon100;
        }
      }
      .image-card__content {
        &::before {
          background-color: $maroon100;
        }
      }
      .arrow-body,
      .arrow-head {
        stroke: $maroon100;
      }
    }

    .standard-content__carousel {
      li.slick-active .dot-indicator {
        background-color: $maroon100;
      }
      .dot-indicator {
        border: 1px solid $maroon100;
      }
      .slick-arrow {
        background-color: $maroon100;
      }
    }

    .topic-card {
      .topic-card__lines {
        &::before,
        &::after {
          background-color: $maroon100;
        }
      }
    }

    .newsletter {
      box-shadow: $maroonShadowDark;
      .newsletter__cta {
        .btn {
          background-color: $maroon100;
          &:hover {
            background-color: $darkMaroon;
          }
          .arrow-body,
          .arrow-head {
            stroke: #fff;
          }
        }
      }

      .newsletter__bg {
        svg path {
          stroke: $maroon20;
        }
      }

      &:hover {
        .newsletter__bg {
          svg path {
            fill: $maroon20;
          }
        }
      }
    }

    table {
      th {
        border-bottom: 2px solid $maroon100;
      }
      a {
        color: $maroon100;
        &:after {
          color: $maroon100;
        }
      }
    }

    .success-stories,
    .thought-leadership,
    .browse-interest {
      .btn {
        &:hover {
          background-color: $maroon100;
        }
      }
    }

    .browse-interest {
      a {
        .arrow-body,
        .arrow-head {
          stroke: #fff;
        }
      }
      .custom-list {
        li.active button {
          background-color: $maroon100;
          &:hover {
            color: #fff;
          }
        }
        li button:hover {
          color: $maroon100;
        }
      }
    }

    .standard-content {
      a:not(.child-card) {
        color: $maroon100;
        &:visited {
          color: $darkMaroon30;
        }
      }
    }

    .sitemap {
      a {
        color: $maroon100;
        &:visited {
          color: $darkMaroon30;
        }
      }
    }

    .detail-content {
      .rte a:not(.btn):not(.pill) {
        color: $maroon100;
        text-decoration: underline;
        &:after {
          color: $maroon100;
        }
        &:visited {
          color: $darkMaroon30;
        }
      }
      &__footer {
        .btn-read-more .btn {
          background-color: $maroon100;
          &:hover {
            background-color: $darkMaroon;
          }
        }
      }
      .tags-list__list a {
        border: 1px solid $maroon100;
        color: $maroon100;
        &:hover {
          background-color: $maroon20;
        }
        .arrow-body,
        .arrow-head {
          stroke: $maroon100;
        }
      }
    }

    .site-footer {
      .site-footer__row1 nav:last-child ul a:before {
        background-color: $maroon100;
      }
    }

    .detail-aside {
      .social-share__label {
        color: $maroon100;
      }
      .social-share .btn-share {
        color: $maroon100;
        border: 1px solid $maroon100;

        &:hover {
          color: #fff;
          background-color: $maroon100;
          }
      }
    }

    .short-image-card {
      .arrow-body,
      .arrow-head {
        stroke: $maroon100;
      }
      &:hover {
        box-shadow: $maroonShadowDark;
      }
    }

    .featured-events-carousel {
      .custom-list {
        li {
          button {
            &:hover, &:focus {
              color: $maroon100;
            }
          }

          &.active {
            button {
              background: $darkMaroon30;
              color: #fff;
            }
          }
        }
      }
    }

    .events-search {
      .listing-filter__footer {
        .btn {
          &:hover {
            background-color: $darkMaroon30;
          }
        }
      }
    }

    .event-carousel-card {
      .btn {
        &:hover {
          background-color: $darkMaroon30;
        }
      }
    }

    .event-details-section {
      &.active {
        > header {
          @include desktopMax {
            background-color: $darkMaroon30;
          }
        }
      }
    }

    .event-carousel-card-placeholder {
      .event-carousel-card-placeholder__image {
        background: linear-gradient(96.82deg, #642348 0%, rgba(100, 35, 72, 0) 99.7%), linear-gradient(84.74deg, rgba(243, 102, 126, 0) 23.65%, rgba(243, 102, 126, 0.6) 100.87%), #9E1B64;

        svg {
          defs {
            stop {
              stop-color: #F3667E !important;

              &:first-child {
                stop-opacity: 1 !important;
              }

              &:last-child {
                offset: 1 !important;
              }
            }
          }
        }
      }
    }

    .event-listing-card-placeholder {
      .event-listing-card-placeholder__image {
        background: linear-gradient(83.11deg, rgba(243, 102, 126, 0) 36.25%, rgba(243, 102, 126, 0.6) 90.69%), #9E1B64;

        svg {
          defs {
            stop {
              stop-color: #F3667E !important;

              &:first-child {
                stop-opacity: 0.7 !important;
              }

              &:last-child {
                offset: 0.302645 !important;
                stop-opacity: 0.1 !important;
              }
            }
          }
        }
      }
    }

    .purplebg-section-wrapper {
      &::before {
        box-shadow: $maroonShadowDark;
      }

      &--events {
        .purplebg-section-wrapper__box-wrapper {
          background-color: rgba(111, 36, 78, 0.4);
        }
      }

      &__box-wrapper {
        background-color: $maroon10;
      }

      .btn {
        background-color: $maroon100;
        color: #fff;
        &:hover {
          background-color: $darkMaroon;
        }
        .arrow-body,
        .arrow-head {
          stroke: #fff;
        }
      }

      &__bg {
        path {
          stroke: $borderGray2;
          opacity: 0.6;
        }
      }

      .child-card--no-arrow {
        button {
          color: $maroon100 !important;
          background: transparent;
          border: 1px solid $maroon100;

          .arrow-body,
          .arrow-head {
            stroke: $maroon100;
          }
        }
        &:hover {
          box-shadow: $maroonShadowDark;
          .child-card__title {
            color: $maroon100;
          }
          button {
            background-color: $maroon20;
          }
        }
      }
    }
    .pagination:not(.pagination-js--dark) {
      .pagination__list {
        li.active a,
        li.active a:hover {
          background: $maroon100;
          color: #fff;
          pointer-events: none;
        }
        li.prev-page,
        li.next-page {
          a {
            color: $maroon100;
            border: none;

            &:hover {
              background: $maroon20;
            }
          }
        }
        li a:hover {
          background-color: $maroon20;
        }
      }
    }
    .pagination-js--dark {
      .pagination__list {
        li.active a {
          background: #fff;
          pointer-events: none;
          &:hover {
            background: #fff;
            color: $textBlack;
          }
        }
        li.prev-page,
        li.next-page {
          a {
            color: #fff;

            &:hover {
              background: $whiteOpacity;
              color: #fff;
            }
          }
        }
        li a:hover {
          background-color: $whiteOpacity;
          color: #fff;
        }
      }
    }

    .article-summary {
      background-color: $maroon10;
      border-color: $maroon100;
    }

    .press-release-card {
      &:before {
        background-color: $maroon100;
      }

      @include hover {
        &:hover {
          box-shadow: $maroonShadowDark;

          h3 {
            color: $maroon100;
          }
        }
      }

      .press-release-card__tag {
        color: $maroon100;
      }

      .btn {
        border-color: $maroon100;
        color: $maroon100 !important;
        background-color: transparent;

        &:hover {
          background-color: transparent;
        }

        svg {
          .arrow-body, .arrow-head {
            stroke: $maroon100;
          }
        }
      }
    }

    .full-bleed-accordions {
      background-color: $darkMaroon10;

      .tags-list {
        .pill {
          &:hover {
            color: $darkMaroon10;
          }
        }
      }
    }
  }

  &--teal {
    .profile-item {
      .arrow-body,
      .arrow-head {
        stroke: #fff;
      }
    }

    .home-tabs__content {
      .btn, .slick-arrow {
        background-color: $turquoise100;

        &:hover {
          background-color: $primaryDarkTurquoise;
        }
      }
      .dot-indicator {
        background-color: $turquoise100 !important;
        border-color: $turquoise100 !important;
      }
    }

    .home-tabs__shapes path {
      stroke: $borderGray2;
      opacity: 0.6;
    }

    .home-tabs__nav {
      .ui-handle {
        background-color: $turquoise100;
      }
    }

    .partners__list {
      .slick-arrow {
        color: $turquoise100;
      }
    }

    .child-card {
      &::before {
        background-color: $turquoise100;
      }
      &:hover {
        box-shadow: $turquoiseShadowDark;
        .child-card__title {
          color: $turquoise100;
        }
      }

      .child-card__category {
        color: $turquoise100;
      }
      .arrow-body,
      .arrow-head {
        stroke: $turquoise100;
      }
    }

    .block-card {
      a {
        border-color: $borderTeal;

        &:hover {
          background-color: $profileTurquoise;
        }
      }

      svg {
        line, path {
          stroke: $primaryTurquoise;
        }
      }
    }

    .site-header {
      .btn-toggle-menu {
        .line {
          background-color: $primaryTurquoise;
        }
      }
      .btn-toggle-search {
        color: $turquoise100;
      }
      .search-opened {
        .icon-search {
          color: $turquoise100;
        }
        .btn-search {
          background: $turquoise100;
          border: 1px solid $turquoise100;
          &:hover {
            background: $primaryDarkTurquoise;
          }
        }
      }
      .site-search {
        .icon-search {
          color: $turquoise100;
        }

        &__icons {
          .btn-back .icon,
          > .icon {
            color: $turquoise100;
          }
        }
        
        .btn-search {
          color: #fff;
        }

        &__results {
          &__suggestions {
            li {
              a {
                &:hover {
                  background-color: $turquoise10;
                }

                > span {
                  color: $turquoise100;
                }
              }
            }
            > div {
              a {
                background-color: $turquoise100;
                
                &:hover {
                  background-color: $darkTurquoise10;
                }
              }
            }
          }

          &__categories {
            a {
              border-color: $turquoise100;
              color: $turquoise100 !important;

              &:hover {
                background-color: $darkTurquoise10;
                border-color: $darkTurquoise10;
                color: #fff !important;
              }
            }
          }
        }
      }
      .site-nav {
        &::-webkit-scrollbar {
          width: 5px;
          background: $turquoise20;
        }

        &::-webkit-scrollbar-thumb {
          background: $turquoise100;
          border-radius: 5px;
        }
        .site-nav__lvl1 > li:after {
          background-color: $turquoise100;
        }
        .site-nav__lvl1 {
          li.active {
            color: $turquoise100;
          }
          li:hover {
            a {
              color: $turquoise100 !important;
            }
            .icon-chevron-right {
              color: $turquoise100;
            }
          }
        }
        .site-nav__lvl2,
        .site-nav__lvl2__intro__bg {
          background-color: $turquoise10;
          svg path {
            stroke: $borderGray2;
            opacity: 0.6;
          }
        }
      }
    }

    &.is-homepage {
      .site-header {
        &.site-header--top {
          .btn-toggle-menu {
            .line {
              background-color: #fff;
            }
          }
          .btn-toggle-search {
            color: #fff;
          }
        }

        &:hover,
        &.active {
          .btn-toggle-menu {
            .line {
              background-color: $primaryTurquoise;
            }
          }

          .btn-toggle-search {
            color: $turquoise100;
          }

          .profile-indicator {
            background-color: $turquoise100;
          }
        }
        .btn-toggle-search {
          color: $turquoise100;
        }
        .search-opened {
          .icon-search {
            color: $turquoise100;
          }
          .btn-search {
            background: $turquoise100;
            border: 1px solid $turquoise100;
            &:hover {
              background: $turquoise100;
            }
          }
        }
        .profile-indicator {
          &.active {
            background-color: #fff !important;
          }
        }
      }

      .home-banner {
        .btn {
          background-color: $turquoise100;

          &:hover {
            background-color: $primaryDarkTurquoise;
          }
          .arrow-body,
          .arrow-head {
            stroke: #fff;
          }
        }
        .slick-arrow {
          &:hover {
            color: $turquoise100;
          }
        }

        &.active {
          .profile-indicator {
            background-color: #fff;
          }
        }
      }
    }

    .site-header__profile {
      .label {
        background-color: $darkerTeal;
      }

      button {
        background-color: $primaryTurquoise;
      }

      // &.active {
      //   button {
      //     background-color: darken($primaryTurquoise, 10%);
      //   }
      // }
      nav {
        li:nth-child(2):hover {
          background-color: $purple20;
        }
        li:nth-child(3):hover {
          background-color: $maroon20;
        }
        li:nth-child(4):hover {
          background-color: $turquoise20;
        }
      }
    }

    .profile-indicator {
      background-color: $primaryTurquoise;
    }

    .page-header {
      border-bottom: 2px solid $turquoise40;

      &::before,
      &::after {
        background-color: $primaryDarkTurquoise;
      }
      &::before {
        border-left: 2px solid $turquoise40;
        border-top: 2px solid $turquoise40;
      }
      &::after {
        border-top: 2px solid $turquoise40;
      }

      .page-header__ctas .btn {
        background-color: $turquoise100;
        &:hover {
          background-color: $primaryDarkTurquoise;
        }
      }
    }

    .article-intro {
      background-color: $primaryDarkTurquoise;
      .horizontal-accordion__handle {
        background-color: $turquoise100;
      }
      .horizontal-accordion__lines {
        &::before,
        &::after {
          background-color: $turquoise100;
        }
      }
      .collapsible-content__collapsible__handle {
        button {
          border-bottom: 2px solid $turquoise60;
        }
      }
      .slick-arrow {
        background-color: $turquoise100;
      }
    }

    .accordion-sections {
      .accordion-list__header {
        .btn:not(.btn-expand) {
          background-color: $turquoise100;
          &:hover {
            background-color: $primaryDarkTurquoise;
          }
        }
      }
      .accordion-item {
        &.expanding,
        &.expanded {
          @include desktopMax {
            background-color: $turquoise10;
          }
        }

        .accordion-content a {
          border: 1px solid $turquoise100;
          color: $turquoise100 !important;
          background-color: transparent;

          @include desktop {
            border: none;
          }

          .arrow-body,
          .arrow-head {
            stroke: $turquoise100;
          }
        }

        @include desktop {
          .accordion-content a {
            color: #fff !important;
            background-color: $turquoise100;

            &:hover {
              background-color: $primaryDarkTurquoise;
            }

            .arrow-body,
            .arrow-head {
              stroke: #fff;
            }
          }
        }
      }

      .collapsible-content__collapsible__handle {
        button {
          border-bottom: 2px solid $turquoise60;
          color: $turquoise100;
        }
      }
    }

    .anchor-nav {
      &.is-sticky {
        @include desktopMax {
          button {
            color: $turquoise100;
            background-color: $turquoise10;
          }

          .anchor-nav__list {
            box-shadow: $turquoiseShadow;

            li {
              &.active {
                a {
                  color: $turquoise100;
                  background-color: $turquoise10;
                }
              }

              a {
                color: $textBlack;
              }
            }
          }
        }
      }

      &--events {
        &.is-sticky {
          background-color: $darkTurquoise40;
        }
      }

      &.expanded {
        @include desktopMax {
          button {
            background-color: $darkTurquoise40;
            color: #fff;
          }
        }
      }

      &__list {
        li {
          a {
            @include desktopMax {
              color: $turquoise100;
            }

            @include hover {
              &:hover {
                border-color: $turquoise100;
                color: $turquoise100;
              }
            }
          }

          &.active {
            a {
              @include desktop {
                border-color: $turquoise100;
                color: $turquoise100;
              }
            }
          }
        }
      }
    }

    .publication-detail {
      p {
        color: $turquoise100;
      }
    }

    // @media only screen and (max-width: 639px) {
    //   .tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label {
    //     background-color: $turquoise100;
    //   }
    //   .tablesaw-stack tbody tr {
    //     border-bottom: 1px solid $turquoise100;
    //     &:first-child {
    //       border-top: 1px solid $turquoise100;
    //     }
    //   }
    // }

    .purplebg-section-wrapper__content .slick-dots {
      li.slick-active {
        .dot-indicator {
          background-color: $turquoise100;
          border-color: $turquoise100;
        }
      }
      .dot-indicator {
        background-color: $turquoise20;
        border-color: $turquoise20;
      }
    }

    .introduction {
      &:before {
        background-color: $darkTurquoise40;
      }

      @media only screen and (min-width: 1440px) {
        &:after {
          background-color: $darkTurquoise40;
        }
      }

      > div {
        background-color: $darkTurquoise40;
      }

      path {
        stroke: #fff;
        opacity: 0.6;
      }
    }

    
    .search-filters {
      &__input {
        border-color: $turquoise100;
      }

      &__icons {
        .btn-back .icon,
        > .icon {
          color: $turquoise100;
        }
      }

      .btn-search {
        color: $turquoise100;
        border-color: $turquoise100;

        &:hover {
          background-color: $primaryDarkTurquoise;
          border-color: $primaryDarkTurquoise;
          color: #fff;
        }
      }

      &__filters {
        > button {
          .icon {
            background-color: $turquoise100;
          }
        }

        &__options {
          > div {
            button {
              background-color: $turquoise100;
  
              &:hover {
                background-color: $primaryDarkTurquoise;
              }
            }
          }
        }
      }

      &__suggestions {
        li {
          a {
            &:hover {
              background-color: $turquoise10;
            }

            > span {
              color: $turquoise100;
            }
          }
        }
      }
    }

    .filters-group,
    .listing-filter:not(.listing-filter--dark) {
      .search-field {
        .search-field__input {
          border: 1px solid $turquoise20;
        }
        .btn-submit {
          color: $turquoise100;
        }
      }

      .custom-select__custom-dropdown .custom-trigger {
        border: 1px solid $turquoise20;
        color: $turquoise100;
      }
      .custom-trigger {
        &:hover {
          box-shadow: $turquoiseShadowDark;
        }
      }
      .custom-list {
        li.active button,
        li button:hover {
          background-color: $turquoise20;
          color: $turquoise100;
        }
      }
      .icon-chevron-down {
        color: $turquoise100;
      }

      @media only screen and (max-width: 767px) {
        border: 2px solid $turquoise100;

        .filters-group__label {
          color: $turquoise100;
        }
        .btn-pill {
          background: $turquoise100;
        }
        .filters-group__filters,
        .listing-filter__filters {
          border-top: 2px solid $turquoise100;
        }
        .filters-group__footer {
          button:last-child {
            background-color: $turquoise100;
          }
        }
      }
    }

    .listing-filter--dark {
      .search-field {
        .search-field__input {
          border: 1px solid #fff;
        }
        .btn-submit {
          color: #fff;
          @media only screen and (max-width: 767px) {
            color: #fff;
          }
        }
      }
      .custom-list {
        li.active button,
        li.active:hover button {
          background-color: $turquoise100;
          color: #fff;
        }
        li button:hover {
          color: $turquoise100;
        }
      }
      .icon-chevron-down {
        color: #fff;
      }

      @media only screen and (max-width: 767px) {
        border: 2px solid #fff;

        .filters-group__label {
          color: #fff;
        }
        .btn-pill {
          background: $turquoise100;
          color: #fff;
        }
        .filters-group__filters {
          border-top: 2px solid #fff;
        }
        .filters-group__footer {
          button:last-child {
            background-color: $turquoise100;
          }
        }
      }
    }

    .articles-with-questionnaire {
      @include desktopMax {
        background: $darkTeal;
      }
    }

    .questionnaire-filters {
      @include desktop {
        box-shadow: $turquoiseShadowDark;
      }

      &__top,
      &__bottom {
        @include desktopMax {
          background-color: $primaryTurquoise;
          border-color: #fff;
        }

        > span {
          @include desktopMax {
            color: $turquoise20;
          }
        }

        @include desktop {
          > .btn-reset {
            color: $turquoise100;
            border-color: $turquoise100;

            &:hover {
              background-color: $turquoise20;
            }
          }
        }
      }

      .custom-select {
        &__custom-dropdown {
          &.selected {
            .custom-trigger {
              color: $primaryTurquoise;
              border-color: $turquoise10;
              background: $turquoise10;

              .icon {
                color: $primaryTurquoise;
              }
            }
          }

          .custom-list {
            @include desktopMax {
              border: 1px solid $turquoise10;

              li {
                &.active {
                  button {
                    background: $turquoise10;
                    color: $primaryTurquoise;
                  }
                }

                button {
                  color: #fff;
                  background: $primaryTurquoise;
                }
              }
            }

            @include desktop {

              li {
                &.active {
                  button {
                    background: $turquoise100;
                    color: #fff;
                  }
                }

                button {
                  color: $turquoise100;
                  border-color: $turquoise100;

                  &:hover {
                    background-color: $turquoise100;
                    color: #fff;
                  }
                }
              }
            }

            @media (hover: hover) and (max-width: $bpDesktop - 1) {
              li {
                button {
                  &:hover {
                    background: $turquoise10;
                    color: $primaryTurquoise;
                  }
                }
              }
            }
          }
        }
      }
      .custom-trigger {
        color: #fff;
        border-color: $turquoise10;
        background: $primaryTurquoise;

        .icon {
          color: #fff;
        }
      }
    }

    .articles-with-questionnaire__content {
      .questionnaire-article-item {
        &:before {
          background-color: $turquoise100;
        }
        .arrow-body,
        .arrow-head {
          stroke: $turquoise100;
        }
        &:hover {
          h3 {
            color: $turquoise100;
          }
        }
      }
      .btn {
        background-color: $turquoise100;
        &:hover {
          background-color: $primaryDarkTurquoise;
        }
      }
    }

    .digital-blocks {
      .article-group {
        > div {
          &:last-child {
            article {
              &:nth-last-child(2) {
                a {
                  @include desktopMax {
                    border-bottom-color: $borderTeal;
                  }
                }
              }
            }
          }
        }
      }
      .block-card a:focus, .block-card a:hover {
        h3 {
          color: $turquoise100;
        }
      }
    }

    .stories-carousel {
      background: $primaryTurquoiseGradient180;

      .btn {
        &:hover {
          background-color: $primaryDarkTurquoise;
        }
      }
    }

    .call-to-actions {
      @include desktop {
        .btn {
          background-color: $turquoise100;
          &:hover {
            background-color: $primaryDarkMaroon;
          }
        }
        path {
          stroke: $turquoise20;
        }
      }
      .col-sm-6:hover {
        .call-to-actions__bg svg path {
          fill: $turquoise20;
        }
      }
      .row {
        filter: drop-shadow($turquoiseShadow)
      }
    }

    .call-to-actions__text {
      .btn-primary {
        background-color: $turquoise100;
        &:hover {
          background-color: $primaryDarkTurquoise;
        }
      }
    }

    .page-header {
      &__info::before {
        background: $primaryTurquoiseGradient;
      }
    }

    .page-banner {
      &::before {
        background: $pageBannerTeal;
      }

      .page-banner__line {
        &:before {
          background-color: $lightTeal;
        }
      }

      .page-banner__notch {
        &:before,
        &:after {
          background-color: $lightTeal;
        }
      }

      .page-banner__shapes {
        .logo,
        .building {
          polyline,
          path {
            stroke: $lightTeal;
          }
        }
      }
    }

    .checkbox {
      &:checked + label::before {
        background-color: $primaryTurquoise;
        border-color: $primaryTurquoise;
      }
    }

    .accordion-list {
      .btn--icon {
        color: $turquoise100;
      }
      .accordion-title {
        color: $primaryDarkTurquoise;

        &::before {
          background-color: $turquoise100;
        }
        .icon {
          &::before {
            color: $turquoise100;
          }
        }
      }
    }

    .highlight-card {
      box-shadow: $turquoiseShadowDark;
      .highlight-card__bg {
        &::before {
          background-color: $turquoise20;
        }
      }
      .highlight-card__text {
        a {
          color: $turquoise100;
          &:after {
            color: $turquoise100;
          }
        }
      }
      &--border {
        img {
          box-shadow: $turquoiseShadowDark;
        }
      }
    }

    .video-player {
      .icon-play {
        &::before {
          color: $turquoise100;
        }
      }
    }

    .gallery {
      li.slick-active .dot-indicator {
        background-color: $turquoise100;
      }
      .dot-indicator {
        border: 1px solid $turquoise100;
      }
      .slick-arrow {
        background-color: $turquoise100;
      }
    }

    .article-link {
      .article-link__content__lines {
        &::before, &::after {
          background-color: $turquoise100;
        }
      }
    }

    .image-link {
      .image-link__image {
        &::before {
          background-color: $turquoise100;
        }
      }
      .image-link__content {
        .btn {
          border: 1px solid $turquoise100;
          color: $turquoise100 !important;

          .arrow-body,
          .arrow-head {
            stroke: $turquoise100;
          }

          &:hover {
            background-color: $turquoise20;
          }
        }
      }
    }

    .teaser-card  {
      &:hover {
        box-shadow: $turquoiseShadowDark;
        .teaser-card__content {
          .teaser-card__title {
            color: $turquoise100;
          }
        }
      }
      .pill {
        border: 1px solid $turquoise100;
        color: $turquoise100;

        &:hover {
          background-color: $turquoise20;
        }
      }
      &--contenthub {
        &:hover {
          box-shadow: none;
          .teaser-card__content {
            .teaser-card__title {
              color: #fff;
            }
          }
        }
      }
      .teaser-card__header {
        &::before {
          background-color: $turquoise20;
        }
        div {
          &::before {
            background-color: $turquoise20;
          }
          span {
            color: $turquoise100;
          }
        }
        .date {
          color: $turquoise100;
        }
      }
      .arrow-body,
      .arrow-head {
        stroke: $turquoise100;
      }
    }

    .cta-banner {
      box-shadow: $turquoiseShadow;

      &:hover {
        .cta-banner__bg {
          .shape-with-fill {
            path {
              fill: $turquoise20;
            }
          }
        }
      }

      .btn {
        background-color: $turquoise100;

        &:hover {
          background-color: $primaryDarkTurquoise;
        }
      }

      &--event {
        .btn {
          background-color: transparent;

          &:hover {
            background-color: $turquoise100;
          }
        }
      }

      .cta-banner__bg {
        path {
          stroke: $turquoise20;
        }
      }
    }

    .box-quote {
      .icon-blockquote {
        &::before {
          color: $turquoise100;
        }
      }
      &__border__segment {
        background-color: $turquoise20;
      }
      .box-quote__border:after, .box-quote__border:before {
        background-color: $turquoise20;
      }
    }

    .name-card {
      box-shadow: $turquoiseShadowDark;

      .name-card__footer {
        .btn {
          border: 1px solid $turquoise100;
          color: $turquoise100 !important;

          &:hover {
            background-color: $turquoise20;
          }

          .arrow-body,
          .arrow-head {
            stroke: $turquoise100;
          }
        }
      }
    }

    .image-card {
      &:hover {
        box-shadow: $turquoiseShadowDark;
        .image-card__title {
          color: $turquoise100;
        }
      }
      .image-card__content {
        &::before {
          background-color: $turquoise100;
        }
      }
      .arrow-body,
      .arrow-head {
        stroke: $turquoise100;
      }
    }

    .standard-content__carousel {
      li.slick-active .dot-indicator {
        background-color: $turquoise100;
      }
      .dot-indicator {
        border: 1px solid $turquoise100;
      }
      .slick-arrow {
        background-color: $turquoise100;
      }
    }

    .topic-card {
      .topic-card__lines {
        &::before,
        &::after {
          background-color: $turquoise100;
        }
      }
    }

    .newsletter {
      box-shadow: $turquoiseShadowDark;
      .newsletter__cta {
        .btn {
          background-color: $turquoise100;
          &:hover {
            background-color: $primaryDarkTurquoise;
          }
          .arrow-body,
          .arrow-head {
            stroke: #fff;
          }
        }
      }

      .newsletter__bg {
        svg path {
          stroke: $turquoise20;
        }
      }

      &:hover {
        .newsletter__bg {
          svg path {
            fill: $turquoise20;
          }
        }
      }
    }

    table {
      th {
        border-bottom: 2px solid $turquoise100;
      }
      a {
        color: $turquoise100;
        &:after {
          color: $turquoise100;
        }
      }
    }

    .success-stories,
    .thought-leadership,
    .browse-interest {
      .btn {
        &:hover {
          background-color: $turquoise100;
        }
      }
    }

    .browse-interest {
      a {
        .arrow-body,
        .arrow-head {
          stroke: #fff;
        }
      }
      .custom-list {
        li.active button {
          background-color: $turquoise100;
          &:hover {
            color: #fff;
          }
        }
        li button:hover {
          color: $turquoise100;
        }
      }
    }

    .standard-content {
      a:not(.child-card) {
        color: $turquoise100;
        &:visited {
          color: $darkTurquoise10;
        }
      }
    }

    .sitemap {
      a {
        color: $turquoise100;
        &:visited {
          color: $darkTurquoise10;
        }
      }
    }

    .detail-content {
      .rte a:not(.btn):not(.pill) {
        color: $turquoise100;
        text-decoration: underline;
        &:after {
          color: $turquoise100;
        }
        &:visited {
          color: $darkTurquoise10;
        }
      }

      &__footer {
        .btn-read-more .btn {
          background-color: $turquoise100;
          &:hover {
            background-color: $primaryDarkTurquoise;
          }
        }
      }
      .tags-list__list a {
        border: 1px solid $turquoise100;
        color: $turquoise100;
        &:hover {
          background-color: $turquoise20;
        }
        .arrow-body,
        .arrow-head {
          stroke: $turquoise100;
        }
      }
    }

    .site-footer {
      .site-footer__row1 nav:last-child ul a:before {
        background-color: $turquoise100;
      }
    }

    .detail-aside {
      .social-share__label {
        color: $turquoise100;
      }
      .social-share .btn-share {
        color: $turquoise100;
        border: 1px solid $turquoise100;

        &:hover {
        color: #fff;
        background-color: $turquoise100;
        }
      }
    }

    .short-image-card {
      .arrow-body,
      .arrow-head {
        stroke: $turquoise100;
      }
      &:hover {
        box-shadow: $turquoiseShadowDark;
      }
    }

    .featured-events-carousel {
      .custom-list {
        li {
          button {
            &:hover, &:focus {
              color: $turquoise100;
            }
          }

          &.active {
            button {
              background: $darkTurquoise10;
              color: #fff;
            }
          }
        }
      }
    }

    .events-search {
      .listing-filter__footer {
        .btn {
          &:hover {
            background-color: $darkTurquoise10;
          }
        }
      }
    }

    .event-carousel-card {
      .btn {
        &:hover {
          background-color: $darkTurquoise10;
        }
      }
    }

    .event-details-section {
      &.active {
        > header {
          @include desktopMax {
            background-color: $darkTurquoise40;
          }
        }
      }
    }

    .event-carousel-card-placeholder {
      .event-carousel-card-placeholder__image {
        background: linear-gradient(97.62deg, #2A5C51 22.37%, rgba(0, 134, 114, 0) 83.13%), linear-gradient(320.88deg, rgba(42, 92, 81, 0) 0.39%, #2A5C51 100%), #66B6AB;

        svg {
          defs {
            stop {
              stop-color: $primaryDarkTurquoise !important;

              &:first-child {
                stop-opacity: 1 !important;
              }

              &:last-child {
                offset: 1 !important;
              }
            }
          }
        }
      }
    }

    .event-listing-card-placeholder {
      .event-listing-card-placeholder__image {
        background: linear-gradient(325deg, rgba(0, 134, 114, 0) 27.11%, #008672 87.31%), #66B6AB;

        svg {
          defs {
            stop {
              stop-color: $darkTurquoise10 !important;

              &:first-child {
                stop-opacity: 0.9 !important;
              }

              &:last-child {
                offset: 0.283091 !important;
                stop-opacity: 0.2 !important;
              }
            }
          }
        }
      }
    }

    .purplebg-section-wrapper {
      &::before {
        box-shadow: $turquoiseShadowDark;
      }

      &--events {
        .purplebg-section-wrapper__box-wrapper {
          background-color: rgba(42, 92, 81, 0.4);
        }
      }

      &__box-wrapper {
        background-color: $turquoise10;
      }
      .btn {
        background-color: $turquoise100;
        &:hover {
          background-color: $primaryDarkTurquoise;
        }
        .arrow-body,
        .arrow-head {
          stroke: #fff;
        }
      }
      &__bg {
        path {
          stroke: $borderGray2;
          opacity: 0.6;
        }
      }

      .child-card--no-arrow {
        button {
          color: $turquoise100 !important;
          background: transparent;
          border: 1px solid $turquoise100;

          .arrow-body,
          .arrow-head {
            stroke: $turquoise100;
          }
        }
        &:hover {
          box-shadow: $turquoiseShadowDark;
          .child-card__title {
            color: $turquoise100;
          }
          button {
            background-color: $turquoise20;
          }
        }
      }
    }

    .pagination:not(.pagination-js--dark) {
      .pagination__list {
        li.active a,
        li.active a:hover {
          background: $turquoise100;
          color: #fff;
          pointer-events: none;
        }
        li.prev-page,
        li.next-page {
          a {
            border: none;
            color: $turquoise100;

            &:hover {
              background: $turquoise20;
            }
          }
        }
        li a:hover {
          background-color: $turquoise20;
        }
      }
    }

    .pagination-js--dark {
      .pagination__list {
        li.active a {
          background: #fff;
          pointer-events: none;
          &:hover {
            background: #fff;
            color: $textBlack;
          }
        }
        li.prev-page,
        li.next-page {
          a {
            color: #fff;

            &:hover {
              background: $whiteOpacity;
              color: #fff;
            }
          }
        }
        li a:hover {
          background-color: $whiteOpacity;
          color: #fff;
        }
      }
    }

    .article-summary {
      background-color: $turquoise10;
      border-color: $turquoise100;
    }

    .press-release-card {
      &:before {
        background-color: $turquoise100;
      }

      @include hover {
        &:hover {
          box-shadow: $turquoiseShadowDark;

          h3 {
            color: $turquoise100;
          }
        }
      }

      .press-release-card__tag {
        color: $turquoise100;
      }

      .btn {
        border-color: $turquoise100;
        color: $turquoise100 !important;
        background-color: transparent;

        &:hover {
          background-color: transparent;
        }

        svg {
          .arrow-body, .arrow-head {
            stroke: $turquoise100;
          }
        }
      }
    }

    .full-bleed-accordions {
      background-color: $darkTurquoise10;

      .tags-list {
        .pill {
          &:hover {
            color: $darkTurquoise10;
          }
        }
      }
    }
  }
}
