/* Breakpoints */
$bpMobile: 320px;
$bpLgMobile: 450px;
$bpTablet: 768px;
$bpDesktop: 1024px;
$bpLgDesktop: 1440px;
$bpXLgDesktop: 1920px;

/* Font Weight */
$font-family: 'Montserrat', Arial, sans-serif;
$base-fontsize: 16px;
$base-lineheight: 1.2;
$thin: 100;
$light: 200;  // avenir-light
$book: 300; // avenir-book
$roman: 400; // avenir-roman
$medium: 500; // avenir-medium
$heavy: 700; // avenir-heavy
$black: 900;  // avenir-black

/* Colors */
$purple: #702F8A;
$purple2: #702F8A;
$purple3: #702F8A;
$purple4: #8D59A1;
$purple5: #642348;
$red: #EB0028;

/** Revamp colours */
$purple100: #702F8A;
$purple80: #8D59A1;
$purple60: #A982B9;
$purple40: #C6ACD0;
$purple20: #E2D5E8;
$purple10: #F0EAF3;
$purple05: #F7F4f9;

$lighterPurple: #F0EAF3;
$lightPurple: #E2D5E8;
$darkPurple10: #61307B;
$darkPurple20: #5A2F71;
$darkPurple40: #4C2B5D;
$darkerPurple: #3F2649;
$primaryPurple: $purple100;
$primaryPurpleRGBA: #702F8A;
$primaryDarkPurple: $darkPurple20;
$primaryPurpleGradient: linear-gradient(90deg,$darkPurple40 0%, $primaryPurple 100%);

$maroon100: #9E1B64;
$maroon80: #B14983;
$maroon60: #C576A2;
$maroon40: #D8A4C1;
$maroon20: #ECD1E0;
$maroon10: #F5E7EF;
$maroon5: #FAF4F7;

$lighterMaroon: #FAF4F7;
$lightMaroon: #ECD1E0;
$primaryMaroon: #9E1B64;
$darkMaroon: #642348;
$darkMaroon10: #862758;
$darkMaroon30: #6F244E;
$darkerMaroon: #7A2654;
$pageBannerMaroon: $darkMaroon10;
$primaryDarkMaroon: #642348;
$primaryMaroonGradient: linear-gradient(90deg,$primaryDarkMaroon 0%, $primaryMaroon 100%);
$primaryMaroonGradient180: linear-gradient(180deg,$primaryDarkMaroon 0%, $primaryMaroon 100%);

$turquoise100: #008672;
$turquoise80: #339E8E;
$turquoise60: #66B6AB;
$turquoise40: #99CFC7;
$turquoise20: #CCE7E3;
$turquoise10: #E8F4F3; //turquoise5
$turquoise3: #F7FBFB;

$lighterTurquoise: #F7FBFB;
$lightTurquoise: #E8F4F3;
$lightTeal: #CCE7E3;
$primaryTurquoise: #008672;
$primaryDarkTurquoise: #265149;
$primaryTeal: #008672;
$darkTeal: #244741;
$darkerTeal: #2A5C51;
$darkTurquoise10: #367A6A;
$darkTurquoise40: #2A5C51;
$pageBannerTeal: $darkTurquoise10;
$textTeal: #008672;
$primaryTurquoiseGradient: linear-gradient(90deg,$primaryDarkTurquoise 0%, $primaryTurquoise 100%);
$primaryTurquoiseGradient180: linear-gradient(180deg,$primaryDarkTurquoise 0%, $primaryTurquoise 100%);

$orange40: #FFCD99;
$orange80: #FF9C33;
$darkOrange: #74491F;

$borderPurple: #C6ACD0;
$borderMaroon: #D8A4C1;
$borderTeal: #99CFC7;
$borderPurple2: #A982B9;

$borderPurpleRGBA: rgba(112, 47, 138, 0.3);
$borderGrayRGBA: rgba(161, 161, 161, 0.6);
$whiteOpacity: rgba(255, 255, 255, 0.4);
$purpleShadow: 0px 0px 12px rgba(112, 47, 138, 0.2);
$maroonShadow: 0px 0px 12px rgba(97, 17, 62, 0.2);
$turquoiseShadow: 0px 0px 12px rgba(1, 82, 70, 0.2);
$purpleShadowDark: 0px 0px 8px rgba(112, 47, 138, 0.4);
$maroonShadowDark: 0px 0px 8px rgba(97, 17, 62, 0.4);
$turquoiseShadowDark: 0px 0px 8px rgba(1, 82, 70, 0.4);


$borderGray: #939393;
$midGray: #B9B9B9;
$borderGray2: #C9C9C9;

$tableBorder: #929292;
$tableEven: #d9dada;
$hyperlink: #0D37C9; // Not found

$profilePurple: #F0EAF3;
$profileMaroon: #F5E7EF;
$profileTurquoise: #E8F4F3;

$svgPurple: #E2D5E8;
$svgMaroon: #ff9cb5;

$footerBlack: #2E2E3C;
$textBlack: #262626;
$textBlack2: #333333; //Not found
$textPurple: #442952;
$textGlow1: 0px 0px 6px rgba(0, 0, 0, 0.25);
$textGlow2: 0px 0px 6px rgba(0, 0, 0, 0.15);

$overlay: rgba(0,0,0,0.5);

// new color codes.
$red100: #EB0028;

$darkRed: #B2262E;
$darkRed2: #C42A30;

$coral: #C63A41; //Panel card Snippet card
$coral2: rgb(212, 62, 69);

$rose: #9E1B64;
$rose2: #B14983;

$seaGreen:#00875E; //Panel card Snippet card
$seaGreen2: rgb(0, 155, 108); 

$grassGreen: #4C822A; //Panel card Snippet card
$grassGreen2: #4C822A;

$steelBlue: #0074A0; //Panel card Snippet card
$steelBlue2: rgb(0, 126, 175);

$royalBlue: #046BCC; //Panel card Snippet card
$royalBlue2: rgb(0, 118, 228);

$navyBlue: #1949B3; //Panel card Snippet card
$navyBlue2: rgb(29, 83, 199);
 
$orange: #BA5C20; //Panel card Snippet card, standard-detail
$orange2: #dc7b3b;

// end of new color codes


$blue: #0475BC; //cookie-message, social-feed
$blue2: #0e82cb;

$pink: #a23c6d;

$yellow: #F2E159;
$green: #008262;
$turquoise: #02837e;
$lightBlue: #58b5e7;
$darkBlue: #30338d;

$pageBannerBlack: #080C18;
$imdaWhite: #FFFFFF;

$blueOld : #157dc1; //buttons, announcements
$purpleOld : #70368d;
$greenOld : #39ac85;
$pinkOld: #d2005e;
$transparentPurpleOld: rgba(111,54,142,0.7);
$bgLightGreyOld: #F2F2F2;

$darkGrey: #262626;
$darkGrey2: #767676;
$lightGrey: #f2f2f2;
$lightGrey40: #C9C9C9;
$grey: #767676;
$grey2: #ddd; //page-banner
$grey3: #D9DADA; //accordion
$grey4: #ddd; //featured-article
$grey5: #F2F2F2;
$grey6: #B9B9B9;
$visitedLink: #595965;
$tabGrey: #676767;

$headerColor: #262626;
$bodyTextColor: #3c3c3c; //flim, image-card
$contentHubBlack: #080C18;

$textOffWhite: #F2F2F2;
$background: #F2F2F2;
$borderColor: #D9DADA;

$facebook: #17309e;
$twitter: #00b7ec;
$linkedin: #2a61ab; 
$youtube: #cc181e;
$instagram: #d62976;

/* Expo Transitions*/
$easeInOutExpo: cubic-bezier(0.75, 0, 0, 0.75);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$easeInOutCustom: cubic-bezier(.79,0,.21,1);

/* Shadow Old Cards*/
$cardShadow: 0px 3px 12px 0 transparentize(#000, .88), 0 0 2px 0 transparentize(#000, .92);
$cardShadowHover: 0px 3px 16px 0 transparentize(#000, .75), 0 0 3px 0 transparentize(#000, .76);
$buttonShadow: 2px 2px 10px 0 transparentize(#000, .85);
$buttonShadowHover: 4px 4px 16px 0 transparentize(#000, .66);
