// Normalize Styles
@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/slick-carousel/slick/slick.scss';

@import '_mixins';
@import '_variables';
@import '_helpers';
@import '_fonts';
@import '_keyframes';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 1em;
}

body {
  background-color: #fff;
  font-size: calc-em(16px);
  line-height: 1.3;
  font-family: $font-family !important;
  overflow-x: hidden;
  max-width: 100vw;
  overflow-x: hidden;
}

b, strong {
  font-weight: bold;
}

// Styling on warning for users on IE7 or below
.browsehappy {
  background: #fff8e2;
  color: #000;
  margin: 0;
  padding: 0.5em 0;
  text-align: center;
}

a, button {
  transition: all .25s ease-in-out;
  cursor: pointer;
}

input, button, optgroup, select, textarea {
  font: inherit;
}

iframe, video {
  display: block;
  max-width: 100%;
}

img {
  display: inline-block;
  max-width: 100%;
}

.main-content {
  border-bottom: 1px solid $borderColor;
}

.home-first {
  position: relative;
}

.home-section {
  padding: 30px 0;
}

.home-last-section {
  background: linear-gradient(#f8f8f8, $background);
  margin: -1px 0; // offset for Macbook
}

.detail-wrapper {
  position: relative;

  .detail-content {
    padding: 20px 0;
  }

  .detail-aside {
    padding-bottom: 20px;
  }
}

.col-3, .col-4, .col-6, .col-12 {
  float: none;
}

body {
  .notification {
    font-size: calc-em(16px);
    margin-bottom: 0;
  }

  h1, h2, h3, h4, h5, h6, p, strong, b {
    font-family: $font-family;
  }

  h1, h2, h3 {
    font-weight: 600;
  }

  h1 {
    font-size: calc-em(43px);
  }

  h2 {
    font-size: calc-em(36px);
    line-height: 2.2625rem;
  }

  h3 {
    font-size: calc-em(24px);
    line-height: 1.875rem;
  }

  h4 {
    line-height: 1.75rem;
  }

  h4, h5 {
    font-size: calc-em(22px);
    font-family: $font-family;
    font-weight: $black;
  }

  h6 {
    font-size: calc-em(12px);
  }

  p {
    font-size: calc-em(16px);
    line-height: 1.375;
  }
}

@media only screen and (max-width: $bpTablet - 1) {
  body {
    h1, h2 {
      font-size: calc-em(22px);
    }
  }
}

@media only screen and (min-width: $bpDesktop) {
  .home-first {
    margin-bottom: 20px;

    .interest-filter {
      bottom: 0;
      position: absolute;
      width: 100%;
    }
  }

  .home-section {
    padding: 40px 0;
  }

  .detail-wrapper {
    .detail-content, .detail-aside {
      padding: 50px 0;
    }

    .detail-content {
      padding-right: 30px;
    }
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: (100% / 12 * 4);
  }

  .col-6 {
    width: 50%;
  }
}

@media only screen and (min-width: $bpLgDesktop) {
  .container {
    max-width: $bpLgDesktop;
  }
}

@import '../_modules/atoms/buttons/buttons';
@import '../_modules/atoms/search-field/search-field';

@import '../_modules/molecules/site-nav/site-nav';
@import '../_modules/molecules/site-search/site-search';
@import '../_modules/molecules/article-link/article-link';
@import '../_modules/molecules/breadcrumbs/breadcrumbs';
@import '../_modules/molecules/social-share/social-share';
@import '../_modules/molecules/notification/notification';
@import '../_modules/molecules/cookie-message/cookie-message';
@import '../_modules/molecules/button-centered/button-centered';
@import '../_modules/molecules/icon-list-box/icon-list-box';
@import '../_modules/molecules/title-box/title-box';
@import '../_modules/molecules/video-box/video-box';

@import '../_modules/organisms/sgds-masthead/sgds-masthead';
@import '../_modules/organisms/site-header/site-header';
@import '../_modules/organisms/site-footer/site-footer';
@import '../_modules/organisms/newsletter/newsletter';
@import '../_modules/organisms/page-banner/page-banner';
@import '../_modules/organisms/cta-section/cta-section';

// overwriting main.min.css & etc
.site-search {
  .btn {
    .label {
      font-size: calc-em(14px, 14px);
      font-weight: $roman;
      padding: 0;
      top: 0;
    }
  }
}

body div[role=main] {
  section.breadcrumb-page {
    margin-top: 0;

    ul {
      padding: 10px 0;

      li {
        &:after {
          content: "/";
          font-family: $font-family;
        }

        a {
          font-size: calc-em(13px);
        }
      }
    }
  }

  section.content {
    .section-title {
      .date {
        font-size: 1rem;
      }
    }
  }
}

.widget-image-text {
  .image {
    display: inline;
  }
}

.section-title {
  .job {
    font-family: $font-family;
    font-weight: $roman;
  }
}

.about-section {
  .about__title {
    font-family: $font-family;
    font-size: calc-em(40px);
    font-weight: $roman;
  }
}

.imda-carousel__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;

  [data-carousel-pager] {
    font-weight: 600;
    line-height: 140%;
    color: $textBlack;
  }
  
  [data-carousel-arrows] {
    display: flex;
    align-items: center;
    justify-content: center;

    .slick-prev,
    .slick-next {
      background: $primaryPurple !important;
      transform: none;
      left: auto;
      right: auto;

      &:before {
        display: none;
      }
    }
  
    .slick-arrow {
      width: 40px;
      height: 40px;
      font-size: calc-em(14px);
      border-radius: 50%;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      position: relative;
      opacity: 1;
      transition: all 0.3s ease-in-out;
      background-color: $primaryPurple;
      border: none;
  
      &.slick-prev {
        margin: 0 12px 0 0;
      }
  
      &.slick-disabled {
        background-color: transparent;
        border: 1px solid $primaryPurple;
        color: $primaryPurple;
        opacity: 0.4;
        cursor: auto;
      }
      
      &:hover {
        text-decoration: none;
      }
  
      span {
        position: relative;
      }
    }
  }
  
  [data-carousel-dots] {
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: $primaryPurple;

    ul {
      @include normalise-list;
      display: flex;
    }

    li {
      margin: 0 24px 0 0;

      &:last-child {
        margin: 0 !important;
      }

      &.slick-active {
        .dot-indicator {
          width: 56px;
          background-color: $primaryPurple;
        }
        
        .dot-page {
          width: 24px;
          margin: 0 0 0 12px;
        }
      }
    }

    button {
      background-color: transparent;
      margin: 0;
      padding: 0;
      border: none;
      display: flex;
      align-items: center;
      cursor: auto;
    }

    .dot-indicator {
      width: 6px;
      height: 6px;
      border-radius: 3px;
      border: 1px solid $primaryPurple;
      background-color: transparent;
      transition: all 0.25s ease-in-out;
    }

    .dot-page {
      display: block;
      width: 0;
      overflow: hidden;
      font-weight: 600;
      line-height: 140%;
      color: $textBlack;
      margin: 0;
      transition: all 0.25s ease-in-out;
    }
  }
}

.filter--search {
  &:before,
  &:after {
    display: none;
  }
}

.filter__subgroup {
  select {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #c6acd0;
    color: #702f8a;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px 10px 10px;
    position: relative;
    text-align: left;
    width: 100%;
    height: auto;
  }
}

@import '../_modules/atoms/film/film';

@import '../_modules/molecules/video-player/video-player';
@import '../_modules/molecules/interactive-card/interactive-card';
@import '../_modules/molecules/testimonial-item/testimonial-item';
@import '../_modules/molecules/showcase-card/showcase-card';
@import '../_modules/molecules/download/download';
@import '../_modules/molecules/image-card/image-card';
@import '../_modules/molecules/pagination/pagination';

@import '../_modules/organisms/banner-section/banner-section';
@import '../_modules/organisms/carousel-banner/carousel-banner';
@import '../_modules/organisms/interactive-section/interactive-section';
@import '../_modules/organisms/cta-section/cta-section';
@import '../_modules/organisms/testimonial-section/testimonial-section';
@import '../_modules/organisms/showcase-section/showcase-section';
@import '../_modules/organisms/contact-section/contact-section';
@import '../_modules/organisms/film-directory/film-directory';
@import '../_modules/organisms/standard-content-carousel/standard-content-carousel';

// theme colours
@import '_theme';

// microsite override
.site-header {
  .site-header__main {
    &> .container {
      position: static !important;
    }
  }

  &.site-header--top {
    .site-logo {
      .site-logo--top {
        display: none;
      }
    
      .site-logo--default {
        display: block;
      }
    }
  
    .btn-toggle-search {
      color: $primaryPurple;
    }
  
    .site-header__main {
      background: #fff;
    }
    
    .site-nav__lvl1 {
      > li {
        > a,
        > button {
          @include desktop {
            color: $textBlack;
          }
        }
      }
    }
  }

  .site-nav__lvl2 {
    &.container {
      position: fixed !important;
    }

    &__intro button {
      .label {
        color: $textBlack;
        font-size: calc-em(16px);
        font-weight: 500;
        padding: 0;
      }
    }
  }
}

.site-search__form {
  .icon {
    margin-left: 0;
    line-height: inherit;
  }
}

.article {
  padding-top: 36px;

  .social-share {
    display: flex;
    align-items: center;
    display: none;

    &__label {
      margin: 0 16px 0 0;
    }
    
    &__list {
      display: flex;
      
      li {
        margin: 0 10px 0 0;
      }
    }
  }
}