// Normalize Styles
@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/slick-carousel/slick/slick.scss';
@import '../../node_modules/trip.js/dist/trip.min.css';
@import '../../node_modules/tablesaw/dist/tablesaw.css';
@import '../../node_modules/perfect-scrollbar/css/perfect-scrollbar.css';

@import '_mixins';
@import '_variables';
@import '_helpers';
@import '_fonts';
@import '_keyframes';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 1em;
}

body {
  background-color: #fff;
  font-size: calc-em(16px);
  line-height: 1.3;
  font-family: $font-family !important;
  overflow-x: hidden;
  max-width: 100vw;
  overflow-x: hidden;

  &.body--dark {
    background-color: $contentHubBlack;
    color: #fff;
  }
}

b, strong {
  font-weight: bold;
}


// Styling on warning for users on IE7 or below
.browsehappy {
  background: #fff8e2;
  color: #000;
  margin: 0;
  padding: 0.5em 0;
  text-align: center;
}

a, button {
  transition: all .25s ease-in-out;
  cursor: pointer;
  outline: none;
}

input, button, optgroup, select, textarea {
  font: inherit;
}

iframe, video {
  display: block;
  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

.main-content {
  .is-homepage & {
    margin: -67px 0 0;

    @include desktop {
      margin: -80px 0 0;
    }
  }

  &--dark {
    background-color: $contentHubBlack;
  }
}

.home-first {
  position: relative;
}

.home-section {
  padding: 30px 0;
}

.home-last-section {
  background: linear-gradient(#f8f8f8, $background);
  margin: -1px 0; // offset for Macbook
}

.detail-wrapper {
  position: relative;

  .detail-content {
    padding: 20px 0;
  }

  .detail-aside {
    padding-bottom: 72px;

    @include desktop {
      padding-bottom: 32px;
    }
  }
}

.event-detail-wrapper {
  @include desktopMax {
    margin-top: 0 !important;
  }
}

// .breadcrumb-page {
//   background: $purple;

//   ul {
//     @extend %list-unstyled;
//     @extend %clearfix;
//     padding: 15px 10px 15px 0;

//     li {
//       float: left;

//       &:after {
//         @include icomoon('\e315');
//         margin: 0 10px;
//         color: #fff;
//       }

//       &:last-child {
//         &:after {
//           display: none;
//         }
//       }

//       a {
//         color: #fff;
//         font-size: calc-em(16px);
//         text-decoration: none;

//         &:hover {
//           box-shadow: inset 0 -1px 0 0;
//         }
//       }
//     }
//   }
// }

// section.content {
//   h2 {
//     font-size: calc-em(36px);
//     font-weight: $black;
//   }

//   .section-title {
//     padding: 30px 0 20px;
//     border-bottom: 1px solid #d7d7d7;

//     .date {
//       text-transform: uppercase;
//       color: $purple;
//     }
//   }

//   .share {
//     @extend %clearfix;
//     margin-top: 20px;
//     margin-bottom: 40px;
//     display: block;
//     clear: both;

//     .left {
//       float: left;
//     }

//     .right {
//       float: right;

//       ul {
//         @extend %list-unstyled;
//         @extend %clearfix;

//         li {
//           float: left;

//           a {
//             color: grey;
//             text-transform: uppercase;
//             text-decoration: none;
//             font-size: calc-em(16px);

//             img {
//               display: inline;
//               vertical-align: middle;
//             }

//             span {
//               margin-left: 10px;
//             }
//           }

//           + li {
//             margin-left: 15px;
//           }
//         }
//       }
//     }
//   }

//   .iframe-wrap {
//     position: relative;
//     padding-bottom: 56.25%;
//     padding-top: 35px;
//     height: 0;
//     overflow: hidden;

//     iframe {
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//     }
//   }
// }

// .scf-wrapper {
//   a {
//     color: $purple;
//   }
// }

// .scf-section, .about-section {
//   padding: 60px 0;

//   h2 {
//     font-size: calc-em(36px);
//     font-weight: $black;
//   }
// }

// .about-section {
//   padding: 70px 0 50px;
//   background: {
//     image: url('../images/film-pattern.png');
//     repeat: repeat-x;
//     position: top;
//     size: auto 40px;
//     color: #f0f0f0;
//   }

//   .about__title {
//     font-size: calc-em(40px);
//     font-weight: $roman;
//   }
// }

// @media only screen and (max-width: $bpTablet - 1) {
//   section.content {
//     h2 {
//       font-size: calc-em(22px);
//       margin-bottom: 10px;
//     }

//     .section-title {
//       .date {
//         font-size: calc-em(12px);
//       }
//     }

//     .share {
//       .left, .right {
//         margin-left: 0;
//         width: 100%;
//         float: none;
//       }

//       .left {
//         margin-bottom: 10px;
//       }
//     }
//   }

//   .scf-section, .about-section {
//     padding: 30px 0;

//     h2 {
//       font-size: calc-em(22px);
//     }
//   }

//   .about-section {
//     .about__title {
//       font-size: calc-em(32px);
//     }
//   }
// }

@media only screen and (min-width: $bpDesktop) {
  .home-first {
    margin-bottom: 20px;

    // .interest-filter {
    //   bottom: 0;
    //   position: absolute;
    //   width: 100%;
    // }
  }

  .home-section {
    padding: 40px 0;
  }

  .detail-wrapper {
    .detail-content, .detail-aside {
      padding: 36px 0;
    }
  }
}

.sitemap {
  ul {
    @extend %list-unstyled;
    list-style-type: none;
    padding-bottom: 20px;

    li {
      background-color: #f7f7f7;

      &:before{
        display: none;
      }

      a {
        text-decoration: none;
        display: block;
        padding: 10px 20px;
        border-top: 1px solid $grey2;
        font-weight: bold;
      }

      ul {
        @extend %clearfix;

        li {
          padding-right: 20px;
          a {
            padding-bottom: 10px;
            background-color: #ebebeb;
            border-top: 1px solid $grey2;
            font-weight: 200;
          }
          ul {
            border-bottom: none;
            li {
              a {
                background: none;
                border-top: none;
              }
            }
          }
        }
      }

    }
  }
}

@media only screen and (min-width: $bpLgDesktop) {
  .sitemap {
    > ul {
      > li {
        > ul {
          > li {
            float: left;
            width: 50%;

          }
        }
      }
    }
  }
}

.link__pdf {
  position: relative;
  &::after {
    font-family: 'icomoon';
    content: '\eadf';
    color: #D46A6A;
    margin-left: 5px;
    display: inline-block;
  }
  &.article-link__image {
    &::after {
      display: none;
    }
  }
}

.link__word {
  &::after {
    font-family: 'icomoon';
    content: '\e918';
    color: #004d8a;
    margin-left: 5px;
    display: inline-block;
  }
  &.article-link__image {
    &::after {
      display: none;
    }
  }
}

.link__ppt {

  &::after {
    font-family: 'icomoon';
    content: '\e917';
    color: #E64A19;
    margin-left: 5px;
    display: inline-block;
  }
  &.article-link__image {
    &::after {
      display: none;
    }
  }
}

.link__excel {

  &::after {
    font-family: 'icomoon';
    content: '\e916';
    color: #0C7238;
    margin-left: 5px;
    display: inline-block;
  }
  &.article-link__image {
    &::after {
      display: none;
    }
  }
}

.link__external {

  &::after {
    font-family: 'icomoon';
    content: '\e904';
    color: $primaryPurple;
    margin-left: 5px;
    display: inline-block;
  }
  &.article-link__image {
    &::after {
      display: none;
    }
  }
}

body [class*=icon-], [class^=icon-] {
  height: auto;
  line-height: inherit;
//   margin-top: auto;
  // vertical-align: auto;
  width: auto;
  margin: auto;

}
.chat_box [class*=" icon-"], [class^=icon-] {
  background-repeat: no-repeat;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  margin-top: 1px;
  vertical-align: text-top;
  width: 14px;
  margin-left: 3px;
}

.chat_box {
  transform: translateX(-80px) !important;
}

.imda-carousel__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;

  [data-carousel-pager] {
    font-weight: 600;
    line-height: 140%;
    color: $textBlack;
  }

  [data-carousel-arrows] {
    display: flex;
    align-items: center;
    justify-content: center;

    .slick-arrow {
      width: 40px;
      height: 40px;
      font-size: calc-em(14px);
      border-radius: 50%;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      position: relative;
      opacity: 1;
      transition: all 0.3s ease-in-out;
      background-color: $primaryPurple;
      border: none;

      &.slick-prev {
        margin: 0 12px 0 0;
      }

      &.slick-disabled {
        background-color: transparent;
        border: 1px solid $primaryPurple;
        color: $primaryPurple;
        opacity: 0.4;
        cursor: auto;
      }

      &:hover {
        text-decoration: none;
      }

      span {
        position: relative;
      }
    }
  }

  [data-carousel-dots] {
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: $primaryPurple;

    ul {
      @include normalise-list;
      display: flex;
    }

    li {
      margin: 0 24px 0 0;

      &:last-child {
        margin: 0 !important;
      }

      &.slick-active {
        .dot-indicator {
          width: 56px;
          background-color: $primaryPurple;
        }

        .dot-page {
          width: 24px;
          margin: 0 0 0 12px;
        }
      }
    }

    button {
      background-color: transparent;
      margin: 0;
      padding: 0;
      border: none;
      display: flex;
      align-items: center;
      cursor: auto;
    }

    .dot-indicator {
      width: 6px;
      height: 6px;
      border-radius: 3px;
      border: 1px solid $primaryPurple;
      background-color: transparent;
      transition: all 0.25s ease-in-out;
    }

    .dot-page {
      display: block;
      width: 0;
      overflow: hidden;
      font-weight: 600;
      line-height: 140%;
      color: $textBlack;
      margin: 0;
      transition: all 0.25s ease-in-out;
    }
  }

  &--dotsbar {
    [data-carousel-arrows] {
      .slick-arrow {
        background-color: $purple05;
        border: 1px solid $primaryPurple;
        color: $primaryPurple;

        &:hover {
          background-color: $purple10;
        }
      }
    }
    @include desktopMax {
      [data-carousel-dots] {
        width: 100%;
        margin-left: 0;

        ul {
          display: table;
          width: calc(100% + 12px);
          table-layout: fixed;
          margin: 0 -6px;
        }

        li {
          display: table-cell;
        }

        button {
          width: 100%;
          padding: 0 6px;
        }

        .dot-indicator {
          width: 100% !important;
          background-color: $purple20;
          border-color: $purple20;
        }

        .slick-active {
          .dot-indicator {
            border-color: $primaryPurple;
          }
        }

        .dot-page {
          display: none;
        }
      }
    }
  }
}

// trip.js overwrites
.trip-exposed {
  background: transparent;
  pointer-events: none;

  &.questionnaire-filters {
    border-radius: 4px;
  }

  &.home-tabs__nav {
    @include desktop {
      border-radius: 4px;
    }
  }
}

.trip-block {
  max-width: 340px;
  padding: 24px;
  text-align: left;
  border-radius: 4px;

  // &.s {
  //   &:before {
  //     left: 26px;
  //     margin-left: 0;
  //   }
  // }

  &[data-trip-step="0"] {
    @include lgDesktopMax {
      &.pin-right {
        &:before {
          left: auto;
          right: 102px;
        }
      }
    }
  }

  @include desktopMax {
    &[data-trip-step="2"] {
      &.pin-right {
        &:before {
          left: auto;
          right: 12px;
        }
      }
    }
  }

  .trip-content {
    line-height: 140%;

    strong {
      font-weight: 600;
      color: $darkGrey2;
      display: block;
      margin: 0 0 8px;
      padding: 0 20px 0 0;
    }

    p {
      color: #000;
      margin: 0 0 16px;

      &:last-child {
        margin: 0;
      }
    }
  }

  .trip-navigation {
    margin: 16px 0 0;
    display: block;

    > a {
      width: calc(50% - 5px);
      padding: 10px 20px;
      white-space: nowrap;

      &:first-child {
        margin: 0 10px 0 0;
      }
    }
  }
}

.trip-overlay {
  opacity: 0.35;

  &.shorten {
    top: 112px;
    height: calc(100vh - 112px) !important;
  }
}

.empty-msg {
  font-size: 1rem;
  color: $textBlack;
}

.bg-light-purple {
  background-color: $purple10;
}

@import '../_modules/custom-select/custom-select';
@import '../_modules/dropdown-nav/dropdown-nav';

@import '../_modules/atoms/buttons/buttons';
@import '../_modules/atoms/back-to-top/back-to-top';
@import '../_modules/atoms/pill/pill';
@import '../_modules/atoms/checkbox/checkbox';
@import '../_modules/atoms/search-field/search-field';
@import '../_modules/atoms/loading-icon/loading-icon';

@import '../_modules/molecules/site-nav/site-nav';
@import '../_modules/molecules/site-search/site-search';
@import '../_modules/molecules/rte/rte';
@import '../_modules/molecules/article-link/article-link';
@import '../_modules/molecules/image-card/image-card';
@import '../_modules/molecules/summary-card/summary-card';        // check
@import '../_modules/molecules/breadcrumbs/breadcrumbs';
@import '../_modules/molecules/video-player/video-player';
@import '../_modules/molecules/highlight-card/highlight-card';
@import '../_modules/molecules/box-quote/box-quote';
@import '../_modules/molecules/image-text/image-text';
@import '../_modules/molecules/image-cta-listing/image-cta-listing'; //check
@import '../_modules/molecules/image-rte/image-rte'; //check
@import '../_modules/molecules/teaser-card/teaser-card';
@import '../_modules/molecules/story-card/story-card';
@import '../_modules/molecules/listing-filter/listing-filter';
@import '../_modules/molecules/tags-list/tags-list';
@import '../_modules/molecules/featured-card/featured-card';
@import '../_modules/molecules/child-card/child-card';
@import '../_modules/molecules/snippet-card/snippet-card';    // check
@import '../_modules/molecules/filters-group/filters-group';
@import '../_modules/molecules/panel-card/panel-card';    // check
@import '../_modules/molecules/image-link/image-link';
@import '../_modules/molecules/video-player/video-player';
@import '../_modules/molecules/pagination/pagination';
@import '../_modules/molecules/cta-banner/cta-banner';
@import '../_modules/molecules/social-share/social-share';
@import '../_modules/molecules/notification/notification';
@import '../_modules/molecules/cookie-message/cookie-message';
@import '../_modules/molecules/name-card/name-card';
@import '../_modules/molecules/block-card/block-card';
@import '../_modules/molecules/questionnaire-filters/questionnaire-filters';
@import '../_modules/molecules/questionnaire-article-item/questionnaire-article-item';
@import '../_modules/molecules/topic-card/topic-card';
@import '../_modules/molecules/section-header/section-header';
@import '../_modules/molecules/purplebg-section-wrapper/purplebg-section-wrapper';
@import '../_modules/molecules/short-image-card/short-image-card';
@import '../_modules/molecules/thumbnail-card-portrait/thumbnail-card-portrait';
@import '../_modules/molecules/topic-card-listing/topic-card-listing';
@import '../_modules/molecules/collapsible-content/collapsible-content';
@import '../_modules/molecules/stories-card/stories-card';
@import '../_modules/molecules/thumbnail-card/thumbnail-card';
@import '../_modules/molecules/event-listing-card/event-listing-card';
@import '../_modules/molecules/event-speaker-card/event-speaker-card';
@import '../_modules/molecules/events-carousel-item/events-carousel-item';
@import '../_modules/molecules/article-summary/article-summary';
@import '../_modules/molecules/press-release-card/press-release-card';
@import '../_modules/molecules/footnote/footnote';

// @import '../_modules/organisms/loading-screen/loading-screen';
@import '../_modules/organisms/sgds-masthead/sgds-masthead';
@import '../_modules/organisms/site-header/site-header';
@import '../_modules/organisms/site-footer/site-footer';
@import '../_modules/organisms/profile-landing/profile-landing';
@import '../_modules/organisms/home-banner/home-banner';
@import '../_modules/organisms/home-tabs/home-tabs';
@import '../_modules/organisms/stories-carousel/stories-carousel';
@import '../_modules/organisms/digital-blocks/digital-blocks';
@import '../_modules/organisms/article-gallery-carousel/article-gallery-carousel';
@import '../_modules/organisms/call-to-actions/call-to-actions';
@import '../_modules/organisms/introduction/introduction';
@import '../_modules/organisms/newsletter/newsletter';
@import '../_modules/organisms/partners/partners';
@import '../_modules/organisms/page-banner/page-banner';
@import '../_modules/organisms/gallery/gallery';
@import '../_modules/organisms/related-posts/related-posts';
@import '../_modules/organisms/story-listing/story-listing';
@import '../_modules/organisms/featured/featured';
@import '../_modules/organisms/detail-content/detail-content';
@import '../_modules/organisms/detail-aside/detail-aside';
@import '../_modules/organisms/page-header/page-header';
@import '../_modules/organisms/standard-content/standard-content';
@import '../_modules/organisms/programme-listing/programme-listing';
// @import '../_modules/organisms/regulation-listing/regulation-listing';
@import '../_modules/organisms/news-listing/news-listing';
@import '../_modules/organisms/events-listing/events-listing';
@import '../_modules/organisms/anchor-nav/anchor-nav';
@import '../_modules/organisms/detail-section/detail-section';
@import '../_modules/organisms/newsroom/newsroom';
@import '../_modules/organisms/search-results/search-results';
@import '../_modules/organisms/digitalsol-listing/digitalsol-listing';
@import '../_modules/organisms/accordion-list/accordion-list';
@import '../_modules/organisms/accordion-sections/accordion-sections';
@import '../_modules/organisms/standard-content-carousel/standard-content-carousel';
@import '../_modules/organisms/article-listing-with-questionnaire/article-listing-with-questionnaire';
@import '../_modules/organisms/horizontal-accordion/horizontal-accordion';
@import '../_modules/organisms/two-col-carousel/two-col-carousel';
@import '../_modules/organisms/three-col-imgcard/three-col-imgcard';
@import '../_modules/organisms/selected-posts/selected-posts';
@import '../_modules/organisms/three-col-imgcard/three-col-imgcard';
@import '../_modules/organisms/about-us-intro/about-us-intro';
@import '../_modules/organisms/accordion-sliders/accordion-sliders';
@import '../_modules/organisms/search-filters/search-filters';


@import '../_modules/organisms/content-hub-banner/content-hub-banner';
@import '../_modules/organisms/featured-stories/featured-stories';
@import '../_modules/organisms/success-stories/success-stories';
@import '../_modules/organisms/thought-leadership/thought-leadership';
@import '../_modules/organisms/browse-interest/browse-interest';
@import '../_modules/organisms/event-details-banner/event-details-banner';
@import '../_modules/organisms/event-details-section/event-details-section';
@import '../_modules/organisms/event-speakers/event-speakers';
@import '../_modules/organisms/event-card-carousel/event-card-carousel';
@import '../_modules/organisms/text-carousel/text-carousel';
@import '../_modules/organisms/events-landing-banner/events-landing-banner';
@import '../_modules/organisms/featured-events-carousel/featured-events-carousel';
@import '../_modules/organisms/events-search/events-search';
@import '../_modules/organisms/full-bleed-accordions/full-bleed-accordions';


// theme colours
@import '_theme';


// print styles
@import '_print';
