// quick-links styles
.quick-links {
  $p: &;
  opacity: 0;
  transform: translateY(40px);
  transition: transform .25s $easeInOutExpo, opacity .25s ease-in-out;

  &.in-view {
    opacity: 1;
    transform: translateY(0);
  }

  &__title {
    color: $headerColor;
    font-size: calc-em(28px);
    font-weight: $medium;
    margin-top: 0;
    padding-top: 20px;
    position: relative;

    &:before {
      content: "";
      background: $red;
      height: 3px;
      position: absolute;
      top: 0;
      width: 60px;
    }
  }

  &__list {
    @extend %list-unstyled;

    li {
      a {
        border-bottom: 1px solid $borderColor;
        color: #000;
        display: block;
        font-weight: $heavy;
        padding: 10px 30px 10px 0;
        position: relative;
        text-decoration: none;

        &:hover, &:focus {
          color: $purple;

          .icon {
            transform: translateX(5px);
          }
        }

        .label {
          font-size: calc-em(18px);
        }

        .icon {
          align-items: center;
          color: $red;
          display: flex;
          font-size: 0.8em;
          height: 100%;
          position: absolute;
          right: 0;
          transform: translateX(-10px);
          transition: transform .25s $easeInOutExpo;
          top: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: $bpDesktop - 1) {
  .quick-links {
    background: $background;
    padding: 20px;
    margin: 30px -15px 0;

    &__title {
      float: left;
      padding-right: 30px;
      margin-top: 0;
    }

    &__list {
      overflow: hidden;
    }
  }
}

@media only screen and (max-width: $bpTablet - 1) {
  .quick-links {
    &__title {
      max-width: 100px;
    }
  }
}

@media only screen and (min-width: $bpDesktop) {
  .quick-links {
    &__title {
      font-size: calc-em(30px);
    }
  }
}
