mixin quick-links(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .quick-links.viewport-animate.match-height
    h3.quick-links__title= spec.title
    ul.quick-links__list
      each item in spec.items
        li
          a(href= item.url)
            span.label= item.name
            span.icon.icon-arrow-right
