// topic-card styles
.topic-card {
  > div {
    position: relative;
    padding: 16px 20px 0;
    height: 100%;
    word-wrap: break-word;
    word-break: break-word;

    @include desktopMax {
      padding: 14px 14px 0;
    }

    @media only screen and (min-width: $bpDesktop) and (hover: hover) {
      &:hover {
        &:before {
          width: calc(100% - 3px);
        }
    
        &:after {
          height: calc(100% - 3px);
        }

        &__lines {
          &:before {
            width: 33px;
          }
      
          &:after {
            height: 33px;
          }
        }
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      background-color: $borderGray;
    }
    
    &:before {
      width: 44px;
      height: 1px;
      transition: width 0.35s linear;
    }

    &:after {
      width: 1px;
      height: 44px;
      transition: height 0.35s linear;
    }
  }

  &__lines {
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: $primaryPurple;
    }
    
    &:before {
      width: 23px;
      height: 3px;
      transition: width 0.35s linear;

      @include nohover {
        width: 33px;
      }
    }
    
    &:after {
      width: 3px;
      height: 23px;
      transition: height 0.35s linear;

      @include nohover {
        height: 33px;
      }
    }
  }

  &__image {
    margin: 0 0 10px;
    display: block;
    flex: 0 0 48px;
    max-width: 48px;

    @include desktopMax {
      flex: 0 0 26px;
      max-width: 26px;
      margin: 0 0 8px 0;
    }
  }

  &__text {
    // @include desktopMax {
    //   flex: 0 0 calc(100% - 26px - 10px); // 10px for margin
    //   max-width: calc(100% - 26px - 10px);
    // }
    
    p {
      line-height: 140%;
      margin: 0;
    }
  }
}