mixin topic-card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .topic-card(class=spec.__class)&attributes(attributes)
    div
      .topic-card__lines
      figure.topic-card__image
        img(src=spec.image, alt="")
      .topic-card__text
        p=spec.text
