mixin section-header(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .section-header(class=spec.__class)&attributes(attributes)
    .section-header__header-wrapper
      h3.section-header__title= spec.title 
      if (spec.cta)
        +button({
          "url": spec.cta.url,
          "label": spec.cta.name
        })
