// section-header styles
.section-header {
  h3 {
    font-weight: 600;
    margin-top: 0px;
    line-height: 1.4;
  }
  
  h3 {
    margin-right: 32px;
    font-size: calc-em(24px);
  }

  .btn {
    vertical-align: middle;
  }

  &__header-wrapper {
    margin-bottom: 24px;

    & > * {
      display: inline-block;
      margin: 8px 0;
      vertical-align: middle;
    }
  }
}