// events-landing-banner styles
.events-landing-banner {
  padding: 43px 0 68px;
  margin: 0 0 -68px;
  position: relative;
  overflow: hidden;
  z-index: 1;

  @include desktop {
    padding: 130px 0 147px;
    margin: 0 0 -147px;
  }
  
  .container {
    @include desktop {
      padding: 0;
      display: flex;
      justify-content: space-between;
    }
  }

  &__background {
    img {
      @include image-cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 58%;
      filter: blur(50px);
      
      @include desktop {
        filter: blur(225px);
      }

      @supports (-webkit-touch-callout: none) {
        filter: blur(50px);
        -webkit-filter: blur(50px);
      }
    }
  }

  &__header {    
    @include desktopMax {
      margin: 0 0 31px;
    }

    @include desktop {
      max-width: 362px;
      flex: 0 0 362px;
      margin: 100px 0 0;
      padding: 0 0 0 30px;
    }
    
    @include lgDesktop {
      margin: 173px 0 0;
    }
    
    h1 {
      font-weight: 700;
      font-size: calc-em(36px);
      line-height: 120%;
      text-align: center;
      color: #F0F0F0;
      text-shadow: $textGlow1;
      margin: 0;
      
      @include desktop {
        font-size: calc-em(80px);
        margin: 0 0 33px;
        color: #fff;
        text-align: left;
      }
    }

    p {
      font-weight: 500;
      font-size: calc-em(24px);
      line-height: 140%;
      margin: 0;
    }
  }

  &__content {
    position: relative;

    @include desktop {
      max-width: calc(5 / 8 * 100%);
      flex: 0 0 calc(5 / 8 * 100%);
      padding: 0 30px 0 0;
    }

    @include lgDesktop {
      padding: 0;
    }

    &.content-loaded {
      .loading-icon {
        display: none;
      }
    }

    &.content-updating {
      .loading-icon {
        display: block;
      }
    }

    .loading-icon {
      left: 0;
      position: absolute;
      margin: auto;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 1;
    }

    .slick-track {
      width: 100% !important;
      position: static;

      @include aspect-ratio(335, 328, 100%);
      
      @include desktop {
        @include aspect-ratio(916, 656, 100%);
      }  
    }

    .slick-slide {
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;
    }
  }

  .slick-track {
    transform: translate(0, 0) !important;
  }

  .slick-list {
    overflow: visible;
  }

  .slick-slide {
    opacity: 1;
    display: block;
    transform: translate3d(0, 0, 0);
    pointer-events: auto;
    transition: all 0.3s ease-in-out !important;

    &.slick-slide--next0 {
      opacity: 1 !important;
      z-index: 999 !important;
      transform: translate(0, 0);
    }

    &.slick-slide--next1 {
      opacity: 0.9 !important;
      z-index: 998 !important;
      transform: translate(10px, 10px);

      @include desktop {
        transform: translate(30px, -20px);
      }
    }
    
    &.slick-slide--next2 {
      opacity: 0.8 !important;
      z-index: 997 !important;
      transform: translate(20px, 20px);

      @include desktop {
        transform: translate(60px, -40px);
      }
    }
    
    &.slick-slide--next3 {
      opacity: 0.7 !important;
      z-index: 996 !important;
      transform: translate(30px, 30px);

      @include desktop {
        transform: translate(90px, -60px);
      }
    }
    
    &.slick-slide--next4 {
      opacity: 0.6 !important;
      z-index: 995 !important;
      transform: translate(40px, 40px);

      @include desktop {
        transform: translate(120px, -80px);
      }
    }
  }

  .event-listing-thumbnail-card {
    .event-listing-thumbnail-card__image {
      @include aspect-ratio(335, 328, 100%);
      
      @include desktop {
        @include aspect-ratio(916, 656, 100%);
      }  
    }
  }

  .imda-carousel__controls {
    margin: 60px 0 0;

    @include desktop {
      margin: 20px 0 0;
      justify-content: space-between;
    }

    [data-carousel-dots] {
      color: #fff;

      li {
        &.slick-active {
          .dot-indicator {
            background-color: #fff;
          }
        }

        .dot-indicator {
          border-color: #fff;
        }

        .dot-page {
          color: #fff;
        }
      }
    }
    
    [data-carousel-pager] {
      color: #fff;
  
      @include desktop {
        display: none;
      }
    }

    [data-carousel-arrows] {
      .slick-arrow {
        border: 1px solid #fff;
        background-color: transparent;
        
        &.slick-disabled {
          border-color: #fff;
          color: #fff;
        }
      }
    }
  }
}