include ../../atoms/loading-icon/loading-icon

mixin events-landing-banner(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.events-landing-banner(class=spec.__class)&attributes(attributes)
    .events-landing-banner__background
      div#bannerImages

    .container
      header.events-landing-banner__header
        h1=spec.title
        p.desktop-only=spec.text
      .events-landing-banner__content
        +loading-icon()
        div#bannerContent(data-carousel)
          //- each item in spec.items
          //-   +event-listing-thumbnail-card({
          //-     "image": item.image,
          //-     "type": item.type,
          //-     "title": item.title,
          //-     "date": item.date,
          //-     "signature": item.signature,
          //-     "whiteLabel": item.whiteLabel,
          //-     "url": item.url
          //-   })
        .imda-carousel__controls.imda-carousel__controls--events-banner
          div(data-carousel-arrows)
          div.no-desktop(data-carousel-pager)
          div.desktop-only(data-carousel-dots)

    script#eventsBannerItemTemplate(type="text/x-dot-template")
      |{{? it.length}}
      |{{~ it :item:index}}
      +event-listing-thumbnail-card-dot()
      |{{~}}
      |{{?}}
    script#eventBannerData(type="application/json").
      {
        "profile0": [
          {
            "mobileImage": "/images/events/upcomingevents1.jpg",
            "image": "/images/events/upcomingevents1.jpg",
            "type": "SEMINAR",
            "title": "AT x AI(Organised by IMDA)1",
            "date": "01 JUN 2023",
            "signature": true,
            "whiteLabel": true,
            "url": "#"
          },
          {
            "mobileImage": "/images/events/upcomingevents2.jpg",
            "image": "/images/events/upcomingevents2.jpg",
            "type": "SEMINAR",
            "title": "AT x AI(Organised by IMDA)2",
            "date": "01 JUN 2023",
            "signature": true,
            "url": "#"
          },
          {
            "mobileImage": "/images/events/upcomingevents1.jpg",
            "image": "/images/events/upcomingevents1.jpg",
            "type": "SEMINAR",
            "title": "AT x AI(Organised by IMDA)3",
            "date": "01 JUN 2023",
            "signature": false,
            "url": "#"
          },
          {
            "mobileImage": "/images/events/upcomingevents2.jpg",
            "image": "/images/events/upcomingevents2.jpg",
            "type": "SEMINAR",
            "title": "AT x AI(Organised by IMDA)4",
            "date": "01 JUN 2023",
            "signature": true,
            "url": "#"
          },
          {
            "mobileImage": "/images/events/upcomingevents1.jpg",
            "image": "/images/events/upcomingevents1.jpg",
            "type": "SEMINAR",
            "title": "AT x AI(Organised by IMDA)5",
            "date": "01 JUN 2023",
            "signature": false,
            "url": "#"
          }
        ],
        "profile1": [
          {
            "mobileImage": "/images/events/upcomingevents2.jpg",
            "image": "/images/events/upcomingevents2.jpg",
            "type": "SEMINAR",
            "title": "AT x AI(Organised by IMDA)2",
            "date": "01 JUN 2023",
            "signature": true,
            "url": "#"
          },
          {
            "mobileImage": "/images/events/upcomingevents1.jpg",
            "image": "/images/events/upcomingevents1.jpg",
            "type": "SEMINAR",
            "title": "AT x AI(Organised by IMDA)1",
            "date": "01 JUN 2023",
            "signature": true,
            "whiteLabel": true,
            "url": "#"
          },
          {
            "mobileImage": "/images/events/upcomingevents1.jpg",
            "image": "/images/events/upcomingevents1.jpg",
            "type": "SEMINAR",
            "title": "AT x AI(Organised by IMDA)3",
            "date": "01 JUN 2023",
            "signature": false,
            "url": "#"
          },
          {
            "mobileImage": "/images/events/upcomingevents2.jpg",
            "image": "/images/events/upcomingevents2.jpg",
            "type": "SEMINAR",
            "title": "AT x AI(Organised by IMDA)4",
            "date": "01 JUN 2023",
            "signature": true,
            "url": "#"
          }
        ],
        "profile2": [
          {
            "mobileImage": "/images/events/upcomingevents1.jpg",
            "image": "/images/events/upcomingevents1.jpg",
            "type": "SEMINAR",
            "title": "AT x AI(Organised by IMDA)3",
            "date": "01 JUN 2023",
            "signature": false,
            "url": "#"
          },
          {
            "mobileImage": "/images/events/upcomingevents1.jpg",
            "image": "/images/events/upcomingevents1.jpg",
            "type": "SEMINAR",
            "title": "AT x AI(Organised by IMDA)1",
            "date": "01 JUN 2023",
            "signature": true,
            "whiteLabel": true,
            "url": "#"
          },
          {
            "mobileImage": "/images/events/upcomingevents2.jpg",
            "image": "/images/events/upcomingevents2.jpg",
            "type": "SEMINAR",
            "title": "AT x AI(Organised by IMDA)2",
            "date": "01 JUN 2023",
            "signature": true,
            "url": "#"
          },
          {
            "mobileImage": "/images/events/upcomingevents1.jpg",
            "image": "/images/events/upcomingevents1.jpg",
            "type": "SEMINAR",
            "title": "AT x AI(Organised by IMDA)3",
            "date": "01 JUN 2023",
            "signature": false,
            "url": "#"
          },
          {
            "mobileImage": "/images/events/upcomingevents2.jpg",
            "image": "/images/events/upcomingevents2.jpg",
            "type": "SEMINAR",
            "title": "AT x AI(Organised by IMDA)4",
            "date": "01 JUN 2023",
            "signature": true,
            "url": "#"
          }
        ],
        "profile3": [
          {
            "mobileImage": "/images/events/upcomingevents2.jpg",
            "image": "/images/events/upcomingevents2.jpg",
            "type": "SEMINAR",
            "title": "AT x AI(Organised by IMDA)4",
            "date": "01 JUN 2023",
            "signature": true,
            "url": "#"
          },
          {
            "mobileImage": "/images/events/upcomingevents1.jpg",
            "image": "/images/events/upcomingevents1.jpg",
            "type": "SEMINAR",
            "title": "AT x AI(Organised by IMDA)1",
            "date": "01 JUN 2023",
            "signature": true,
            "whiteLabel": true,
            "url": "#"
          },
          {
            "mobileImage": "/images/events/upcomingevents2.jpg",
            "image": "/images/events/upcomingevents2.jpg",
            "type": "SEMINAR",
            "title": "AT x AI(Organised by IMDA)2",
            "date": "01 JUN 2023",
            "signature": true,
            "url": "#"
          }
        ]
      }