mixin text-carousel(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .text-carousel(class=spec.__class)&attributes(attributes)
    div(data-carousel)
      each textBlock in spec.textBlocks
        +rte()
          h3=textBlock.title
          | !{textBlock.text}
    .imda-carousel__controls.imda-carousel__controls--text-carousel
      div.desktop-only(data-carousel-dots)
      div(data-carousel-arrows)
      div.no-desktop(data-carousel-pager)