// text-carousel styles
.text-carousel {
  position: relative;
  margin: 24px 0 0;
  
  @include desktop {
    margin: 30px 0 0;
    padding: 0 0 44px;
  }

  [data-carousel] {
    margin: 0 -15px;

    @include desktop {
      padding: 0 30px;
    }
  }

  .slick-slide {
    padding: 0 15px;
  }

  .rte {
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    padding: 40px 25px;
    
    @include desktop {
      padding: 48px 100px 58px;
    }

    @include lgDesktop {
      padding: 48px 186px 58px;
    }

    > * {
      &:last-child {
        margin-bottom: 0;
      }
    }

    h3 {
      text-align: center;
      margin: 0 0 24px;
      font-weight: 600;
      font-size: calc-em(16px);
      line-height: 140%;
      padding: 0;

      @include desktop {
        margin: 0 0 30px;
      font-size: calc-em(18px);
      }
    }
  }

  .imda-carousel__controls {
    margin: 20px 0 0;

    @include desktop {
      margin: 0;
      justify-content: center;
    }

    [data-carousel-dots] {
      color: #fff;

      @include desktop {
        position: absolute;
        bottom: 0;
        justify-content: center;
      }

      li {
        &.slick-active {
          .dot-indicator {
            background-color: #fff;
          }
        }

        .dot-indicator {
          border-color: #fff;
        }

        .dot-page {
          color: #fff;
        }
      }
    }
    
    [data-carousel-pager] {
      color: #fff;
  
      @include desktop {
        display: none;
      }
    }

    [data-carousel-arrows] {
      .slick-arrow {
        border: 1px solid #fff;
        background-color: transparent;
        
        @include desktop {
          position: absolute;
          top: calc(50% - 22px);
          transform: translate(0, -50%);
          border: none;
          font-size: calc-em(40px);
          height: auto;
        }

        &.slick-prev {
          @include desktop {
            right: calc(100% - 20px);
            margin: 0;
          }
        }
        
        &.slick-next {
          @include desktop {
            left: calc(100% - 20px);
          }
        }
        
        &.slick-disabled {
          border-color: #fff;
          color: #fff;
        }
      }
    }
  }
}