// thought-leadership styles
.thought-leadership {
  position: relative;
  margin: 24px 0 64px;
  padding: 91px 0 0;
  overflow: hidden;

  @include desktop {
    margin: 80px 0 84px;
    padding: 120px 0 0;
  }

  &__bg {
    opacity: 0.7;

    img {
      position: absolute;
      top: 0;
      right: 0;
      max-width: none;
      width: 100%;

      @include tablet {
        width: 75%;
      }
      
      @include desktop {
        width: auto;
      }

      @include lgDesktop {
        width: calc(976 / 1440 * 100%);
        transform: translate(0, 0);
      }
    }
  }

  &__header {
    color: $textOffWhite;
    margin: 0 0 32px;
    max-width: 525px;
    
    @include desktop {
      width: 43%;
      margin: 0 0 60px;
    }

    a {
      color: $textOffWhite;
      border: 1px solid $textOffWhite;
      background-color: transparent;
    }
  }

  &__body {
    margin: 0 -12px;

    article {
      padding: 0 12px;

      @include desktop {
        flex: 0 0 calc(100% / 3);
        max-width: calc(100% / 3);
      }
    }

    > div {
      &:not([data-carousel]) {
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 32px;

        > article {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }

    .stories-card {
      p {
        line-height: 140%;
        font-weight: $light;
        font-size: calc-em(16px); 
        margin: 20px 0 30px; 
        
        @include desktop {
          margin: 20px 0 30px;
        }
      }
      a {
        background-color: black;
      }
    }
  }

  [data-carousel] {
    padding: 0 72px 0 0;
    
    @include lgMobile {
      padding: 0 57px 0 0;
    }

    @include tablet {
      padding: 0;
    }

    &:not(.slick-initialized) {
      display: flex;
    }

    > article {
      flex: 0 0 100%;
      max-width: 100%;
      
      @include tablet {
        flex: 0 0 50%;
        max-width: 50%;
      }

      @include desktop {
        flex: 0 0 calc(100% / 3);
        max-width: calc(100% / 3);
      }
    }
  }

  .slick-list {
    overflow: visible;
  }

  .slick-track {
    display: flex;

    @include tablet {
      width: 100% !important;
    }
  }

  .slick-slide {
    float: none;
    height: auto;
  }

  h2 {
    font-weight: 600;
    font-size: calc-em(40px);
    line-height: 120%;
    text-shadow: $textGlow1;
    margin: 0 0 18px;
    max-width: 500px;

    @include desktop {
      font-size: calc-em(80px);
      margin: 0 0 20px;
    }
  }

  p {
    font-weight: 500;
    line-height: 120%;
    text-shadow: $textGlow1;
    margin: 0 0 20px;

    @include desktop {
      font-size: calc-em(24px);
      margin: 0 0 30px;
    }
  }
}