include ../../molecules/stories-card/stories-card

mixin thought-leadership(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.thought-leadership(class=spec.__class data-endpoint="/ajax/story-listing.json" data-type="thought-leadership")&attributes(attributes)
    picture.thought-leadership__bg
      source(srcset= spec.mobileBg, media="(max-width: 767px)")
      source(srcset= spec.bg)
      img(src=spec.bg, alt="")
    .container
      header.thought-leadership__header
        h2 !{spec.title}
        p=spec.text
        +button({
          "label": "View more",
          "url": "#"
        })
      .thought-leadership__body

    script#thoughtLeadershipTemplate(type="text/x-dot-template")
      | {{? it.length}}
      div(data-carousel)
        | {{~ it:item:index}}
        +stories-card-dot()
        | {{~}}
      | {{??}}
      p No results found. Please try a different combination.
      | {{?}}