include ../../atoms/buttons/buttons
include ../../molecules/rte/rte

mixin site-search(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .site-search
    .container
      .site-search__form(data-action="/search-results" data-endpoint="/ajax/search-suggestions.json")
        div
          .site-search__icons
            span.icon.icon-search
            button.btn.btn-back(type="button")
              span.sr-only Cancel search
              span.icon.icon-arrow-left
            button.btn.btn-cancel(type="button")
              span.sr-only Clear search
              span.icon.icon-close
          input.site-search__input(type="search", placeholder="Search for something", name="keyword", required)
        button.btn.btn-search(type="submit")
          span.label Search
      .site-search__results
        .site-search__results__popular
          span Popular searches
          ul

        .site-search__results__suggestions

        .site-search__results__no-results
          p Sorry, we didn't find any matches for 
            strong.search-term 'innnnn'
          +rte
            p
              strong Try the following:
            ul
              li Double check your spelling for typos
              li Search again using more general terms
              li Try popular keywords
                ul.site-search__results__no-results__popular
                  
              li
                span Explore by category
                .site-search__results__categories

    script#globalSearchPopularTemplate(type='text/x-dot-template')
      | {{? it.length}}
      | {{~ it :item:index}}
      li
        a(href="{{=item.url}}")
          span.icon-search
          span {{=item.title}}
      | {{~}}
      | {{?}}

    script#globalSearchCategoriesTemplate(type='text/x-dot-template')
      | {{? it.length}}
      | {{~ it :item:index}}
      a.btn.btn-primary(href="{{=item.url}}") {{=item.title}}
      | {{~}}
      | {{?}}

    script#globalSearchSuggestionsTemplate(type='text/x-dot-template')
      | {{? it.items.length}}
      ul
        | {{~ it.items :item:index}}
        li
          a(href="{{=item.url}}")
            span(class="icon-{{=item.iconclass}}")
            div
              span.title {{=item.title}}
              span.type {{=item.type}}
        | {{~}}
      div
        +button({
          "label": "Show all results",
          "url": "#"
        })
      | {{??}}
      p Sorry, we didn't find any matches for
        strong '{{=it.keyword}}'
      | {{?}}

    script(id="popularSearchTermsData" type="application/json").
      {
        "profile0": {
          "popularSearch": [
            {
              "title": "InvoiceNow",
              "url": "#"
            },
            {
              "title": "5G Innovation",
              "url": "#"
            },
            {
              "title": "Standards and Classifications",
              "url": "#"
            },
            {
              "title": "Critical Infocomm Technology Resource Programme PLUS (CITREP+)",
              "url": "#"
            },
            {
              "title": "TechSkills Accelerator",
              "url": "#"
            }
          ],
          "categories": [
            {
              "title": "Events",
              "url": "#"
            },
            {
              "title": "Content Hub",
              "url": "#"
            },
            {
              "title": "Programmes & Grants",
              "url": "#"
            },
            {
              "title": "Press Releases & Speeches",
              "url": "#"
            },
            {
              "title": "Industry Digital Plans",
              "url": "#"
            }
          ]
        },
        "profile1": {
          "popularSearch": [
            {
              "title": "Standards and Classifications",
              "url": "#"
            },
            {
              "title": "5G Innovation",
              "url": "#"
            },
            {
              "title": "Critical Infocomm Technology Resource Programme PLUS (CITREP+)",
              "url": "#"
            },
            {
              "title": "InvoiceNow",
              "url": "#"
            },
            {
              "title": "TechSkills Accelerator",
              "url": "#"
            }
          ],
          "categories": [
            {
              "title": "Industry Digital Plans",
              "url": "#"
            },
            {
              "title": "Press Releases & Speeches",
              "url": "#"
            },
            {
              "title": "Content Hub",
              "url": "#"
            },
            {
              "title": "Events",
              "url": "#"
            },
            {
              "title": "Programmes & Grants",
              "url": "#"
            }
          ]
        },
        "profile2": {
          "popularSearch": [
            {
              "title": "5G Innovation",
              "url": "#"
            },
            {
              "title": "Critical Infocomm Technology Resource Programme PLUS (CITREP+)",
              "url": "#"
            },
            {
              "title": "Standards and Classifications",
              "url": "#"
            },
            {
              "title": "TechSkills Accelerator",
              "url": "#"
            },
            {
              "title": "InvoiceNow",
              "url": "#"
            }
          ],
          "categories": [
            {
              "title": "Industry Digital Plans",
              "url": "#"
            },
            {
              "title": "Content Hub",
              "url": "#"
            },
            {
              "title": "Programmes & Grants",
              "url": "#"
            },
            {
              "title": "Press Releases & Speeches",
              "url": "#"
            },
            {
              "title": "Events",
              "url": "#"
            }
          ]
        },
        "profile3": {
          "popularSearch": [
            {
              "title": "TechSkills Accelerator",
              "url": "#"
            },
            {
              "title": "InvoiceNow",
              "url": "#"
            },
            {
              "title": "Critical Infocomm Technology Resource Programme PLUS (CITREP+)",
              "url": "#"
            },
            {
              "title": "Standards and Classifications",
              "url": "#"
            },
            {
              "title": "5G Innovation",
              "url": "#"
            }
          ],
          "categories": [
            {
              "title": "Industry Digital Plans",
              "url": "#"
            },
            {
              "title": "Events",
              "url": "#"
            },
            {
              "title": "Content Hub",
              "url": "#"
            },
            {
              "title": "Press Releases & Speeches",
              "url": "#"
            },
            {
              "title": "Programmes & Grants",
              "url": "#"
            }
          ]
        }
      }

//- mixin mobile-site-search(spec)
//-   - spec = spec || {}
//-   - spec.__class = spec.__class || ''

//-   .m-site-search
//-     form.m-site-search__form(action="/search-results")
//-       input.m-site-search__input(type="text", placeholder="Search", name="keyword")
//-       button.btn.btn-search(type="submit")
//-         span.vh Search
//-         span.icon.icon-search
