// site-search styles
.site-search {
  $p: &;
  background-color: #fff;
  font-size: calc-em(16px);
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  color: #000;

  .body--dark & {
    .rte {
      color: #000;
    }
  }
  
  &.search-opened {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &.active {
    .site-search__results {
      display: block;
    }

    .btn-back,
    .btn-cancel {
      display: flex;
    }
  }

  @include desktopMax {
    padding: 16px 0 0;
  }

  @include desktop {
    position: fixed;
    top: 112px;
    left: 0;
    right: 0;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
    padding: 32px 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.35s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 8px 8px;
    z-index: -1;
  }

  .container {
    flex-wrap: wrap;

    @include desktop {
      padding: 0;
    }

    > * {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }

  &__results__popular,
  &__results__no-results {
    @include desktop {
      padding: 0 82px;
    }
  }

  &__form {
    width: 100%;
    display: flex;
    gap: 17px;

    @include desktop {
      padding: 0 64px;
    }

    & > div {
      position: relative;
      flex: 1 1 auto;
    }
  }

  &__icons {
    & > .icon {
      position: absolute;
      font-size: calc-em(18px);
      top: 5px;
      left: 14px;
      color: $primaryPurple;

      @include desktop {
        font-size: calc-em(20px);
        left: 18px;
      }
    }

    .btn-back {
      position: absolute;
      width: 24px;
      height: 24px;
      background-color: $lightGrey;
      padding: 0;
      margin: 0;
      border: none;
      top: 6px;
      left: 8px;
      color: $primaryPurple;

      @include desktop {
        display: none !important;
      }
    }

    .btn-cancel {
      position: absolute;
      width: 24px;
      height: 24px;
      background-color: $borderGray;
      border-radius: 50%;
      color: #fff;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      top: 6px;
      right: 6px;
      font-size: calc-em(12px);

      @include desktop {
        top: 7px;
        right: 7px;
      }

      .icon {
        margin: 0;
      }
    }
  }

  &__input {
    box-sizing: border-box !important;
    border: none;
    border-radius: 0;
    font-size: calc-em(14px);
    outline: 0;
    padding: 9px 39px;
    background-color: #fff;
    background: $lightGrey;
    border-radius: 20px;
    -webkit-appearance: none;
    color: $darkGrey2;
    font-weight: 400;
    line-height: 160%;
    width: 100%;
    height: 100%;

    @include desktop {
      font-size: calc-em(18px);
      padding: 4px 55px;
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }

  .btn-search {
    background: transparent;
    border: 1px solid $purple100;
    color: $purple100;
    padding: 8px 24px;
    border-radius: 40px;
    transition: all 0.35s ease-in-out;

    &:hover, &:focus {
      background: $primaryDarkPurple;
      color: #fff;
    }

    @include desktopMax {
      display: none;
    }
  }

  .btn-back,
  .btn-cancel {
    display: none;
  }

  &__results {
    margin: 24px 0 0;

    @include desktopMax {
      display: none;
      position: absolute;
      background-color: #fff;
      width: 100%;
      top: 100%;
      left: 0;
      right: 0;
      padding: 24px 30px;
      margin: 0;
      height: calc(100vh - 100px - 69px + 16px);
      height: calc(calc(var(--vh, 1vh) * 100) - 100px - 69px + 16px);
      overflow: auto;

      &::-webkit-scrollbar {
        width: 5px;
        background: $lightPurple;
      }
    
      &::-webkit-scrollbar-thumb {
        background: $primaryPurple;
        border-radius: 5px;
      }
    }

    ul {
      @include normalise-list;
    }

    &__popular,
    &__no-results {
      li {
        margin: 0 0 12px;

        &:last-child {
          margin: 0;
        }

        .icon-search {
          color: $purple100;
          margin: 0;
        }

        a {
          display: flex;
          gap: 20px;
          align-items: flex-start;
          justify-content: flex-start;
          text-decoration: none;
        }

        span {
          &:last-child {
            font-weight: 500;
            line-height: 150%;
            color: #000;
          }
        }
      }
    }

    &__popular {
      @include desktopMax {
        padding: 0 10px;
      }

      > span {
        font-weight: 400;
        line-height: 150%;
        color: $borderGray;
        display: block;
        margin: 0 0 12px;
      }
    }

    &__suggestions {
      display: none;

      li {
        a {
          display: flex;
          gap: 16px;
          align-items: flex-start;
          text-decoration: none;
          transition: all 0.3s ease-in-out;

          @include desktop {
            padding: 6px 82px;
          }

          @include hover {
            &:hover {
              background-color: $purple10;
            }
          }

          > span {
            color: $purple100;
            font-size: calc-em(18px);
            margin: 11px 0 0;
          }

          > div {
            .title {
              display: block;
              font-weight: 500;
              line-height: 150%;
              color: $textBlack;
            }

            .type {
              font-weight: 400;
              font-size: calc-em(14px);
              line-height: 150%;
              color: $darkGrey2;
            }
          }
        }
      }

      > div {
        margin: 20px 0 0;
        text-align: center;

        a {
          padding: 7px 20px;
        }
      }
    }

    &__no-results {
      display: none;

      p {
        font-weight: 400;
        line-height: 150%;
        color: $textBlack;
        margin: 0 0 28px;

        @include tabletMax {
          font-size: calc-em(14px);
        }
      }

      .rte {
        border-top: 1px solid $lightGrey40;
        padding: 28px 0 0;

        p {
          margin: 0 0 8px;
        }

        > ul {
          > li {
            display: block;
          }

          ul {
            padding: 0;

            li {
              span {
                &:last-child {
                  color: $borderGray;
                }
              }

              &:before {
                display: none;
              }
            }
          }
        }
      }
    }

    &__categories {
      margin: 15px 0 0;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;

      a {
        padding: 4px 20px;
        background: transparent;
        border: 1px solid $purple100;
        color: $purple100 !important;
        border-radius: 40px;

        &:hover, &:focus {
          background: $primaryDarkPurple;
          color: #fff !important;
        }
      }
    }
  }
}
