@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ynucht');
  src:  url('fonts/icomoon.eot?ynucht#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ynucht') format('truetype'),
    url('fonts/icomoon.woff?ynucht') format('woff'),
    url('fonts/icomoon.svg?ynucht#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reset:before {
  content: "\e921";
}
.icon-excel:before {
  content: "\e916";
}
.icon-powerpoint:before {
  content: "\e917";
}
.icon-word:before {
  content: "\e918";
}
.icon-rocket:before {
  content: "\e905";
}
.icon-connection:before {
  content: "\e909";
}
.icon-lock:before {
  content: "\e90a";
}
.icon-phone:before {
  content: "\e90b";
}
.icon-tower:before {
  content: "\e914";
}
.icon-arrow:before {
  content: "\e915";
}
.icon-share:before {
  content: "\e906";
}
.icon-time:before {
  content: "\e907";
}
.icon-arrow-right:before {
  content: "\e90c";
}
.icon-arrow-left:before {
  content: "\e908";
}
.icon-calendar:before {
  content: "\e90d";
}
.icon-check:before {
  content: "\e90e";
}
.icon-organisation:before {
  content: "\e90f";
}
.icon-individual:before {
  content: "\e910";
}
.icon-location:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-quote:before {
  content: "\e913";
}
.icon-suitcase:before {
  content: "\e929";
}
.icon-graduation-hat:before {
  content: "\e92a";
}
.icon-people:before {
  content: "\e92b";
}
.icon-home:before {
  content: "\e928";
}
.icon-building:before {
  content: "\e927";
}
.icon-blockquote:before {
  content: "\e926";
}
.icon-info:before {
  content: "\e920";
}
.icon-right-arrow:before {
  content: "\e919";
}
.icon-down-arrow:before {
  content: "\e922";
}
.icon-external-link:before {
  content: "\e904";
}
.icon-chevron-up:before {
  content: "\e91b";
}
.icon-chevron-down:before {
  content: "\e91c";
}
.icon-chevron-left:before {
  content: "\e91d";
}
.icon-chevron-right:before {
  content: "\e91e";
}
.icon-search:before {
  content: "\e91f";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-angle-down:before {
  content: "\e313";
}
.icon-angle-left:before {
  content: "\e314";
}
.icon-angle-right:before {
  content: "\e315";
}
.icon-angle-up:before {
  content: "\e316";
}
.icon-instagram:before {
  content: "\e900";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-youtube:before {
  content: "\e91a";
}
.icon-plus:before {
  content: "\e924";
}
.icon-minus:before {
  content: "\e925";
}
.icon-filter:before {
  content: "\e92c";
}
.icon-file-pdf:before {
  content: "\eadf";
}
