// featured-campaign styles
.featured-campaign {
  opacity: 0;
  transform: translateY(40px);
  transition: transform .25s $easeInOutExpo, opacity .25s ease-in-out;

  &.in-view {
    opacity: 1;
    transform: translateY(0);
  }

  .summary-card {
    height: 100%;
  }
}

@media only screen and (min-width: $bpDesktop) {
  .featured-campaign {
    padding-right: 30px;
  }
}
