include ../../molecules/summary-card/summary-card

mixin featured-campaign(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .featured-campaign.viewport-animate.match-height
    +summary-card({
      "title": "Partner of the Week",
      "image": "/images/homepage/campaign.jpg",
      "contents": "<p>The IMDA develops and regulates the converging infocomm and media sectors in a holistic way, creating a dynamic and exciting sector filled with opportunities for growth, through an emphasis on talent, research, innovation and enterprise.</p>",
      "cta": {
        "url": "https://www.betterinternet.sg/SID-Campaign-2018",
        "label": "Learn more",
        "openNewTab": true
      }
    })
