// home-stats styles
.home-stats {
  opacity: 0;
  padding: 10px 0 0 20px;
  transform: translateY(40px);
  transition: transform .25s $easeInOutExpo, opacity .25s ease-in-out;

  &.in-view {
    opacity: 1;
    transform: translateY(0);
  }

  &__title {
    font-size: calc-em(17px);
    font-weight: $medium;
    position: relative;
    margin: 10px 0;
    text-transform: uppercase;

    &:before {
      content: "";
      background: $red;
      height: 3px;
      position: absolute;
      width: 13px;
      top: 8px;
      left: -20px;
    }
  }

  &__figure {
    margin: 0;

    .number {
      display: block;
      font-size: calc-em(70px);
      font-weight: $light;
    }

    .title {
      display: block;
    }

    .date {
      color: $grey;
      display: block;
      font-size: calc-em(12px);
      margin: 10px 0;
    }
  }
}


@media only screen and (max-width: $bpTablet - 1) {
  .home-stats {
    margin: 30px 0;
    padding: 0;
    text-align: center;

    &__title {
      display: inline-block;
    }

    &__figure {
      .number {
        display: inline-block;
        margin-right: 10px;
      }

      .title {
        display: inline-block;
        text-align: left;
      }
    }

    .cta {
      margin-top: 15px;
    }
  }
}
