mixin home-stats(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .home-stats.viewport-animate
    h2.home-stats__title Stats of the week

    p.home-stats__figure(data-number="5223")
      span.number 52,000
      span.title People enrolled <br> in Tech & Media courses
      small.date As of: 12 Feb 2019

    a.cta.cta-link-angle(href="/programme-detail")
      span View courses
      span.icon.icon-angle-right


