// article-summary styles
.article-summary {
  background-color: $purple10;
  border-left: 3px solid $purple100;
  padding: 30px 30px 30px 27px;
  margin: 0 0 32px;
  
  @include desktop {
    padding: 40px 40px 40px 37px;
    margin: 0 0 36px;
  }

  .rte {
    font-weight: 500;
    
    > * {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}