extends ../_layouts/base

include ../_modules/molecules/image-card/image-card
//- include ../_modules/molecules/homepage-tour/homepage-tour

include ../_modules/organisms/home-banner/home-banner
include ../_modules/organisms/introduction/introduction
include ../_modules/organisms/stories-carousel/stories-carousel
include ../_modules/organisms/home-tabs/home-tabs
include ../_modules/organisms/article-listing-with-questionnaire/article-listing-with-questionnaire
include ../_modules/organisms/digital-blocks/digital-blocks
include ../_modules/organisms/article-gallery-carousel/article-gallery-carousel
include ../_modules/organisms/call-to-actions/call-to-actions
include ../_modules/organisms/partners/partners

block append stylesheets

block append scripts
  //- +homepage-tour

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - pageTitle = 'Home'
  - isHome = true
  - profile = 'profile1'

//- block breadcrumb
  //- +breadcrumb()

//- block banner
  //- +banner()

block content
  +home-banner({
    "banners": [
      {
        "video": "https://www-imda-revamp-gov-sg.cwp.sg/-/media/Imda/Files/Revamp-2022-Homepage/homepages/homepage-business.mp4",
        "poster": "/images/content-hub/content-hub.jpg",
        "title": "Supercharge your digital transformation with CTO-as-a-Service  ",
        "text": "Self-assess your digital readiness, identify your business needs, and find out how you can harness market-proven digital solutions quickly and cost-effectively.",
        "label": "Learn more about IMDA",
        "url": "#"
      },
      {
        "mobileImage": "/images/content-hub/content-hub.jpg",
        "image": "/images/content-hub/content-hub.jpg",
        "title": "Crowdsource innovative solutions and scale your business",
        "text": "IMDA’s Open Innovation Platform matches businesses to solution providers through our open crowdsourcing platform",
        "label": "Learn more about IMDA",
        "url": "#",
        "category": "IMDA Highlight"
      },
      {
        "mobileImage": "/images/content-hub/content-hub.jpg",
        "image": "/images/content-hub/content-hub.jpg",
        "title": "Get the support you need to launch your tech career",
        "text": "The Tech Immersion Placement Programme empowers you to make the switch to becoming an ICT professional through hands-on experience",
        "label": "Learn more about IMDA",
        "url": "#",
        "category": "IMDA Highlight"
      },
      {
        "mobileImage": "/images/content-hub/content-hub.jpg",
        "image": "/images/content-hub/content-hub.jpg",
        "title": "We are <b>Architects</b> of Singapore’s digital future",
        "text": "We dream, design and deliver Singapore’s digital future at the forefront of infocomm and media.",
        "label": "Learn more about IMDA",
        "url": "#",
        "category": "IMDA Highlight"
      }
    ]
  })

  +introduction({
    "title": "<b>IMDA</b> is helping businesses innovate and grow through digital",
    "content": "<p>As we build our digital metropolis, we want to empower our businesses to harness digital opportunities. To enable our businesses to thrive, we are digitalising our SMEs, putting in place foundations so our businesses can tap into the global data-driven economy, and growing a vibrant ICT and media ecosystem.</p>"
  })
  
  +home-tabs({
    "nav": [
      {
        "__id": "tab1",
        "label": "<span>How <strong>IMDA</strong> can help</span>",
        "ref": "#articles"
      },
      {
        "__id": "tab2",
        "label": "<span>Latest at <strong>IMDA</strong></span>",
        "ref": "#latest"
      },
      {
        "__id": "tab3",
        "label": "<span>Most <strong>popular</strong> pages</span>",
        "ref": "#popular"
      }
    ]
  })
    +article-listing-with-questionnaire({
      "image": "/Cwp/assets/imda/images/questionnaire-image.jpg",
      "profile": "business",
      "filters": {
        "top": [
          {
            "default": true,
            "value": "",
            "text": "Select your profile"
          },
          {
            "value": "sme",
            "text": "Small and medium enterprise"
          },
          {
            "value": "mnc",
            "text": "Multinational Corporation"
          },
          {
            "value": "stup",
            "text": "Startup"
          },
          {
            "default": true,
            "value": "",
            "text": "Select your profile"
          },
          {
            "value": "sme",
            "text": "Small and medium enterprise"
          },
          {
            "value": "mnc",
            "text": "Multinational Corporation"
          },
          {
            "value": "stup",
            "text": "Startup"
          },
          {
            "default": true,
            "value": "",
            "text": "Select your profile"
          },
          {
            "value": "sme",
            "text": "Small and medium enterprise"
          },
          {
            "value": "mnc",
            "text": "Multinational Corporation"
          },
          {
            "value": "stup",
            "text": "Startup"
          }
        ],
        "bottom": [
          {
            "id": "sme",
            "options": [
              {
                "default": true,
                "value": "",
                "text": "Select your interest"
              },
              {
                "value": "uptech",
                "text": "Upgrade my tech1"
              },
              {
                "value": "upskill",
                "text": "Upskill my team1"
              },
              {
                "value": "reg",
                "text": "Understand regulations1"
              },
              {
                "value": "bestpractices",
                "text": "Learn best practices1"
              },
              {
                "default": true,
                "value": "",
                "text": "Select your interest"
              },
              {
                "value": "uptech",
                "text": "Upgrade my tech1"
              },
              {
                "value": "upskill",
                "text": "Upskill my team1"
              },
              {
                "value": "reg",
                "text": "Understand regulations1"
              },
              {
                "value": "bestpractices",
                "text": "Learn best practices1"
              }
            ]
          },
          {
            "id": "mnc",
            "options": [
              {
                "default": true,
                "value": "",
                "text": "Select your interest"
              },
              {
                "value": "uptech",
                "text": "Upgrade my tech2"
              },
              {
                "value": "upskill",
                "text": "Upskill my team2"
              },
              {
                "value": "reg",
                "text": "Understand regulations2"
              },
              {
                "value": "bestpractices",
                "text": "Learn best practices2"
              }
            ]
          },
          {
            "id": "stup",
            "options": [
              {
                "default": true,
                "value": "",
                "text": "Select your interest"
              },
              {
                "value": "uptech",
                "text": "Upgrade my tech3"
              },
              {
                "value": "upskill",
                "text": "Upskill my team3"
              },
              {
                "value": "reg",
                "text": "Understand regulations3"
              },
              {
                "value": "bestpractices",
                "text": "Learn best practices3"
              }
            ]
          }
        ]
      },
      "articles": [
        {
          "title": "Pre-approved Solutions",
          "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed",
          "url": "www.google.com",
          "isexternal": true
        },
        {
          "title": "Free e-invoicing Solutions",
          "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed",
          "url": "/article-page"
        },
        {
          "title": "Data Protection Essentials",
          "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed",
          "url": "#",
          "isexternal": true
        },
        {
          "title": "Better Data Driven Business",
          "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed",
          "url": "#"
        },
        {
          "title": "Born Digital Proof of Concept",
          "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed",
          "url": "#"
        },
        {
          "title": "Chief Technology Officer as-a-service",
          "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed",
          "url": "#"
        }
      ]
    })#articles.active.fadein(aria-labelledby="tab1" aria-hidden="false")
    +article-gallery-carousel({
      "articles": [
        {
          "mobileImage": "/Cwp/assets/imda/images/latest1.jpg",
          "image": "/Cwp/assets/imda/images/latest1.jpg",
          "title": "Future Communications Research and Development Programme1",
          "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.",
          "label": "Read more",
          "url": "#"
        },
        {
          "mobileImage": "/Cwp/assets/imda/images/latest1.jpg",
          "image": "/Cwp/assets/imda/images/latest1.jpg",
          "title": "Future Communications Research and Development Programme2",
          "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.",
          "label": "Read more",
          "url": "#"
        },
        {
          "mobileImage": "/Cwp/assets/imda/images/latest1.jpg",
          "image": "/Cwp/assets/imda/images/latest1.jpg",
          "title": "Future Communications Research and Development Programme3",
          "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.",
          "label": "Read more",
          "url": "#"
        },
        {
          "mobileImage": "/Cwp/assets/imda/images/latest1.jpg",
          "image": "/Cwp/assets/imda/images/latest1.jpg",
          "title": "Future Communications Research and Development Programme4",
          "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.",
          "label": "Read more",
          "url": "#"
        },
        {
          "mobileImage": "/Cwp/assets/imda/images/latest1.jpg",
          "image": "/Cwp/assets/imda/images/latest1.jpg",
          "title": "Future Communications Research and Development Programme5",
          "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.",
          "label": "Read more",
          "url": "#"
        },
        {
          "mobileImage": "/Cwp/assets/imda/images/latest1.jpg",
          "image": "/Cwp/assets/imda/images/latest1.jpg",
          "title": "Future Communications Research and Development Programme6",
          "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.",
          "label": "Read more",
          "url": "#"
        }
      ]
    })#latest(aria-labelledby="tab2" aria-hidden="true")
    +digital-blocks({
      "mobileTitle": "Most Visited Pages",
      "mobileText": "See what other businesses are browsing",
      "title": "Most popular pages for <b>Businesses</b>",
      "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit."
    })#popular(aria-labelledby="tab3" aria-hidden="true")

  +stories-carousel({
    "title": "Testimonials and thought leadership",
    "text": "Read inspiring success stories and thought leadership content, curated just for you.",
    "label": "View our content hub",
    "url": "#",
    "articles": [
      {
        "mobileImage": "/images/testimonial1.jpg",
        "image": "/images/testimonial1.jpg",
        "title": "Bridging the digital divide",
        "url": "#",
        "date": "18 Nov 2022",
        "readtime": "6",
        "category": "Success stories",
        "topics": [
          {
            "name": "Industry 4.0",
            "url": "#"
          },
          {
            "name": "Innovation",
            "url": "#"
          }
        ]
      },
      {
        "mobileImage": "/images/testimonial2.jpg",
        "image": "/images/testimonial2.jpg",
        "title": "Uncovering locally tailored innovation with IMDA’s Open Innovation Platform",
        "url": "#",
        "date": "18 Nov 2022",
        "readtime": "6",
        "category": "Success stories",
        "topics": [
          {
            "name": "Industry 4.0",
            "url": "#"
          },
          {
            "name": "Innovation",
            "url": "#"
          }
        ]
      },
      {
        "mobileImage": "/images/testimonial3.jpg",
        "image": "/images/testimonial3.jpg",
        "title": "Journeying together towards open innovation",
        "url": "#",
        "date": "18 Nov 2022",
        "readtime": "6",
        "category": "Thought Leadership",
        "topics": [
          {
            "name": "Industry 4.0",
            "url": "#"
          },
          {
            "name": "Innovation",
            "url": "#"
          }
        ]
      },
      {
        "mobileImage": "/images/testimonial4.jpg",
        "image": "/images/testimonial4.jpg",
        "title": "Emerge stronger into economic recovery with these five tech opportunities",
        "url": "#",
        "date": "18 Nov 2022",
        "readtime": "6",
        "category": "Thought Leadership",
        "topics": [
          {
            "name": "Industry 4.0",
            "url": "#"
          },
          {
            "name": "Innovation",
            "url": "#"
          }
        ]
      },
      {
        "mobileImage": "/images/testimonial5.jpg",
        "image": "/images/testimonial5.jpg",
        "title": "Embrace innovation, emerge resilient",
        "url": "#",
        "date": "18 Nov 2022",
        "readtime": "6",
        "category": "Success stories",
        "topics": [
          {
            "name": "Industry 4.0",
            "url": "#"
          },
          {
            "name": "Innovation",
            "url": "#"
          }
        ]
      }
    ]
  })

  +call-to-actions({
    "section1": {
      "image": "/Cwp/assets/imda/images/innovation.png",
      "title": "<strong>Explore</strong> our programmes",
      "label": "View programmes",
      "url": "#"
    },
    "section2": {
      "image": "/Cwp/assets/imda/images/subscribe.png",
      "title": "There's <strong>more</strong> to discover",
      "text": "Register with your email to receive our newsletter.",
      "label": "Sign up now",
      "url": "#"
    }
  })

  +partners