// call-to-actions styles
.call-to-actions {
  $p: &;
  position: relative;
  background-color: $lightGrey;
  z-index: 2;
  
  &.no-desktop {
    overflow: hidden;
    padding: 64px 0;
  }

  &.desktop-only {
    padding: 0 0 48px;
  }

  .row {
    margin: 0;
    background-color: #fff;
    
    @include desktop {
      margin: 0 0 -86px;
      transform: translate(0, -86px);
      filter: drop-shadow(0px 0px 12px rgba(112, 47, 138, 0.2));
    }

    > div {
      position: relative;

      @include desktop {
        padding: 48px 48px 78px;
      }

      @include lgDesktop {
        padding: 64px;
      }

      &:first-child {
        @include desktop {
          border-right: 1px solid $borderGray;
        }

        #{$p}__bg {
          svg {
            width: 187px;
            bottom: -160px;
            right: 36px;

            @media only screen and (max-width: 1200px) {
              width: 150px;
              bottom: -120px;
            }
          }
        }

        // &:hover {
        //   svg {
        //     fill: $purple20;
        //   }
        // }
      }
      
      &:last-child {
        #{$p}__bg {
          svg {
            width: 160px;
            right: -14px;
            top: -80px;

            @media only screen and (max-width: 1200px) {
              width: 130px;
              top: -40px;
            }
          }
        }

        // &:hover {
        //   svg {
        //     fill: $lightMaroon;
        //   }
        // }
      }
    }
  }

  &__bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;

    svg {
      position: absolute;
      fill: #fff;
      transition: all 0.35s ease-in-out;
    }
  }

  picture {
    margin: 0 0 24px;
    display: block;
    
    img {
      max-height: 110px;
    }
  }

  &__shapes {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    .shape1 {
      position: absolute;
      top: -19px;
      left: -32px;
      animation: updownshort 2.7s ease-in-out infinite alternate;
    }

    .shape2 {
      position: absolute;
      right: -14px;
      bottom: -36px;
      animation: downupshort 3.2s ease-in-out infinite alternate;
    }
  }

  h2 {
    font-weight: 400;
    font-size: calc-em(26px);
    line-height: 140%;
    color: $textBlack;
    margin: 0;

    @include desktop {
      font-size: calc-em(36px);
    }
  }

  p {
    line-height: 140%;
    color: $textBlack;
    margin: 8px 0 0;
  }

  a {
    margin: 14px 0 0;
    
    @include tablet {
      margin: 24px 0 0;
    }
  }

  &__lottie {
    margin: 0 0 16px;
    transform: translate(0, 24px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;

    &.fade-in {
      transform: translate(0, 0);
      opacity: 1;
      visibility: visible;
    }

    img {
      width: 150px;
      height: 150px;
      display: block;
      margin: 0 auto;
    }

    lottie-player {
      margin: 0 auto;
    }
  }

  &__text {
    text-align: center;
    transform: translate(0, 24px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;

    &.fade-in {
      transform: translate(0, 0);
      opacity: 1;
      visibility: visible;
    }

    h2 {
      font-weight: 600;
      line-height: 120%;
      margin: 0 0 8px;
    }

    p {
      line-height: 140%;
      margin: 0 auto 14px;
      max-width: 280px;
    }
  }
}