mixin call-to-actions(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.call-to-actions.desktop-only(class=spec.__class)&attributes(attributes)
    .container
      .row
        .col-sm-6
          .call-to-actions__bg
            svg(width="163" viewBox="0 0 163 236" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M109.854 29.7041V207.466L161.558 234.533V2L109.854 29.7041Z" stroke="#E2D5E8" stroke-width="1.5" stroke-miterlimit="10")
              path(d="M1 234.533L51.7978 207.466V29.7041L1 2V234.533Z" stroke="#E2D5E8" stroke-width="1.5" stroke-miterlimit="10")
          picture.no-mobile
            source(srcset= spec.section1.mobileImage, media="(max-width: 1023px)")
            source(srcset= spec.section1.image)
            img(src=spec.section1.image, alt="")
          h2 !{spec.section1.title}
          +button({
            "url": spec.section1.url,
            "label": spec.section1.label
          })
        .col-sm-6
          .call-to-actions__bg
            svg(width="143" viewBox="0 0 143 224" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M56.2805 223.25H0.75V84.0017L56.2805 223.25Z" stroke="#ECD1E0" stroke-width="1.5")
              path(d="M141.283 84.0016V223.25H85.753L141.283 84.0016Z" stroke="#ECD1E0" stroke-width="1.5")
              path(d="M141.637 83.9054V223.154H86.1065L141.637 83.9054Z" stroke="#ECD1E0" stroke-width="1.5")
              path(d="M71.0093 110.022L22.1512 0.75H119.883L71.0093 110.022Z" stroke="#ECD1E0" stroke-width="1.5")
          picture.no-mobile
            source(srcset= spec.section2.mobileImage, media="(max-width: 1023px)")
            source(srcset= spec.section2.image)
            img(src=spec.section2.image, alt="")
          h2 !{spec.section2.title}
          p=spec.section2.text
          +button({
            "url": spec.section2.url,
            "label": spec.section2.label
          })
          //- form(action="")
          //-   input(type="email" placeholder="Enter your email")
          //-   button.btn.btn-primary(type="submit")=spec.section2.label
          //-     span.icon.icon-right-arrow
  section.call-to-actions.no-desktop
    .container
      .call-to-actions__shapes
        .shape.shape1
          svg(width="106" height="117" viewBox="0 0 106 117" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M2 1L52.988 114L104 1L2 1Z" stroke="#E2D5E8" stroke-width="2" stroke-miterlimit="10")
        .shape.shape2
          svg(width="67" height="167" viewBox="0 0 67 167" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M2.13722 166L65.8629 166L65.8628 5.31542L2.13722 166Z" stroke="#E2D5E8" stroke-width="2" stroke-miterlimit="10")
      .call-to-actions__lottie
        img(src=spec.section2.image, alt="")
        //- lottie-player(src="/Cwp/assets/imda/images/envelope.json" background="transparent" speed="1" style="width: 150px; height: 150px;")
      .call-to-actions__text
        h2 Want to be updated?
        p Register with your email to receive our newsletter.
        +button({
          "url": "#",
          "label": "Sign up now"
        })