extends ../../_layouts/standard-detail

block append config
  - baseUrl = "../../"
  - pageUrl = "/organisation-structure/subsidiary"
  - var pageData = site.data.standardDetail.subsidiary
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts

block detailContent
  +rte()
    h2 Singapore Network Information Centre

    p In fulfilling its multi-faceted role, IMDA wholly owns the Singapore Network Information Centre (SGNIC) which administers the Internet domain name space in Singapore.

    p Formed in October 1995, SGNIC is committed to providing Internet registry and information services in an efficient, effective and reliable manner to enhance the security, stability and resiliency of the Internet Domain Name System (DNS) infrastructure in Singapore and to foster the integrity and growth of .SG domain names.

    p For more information on SGNIC, please visit <a href="www.sgnic.sg" target="_blank">www.sgnic.sg</a>.
