// search-filters styles
.search-filters {
  $p: &;
  color: $textBlack;

  &.active {
    #{$p}__suggestions {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    .btn-back,
    .btn-cancel {
      display: flex;
    }
  }

  &__searchbar {
    width: 100%;
    display: flex;
    gap: 17px;
    margin: 0 0 23px;

    @include desktop {
      margin: 0;
      position: relative;
      z-index: 3;
    }

    &.has-error {
      margin: 0 0 44px;
    }

    & > div {
      position: relative;
      flex: 1 1 auto;
    }

    .error-msg {
      position: absolute;
      z-index: 0;
      margin: 8px 0 0;
    }
  }

  &__icons {
    & > .icon {
      position: absolute;
      font-size: calc-em(18px);
      top: 7px;
      left: 14px;
      color: $primaryPurple;

      @include desktop {
        font-size: calc-em(20px);
        top: 5px;
        left: 18px;
      }
    }

    .btn-back {
      position: absolute;
      width: 24px;
      height: 24px;
      background-color: #fff;
      padding: 0;
      margin: 0;
      border: none;
      top: 7px;
      left: 8px;
      color: $primaryPurple;

      @include desktop {
        display: none !important;
      }
    }

    .btn-cancel {
      position: absolute;
      width: 24px;
      height: 24px;
      background-color: $borderGray;
      border-radius: 50%;
      color: #fff;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      font-size: calc-em(12px);
      top: 7px;
      right: 7px;

      @include desktop {
        width: 20px;
        height: 20px;
        top: 9px;
        right: 13px;
        font-size: calc-em(10px);
      }

      .icon {
        margin: 0;
      }
    }
  }

  &__input {
    box-sizing: border-box !important;
    border: 1px solid $purple100;
    border-radius: 0;
    font-size: calc-em(14px);
    outline: 0;
    padding: 9px 39px;
    background-color: #fff;
    background: #fff;
    border-radius: 20px;
    -webkit-appearance: none;
    color: $textBlack;
    font-weight: 400;
    line-height: 160%;
    width: 100%;
    height: 100%;

    @include desktop {
      font-size: calc-em(18px);
      padding: 4px 55px;
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }

  .btn-search {
    background: transparent;
    border: 1px solid $purple100;
    color: $purple100;
    padding: 8px 24px;
    border-radius: 40px;
    transition: all 0.35s ease-in-out;

    &:hover, &:focus {
      background: $primaryDarkPurple;
      color: #fff;
    }

    @include desktopMax {
      display: none;
    }
  }

  .btn-back,
  .btn-cancel {
    display: none;
  }

  &__suggestions {
    position: absolute;
    background-color: #fff;
    width: 100%;
    padding: 0 42px 24px;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    @include desktop {
      top: -23px;
      left: 3px;
      right: 3px;
      width: calc(100% - 6px);
      padding: 81px 0 16px;
      border-radius: 8px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    }

    @include lgDesktop {
      left: -2px;
      right: -2px;
      width: calc(100% + 4px);
    }

    p {
      margin: 0;
      
      @include desktop {
        padding: 0 45px;
      }
    }

    ul {
      @include normalise-list;
    }

    li {
      a {
        display: flex;
        gap: 16px;
        align-items: flex-start;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        @include desktop {
          padding: 6px 45px;
        }

        @include hover {
          &:hover {
            background-color: $purple10;
          }
        }

        > span {
          color: $purple100;
          font-size: calc-em(18px);
          margin: 11px 0 0;
        }

        > div {
          .title {
            display: block;
            font-weight: 500;
            line-height: 150%;
            color: $textBlack;
          }

          .type {
            font-weight: 400;
            font-size: calc-em(14px);
            line-height: 150%;
            color: $darkGrey2;
          }
        }
      }
    }
  }

  &__filters {
    margin: 16px 0 32px;

    &.active {
      > button {
        span {
          transform: scaleY(-1);
        }
      }
    }

    @include desktopMax {
      border: 1px solid $borderGray2;
      border-radius: 8px;
      margin: 0;
    }

    > button {
      background-color: transparent;
      padding: 0;
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: 600;
      font-size: calc-em(18px);
      line-height: 140%;
      border: none;
      margin: 0 0 16px;
      
      @include desktopMax {
        width: 100%;
        margin: 0;
        padding: 18px 14px;
        justify-content: space-between;
      }

      .icon {
        background-color: $purple100;
        color: #fff;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        font-size: calc-em(5px, 18px);
      }
    }

    &__options {
      padding: 0 14px 18px;

      @include desktop {
        border-radius: 8px;
        padding: 14px 30px 24px;
        margin: 0 0 34px;
        border: 1px solid $borderGray2;
      }

      p {
        margin: 0;
        font-weight: 500;
        font-size: calc-em(18px);
        line-height: 140%;
        
        @include desktop {
          font-size: calc-em(18px);
        }

        & + ul {
          margin: 18px 0 0;
        }
      }

      ul {
        @include normalise-list;
        padding: 0 18px;
        
        @include desktop {
          display: flex;
          gap: 28px;
          flex-wrap: wrap;
          padding: 0;
        }
      }

      li {
        @include desktopMax {
          margin: 0 0 20px;
        }

        &:last-child {
          margin: 0;
        }
      }

      label {
        white-space: nowrap;
        font-weight: 500;
        line-height: 140%;
        padding-left: 36px;
        padding-right: 10px;
        
        @include desktop {
          font-size: calc-em(18px);
        }
      }

      .checkbox {
        & + label {
          &:before {
            height: 20px;
            width: 20px;
            border-radius: 4px;
            border: 1px solid $borderGray;
            
            @include desktop {
              height: 24px;
              width: 24px;
              border: 2px solid $borderGray;
            }
          }

          &:after {
            color: white;
            font-size: calc-em(12px);
            top: 4px;
            left: 4px;
            margin-top: 0;
            
            @include desktop {
              top: 4.5px;
              left: 5px;
              font-size: calc-em(14px, 18px);
            }
          }
        }
      }

      > div {
        text-align: center;
        margin: 20px 0 0;

        @include desktop {
          display: none;
        }

        button {
          padding: 7px 33px;
        }
      }
    }
  }
}
