mixin search-filters(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .search-filters(class=spec.__class)&attributes(attributes)
    .search-filters__searchbar
      div
        .search-filters__icons
          span.icon.icon-search
          button.btn.btn-back(type="button")
            span.sr-only Cancel search
            span.icon.icon-arrow-left
          button.btn.btn-cancel(type="button")
            span.sr-only Clear search
            span.icon.icon-close
        input.search-filters__input#keyword(type="search", placeholder="Search for something", name="keyword", required)
      button.btn.btn-search(type="submit")
        span.label Search
    .search-filters__suggestions

    .search-filters__filters
      button(type="button") Advanced search
        span.icon.icon-chevron-down
      .search-filters__filters__options(style="display: none;")
        p=spec.fields.label
        ul
          each field, index in spec.fields.options
            li
              input.checkbox(type="checkbox" id=spec.fields.name + index name=spec.fields.name value=field.value)
              label.checkbox-label(for=spec.fields.name + index)=field.label
        div
          button.btn.btn-primary(type="button") Done
          
    script#searchSuggestionsTemplate(type='text/x-dot-template')
      | {{? it.items.length}}
      ul
        | {{~ it.items :item:index}}
        li
          a(href="{{=item.url}}")
            span(class="icon-{{=item.iconclass}}")
            div
              span.title {{=item.title}}
              span.type {{=item.type}}
        | {{~}}
      | {{??}}
      p Sorry, we didn't find any matches for 
        strong '{{=it.keyword}}'
      | {{?}}