extends ../_layouts/standard-detail

block append config
  - pageUrl = "/pixel"
  - var pageData = site.data.standardDetail.pixel
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - anchorNav = pageData.anchorNav
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts

block detailContent
  +rte()
    h2 In propelling Singapore’s digital economy to the next stage of development, the PIXEL facility at One-North aims to grow the innovation community, equipping infocomm-media (ICM) talent and companies to collaborate and build industry-leading digital solutions, that address international opportunities.

    p With a 25,000 sqft innovation space in One-North, the PIXEL facility offers a well-equipped physical lab, studio, incubation facilities, on-premise expertise, and programmes that are built around design, data, engineering, ICT, and Media.

    h3#innovationspace Innovation Space for Tech Innovators

    p PIXEL serves to bring together the innovation community to learn, build, and access markets. An exciting line-up of events at PIXEL is in place to help participants to learn from leading international experts and local minds, through the sharing of their know-how and best practices. Regular design thinking workshops and consultation sessions, also help in framing projects that solve high value opportunities. Be it developing experimental immersive content, addressing new monetisation opportunities, or testing prototypes in secured sandbox environments, individuals and companies at PIXEL are brought together to turn innovative prototypes and projects into market ready solutions.

    p Teams that are incubated at PIXEL are also provided access to a panel of mentors that give timely feedback and coaching. Structured programmes are also organised by PIXEL in conjunction with industry leaders to address market gaps, trends, and opportunities. Interested investors and potential customers also get a chance to connect with the community at PIXEL during the regularly organised networking events and demo days which showcase innovations developed at PIXEL.

    h3#resourcecentre One-stop Resource Centre for Games Developers

    p Formerly known as the Games Solution Centre (GSC) @ Blk 71, PIXEL provides game start-ups and talent a rapid prototyping development environment with the right training and mentorship programmes to develop their games. It also provides users with the relevant platforms to help launch and market their games locally and internationally. PIXEL allows game developers to be plugged into a conducive environment, partnering them as they progress from incubation stages to being full-fledged commercially viable companies.

    h3#creativespaces Creative Spaces for Online Content Creators

    p Let your creativity flourish and turn your ideas into reality with the right tools and training, all in one place.

    p Online content creators may expect to find shared production facilities and equipment at PIXEL that are essential for video production of all levels, such as production studios, green screen and editing suites, thematic sets, hot-desking areas and cameras. There are also plenty of opportunities for you to connect with fellow creators at the space, exchange ideas and collaborate.

    h3 Contact Details

    p <a style="display: inline-block;" href="https://www.facebook.com/impixelsg" target="_blank" title="IMPixel Facebook"><img src="/images/detail/facebook-icon.png" alt="Facebook icon" /></a><a style="display: inline-block;" href="https://www.instagram.com/impixelsg" target="_blank" title="IMPixel Instagram"><img src="/images/detail/instagram-icon.png" alt="Instagram icon" /></a><a style="display: inline-block;" href="https://www.youtube.com/channel/UCcRDfEcVDKImGS25brcGmDQ" target="_blank" title="IMPixel Youtube Channel"><img src="/images/detail/youtube-icon.png" alt="Youtube icon" /></a>

    p For more information on the line-up of events at PIXEL, please visit <a href="http://impixel.sg" target="_blank">http://impixel.sg</a>

    p For all other queries, please email us at <a href="mailto:enquire@pixel.sg">enquire@pixel.sg</a>.

