// two-col-carousel styles
.two-col-carousel {
  .container {
    padding-top: 40px;
    padding-bottom: 48px;
  }

  &__content {
    @include desktop {
      position: relative;
      padding-top: 55px;
      margin-top: -55px;
    }
  }

  &__listing {
    margin: 0 -15px 22px;

    @include desktop {
      margin-bottom: 0px;
      display: flex;
    }

    .slick-list {
      display: flex;
    }
    .slick-track {
      display: flex;
    }
  }

  .imda-carousel__controls {
    @include desktop {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      justify-content: flex-start;

      [data-carousel-dots] {
        margin: 0 0 0 32px;
      }
    }
  }
  
  &__item {
    padding: 0 15px;

    @include desktop {
      flex: 0 0 calc(100% / 3);
      max-width: calc(100% / 3);
    }
  }

  .child-card {
    height: 100%;
  }

  .cta {
    margin-top: 40px;
    text-align: center;
  }
}