include ../../molecules/child-card/child-card
include ../../molecules/section-header/section-header

mixin two-col-carousel(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  // changed to 3 columns due to feedback but no change in class name as it affects BE HTML
  section.two-col-carousel(class=spec.__class)&attributes(attributes)
    .container
      +section-header({
        "title": spec.title
      })
      
      .two-col-carousel__content
        .two-col-carousel__listing(data-carousel)
          each item in spec.items
            .two-col-carousel__item
              +child-card(item)
        .imda-carousel__controls.imda-carousel__controls--dotsbar
          div(data-carousel-dots)
      
      if (spec.cta)
        div.cta
          +button({
            "url": spec.cta.url,
            "label": spec.cta.name
          })