extends ../_layouts/standard-listing

block append config
  - pageUrl = "/sectors-media"
  - var pageData = site.data.standardListing.sectorsMedia
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageHeader = pageData.pageHeader
  - pageItems = pageData.items

block beforeListContent
  +standard-content()
    +rte()
      h2 The media sector is one of two important sectors that the IMDA promotes and regulates. Drawing on talents and professionals with various skill sets, the media sector is made up of a number of diverse sub-sectors that each offer unique opportunities in Singapore.

      p IMDA aims to create a vibrant media cluster in Singapore, enabling the production of globally competitive content in the sectors of animation, broadcast, film, games, interactive media and publishing.

      p In the past five years, Singapore's media scene has seen rapid development. From world-regarded films to cutting-edge 3D games that have wowed the world, media companies in the country have produced some of the most interesting new content around.

      p Local companies have licensed their content overseas or worked with overseas partners to develop original content. Meanwhile, big international names have also settled in Singapore, bringing in globally-renowned expertise to the country.
