// newsletter styles
.newsletter {
  position: relative;
  padding: 48px 0;
  z-index: 0;
  box-shadow: 0px -4px 8px rgba(112, 47, 138, 0.1);
  background-color: #fff;
  
  &:hover {
    .newsletter__bg {
      svg {
        path {
          &.left {
            fill: $lightMaroon;
          }
  
          &.right {
            fill: $purple20; 
          }
        }
      }
    }
  }

  @include tablet {
    padding: 44px 0;
    
    /* &:before {
      content: '';
      background-color: #fff;
      width: 191px;     // add 15px from half of triangle
      height: 30px;
      position: absolute;
      bottom: 100%;
      right: calc(66.666666667% - 26.6666666667px);     // 8 columns + gutter
      transform: skewX(44.02897806deg);
      border-top: 1px solid $purple60;
      border-right: 1px solid $purple60;
      border-bottom: 1px solid #fff;
      
      @include lgDesktop {
        right: calc(50% + 260px);     // plus 2 columns + gutter
      }
    }
    
    &:after {
      content: '';
      background-color: #fff;
      border-top: 1px solid $purple60;
      border-bottom: 1px solid #fff;
      width: calc(25% - 15px);   // 3 columns of 1390
      height: 30px;
      position: absolute;
      bottom: 100%;
      left: 0;
      
      @include lgDesktop {
        width: calc(50% - 347px);   // 3 columns of 1390
      }
    } */

    
  }

  @include desktop {
    padding: 64px 0;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;

    @include tabletMax {
      display: none;
    }

    svg {
      position: absolute;
      right: 0;
      bottom: 0;

      @include lgDesktopMax {
        width: 170px;
        height: 97px;
      }

      @include desktopMax {
        width: 150px;
        height: 86px;
      }

      path {
        fill: #fff;
        transition: all 0.35s ease-in-out;
      }
    }
  }

  .container {
    z-index: 2;

    @include tablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 0 20px;
    
    @include tablet {
      margin: 0;
      flex-direction: row;
      align-items: center;
      max-width: 70%;
      flex: 0 0 70%;
      padding: 0 20px 0 0;
    }
    
    @include desktop {
      gap: 40px;
    }
  }

  &__image {
    display: none;
    
    @include tablet {
      display: block;
      max-width: 120px;
      flex: 0 0 120px;
    }

    @include desktop {
      max-width: 100px;
      flex: 0 0 100px;
    }

    picture {
      display: block;

      img {
        @include image-cover;
      }
    }
  }

  &__text {
    color: $textBlack;
    @include desktop {
      padding-right: 200px;
    }

    p {
      line-height: 140%;
      margin: 0;
    }

    h2 {
      margin: 0 0 6px;
      font-size: calc-em(24px);
      line-height: 120%;
      font-weight: 400;
      
      strong {
        font-weight: 600;
      }
      
      @include desktop {
        font-size: calc-em(40px);
      }
    }
  }

  &__cta {
    @include tablet {
      max-width: 30%;
      flex: 0 0 30%;
      padding: 0 0 0 20px;
    }
  }
}