mixin newsletter(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .newsletter.viewport-animate
    p Get IMDA stories of the week, delivered to your inbox.
    a.btn.btn-primary(href="#") Subscribe to our newsletter


mixin newsletter-revamp(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.newsletter(class=spec.__class)&attributes(attributes)
    .newsletter__bg
      svg.imda-logo(width="236" height="134" viewBox="0 0 236 134" fill="none" xmlns="http://www.w3.org/2000/svg")
        g(clip-path="url(#clip0_7114_174)")
          path.left(d="M103.673 168.511L71.4209 151.447V36.4943L103.673 19.0116V168.511Z" stroke="#ECD1E0")
          path.left(d="M32.7524 151.447L0.5 168.511V19.0116L32.7524 36.4943V151.447Z" stroke="#ECD1E0")
          path.right(d="M179.609 168.844H142.319V74.8639L179.609 168.844Z" stroke="#E2D5E8")
          path.right(d="M236.672 74.8639V168.844H199.383L236.672 74.8639Z" stroke="#E2D5E8")
          path.right(d="M189.491 92.4495L156.684 18.7051H222.308L189.491 92.4495Z" stroke="#E2D5E8")
        defs 
          clipPath(id="clip0_7114_174")
            rect(width="237" height="134" fill="white")
    .container
      .newsletter__content
        .newsletter__image
          picture
            source(srcset= spec.mobileImage, media="(max-width: 1023px)")
            source(srcset= spec.image)
            img(src=spec.image, alt="" data-profile1=spec.image data-profile2=spec.image2 data-profile3=spec.image3)
        .newsletter__text
          h2 !{spec.title}
          p=spec.text
      .newsletter__cta
        +button({
          "url": spec.url,
          "label": spec.label
        })