extends ../_layouts/standard-detail

block append stylesheets

block append scripts

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - var pageData = site.data.standardDetail.revampedTemplates
  - pageTitle = 'Templates Revamp'
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts

block detailContent
  +rte()
    table
      thead
        tr
          th Modules
          th URL
      tbody
        tr
          td Modules Reskin
          td
            a(href="/modules-revamp", target="_blank") Modules reskin

    table
      thead
        tr
          th Details Page Templates
          th URL
      tbody
        tr
          td Standard Details Template
          td
            a(href="/detail-page", target="_blank") Standard details
        tr
          td Programme Details
          td
            a(href="/programme-detail", target="_blank") Programme details 1
            br
            a(href="/industry-support-detail", target="_blank") Programme details 2
        tr
          td Digital Solutions Details
          td
            //- a(href="/detail-page", target="_blank") Digital Solutions details
            a(href="/supported-digital-detail", target="_blank") Digital Solutions details
        tr
          td Digital Solutions Company Details
          td
            //- a(href="/detail-page", target="_blank") Digital Solutions Company details
            a(href="/supported-digital-detail", target="_blank") Digital Solutions Company details
        tr
          td Call for Proposal Details
          td
            a(href="/article-page", target="_blank") Call for Proposal Details
        tr
          td Regulations and Licensing Details
          td
            a(href="/regulation-detail", target="_blank") Regulations and Licensing Details
        tr
          td Impact News Details
          td
            a(href="/article-page", target="_blank") Impact News details
        tr
          td Media Release Details
          td
            a(href="/article-page", target="_blank") Standard detail page
        tr
          td Speech Details
          td
            a(href="/article-page", target="_blank") Standard detail page
        tr
          td Event Details
          td
            a(href="/events-listing/e2-forum", target="_blank") Event detail page 1
            br
            a(href="/events-listing/led-symposium", target="_blank") Event detail page 2
            br
            a(href="/events-listing/psg-briefing", target="_blank") Event detail page 3


    table
      thead
        tr
          th Landing/Listing Page Templates
          th URL
          th Approved 
          th Done
      tbody
        tr
          td Standard Landing
          td
            a(href="/standard-landing", target="_blank") Standard Landing
          td No
          td -
        tr
          td Standard Listing
          td
            a(href="/standard-listing", target="_blank") Standard Listing
          td No
          td -
        tr
          td Custom Listing
          td
            a(href="/standard-listing", target="_blank") Standard Listing
          td No
          td -
        tr
          td Programme Listing
          td
            a(href="/programme-listing") Programme Listing
          td Yes
          td Yes
        tr
          td Digital Solutions Listing
          td
            a(href="/supported-digital-listing", target="_blank") Supported Digital Listing
          td Yes
          td No
        tr
          td Call for Proposal Listing
          td
            a(href="/standard-listing", target="_blank") Standard Listing
          td No
          td -
        tr
          td Regulations and Licensing Listing
          td
            a(href="/regulations-listing", target="_blank") Regulations Listing
          td Yes
          td Yes
        tr
          td Impact News Listing
          td
            a(href="/news-listing", target="_blank") News Listing
          td Yes
          td No
        tr
          td Media Room Listing
          td
            a(href="/newsroom", target="_blank") Newsroom
          td Yes
          td Yes
        tr
          td Events Listing
          td
            a(href="/events-listing", target="_blank") Events Listing
          td No
          td -
        tr
          td Search Results Listing
          td
            a(href="/search-results?keyword=digital", target="_blank") Search Results
          td Yes
          td Yes
    
    table
      thead
        tr
          th Inner pages - Bottom content
          th URL
      tbody
        tr
          td Inner page - About IMDA
          td
            a(href="/inner-page-about", target="_blank") About IMDA
        tr
          td Inner page - Events / Content Hub
          td
            a(href="/inner-page-events", target="_blank") Events / Content Hub
        tr
          td Inner page - Media Release/Speeches
          td
            a(href="/inner-page-media", target="_blank") Media Release/Speeches
        tr
          td Inner page - Programmes
          td
            a(href="/inner-page-programmes", target="_blank") Programmes
        tr
          td Inner page - Regulation
          td
            a(href="/inner-page-regulation", target="_blank") Regulation