include ../../molecules/block-card/block-card

mixin digital-blocks(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.digital-blocks(class=spec.__class)&attributes(attributes)
    .digital-blocks__shapes.no-desktop
      .shape.shape1
        svg(width="156" height="141" viewBox="0 0 156 141" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M1 139L153 70.5161L0.999994 1.99999L1 139Z" stroke="#FFE6CC" stroke-width="2" stroke-miterlimit="10")
      .shape.shape2
        svg(width="91" height="82" viewBox="0 0 91 82" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M89.7972 1.69922L3.29892 40.7291L89.7972 79.7773L89.7972 1.69922Z" stroke="#ECD1E0" stroke-width="2"   stroke-miterlimit="10")
      .shape.shape3
        svg(width="168" height="67" viewBox="0 0 168 67" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M166.685 1.99999L166.685 65.7256L6 65.7256L166.685 1.99999Z" stroke="#CCE7E3" stroke-width="2" stroke-miterlimit="10")

    header.digital-blocks__header
      .no-desktop
        h2 !{spec.mobileTitle}
        if spec.mobileText
          p=spec.mobileText
      .desktop-only
        h2 !{spec.title}
        if spec.text
          p=spec.text
    .no-desktop
      .digital-blocks__body(data-carousel)
        +block-card({
          "title": "Future Comms Programme",
          "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
          "url": "#"
        })
        +block-card({
          "title": "IMDA Accreditation",
          "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
          "url": "#"
        })
        +block-card({
          "title": "Open Innovation Platform",
          "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
          "url": "#"
        })
        +block-card({
          "title": "Chief Technology Officer as a Service",
          "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
          "url": "#"
        })
        +block-card({
          "title": "Pre-Approved Solutions",
          "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
          "url": "#"
        })
        +block-card({
          "title": "SG: Digital Scholarship",
          "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
          "url": "#"
        })
        +block-card({
          "title": "SG Digital Leaders Accelerator",
          "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
          "url": "#"
        })
        +block-card({
          "title": "APEC Privacy Recognition for Processors",
          "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
          "url": "#"
        })
        +block-card({
          "title": "Company Led Training Programme",
          "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
          "url": "#"
        })
        +block-card({
          "title": "Artificial Intelligence",
          "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
          "url": "#"
        })
        +block-card({
          "title": "IMDA Accreditation",
          "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
          "url": "#"
        })
        +block-card({
          "title": "Better Data Driven Business",
          "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
          "url": "#"
        })
      .imda-carousel__controls.imda-carousel__controls--digital-blocks.digital-blocks__controls--bottom
        div.no-desktop(data-carousel-pager)
        div(data-carousel-arrows)
        div.desktop-only(data-carousel-dots)

    .desktop-only  
      .digital-blocks__body(data-carousel)
        .article-group
          div
            +block-card({
              "title": "Future Comms Programme",
              "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
              "url": "#"
            })
          div
            +block-card({
              "title": "IMDA Accreditation",
              "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
              "url": "#"
            })
            +block-card({
              "mobileImage": "/Cwp/assets/imda/images/blocks1.jpg",
              "image": "/Cwp/assets/imda/images/blocks1.jpg"
            })
          div
            +block-card({
              "mobileImage": "/Cwp/assets/imda/images/blocks2.jpg",
              "image": "/Cwp/assets/imda/images/blocks2.jpg"
            }).block-card--double
            +block-card({
              "title": "Open Innovation Platform",
              "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
              "url": "#"
            })
          div
            +block-card({
              "title": "Chief Technology Officer as a Service",
              "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
              "url": "#"
            })
            +block-card({
              "title": "Pre-Approved Solutions",
              "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
              "url": "#"
            })
            +block-card({
              "title": "SG: Digital Scholarship",
              "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
              "url": "#"
            })
            +block-card({
              "mobileImage": "/Cwp/assets/imda/images/blocks3.jpg",
              "image": "/Cwp/assets/imda/images/blocks3.jpg"
            })
        .article-group
          div
            +block-card({
              "title": "SG Digital Leaders Accelerator",
              "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
              "url": "#"
            })
          div
            +block-card({
              "title": "APEC Privacy Recognition for Processors",
              "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
              "url": "#"
            })
            +block-card({
              "mobileImage": "/Cwp/assets/imda/images/blocks1.jpg",
              "image": "/Cwp/assets/imda/images/blocks1.jpg"
            })
          div
            +block-card({
              "mobileImage": "/Cwp/assets/imda/images/blocks2.jpg",
              "image": "/Cwp/assets/imda/images/blocks2.jpg"
            }).block-card--double
            +block-card({
              "title": "Company Led Training Programme",
              "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
              "url": "#"
            })
          div
            +block-card({
              "title": "Artificial Intelligence",
              "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
              "url": "#"
            })
            +block-card({
              "title": "IMDA Accreditation",
              "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
              "url": "#"
            })
            +block-card({
              "title": "Better Data Driven Business",
              "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
              "url": "#"
            })
            +block-card({
              "mobileImage": "/Cwp/assets/imda/images/blocks3.jpg",
              "image": "/Cwp/assets/imda/images/blocks3.jpg"
            })
        .article-group
          div
            +block-card({
              "title": "IMDA SPARK",
              "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
              "url": "#"
            })
          div
            +block-card({
              "title": "InvoiceNow",
              "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
              "url": "#"
            })
            +block-card({
              "mobileImage": "/Cwp/assets/imda/images/blocks1.jpg",
              "image": "/Cwp/assets/imda/images/blocks1.jpg"
            })
          div
            +block-card({
              "mobileImage": "/Cwp/assets/imda/images/blocks2.jpg",
              "image": "/Cwp/assets/imda/images/blocks2.jpg"
            }).block-card--double
            +block-card({
              "title": "Artificial Intelligence",
              "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
              "url": "#"
            })
          div
            +block-card({
              "title": "IMDA Accreditation",
              "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
              "url": "#"
            })
            +block-card({
              "title": "Better Data Driven Business",
              "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
              "url": "#"
            })
            +block-card({
              "title": "Data Protection Essentials",
              "text": "Lorem ipsum dolor sit amet, et dolore magna aliqua nulla paria",
              "url": "#"
            })
            +block-card({
              "mobileImage": "/Cwp/assets/imda/images/blocks3.jpg",
              "image": "/Cwp/assets/imda/images/blocks3.jpg"
            })

      .imda-carousel__controls.imda-carousel__controls--digital-blocks.digital-blocks__controls--bottom
        div.no-desktop(data-carousel-pager)
        div(data-carousel-arrows)
        div.desktop-only(data-carousel-dots)

