// digital-blocks styles
.digital-blocks {
  $p: &;
  position: relative;
  
  @include desktopMax {
    padding: 64px 20px;
  }

  @include desktop {
    padding: 0 10px;
  }

  &__shapes {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    svg {
      display: block;
    }

    .shape1 {
      position: absolute;
      top: -40px;
      left: -40px;
      animation: rightleftshort 3s ease-in-out infinite alternate;
    }
    
    .shape2 {
      position: absolute;
      top: 52px;
      left: -67px;
      animation: rightleftshort 3.5s ease-in-out infinite alternate;
    }

    .shape3 {
      position: absolute;
      right: -4px;
      bottom: -6px;
      animation: leftrightshort 3s ease-in-out infinite alternate;
    }
  }
  
  &__header {
    color: $textBlack;
    margin: 0 0 24px;

    @include desktop {
      width: 55%;
      min-height: 194px;
      position: relative;
      z-index: 1;
    }
    
    @media screen and (min-width: 1180px) {
      width: 48%;
    }

    @include lgDesktop {
      width: 43%;
    }

    .no-desktop {
      text-align: center;
      padding: 0 40px;
    }
    
    h2 {
      font-weight: 600;
      font-size: calc(26px);
      line-height: 120%;
      margin: 0 0 18px;

      @include desktop {
        font-weight: 400;
        font-size: calc-em(36px);
        margin: 0 0 16px;
      }
  
      b {
        font-weight: 600;
      }
    }
  
    p {
      font-weight: 500;
      line-height: 140%;
      margin: 0;
      
      @include desktop {
        font-size: calc-em(18px);
        padding: 0 80px 0 0;
      }
      
      @media screen and (min-width: 1180px) {
        padding: 0;
      }
    }
  }

  &__body {
    margin: 0 0 16px;

    @include desktop {
      margin: -194px 0 32px;
    }
  }

  .no-desktop {
    #{$p}__body {
      .slick-slide {
        > div {
          width: 100%;

          &:not(:last-child) {
            a {
              border-bottom: none;
            }
          }
        }
      }
    }
  }

  &__controls {
    &--bottom {
      @include desktopMax {
        height: 40px;
      }

      @include desktop {
        justify-content: flex-start;
      }

      [data-carousel-dots] {
        margin: 0 0 0 32px;
      }
    }
  }

  .slick-active {
    .article-group {
      padding: 2px;
      
      > div {
        .block-card {
          transform: rotateY(0deg);
        }
      }
    }
  }

  .article-group {
    @include desktop {
      display: flex !important;
      width: 100%;
    }

    > div {
      @include desktop {
        flex: 0 0 25%;
        max-width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 2px 0 0;
      }

      .block-card {
        backface-visibility: hidden;
        transform: rotateY(180deg);
        transition: transform 0.5s $easeInOutExpo;
      }

      article {
        a {
          @include desktopMax {
            border-bottom: none;
          }
        }
      }

      &:last-child {
        article {
          a {
            @include desktop {
              border-bottom: none;
            }
          }

          &:nth-last-child(2) {
            a {
              @include desktopMax {
                border-bottom-style: solid;
                border-bottom-width: 1px;
              }
            }
          }
        }
      }
    }
  }
}