// box-quote styles
.box-quote {
  $p: &;
  @extend %clearfix;
  background-color: transparent;
  position: relative;
  padding: 40px 32px;
  margin: 40px auto 60px;
  max-width: 840px;
  
  @include desktop {
    padding: 46px 32px;
    margin: 60px auto;
  }

  &.in-view {
    #{$p}__border {
      &__segment {
        width: 22px;
      }

      &--border1 {
        &:before {
          width: 100%;
        }
        
        &:after {
          height: 100%;
        }
      }

      &--border2 {
        &:before {
          height: 100%;
        }
        
        &:after {
          width: 100%;
        }
      }
    }
  }

  .icon-blockquote {
    color: $primaryPurple;
    display: block;
    font-size: calc-em(40px);
    position: absolute;
    line-height: 1;
    
    @include desktop {
      font-size: calc-em(44px);
    }

    &:before {
      display: block;
    }
    
    &--1 {
      top: -20px;
      left: 32px;
      
      @include desktop {
        top: -30px;
      }
    }

    &--2 {
      right: 32px;
      bottom: -20px;
      transform: rotate(180deg);

      @include desktop {
        bottom: -30px;
      }
    }
  }

  &__border {
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(100% - 84px);
    height: 100%;
    z-index: -1;
    
    @include desktop {
      width: calc(100% - 96px);
    }

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      background-color: $lightMaroon;
    }

    &__segment {
      display: block;
      position: absolute;
      background-color: $lightMaroon;
      width: 0;
      height: 2.5px;
      transition: width 0.5s linear;
      transition-delay: 1.0s;
    }

    &--border1 {
      left: 0;

      &:before,
      &:after {
        bottom: 0;
      }

      &:before {
        right: 0;
        width: 0;
        height: 2.5px;
        transition: width 0.5s linear;
      }
      
      &:after {
        left: 0;
        width: 2.5px;
        height: 0;
        transition: height 0.5s linear;
        transition-delay: 0.5s;
      }

      .box-quote__border__segment {
        top: 0;
        left: 0;
      }
    }

    &--border2 {
      right: 0;

      &:before,
      &:after {
        top: 0;
      }
      
      &:before {
        right: 0;
        width: 2.5px;
        height: 0;
        transition: height 0.5s linear;
        transition-delay: 0.5s;
      }
      
      &:after {
        left: 0;
        width: 0;
        height: 2.5px;
        transition: width 0.5s linear;
      }

      .box-quote__border__segment {
        right: 0;
        bottom: 0;
      }
    }
  }

  &__image {
    margin-bottom: 10px;

    img {
      border-radius: 4px;
      width: 100%;
    }
  }

  &__content {
    blockquote {
      font-weight: 500;
      font-size: calc-em(18px);
      line-height: 140%;
      margin: 0 0 20px;
      
      @include desktop {
        font-size: calc-em(20px);
      }
    }

    h3 {
      font-size: calc-em(20px);
      font-weight: $medium;
      margin: 0 0 10px;

      @include desktop {
        font-size: calc-em(22px);
      }
    }

    .name {
      font-weight: 600;
      line-height: 140%;
      margin: 0;
      
      @include desktop {
        font-size: calc-em(18px);
      }
    }

    .designation {
      margin: 0;
      line-height: 140%;

      @include desktop {
        font-size: calc-em(18px);
      }
    }
  }
}

@media only screen and (min-width: $bpTablet) {
  .box-quote {
    &__image {
      float: left;
      padding-right: 20px;
      width: 40%;
    }
  }
}
