mixin box-quote(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .box-quote.viewport-animate
    .box-quote__ui
      span.icon.icon-blockquote.icon-blockquote--1
      span.icon.icon-blockquote.icon-blockquote--2
      .box-quote__border.box-quote__border--border1
        span.box-quote__border__segment
      .box-quote__border.box-quote__border--border2
        span.box-quote__border__segment
    if spec.image
      .box-quote__image
        img(src= spec.image, alt= spec.title)
    .box-quote__content
      h3= spec.title
      blockquote= '"' + spec.content + '"'
      p.name= spec.author + ','
      p.designation= spec.designation

