// cookie-message styles
.cookie-message {
  background: transparentize(#fff, .05);
  border: 1px solid $borderColor;
  bottom: 0;
  display: none;
  position: fixed;
  width: 100%;
  z-index: 9999999999;

  a {
    color: $blue;

    &:visited {
      color: $purple;
    }

    &:hover, &:focus {
      color: $red;
    }
  }

  .btn-close {
    border: 1px solid $purple;
    background: #fff;
    color: $purple;
    display: inline-block;
    padding: 5px 10px;

    .label {
      color: $purple;
      font-size: calc-em(16px);
    }

    &:hover, &:focus {
      background: $purple;
      span {
        color: white;
      }
    }
  }

  &__content {
    padding: 20px 0;
    position: relative;
    display: block;
    p {
      margin: 0;
    }

    .btn-close {
      margin-top: 20px;
    }
  }
}

@media only screen and (min-width: $bpDesktop) {
  .cookie-message {
    &__content {
      // padding: 20px 80px 20px 0;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      .btn-close {
        margin: 0;
        // position: absolute;
        right: 0;
        // top: 15px;
        margin-left: 15px;
      }
    }
  }
}
