mixin partners(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.partners
    .container
      header.partners__header
        h2 Looking for something else?
      .partners__group.partners__group--subsidiary
        h3.partners__label Our Subsidiaries
        .partners__list
          .imda-carousel__controls.imda-carousel__controls--partners
            div(data-carousel-arrows)
          div(data-carousel)
            a.partner-link(href="https://www.sgnic.sg/", title="SGNic", target="_blank")
              img(src="/images/homepage/subsidiary.png", alt="SGNic")
            a.partner-link(href="https://www.imda.gov.sg/imsilver", title="IMDA Silver Initiatives", target="_blank")
              img(src="/images/homepage/partner-logo-2.png", alt="IMDA Silver")
      .partners__group.partners__group--related-sites
        h3.partners__label Related Websites
        .partners__list
          .imda-carousel__controls.imda-carousel__controls--partners
            div(data-carousel-arrows)
          div(data-carousel)
            a.partner-link(href="#", title="DISG", target="_blank")
              img(src="/images/homepage/DISG.png", alt="disg")
            a.partner-link(href="#", title="SMF", target="_blank")
              img(src="/images/homepage/SMF.png", alt="smf")
            a.partner-link(href="#", title="pdpc", target="_blank")
              img(src="/images/homepage/pdpc.png", alt="pdpc")
            a.partner-link(href="#", title="mlc", target="_blank")
              img(src="/images/homepage/mlc.png", alt="mlc")
            a.partner-link(href="#", title="sgdigital", target="_blank")
              img(src="/images/homepage/sgdigitaloffice.png", alt="sgdigitaloffice")
            a.partner-link(href="#", title="sgdigital", target="_blank")
              img(src="/images/homepage/sgdigital.png", alt="sgdigital")
            a.partner-link(href="#", title="sgdigital", target="_blank")
              img(src="/images/homepage/sgdigital.png", alt="sgdigital")
