// partners styles
.partners {
  @extend %clearfix;
  border-top: 1px solid $darkGrey2;
  
  @include desktopMax {
    padding: 48px 0;
  }

  // opacity: 0;
  // transform: translateY(40px);
  // transition: transform .25s $easeInOutExpo, opacity .25s ease-in-out;

  // &.in-view {
  //   opacity: 1;
  //   transform: translateY(0);
  // }

  .container {
    display: flex;
    flex-wrap: wrap;

    @include tabletMax {
      padding: 0 12px;
    }
  }

  [data-carousel-arrows] {
    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 1;
      color: $primaryPurple;
      background-color: transparent;
      font-size: calc-em(18px);
      
      &.slick-prev {
        left: 0px;
      }
      
      &.slick-next {
        right: 0px;
      }
    }
  }

  &__header {
    flex: 0 0 100%;
    max-width: 100%;

    @include desktop {
      display: none;
    }

    h2 {
      text-align: center;
      padding: 0 24px;
      font-weight: 600;
      font-size: calc-em(26px);
      line-height: 120%;
      margin: 0 0 16px;
      color: $textBlack;
    }
  }

  &__group {
    padding: 0 8px;
    
    // @include tablet {
    //   padding: 0 20px;
    // }

    @include desktop {
      padding: 32px 20px 40px;
    }

    &--subsidiary {
      flex: 0 0 50%;
      max-width: 50%;

      @include desktop {
        flex: 0 0 calc(100% / 4);
        max-width: calc(100% / 4);
        padding-left: 0;
      }

      @media only screen and (min-width: 1280px) {
        flex: 0 0 calc(100% / 5);
        max-width: calc(100% / 5);
      }
    }

    &--related-sites {
      flex: 0 0 50%;
      max-width: 50%;
      
      @include desktop {
        flex: 0 0 calc(100% / 4 * 3);
        max-width: calc(100% / 4 * 3);
        padding-right: 0;
      }

      @media only screen and (min-width: 1280px) {
        flex: 0 0 calc(100% / 5 * 4);
        max-width: calc(100% / 5 * 4);
      }

      [data-carousel] {
        &:not(.slick-initialized) {
          padding: 0 14px;
          display: flex;
          justify-content: flex-start;

          > .partner-link {
            padding: 0 48px 0 0;

            &:last-child {
              padding: 0;
            }
          }
        }
      }
    }
  }

  &__list {
    position: relative;
    margin: 0 -14px;
  }
  
  .slick-slider {
    padding: 0 56px;
  }

  .partner-link {
    display: block !important;
    height: 40px;
    
    img {
      display: block;
      height: 100%;
      margin: 0 auto;
      @include image-contain;
    }
  }

  .slick-button {
    position: absolute;

    &.slick-prev {
      left: 0;
    }

    &.slick-next {
      right: 0;
    }
  }

  &__label {
    font-weight: 600;
    font-size: calc-em(14px);
    line-height: 140%;
    color: $textBlack;
    margin: 0 0 12px;
    text-align: center;
    
    @include desktop {
      margin: 0 0 16px;
      text-align: left;
    }
  }
}
