mixin image-text(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.styles = spec.styles || ''

  figure.image-text(class=spec.__class, style=spec.styles)
    img(src= spec.image, alt= spec.alt)
    figcaption.image-text__caption= spec.caption