// image-text styles
.image-text {
  position: relative;
  margin: 0;
  overflow: hidden;
  max-width: 100%;
  filter: drop-shadow(0px 0px 12px rgba(112, 47, 138, 0.2));
  margin: 0 0 30px;
  
  @include desktop {
    margin: 0 0 60px;
  }

  img {
    width: 100%;
    transition: transform 0.35s ease-in-out;
  }

  &__caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 40px 24px 16px;
    font-weight: 500;
    line-height: 120%;
    text-shadow: $textGlow1;
    color: #fff;
    z-index: 2;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.556075) 40%, #000000 100%);
      z-index: -1;
    }
  }
}
