mixin search-field(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .search-field&attributes(attributes)
    input.search-field__input(type="search", placeholder="Search keyword", id= spec.id, name= spec.name, required=spec.isRequired)
    button.btn-submit(type="button")
      span.vh Search
      span.icon.icon-search
