// search-field styles
.search-field {
  position: relative;

  &__input {
    background: #fff;
    border-radius: 8px;
    border: 1px solid $purple40;
    padding: 10px 40px 10px 10px;
    transition: box-shadow .25s ease-in-out;
    width: 100%;
    outline: none;
    
    @include tablet {
      font-size: calc-em(18px);
    }

    &::-ms-clear {  
      display: none; 
      width : 0; 
      height: 0;
    }
    &::-ms-reveal {  
      display: none; 
      width : 0; 
      height: 0; 
    }

    /* clears the 'X' from Chrome */
    &::-webkit-search-decoration, &::-webkit-search-cancel-button, &::-webkit-search-results-button, &::-webkit-search-results-decoration { 
      display: none; 
    }

    &:focus {
      box-shadow: $purpleShadow;
    }
  }

  .btn-submit {
    background: none;
    border: 0;
    color: $purple;
    display: inline-block;
    font-size: 1.8em;
    position: absolute;
    right: 0;
    top: 0px;
    height: 100%;
    padding: 0 16px;
    span {
      display: block;
      padding: 6px 2px;
      font-size: calc-em(18px, 28px);
    }

    .icon-search::before {
      position: relative;
      bottom: 2px;
    }
  }

  .error-msg {
    color: $red;
  }
}
