mixin banner-section(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.image = spec.image || ''
  - spec.title = spec.title || ''
  - spec.desc = spec.desc || ''
  - spec.cta = spec.cta || ''
  - spec.link = spec.link || '#'

  section.banner-section(class=spec.__class)&attributes(attributes)
    .bg-image
      img(src=spec.image)
      .banner-content
        a(href=spec.link).container
          span.banner-detail
            h1=spec.title
            p=spec.desc
            span.sggd-btn.sggd-btn--special
              .btn-text
                span=spec.cta
              .arrow
                .arrow-wrapper
                  span.left
                  span.right
