.sggd-wrapper, .scf-wrapper {
  .banner-section {
    .banner-content {
      h1 {
        font-family: $font-family;
        font-size: calc-em(50px);
        font-weight: $light;
      }

      p {
        font-family: $font-family;
        font-size: calc-em(17px);
        font-weight: $roman;
        line-height: 1.25rem;
      }
    }
  }
}
