include ../../molecules/rte/rte

mixin detail-section(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.detail-section&attributes(attributes)
    h2.detail-section__title= spec.title
    //- if spec.subtitle
    //-   h3.detail-section__subtitle= spec.subtitle
    .detail-section__content
      if block
        block
      else
        +rte()

