// detail-section styles
.detail-section {
  margin-bottom: 0px;

  &__title {
    font-size: calc-em(26px);
    font-weight: $medium;
    margin: 0px 0 20px;
    padding-top: 40px;
    
    @include desktop {
      font-size: calc-em(30px);
    }
  }

  &__content {
    margin-top: 20px;

    > * {
      //margin-bottom: 20px;

      &.row {
        margin-bottom: 0;
      }

      &.accordion-list,
      &.video-player,
      &.highlight-card,
      &.image-text,
      &.gallery,
      &.image-link,
      &.teaser-card,
      &.cta-banner,
      &.rte,
      &.standard-content__carousel {
        margin-bottom: 20px;
        
        // @include desktop {
        //   margin-bottom: 30px;
        // }
      }

      &.box-quote {
        margin-bottom: 20px;
      }

      // &:last-child {
      //   margin-bottom: 0;
      // }
    }
  }
}

@media only screen and (min-width: $bpDesktop) {
  .detail-section {
    margin-bottom: 0px;
  }
}
