extends ../../_layouts/standard-detail

block append config
  - baseUrl = "../../"
  - pageUrl = "/events-listing/psg-briefing"
  - var pageData = site.data.standardDetail.psgBriefing
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts

block detailContent
  +rte()
    h2 Make Going Digital Simple for Environmental Services

    p On 17 Sep 2018, Senior Minister of State for the Environment and Water Resources Dr Amy Khor launched a S$30 million Productivity Solutions Grant (PSG) for the Environmental Services (ES) industry. The PSG for the environmental services (ES) industry, available from 17 Sep 2018 to 31 Jan 2020 is to support the adoption of commercially available and proven ES technologies, including equipment/digital solutions (i.e. ready-to-go solutions) to increase operational efficiency and productivity.

    p The PSG is applicable to small and medium-sized enterprises, multinational corporations, as well as premises owners (i.e. building/facility owners) looking to adopt equipment and digital solutions that mechanise waste management and cleaning tasks, as well as adopt more advanced robotics, automation and autonomous systems which will potentially have a greater impact on the level of productivity in the environmental services industry.

    p NEA is organising a briefing session to share more about the grant and the application process. We would like to invite you to join us in this briefing and the details of this session are as follows:

    table
      tr
        th Time
        th Programme
      tr
        td 9:00am
        td Registration
      tr
        td 9:30am
        td Welcome Address
      tr
        td 9:35am
        td Overview of Environmental Services Industry Transformation Map (ES ITM)
      tr
        td 9:50am
        td Environmental Services Digital Plan & SMEs Go Digital Programme
      tr
        td 10:00am
        td Sharing on Productivity Solutions Grant for ES Industry
      tr
        td 10:15am
        td Tea-break
      tr
        td 10:45am
        td Using the Business Grant Portal
      tr
        td 11:00am
        td Q&A
      tr
        td 11:15am
        td Sharing of Pre-approved Digital Solutions
      tr
        td 12:00pm
        td End of Programme

    p Kindly RSVP your attendance with your name, email address, and contact number for registration through email: <a href="mailto:NEA_PSG@nea.gov.sg">NEA_PSG@nea.gov.sg</a>
