mixin full-bleed-accordions(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .full-bleed-accordions(class=spec.__class)&attributes(attributes)
    .container
      .row
        .col-md-8.col-offset-md-2
          block
          +tags-list({
            "title": "Explore related tags",
            "items": spec.tags
          })

