// full-bleed-accordions styles
.full-bleed-accordions {
  padding: 12px 0 32px;
  background-color: $darkPurple10;
  color: #fff;
  
  @include desktop {
    padding: 28px 0 48px;
  }

  .accordion-item {
    border-bottom: 1px solid #fff;

    & + .tags-list {
      margin: 34px 0 0;
    
      @include desktop {
        margin: 40px 0 0;
      }
    }

    .accordion-title {
      background-color: transparent;
      color: #fff;
      display: block;
      padding: 20px 40px 20px 0;
      position: relative;
      text-decoration: none;

      span:first-child {
        font-weight: 600;
        line-height: 140%;
        
        @include desktop {
          font-size: calc-em(20px);
        }
      }

      .icon {
        display: flex;
        position: absolute;
        top: 12px;
        right: 0;
        font-size: 1.8em;
        transition: transform .25s ease-in-out;
      }
    }

    .accordion-content {
      display: none;
      line-height: 140%;
      padding: 0px 0 20px ;
      
      .rte {
        color: #fff;

        a {
          color: #fff;
        }
      }
    }

    &.expanding {
      .accordion-title {
        .icon {
          transform: rotate(180deg);
        }
      }
    }

    &.expanded {
      .accordion-title {
        .icon {
          transform: rotate(180deg);
        }
      }
    }
  }

  .tags-list {
    margin: 20px 0 0;
    
    .tags-list__title {
      line-height: 140%;
      color: #fff;
      margin: 0 0 20px;

      @include desktop {
        margin: 0 0 16px;
      }
    }

    .pill {
      color: #fff;
      border-color: #fff;

      &:hover {
        color: $darkPurple10;
      }
    }
  }
}