// featured-card styles
.featured-card {
  $p: &;
  display: flex;
  text-decoration: none;
  height: 100%;
  border: 1px solid $borderGray2;

  &:visited {
    #{$p}__content {
      .name {
        color: $visitedLink;
      }
    }
  }

  @include hover {
    &:hover {
      box-shadow: $purpleShadowDark;
      img {
        transform: scale(1.1);
      }
    }
  
    &:hover, &:focus {
      .label {
        background-color: $profilePurple;
      }
    }
  }

  &__image {
    flex: 0 0 120px;
    max-width: 120px;
    position: relative;
    overflow: hidden;
    
    @include lgDesktop {
      flex: 0 0 170px;
      max-width: 170px;
    }

    img {
      @include absolute-img;
      @include image-cover;
      transition: transform 0.35s ease-in-out;
    }
  }

  &__content {
    flex: 0 0 calc(100% - 120px);
    max-width: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 30px 20px 20px;
    background-color: #fff;
    transition: background-color 0.35s ease-in-out;

    @include lgDesktop {
      flex: 0 0 calc(100% - 170px);
      max-width: calc(100% - 170px);
    }

    .name {
      color: $textBlack;
      font-size: calc-em(18px);
      font-weight: 600;
      line-height: 140%;
      margin: 0 0 12px;
      display: block;
      
      @include desktop {
        font-size: calc-em(20px);
      }
    }

    .label {
      color: $primaryPurple;
      display: flex;
      align-items: center;
    }
  }

  svg {
    margin: 0 0 0 12px;

    g {
      stroke: $primaryPurple;
    }
  }
}
