mixin featured-card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  a.featured-card(href= spec.url)
    .featured-card__image
      img(src= spec.image, alt= spec.name)
    .featured-card__content
      span.name= spec.name
      span.label.btn-primary.btn-primary--inverse Read more
        svg(height="16" version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 84 48' style='enable-background:new 0 0 84 48;' xml:space='preserve')
          g#line
            line.arrow-body(fill='none' stroke-width='4.8' stroke-miterlimit='10' x1='0' y1='23.8' x2='65.4' y2='23.8' pathLength="1")
          g#head
            path.arrow-head(fill='none' stroke-width='4.8' stroke-miterlimit='10' d='M59.2,45.6L79.6,24L59.2,2.4' pathLength="1")
