extends ../_layouts/base

include ../_modules/molecules/homepage-tour/homepage-tour
include ../_modules/molecules/highlight-card/highlight-card
include ../_modules/molecules/video-player/video-player
include ../_modules/molecules/image-text/image-text
include ../_modules/molecules/article-link/article-link
include ../_modules/molecules/image-link/image-link
include ../_modules/molecules/image-cta-listing/image-cta-listing
include ../_modules/molecules/image-rte/image-rte
include ../_modules/molecules/cta-banner/cta-banner
include ../_modules/molecules/teaser-card/teaser-card
include ../_modules/molecules/box-quote/box-quote
include ../_modules/molecules/name-card/name-card
include ../_modules/molecules/topic-card-listing/topic-card-listing
include ../_modules/organisms/accordion-list/accordion-list
include ../_modules/organisms/gallery/gallery
include ../_modules/organisms/newsletter/newsletter
include ../_modules/organisms/standard-content-carousel/standard-content-carousel
include ../_modules/organisms/selected-posts/selected-posts

block append scripts
  +internalpage-tour

block append config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var pageTitle = "Site Revamp modules"
  - var pageDescription = "IMDA drives the growth, competitiveness and innovation of Singapore's information and communication technology (ICT) industry by nurturing local ICT enterprises."
  - var sectionName = "Industry Support"
  -
    var breadcrumbs = []

block content
  div(style="height: 100px;")
  .container
    h1 Site revamp modules

    h2 2. Accordions
    +accordion-list

    h2 3. Highlight Card 
    +highlight-card({
      "image": "/images/detail/TripleBlind-Logo.jpg",
      "content": "<table><tbody><tr><td><strong>Website</strong></td><td>:</td><td><a href=\"#\">https://accredify.io/</a></td></tr><tr><td><strong>Contact</strong></td><td>:</td><td>Quah Zheng Wei</td></tr><tr> <td><strong>Email</strong></td><td>:</td><td><a href=\"mailto:contact@accredify.io\">contact@accredify.io</a></td></tr><tr> <td><strong>Category</strong></td><td>:</td><td>Enterprise Data / Development Platform</td></tr><tr> <td><strong>Sub category</strong></td><td>:</td><td>Verifiable Certificates</td></tr></tbody></table>"
    })

    h2 3B. Highlight Card With Border
    +highlight-card({
      "image": "/images/detail/TripleBlind-Logo.jpg",
      "content": "<table><tbody><tr><td><strong>Website</strong></td><td>:</td><td><a href=\"#\">https://accredify.io/</a></td></tr><tr><td><strong>Contact</strong></td><td>:</td><td>Quah Zheng Wei</td></tr><tr> <td><strong>Email</strong></td><td>:</td><td><a href=\"mailto:contact@accredify.io\">contact@accredify.io</a></td></tr><tr> <td><strong>Category</strong></td><td>:</td><td>Enterprise Data / Development Platform</td></tr><tr> <td><strong>Sub category</strong></td><td>:</td><td>Verifiable Certificates</td></tr></tbody></table>"
    }).highlight-card--border

    h2 4. Video Player
    +video-player({
      "videoId": "L209rWk_0TY",
      "image": "/images/detail/gallery-1.jpg",
      "title": "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, quibusdam."
    })

    h2 5. Image Gallery 
    +image-text({
      "image": "/images/detail/gallery-1.jpg",
      "alt": "Groupfie",
      "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
    })

    +gallery({
      "items": [
        {
          "image": "/images/detail/gallery-1.jpg",
          "alt": "Groupfie",
          "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
        },
        {
          "image": "/images/detail/gallery-1.jpg",
          "alt": "Groupfie",
          "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
        },
        {
          "image": "/images/detail/gallery-1.jpg",
          "alt": "Groupfie",
          "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
        },
        {
          "image": "/images/detail/gallery-1.jpg",
          "alt": "Groupfie",
          "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
        }
      ]
    })

    h2 6. Image Listing
    .row
      .col-md-4
        +article-link({
          "title": "Media Manpower Plan",
          "image": "/images/mega-menu-1.jpg",
          "url": "#",
          "description": "Lorem ipsum dolor sit"
        })
      .col-md-4
        +article-link({
          "title": "Media Manpower Plan",
          "image": "/images/mega-menu-1.jpg",
          "url": "#",
          "description": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
        })
      .col-md-4
        +article-link({
          "title": "Media Manpower Plan",
          "image": "/images/mega-menu-1.jpg",
          "url": "#",
          "description": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, impedit?"
        })

    h2 6. Image Listing Enhancement 
    +selected-posts({
      "items": [
        {
          "url": "#",
          "image": "/images/detail/selected-1.jpg",
          "title": "Lorem ipsum dolor sit",
          "description": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quae magni unde dicta, repudiandae qui odit atque neque natus quidem sequi accusamus non consectetur similique, animi nostrum facere dolor nesciunt quam adipisci? Eveniet necessitatibus, enim minima voluptatibus alias rem labore."
        },
        {
          "url": "#",
          "image": "/images/detail/selected-2.jpg",
          "title": "Lorem ipsum dolor sit",
          "description": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quae magni unde dicta, repudiandae qui odit atque neque natus quidem sequi accusamus non consectetur similique, animi nostrum facere dolor nesciunt quam adipisci? Eveniet necessitatibus, enim minima voluptatibus alias rem labore."
        }
      ]
    })
    +selected-posts({
      "items": [
        {
          "url": "#",
          "image": "/images/detail/selected-2.jpg",
          "title": "nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn",
          "description": "nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn"
        }
      ]
    })

    h2 7. Image + CTA Listing 
    .row
      .col-md-4
        +image-link({
          "title": "Title",
          "image": "/images/detail/image-1.png",
          "description": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, inventore.",
          "url": "#"
        })
      .col-md-4
        +image-link({
          "title": "Title",
          "image": "/images/detail/image-2.png",
          "description": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, inventore.",
          "url": "#"
        })
      .col-md-4
        +image-link({
          "title": "Title",
          "image": "/images/detail/image-3.png",
          "description": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, inventore.",
          "url": "#"
        })

    h2 7. Image + CTA Listing Enhancement
    +image-cta-listing({
      "items": [
        {
          "title": "Title",
          "image": "/images/detail/image-1.png",
          "header": "Test",
          "description": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, inventore.",
          "url": "#"
        },
        {
          "title": "Title",
          "image": "/images/detail/image-2.png",
          "header": "Test2",
          "url": "#"
        },
        {
          "title": "Title",
          "image": "/images/detail/image-3.png",
          "header": "nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn",
          "description": "nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn",
          "url": "#"
        }
      ]
    })
    +image-cta-listing({
      "items": [
        {
          "title": "Title",
          "image": "/images/detail/image-3.png",
          "header": "Test",
          "description": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, inventore.",
          "url": "#"
        },
        {
          "title": "Title",
          "image": "/images/detail/image-2.png",
          "header": "Test2",
          "url": "#"
        }
      ]
    })
    +image-cta-listing({
      "items": [
        {
          "title": "Title",
          "image": "/images/detail/image-3.png",
          "header": "Test",
          "description": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, inventore.",
          "url": "#"
        }
      ]
    })


    h2 8. CTA Banner
    +cta-banner({
      "title": "Explore companies accredited by IMDA",
      "description": "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, temporibus.",
      "image": "/images/cta-banner.jpg",
      "cta": {
        "url": "/endorsed-companies",
        "name": "View endorsed companies"
      }
    })

    h2 9. Article Listing Card
    .row
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills.",
          "category": "Grants",
          "industry": "Finance",
          "icon": "icon-individual"
        }).match-height
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "icon": "icon-individual"
        }).match-height
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services.",
          "category": "Grants",
          "industry": "Finance",
          "icon": "icon-individual"
        }).match-height
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).match-height
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).match-height
      .col-md-4
        +teaser-card({
          "url": "#",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
          "category": "Grants",
          "industry": "Finance",
          "target": "For Individuals",
          "icon": "icon-individual"
        }).match-height

    h2 10. Blockquotes
    +box-quote({
      "image": "/images/detail/quote.jpg",
      "title": "Lorem ipsum dolor",
      "content": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores labore dignissimos architecto quos nisi et, dolore fugiat placeat error animi officiis non cumque impedit maxime deserunt reprehenderit dolorem sapiente hic laboriosam veniam ut eos odit tempora? Non ea officiis corporis officia at quidem nam blanditiis, similique necessitatibus aperiam vitae reprehenderit!",
      "author": "James Lim Rui Yi",
      "designation": "Senior Manager, Industry Development Group"
    })

    +box-quote({
      "title": "Lorem ipsum dolor",
      "content": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores labore dignissimos architecto quos nisi et, dolore fugiat placeat error animi officiis non cumque impedit maxime deserunt reprehenderit dolorem sapiente hic laboriosam veniam ut eos odit tempora? Non ea officiis corporis officia at quidem nam blanditiis, similique necessitatibus aperiam vitae reprehenderit!",
      "author": "James Lim Rui Yi",
      "designation": "Senior Manager, Industry Development Group"
    })

    h2 11. Name Card
    .row
      .col-md-6
        +name-card({
          "salutation": "Mr",
          "name": "Lew Chuen Hong",
          "image": "/images/senior-management/Lew Chuen Hong.png",
          "designation": "<p>Chief Executive</p><p>Commissioner</p><p>Personal Data Protection Commission</p><br/><p>Executive Director</p><p>POFMA Office</p>",
          "cta": {
            "url": "#",
            "label": "CEO's Office"
          }
        })
      .col-md-6
        +name-card({
          "salutation": "Ms",
          "name": "Aileen Chia",
          "image": "/images/senior-management/Aileen Chia.png",
          "designation": "<p>Director-General (Telecoms & Post)</p><br/><p>Deputy Chief Executive, Connectivity Development & Regulation</p><br/><p>Deputy Executive Director (POFMA Office)</p>",
          "cta": {
            "url": "#",
            "label": "Resilience, Cybersecurity & Infrastructure Group"
          },
          "cta2": {
            "url": "#",
            "label": "Policy, Regulation & Competition Development Group"
          }
        })

    h2 12. Image Card Carousel
    +standard-content-carousel({
      "items": [
        {
          "image": "/images/standard/landing-1.jpg",
          "title": "What we do",
          "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
          "url": "#"
        },
        {
          "image": "/images/standard/landing-2.jpg",
          "title": "Organisation Structure",
          "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith. An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
          "url": "#"
        },
        {
          "image": "/images/standard/landing-3.jpg",
          "title": "Awards & Certification",
          "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
          "url": "#"
        },
        {
          "image": "/images/standard/landing-4.jpg",
          "title": "Service Standards",
          "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
          "url": "#"
        },
        {
          "image": "/images/standard/landing-5.jpg",
          "title": "Corporate Publications",
          "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
          "url": "#"
        }
      ]
    })

    h2 13 Image + RTE 
    +image-rte({
      "image": "/images/detail/highlight-1.jpg",
      "content": "<h1>Lorem ipsum dolor</h1>sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio!<br>sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio!<br>sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio!<br><br><h1>Lorem ipsum dolor</h1>sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio!<br>sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio!<br>sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio!<br>sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio!<br>sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio!<br>sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio!"
    }) 
    +image-rte({
      "image": "/images/detail/highlight-1.jpg",
      "content": "nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn"
    }) 

    h2 14 Icon + RTE 
    +topic-card-listing({
      "items": [
        {
          "image": "/Cwp/assets/imda/images/ic-share.png",
          "text": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
        },
        {
          "image": "/Cwp/assets/imda/images/ic-share.png",
          "text": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
        },
        {
          "image": "/Cwp/assets/imda/images/ic-share.png",
          "text": "nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn",
        }
      ]
    })
    +topic-card-listing({
      "items": [
        {
          "image": "/Cwp/assets/imda/images/ic-print.png",
          "text": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
        },
        {
          "image": "/Cwp/assets/imda/images/ic-print.png",
          "text": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
        }
      ]
    })
    +topic-card-listing({
      "items": [
        {
          "image": "/Cwp/assets/imda/images/ic-share.png",
          "text": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
        }
      ]
    })
    h2 15 Icon + RTE Icon on Top 
    +topic-card-listing({
      "items": [
        {
          "image": "/Cwp/assets/imda/images/ic-print.png",
          "text": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
        },
        {
          "image": "/Cwp/assets/imda/images/ic-print.png",
          "text": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
        },
        {
          "image": "/Cwp/assets/imda/images/ic-print.png",
          "text": "nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn",
        }
      ]
    }).topic-card-listing--iconTop
    +topic-card-listing({
      "items": [
        {
          "image": "/Cwp/assets/imda/images/ic-share.png",
          "text": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
        },
        {
          "image": "/Cwp/assets/imda/images/ic-share.png",
          "text": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
        }
      ]
    }).topic-card-listing--iconTop
    +topic-card-listing({
      "items": [
        {
          "image": "/Cwp/assets/imda/images/ic-print.png",
          "text": "nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn",
        }
      ]
    }).topic-card-listing--iconTop
    h2 Newsletter
    
  +newsletter-revamp({
    "image": "/Cwp/assets/imda/images/subscribe.png",
    "image2": "/Cwp/assets/imda/images/subscribe2.png",
    "image3": "/Cwp/assets/imda/images/subscribe3.png",
    "title": "Our newsletter is coming soon",
    "text": "",
    "label": "Subscribe now",
    "url": "#"
  })
