extends ../../_layouts/standard-detail

block append config
  - baseUrl = "../../"
  - pageUrl = "/news-listing/coding-talents"
  - var pageData = site.data.standardDetail.codingTalents
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts
  - nextArticle = pageData.nextArticle

block detailContent
  h2 50 students, 15 apps and plenty of tech talent showcased at the Swift Innovators Summit.

  +highlight-card({
    "image": "/images/news/coding-talent-1.jpg",
    "title": "Coding Talents Swiftly Discovered",
    "content": "Congratulations to the graduating class of the Swift Accelerator Programme 2018!"
  })

  +gallery({
    "items": [
      {
        "image": "/images/news/coding-talent-2.jpg",
        "alt": "Two-thirds of team Photo To Do: Jerald (left) and Irhamshah (right).",
        "caption": "Two-thirds of team Photo To Do: Jerald (left) and Irhamshah (right)."
      },
      {
        "image": "/images/news/coding-talent-3.jpg",
        "alt": "Ace app developer Yuma Soerianto conducing his Masterclass at the Swift Innovators Summit. And he is just 11 years old.",
        "caption": "Ace app developer Yuma Soerianto conducing his Masterclass at the Swift Innovators Summit. And he is just 11 years old."
      },
      {
        "image": "/images/news/coding-talent-4.jpg",
        "alt": "(Third from left) Ms Koh Li-Na, IMDA's Assistant Chief Executive (Planning), visiting the app displays by the various teams.",
        "caption": "(Third from left) Ms Koh Li-Na, IMDA's Assistant Chief Executive (Planning), visiting the app displays by the various teams."
      },
      {
        "image": "/images/news/coding-talent-5.jpg",
        "alt": "Two members of the Tasks and PortableCL teams: Shannen (left) and Jia Chen (right).",
        "caption": "Two members of the Tasks and PortableCL teams: Shannen (left) and Jia Chen (right)."
      },
      {
        "image": "/images/news/coding-talent-6.jpg",
        "alt": "Two members of the all-girls team behind the Cal app.",
        "caption": "Two members of the all-girls team behind the Cal app."
      }
    ]
  })

  +rte()

    p The team behind the Photo To Do app wanted a simple way to help students – like themselves – remember school assignments and the accompanying deadlines.

    p Like most of the teams who lined the exhibition area at the Singapore School of Science and Technology (SST) during the Swift Innovators Summit, the boys – Jerald Foo (Clementi Town Secondary), Mohamed Irhamshah (Ngee Ann Secondary), both in Secondary One, and Sean Hua (Raffles Institution), Secondary Two  hail from different schools.

    p They had started out building a screensaver app, but decided to up the challenge to create a useful app that allowed them to quickly set up a reminder just as the homework or class assignment was being given out. Hence, the simple shoot-and-set-deadline app, which means no lesson disruption.

    p As Irhamshah: “A picture tells a thousand words!”

    p The trio were among the enthusiastic students proudly exhibiting 15 apps and explaining patiently to curious visitors.

    p If there ever was an event that could be described as a mini-Apple Developers’ Conference on steroids, it would be this Summit. Held on 10 Nov 2018, the Summit marked not just the public debut of apps developed by talented students, but also their graduation from the inaugural Swift Accelerator Programme.

    p One “celebrity” to grace the Summit was 11-year-old Yuma Soerianto, the youngest-ever developer to attend Apple’s Worldwide Developers’ Conference (WWDC).

    p With several apps under his belt, and already experimenting on an AR (augmented reality) app, he was one of the Keynote Speaker at the Summit – and also conducted a masterclass for the excited students there.

    h3 Swift Accelerator Programme

    p The Programme was a pilot collaboration between IMDA, Apple and Tinkeracademy, that sought to equip the selected students with deep technical skills – like coding – that are industry relevant, over nine months starting from March 2018.

    p The intense programme, which took up many a Saturday morning and quite a few days during the school holidays, provided the students with a holistic approach to product and app development including design thinking, storytelling and how to market their apps. Apple even brought in app developers to share their experience with the kids.

    p The programme even brought together like-minded future technopreneurs from different schools across the island, like the boys who created Photo To Do. After attending some 180 hours of training, it was no wonder that the students went from being strangers to well, partners.

    p Take for example, Shawn Ng from SST and Lim Yu Wei from Dunman High School, who teamed up after meeting at the first workshop. As a class treasurer, Yu Wei says it is difficult to collect regular payments from classmates and to tally all the amounts accurately – “they have lots of excuses.”

    p Inspired by his experience, the duo created Fund Inc, a mobile app that tracks the collection of class funds and lets class treasurers breathe easier. It took just three months to develop.

    p But the boys are not sitting still. Shawn added: “We are already thinking of improvements such as porting the data to the cloud and adding a notebook feature.”

    p Ms Koh Li-Na, IMDA’s Assistant Chief Executive (Planning) observed in her speech during the graduation ceremony: “Coding is not just about coming up with an app. It is about being a community. It allows you to share ideas and innovate together.”

    p She noted that the training taught the students that building an app is not about what they want or like. Instead, "it is about meeting a need, addressing a gap.”

    p And that was just what the students did.

    h3 Solving problems, meeting a need

    p Shannen Samuel Rajoo and teammate Yee Jia Chen, both Secondary Two students from SST, demoed not one but two mobile  apps developed with different partners: Tasks, an app that encourages procrastinators to study, and PortableCL (Chinese Language) that uses digital flashcards to help primary school pupils pick up Chinese vocabulary.

    p Shannen told IMpact: “It’s already on the Apple App Store, and we want to improve the UI (user interface).” He shared that the team went into developing apps because it was fun and also, “we want to help the community”.

    p Quite a few of the teams had ideas to solve common problems faced in school. Wendolyn Kang and How En Hsin, from Raffles Girls School, teamed up with Sheena Grace, from Admiralty Secondary School, to solve a perennial issue – how to track activities and get everyone to attend.

    p The girls came up with Cal, a shared class calendar app to track upcoming tests and deadlines – with a handy polling feature to allow students to find the best dates to meet up for activities – despite not knowing Swift at the start.

    p Said Wendolyn: “We learnt a lot from the Swift Accelerator Programme. Swift is one of the easier coding languages to use, as it has drag and drop features.”

    p When asked why the team took up the project, En Hsin said matter-of-factly: “Coding and programming are important skills for the future.”

    p That sentiment was echoed by quite a few of the students.

    p No surprise then, that more than a few heads were nodding in agreement as Ms Koh Li-Na exhorted the graduating students: “Remember that technology in the end, is always about the people. It is about how you use tech to serve the people and to help those around you.

    p “The 9 months is just a start. You are at the beginning of your journey of technology, of honing your talent. Who knows what else you might create using tech like AI!”
