include ../../molecules/interactive-card/interactive-card

mixin interactive-section(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .interactive-section(class=spec.__class)&attributes(attributes)
    .container.container--mw1140
      .col-6
        h2 SG Digital
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus deleniti voluptatum alias quod nam maxime nemo aliquid! Placeat quasi, quas id tempore modi itaque eos? Sunt dolorum veniam facere esse.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem molestiae beatae similique impedit tenetur reprehenderit quas reiciendis dicta, neque vero sint iure iusto doloremque quo sed quod ducimus sapiente. Pariatur!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus sed consequuntur esse velit cumque mollitia inventore iste, provident at eos eligendi laborum error! Ut, suscipit quod aut quae temporibus officiis!
      .col-6
        +interactive-card({"date":"Community","icon":"rocket","title":"Digital Rediness"})
        +interactive-card({"date":"Talent","icon":"connection","title":"SG:D Talent"})
        +interactive-card({"date":"SME","icon":"lock","title":"SG:D SMEs Go Digital"})
        +interactive-card({"date":"Mar 2018","icon":"tower","title":"Lorem ipsum dolor sit amet consectetur adipisicing elit."})
        +interactive-card({"date":"May 2018","icon":"phone","title":"Security IDP"})
        //+button({"text":"VIEW ALL", "__class":"sggd-btn--standard"})
