.interactive-section {
  h2 {
    font-size: calc-em(50px);
    font-family: $font-family;
    font-weight: $light;
  }

  p {
    font-size: calc-em(16px);
    font-family: $font-family;
    font-weight: $roman;
  }
}
