extends ../_layouts/base

include ../_modules/molecules/event-listing-card/event-listing-card
include ../_modules/molecules/events-carousel-item/events-carousel-item

include ../_modules/organisms/events-landing-banner/events-landing-banner
include ../_modules/organisms/featured-events-carousel/featured-events-carousel
include ../_modules/organisms/events-search/events-search

block append stylesheets

block append scripts

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - pageTitle = 'IMDA Events'
  - darkMode = true

//- block breadcrumb
  //- +breadcrumb()

//- block banner
  //- +banner()

block content
  +events-landing-banner({
    "title": "Events",
    "text": "Stay up-to-date on the latest happenings with our event's latest events.",
    "image": "/images/events/eventsbanner.png",
    "mobileImage": "/images/events/eventsbannermobile.png",
    "items": [
      {
        "image": "/images/events/upcomingevents1.jpg",
        "type": "SEMINAR",
        "title": "AT x AI(Organised by IMDA)1",
        "date": "01 JUN 2023",
        "signature": true,
        "whiteLabel": true,
        "url": "#"
      },
      {
        "image": "/images/events/upcomingevents2.jpg",
        "type": "SEMINAR",
        "title": "AT x AI(Organised by IMDA)2",
        "date": "01 JUN 2023",
        "signature": true,
        "url": "#"
      },
      {
        "image": "/images/events/upcomingevents1.jpg",
        "type": "SEMINAR",
        "title": "AT x AI(Organised by IMDA)3",
        "date": "01 JUN 2023",
        "signature": false,
        "url": "#"
      },
      {
        "image": "/images/events/upcomingevents2.jpg",
        "type": "SEMINAR",
        "title": "AT x AI(Organised by IMDA)4",
        "date": "01 JUN 2023",
        "signature": true,
        "url": "#"
      },
      {
        "image": "/images/events/upcomingevents1.jpg",
        "type": "SEMINAR",
        "title": "AT x AI(Organised by IMDA)5",
        "date": "01 JUN 2023",
        "signature": false,
        "url": "#"
      }
    ]
  })

  +featured-events-carousel({
    "title": "Our picks for",
    "dataId": "topPicksData",
    "templateid": "eventsTopPicksTemplate",
    "template": "topPicks",
    "filter": {
      "label": "Our picks for",
      "id": "toppicks",
      "name": "toppicks",
      "options": [
        {
          "value": "all",
          "text": "All activities"
        },
        {
          "value": "event",
          "text": "Event"
        },
        {
          "value": "seminar",
          "text": "Seminar"
        },
        {
          "value": "workshop",
          "text": "Workshop"
        },
        {
          "value": "by invite only",
          "text": "By invite only"
        }
      ]
    },
    "data": {
      "profile0": [
        {
          "mobileImage": "/images/events/featuredevents1.jpg",
          "image": "/images/events/featuredevents1.jpg",
          "type": "Seminar",
          "title": "AT X Summit1",
          "description": "A must-attend event for anyone looking to stay ahead of the curve in the fast-paced world of technology",
          "date": "05-08 JUN 2023",
          "signature": true,
          "url": "#"
        },
        {
          "mobileImage": "/images/events/featuredevents1.jpg",
          "image": "/images/events/featuredevents1.jpg",
          "type": "Event",
          "title": "AT X Summit2",
          "description": "A must-attend event for anyone looking to stay ahead of the curve in the fast-paced world of technology",
          "date": "05-08 JUN 2023",
          "signature": true,
          "whiteLabel": true,
          "url": "#"
        },
        {
          "mobileImage": "/images/events/featuredevents1.jpg",
          "image": "/images/events/featuredevents1.jpg",
          "type": "Seminar",
          "title": "AT X Summit3",
          "description": "A must-attend event for anyone looking to stay ahead of the curve in the fast-paced world of technology",
          "date": "05-08 JUN 2023",
          "signature": false,
          "url": "#"
        },
        {
          "mobileImage": "/images/events/featuredevents1.jpg",
          "image": "/images/events/featuredevents1.jpg",
          "type": "By invite only",
          "title": "AT X Summit3",
          "description": "A must-attend event for anyone looking to stay ahead of the curve in the fast-paced world of technology",
          "date": "05-08 JUN 2023",
          "signature": false,
          "url": "#"
        },
        {
          "mobileImage": "/images/events/featuredevents1.jpg",
          "image": "/images/events/featuredevents1.jpg",
          "type": "Workshop",
          "title": "AT X Summit3",
          "description": "A must-attend event for anyone looking to stay ahead of the curve in the fast-paced world of technology",
          "date": "05-08 JUN 2023",
          "signature": false,
          "url": "#"
        }
      ],
      "profile1": [
        {
          "mobileImage": "/images/events/featuredevents1.jpg",
          "image": "/images/events/featuredevents1.jpg",
          "type": "Seminar",
          "title": "AT X Summit2",
          "description": "A must-attend event for anyone looking to stay ahead of the curve in the fast-paced world of technology",
          "date": "05-08 JUN 2023",
          "signature": true,
          "url": "#"
        },
        {
          "mobileImage": "/images/events/featuredevents1.jpg",
          "image": "/images/events/featuredevents1.jpg",
          "type": "Workshop",
          "title": "AT X Summit1",
          "description": "A must-attend event for anyone looking to stay ahead of the curve in the fast-paced world of technology",
          "date": "05-08 JUN 2023",
          "signature": true,
          "whiteLabel": true,
          "url": "#"
        },
        {
          "mobileImage": "/images/events/featuredevents1.jpg",
          "image": "/images/events/featuredevents1.jpg",
          "type": "Event",
          "title": "AT X Summit3",
          "description": "A must-attend event for anyone looking to stay ahead of the curve in the fast-paced world of technology",
          "date": "05-08 JUN 2023",
          "signature": false,
          "url": "#"
        }
      ],
      "profile2": [
        {
          "mobileImage": "/images/events/featuredevents1.jpg",
          "image": "/images/events/featuredevents1.jpg",
          "type": "By invite only",
          "title": "AT X Summit3",
          "description": "A must-attend event for anyone looking to stay ahead of the curve in the fast-paced world of technology",
          "date": "05-08 JUN 2023",
          "signature": true,
          "url": "#"
        },
        {
          "mobileImage": "/images/events/featuredevents1.jpg",
          "image": "/images/events/featuredevents1.jpg",
          "type": "Seminar",
          "title": "AT X Summit2",
          "description": "A must-attend event for anyone looking to stay ahead of the curve in the fast-paced world of technology",
          "date": "05-08 JUN 2023",
          "signature": true,
          "whiteLabel": true,
          "url": "#"
        },
        {
          "mobileImage": "/images/events/featuredevents1.jpg",
          "image": "/images/events/featuredevents1.jpg",
          "type": "Workshop",
          "title": "AT X Summit1",
          "description": "A must-attend event for anyone looking to stay ahead of the curve in the fast-paced world of technology",
          "date": "05-08 JUN 2023",
          "signature": false,
          "url": "#"
        }
      ],
      "profile3": []
    }
  }).featured-events-carousel--top-picks
    div(data-carousel)
      
    .imda-carousel__controls.imda-carousel__controls--featured-events
      div(data-carousel-arrows)
      div.no-desktop(data-carousel-pager)
      div.desktop-only(data-carousel-dots)

  +events-search({
    "title": "Explore more",
    "image": "/images/events/eventssearch.png",
    "mobileImage": "/images/events/eventssearchmobile.png"
  })(data-listingurl="/events-listing")
  
  +featured-events-carousel({
    "title": "What's next for",
    "text": "Discover a range of engaging and informative activities on our upcoming schedule.",
    "background": true,
    "template": "profile",
    "imagetemplateid": "eventsProfilePicksImageTemplate",
    "templateid": "eventsProfilePicksTemplate",
    "filter": {
      "label": "What's next for",
      "id": "profilepicks",
      "name": "profilepicks",
      "options": [
        {
          "text": "All profiles",
          "value": "all",
          "profile": "profile0"
        },
        {
          "text": "Business",
          "value": "Businesses",
          "profile": "profile1"
        },
        {
          "text": "Student & Professional",
          "value": "Students-&-Professionals",
          "profile": "profile2"
        },
        {
          "text": "Public & Senior",
          "value": "Public-&-Seniors",
          "profile": "profile3"
        }
      ]
    },
    "bg": [
      {
        "image": "/images/events/profilepicksbg1.png",
        "mobileImage": "/images/events/profilepicksbgmobile1.png",
        "profile": "profile0",
      },
      {
        "image": "/images/events/profilepicksbg2.png",
        "mobileImage": "/images/events/profilepicksbgmobile1.png",
        "profile": "profile1",
      },
      {
        "image": "/images/events/profilepicksbg1.png",
        "mobileImage": "/images/events/profilepicksbgmobile1.png",
        "profile": "profile2",
      },
      {
        "image": "/images/events/profilepicksbg2.png",
        "mobileImage": "/images/events/profilepicksbgmobile1.png",
        "profile": "profile3",
      }
    ],
    "data": {
      "profile0": [
        {
          "mobileImage": "/images/events/upcomingevents1.jpg",
          "image": "/images/events/upcomingevents1.jpg",
          "type": "seminar",
          "title": "AT x AI(Organised by IMDA)1",
          "date": "01 JUN 2023",
          "signature": true,
          "whiteLabel": true,
          "url": "#"
        },
        {
          "mobileImage": "/images/events/upcomingevents2.jpg",
          "image": "/images/events/upcomingevents2.jpg",
          "type": "seminar",
          "title": "AT x AI(Organised by IMDA)2",
          "date": "01 JUN 2023",
          "signature": true,
          "url": "#"
        },
        {
          "mobileImage": "/images/events/upcomingevents1.jpg",
          "image": "/images/events/upcomingevents1.jpg",
          "type": "seminar",
          "title": "AT x AI(Organised by IMDA)3",
          "date": "01 JUN 2023",
          "signature": false,
          "url": "#"
        }
      ],
      "profile1": [
        {
          "mobileImage": "/images/events/upcomingevents1.jpg",
          "image": "/images/events/upcomingevents1.jpg",
          "type": "by invite only",
          "title": "AT x AI(Organised by IMDA)2",
          "date": "01 JUN 2023",
          "signature": true,
          "whiteLabel": true,
          "url": "#"
        },
        {
          "mobileImage": "/images/events/upcomingevents2.jpg",
          "image": "/images/events/upcomingevents2.jpg",
          "type": "seminar",
          "title": "AT x AI(Organised by IMDA)3",
          "date": "01 JUN 2023",
          "signature": true,
          "url": "#"
        },
        {
          "mobileImage": "/images/events/upcomingevents1.jpg",
          "image": "/images/events/upcomingevents1.jpg",
          "type": "workshop",
          "title": "AT x AI(Organised by IMDA)1",
          "date": "01 JUN 2023",
          "signature": false,
          "url": "#"
        }
      ],
      "profile2": [
        {
          "mobileImage": "/images/events/upcomingevents1.jpg",
          "image": "/images/events/upcomingevents1.jpg",
          "type": "workshop",
          "title": "AT x AI(Organised by IMDA)3",
          "date": "01 JUN 2023",
          "signature": true,
          "whiteLabel": true,
          "url": "#"
        },
        {
          "mobileImage": "/images/events/upcomingevents2.jpg",
          "image": "/images/events/upcomingevents2.jpg",
          "type": "seminar",
          "title": "AT x AI(Organised by IMDA)2",
          "date": "01 JUN 2023",
          "signature": true,
          "url": "#"
        },
        {
          "mobileImage": "/images/events/upcomingevents1.jpg",
          "image": "/images/events/upcomingevents1.jpg",
          "type": "seminar",
          "title": "AT x AI(Organised by IMDA)1",
          "date": "01 JUN 2023",
          "signature": false,
          "url": "#"
        }
      ],
      "profile3": [
      ]
    }
  }).featured-events-carousel--profile-picks
    div(data-carousel)
    .imda-carousel__controls.imda-carousel__controls--featured-events
      div(data-carousel-arrows)
      div.no-desktop(data-carousel-pager)
      div.desktop-only(data-carousel-dots)
