include ../../atoms/loading-icon/loading-icon
include ../../molecules/listing-filter/listing-filter
include ../../molecules/pagination/pagination
include ../../molecules/event-listing-card/event-listing-card

mixin events-listing(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .events-listing(data-endpoint="/ajax/events-listing.json")&attributes(attributes)
    .container
      +news-listing-filter({
        "search": [
          {
            "__type": "select",
            "label": "Support for",
            "id": "support",
            "name": "support",
            "options": [
              {
                "value": "",
                "text": "Select a profile"
              },
              {
                "value": "all",
                "text": "All profiles",
                "profile": "profile0",
                "selected": true
              },
              {
                "value": "Businesses",
                "text": "Businesses",
                "profile": "profile1"
              },
              {
                "value": "Students-&-Professionals",
                "text": "Students & Professionals",
                "profile": "profile2"
              },
              {
                "value": "Public-&-Seniors",
                "text": "Public & Seniors",
                "profile": "profile3"
              }
            ]
          },
          {
            "id": "keyword",
            "name": "keyword",
            "__type": "search"
          }
        ],
        "filters": [
          {
            "label": "Event activity",
            "id": "activity",
            "name": "activity",
            "__type": "select",
            "options": [
              {
                "value": "all",
                "text": "All activity"
              },
              {
                "value": "event",
                "text": "Event"
              },
              {
                "value": "seminar",
                "text": "Seminar"
              },
              {
                "value": "workshop",
                "text": "Workshop"
              },
              {
                "value": "inviteonly",
                "text": "By invite only"
              }
            ]
          },
          {
            "label": "Event format",
            "id": "format",
            "name": "format",
            "__type": "select",
            "options": [
              {
                "value": "all",
                "text": "All formats"
              },
              {
                "value": "offline",
                "text": "Offline"
              },
              {
                "value": "online",
                "text": "Online"
              },
              {
                "value": "hybrid",
                "text": "Hybrid"
              }
            ]
          },
          {
            "__type": "select",
            "label": "Event period",
            "id": "period",
            "name": "period",
            "options": [
              {
                "value": "upcoming",
                "text": "Upcoming"
              },
              {
                "value": "past",
                "text": "Past"
              }
            ]
          }
        ]
      }).events-listing__filters.listing-filter--dark

      .events-listing__summary
        p Showing 
          span.page 1-6 
          |  of 
          span.total 30
          |  items
        
        .events-listing__extra-filter
          input(type="checkbox", id="type", name="type", value="signature")
          label(for="type") Signature activities only

      .events-listing__content
        +loading-icon()
        .events-listing__list
          //- each item, index in spec.items
          //-   .events-listing__item
          //-     - item['__type'] = 'event'
          //-     +panel-card(item)(class="panel-card--"+ item.color).panel-card--event

        +pagination-js().events-listing__pagination.pagination-js--dark

  script#eventsListingTemplate(type="text/x-dot-template")
    |{{? it.length}}
    |{{~ it :item:index}}
    .events-listing__item
      +event-listing-card-dot()
    |{{~}}
    |{{??}}
    p.empty-msg Sorry, there is no result. Please try with different filter.
    |{{?}}
