// // events-listing styles
// see news-listing.scss for common styling
.events-listing {
  .listing-filter {
    margin: 0 0 50px;

    @include desktopMax {
      margin: 0 0 33px;
    }
  }

  &__summary {
    text-align: center;
    margin: 0 0 40px;
    
    @include desktop {
      text-align: left;
      margin: 0 0 36px;
    }

    p {
      font-size: calc-em(22px);
      line-height: 140%;
      margin: 0 0 12px;

      @include desktop {
        font-size: calc-em(26px);
        margin: 0 0 28px;
      }
    }
  }

  &__extra-filter {
    input {
      @extend %vh;
      opacity: 0;
    
      & + label {
        position: relative;
        padding: 0 0 0 61px;
        display: inline-block;
        font-size: calc-em(18px);
        font-weight: 500;
        line-height: 140%;
        cursor: pointer;
  
        &:before {
          content: '';
          display: block;
          width: 48px;
          height: 24px;
          background-color: transparent;
          border-radius: 14px;
          position: absolute;
          top: 0;
          left: 0;
          border: 1px solid #fff;
          transition: all 0.25s ease-in-out;
        }
  
        &:after {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          background-color: #FF8300;
          position: absolute;
          top: 2px;
          left: 2px;
          border-radius: 10px;
          transition: all 0.25s ease-in-out;
        }
      }

      &:checked {
        & + label {
          &:before {
            background-color: #FF8300;
            border-color: #FF8300;
          }
    
          &:after {
            top: 2px;
            left: 26px;
            background-color: #fff;
          }
        }
      }
    }
  }

  .event-listing-card {
    .event-listing-card__text {
      h3, p  {
        display: block;
      }
    }
  }
}