// programme-listing styles
.innovative-tech-listing,
.programme-listing,
.regulation-listing {
  // background: $background;
  padding: 30px 0;

  &__filters {
    @include desktop {
      padding-right: 30px;
    }
  }

  &__content {
    position: relative;
    min-height: 300px;

    &:before {
      content: "";
      background: #fff;
      height: 100%;
      left: 0;
      opacity: 0.8;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    &.content-loaded {
      &:before {
        display: none;
      }

      .loading-icon {
        display: none;
      }

      .pagination {
        display: block;
      }
    }

    &.content-updating {
      &:before {
        display: block;
      }

      .loading-icon {
        display: block;
      }
    }

    .loading-icon {
      left: 0;
      position: absolute;
      margin: auto;
      right: 0;
      top: 20px;
      z-index: 1;
    }

    .pagination {
      display: none;
    }
  }

  &__list {
    @extend %list-unstyled;

    li {
      margin-bottom: 20px;

      @include desktop {
        margin-bottom: 30px;
      }
    }
  }
}
