include ../../atoms/loading-icon/loading-icon
include ../../molecules/filters-group/filters-group
include ../../molecules/pagination/pagination
include ../../molecules/teaser-card/teaser-card

mixin programme-listing(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .programme-listing(data-endpoint="/ajax/programme-listing.json")
    .container
      .row
        .col-sm-4.col-md-4.col-lg-3.programme-listing__filters
          +filters-group({
            "fields": [
              {
                "__type": "search",
                "label": "Filter by keyword",
                "id": "keyword",
                "name": "keyword"
              },
              {
                "__type": "select",
                "label": "I am a",
                "id": "support",
                "name": "support",
                "options": [
                  {
                    "value": "organisations",
                    "text": "Business",
                    "profile": "profile1"
                  },
                  {
                    "value": "students",
                    "text": "Student/Professional",
                    "profile": "profile2"
                  },
                  {
                    "value": "individuals",
                    "text": "Member of Public/Senior",
                    "profile": "profile3"
                  }
                ]
              },
              {
                "__type": "checkbox",
                "label": "Business type",
                "id": "orgType",
                "name": "orgType",
                "options": [
                  {
                    "value": "all",
                    "label": "All"
                  },
                  {
                    "value": "sme",
                    "label": "SME/Startups"
                  },
                  {
                    "value": "mnc",
                    "label": "MNC"
                  }
                ]
              },
              {
                "__type": "checkbox",
                "label": "Type of support",
                "name": "category",
                "options": [
                  {
                    "value": "all",
                    "label": "All",
                    "profile": ['organisations','students','individuals']
                  },
                  {
                    "value": "programmes",
                    "label": "Programmes",
                    "profile": ['organisations','students']
                  },
                  {
                    "value": "grants",
                    "label": "Grants",
                    "profile": ['organisations','students',]
                  },
                  {
                    "value": "scholarships",
                    "label": "Scholarships",
                    "profile": ['students']
                  },{
                    "value": "career-dev",
                    "label": "Career Development",
                    "profile": ['students']
                  },
                  {
                    "value": "digital-solutions",
                    "label": "Digital Solutions",
                    "profile": ['organisations']
                  },
                  {
                    "value": "industry-digital",
                    "label": "Industry Digital Plans",
                    "profile": ['organisations']
                  },
                  {
                    "value": "certifications",
                    "label": "Certifications",
                    "profile": ['organisations']
                  },
                  {
                    "value": "roadmaps",
                    "label": "Roadmaps",
                    "profile": ['organisations']
                  },
                  {
                    "value": "public-initiatives",
                    "label": "Public Initiatives",
                    "profile": ['individuals']
                  },
                  {
                    "value": "subsidies",
                    "label": "Subsidies",
                    "profile": ['individuals']
                  },
                  {
                    "value": "user-guide",
                    "label": "User & Set Up Guides",
                    "profile": ['individuals']
                  }
                ]
              },
              {
                "__type": "checkbox",
                "hidden": true,
                "label": "Industry You Are Interested In",
                "id": "industry",
                "name": "industry",
                "options": [
                  {
                    "value": "all",
                    "label": "All"
                  },
                  {
                    "value": "build-and-environment",
                    "label": "Built & Environment"
                  },
                  {
                    "value": "food",
                    "label": "Food Services"
                  },
                  {
                    "value": "professional",
                    "label": "Professional Services"
                  },
                  {
                    "value": "financial",
                    "label": "Financial"
                  },
                  {
                    "value": "ict",
                    "label": "ICT"
                  },
                  {
                    "value": "logistics",
                    "label": "Logistics"
                  },
                  {
                    "value": "manufacturing",
                    "label": "Manufacturing"
                  },
                  {
                    "value": "media",
                    "label": "Media"
                  },
                  {
                    "value": "retail",
                    "label": "Retail"
                  },
                  {
                    "value": "wholesale",
                    "label": "Wholesale Trade"
                  }
                ]
              },
              {
                "__type": "checkbox",
                "hidden": true,
                "label": "You are interested in information for",
                "id": "persona",
                "name": "persona",
                "options": [
                  {
                    "value": "all",
                    "label": "All",
                    "profile": ['students','individuals']
                  },
                  {
                    "value": "senior",
                    "label": "Senior",
                    "profile": ['individuals']
                  },
                  {
                    "value": "individual",
                    "label": "Individual",
                    "profile": ['individuals']
                  },
                  {
                    "value": "parent",
                    "label": "Parent with young children",
                    "profile": ['individuals']
                  },
                  {
                    "value": "primary-school",
                    "label": "Primary School",
                    "profile": ['students']
                  },
                  {
                    "value": "secondary-school",
                    "label": "Secondary School",
                    "profile": ['students']
                  },
                  {
                    "value": "undergraduate",
                    "label": "Undergraduate",
                    "profile": ['students']
                  },
                  {
                    "value": "post-graduate",
                    "label": "Post-graduate",
                    "profile": ['students']
                  },
                  {
                    "value": "professional",
                    "label": "Professional",
                    "profile": ['students']
                  },
                  {
                    "value": "mid-careerist",
                    "label": "Mid-careerist",
                    "profile": ['students']
                  },
                  {
                    "value": "researcher",
                    "label": "Researcher",
                    "profile": ['students']
                  }
                ]
              }
            ]
          })
        .col-sm-8.col-md-8.col-lg-9.programme-listing__content
          +loading-icon()
          ul.programme-listing__list
            //- each item in spec.items
            //-   li
            //-     +snippet-card(item)(class="snippet-card--" + item.color)

          +pagination-js().programme-listing__pagination

  script#programmeListingTemplate(type="text/x-dot-template")
    | {{?it.length}}
    | {{~it :item:index}}
    li
      +teaser-card-no-date-dot()
    | {{~}}
    | {{??}}
    p.empty-msg Sorry, there is no result. Please try with different filter.
    | {{?}}
