// breadcrumbs styles
.breadcrumbs {
  ul {
    @extend %list-unstyled;

    li {
      display: inline-block;

      &:after {
        content: "/";
        color: #fff;
        font-weight: $light;
        margin: 0 16px;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }

      a {
        color: #fff;
        display: inline-block;
        font-size: calc-em(14px);
        line-height: 140%;
        font-weight: 500;
        position: relative;
        text-decoration: none;

        &:before {
          content: "";
          background: #fff;
          bottom: 0;
          display: block;
          height: 1px;
          position: absolute;
          transition: transform .25s ease-in-out;
          transform: scaleX(0);
          transform-origin: left center;
          width: 100%;
        }

        &:hover, &:focus {
          &:before {
            transform: scaleX(1);
          }
        }
      }

      span {
        color: #fff;
        font-size: calc-em(14px);
        font-weight: 500;
      }

      .icon {
        font-size: calc-em(16px, 14px);
      }
    }
  }
}
