mixin breadcrumbs(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .breadcrumbs
    ul
      li
        a(href="/") 
          span.vh Home
          span.icon.icon-home
      each item in spec.items
        li
          if item.url
            a(href= item.url)= item.name
          else
            span= item.name
