mixin cta-card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.image = spec.image || ''
  - spec.text = spec.text || 'Our programs'

  .cta-card(class=spec.__class)&attributes(attributes)
    .cta-card-image
      img(src=spec.image)
      a(href="#").cta-card-description
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio autem, saepe dicta totam molestias consequuntur iste asperiores ad quaerat minus maxime ipsum ipsa repellat, ab minima expedita eaque fugit deleniti.

    a.sggd-btn(class="sggd-btn--gradient cta-card-btn", href=spec.link)
      .btn-text
        span=spec.text
      if spec.icon
        span.fa(class=spec.icon)
      else
        .arrow
          .arrow-wrapper
            span.left
            span.right
