// questionnaire-filters styles
.questionnaire-filters {
  position: relative;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(112, 47, 138, 0.2);

  &__bottom {
    border-top: 1px solid $borderGray;

    &--disabled {
      @include desktop {
        display: none !important;
      }
    }
  }

  &__top,
  &__bottom {
    padding: 20px;
    
    @include desktopMax {
      border-top: 1px solid $purple40;
    }

    @include desktop {
      padding: 24px;
    }

    .adjustSpacing {
      margin: 0 0 30px !important;
    }

    > span {
      font-weight: 600;
      line-height: 140%;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: $borderGray;
      display: block;
      margin: 0 0 12px;

      @include desktopMax {
        margin: 0 0 8px;
      }
    }
  }

  .custom-select,
  .custom-select--placeholder {
    label {
      font-weight: 600;
      font-size: calc-em(18px);
      line-height: 140%;
      color: $textBlack;
      display: block;
      transition: color 0.35s ease-in-out;
      pointer-events: none;
      
      @include desktopMax {
        color: #fff;
        margin: 0 0 8px;
      }
      
      @include desktop {
        font-size: calc-em(22px);
        flex: 0 0 110px;
        max-width: 110px;
        padding-right: 10px;
      }
    }
  }

  .custom-select {
    width: 100%;

    @include desktop {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    &__custom-dropdown {
      display: block;

      @include desktop {
        margin: 0 -5px -5px;
        flex: 0 0 calc(100% - 110px);
        max-width: calc(100% - 110px);
      }

      .custom-list {
        @include desktop {
          opacity: 1;
          visibility: visible;
          box-shadow: none;
          position: static;
          overflow: visible;
          transform: none;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
          display: flex;
          flex-wrap: wrap;
        }

        li {
          @include desktop {
            padding: 0 5px;
          }
          
          &.active {
            button {
              @include desktop {
                background: $primaryPurple;
                color: #fff;
              }
            }
          }

          button {
            font-size: calc-em(14px);
            padding: 13px 20px;
            
            @include desktop {
              text-align: center;
              color: $primaryPurple;
              padding: 8px 16px;
              margin: 0 0 10px;
              width: 100%;
              cursor: pointer;
              display: inline-block;
              font-weight: 600;
              font-size: calc(18px);
              line-height: 120%;
              border: 1px solid $primaryPurple;
              border-radius: 100px;
              background-color: #fff;
              transition: all 0.35s ease-in-out;
              white-space: nowrap;

              &::after {
                content: none;
              }
            }

            @include hover {
              &:hover, &:focus {
                background: $primaryPurple;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

  .custom-trigger {
    border-radius: 4px;
    padding: 8px 56px 8px 20px;
    font-size: calc-em(16px);

    @include desktop {
      display: none;
    }

    &[disabled] {
      pointer-events: none;
      color: $midGray !important;
      border-color: $midGray !important;
      background: transparent !important;
      
      .icon {
        color: $midGray !important;
      }
    }
  }

  .btn-reset {
    margin-bottom: 20px;
    position: absolute;
    right: 10px;
    font-weight: 500;
    font-size: calc-em(16px);
    
    &.pill {
      color: $primaryPurple;
      border-color: $primaryPurple;
      outline: none;

      @include hover {
        &:hover {
          background-color: $lightPurple;
        }
      }
    }

    span.icon-reset {
      margin-left: 12px;
      vertical-align: bottom;
      font-size: calc-em(14px);
    }

    @include desktopMax {
      border: none;
      padding: 0;
      background-color: transparent !important;
      
      &.pill {
        color: #fff;
      }

      span.icon-reset {
        margin-left: 6px;
      }
    }
  }
}