include ../../custom-select/custom-select
include ../../atoms/checkbox/checkbox
include ../../atoms/pill/pill

mixin questionnaire-filters(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .questionnaire-filters.step-1(class=spec.__class)&attributes(attributes)
    .questionnaire-filters__top
      +pill({
        "tag": "button",
        "label": "Reset<span class=\"icon-reset\"></span>"
      }).btn-reset
      if spec.top.length < 5
        span Step 1 of 2
      else 
        span.adjustSpacing Step 1 of 2
      +custom-select({
        "label": "I am a",
        "id": "step1industry",
        "name": "step1",
        "options": spec.top
      })
      //- span I am a
      //- .questionnaire-filters__options
      //-   .dropdown-nav
      //-     button.dropdown-nav__trigger(type="button")
      //-       span.label Select your industry
      //-       span.icon.icon-chevron-down
      //-     ul
      //-       each checkbox in spec.top
      //-         li
      //-           +radio--pill(checkbox)
    //- .questionnaire-filters__middle 
    //-   strong &
    .questionnaire-filters__bottom.questionnaire-filters__bottom--disabled.no-desktop
      span Step 2 of 2
      .custom-select--placeholder
        label & I want to
        .custom-select__custom-dropdown
          button.custom-trigger(type="button" disabled)
            span.label Select your interest
            apan.icon.icon-chevron-down
    each optionGroup, index in spec.bottom
      .questionnaire-filters__bottom(id=optionGroup.id style="display: none;")
        if spec.top.length < 5
          span Step 2 of 2
        else 
          span.adjustSpacing Step 2 of 2
        +custom-select({
          "label": "& I want to",
          "id": "step2interest" + index,
          "name": "step2",
          "options": optionGroup.options
        })
      //- span I want to
      //- .questionnaire-filters__options
      //-   .dropdown-nav
      //-     button.dropdown-nav__trigger(type="button")
      //-       span.label Select your interest
      //-       span.icon.icon-chevron-down
      //-     ul
      //-       each checkbox in spec.bottom
      //-         li
      //-           +radio--pill(checkbox)