mixin video-player(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  //- script(src="https://www.youtube.com/iframe_api")

  //- script.
    var player;
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('videoHolder', {
        videoId: '#{spec.videoId}',
        events: {
          'onReady': (e) => {
            player.setPlaybackQuality('default');
            //- e.target.playVideo();
            videoReady();
          }
        }
      });
    }

    function playVideo() {
      player.playVideo();
    }

    function stopVideo() {
      player.stopVideo();
    }

  .video-player(data-video-id= spec.videoId)
    .video-player__content
      button.btn.btn-play(type="button")
        span.icon.icon-play
      img(src= spec.image, alt= spec.title)
      p.video-player__caption= spec.title
    .video-player__holder(id= (spec.holderId) ? spec.holderId : "videoPlayer")


