// video-player styles
.video-player {
  $p: &;
  border-radius: 4px;
  overflow: hidden;
  position: relative;

  &.video-ready {
    .btn-play {
      display: flex;
    }
  }

  &.video-play {
    #{$p}__holder {
      z-index: 1;
    }
  }

  .btn-play {
    display: flex;
    bottom: 0;
    color: $primaryPurple;
    font-size: 3em;
    left: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: background-color 0.25s ease-in-out;
    background-color: $overlay;
    justify-content: center;
    align-items: center;


    .icon {
      display: inline-block;
      transition: all .25s ease-in-out;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 24px;
        height: 24px;
        background-color: #fff;
        border-radius: 50%;
        z-index: -1;

        @include tablet {
          width: 56px;
          height: 56px;
        }
      }
    }

    &:hover, &:focus {
      .icon {
        transform: scale(1.2);
      }
    }
  }

  &__content {
    position: relative;

    img {
      width: 100%;
    }
  }

  &__caption {
    color: #fff;
    margin: 0;
    padding: 40px 24px 16px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    font-weight: $medium;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.556075) 40%, #000000 100%);
      z-index: -1;
    }
  }

  &__holder {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

@media only screen and (min-width: $bpTablet) {
  .video-player {
    .btn-play {
      font-size: 5em;
    }
  }
}
