extends ../_layouts/microsite

include ../_modules/molecules/video-player/video-player
include ../_modules/organisms/page-banner/page-banner
include ../_modules/molecules/social-share/social-share

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - pageTitle = 'A lullaby To The Sorrowful Mystery'
  - sectionName = "Industry Support"
  -
    breadcrumbs = [
      {
        "name": "Industry Development",
        "url": "#"
      },
      {
        "name": "Sectors",
        "url": "#"
      },
      {
        "name": "Media",
        "url": "#"
      },
      {
        "name": "Film"
      }
    ]

block content
  <section class="content">
    +page-banner({
      "pageTitle": pageTitle,
      "breadcrumbs": breadcrumbs,
      "sectionName": sectionName,
      "articleDate": "20 December 2017"
    })
    <section class="content">
      <section class="article resize">
        <div class="container">
          +social-share().social-share--horizontal
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5">
              <img src="/images/film.jpg">
              <div class="awards">
                <h2 class="awards__title">Awards won:</h2>
                <ul class="awards__list">
                  <li class="awards__item has-match-height"><span class="title">World Premiere</span><span class="name">39 <sup>th</sup> Festival Des Films Du Monde 2015</span></li>
                  <li class="awards__item has-match-height"><span class="title">World Premiere</span><span class="name">39 <sup>th</sup> Festival Des Films Du Monde 2015</span></li>
                  <li class="awards__item has-match-height"><span class="title">World Premiere</span><span class="name">39 <sup>th</sup> Festival Des Films Du Monde 2015</span></li>
                  <li class="awards__item has-match-height"><span class="title">World Premiere</span><span class="name">39 <sup>th</sup> Festival Des Films Du Monde 2015</span></li>
                  <li class="awards__item has-match-height"><span class="title">World Premiere</span><span class="name">39 <sup>th</sup> Festival Des Films Du Monde 2015</span></li>
                  <li class="awards__item has-match-height"><span class="title">World Premiere</span><span class="name">39 <sup>th</sup> Festival Des Films Du Monde 2015</span></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7">
              <p>Royston Tan is an award-winning filmmaker who delivers a wide repetoire that includes short films, features, documentaries and commercials. He often seeks to challenge the boundaries of societal issues through his works, but is also well-known for some of his more recent box-office favourites like 881 and 7 Letters.</p>
              <p>Royston has bagged awards such as the Granyd Prix award for the 6TM Lab Competition setment at the 29th Clermont-Ferrand International Short Film Festival 2007, Best Director at the 22ND Singapore International Film Festival and the Busan Award at its Film Festival's Asian Project Market in 2012.</p>
              <section class="film-details">
                <div class="info">
                  <span class="label">Produced by</span>
                  <div class="text"><a href="/film/profile">Ten17p</a> (Philippines), <a href="/film/profile">EpicMedia</a> (Philippines), <a href="/film/profile">Sine Olivia Pilipinas</a> (Philippines), <a href="/film/profile">Potocol</a> (Singapore), <a href="/film/profile">Akanga Film Asia</a> (Singapore)</div>
                </div>
                <div class="info">
                  <span class="label">Producers</span>
                  <div class="text">
                    <p><a href="/film/profile">Bianca Balbuena</a> (Philippines), <a href="/film/profile">Paul Soriano</a> (Philippines), <a href="/film/profile">Jeremy Chua</a> (Singapore), <a href="/film/profile">Fran Borgia</a> (Singapore)</p>
                  </div>
                </div>
                <div class="info">
                  <div class="label"> <span>International sales/distribution </span></div>
                  <div class="text"><a href="/film/profile">Lav Diaz</a></div>
                </div>
                <div class="info">
                  <span class="label">Genre</span>
                  <div class="text">
                    <p>Historical Drama</p>
                  </div>
                </div>
                <div class="info">
                  <span class="label">Language</span>
                  <div class="text">
                    <p>Tagalog, Spanish, English</p>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="film-detail">
                <h2 class="film-detail__title">Watch Trailer</h2>
                +video-player({
                  "videoId": "ZQo6Dae-wvE",
                  "image": "/images/detail/gallery-1.jpg",
                  "title": "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, quibusdam."
                })
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="film-gallery">
                <h2 class="film-gallery__title">Photo Gallery</h2>
                <div class="film-gallery__list"><a data-fancybox="gallery" href="/images/715x400.png" class="fancybox film-gallery__item"><img src="/images/715x400.png"></a><a data-fancybox="gallery" href="/images/400x400.png" class="fancybox film-gallery__item"><img src="/images/400x400.png"></a><a data-fancybox="gallery" href="/images/400x700.png" class="fancybox film-gallery__item"><img src="/images/400x700.png"></a><a data-fancybox="gallery" href="/images/715x400.png" class="fancybox film-gallery__item"><img src="/images/715x400.png"></a><a data-fancybox="gallery" href="/images/715x400.png" class="fancybox film-gallery__items"><img src="/images/715x400.png"></a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </section>
