body h2, body h3 {
  font-weight: 300 
}
body *, body :focus {
  outline: 0 !important 
}
html {
  font-size: 10px 
}
body {
  font-family: 'Montserrat', Arial, sans-serif;
  color: #2a2a2a;
  position: relative;
  font-size: 1.6em 
}
body h1, body h2, body h3 {
  font-family: 'Montserrat', Arial, sans-serif;
}
body.mediabuzz div[role=main] section.article h3, body.mediabuzz div[role=main] section.content .section-title .date {
  color: #157dc1 
}
body h2, body h4, body p {
  color: #2a2a2a 
}
body.mediabuzz .wp-caption:after {
  background-image: -webkit-gradient(linear, left top, right top, from(#157dc1), to(#3baa84));
  background-image: -webkit-linear-gradient(left, #157dc1, #3baa84);
  background-image: -o-linear-gradient(left, #157dc1, #3baa84);
  background-image: linear-gradient(to right, #157dc1, #3baa84) 
}
body h1 {
  color: #fff;
  font-size: 4.3rem;
  margin: 40px 0 
}
body h2 {
  font-size: 3.6rem;
  margin: 0 0 25px;
  line-height: 4.2rem 
}
body h3 {
  color: #6f358d;
  font-size: 2.4rem;
  line-height: 3rem;
  margin: 0 0 50px 
}
body h4, body h5 {
  font-size: 2.2rem;
  font-family: 'Montserrat', Arial, sans-serif;
}
body h4 {
  line-height: 2.8rem;
  margin: 25px 0 
}
body h5 {
  margin-bottom: 35px 
}
body p {
  font-size: 1.6rem;
  line-height: 2.2rem 
}
body p img {
  height: auto !important 
}
body img {
  max-width: 100% 
}
body a.link {
  font-family: 'Montserrat', Arial, sans-serif;
  color: #6f358d 
}
body a.link:focus, body a.link:hover {
  color: #6f358d;
  text-decoration: underline 
}
body .info-notice {
  position: fixed;
  z-index: 12;
  background-color: #989898;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  display: none 
}
body .info-notice .container {
  position: relative 
}
body .info-notice p {
  color: #fff;
  padding-right: 30px;
  font-size: 16px;
  line-height: 22px 
}
body .info-notice .notice-title p {
  font-weight: 700 
}
body .info-notice .notice-close {
  position: absolute;
  right: 15px;
  top: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  /* background: url(../img/ui/ic-close.png) center no-repeat  */
}
body .info-notice.opened {
  display: block 
}
body .info-notice.clossed, body .responsive-nav {
  display: none 
}
body section {
  position: relative 
}
body section.floating-bar {
  width: 360px;
  position: absolute;
  height: 450px;
  z-index: 11;
  right: -360px;
  -webkit-transition: right ease .3s;
  -o-transition: right ease .3s;
  transition: right ease .3s;
  content: '';
  display: block;
  clear: both 
}
body section.floating-bar:after, body section.floating-bar:before {
  content: " ";
  display: table 
}
body section.floating-bar:after {
  clear: both 
}
body section.floating-bar.social-media ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 -60px;
  float: left 
}
body section.floating-bar.social-media ul li {
  width: 60px;
  height: 60px 
}
body section.floating-bar.social-media ul li a {
  width: 100%;
  height: 100%;
  display: block;
  position: relative 
}
body section.floating-bar.social-media ul li a img {
  max-width: none;
  position: absolute;
  left: 50%;
  top: 50%;
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%) 
}
body section.floating-bar.social-media ul li a.facebook {
  background-color: #06465e 
}
body section.floating-bar.social-media ul li a.twitter {
  background-color: #2b6d85 
}
body section.floating-bar.social-media ul li a.youtube {
  background-color: #af232d 
}
body section.floating-bar.social-media ul li a.instagram {
  background-color: #81510f 
}
body section.floating-bar.social-media .social-media-content {
  display: inline-block;
  width: 300px;
  min-height: 1px;
  float: left 
}
body section.floating-bar.social-media .social-media-content .embed-responsive {
  height: 240px 
}
body section.floating-bar.social-media .item {
  display: none 
}
body section.floating-bar.social-media .item.active {
  display: block 
}
body section.floating-bar.social-media #instafeed {
  max-height: 450px;
  overflow-y: auto;
  background-color: #fff 
}
body section.floating-bar.social-media #instafeed img {
  width: 50%;
  max-width: none 
}
body section.floating-bar.social-media.active {
  right: -60px;
  z-index: 12 !important 
}
body section.floating-bar.rate-website .rate-show-btn {
  display: inline;
  background-color: #656565;
  white-space: nowrap;
  padding: 20px;
  color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-family: 'Montserrat', Arial, sans-serif;
  position: absolute;
  -webkit-transform: rotate(-90deg) translateX(-100%);
  -ms-transform: rotate(-90deg) translateX(-100%);
  transform: rotate(-90deg) translateX(-100%);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0 
}
body section.floating-bar.rate-website .rate-form {
  width: 300px;
  height: auto;
  background-color: #f4f7fa;
  padding: 20px 15px 
}
body section.floating-bar.rate-website .rate-form h4 {
  margin: 0 0 15px 
}
body section.floating-bar.rate-website .rate-form label {
  color: #4b4b4b;
  font-weight: 400 
}
body section.floating-bar.rate-website .rate-form textarea {
  display: block;
  width: 100%;
  height: 170px;
  resize: none 
}
body section.floating-bar.rate-website .rate-form input[type=radio] {
  margin-right: 10px 
}
body section.floating-bar.rate-website .rate-form .comment {
  margin-top: 15px 
}
body section.floating-bar.rate-website .rate-form .comment label {
  margin-bottom: 10px 
}
body section.floating-bar.rate-website.active {
  right: -60px 
}
body header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  -webkit-transition: top ease-in-out .5s;
  -o-transition: top ease-in-out .5s;
  transition: top ease-in-out .5s 
}
body header .social-link {
  display: none 
}
body header .top-header {
  display: table;
  width: 100% 
}
body header .top-header .left, body header .top-header .right {
  display: table-cell;
  vertical-align: bottom 
}
body header .menu-toggle {
  height: 20px;
  display: none 
}
body header .menu-toggle .hamburger {
  width: 25px;
  height: 4px;
  border-radius: 2px;
  background-color: #6f358d;
  display: inline-block;
  margin: 8px 0;
  position: relative 
}
body header .menu-toggle .hamburger:after, body header .menu-toggle .hamburger:before {
  content: '';
  display: block;
  width: 25px;
  height: 4px;
  border-radius: 4px;
  background-color: #6f358d;
  position: absolute;
  left: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s 
}
body header .menu-toggle .hamburger:before {
  top: -8px 
}
body header .menu-toggle .hamburger:after {
  bottom: -8px 
}
body header .menu-toggle .text {
  line-height: 20px;
  font-size: 16px;
  color: #6f358d;
  vertical-align: top;
  margin-left: 10px 
}
body header section.submenu {
  background-color: #78419b;
  position: absolute;
  width: 100vw;
  left: 0;
  top: 100%;
  padding: 0 50px;
  display: none;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -o-transition: transform ease-in-out .5s;
  -webkit-transition: -webkit-transform ease-in-out .5s;
  transition: -webkit-transform ease-in-out .5s;
  transition: transform ease-in-out .5s;
  transition: transform ease-in-out .5s, -webkit-transform ease-in-out .5s 
}
body header section.submenu:before {
  content: '';
  position: absolute;
  left: 0;
  top: -30px;
  width: 100%;
  height: 30px 
}
body header section.submenu ul {
  list-style-type: none;
  width: 33.33333333%;
  float: left;
  padding: 25px 0;
  height: 580px;
  margin: 0;
  position: absolute;
  display: none 
}
body header section.submenu ul li a {
  font-size: 16px;
  font-family: 'Montserrat', Arial, sans-serif;
  color: #fff;
  font-weight: 300;
  padding: 8px 22px;
  display: block 
}
body header section.submenu ul li.parent-submenu>a {
  position: relative 
}
body header section.submenu ul li.parent-submenu>a:after {
  content: '\f105';
  display: inline-block;
  color: #fff;
  font-family: FontAwesome;
  text-rendering: auto;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%) 
}
body header section.submenu ul li.opened>a, body header section.submenu ul li:hover>a {
  font-family: 'Montserrat', Arial, sans-serif;
}
body header section.submenu ul li.opened>ul, body header section.submenu ul li:hover>ul {
  display: block 
}
body header section.submenu ul li:hover>ul {
  z-index: 2 
}
body header section.submenu ul li:hover>ul:after {
  content: '';
  display: block;
  width: 690px;
  height: 100%;
  background-color: #78419b;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1 
}
body header section.submenu ul li ul {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100% 
}
body header section.submenu ul.level-1 {
  display: block;
  position: relative 
}
body header section.submenu ul.level-1, body header section.submenu ul.level-3, body header section.submenu ul.level-5 {
  background-color: #592571 
}
body header section.submenu ul.level-1 li.active, body header section.submenu ul.level-1 li:hover, body header section.submenu ul.level-3 li.active, body header section.submenu ul.level-3 li:hover, body header section.submenu ul.level-5 li.active, body header section.submenu ul.level-5 li:hover {
  background-color: #602e77 
}
body header section.submenu ul.level-3:before, body header section.submenu ul.level-5:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent transparent #6f358d;
  position: absolute;
  top: 150px;
  left: 0;
  z-index: 1 
}
body header section.submenu ul.level-2, body header section.submenu ul.level-4 {
  background-color: #6f358d 
}
body header section.submenu ul.level-2:before, body header section.submenu ul.level-4:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent transparent #592571;
  position: absolute;
  top: 150px;
  left: 0;
  z-index: 1 
}
body header section.submenu ul.level-2 li.active, body header section.submenu ul.level-2 li:hover, body header section.submenu ul.level-4 li.active, body header section.submenu ul.level-4 li:hover {
  background-color: #753d91 
}
body header section.submenu ul.level-4, body header section.submenu ul.level-5 {
  display: none !important 
}
body header section.submenu .menu-btn {
  width: 80px;
  height: 30px;
  background: 0 0;
  border: none;
  padding: 0;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  z-index: 10 
}
body header section.submenu .menu-btn:before {
  content: '';
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #2e1827;
  margin-top: -50px;
  opacity: .8 
}
body header section.submenu .menu-btn:after, body header section.submenu.opened .menu-btn:after {
  display: inline-block;
  color: #fff;
  font-family: FontAwesome;
  font-size: inherit;
  position: absolute;
  top: 2px;
  left: 50%;
  text-rendering: auto 
}
body header section.submenu .menu-btn:after {
  content: '\f078 ';
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%) 
}
body header section.submenu.opened {
  transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%) 
}
body header section.submenu.opened .menu-btn:after {
  content: '\f077 ';
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%) 
}
body header section.submenu.scrolled {
  top: 83px !important 
}
body header .logo {
  display: block 
}
body header .logo img {
  max-width: none;
  height: 65px;
  width: auto 
}
body header .wis-logo {
  float: right 
}
body header .wis-logo a {
  display: block;
  margin-bottom: 5px 
}
body header .wis-link {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
  clear: both;
  float: right 
}
body header .wis-link li {
  float: left 
}
body header .wis-link li a {
  color: #2a2a2a;
  text-transform: uppercase;
  font-family: Arial, Arimo, sans-serif;
  font-size: 10px 
}
body header .wis-link li+li:before {
  content: '.';
  display: inline-block;
  margin: 0 5px 
}
body header .utilities {
  float: right;
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
  margin-right: 15px 
}
body header .utilities li {
  padding: 0 5px;
  float: left;
  border-left: 1px solid #fff 
}
body header .utilities li:first-of-type {
  border-left: none 
}
body header .utilities li a {
  color: transparent;
  text-shadow: none;
  border: 0;
  /* background: url(../img/ui/bg-tool.png) no-repeat; */
  display: block;
  width: 20px;
  height: 25px 
}
body header .utilities li a#print {
  background-position: 4px 0 
}
body header .utilities li a#resizeSmaller {
  background-position: -25px 0 
}
body header .utilities li a#resizeBigger {
  background-position: -50px 0 
}
body header .search-wrap {
  clear: both;
  float: right;
  font-family: 'Montserrat', Arial, sans-serif;
}
body header .search-wrap input, body header .search-wrap select {
  border: 1px solid #d7d7d7;
  padding: 5px 15px;
  color: #555;
  font-size: 12px;
  width: 160px 
}
body header .search-wrap .search-box {
  display: inline-block;
  margin-left: 10px;
  position: relative;
  width: 250px 
}
body header .search-wrap .search-box input {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box 
}
body header .search-wrap .search-submit {
  position: absolute;
  background: 0 0;
  border: none;
  color: #646464;
  right: 7.5px;
  top: 2.5px 
}
body header .rss {
  float: right;
  list-style-type: none;
  padding: 5px 0;
  margin: 0 
}
body header .main-nav nav a+a, body header .rss li+li {
  margin-left: 25px 
}
body header .rss li {
  float: left;
  padding: 10px 0 
}
body header .rss li a {
  display: block 
}
body header .main-nav {
  padding: 0;
  content: '';
  display: block;
  clear: both 
}
body header .main-nav:after, body header .main-nav:before {
  content: " ";
  display: table 
}
body header .main-nav:after {
  clear: both 
}
body header .main-nav .search-box {
  display: none 
}
body header .main-nav nav {
  float: left;
  content: '';
  display: block;
  clear: both 
}
body header .main-nav nav:after, body header .main-nav nav:before {
  content: " ";
  display: table 
}
body header .main-nav nav:after {
  clear: both 
}
body header .main-nav nav .toggle-btn {
  display: none 
}
body header .main-nav nav .wrapper {
  float: left 
}
body header .main-nav nav .wrapper:first-of-type a {
  padding-left: 0 
}
body header .main-nav nav .wrapper.opened>a {
  text-decoration: none;
  color: #6f358d 
}
body header .main-nav nav .wrapper.opened>a:not(.toggle-btn) {
  position: relative 
}
body header .main-nav nav .wrapper.opened section.submenu {
  display: block 
}
body header .main-nav nav .wrapper>a {
  text-transform: uppercase 
}
body header .main-nav nav a {
  padding: 20px 10px;
  display: inline-block;
  font-size: 14px;
  font-family: 'Montserrat', Arial, sans-serif;
  color: #2a2a2a;
  -webkit-transition-property: 'box-shadow';
  -webkit-transition-property: 'box-shadow', 'box-shadow';
  -o-transition-property: 'box-shadow', 'box-shadow';
  transition-property: 'box-shadow';
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s 
}
body header .main-nav nav a .ic-home {
  width: 25px;
  height: 21px;
  /* background: url(../img/ui/ic-home.png)  */
}
body header .main-nav nav a.active {
  text-decoration: none;
  color: #EC1C29 
}
body header .main-nav nav a.active .ic-home {
  /* background: url(../img/ui/ic-home.png) 0 21px  */
}
body header .main-nav .menu-toggle .hamburger, body header .main-nav .menu-toggle .hamburger:after, body header .main-nav .menu-toggle .hamburger:before {
  background-color: #fff 
}
body header .header-wrap {
  background-color: #fff;
  border-bottom: 1px solid #d7d7d7;
  padding: 30px 50px 0 
}
body header.homepage {
  background: 0 0;
  position: relative;
  border-bottom: none;
  padding-bottom: 20px 
}
body header.homepage .header-wrap {
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  -webkit-transition: top ease-in-out .5s;
  -o-transition: top ease-in-out .5s;
  transition: top ease-in-out .5s 
}
body header.homepage ul.homepage-slider {
  padding: 195px 0 0;
  margin: 0 0 80px;
  list-style-type: none 
}
body header.homepage ul.homepage-slider--mobile {
  display: none !important 
}
body header.homepage ul.homepage-slider li {
  position: relative;
  display: none 
}
body header.homepage ul.homepage-slider li:first-of-type {
  display: block 
}
body header.homepage ul.homepage-slider li .img-wrapper img {
  width: 100% 
}
body header.homepage ul.homepage-slider:after {
  content: '';
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#EC1C29), to(#6f358d));
  background-image: -webkit-linear-gradient(left, #EC1C29, #6f358d);
  background-image: -o-linear-gradient(left, #EC1C29, #6f358d);
  background-image: linear-gradient(to right, #EC1C29, #6f358d) 
}
body header.homepage ul.homepage-slider li .img-wrapper.left img {
  left: 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none 
}
body header.homepage ul.homepage-slider li .img-wrapper.right img {
  left: auto;
  right: 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none 
}
body header.homepage ul.homepage-slider li .content {
  top: 10%;
  padding: 0 50px;
  position: absolute;
  left: 0;
  height: 80%;
  overflow: hidden;
  width: 100% 
}
body header.homepage ul.homepage-slider li .title {
  margin-bottom: 25px;
  color: #5d3f6a 
}
body header.homepage ul.homepage-slider li .title * {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 43px;
  line-height: normal 
}
body header.homepage ul.homepage-slider li .title-paging {
  display: none 
}
body header.homepage ul.homepage-slider li .info {
  margin-bottom: 25px;
  display: block;
  color: #2a2a2a 
}
body header.homepage ul.homepage-slider li .info * {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 18px;
  line-height: normal 
}
body header.homepage ul.homepage-slider li .description * {
  font-size: 16px;
  font-weight: 300;
  line-height: normal 
}
body header.homepage ul.homepage-slider li .input {
  width: 375px;
  position: relative;
  height: 44px;
  border-radius: 22px;
  overflow: hidden;
  margin-top: 30px 
}
body header.homepage ul.homepage-slider li .input:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: .6 
}
body header.homepage ul.homepage-slider li .input input[type=search], body header.homepage ul.homepage-slider li .input input[type=text] {
  position: relative;
  width: 100%;
  padding: 10px 40px 10px 20px;
  border: none;
  font-size: 1.6rem;
  background: 0 0 
}
body header.homepage ul.homepage-slider li .input input[type=search]::-webkit-input-placeholder, body header.homepage ul.homepage-slider li .input input[type=text]::-webkit-input-placeholder {
  font-style: italic;
  font-size: 1.6rem 
}
body header.homepage ul.homepage-slider li .input input[type=search]:-moz-placeholder, body header.homepage ul.homepage-slider li .input input[type=text]:-moz-placeholder {
  font-style: italic;
  font-size: 1.6rem 
}
body header.homepage ul.homepage-slider li .input input[type=search]::-moz-placeholder, body header.homepage ul.homepage-slider li .input input[type=text]::-moz-placeholder {
  font-style: italic;
  font-size: 1.6rem 
}
body header.homepage ul.homepage-slider li .input input[type=search]:-ms-input-placeholder, body header.homepage ul.homepage-slider li .input input[type=text]:-ms-input-placeholder {
  font-style: italic;
  font-size: 1.6rem 
}
body header.homepage ul.homepage-slider li .input button.input-submit {
  background: 0 0;
  border: none;
  color: #7a7d7e;
  position: absolute;
  font-size: 1.8rem;
  right: 15px;
  top: 8.5px 
}
body header.homepage ul.homepage-slider li a {
  display: block 
}
body header.homepage ul.homepage-slider ul.slick-dots {
  width: 100%;
  position: absolute;
  top: 100%;
  z-index: 3 
}
body header.homepage ul.homepage-slider ul.slick-dots li {
  display: inline-block 
}
body header.homepage ul.homepage-slider ul.slick-dots:before {
  display: none 
}
body header.homepage.scrolled {
  top: 0 !important 
}
body header.homepage.scrolled .header-wrap, body header.scrolled {
  top: -130px !important 
}
body div[role=main] {
  position: relative;
  overflow-x: hidden 
}
body div[role=main] section.breadcrumb-page {
  margin-top: 196px;
  background: #6f358d 
}
body div[role=main] section.news-description, body div[role=main] section.tag ul.tag-listing li.parent a {
  background-image: -webkit-gradient(linear, left top, right top, from(#157dc1), to(#3baa84));
  background-image: -webkit-linear-gradient(left, #157dc1, #3baa84);
  background-image: -o-linear-gradient(left, #157dc1, #3baa84) 
}
body div[role=main] section.breadcrumb-page ul {
  list-style-type: none;
  padding: 15px 10px 15px 0;
  margin: 0;
  content: '';
  display: block;
  clear: both 
}
body div[role=main] section.breadcrumb-page ul:after, body div[role=main] section.breadcrumb-page ul:before {
  content: " ";
  display: table 
}
body div[role=main] section.breadcrumb-page ul:after {
  clear: both 
}
body div[role=main] section.breadcrumb-page ul li {
  float: left 
}
body div[role=main] section.breadcrumb-page ul li a {
  color: #fff;
  font-size: 1.6rem;
  text-decoration: none;
  -webkit-transition-property: 'box-shadow,color';
  -o-transition-property: 'box-shadow,color';
  transition-property: 'box-shadow,color';
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s 
}
body div[role=main] section.breadcrumb-page ul li a:hover {
  text-decoration: none;
  -webkit-box-shadow: inset 0 -1px 0 0;
  box-shadow: inset 0 -1px 0 0 
}
body div[role=main] section.breadcrumb-page ul li:after {
  content: '\f105';
  display: inline-block;
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  margin: 0 10px;
  color: #fff 
}
body div[role=main] section.breadcrumb-page ul li:last-of-type:after {
  display: none 
}
body div[role=main] section.page-title {
  background-color: #6f358d;
  display: none 
}
body div[role=main] section.news-description {
  background-image: linear-gradient(to right, #157dc1, #3baa84);
  padding: 25px 0 
}
body div[role=main] section.news-description h4 {
  color: #fff;
  display: inline-block;
  margin: 0 0 0 20px;
  font-size: 2.4rem;
  line-height: 32px;
  vertical-align: top;
  text-transform: uppercase 
}
body div[role=main] section.tag {
  background-color: #fff;
  border-bottom: 1px solid #157dc1 
}
body div[role=main] section.tag ul.tag-listing {
  list-style-type: none;
  margin: 0;
  padding: 0;
  content: '';
  display: block;
  clear: both 
}
body div[role=main] section.tag ul.tag-listing:after, body div[role=main] section.tag ul.tag-listing:before {
  content: " ";
  display: table 
}
body div[role=main] section.tag ul.tag-listing:after {
  clear: both 
}
body div[role=main] section.tag ul.tag-listing li {
  float: left;
  position: relative;
  height: 40px 
}
body div[role=main] section.tag ul.tag-listing li a {
  padding: 9px 10px;
  text-transform: uppercase;
  color: #656565;
  font-size: 16px;
  opacity: .3;
  display: inline-block;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s 
}
body div[role=main] section.tag ul.tag-listing li a .fa {
  display: none 
}
body div[role=main] section.tag ul.tag-listing li.parent {
  padding-right: 20px 
}
body div[role=main] section.tag ul.tag-listing li.parent a {
  color: #fff;
  background-image: linear-gradient(to right, #157dc1, #3baa84);
  vertical-align: top;
  opacity: 1 
}
body div[role=main] section.tag ul.tag-listing li.parent a .fa {
  margin-right: 10px 
}
body div[role=main] section.tag ul.tag-listing li.parent:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  border-width: 20px 20px 40px;
  border-color: transparent transparent #3baa84;
  border-top: none;
  top: 0;
  right: 0 
}
body div[role=main] section.tag ul.tag-listing li.active a, body div[role=main] section.tag ul.tag-listing li:hover a {
  opacity: 1;
  font-family: 'Montserrat', Arial, sans-serif;
  position: relative;
  color: #157dc1 
}
body div[role=main] section.tag ul.tag-listing li.active a:after, body div[role=main] section.tag ul.tag-listing li:hover a:after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#157dc1), to(#3baa84));
  background-image: -webkit-linear-gradient(left, #157dc1, #3baa84);
  background-image: -o-linear-gradient(left, #157dc1, #3baa84);
  background-image: linear-gradient(to right, #157dc1, #3baa84);
  position: absolute;
  left: 0;
  bottom: 0 
}
body div[role=main] section.tag ul.tag-listing li.active.parent a, body div[role=main] section.tag ul.tag-listing li:hover.parent a {
  color: #fff 
}
body div[role=main] section.tag .dropdown {
  display: none 
}
body div[role=main] section.banner img {
  width: 100%;
  height: auto 
}
body div[role=main] section.recent-news {
  background-color: #f4f7fa;
  padding: 60px 0 
}
body div[role=main] section.recent-news:after {
  content: '';
  display: block;
  clear: both 
}
body div[role=main] section.recent-news .recent-news-slider {
  position: relative 
}
body div[role=main] section.recent-news .section-title {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 3rem;
  margin-bottom: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #157dc1 
}
body div[role=main] section.recent-news .item-wrap {
  padding-left: 25px;
  width: 25% 
}
body div[role=main] section.recent-news .slick-list {
  overflow: visible;
  width: 100% 
}
body div[role=main] section.recent-news .slick-arrow {
  background: 0 0;
  border: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
  opacity: 0 
}
body div[role=main] section.recent-news .slick-arrow .fa {
  font-size: 8rem;
  color: #157dc1 
}
body div[role=main] section.recent-news .slick-arrow.slick-disabled {
  display: none !important 
}
body div[role=main] section.recent-news .slick-cnext {
  right: -75px 
}
body div[role=main] section.recent-news .slick-cprev {
  left: -50px 
}
body div[role=main] section.recent-news ul.listing {
  width: 1555px;
  padding-right: 25px;
  position: relative;
  margin: 0 auto;
  overflow: hidden 
}
body div[role=main] section.recent-news ul.listing li {
  width: 100%;
  margin: 0 
}
body div[role=main] section.recent-news ul.listing li+li {
  margin-left: 0 
}
body div[role=main] section.recent-news ul.listing li.top {
  margin-bottom: 25px 
}
body div[role=main] section.recent-news ul.listing li a {
  display: block 
}
body div[role=main] section.recent-news ul.listing li .title {
  display: table;
  font-size: 2.2rem 
}
body div[role=main] section.recent-news ul.listing li .title span {
  display: table-cell;
  vertical-align: middle 
}
body div[role=main] section.recent-news .next-arrow, body div[role=main] section.recent-news .prev-arrow {
  width: 180px;
  height: 180px;
  background-color: #157dc1;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  opacity: 0 
}
body div[role=main] section.recent-news .next-arrow.showing, body div[role=main] section.recent-news .prev-arrow.showing {
  opacity: .5 
}
body div[role=main] section.recent-news .next-arrow:hover, body div[role=main] section.recent-news .prev-arrow:hover {
  opacity: 1 
}
body div[role=main] section.recent-news .next-arrow .fa, body div[role=main] section.recent-news .prev-arrow .fa {
  color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%) 
}
body div[role=main] section.recent-news .prev-arrow {
  left: -90px 
}
body div[role=main] section.recent-news .prev-arrow .fa {
  right: 45px 
}
body div[role=main] section.recent-news .next-arrow {
  right: -90px 
}
body div[role=main] section.recent-news .next-arrow .fa {
  left: 45px 
}
body div[role=main] section.article {
  background-color: #fff;
  min-height: 1000px 
}
body div[role=main] section.article h3 {
  color: #6f358d 
}
body div[role=main] section.article section.article {
  min-height: 0 
}
body div[role=main] section.content {
  position: static;
  overflow: hidden;
  background-color: #f4f7fa 
}
body div[role=main] section.content .section-title {
  padding: 30px 0 20px;
  border-bottom: 1px solid #d7d7d7 
}
body div[role=main] section.content .section-title .date {
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #6f358d 
}
body div[role=main] section.content .share {
  margin-top: 20px;
  margin-bottom: 40px;
  content: '';
  display: block;
  clear: both 
}
body div[role=main] section.content .share:after, body div[role=main] section.content .share:before {
  content: " ";
  display: table 
}
body div[role=main] section.content .share:after {
  clear: both 
}
body div[role=main] section.content .share .left {
  float: left 
}
body div[role=main] section.content .share .right {
  float: right 
}
body div[role=main] section.content .share .right ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  content: '';
  display: block;
  clear: both 
}
body div[role=main] section.content .share .right ul:after, body div[role=main] section.content .share .right ul:before {
  content: " ";
  display: table 
}
body div[role=main] section.content .share .right ul:after {
  clear: both 
}
body div[role=main] section.content .share .right ul li {
  float: left 
}
body div[role=main] section.content .share .right ul li+li {
  margin-left: 15px 
}
body div[role=main] section.content .share .right ul li .print {
  display: block 
}
body div[role=main] section.content .share .right ul li a {
  color: grey;
  text-transform: uppercase;
  font-size: 1.6rem 
}
body div[role=main] section.content .share .right ul li a span {
  margin-left: 10px 
}
body div[role=main] section.content .download-btn {
  margin: 35px 0;
  border: 1px solid #ac2727;
  border-radius: 4px;
  display: table 
}
body div[role=main] section.content .download-btn .icon {
  width: 55px;
  text-align: center;
  background-color: #ac2727;
  color: #fff;
  font-size: 2rem;
  display: table-cell 
}
body div[role=main] section.content .download-btn .text {
  padding: 10px;
  height: 42px;
  color: #ac2727;
  font-size: 1.6rem;
  display: table-cell 
}
body div[role=main] section.content .section-listing-wrap {
  margin-bottom: 20px 
}
body div[role=main] section.content .feature-listing-wrap {
  margin-top: 50px 
}
body div[role=main] section.content ul.pannel-btn {
  list-style-type: none;
  padding: 10px 0;
  margin: 0 0 10px;
  text-align: right;
  border-bottom: 1px solid #f4f4f4 
}
body div[role=main] section.content ul.pannel-btn li {
  display: inline-block;
  color: #6f358d 
}
body div[role=main] section.content ul.pannel-btn li+li {
  border-left: 1px solid #6f358d 
}
body div[role=main] section.content ul.pannel-btn li button {
  background: 0 0;
  border: none;
  padding: 0 15px;
  font-size: 1.6rem 
}
body div[role=main] section.content .pannel {
  border-bottom: 1px solid #9cadba 
}
body div[role=main] section.content .pannel.open .pannel-heading {
  background-color: #f4f4f4 
}
body div[role=main] section.content .pannel.open .pannel-heading h4:after {
  content: '-' 
}
body div[role=main] section.content .pannel-heading {
  padding: 15px 
}
body div[role=main] section.content .pannel-heading h4 {
  margin: 0;
  position: relative 
}
body div[role=main] section.content .article-listing ul li .link, body div[role=main] section.content .pannel-body .link {
  margin-left: 10px 
}
body div[role=main] section.content .pannel-heading h4 a {
  display: block;
  padding-right: 15px;
  z-index: 2;
  position: relative;
  color: inherit 
}
body div[role=main] section.content .pannel-heading h4:after {
  content: '+';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  color: #6f358d;
  z-index: 1 
}
body div[role=main] section.content .pannel-body {
  padding: 15px;
  color: #2a2a2a;
  font-size: 1.6rem 
}
body div[role=main] section.content .article-listing ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px 
}
body div[role=main] section.content .article-listing ul li {
  padding: 15px 0 
}
body div[role=main] section.content .article-listing ul li+li {
  border-top: 1px solid #9cadba 
}
body div[role=main] section.content .article-listing ul li .article-title {
  margin-top: 0;
  margin-bottom: 20px 
}
body div[role=main] section.content .article-listing ul li .article-content {
  font-size: 1.6rem 
}
body div[role=main] section.content .news-slider-wrap {
  background-color: #fff;
  margin-bottom: 40px 
}
body div[role=main] section.content ul.news-slider {
  list-style-type: none;
  padding: 0;
  margin: 0 
}
body div[role=main] section.content ul.news-slider li .left {
  float: left;
  width: 50%;
  height: 360px 
}
body div[role=main] section.content ul.news-slider li .right {
  float: right;
  width: 50%;
  padding: 60px 40px 10px;
  height: 360px 
}
body div[role=main] section.content ul.news-slider li .img-wrapper {
  width: 100%;
  height: 360px;
  overflow: hidden;
  position: relative 
}
body div[role=main] section.content ul.news-slider li .img-wrapper img {
  position: absolute;
  top: 0;
  max-width: none;
  height: 100%;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%) 
}
body div[role=main] section.content ul.news-slider li .img-wrapper img.left {
  left: 0;
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0) 
}
body div[role=main] section.content ul.news-slider li .img-wrapper img.right {
  left: auto;
  right: 0;
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0) 
}
body div[role=main] section.content ul.news-slider li .img-wrapper img.portrait {
  width: 100%;
  height: auto;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%) 
}
body div[role=main] section.content ul.news-slider li .img-wrapper img.portrait.top {
  top: 0;
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0) 
}
body div[role=main] section.content ul.news-slider li .img-wrapper img.portrait.bottom {
  bottom: 0;
  top: auto;
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0) 
}
body div[role=main] section.content ul.news-slider li .news-title {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 3.6rem;
  margin-bottom: 20px 
}
body div[role=main] section.content ul.news-slider li .cbtn {
  margin-top: 30px;
  width: 150px;
  text-align: center;
  border-color: #157dc1;
  color: #157dc1 
}
body div[role=main] section.content ul.news-slider li .cbtn:hover {
  color: #fff;
  background-color: #157dc1 
}
body div[role=main] section.content ul.news-slider .slick-dots:before {
  background-image: -webkit-gradient(linear, left top, right top, from(#157dc1), to(#3baa84));
  background-image: -webkit-linear-gradient(left, #157dc1, #3baa84);
  background-image: -o-linear-gradient(left, #157dc1, #3baa84);
  background-image: linear-gradient(to right, #157dc1, #3baa84) 
}
body div[role=main] section.content .caption-wrap .caption:after, body div[role=main] section.website-info .left:after {
  background-image: -webkit-gradient(linear, left top, right top, from(#EC1C29), to(#6f358d));
  background-image: -webkit-linear-gradient(left, #EC1C29, #6f358d);
  background-image: -o-linear-gradient(left, #EC1C29, #6f358d);
  content: '';
  bottom: 0 
}
body div[role=main] section.content ul.news-slider .slick-dots li.slick-active .button, body div[role=main] section.content ul.news-slider .slick-dots li.slick-active .button:before, body div[role=main] section.content ul.news-slider .slick-dots li:hover .button, body div[role=main] section.content ul.news-slider .slick-dots li:hover .button:before {
  background-color: #157dc1 
}
body div[role=main] section.content ul.news-slider .slick-dots li.slick-active .text, body div[role=main] section.content ul.news-slider .slick-dots li:hover .text {
  color: #157dc1 
}
body div[role=main] section.content .img-article {
  display: block;
  margin: 0 auto 30px 
}
body div[role=main] section.content .caption-wrap {
  display: table;
  width: 100%;
  margin-bottom: 30px 
}
body div[role=main] section.content .caption-wrap .caption {
  display: table-cell;
  width: 300px;
  vertical-align: top;
  border: 1px solid #d7d7d7;
  position: relative 
}
body div[role=main] section.content .caption-wrap .caption:after {
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  background-image: linear-gradient(to right, #EC1C29, #6f358d) 
}
body div[role=main] section.news-letter, body ul.listing li .category, body ul.listing li .feature {
  background-image: -webkit-gradient(linear, left top, right top, from(#157dc1), to(#3baa84));
  background-image: -webkit-linear-gradient(left, #157dc1, #3baa84);
  background-image: -o-linear-gradient(left, #157dc1, #3baa84) 
}
body div[role=main] section.content .caption-wrap .caption+.text-article {
  padding-left: 25px;
  padding-right: 0 
}
body div[role=main] section.content .caption-wrap .caption .text {
  padding: 30px 20px;
  font-size: 1.6rem;
  line-height: 2.2rem 
}
body div[role=main] section.content .caption-wrap .img-wrapper {
  width: 100%;
  //height:210px;
 overflow:hidden;
 position:relative
}
body div[role=main] section.content .caption-wrap .img-wrapper img{
 position:absolute;
 top:0;
 max-width:none;
 height:100%;
 width:auto;
 left:50%;
 transform:translateX(-50%);
 -ms-transform:translateX(-50%);
 -webkit-transform:translateX(-50%)
}
body div[role=main] section.content .caption-wrap .img-wrapper img.left{
 left:0;
 transform:translateX(0);
 -ms-transform:translateX(0);
 -webkit-transform:translateX(0)
}
body div[role=main] section.content .caption-wrap .img-wrapper img.right{
 left:auto;
 right:0;
 transform:translateX(0);
 -ms-transform:translateX(0);
 -webkit-transform:translateX(0)
}
body div[role=main] section.content .caption-wrap .img-wrapper img.portrait{
 width:100%;
 height:auto;
 top:50%;
 left:0;
 transform:translateY(-50%);
 -ms-transform:translateY(-50%);
 -webkit-transform:translateY(-50%)
}
body div[role=main] section.content .caption-wrap .img-wrapper img.portrait.top{
 top:0;
 transform:translateY(0);
 -ms-transform:translateY(0);
 -webkit-transform:translateY(0)
}
body div[role=main] section.content .caption-wrap .img-wrapper img.portrait.bottom{
 bottom:0;
 top:auto;
 transform:translateY(0);
 -ms-transform:translateY(0);
 -webkit-transform:translateY(0)
}
body div[role=main] section.content .caption-wrap .text-article{
 display:table-cell;
 vertical-align:top;
 padding-right:25px
}
body div[role=main] section.content .keywords-wrap{
 padding:10px 25px;
 background-color:#157dc1;
 margin-bottom:45px;
 height:55px;
 display:table;
 position:relative
}
body div[role=main] section.content .keywords-wrap:after{
 content:'';
 width:0;
 height:0;
 border-left:27.5px solid transparent;
 border-right:27.5px solid transparent;
 border-bottom:55px solid #157dc1;
 position:absolute;
 right:-27.5px;
 top:0
}
body div[role=main] section.content .keywords-wrap>span{
 display:table-cell;
 vertical-align:middle;
 font-size:16px;
 color:#fff;
 font-family:'Montserrat', Arial, sans-serif;
}
body div[role=main] section.content .keywords-wrap ul{
 list-style-type:none;
 padding:0 0 0 15px;
 margin:0;
 text-align:left
}
body div[role=main] section.content .keywords-wrap ul li{
 display:inline-block;
 margin-right:10px
}
body div[role=main] section.content .keywords-wrap ul li .cbtn{
 line-height:1.5rem;
 font-size:1.4rem;
 color:#fff;
 background-color:#157dc1;
 border:1px solid #fff;
 border-radius:20px;
 font-family:'Montserrat', Arial, sans-serif;
}
body div[role=main] section.content .keywords-wrap ul li .cbtn:hover{
 text-decoration:underline
}
body div[role=main] section.news{
 background-color:#f4f7fa;
 padding:45px 0 35px
}
body div[role=main] section.news h4{
 text-align:center;
 text-transform:uppercase;
 font-size:2.4rem;
 margin-bottom:40px
}
body div[role=main] section.news-letter{
 background-image:linear-gradient(to right,#157dc1,#3baa84);
 padding:45px 0 35px;
 text-align:center
}
body div[role=main] section.news-letter h4{
 text-align:center;
 font-family:'Montserrat', Arial, sans-serif;
 text-transform:uppercase;
 font-size:3.6rem;
 margin-bottom:40px;
 color:#6f358d
}
body div[role=main] section.news-letter .impact-logo{
 margin-bottom:40px
}
body div[role=main] section.news-letter p{
 text-align:center;
 font-weight:300;
 font-size:2.4rem;
 max-width:900px;
 display:inline-block;
 color:#fff
}
body div[role=main] section.news-letter .input{
 margin-top:50px;
 height:50px;
 text-align:center
}
body div[role=main] section.news-letter .input a{
 background-color:#0a4e7a;
 border:1px solid #0a4e7a;
 width:30%;
 padding:12px 20px;
 text-align:center;
 font-size:1.8rem;
 text-transform:uppercase;
 font-weight:700;
 display:inline-block;
 color:#fff;
 -webkit-transition:all .3s linear;
 -o-transition:all .3s linear;
 transition:all .3s linear
}
body div[role=main] section.news-letter .input a:hover{
 background-color:#083f62
}
body div[role=main] section.website-info{
 margin:50px 0 90px;
 padding:0 60px;
 width:100%;
 display:table
}
body div[role=main] section.website-info .left{
 padding-right:10px;
 width:60%;
 display:table-cell;
 position:relative
}
body div[role=main] section.website-info .left:after{
 width:100%;
 height:5px;
 position:absolute;
 left:0;
 background-image:linear-gradient(to right,#EC1C29,#6f358d)
}
body div[role=main] section.website-info .right{
 padding-left:10px;
 width:40%;
 display:table-cell;
 vertical-align:bottom
}
body div[role=main] section.website-info .img-wrapper{
 width:40%;
 height:345px;
 overflow:hidden;
 position:relative;
 float:left
}
body div[role=main] section.website-info .img-wrapper img{
 position:absolute;
 top:0;
 max-width:none;
 height:100%;
 width:auto;
 left:50%;
 transform:translateX(-50%);
 -ms-transform:translateX(-50%);
 -webkit-transform:translateX(-50%)
}
body div[role=main] section.website-info .img-wrapper img.left{
 left:0;
 transform:translateX(0);
 -ms-transform:translateX(0);
 -webkit-transform:translateX(0)
}
body div[role=main] section.website-info .img-wrapper img.right{
 left:auto;
 right:0;
 transform:translateX(0);
 -ms-transform:translateX(0);
 -webkit-transform:translateX(0)
}
body div[role=main] section.website-info .img-wrapper img.portrait{
 width:100%;
 height:auto;
 top:50%;
 left:0;
 transform:translateY(-50%);
 -ms-transform:translateY(-50%);
 -webkit-transform:translateY(-50%)
}
body div[role=main] section.website-info .img-wrapper img.portrait.top{
 top:0;
 transform:translateY(0);
 -ms-transform:translateY(0);
 -webkit-transform:translateY(0)
}
body div[role=main] section.website-info .img-wrapper img.portrait.bottom{
 bottom:0;
 top:auto;
 transform:translateY(0);
 -ms-transform:translateY(0);
 -webkit-transform:translateY(0)
}
body div[role=main] section.website-info .text{
 padding:10px 30px 20px;
 width:60%;
 min-height:345px;
 float:left
}
body div[role=main] section.website-info .text h4{
 font-size:4.3rem;
 line-height:5rem
}
body div[role=main] section.website-info .text .info{
 font-size:1.8rem;
 margin-bottom:15px;
 font-family:'Montserrat', Arial, sans-serif;
 display:block
}
body div[role=main] section.website-info ul{
 list-style-type:none;
 padding:0;
 margin:0;
 vertical-align:bottom;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-flex-wrap:wrap;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap
}
body div[role=main] section.website-info ul li{
 width:33.33333333%;
 padding:0 5px
}
body div[role=main] section.website-info ul li a{
 display:block;
 position:relative;
 padding-bottom:220px;
 height:100%
}
body div[role=main] section.website-info ul li span{
 display:block;
 text-align:center;
 color:#2a2a2a;
 font-family:'Montserrat', Arial, sans-serif;
 font-size:2.4rem;
 text-transform:uppercase;
 margin-bottom:25px;
 word-break:break-word
}
body div[role=main] section.website-info ul li .img-wrapper{
 float:none;
 width:100%;
 height:220px;
 overflow:hidden;
 position:relative;
 position:absolute;
 bottom:0;
 left:0
}
body div[role=main] section.website-info ul li .img-wrapper img{
 position:absolute;
 top:0;
 max-width:none;
 height:100%;
 width:auto;
 left:50%;
 transform:translateX(-50%);
 -ms-transform:translateX(-50%);
 -webkit-transform:translateX(-50%)
}
body div[role=main] section.website-info ul li .img-wrapper img.left{
 left:0;
 transform:translateX(0);
 -ms-transform:translateX(0);
 -webkit-transform:translateX(0)
}
body div[role=main] section.website-info ul li .img-wrapper img.right{
 left:auto;
 right:0;
 transform:translateX(0);
 -ms-transform:translateX(0);
 -webkit-transform:translateX(0)
}
body div[role=main] section.website-info ul li .img-wrapper img.portrait{
 width:100%;
 height:auto;
 top:50%;
 left:0;
 transform:translateY(-50%);
 -ms-transform:translateY(-50%);
 -webkit-transform:translateY(-50%)
}
body div[role=main] section.website-info ul li .img-wrapper img.portrait.top{
 top:0;
 transform:translateY(0);
 -ms-transform:translateY(0);
 -webkit-transform:translateY(0)
}
body div[role=main] section.website-info ul li .img-wrapper img.portrait.bottom{
 bottom:0;
 top:auto;
 transform:translateY(0);
 -ms-transform:translateY(0);
 -webkit-transform:translateY(0)
}
body div[role=main] section.website-info ul li .img-wrapper:after{
 content:'';
 width:100%;
 height:5px;
 position:absolute;
 left:0;
 bottom:0;
 background-image:-webkit-gradient(linear,left top,right top,from(#EC1C29),to(#6f358d));
 background-image:-webkit-linear-gradient(left,#EC1C29,#6f358d);
 background-image:-o-linear-gradient(left,#EC1C29,#6f358d);
 background-image:linear-gradient(to right,#EC1C29,#6f358d)
}
body div[role=main] section.partners{
 text-align:center;
 margin-bottom:40px
}
body div[role=main] section.partners .left{
 float:left;
 width:50%;
 padding:0 50px
}
body div[role=main] section.partners .right{
 float:right;
 width:50%;
 padding:0 50px
}
body div[role=main] section.partners ul.partners-listing{
 list-style-type:none;
 padding:0;
 margin:0;
 content:'';
 display:block;
 clear:both
}
body div[role=main] section.partners ul.partners-listing:after,body div[role=main] section.partners ul.partners-listing:before{
 content:" ";
 display:table
}
body div[role=main] section.partners ul.partners-listing:after{
 clear:both
}
body div[role=main] section.partners ul.partners-listing li{
 width:30%;
 float:left;
 padding:0 10px;
 height:65px
}
body div[role=main] section.partners ul.partners-listing li .img-wrapper{
 width:100%;
 height:65px;
 overflow:hidden;
 position:relative
}
body div[role=main] section.partners ul.partners-listing li .img-wrapper img{
 position:absolute;
 max-width:100%;
 top:50%;
 left:50%;
 -o-transform:translate(-50%,-50%);
 transform:translate(-50%,-50%);
 -ms-transform:translate(-50%,-50%);
 -webkit-transform:translate(-50%,-50%)
}
body div[role=main] section.partners span.text{
 font-family:'Montserrat', Arial, sans-serif;
 font-size:2.4rem;
 display:block;
 margin-bottom:20px
}
body div[role=main] section.partners .slick-arrow{
 background:0 0;
 border:none;
 position:absolute;
 top:50%;
 transform:translateY(-50%);
 -ms-transform:translateY(-50%);
 -webkit-transform:translateY(-50%)
}
body .slick-dots:before,body ul.listing.listing-type-4 li .bot{
 background-image:-webkit-gradient(linear,left top,right top,from(#EC1C29),to(#6f358d));
 background-image:-webkit-linear-gradient(left,#EC1C29,#6f358d);
 background-image:-o-linear-gradient(left,#EC1C29,#6f358d)
}
body div[role=main] section.partners .slick-arrow .fa{
 font-size:4rem;
 color:#999
}
body div[role=main] section.partners .slick-arrow.slick-cprev{
 left:-25px
}
body div[role=main] section.partners .slick-arrow.slick-cnext{
 right:-25px
}
body div[role=main] .menu ul{
 list-style-type:none;
 padding-left:20px;
 margin:0
}
body div[role=main] .menu ul li a{
 color:#2a2a2a;
 display:block;
 padding:5px 0
}
body div[role=main] .menu ul.level-1>li>a,body div[role=main] .menu ul.level-2>li>a{
 color:#EC1C29;
 font-size:24px;
 font-family:'Montserrat', Arial, sans-serif;
}
body div[role=main] .menu ul.level-2{
 padding-left:0
}
body div[role=main] .menu ul.level-2:after{
 content:'';
 display:block;
 clear:both
}
body div[role=main] .menu ul.level-2>li{
 width:50%;
 float:left
}
body div[role=main] .menu ul.level-3>li>a{
 color:#6f358d;
 display:block;
 padding:5px;
 border-bottom:1px solid #6f358d;
 font-family:'Montserrat', Arial, sans-serif;
 font-size:18px
}
body footer{
 padding:35px 0 30px;
 background-color:#6f358d
}
body footer .left{
 float:left
}
body footer .left span{
 display:block;
 margin-bottom:10px;
 color:#fff;
 font-size:1.2rem
}
body footer .left span b{
 font-family:'Montserrat', Arial, sans-serif;
}
body footer .right{
 float:right;
 text-align:right
}
body footer ul{
 list-style-type:none;
 padding:0;
 margin:0;
 max-width:550px;
 float:right;
 content:'';
 display:block;
 clear:both
}
body footer ul:after,body footer ul:before{
 content:" ";
 display:table
}
body footer ul:after{
 clear:both
}
body footer ul li{
 display:inline-block;
 padding:0 10px;
 margin-bottom:10px
}
body footer ul li+li{
 border-left:1px solid #fff
}
body footer ul li a{
 color:#fff;
 font-size:1.2rem;
 text-decoration:none;
 -webkit-transition-property:'box-shadow,color';
 -o-transition-property:'box-shadow,color';
 transition-property:'box-shadow,color';
 -webkit-transition-duration:.3s;
 -o-transition-duration:.3s;
 transition-duration:.3s
}
body footer ul li a:hover{
 text-decoration:none;
 -webkit-box-shadow:inset 0 -1px 0 0;
 box-shadow:inset 0 -1px 0 0;
 color:#fff
}
body footer ul li.no-border{
 border-left:none
}
body *{
 text-rendering:optimizeLegibility!important;
 -webkit-font-smoothing:antialiased!important
}
body a,body a:focus,body a:hover{
 text-decoration:none
}
body ol,body ul{
 margin-bottom:20px
}
body ol li ol,body ol li ul,body ul li ol,body ul li ul{
 margin-top:20px
}
body b,body strong{
 font-family:'Montserrat', Arial, sans-serif;
}
body .cbtn{
 border:1px solid #6f358d;
 background-color:#fff;
 font-size:1rem;
 color:#6f358d;
 padding:7px 20px;
 display:inline-block;
 -webkit-transition:all .3s;
 -o-transition:all .3s;
 transition:all .3s
}
body .cbtn:hover{
 background-color:#6f358d;
 color:#fff
}
body .cbtn.active{
 background-color:#EC1C29;
 border-color:#EC1C29;
 color:#fff
}
body a[href*=".pdf"]:after{
 font-family:fontawesome;
 content:'\f1c1';
 color:#D46A6A;
 margin-left:5px
}
body .form .form-row>label,body .slick-dots li .text,body .tab-box .tab-head ul.tab-head-listing li a,body ul.listing li .title{
 font-family:'Montserrat', Arial, sans-serif;
}
body a[name]{
 margin-top:-80px;
 padding-top:80px;
 display:block
}
body .pagination-wrap{
 position:relative;
 text-align:center;
 padding:10px 0;
 background-color:#f4f7fa;
 margin-bottom:70px;
 z-index:1
}
body .pagination-wrap:after,body .pagination-wrap:before{
 background-color:#f4f7fa;
 position:absolute;
 width:50%;
 height:100%;
 top:0;
 content:''
}
body .pagination-wrap:before{
 display:block;
 right:100%
}
body .pagination-wrap.mobile{
 display:none
}
body .pagination-wrap:after{
 display:block;
 clear:both;
 left:100%
}
body .pagination-wrap ul.radDataPager{
 list-style-type:none;
 position:relative;
 padding:0;
 margin:0!important;
 display:inline-block;
 z-index:1
}
body .pagination-wrap ul.radDataPager:after{
 content:'';
 display:block;
 clear:both
}
body .pagination-wrap ul.radDataPager li{
 float:left
}
body .pagination-wrap ul.radDataPager li+li{
 margin-left:10px
}
body .pagination-wrap ul.radDataPager li.active a,body .pagination-wrap ul.radDataPager li:hover a{
 color:#fff;
 background-color:#157dc1
}
body .pagination-wrap ul.radDataPager li a{
 width:48px;
 color:#010101;
 text-decoration:none;
 display:inline-block;
 vertical-align:middle;
 text-align:center;
 background-color:transparent;
 padding:13px 5px;
 border-radius:50%;
 -webkit-transition:all .3s;
 -o-transition:all .3s;
 transition:all .3s
}
body .slick-track{
 display:inline-block
}
body .slick-dots{
 position:relative;
 bottom:0
}
body .slick-dots:before{
 content:'';
 display:block;
 width:100%;
 height:5px;
 top:50%;
 left:0;
 background-image:linear-gradient(to right,#EC1C29,#6f358d)
}
body .slick-dots li{
 width:20%;
 margin:0;
 text-align:center;
 vertical-align:top;
 height:auto
}
body .slick-dots li .button{
 display:inline-block;
 height:14px;
 width:14px;
 position:relative;
 vertical-align:top;
 margin-top:-10px;
 border-radius:50%;
 background-color:#2a2a2a;
 color:transparent
}
body .slick-dots li .button:before{
 content:'';
 display:block;
 width:24px;
 height:24px;
 position:absolute;
 left:-5px;
 top:-5px;
 color:transparent
}
body .slick-dots li .text{
 padding:10px 30px;
 color:#2a2a2a;
 font-size:1.6rem
}
body .slick-dots li.slick-active .button,body .slick-dots li:hover .button{
 background-color:#6f358d
}
body .slick-dots li.slick-active .button:before,body .slick-dots li:hover .button:before{
 color:transparent;
 background-color:#6f358d;
 border-radius:50%;
 opacity:.6
}
body .slick-dots li.slick-active .text,body .slick-dots li:hover .text{
 color:#6f358d;
 font-weight:400
}
body ul.listing{
 list-style-type:none;
 padding:0;
 margin:0;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-flex-wrap:wrap;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap
}
body ul.listing li{
 float:left;
 width:31.33333333%;
 margin-bottom:25px;
 background-color:#fff;
 position:relative;
 overflow:hidden
}
body ul.listing li+li{
 margin-left:3%
}
body ul.listing li:nth-of-type(3n+1){
 margin-left:0
}
body ul.listing.listing-type-3 li+li,body ul.listing.listing-type-4 li+li{
 margin-left:4%
}
body ul.listing li .img-wrapper{
 width:100%;
 height:245px;
 position:relative;
 overflow:hidden
}
body ul.listing li .img-wrapper img{
 max-width:none;
 width:100%;
 position:absolute;
 left:50%;
 top:50%;
 -webkit-backface-visibility:hidden;
 backface-visibility:hidden;
 -o-transform:translate(-50%,-50%);
 transform:translate(-50%,-50%);
 -ms-transform:translate(-50%,-50%);
 -webkit-transform:translate(-50%,-50%)
}
body ul.listing li .img-wrapper img.portrait{
 width:auto;
 height:100%
}
body ul.listing li .img-wrapper img.portrait.top{
 top:0;
 transform:translateY(0);
 -ms-transform:translateY(0);
 -webkit-transform:translateY(0)
}
body ul.listing li .img-wrapper img.portrait.bottom{
 bottom:0;
 top:auto;
 transform:translateY(0);
 -ms-transform:translateY(0);
 -webkit-transform:translateY(0)
}
body ul.listing li .category,body ul.listing li .feature{
 position:absolute;
 color:#fff;
 font-size:1.4rem;
 text-transform:uppercase;
 left:0;
 top:224px;
 z-index:1;
 padding:10px 35px;
 background-image:linear-gradient(to right,#157dc1,#3baa84);
 height:40px;
 display:block
}
body ul.listing li .category a,body ul.listing li .feature a{
 color:#fff
}
body ul.listing li .category:before,body ul.listing li .feature:before{
 content:'';
 width:0;
 height:0;
 border-left:20px solid transparent;
 border-right:20px solid transparent;
 border-bottom:40px solid #3baa84;
 position:absolute;
 right:-21px;
 top:0;
 z-index:-1
}
body ul.listing li .title{
 min-height:150px;
 width:100%;
 position:relative;
 color:#2a2a2a;
 background-color:#fff;
 padding:20px 10px 15px;
 font-size:2.4rem;
 overflow:hidden
}
body ul.listing li .title span{
 margin-top:5px;
 display:block;
 padding-left:10px;
 word-break:break-word
}
body ul.listing li:after{
 content:'';
 width:100%;
 height:5px;
 position:absolute;
 left:0;
 bottom:0;
 background-image:-webkit-gradient(linear,left top,right top,from(#157dc1),to(#3baa84));
 background-image:-webkit-linear-gradient(left,#157dc1,#3baa84);
 background-image:-o-linear-gradient(left,#157dc1,#3baa84);
 background-image:linear-gradient(to right,#157dc1,#3baa84)
}
body ul.listing.listing-type-2{
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-flex-wrap:wrap;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap
}
body ul.listing.listing-type-2 li{
 background-color:#fff;
 float:none;
 display:inline-block;
 padding-bottom:30px
}
body ul.listing.listing-type-2 li .img-wrapper{
 height:245px
}
body ul.listing.listing-type-2 li .title{
 position:static;
 padding:0;
 margin-bottom:30px;
 min-height:0
}
body ul.listing.listing-type-2 li .text{
 padding:45px 35px 25px
}
body ul.listing.listing-type-2 li .text .cbtn{
 position:absolute;
 bottom:20px;
 left:35px
}
body ul.listing.listing-type-2 li span.date{
 display:block;
 font-size:1.6rem;
 color:#157dc1;
 margin-bottom:30px
}
body ul.listing.listing-type-2 li p{
 color:#000;
 font-weight:300;
 margin-bottom:20px
}
body ul.listing.listing-type-2 li .cbtn{
 width:160px;
 text-align:center;
 color:#157dc1;
 border-color:#157dc1
}
body ul.listing.listing-type-2 li .cbtn:hover{
 color:#fff;
 background-color:#157dc1
}
body ul.listing.listing-type-3{
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-flex-wrap:wrap;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap
}
body ul.listing.listing-type-3 li{
 width:48%;
 background-color:#fff
}
body ul.listing.listing-type-3 li .img-wrapper{
 width:100%;
 height:245px;
 overflow:hidden;
 position:relative
}
body ul.listing.listing-type-3 li .img-wrapper img{
 position:absolute;
 top:0;
 max-width:none;
 height:100%;
 width:auto;
 left:50%;
 transform:translateX(-50%);
 -ms-transform:translateX(-50%);
 -webkit-transform:translateX(-50%)
}
body ul.listing.listing-type-3 li .img-wrapper img.left{
 left:0;
 transform:translateX(0);
 -ms-transform:translateX(0);
 -webkit-transform:translateX(0)
}
body ul.listing.listing-type-3 li .img-wrapper img.right{
 left:auto;
 right:0;
 transform:translateX(0);
 -ms-transform:translateX(0);
 -webkit-transform:translateX(0)
}
body ul.listing.listing-type-3 li .img-wrapper img.portrait{
 width:100%;
 height:auto;
 top:50%;
 left:0;
 transform:translateY(-50%);
 -ms-transform:translateY(-50%);
 -webkit-transform:translateY(-50%)
}
body ul.listing.listing-type-3 li .img-wrapper img.portrait.top{
 top:0;
 transform:translateY(0);
 -ms-transform:translateY(0);
 -webkit-transform:translateY(0)
}
body ul.listing.listing-type-3 li .img-wrapper img.portrait.bottom{
 bottom:0;
 top:auto;
 transform:translateY(0);
 -ms-transform:translateY(0);
 -webkit-transform:translateY(0)
}
body ul.listing.listing-type-3 li .feature{
 top:-21px
}
body ul.listing.listing-type-3 li .title{
 position:static;
 min-height:70px;
 color:#003559;
 padding:0;
 margin-bottom:0;
 display:table
}
body ul.listing.listing-type-3 li .title span{
 position:static;
 -webkit-transform:none;
 -ms-transform:none;
 transform:none;
 display:table-cell;
 vertical-align:middle
}
body ul.listing.listing-type-3 li .text{
 padding:25px 10px 10px;
 position:relative
}
body ul.listing.listing-type-4{
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-flex-wrap:wrap;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap
}
body ul.listing.listing-type-4 li{
 width:48%;
 background-color:#fff;
 border:1px solid #ddd;
 float:none;
 position:relative;
 padding-bottom:50px
}
body ul.listing.listing-type-4 li:after{
 display:none
}
body ul.listing.listing-type-4 li:nth-of-type(odd){
 margin-left:0
}
body ul.listing.listing-type-4 li a{
 position:static
}
body ul.listing.listing-type-4 li .img-wrapper{
 width:90px;
 height:130px;
 float:left
}
body ul.listing.listing-type-4 li .text{
 width:calc(100% - 90px);
 float:left;
 padding:20px 10px 0
}
body ul.listing.listing-type-4 li .title{
 position:static;
 min-height:0;
 padding:0;
 margin-bottom:15px
}
body ul.listing.listing-type-4 li .top{
 padding-bottom:20px;
 content:'';
 display:block;
 clear:both
}
body ul.listing.listing-type-4 li .top:after,body ul.listing.listing-type-4 li .top:before{
 content:" ";
 display:table
}
body ul.listing.listing-type-4 li .top:after{
 clear:both
}
body ul.listing.listing-type-4 li .bot{
 background-image:linear-gradient(to right,#EC1C29,#6f358d);
 padding:10px;
 color:#fff;
 text-align:center;
 width:100%;
 position:absolute;
 left:0;
 bottom:0
}
body ul.listing.listing-type-4 li:hover .bot{
 background-color:#004472
}
body .tab-box .tab-item{
 display:none
}
body .tab-box .tab-item.active{
 display:block
}
body .tab-box .tab-head .container{
 position:relative;
 padding:0
}
body .tab-box .tab-head .container:after{
 content:'';
 width:100%;
 height:5px;
 position:absolute;
 left:0;
 bottom:0;
 background-image:-webkit-gradient(linear,left top,right top,from(#EC1C29),to(#6f358d));
 background-image:-webkit-linear-gradient(left,#EC1C29,#6f358d);
 background-image:-o-linear-gradient(left,#EC1C29,#6f358d);
 background-image:linear-gradient(to right,#EC1C29,#6f358d)
}
body .tab-box .tab-head ul.tab-head-listing{
 list-style-type:none;
 padding:0;
 margin:20px 0
}
body .tab-box .tab-head ul.tab-head-listing li{
 float:left;
 position:relative
}
body .tab-box .tab-head ul.tab-head-listing li:first-of-type a{
 margin-left:30px
}
body .tab-box .tab-head ul.tab-head-listing li:last-of-type a{
 margin-right:30px
}
body .tab-box .tab-head ul.tab-head-listing li a{
 font-weight:300;
 padding:10px 30px;
 background-color:#6f358d;
 color:#fff;
 display:block;
 height:50px;
 position:relative;
 margin:0 15px;
 line-height:3rem;
 font-size:1.6rem
}
body .tab-box .tab-head ul.tab-head-listing li a:before{
 content:'';
 display:block;
 width:0;
 height:0;
 border-width:50px 30px 30px;
 border-style:solid;
 border-color:transparent;
 border-bottom:50px solid #6f358d;
 position:absolute;
 left:-30px;
 bottom:0
}
body .tab-box .tab-head ul.tab-head-listing li a:after{
 content:'';
 display:block;
 width:0;
 height:0;
 border-width:50px 30px 30px;
 border-style:solid;
 border-color:transparent;
 border-bottom:50px solid #6f358d;
 position:absolute;
 right:-30px;
 bottom:0
}
body .tab-box .tab-head ul.tab-head-listing li.active{
 z-index:1
}
body .tab-box .tab-head ul.tab-head-listing li.active a{
 background-color:#EC1C29
}
body .tab-box .tab-head ul.tab-head-listing li.active a:after,body .tab-box .tab-head ul.tab-head-listing li.active a:before{
 border-bottom-color:#EC1C29
}
body .tab-box .tab-head ul.tab-head-listing:after{
 content:'';
 display:block;
 clear:both
}
body .tab-box .tab-head .filter{
 position:absolute;
 bottom:5px;
 right:0
}
body .tab-box .tab-head .filter label{
 opacity:.6;
 text-transform:uppercase;
 font-weight:400;
 font-size:1.6rem;
 margin-right:10px
}
body .tab-box .tab-head .dropdown{
 margin-bottom:10px;
 position:relative;
 display:none
}
body .form .form-row,body table th:before{
 content:'';
 display:block
}
body .tab-box .tab-head .dropdown .dropdown-toggle{
 width:100%;
 border:none;
 background-color:#6f358d;
 font-size:2rem;
 padding:10px 15px;
 text-align:left;
 color:#fff
}
body .tab-box .tab-head .dropdown .caret{
 position:absolute;
 right:15px;
 top:50%;
 color:#fff;
 border-width:6px;
 transform:translateY(-50%);
 -ms-transform:translateY(-50%);
 -webkit-transform:translateY(-50%)
}
body .tab-box .tab-head .dropdown .dropdown-menu{
 width:100%
}
body .tab-box .tab-head .dropdown .dropdown-menu li a{
 color:#2a2a2a;
 font-size:2rem
}
body .tab-box .tab-head .dropdown .dropdown-menu li.active a,body .tab-box .tab-head .dropdown .dropdown-menu li:hover a{
 background-color:#6f358d;
 color:#fff
}
body .tab-box.tab-box-type-2 .tab-head ul.tab-head-listing li a{
 font-size:1.6rem;
 padding:10px 20px;
 line-height:2rem;
 height:40px;
 margin:0 10px
}
body .tab-box.tab-box-type-2 .tab-head ul.tab-head-listing li a:after,body .tab-box.tab-box-type-2 .tab-head ul.tab-head-listing li a:before{
 border-width:20px 20px 40px
}
body .tab-box.tab-box-type-2 .tab-head ul.tab-head-listing li a:before{
 left:-20px
}
body .tab-box.tab-box-type-2 .tab-head ul.tab-head-listing li a:after{
 right:-20px
}
body .tab-box.tab-box-type-2 .tab-head ul.tab-head-listing li:first-of-type a{
 margin-left:20px
}
body .notification{
 width:830px;
 max-width:100%;
 padding:20px 30px;
 margin-bottom:20px;
 font-size:1.6rem
}
body .notification .notification-title{
 font-weight:700
}
body .notification.warning{
 background-color:#fdf1cc;
 color:#5D564A
}
body .notification.warning p{
 color:#5D564A
}
body .notification.success{
 background-color:#ddefd3;
 color:#1E874A
}
body .notification.success p{
 color:#1E874A
}
body .notification.error{
 background-color:#fee;
 color:#DA4245
}
body .notification.error p{
 color:#DA4245
}
body .notification.info{
 background-color:#e7eff7;
 color:#2E719B
}
body .notification.info p{
 color:#2E719B
}
body .table-wrap{
 border:1px solid #ddd;
 overflow-y:hidden
}
body .table-wrap.no-border{
 border:none
}
body .table-wrap.no-border table{
 border:1px solid #ddd
}
body .table-wrap.telerik-table table{
 border:none
}
body .table-wrap.telerik-table table tbody,body .table-wrap.telerik-table table thead{
 border:1px solid #ddd
}
body .table-wrap.telerik-table table tbody{
 border-top:none
}
body .table-wrap.telerik-table table thead{
 border-bottom:none
}
body table{
 width:calc((100% - 2px))!important;
 overflow:auto
}
body table td,body table th{
 padding:20px;
 border-left:1px solid #ddd;
 min-width:160px;
 font-size:1rem;
}
body table td:first-of-type,body table th:first-of-type{
 border-left:none
}
body table td img,body table th img{
 height:auto
}
body table tr+tr{
 border-top:1px solid #6f358d
}
body table th{
 font-size:2.2rem;
 color:#6f358d;
 background-color:#f4f4f4;
 position:relative
}
body table th:before{
 position:absolute;
 bottom:0;
 left:-1px;
 right:-1px;
 height:1px;
 background-color:#003559
}
body .scfForm .scfSectionContent .scfCaptchaLimitGeneralPanel table td:first-child,body .scfForm .scfSectionContent>div{
 position:relative
}
body .form .form-row{
 margin-bottom:15px;
 clear:both
}
body .form .form-row:after,body .form .form-row:before{
 content:" ";
 display:table
}
body .form .form-row:after{
 clear:both
}
body .form .form-row.required>label span:after{
 content:'*';
 margin-left:2px;
 color:#DA4245
}
body .form .form-row>label{
 width:20%;
 float:left;
 padding-right:20px;
 color:#6f358d
}
body .form .form-row .input{
 width:380px;
 max-width:80%;
 float:left
}
body .form .form-row .input input[type=email],body .form .form-row .input input[type=password],body .form .form-row .input input[type=text],body .form .form-row .input select{
 width:100%;
 padding:10px;
 border:1px solid #ddd
}
body .form .form-row .input input[type=email]::-webkit-input-placeholder,body .form .form-row .input input[type=password]::-webkit-input-placeholder,body .form .form-row .input input[type=text]::-webkit-input-placeholder,body .form .form-row .input select::-webkit-input-placeholder{
 font-style:italic;
 font-size:1.6rem
}
body .form .form-row .input input[type=email]:-moz-placeholder,body .form .form-row .input input[type=password]:-moz-placeholder,body .form .form-row .input input[type=text]:-moz-placeholder,body .form .form-row .input select:-moz-placeholder{
 font-style:italic;
 font-size:1.6rem
}
body .form .form-row .input input[type=email]::-moz-placeholder,body .form .form-row .input input[type=password]::-moz-placeholder,body .form .form-row .input input[type=text]::-moz-placeholder,body .form .form-row .input select::-moz-placeholder{
 font-style:italic;
 font-size:1.6rem
}
body .form .form-row .input input[type=email]:-ms-input-placeholder,body .form .form-row .input input[type=password]:-ms-input-placeholder,body .form .form-row .input input[type=text]:-ms-input-placeholder,body .form .form-row .input select:-ms-input-placeholder{
 font-style:italic;
 font-size:1.6rem
}
body .form .form-row .input .checkbox-item{
 width:50%;
 float:left;
 margin-bottom:10px;
 padding-right:10px
}
body .form .form-row .input label{
 font-weight:400;
 margin-left:5px
}
body .form .form-row .input .radio-item{
 margin-bottom:10px
}
body .scfForm{
 padding-bottom:20px
}
body .scfForm embed{
 display:block
}
body .scfForm .scfSectionBorderAsFieldSet{
 border-top-color:#981e55
}
body .scfForm .scfSectionLegend{
 color:#003559!important;
 font-family:'Titillium Web',sans-serif;
 font-weight:500;
 margin-bottom:0;
 margin-top:20px;
}
body .scfForm .scfSectionContent{
 padding-top:20px
}
body .scfForm .scfSectionContent>div:after{
 content:'';
 display:block;
 clear:both
}
body .scfForm .scfSectionContent input[type=email],body .scfForm .scfSectionContent input[type=password],body .scfForm .scfSectionContent input[type=text],body .scfForm .scfSectionContent select{
 width:100%;
 padding:10px;
 border:1px solid #ddd;
 margin-bottom:15px!important
}
body .scfForm .scfSectionContent input[type=email]::-webkit-input-placeholder,body .scfForm .scfSectionContent input[type=password]::-webkit-input-placeholder,body .scfForm .scfSectionContent input[type=text]::-webkit-input-placeholder,body .scfForm .scfSectionContent select::-webkit-input-placeholder{
 font-style:italic;
 font-size:1rem
}
body .scfForm .scfSectionContent input[type=email]:-moz-placeholder,body .scfForm .scfSectionContent input[type=password]:-moz-placeholder,body .scfForm .scfSectionContent input[type=text]:-moz-placeholder,body .scfForm .scfSectionContent select:-moz-placeholder{
 font-style:italic;
 font-size:1rem
}
body .scfForm .scfSectionContent input[type=email]::-moz-placeholder,body .scfForm .scfSectionContent input[type=password]::-moz-placeholder,body .scfForm .scfSectionContent input[type=text]::-moz-placeholder,body .scfForm .scfSectionContent select::-moz-placeholder{
 font-style:italic;
 font-size:1rem
}
body .scfForm .scfSectionContent input[type=email]:-ms-input-placeholder,body .scfForm .scfSectionContent input[type=password]:-ms-input-placeholder,body .scfForm .scfSectionContent input[type=text]:-ms-input-placeholder,body .scfForm .scfSectionContent select:-ms-input-placeholder{
 font-style:italic;
 font-size:1rem
}
body .scfForm .scfSectionContent textarea{
 border:1px solid #ddd;
 padding:10px;
 margin-bottom:15px!important
}
body .scfForm .scfSectionContent select{
 width:auto
}
body .scfForm .scfSectionContent label{
 color:#6f358d!important;
 font-family:'Montserrat', Arial, sans-serif;
 width:20%;
 padding:0 10px
}
body .scfForm .scfSectionContent .scfRadioButtonListLabel{
 color:#6f358d!important;
 font-family:'Montserrat', Arial, sans-serif;
 width:20%;
 padding-right:20px
}
body .scfForm .scfSectionContent .scfCaptchaGeneralPanel table{
 border:none;
 margin-top:5px
}
body .scfForm .scfSectionContent .scfCaptchaGeneralPanel table td{
 border:none;
 padding-left:0
}
body .scfForm .scfSectionContent .scfCaptchaLimitGeneralPanel table td{
 padding:0
}
body .scfForm .scfSectionContent .scfCaptchaLimitGeneralPanel table td:first-child:after,body .scfForm .scfSectionContent .scfCaptchaLimitGeneralPanel table td:first-child:before{
 position:absolute;
 font-family:fontawesome;
 right:-35px;
 pointer-events:none
}
body .scfForm .scfSectionContent .scfCaptchaLimitGeneralPanel table td:first-child:before{
 content:'\f021';
 color:#6f358d;
 top:0
}
body .scfForm .scfSectionContent .scfCaptchaLimitGeneralPanel table td:first-child:after{
 content:'\F028';
 color:#6f358d;
 bottom:0
}
body .scfForm .scfSectionContent .scfCaptchaLimitGeneralPanel table td:nth-child(2){
 opacity:0
}
body .scfForm .scfSectionContent .scfCaptchaLimitGeneralPanel table td:nth-child(2) input:nth-of-type(2){
 margin-top:5px
}
body .scfForm .scfSectionContent .scfEmailGeneralPanel,body .scfForm .scfSectionContent .scfSingleLineGeneralPanel{
 width:380px;
 max-width:80%
}
body .scfForm .scfSectionContent .scfRadioButtonListGeneralPanel{
 width:auto
}
body .scfForm .scfSectionContent .scfValidator{
 font-size:14px!important;
 transform:translateY(-10px);
 -ms-transform:translateY(-10px);
 -webkit-transform:translateY(-10px)
}
body .scfForm .scfSectionContent .scfValidator:before{
 font-family:fontawesome;
 content:'\f071';
 margin-right:8px
}
body .scfForm .scfSectionContent .scfRequired,body .scfForm .scfSectionContent .scfValidatorRequired{
 color:#DA4245;
 float:left;
 vertical-align:top;
 font-size:8px!important;
 position:absolute;
 left:0;
 top:0
}
body .scfForm .scfSectionContent .scfRequired:after,body .scfForm .scfSectionContent .scfValidatorRequired:after{
 font-family:fontawesome;
 content:'\f069';
 background:#fff;
 position:absolute;
 left:0;
 top:0
}
body .filter-box,body .scfForm .scfDropListBorder:after,body .wp-caption:after{
 content:''
}
body .scfForm .scfSectionContent .scfMultipleLineGeneralPanel{
 max-width:80%;
 width:380px
}
body .scfForm .scfSectionContent .scfCaptchaLabel{
 width:20%
}
body .scfForm .scfSectionContent .scfCaptchaLabelText{
 width:100%!important
}
body .scfForm .scfRadioButtonList,body .scfForm .scfRadioButtonList td{
 border:none
}
body .scfForm .scfRadioButtonList td label{
 margin-left:5px
}
body .scfForm .scfRadioButtonListUsefulInfo{
 font-size:12px!important;
 color:#6f358d;
 padding-left:15px;
 display:block;
 margin-top:-15px;
 margin-bottom:10px
}
body .scfForm .scfSubmitButton{
 background:#fff;
 border:1px solid #6f358d;
 font-family:'Montserrat', Arial, sans-serif;
 padding:15px 30px;
 border-radius:5px;
 margin-top:20px;
 color:#6f358d;
 text-transform:uppercase;
 position:relative;
 font-size:1rem;
 left:50%;
 transform:translateX(-50%);
 -ms-transform:translateX(-50%);
 -webkit-transform:translateX(-50%);
 -webkit-transition-duration:.3s;
 -o-transition-duration:.3s;
 transition-duration:.3s
}
body .scfForm .scfSubmitButton:hover{
 background:#6f358d;
 color:#fff
}
body .scfForm .scfDropListBorder:after{
 display:block;
 clear:both
}
body .scfForm table{
 width:auto;
 overflow:visible
}
body .scfForm table td,body .scfForm table th{
 padding:0;
 border-left:none
}
body .scfForm table tr+tr{
 border-top:none
}
body .scfForm table th{
 font-size:2.2rem;
 color:#003559;
 font-weight:700;
 background-color:#f4f4f4;
 position:relative
}
body .scfForm table th:before{
 display:none
}
body .bootstrap-select{
 width:240px!important
}
body .bootstrap-select .dropdown-toggle{
 border:1px solid #6f358d;
 border-radius:0;
 font-size:2rem;
 color:#6f358d
}
body .bootstrap-select .dropdown-toggle:focus,body .bootstrap-select .dropdown-toggle:hover{
 background-color:#6f358d;
 color:#fff;
 -webkit-box-shadow:none;
 box-shadow:none
}
body .bootstrap-select.open .dropdown-toggle{
 background-color:#6f358d;
 color:#fff;
 border:1px solid #6f358d;
 -webkit-box-shadow:none;
 box-shadow:none
}
body .bootstrap-select.open .dropdown-toggle:focus,body .bootstrap-select.open .dropdown-toggle:hover{
 background-color:#6f358d;
 color:#fff
}
body .bootstrap-select .dropdown-menu{
 border:1px solid #6f358d
}
body .bootstrap-select .dropdown-menu>li>a{
 color:#2a2a2a;
 font-size:2rem
}
body .bootstrap-select .dropdown-menu>li>a:focus,body .bootstrap-select .dropdown-menu>li>a:hover{
 background-color:#6f358d;
 color:#fff
}
body .sticky-wrapper{
 position:absolute;
 width:360px;
 height:450px!important;
 right:0;
 top:500px;
 display:inline-block
}
body .sticky-wrapper+.sticky-wrapper{
 top:750px
}
body .wp-caption{
 width:300px;
 background-color:#fff;
 border:1px solid #d7d7d7;
 position:relative;
 margin:20px 0
}
body .wp-caption:after{
 width:100%;
 height:5px;
 position:absolute;
 left:0;
 bottom:0;
 background-image:-webkit-gradient(linear,left top,right top,from(#EC1C29),to(#6f358d));
 background-image:-webkit-linear-gradient(left,#EC1C29,#6f358d);
 background-image:-o-linear-gradient(left,#EC1C29,#6f358d);
 background-image:linear-gradient(to right,#EC1C29,#6f358d)
}
body .wp-caption.alignright{
 float:right;
 clear:right;
 margin-left:35px
}
body .wp-caption.alignleft{
 float:left;
 clear:left;
 margin-right:35px
}
body .filter-box,body .filter-box p,body .filter-box:after{
 clear:both
}
body .wp-caption img{
 width:100%;
 margin-bottom:10px;
 max-width:none
}
body .wp-caption p{
 margin-bottom:0;
 padding:0 10px 10px
}
body .wp-caption p span{
 font-size:.815em
}
body .rvfs-1 a,body .rvfs-1 li,body .rvfs-1 p,body .rvfs-1 span{
 font-size:70%!important
}
body .rvfs-2 a,body .rvfs-2 li,body .rvfs-2 p,body .rvfs-2 span{
 font-size:80%!important
}
body .rvfs-3 a,body .rvfs-3 li,body .rvfs-3 p,body .rvfs-3 span{
 font-size:90%!important
}
body .rvfs-4 a,body .rvfs-4 li,body .rvfs-4 p,body .rvfs-4 span{
 font-size:100%!important
}
body .rvfs-5 a,body .rvfs-5 li,body .rvfs-5 p,body .rvfs-5 span{
 font-size:110%!important
}
body .rvfs-6 a,body .rvfs-6 li,body .rvfs-6 p,body .rvfs-6 span{
 font-size:120%!important
}
body .rvfs-7 a,body .rvfs-7 li,body .rvfs-7 p,body .rvfs-7 span{
 font-size:130%!important
}
body .rvfs-1 h1{
 font-size:3.2rem
}
body .rvfs-2 h1{
 font-size:3.6rem
}
body .rvfs-3 h1{
 font-size:4.2rem
}
body .rvfs-4 h1{
 font-size:4.8rem
}
body .rvfs-5 h1{
 font-size:5.4rem
}
body .rvfs-6 h1{
 font-size:6rem
}
body .rvfs-7 h1{
 font-size:6.4rem
}
body .rvfs-1 h2{
 font-size:2.8rem
}
body .rvfs-2 h2{
 font-size:3rem
}
body .rvfs-3 h2{
 font-size:3.2rem
}
body .rvfs-4 h2{
 font-size:3.6rem
}
body .rvfs-5 h2{
 font-size:4rem
}
body .rvfs-6 h2{
 font-size:4.2rem
}
body .rvfs-7 h2{
 font-size:4.6rem
}
body .rvfs-1 h3{
 font-size:1.6rem
}
body .rvfs-2 h3{
 font-size:1.8rem
}
body .rvfs-3 h3{
 font-size:2rem
}
body .rvfs-4 h3{
 font-size:2.4rem
}
body .rvfs-5 h3{
 font-size:2.8rem
}
body .rvfs-6 h3{
 font-size:3rem
}
body .rvfs-7 h3{
 font-size:3.2rem
}
body .rvfs-1 h4{
 font-size:1.4rem
}
body .rvfs-2 h4{
 font-size:1.6rem
}
body .rvfs-3 h4{
 font-size:1.8rem
}
body .rvfs-4 h4{
 font-size:2.2rem
}
body .rvfs-5 h4{
 font-size:2.6rem
}
body .rvfs-6 h4{
 font-size:2.8rem
}
body .rvfs-7 h4{
 font-size:3rem
}
body .rvfs-1 h5{
 font-size:1.4rem
}
body .rvfs-2 h5{
 font-size:1.6rem
}
body .rvfs-3 h5{
 font-size:1.8rem
}
body .rvfs-4 h5{
 font-size:2.2rem
}
body .rvfs-5 h5{
 font-size:2.6rem
}
body .rvfs-6 h5{
 font-size:2.8rem
}
body .rvfs-7 h5{
 font-size:3rem
}
body .style-title{
 text-transform:uppercase;
 font-weight:700
}
body .stButton *{
 -webkit-box-sizing:content-box;
 box-sizing:content-box
}
body .filter-box{
 background-color:#f4f7fa;
 padding:20px;
 margin-bottom:15px;
 position:relative;
 display:block
}
body .filter-box:after,body .filter-box:before{
 content:" ";
 display:table
}
body .filter-box h4{
 color:#6f358d
}
body .filter-box img{
 float:right;
 margin-left:7px;
 margin-top:-10px
}
body .filter-box .input-search{
 width:250px;
 position:relative
}
body .filter-box .input-search input[type=text]{
 width:100%;
 border:1px solid #9cadba;
 padding:5px 10px;
 font-size:1.6rem
}
body .filter-box .input-search .btn-submit{
 position:absolute;
 right:0;
 top:5px;
 border:none;
 background-color:transparent;
 font-size:1.6rem
}
body .filter-box select{
 padding:10px;
 border:1px solid #ddd
}
body .filter-box .filter-item{
 margin-bottom:20px;
 font-size:0
}
body .filter-box .filter-item span{
 width:200px;
 display:inline-block;
 vertical-align:top;
 font-size:1.6rem
}
body .filter-box .filter-item .checkbox-wrap{
 width:500px;
 display:inline-block
}
body .filter-box .filter-item .checkbox-wrap label{
 font-weight:400!important;
 font-size:1.6rem;
 max-width:210px;
 margin-left:10px
}
body .filter-box .filter-item .checkbox-wrap>span{
 width:100%;
 margin-bottom:30px
}
body .filter-box .filter-item .checkbox-wrap:after{
 content:'';
 display:block;
 clear:both
}
body .filter-box .filter-item .checkbox-item{
 width:50%;
 float:left;
 padding-right:10px
}
body .filter-box .filter-item .checkbox-item label{
 font-weight:400;
 margin-left:10px
}
body .filter-box .filter-item .checkbox-item input{
 vertical-align:top;
 margin-top:7px
}
body .filter-box .filter-item input,body .filter-box .filter-item select{
 font-size:1.6rem
}
body ul.film-listing{
 list-style-type:none;
 margin:0;
 padding:0;
 border:1px solid #003559
}
body ul.film-listing li{
 padding:20px
}
body ul.film-listing li+li{
 border-top:1px solid #003559
}
body ul.film-listing li .detail-wrap{
 display:table;
 width:100%
}
body ul.film-listing li .detail-item{
 display:table-cell;
 padding:0 10px;
 vertical-align:top;
 font-size:1.6rem
}
body ul.film-listing li .detail-item.icon-film,body ul.film-listing li .detail-item.type{
 width:150px
}
body ul.film-listing li .detail-item.icon-film img{
 float:right;
 max-width:none;
 height:40px
}
body .iframe-wrap{
 position:relative;
 padding-bottom:56.25%;
 padding-top:35px;
 height:0;
 overflow:hidden
}
body .iframe-wrap iframe{
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%
}
body .rgPager td{
 padding:0;
 border:none
}
body .rgPager table,body .rgPager table tbody{
 border:none!important
}
body .rgPager table td{
 padding:10px 0;
 text-align:center
}
body .rgPager table td>div{
 display:inline-block
}
body .rgPager table td>div:first-of-type a{
 display:none
}
body .rgPager table td>div:first-of-type a:last-of-type{
 display:inline-block
}
body .rgPager table td>div.rgArrPart2 a{
 display:none
}
body .rgPager table td>div.rgArrPart2 a:first-of-type{
 display:inline-block
}
body .rgPager table td>div img{
 display:none
}
body .rgPager table td>div a{
 width:48px;
 color:#010101;
 text-decoration:none;
 display:inline-block;
 vertical-align:middle;
 text-align:center;
 background-color:transparent;
 padding:15px 5px;
 border-bottom:4px solid transparent;
 -webkit-transition:all .3s;
 -o-transition:all .3s;
 transition:all .3s
}
body .rgPager table td>div a.rgCurrentPage,body .rgPager table td>div a:hover{
 border-bottom-color:#6f358d
}
body .play-button{
 position:absolute;
 width:100px;
 height:100px;
 border-radius:50%;
 background:#af232d;
 left:50%;
 top:50%;
 -o-transform:translate(-50%,-50%);
 transform:translate(-50%,-50%);
 -ms-transform:translate(-50%,-50%);
 -webkit-transform:translate(-50%,-50%);
 opacity:.5;
 cursor:pointer;
 -webkit-transition:all ease-in .5s;
 -o-transition:all ease-in .5s;
 transition:all ease-in .5s;
 z-index:2
}
.cookie-bar,.cookie-bar button:hover{
 transition:all .5s cubic-bezier(.075,.82,.165,1)
}
body .play-button:hover{
 opacity:1
}
body .play-button.gone{
 opacity:0;
 pointer-events:none;
 -webkit-transform:translate(-50%,-50%) scale(.5) rotate(180deg);
 -ms-transform:translate(-50%,-50%) scale(.5) rotate(180deg);
 transform:translate(-50%,-50%) scale(.5) rotate(180deg)
}
body .play-button:after{
 content:'';
 border-left:30px solid #fff;
 border-top:15px solid transparent;
 border-bottom:15px solid transparent;
 position:absolute;
 left:50%;
 top:50%;
 -o-transform:translate(-40%,-50%);
 transform:translate(-40%,-50%);
 -ms-transform:translate(-40%,-50%);
 -webkit-transform:translate(-40%,-50%)
}
body.error-page header .header-wrap{
 padding:15px 50px
}
body.error-page header .logo img{
 height:50px
}
body.error-page header.scrolled{
 top:0!important
}
body.error-page h1{
 color:#6f358d;
 text-align:center;
 padding:0
}
body.error-page div[role=main]{
 padding-top:85px;
 background-color:#f4f7fa
}
body.error-page div[role=main] section.content-error-page{
 max-width:900px;
 padding:20px;
 margin:0 auto
}
body.error-page div[role=main] section.content-error-page ul.social-media-link{
 list-style-type:none;
 padding:0;
 margin:50px 0;
 text-align:center
}
body.error-page div[role=main] section.content-error-page ul.social-media-link li{
 display:inline-block
}
body.error-page div[role=main] section.content-error-page ul.social-media-link li+li{
 margin-left:15px
}
body.error-page div[role=main] section.content-error-page ul.social-media-link li a{
 display:block;
 width:40px;
 height:40px;
 border-radius:50%
}
.cookie-bar button,.cookie-bar p{
 color:#000;
 font-weight:700;
 display:inline-block
}
body.error-page div[role=main] section.content-error-page ul.social-media-link li a.facebook{
 background-color:#06465e
}
body.error-page div[role=main] section.content-error-page ul.social-media-link li a.facebook img{
 height:23px;
 margin-top:8.5px
}
body.error-page div[role=main] section.content-error-page ul.social-media-link li a.twitter{
 background-color:#2b6d85
}
body.error-page div[role=main] section.content-error-page ul.social-media-link li a.twitter img{
 height:17px;
 margin-top:11.5px
}
body.error-page div[role=main] section.content-error-page ul.social-media-link li a.youtube{
 background-color:#af232d
}
body.error-page div[role=main] section.content-error-page ul.social-media-link li a.youtube img{
 height:25px;
 margin-top:7.5px
}
body.error-page div[role=main] section.content-error-page p{
 margin-bottom:20px
}
body.error-page footer .left{
 width:100%;
 text-align:center
}
.cookie-bar{
 transform:translateY(100%);
 position:fixed;
 bottom:0;
 box-shadow:0 0 10px rgba(0,0,0,.2);
 background-color:rgba(255,255,255,.9);
 padding:5px 20px;
 z-index:9999
}
.cookie-bar-content{
 max-width:1140px;
 position:relative;
 margin:0 auto
}
.cookie-bar p a{
 text-decoration:underline;
 color:#000
}
.cookie-bar button{
 background-color:none;
 border:1px solid #000;
 border-radius:30px;
 padding:5px 10px;
 right:10px;
 top:calc(50% - 16px);
 margin-left:20px
}
.cookie-bar button:hover{
 background-color:#6f358d;
 color:#fff;
 border:1px solid transparent
}
.cookie-bar-showing{
 transform:translateY(0)
}
