@media print {
  .container {
    padding: 0;
  }
  .chat_box {
    display: none;
  }
  body a[href]::after {
    content: none !important;
  }
  body h1 {
    padding-left: 0;
    margin: 20px 0;
  }
  body h4 {
    margin-top: 0;
  }
  body .responsive-nav {
    display: none;
  }
  body header {
    position: static;
  }
  body header .top-header {
    margin-top: 0;
  }
  body header .search-wrap,
  body header .utilities,
  body header .main-nav {
    display: none;
  }
  body header .header-wrap {
    padding: 15px 0;
  }
  body header.homepage {
    position: relative;
    padding-bottom: 0;
  }
  body header.homepage .header-wrap {
    position: static;
  }
  body header.homepage .header-wrap::before {
    position: absolute;
    height: 0;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 115px solid #ffffff;
  }
  body header.homepage ul.homepage-slider {
    padding-top: 0 !important;
  }
  body header.homepage ul.homepage-slider .slick-dots {
    display: none !important;
  }
  body header.homepage ul.homepage-slider .slick-track {
    width: 100% !important;
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
  }
  body header.homepage ul.homepage-slider .slick-slide {
    width: 100% !important;
    display: none;
  }
  body header.homepage ul.homepage-slider .slick-slide.slick-active {
    display: block;
  }
  body header.homepage ul.homepage-slider .slick-slide .img-wrapper {
    height: 300px;
  }
  body header.homepage ul.homepage-slider .slick-slide .content {
    top: 30px;
    width: 100%;
    padding: 0 10px;
  }
  body header.homepage ul.homepage-slider .slick-slide .title,
  body header.homepage ul.homepage-slider .slick-slide .info {
    margin-bottom: 10px;
  }
  body .menu-btn {
    display: none;
  }
  body section.social-media,
  body section.rate-website {
    display: none;
  }
  body .sticky-wrapper {
    display: none;
  }
  body section.sub-menu {
    display: none !important;
  }
  body div[role="main"] section.content .share {
    display: none;
  }
  body div[role="main"] section.content .section-title {
    margin-bottom: 20px;
  }
  body div[role="main"] section.content ul.news-slider .slick-track {
    width: 100% !important;
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
  }
  body div[role="main"] section.content ul.news-slider li.slick-slide {
    width: 100% !important;
    display: none;
  }
  body div[role="main"] section.content ul.news-slider li.slick-slide.slick-active {
    display: block;
  }
  body div[role="main"] section.content ul.news-slider li.slick-slide .left {
    height: 200px;
  }
  body div[role="main"] section.content ul.news-slider li.slick-slide .left .img-wrapper {
    height: 200px;
  }
  body div[role="main"] section.content ul.news-slider li.slick-slide .right {
    padding: 20px;
    height: auto;
  }
  body div[role="main"] section.content ul.news-slider li.slick-slide .news-title {
    font-size: 2.6rem;
  }
  body div[role="main"] section.content ul.news-slider .slick-dots {
    display: none !important;
  }
  body div[role="main"] section.content .keywords-wrap {
    background: none;
  }
  body div[role="main"] section.content .keywords-wrap::before {
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    border-bottom: 70px solid #6f358d;
  }
  body div[role="main"] section.content .keywords-wrap span,
  body div[role="main"] section.content .keywords-wrap .keywords {
    position: relative;
    z-index: 1;
  }
  body div[role="main"] section.breadcrumb-page {
    margin-top: 0;
  }
  body div[role="main"] section.banner {
    height: 200px;
  }
  body div[role="main"] section.tag {
    border: none;
  }
  body div[role="main"] section.tag ul.tag-listing li {
    display: none;
  }
  body div[role="main"] section.tag ul.tag-listing li.parent::after {
    display: none;
  }
  body div[role="main"] section.tag ul.tag-listing li.active {
    display: block;
    text-align: center;
  }
  body div[role="main"] section.recent-news {
    padding-top: 20px;
  }
  body div[role="main"] section.recent-news .left,
  body div[role="main"] section.recent-news .right {
    width: 100%;
    float: none;
    height: auto;
  }
  body div[role="main"] section.recent-news .left .section-title {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  body div[role="main"] section.recent-news .item-top,
  body div[role="main"] section.recent-news .item-bottom {
    width: 100%;
  }
  body div[role="main"] section.recent-news .slick-cnext {
    display: none !important;
  }
  body div[role="main"] section.recent-news .slick-list {
    padding: 0;
  }
  body div[role="main"] section.recent-news .slick-list::after {
    display: none;
  }
  body div[role="main"] section.recent-news .slick-track {
    width: 100% !important;
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
  }
  body div[role="main"] section.recent-news .slick-slide {
    width: 100% !important;
    display: none;
  }
  body div[role="main"] section.recent-news .slick-slide.slick-active {
    display: block;
  }
  body div[role="main"] section.recent-news .slick-slide .img-wrapper {
    height: 300px;
  }
  body div[role="main"] section.recent-news ul.listing li {
    width: 32%;
  }
  body div[role="main"] section.recent-news ul.listing li.big {
    width: 32%;
  }
  body div[role="main"] section.website-info {
    display: block;
    padding: 0;
    width: 100%;
  }
  body div[role="main"] section.website-info .left,
  body div[role="main"] section.website-info .right {
    width: 100%;
    display: block;
    padding: 0;
  }
  body div[role="main"] section.website-info .left::before,
  body div[role="main"] section.website-info .right::before,
  body div[role="main"] section.website-info .left::after,
  body div[role="main"] section.website-info .right::after {
    content: '';
    display: block;
  }
  body div[role="main"] section.website-info .left::after,
  body div[role="main"] section.website-info .right::after {
    clear: both;
  }
  body div[role="main"] section.website-info .left {
    height: 345px;
  }
  body div[role="main"] section.website-info .right {
    padding-top: 20px;
    page-break-inside: avoid;
  }
  body div[role="main"] section.partners .left,
  body div[role="main"] section.partners .right {
    width: 100%;
    float: none;
  }
  body footer {
    padding-bottom: 90px;
    font-size: 1.2rem !important;
  }
  body footer .container {
    position: relative;
  }
  body footer .left {
    position: absolute;
    float: none;
    width: 100%;
    left: 0;
    top: 100%;
    padding-bottom: 20px;
  }
  body footer .left .copyright {
    position: absolute;
    left: 0;
    bottom: -10px;
  }
  body footer .right {
    float: none;
    width: 100%;
    text-align: left;
  }
  body footer ul {
    float: none;
    max-width: none;
  }
  body footer ul li {
    padding: 0 10px;
    font-size: 1.2rem !important;
  }
  body footer ul li:first-of-type {
    padding-left: 0;
  }
  body footer ul li:nth-of-type(7) {
    border-left: 1px solid #010101;
  }
  body ul.listing li {
    page-break-inside: avoid;
  }
  body ul.listing li .category {
    background: none;
    padding: 10px 5px;
  }
  body ul.listing li .category::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    border-bottom: 40px solid #6f358d;
  }
  body ul.listing li .category span {
    z-index: 1;
    position: relative;
    color: #ffffff !important;
  }
  body ul.listing.listing-type-2 li {
    height: 500px;
  }
  body ul.listing.listing-type-2 li .img-wrapper {
    height: 150px;
  }
  body ul.listing.listing-type-2 li .text {
    padding: 20px 0;
  }
  body ul.listing.listing-type-2 li .category {
    position: static;
    padding: 0;
  }
  body ul.listing.listing-type-3 li {
    height: 380px;
  }
  body ul.listing.listing-type-3 li .text {
    padding: 10px 0;
  }
  body ul.listing.listing-type-3 li .feature {
    position: static;
    padding: 0;
  }
  body ul.listing.listing-type-3 li .title {
    padding: 0;
  }
  body .tab-box .tab-head ul.tab-head-listing li a {
    margin: 0;
  }
  body .tab-box .tab-head ul.tab-head-listing li a::before,
  body .tab-box .tab-head ul.tab-head-listing li a::after {
    display: none;
  }
  body .tab-box .tab-head ul.tab-head-listing li:first-of-type a {
    margin: 0;
  }
}
