// checkbox styles
.checkbox {
  @extend %vh;
  opacity: 0;

  + label {
    color: $headerColor;
    cursor: pointer;
    display: inline-block;
    padding-left: 25px;
    position: relative;

    &:before {
      content: "";
      background: #fff;
      border: 1px solid $borderGray;
      border-radius: 2px;
      // box-shadow: 0px 2px 5px 0 inset transparentize(#000, .75);
      display: inline-block;
      height: 16px;
      left: 0;
      position: absolute;
      margin-right: 12px;
      width: 16px;
      vertical-align: middle;
    }

    &:after {
      @include icomoon('\e90e');
      color: white;
      font-size: 0.6em;
      left: 3px;
      margin-top: 4px;
      opacity: 0;
      position: absolute;
      transform: scale(1.5);
      transition: transform .15s $easeInOutExpo, opacity .15s ease-in-out, visibility .15s ease-in-out;
      top: 0;
      visibility: hidden;
    }
  }

  &:checked {
    + label {
      &:before {
        background-color: $primaryPurple;
        border-color: $primaryPurple;
      }

      &:after {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
      }
    }
  }
}

.radio--pill,
.checkbox--pill {
  @extend %vh;
  opacity: 0;

  + label {
    text-align: center;
    color: $primaryPurple;
    padding: 8px 16px;
    width: 100%;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: calc(18px);
    line-height: 120%;
    border: 1px solid $primaryPurple;
    border-radius: 100px;
    background-color: #fff;
    transition: all 0.35s ease-in-out;
  }

  &:checked {
    + label {
      color: #fff;
      background-color: $primaryPurple;
    }
  }
}
