mixin checkbox(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  
  if spec.profile
    - var profileList = spec.profile.join('|') 
    input.checkbox(type="checkbox", id= spec.id, name= spec.name, value= spec.value, data-profile=profileList)
    label(for= spec.id).checkbox-label= spec.label
  else 
    input.checkbox(type="checkbox", id= spec.id, name= spec.name, value= spec.value)
    label(for= spec.id).checkbox-label= spec.label


mixin checkbox--pill(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  input.checkbox--pill(type="checkbox", id= spec.id, name= spec.name, value= spec.value)
  label(for= spec.id).checkbox-label= spec.label


mixin radio--pill(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  input.radio--pill(type="radio", id= spec.id, name= spec.name, value= spec.value)
  label(for= spec.id).radio-label= spec.label