mixin banner-carousel(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .banner-carousel.viewport-animate
    each item in spec.items
      .banner-carousel__item
        .banner-carousel__image
          picture
            source(srcset= item.mobileImage, media="(max-width: 1023px)")
            source(srcset= item.image)
            img(src= item.image, alt= item.title)
          //img(src= item.image, srcset= item.mobileImage + " 375w, " + item.image + " 1024w", sizes="(max-width: 1023px) 375px, 1024px", alt= item.title)

        .banner-carousel__content-wrapper
          .container
            .banner-carousel__content
              h1.banner-carousel__title= item.title
              p.banner-carousel__desc= item.description
        a.banner-carousel__link(href= item.url, title= item.title)
