// banner-carousel styles
.banner-carousel {
  $p: &;
  position: relative;
  height: auto;
  &.in-view {
    #{$p}__content {
      opacity: 1;
      transform: translateY(0);
    }
    #{$p}__title {
      &:before {
        transform: scaleX(1);
      }
    }
  }
  .slick-dots {
    @extend %list-unstyled;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 0;
    bottom: 10px;
    li {
      display: inline-block;
      margin: 0 8px 0 0;
    }

    button {
      background: rgba(0,0,0,0.8);
      border: 0;
      border-radius: 50%;
      height: 8px;
      opacity: 0.5;
      overflow: hidden;
      padding: 0;
      text-indent: 9999px;
      width: 8px;
    }

    .slick-active {
      button {
        background: $red;
        opacity: 1;
      }
    }
  }
  &__item {
    display: block !important;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    position: relative;
  }
  &__link {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  &__image {
    position: relative;
    /* padding: 0;
    margin: 0; */
    @include aspect-ratio(600, 400, 100%);
    
    
    picture, img {
      // object-fit: cover;
      // object-position: center center;
      @include absolute-img;
      @include image-cover;
      /* width: 100%;
      display: block;
      height: auto;
      padding: 0;
      margin: 0; */
    }
  }
  &__content-wrapper {
    height: 100%;
    width: 100%;
    background-color: $darkGrey;
  }

  &__content {
    color: #fff;
    opacity: 0;
    transform: translateY(40px);
    transition: transform .25s $easeInOutExpo, opacity .25s ease-in-out;
    padding: 30px 0px;
  }

  &__title {
    font-size: calc-em(28px);
    text-transform: uppercase;

  }

  &__desc {
    font-weight: $light;
  }
  .slick-arrow {
    align-items: center;
    background: none;
    border: 0;
    background: transparentize(#000, .6);
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    position: absolute;
    z-index: 1;
    display: none;

    .icon {
      display: inline-block;
      font-size: 3em;
      vertical-align: middle;
      width: 40px;
    }
    span {
      display: inline-block;
      vertical-align: middle;
    }
    &.slick-next {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      padding-left: 15px;
      right: 0;
    }

    &.slick-prev {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      padding-right: 15px;
    }
    &.slick-disabled {
      display: none !important;
    }

    &:hover {
      background: transparentize(#000, .2);
    }

    &:focus {
      background: transparentize(#000, .6);
    }
  }

  @media only screen and (min-width: $bpDesktop) {
    &__content-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(90deg,rgba(0,0,0,.7),rgba(0,0,0,.2) 50%,transparent 80%);

      .container {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__content{
      width: 60%;
      padding: 100px 0 150px;
    }

    &__title {
      font-size: calc-em(44px);
      margin: 10px 0;
      padding-top: 20px;
      position: relative;

      &:before {
        content: "";
        background: $red;
        height: 3px;
        position: absolute;
        transform: scaleX(0);
        transform-origin: left center;
        transition: transform 1s $easeInOutExpo;
        top: 0;
        width: 60px;
      }
    }

    &__image {
      @include aspect-ratio(1440, 480, 100%);
    }

    .slick-arrow {
      display: block;
    }
    .slick-dots {
      position: absolute;
      bottom: 20px;
    }

  }
}




//   &__item {
//     display: block !important;
//     position: relative;
//     width: 100%;
//     height: 100%;
//   }

//   &__link {
//     display: block;
//     height: 100%;
//     left: 0;
//     position: absolute;
//     top: 0;
//     width: 100%;
//     z-index: 2;
//   }

//   &__image {
//     position: relative;
//     img {
//       // object-fit: cover;
//       // object-position: center center;
//       width: 100%;
//       display: block;
//       height: auto;
//     }
//   }

//   &__content {
//     color: #fff;
//     opacity: 0;
//     transform: translateY(40px);
//     transition: transform .25s $easeInOutExpo, opacity .25s ease-in-out;
//     padding-bottom: 30px;
//   }

//   &__title {
//     font-size: calc-em(28px);
//     text-transform: uppercase;
//   }

//   &__desc {
//     font-weight: $light;
//   }
// }

// @media only screen and (max-width: $bpDesktop - 1) {
//   .banner-carousel {
//     //background: $darkGrey;

//     .slick-arrow {
//       display: none;
//     }

//     .slick-dots {
//       padding: 10px 0;
//       text-align: center;
//       position: absolute;
//       bottom: 0px;
//       width: 100%;
//     }
//     &__content-wrapper {
//       background-color: $darkGrey;
//       height: 100%;
//       position: absolute;
//       top: 0;
//       left: 0;
//     }
//     &__content {
//       padding: 10px 0;
//       text-align: center;
//       padding-bottom: 40px;
//     }

//     &__title {
//       margin: 10px 0;
//     }

//     &__desc {
//       margin: 10px 0;
//     }
//   }
// }

// @media only screen and (min-width: $bpDesktop) {
//   .banner-carousel {
//     $p: &;

//     &.in-view {
//       #{$p}__title {
//         &:before {
//           transform: scaleX(1);
//         }
//       }
//     }

//     .slick-list, .slick-track {
//       height: 100%;
//     }

//     .slick-slide > div {
//       height: 100%;
//     }

//     .slick-arrow {
//       align-items: center;
//       background: none;
//       border: 0;
//       color: #fff;
//       display: none !important;
//       top: 50%;
//       transform: translateY(-50%);
//       position: absolute;
//       z-index: 1;

//       .icon {
//         display: inline-block;
//         font-size: 3em;
//         width: 45px;
//       }

//       &.slick-next {
//         right: 0;
//       }

//       &.slick-disabled {
//         display: none !important;
//       }
//     }

//     .slick-dots {
//       left: calc((100vw - #{$bpDesktop}) / 2 + 15px);
//       position: absolute;
//       bottom: 130px;
//     }

//     &__item {
//       height: 100%;

//       // .container {
//       //   display: flex;
//       //   height: 100%;
//       // }
//     }

//     &__image {
//       // height: 100%;
//       // position: absolute;
//       display: block;
//       width: 100%;
//       height: 100%;
//       picture {
//         width: 100%;
//         height: auto;
//         img {
//           height: auto;
//           width: 100%;
//         }
//       }


//       // &:before {
//       //   background: linear-gradient(90deg, transparentize(#000, .3) 0%, transparentize(#000, .8) 50%, transparent 80%);
//       //   content: "";
//       //   height: 100%;
//       //   position: absolute;
//       //   width: 100%;
//       // }
//     }
//     &__content-wrapper {
//       position: absolute;
//       left: 0;
//       top: 0;
//       display: block;
//       width: 100%;
//       height: auto;
//       z-index: 1;
//     }
//     &__content {
//       align-self: center;
//       display: flex;
//       flex-direction: column;
//       padding: 100px 0 150px;
//       width: 60%;

//     }


//     &__title {
//       font-size: calc-em(48px);
//       margin: 10px 0;
//       padding-top: 20px;
//       position: relative;

//       &:before {
//         content: "";
//         background: $red;
//         height: 3px;
//         position: absolute;
//         transform: scaleX(0);
//         transform-origin: left center;
//         transition: transform 1s $easeInOutExpo;
//         top: 0;
//         width: 60px;
//       }
//     }

//     &__desc {
//       font-size: calc-em(17px);
//       margin-top: 0;
//     }
//   }
// }

// @media only screen and (min-width: $bpDesktop + 120) and (max-width: $bpLgDesktop - 1) {
//   .banner-carousel {
//     .slick-arrow {
//       display: flex !important;
//     }
//   }
// }

// @media only screen and (min-width: $bpLgDesktop) {
//   .banner-carousel {

//     .slick-dots {
//       left: calc((100vw - #{$bpLgDesktop}) / 2 + 15px);
//     }

//     &__content {
//       width: 50%;
//     }
//   }
// }

// @media only screen and (min-width: 1400px) {
//   .banner-carousel {
//     .slick-dots {
//       left: calc((100vw - 1400px) / 2 + 15px);
//     }
//   }
// }

// @media only screen and (min-width: $bpLgDesktop + 120) {
//   .banner-carousel {
//     .slick-arrow {
//       display: flex !important;
//     }
//   }
// }
