extends ../_layouts/microsite

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - pageTitle = 'Film'

block content
  <section class="content">
    <section class="breadcrumb-page resize">
      <div class="container">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Industry Development</a></li>
          <li><a href="#">Sectors</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="/film">Film</a></li>
        </ul>
      </div>
    </section>
    <div class="scf-wrapper">
      <section class="banner-section">
        <div class="bg-image">
          <img src="/images/banner.jpg">
          <div class="banner-content">
            <a href="directory" class="container">
              <span class="banner-detail">
                <h1>Filming in Singapore</h1>
                <p>Singapore is proving to be a fertile ground for developing exportable media content. Its rich cultural backdrop acts as a kaleidoscope of inspiration, fuelling creative output with international appeal.</p>
                <span class="sggd-btn sggd-btn--special">
                  <div class="btn-text"><span>EXPLORE FILM DIRECTORY</span></div>
                  <div class="arrow">
                    <div class="arrow-wrapper"><span class="left"></span><span class="right"></span></div>
                  </div>
                </span>
              </span>
            </a>
          </div>
        </div>
      </section>
      <section class="scf-section">
        <div class="container container--mw1140">
          <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7">
              <section class="scf-announcement">
                <h2>Announcements</h2>
                <p>Singapore’s growing success in the worldwide film industry attests to this, with homegrown films such as Apprentice, A Yellow Bird, Ilo Ilo, Tatsumi, Sandcastle.</p>
                <p>​Collaborative efforts betwe​en local and international film companies have been increasing. Co-produced films bring together resources from co-producing countries and help Singapore filmmakers participate in projects of international standing and with potential for gl​​obal distribution.</p>
              </section>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-1">
              <section class="scf-event">
                <h2>Upcoming Events</h2>
                <a href="#" class="event">
                  <div class="event__date"><span class="month">OCT</span><span class="date">31</span></div>
                  <div class="event__desc">
                    <h3 class="title">RAI Research Seminar: Andreas Ackermann</h3>
                    <span class="tag">Seminar</span>
                  </div>
                </a>
                <a href="#" class="event">
                  <div class="event__date"><span class="month">Nov</span><span class="date">02</span></div>
                  <div class="event__desc">
                    <h3 class="title">South Asia and its Diaspora</h3>
                    <span class="tag">Conference</span>
                  </div>
                </a>
                <a href="#" class="event">
                  <div class="event__date"><span class="month">Nov</span><span class="date">22</span></div>
                  <div class="event__desc">
                    <h3 class="title">Reviewer Meets Reviewed: The Great Reimagining</h3>
                    <span class="tag">Workshop</span>
                  </div>
                </a>
                <a href="#" class="sggd-btn sggd-btn--standard">
                  <div class="btn-text"><span>VIEW ALL</span></div>
                  <div class="arrow">
                    <div class="arrow-wrapper"><span class="left"></span><span class="right"></span></div>
                  </div>
                </a>
              </section>
            </div>
          </div>
        </div>
      </section>
      <section class="cta-section">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="cta-card">
            <div class="cta-card-image">
              <img src="/images/card-1.jpg">
              <a href="#" class="cta-card-description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio autem, saepe dicta totam molestias consequuntur iste asperiores ad quaerat minus maxime ipsum ipsa repellat, ab minima expedita eaque fugit deleniti.</p>
              </a>
            </div>
            <a href="#" class="sggd-btn sggd-btn--gradient cta-card-btn">
              <div class="btn-text"><span>Film Community</span></div>
              <div class="arrow">
                <div class="arrow-wrapper"><span class="left"></span><span class="right"></span></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="cta-card">
            <div class="cta-card-image">
              <img src="/images/card-2.jpg">
              <a href="#" class="cta-card-description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio autem, saepe dicta totam molestias consequuntur iste asperiores ad quaerat minus maxime ipsum ipsa repellat, ab minima expedita eaque fugit deleniti.</p>
              </a>
            </div>
            <a href="#" class="sggd-btn sggd-btn--gradient cta-card-btn">
              <div class="btn-text"><span>Filming in Singapore</span></div>
              <div class="arrow">
                <div class="arrow-wrapper"><span class="left"></span><span class="right"></span></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="cta-card">
            <div class="cta-card-image">
              <img src="/images/card-3.jpg">
              <a href="#" class="cta-card-description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio autem, saepe dicta totam molestias consequuntur iste asperiores ad quaerat minus maxime ipsum ipsa repellat, ab minima expedita eaque fugit deleniti.</p>
              </a>
            </div>
            <a href="#" class="sggd-btn sggd-btn--gradient cta-card-btn">
              <div class="btn-text"><span>Film Literacy &amp; Awareness</span></div>
              <div class="arrow">
                <div class="arrow-wrapper"><span class="left"></span><span class="right"></span></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="cta-card">
            <div class="cta-card-image">
              <img src="/images/card-4.jpg">
              <a href="#" class="cta-card-description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio autem, saepe dicta totam molestias consequuntur iste asperiores ad quaerat minus maxime ipsum ipsa repellat, ab minima expedita eaque fugit deleniti.</p>
              </a>
            </div>
            <a href="#" class="sggd-btn sggd-btn--gradient cta-card-btn">
              <div class="btn-text"><span>Programmes / Grants</span></div>
              <div class="arrow">
                <div class="arrow-wrapper"><span class="left"></span><span class="right"></span></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="cta-card">
            <div class="cta-card-image">
              <img src="/images/card-5.jpg">
              <a href="#" class="cta-card-description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio autem, saepe dicta totam molestias consequuntur iste asperiores ad quaerat minus maxime ipsum ipsa repellat, ab minima expedita eaque fugit deleniti.</p>
              </a>
            </div>
            <a href="#" class="sggd-btn sggd-btn--gradient cta-card-btn">
              <div class="btn-text"><span>Film Directory</span></div>
              <div class="arrow">
                <div class="arrow-wrapper"><span class="left"></span><span class="right"></span></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="cta-card">
            <div class="cta-card-image">
              <img src="/images/card-6.jpg">
              <a href="#" class="cta-card-description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio autem, saepe dicta totam molestias consequuntur iste asperiores ad quaerat minus maxime ipsum ipsa repellat, ab minima expedita eaque fugit deleniti.</p>
              </a>
            </div>
            <a href="#" class="sggd-btn sggd-btn--gradient cta-card-btn">
              <div class="btn-text"><span>Facts &amp; Figures </span></div>
              <div class="arrow">
                <div class="arrow-wrapper"><span class="left"></span><span class="right"></span></div>
              </div>
            </a>
          </div>
        </div>
      </section>
      <section class="about-section">
        <div class="container container--mw1140">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <h2 class="about__title">ABOUT THE SFC</h2>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <p>Over the years, Singapore’s diverse and multicultural landscape have been captured on film. Most recently, our breath-taking cityscape was showcased to the world in Hitman: Agent 47, a Hollywood blockbuster that was partially shot and produced in Singapore, featuring iconic places such as Gardens by the Bay, Marina Barrage and the Changi Airport. Singapore was also featured in the futuristic film Equals, starring Kirsten Stewart and Nicholas Hoult.</p>
              <p>With a unique blend of Asian and Western cultural influences and the support of a world-class technical infrastructure, secure IP system and multilingual talent pool, Singapore is all set to support local and international filmmakers with the resources for a successful shoot.</p>
              <p>In general, a permit is not required for filming on general streets and walkways, as long as there are no obstructions to vehicular or pedestrian traffic. All approvals/permissions are subject to the owner of the property/location. Filming is a work-pass exempt activity in Singapore. For foreign cast and crew filming in Singapore, no work permits are required if they are here for less than 60 days. Upon arrival in Singapore, please go to <a href="#">this link</a> to submit an e-notification. For more information on filming in Singapore, please see our <a href="#">Guide to Filming </a> in Singapore.</p>
              <p>For further enquiries, please write to <a href="mailto:SFC@imda.gov.sg">SFC@imda.gov.sg </a></p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <section class="download-section">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <p class="title">Read our e-brochures:</p>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="row">
                      <div class="download col-xs-12 col-sm-6 col-md-6">
                        <span class="download__desc">Read our Film e-brochure if you are interested to know more.</span>
                        <a href="/assets/images/something.pdf" class="download__button">
                          <div class="download__image"><img src="/images/brochure-1.jpg"></div>
                          <div class="download__title has-match-height">
                            <span class="name">Film e-brochure</span>
                            <div class="icon"><img src="/Cwp/assets/imda/images/icon-download.png"><span>PDF</span></div>
                          </div>
                        </a>
                      </div>
                      <div class="download col-xs-12 col-sm-6 col-md-6">
                        <span class="download__desc">Check out Singapore’s beautiful landscape in our Locations Brochure.</span>
                        <a href="/assets/images/something.pdf" class="download__button">
                          <div class="download__image"><img src="/images/brochure-2.jpg"></div>
                          <div class="download__title has-match-height">
                            <span class="name">Film Locations and Media Services</span>
                            <div class="icon"><img src="/Cwp/assets/imda/images/icon-download.png"><span>PDF</span></div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </section>
      <section class="contact-section">
        <div class="container container--mw1140">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
              <h2 class="title">Contact the SFC</h2>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8">
              <div class="contact-wrapper">
                <div class="row">
                  <div class="col-xs-12 col-sm-7 col-md-7">
                    <div class="contact__image"><img src="/Cwp/assets/imda/images/icon-location.png"></div>
                    <div class="contact__info">
                      <p><strong>Singapore Film Commission Secretariat</strong><br>Infocomm Media Development Authority<br>3 Fusionopolis Way<br>#16-22 Symbiosis<br>Singapore 138633 ​</p>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-5 col-md-5">
                    <div class="contact__image"><img src="/Cwp/assets/imda/images/icon-phone.png"></div>
                    <div class="contact__info bigger"><a href="tel:65 63773 800">(65) 63773 800</a></div>
                    <div class="contact__image"><img src="/Cwp/assets/imda/images/icon-envelope.png"></div>
                    <div class="contact__info bigger"><a href="mailto:SFC@imda.gov.sg">SFC@imda.gov.sg</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
