// featured-stories styles
.featured-stories {
  margin: -120px 0 -69px;
  overflow: hidden;
  position: relative;
  z-index: 1;

  @include desktop {
    margin: -240px 0 -43px;
  }

  h2 {
    font-size: calc-em(24px);
    font-weight: 600;
    line-height: 140%;
    color: $textOffWhite;
    margin: 0 0 16px;
    
    @include desktop {
      margin: 0 0 20px;
      font-size: calc-em(36px);
    }
  }

  &__body {
    margin: 0 -20px;

    @include desktop {
      position: relative;
      margin: 0;
    }

    @media only screen and (min-width: 1560px) {
      margin: 0 -20px;
    }
  }
  
  [data-carousel] {
    padding: 0 72px 0 8px;
    
    @include lgMobile {
      padding: 0 57px 0 8px;
    }

    @include desktop {
      padding: 0 8px;
    }

    &:not(.slick-initialized) {
      display: flex;
    }

    > article {
      flex: 0 0 100%;
      max-width: 100%;
      
      @include tablet {
        flex: 0 0 calc(100% / 3);
        max-width: calc(100% / 3);
      }

      @include desktop {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }
  }

  .slick-list {
    @include desktopMax {
      overflow: visible;
    }
  }

  .imda-carousel__controls {
    [data-carousel-arrows] {
      .slick-arrow {
        background-color: transparent;
        color: #fff;
        font-size: calc-em(38px);
        position: absolute;
        top: calc(50% - 20px);
        z-index: 1;

        &.slick-prev {
          left: -20px;
          
          @media only screen and (min-width: 1560px) {
            left: -40px;
          }
        }
        
        &.slick-next {
          right: -20px;
          
          @media only screen and (min-width: 1560px) {
            right: -40px;
          }
        }
      }
    }
  }

  .thumbnail-card-portrait {
    padding: 0 12px;

    .thumbnail-card-portrait__text {
      h3 {
        font-size: calc-em(22px);
        margin: 0 0 40px;
      }
    }
  }
}