mixin featured-stories(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.featured-stories(class=spec.__class)&attributes(attributes)
    .container
      header.featured-stories__header
        h2=spec.title
      .featured-stories__body
        div(data-carousel)
          each article in spec.articles
            +thumbnail-card-portrait(article)
        .imda-carousel__controls.imda-carousel__controls--stories
          div(data-carousel-arrows)