extends ../_layouts/standard-landing

block append config
  - baseUrl = "../"
  - pageUrl = "/singapore-media-festival"
  - var pageData = site.data.standardLanding.smf
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageHeader = pageData.pageHeader
  - pageItems = pageData.items
  - landingCarousel = true