mixin announcement-card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .annoucement-wrapper(class=spec.__class)&attributes(attributes)
    .announcement-card
      .announcement-image
        img(src="/images/announcement.png" alt="announcement image")
      .announcement-detail
        p.announcement-title The infocomm and media sectors are key sectors in Singapore’s economy
        p.announcement-description Upload once, sell everywhere – that is the tagline for iSyndica, which was set up in May to provide photographers, footage producers and illustrators with a single platform to manage and distribute their portfolio.
        a.announcement-link(href="https://www.google.com.sg" target="_blank") View More
