// annoucement-card styles
.announcement-wrapper {
  display: block;
  width: 100%;
  padding: 10px 20px;
}

.announcement-card {
  display: block;
  background-color: white;

  .announcement-image {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    height: 130px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .announcement-detail {
    display: inline-block;
    vertical-align: middle;
    width: 79%;
    padding: 10px 20px;

    .announcement-title {
      font-weight: $roman;
      font-size: calc-em(20px);
      margin: 0;
      padding-bottom: 10px;
    }

    .announcement-description {
      font-size: calc-em(14px);
      margin: 0;
      padding-top: 10px;
      font-weight: $roman;
      display: inline;
    }

    .announcement-link {
      display: inline;
      color: $purpleOld;
      font-weight: $black;
    }
  }
}

@media only screen and (max-width: $bpTablet - 1) {
  .announcement-card {
    margin-bottom: 40px;

    .announcement-image {
      width: 30%;
      height: 100px;
    }

    .announcement-detail {
      width: 68%;

      .announcement-title {
        font-size: calc-em(17px) !important;
      }

      .announcement-description {
        display: none !important;
      }
    }
  }
}
