include ../../atoms/loading-icon/loading-icon
include ../../molecules/filters-group/filters-group
include ../../molecules/pagination/pagination
include ../../molecules/teaser-card/teaser-card

mixin innovative-tech-listing(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .innovative-tech-listing(data-endpoint="/ajax/innovative-tech-listing.json")
    .container
      .row
        .col-sm-4.col-md-4.col-lg-3.innovative-tech-listing__filters
          +filters-group({
            "fields": [
              {
                "__type": "search",
                "label": "Filter by keyword",
                "id": "keyword",
                "name": "keyword"
              },
              {
                "__type": "checkbox",
                "label": "Type of programme",
                "name": "programmes",
                "options": [
                  {
                    "value": "accredited",
                    "label": "IMDA Accredited"
                  },
                  {
                    "value": "spark",
                    "label": "IMDA Spark"
                  },
                  {
                    "value": "all",
                    "label": "All"
                  }
                ]
              },
              {
                "__type": "checkbox",
                "label": "Industry",
                "name": "industries",
                "options": [
                  {
                    "value": "media",
                    "label": "Media"
                  },
                  {
                    "value": "Technology",
                    "label": "Technology"
                  },
                  {
                    "value": "Telecommunications",
                    "label": "Telecommunications"
                  },
                  {
                    "value": "Postal",
                    "label": "Postal"
                  },
                  {
                    "value": "Financial Services",
                    "label": "Financial Services"
                  },
                  {
                    "value": "Logistics",
                    "label": "Logistics"
                  },
                  {
                    "value": "Retail",
                    "label": "Retail"
                  },
                  {
                    "value": "Security",
                    "label": "Security"
                  },
                  {
                    "value": "Environmental Services",
                    "label": "Environmental Services"
                  },
                  {
                    "value": "Food Services",
                    "label": "Food Services"
                  },
                  {
                    "value": "Wholesale Trade",
                    "label": "Wholesale Trade"
                  },
                  {
                    "value": "all",
                    "label": "All Industries"
                  }
                ]
              }
            ]
          })
        .col-sm-8.col-md-8.col-lg-9.innovative-tech-listing__content
          +loading-icon()
          ul.innovative-tech-listing__list
            //- each item in spec.items
            //-   li
            //-     +snippet-card(item)(class="snippet-card--" + item.color)

          +pagination-js().innovative-tech-listing__pagination

  script#innovativeTechListingTemplate(type="text/x-dot-template")
    | {{?it.length}}
    | {{~it :item:index}}
    li
      +teaser-card-no-date-dot()
    | {{~}}
    | {{??}}
    p.empty-msg Sorry, there is no result. Please try with different filter.
    | {{?}}
