// back-to-top styles
.back-to-top {
  border-radius: 50%;
  background-color: $grey;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.25s ease-in-out;
  position: fixed;
  right: 40px;
  bottom: 126px;
  border: none;
  z-index: 9999;

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  svg {
    path {
      stroke: #fff;
      fill: #fff;
    }
  }
}