mixin back-to-top(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  button.back-to-top(class=spec.__class)&attributes(attributes)
    span.sr-only Back to top
    svg(width="31" height="27" viewBox="0 0 31 27" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(d="M14.8312 26.0768C14.3293 26.0768 13.9266 25.6762 13.9266 25.1769V4.9804C13.9266 4.48118 14.3293 4.08058 14.8312 4.08058C15.333 4.08058 15.7357 4.48118 15.7357 4.9804V25.1708C15.7357 25.67 15.333 26.0706 14.8312 26.0706V26.0768Z" fill="white")
      path(d="M8.16489 10.978C7.93566 10.978 7.70023 10.8917 7.52676 10.7129C7.17362 10.3616 7.17362 9.79463 7.52676 9.44333L14.1807 2.82414C14.5339 2.47284 15.1038 2.47284 15.457 2.82414L22.111 9.44333C22.4641 9.79463 22.4641 10.3616 22.111 10.7129C21.7578 11.0642 21.1878 11.0642 20.8347 10.7129L14.8189 4.72855L8.80303 10.7129C8.62956 10.8917 8.39413 10.978 8.16489 10.978Z" fill="white")
      path(d="M29.0535 0.476196H1.14283C0.577351 0.476196 0.119019 0.886912 0.119019 1.38691C0.119019 1.88691 0.577351 2.29763 1.14283 2.29763H29.0476C29.6131 2.29763 30.0714 1.88691 30.0714 1.38691C30.0714 0.886912 29.6131 0.476196 29.0476 0.476196H29.0535Z" fill="white")
