extends ../_layouts/microsite

include ../_modules/atoms/buttons/buttons
include ../_modules/organisms/page-banner/page-banner
include ../_modules/organisms/standard-content-carousel/standard-content-carousel

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - pageTitle = 'Film Directory'
  - sectionName = 'Industry Support'
  -
    breadcrumbs = [
      {
        "name": "Industry Development",
        "url": "#"
      },
      {
        "name": "Sectors",
        "url": "#"
      },
      {
        "name": "Media",
        "url": "#"
      },
      {
        "name": "Film"
      }
    ]

block content
  <section class="content">
    +page-banner({
      "pageTitle": pageTitle,
      "breadcrumbs": breadcrumbs,
      "sectionName": sectionName,
      "articleDate": "20 December 2017"
    })
    //- <section class="breadcrumb-page resize">
    //-   <div class="container">
    //-     <ul>
    //-       <li><a href="#">Home</a></li>
    //-       <li><a href="#">Industry Development</a></li>
    //-       <li><a href="#">Sectors</a></li>
    //-       <li><a href="#">Media</a></li>
    //-       <li><a href="/film">Film</a></li>
    //-     </ul>
    //-   </div>
    //- </section>
    <div class="scf-wrapper">
      //- .container.container--mw1140
      //-   +standard-content-carousel({
      //-     "items": [
      //-       {
      //-         "image": "/images/standard/landing-1.jpg",
      //-         "title": "What we do",
      //-         "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
      //-         "url": "#"
      //-       },
      //-       {
      //-         "image": "/images/standard/landing-2.jpg",
      //-         "title": "Organisation Structure",
      //-         "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith. An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
      //-         "url": "#"
      //-       },
      //-       {
      //-         "image": "/images/standard/landing-3.jpg",
      //-         "title": "Awards & Certification",
      //-         "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
      //-         "url": "#"
      //-       },
      //-       {
      //-         "image": "/images/standard/landing-4.jpg",
      //-         "title": "Service Standards",
      //-         "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
      //-         "url": "#"
      //-       },
      //-       {
      //-         "image": "/images/standard/landing-5.jpg",
      //-         "title": "Corporate Publications",
      //-         "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
      //-         "url": "#"
      //-       }
      //-     ]
      //-   })

      <section class="film-carousel">
        <div class="container container--mw1140">
          <h1 class="title">Notable Films</h1>
          <div class="carousel row">
            <div class="carousel__item col-xs-12 col-sm-6 col-md-4">
              <a href="/film/detail" class="film">
                <div class="film__image"><img src="/images/notable-1.jpg"></div>
                <div class="film__content has-match-height">
                  <h2 class="film__title">Dance of the Dragon</h2>
                  <span class="film__desc">By Someone</span><span class="film__tag">2017, English, Drama</span>
                  span.right-arrow
                    +right-arrow
                </div>
              </a>
            </div>
            <div class="carousel__item col-xs-12 col-sm-6 col-md-4">
              <a href="/film/detail" class="film">
                <div class="film__image"><img src="/images/notable-2.jpg"></div>
                <div class="film__content has-match-height">
                  <h2 class="film__title">Just Follow Law</h2>
                  <span class="film__desc">By Someone</span><span class="film__tag">2017, English, Drama</span>
                  span.right-arrow
                    +right-arrow
                </div>
              </a>
            </div>
            <div class="carousel__item col-xs-12 col-sm-6 col-md-4">
              <a href="/film/detail" class="film">
                <div class="film__image"><img src="/images/notable-3.jpg"></div>
                <div class="film__content has-match-height">
                  <h2 class="film__title">Anne &amp; Anne</h2>
                  <span class="film__desc">By Someone</span><span class="film__tag">2017, English, Drama</span>
                  span.right-arrow
                    +right-arrow
                </div>
              </a>
            </div>
            <div class="carousel__item col-xs-12 col-sm-6 col-md-4">
              <a href="/film/detail" class="film">
                <div class="film__image"><img src="http://placehold.it/400x200"></div>
                <div class="film__content has-match-height">
                  <h2 class="film__title">Title</h2>
                  <span class="film__desc">By Someone</span><span class="film__tag">2017, English, Drama</span>
                  span.right-arrow
                    +right-arrow
                </div>
              </a>
            </div>
            <div class="carousel__item col-xs-12 col-sm-6 col-md-4">
              <a href="/film/detail" class="film">
                <div class="film__image"><img src="http://placehold.it/400x200"></div>
                <div class="film__content has-match-height">
                  <h2 class="film__title">Title</h2>
                  <span class="film__desc">By Someone</span><span class="film__tag">2017, English, Drama</span>
                  span.right-arrow
                    +right-arrow
                </div>
              </a>
            </div>
            <div class="carousel__item col-xs-12 col-sm-6 col-md-4">
              <a href="/film/detail" class="film">
                <div class="film__image"><img src="http://placehold.it/400x200"></div>
                <div class="film__content has-match-height">
                  <h2 class="film__title">Title</h2>
                  <span class="film__desc">By Someone</span><span class="film__tag">2017, English, Drama</span>
                  span.right-arrow
                    +right-arrow
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="film-directory">
        <form method="post" action="/" id="mainform">
          <div class="container container--mw1140">
            <h1 class="title">Film Directory</h1>
            <a href="#" class="sggd-btn sggd-btn--standard film-directory__button">
              <div class="btn-text"><span>VIEW ALL PRODUCTION COMPANIES</span></div>
              <div class="arrow">
                <div class="arrow-wrapper"><span class="left"></span><span class="right"></span></div>
              </div>
            </a>
            <div class="film-filter">
              <legend class="filter__group filter__group--short">
                <!--label.vh(for='search1') Keyword-->
                <div class="filter__subgroup filter--search">
                  <input type="text" id="search1" name="search" placeholder="Search keyword">
                  <label for="search" class="keyword-search"><span class="vh">Search</span><span class="fa fa-search"></span></label>
                </div>
              </legend>
              <legend class="filter__group">
                <span class="desc">Filter by</span>
                <div class="filter__subgroup">
                  <label for="year1" class="vh"></label>
                  <select type="text" id="year1" name="year" class="filter-select">
                    <option>Year</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                  </select>
                </div>
                <div class="filter__subgroup">
                  <label for="language1" class="vh"></label>
                  <select type="text" id="language1" name="language" class="filter-select">
                    <option>Language</option>
                    <option value="English">English</option>
                    <option value="Chinese">Chinese</option>
                    <option value="Hokkien">Hokkien</option>
                    <option value="Mandarin">Mandarin</option>
                    <option value="Malay">Malay</option>
                    <option value="Tamil">Tamil</option>
                  </select>
                </div>
                <div class="filter__subgroup">
                  <label for="genre1" class="vh"></label>
                  <select type="text" id="genre1" name="genre" class="filter-select">
                    <option>Genre</option>
                    <option value="Drama">Drama</option>
                    <option value="Thriller">Thriller</option>
                  </select>
                </div>
                <div class="filter__subgroup">
                  <label for="feature1" class="vh"></label>
                  <select type="text" id="feature1" name="feature" class="filter-select">
                    <option>Feature Film</option>
                  </select>
                </div>
                <a id="filter-btn" href="#" class="sggd-btn sggd-btn--noicon sggd-btn--gradient cta-card-btn"><span class="btn-text"><span>Filter</span></span></a>
              </legend>
            </div>
            <div data-api="/ajax/film-directory.json" class="film-listing">
              <div class="row">
                <div class="film-listing__item col-xs-12 col-sm-4 col-md-3">
                  <a href="/film/detail" class="film">
                    <div class="film__image"><img src="http://placehold.it/400x200"></div>
                    <div class="film__content has-match-height">
                      <h2 class="film__title">1400</h2>
                      <span class="film__desc">By Someone</span><span class="film__tag">2017, Mandarin / Hokkien / English, Thriller</span>
                    </div>
                  </a>
                </div>
                <div class="film-listing__item col-xs-12 col-sm-4 col-md-3">
                  <a href="/film/detail" class="film">
                    <div class="film__image"><img src="http://placehold.it/400x200"></div>
                    <div class="film__content has-match-height">
                      <h2 class="film__title">A lullaby to the sorrowful mystery</h2>
                      <span class="film__desc">By Someone</span><span class="film__tag">2017, English, Drama</span>
                    </div>
                  </a>
                </div>
                <div class="film-listing__item col-xs-12 col-sm-4 col-md-3">
                  <a href="/film/detail" class="film">
                    <div class="film__image"><img src="http://placehold.it/400x200"></div>
                    <div class="film__content has-match-height">
                      <h2 class="film__title">A yellow bird</h2>
                      <span class="film__desc">By Someone</span><span class="film__tag">2017, Chinese, Thriller</span>
                    </div>
                  </a>
                </div>
                <div class="film-listing__item col-xs-12 col-sm-4 col-md-3">
                  <a href="/film/detail" class="film">
                    <div class="film__image"><img src="http://placehold.it/400x200"></div>
                    <div class="film__content has-match-height">
                      <h2 class="film__title">Ah boys to men: Frogmen 3</h2>
                      <span class="film__desc">By Someone</span><span class="film__tag">2017, English / Mandarin, Drama</span>
                    </div>
                  </a>
                </div>
                <div class="film-listing__item col-xs-12 col-sm-4 col-md-3">
                  <a href="/film/detail" class="film">
                    <div class="film__image"><img src="http://placehold.it/400x200"></div>
                    <div class="film__content has-match-height">
                      <h2 class="film__title">Apprentice</h2>
                      <span class="film__desc">By Someone</span><span class="film__tag">2017, Mandarin / Hokkien / English, Thriller</span>
                    </div>
                  </a>
                </div>
                <div class="film-listing__item col-xs-12 col-sm-4 col-md-3">
                  <a href="/film/detail" class="film">
                    <div class="film__image"><img src="http://placehold.it/400x200"></div>
                    <div class="film__content has-match-height">
                      <h2 class="film__title">Bring back the dead</h2>
                      <span class="film__desc">By Someone</span><span class="film__tag">2017, Mandarin / Hokkien / English, Thriller</span>
                    </div>
                  </a>
                </div>
                <div class="film-listing__item col-xs-12 col-sm-4 col-md-3">
                  <a href="/film/detail" class="film">
                    <div class="film__image"><img src="http://placehold.it/400x200"></div>
                    <div class="film__content has-match-height">
                      <h2 class="film__title">Distance</h2>
                      <span class="film__desc">By Someone</span><span class="film__tag">2017, English, Drama</span>
                    </div>
                  </a>
                </div>
                <div class="film-listing__item col-xs-12 col-sm-4 col-md-3">
                  <a href="/film/detail" class="film">
                    <div class="film__image"><img src="http://placehold.it/400x200"></div>
                    <div class="film__content has-match-height">
                      <h2 class="film__title">King of Mahjong</h2>
                      <span class="film__desc">By Someone</span><span class="film__tag">2017, English, Drama</span>
                    </div>
                  </a>
                </div>
                <div class="film-listing__item col-xs-12 col-sm-4 col-md-3">
                  <a href="/film/detail" class="film">
                    <div class="film__image"><img src="http://placehold.it/400x200"></div>
                    <div class="film__content has-match-height">
                      <h2 class="film__title">Long long time ago 1&amp;2</h2>
                      <span class="film__desc">By Someone</span><span class="film__tag">2017, Chinese, Thriller</span>
                    </div>
                  </a>
                </div>
                <div class="film-listing__item col-xs-12 col-sm-4 col-md-3">
                  <a href="/film/detail" class="film">
                    <div class="film__image"><img src="http://placehold.it/400x200"></div>
                    <div class="film__content has-match-height">
                      <h2 class="film__title">Lucky boy</h2>
                      <span class="film__desc">By Someone</span><span class="film__tag">2017, English / Mandarin, Drama</span>
                    </div>
                  </a>
                </div>
                <div class="film-listing__item col-xs-12 col-sm-4 col-md-3">
                  <a href="/film/detail" class="film">
                    <div class="film__image"><img src="http://placehold.it/400x200"></div>
                    <div class="film__content has-match-height">
                      <h2 class="film__title">Mr Unbelievable</h2>
                      <span class="film__desc">By Someone</span><span class="film__tag">2017, Mandarin / Hokkien / English, Thriller</span>
                    </div>
                  </a>
                </div>
                <div class="film-listing__item col-xs-12 col-sm-4 col-md-3">
                  <a href="/film/detail" class="film">
                    <div class="film__image"><img src="http://placehold.it/400x200"></div>
                    <div class="film__content has-match-height">
                      <h2 class="film__title">My love Sinema</h2>
                      <span class="film__desc">By Someone</span><span class="film__tag">2017, English, Drama</span>
                    </div>
                  </a>
                </div>
              </div>
              <script type="text/x-dot-template" id="filmListing">
                |{{~it.listing :item:index}}
                |<div class="film-listing__item col-xs-12 col-sm-4 col-md-3"><a href="{{=item.link}}" class="film">
                |<div class="film__image"><img src="{{=item.image}}"/></div>
                |<div class="film__content has-match-height">
                |<h2 class="film__title">{{=item.title}}</h2><span class="film__desc">{{=item.desc}}</span><span class="film__tag">{{=item.tag}}</span>
                |</div></a></div>{{~}}
              </script>
            </div>
          </div>
          <div class="pagination">
            <div class="container container--mw1140">
              <div class="pagination__item pagination__item--prev js-prev-page is-hidden">
                <span aria-label="Previous page" class="icon icon-chevron-left"></span>
              </div>
              <ul class="pagination__list">
              </ul>
              <div class="pagination__item pagination__item--next js-next-page">
                <span aria-label="Next page" class="icon icon-chevron-right"></span>
              </div>
            </div>
          </div>
          <div class="container container--mw1140">
            <div class="rte disclaimer">
              <p>All the information provided on this website is provided on an “as is” and “as available” basis and you agree that you use such information entirely at your own risk. The Film Commission gives no warranty and accepts no responsibility or liability for the accuracy or the completeness of the information and materials contained in this website.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </form>
      </section>
    </div>
  </section>
