// content-hub-banner styles
.content-hub-banner {
  position: relative;

  &__image {
    display: block;
    width: 100%;
    height: 596px;
    
    @include desktop {
      height: 729px;
    }

    img {
      @include absolute-img;
      @include image-cover;
    }
  }

  &__text {
    position: absolute;
    top: calc(50% - 60px);  // 60px(half of 120) offset from negative 120px margin of featured stories component
    text-align: center;
    width: 100%;
    padding: 0 40px;
    transform: translate(0, -50%);
    
    @include desktop {
      top: 245px;
      transform: none;
    }

    h1 {
      margin: 0 0 8px;
      font-size: calc-em(36px);
      line-height: 1.2;
      color: $textOffWhite;
      text-shadow: $textGlow1;
      
      @include desktop {
        font-size: calc-em(80px);
        margin: 0 0 12px;
      }
    }
    
    p {
      margin: 0;
      font-weight: 500;
      font-size: calc-em(18px);
      line-height: 140%;
      color: $textOffWhite;
      text-shadow: $textGlow1;

      @include desktop {
        font-size: calc-em(24px);
      }
    }
  }
}