mixin content-hub-banner(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .content-hub-banner(class=spec.__class)&attributes(attributes)
    picture.content-hub-banner__image
      source(srcset=spec.mobileImage, media="(max-width: 1023px)")
      source(srcset=spec.image)
      img(src=spec.image, alt="")
    .content-hub-banner__text 
      h1=spec.title
      p=spec.text
