mixin thumbnail-card-portrait(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  article.thumbnail-card-portrait(class=spec.__class)&attributes(attributes)
    a(href=spec.url)
      //- .thumbnail-card-portrait__header(class= (spec.category !== 'Success stories') ? 'thumbnail-card-portrait__header--teal' : '')
      //-   div
      //-     span.article-category=spec.category
      picture.thumbnail-card-portrait__image
        source(srcset= spec.mobileImage, media="(max-width: 1023px)")
        source(srcset= spec.image)
        img(src=spec.image, alt="")
      .thumbnail-card-portrait__text
        //- .article-details
        //-   span.date.no-mobile=spec.date
        //-   span.readtime #{spec.readtime} min read
        h3=spec.title
        if spec.topics
          ul.article-topics
            each topic in spec.topics
              li #{topic.name}
        span.right-arrow
          +right-arrow