// thumbnail-card-portrait styles
.thumbnail-card-portrait {
  $p: &;
  
  > a {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;

    @include desktop {
      border-radius: 8px;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }

    &:before {
      height: 50%;
      opacity: 0.5;
      z-index: 1;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.556075) 40%, #000000 100%);
    }

    &:after {
      top: 0;
      height: 100%;
      background-color: $textBlack;
      z-index: 3;
    }

    @include hover {
      &:hover {
        #{$p}__header {
          &:before {
            width: calc(100% + 80px);
          }
        }
    
        #{$p}__image img {
          transform: scale(1.1);
        }
      }
    }
  }

  picture {
    display: block;
    @include aspect-ratio(391, 532, 100%);


    img {
      @include absolute-img;
      @include image-cover;
      transition: all 0.5s $easeInOutExpo;
    }
  }

  &__text {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px;
    z-index: 2;
    
    @include desktop {
      padding: 24px;
    }

    h3 {
      font-weight: 600;
      font-size: calc-em(20px);
      line-height: 140%;
      color: #FFFFFF;
      text-shadow: $textGlow1;
      margin: 0;

      @include desktopMax {
        margin: 0 0 28px;
      }

      @include lgDesktop {
        font-size: calc-em(28px);
      }
    }

    ul {
      @include clearfix;
      list-style-type: none;
      padding: 0;
      margin: 16px 0 44px;
      display: none;

      @include desktopMax {
        display: none;
      }
    }

    li {
      font-weight: 500;
      font-size: calc-em(14px);
      line-height: 140%;
      letter-spacing: 0.08em;
      color: #fff;
      text-shadow: $textGlow1;
      display: inline;
      float: left;

      &:after {
        content: '|';
        margin: 0 8px;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }

  // .article-details {
  //   span {
  //     font-weight: 600;
  //     font-size: calc-em(14px);
  //     line-height: 140%;
  //     color: #FFFFFF;
  //     text-shadow: $textGlow1;
  //   }

  //   .date {
  //     & + span {
  //       @include desktop {
  //         display: inline-flex;
  //         align-items: center;

  //         &:before {
  //           content: ' • ';
  //           display: inline-block;
  //           margin: 0 3px;
  //         }
  //       }
  //     }
  //   }

  //   .readtime {
  //     font-weight: 400;
  //   }
  // }

  .right-arrow {
    .arrow-body,
    .arrow-head {
      stroke: #fff;
    }
  }
}