mixin icon-list-box(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.items =  spec.items || 1

  .icon-list-box(class=spec.__class)&attributes(attributes)
    .col-4
      .icon-item
        .item-image
          img(src="/images/ui/tower.png", alt="")
        .item-content
          .item-title
            p
              strong Lorem impusim dolar
          .item-description
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A impedit, voluptas ipsam delectus accusamus ipsa deleniti consectetur tempore obcaecati itaque fuga quidem atque quaerat officiis temporibus architecto numquam quis repellat!
    
    .col-4
      .icon-item
        .item-image
          img(src="/images/ui/tower.png", alt="")
        .item-content
          .item-title
            p
              strong Lorem impusim dolar
          .item-description
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A impedit, voluptas ipsam delectus accusamus ipsa deleniti consectetur tempore obcaecati itaque fuga quidem atque quaerat officiis temporibus architecto numquam quis repellat!
    
    .col-4
      .icon-item
        .item-image
          img(src="/images/ui/tower.png", alt="")
        .item-content
          .item-title
            p
              strong Lorem impusim dolar
          .item-description
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A impedit, voluptas ipsam delectus accusamus ipsa deleniti consectetur tempore obcaecati itaque fuga quidem atque quaerat officiis temporibus architecto numquam quis repellat!
