extends ../_layouts/base

include ../_modules/organisms/page-header/page-header
include ../_modules/organisms/programme-listing/programme-listing

block append config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var pageTitle = "Programmes, Grants, Scholarships and Schemes"
  - var pageDescription = "IMDA drives the growth, competitiveness and innovation of Singapore's information and communication technology (ICT) industry by nurturing local ICT enterprises."
  - var sectionName = "For Industry"
  -
    var breadcrumbs = [
      {
        "name": "For Industry",
        "url": "/industry-support"
      },
      {
        "name": "Programmes, Grants, Scholarships and Schemes"
      }
    ]

block content
  +page-header({
    "pageTitle": pageTitle,
    "description": '',
    "sectionName": '',
    "breadcrumbs": breadcrumbs,
    "image": "/images/standard/banner-img.jpg",
    "mobileImage": "/images/standard/m-banner-img.jpg"
  })

  +programme-listing({
    "pageUrl": "/programme-listing",
    "items": [
      {
        "url": "/industry-support-detail",
        "title": "TechSkills Accelerator",
        "topics": [
          {
            "url": "#",
            "name": "Digital Economy"
          },
          {
            "url": "#",
            "name": "Startups"
          }
        ],
        "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
        "category": "Grants",
        "industry": "Finance",
        "icon": "icon-organisation",
        "target": "For Organisations",
        "color": "orange"
      },
      {
        "url": "/industry-support-detail",
        "title": "CODE@SG Movement - Developing Computational Thinking As A National Capability",
        "topics": [
          {
            "url": "#",
            "name": "Digital Economy"
          },
          {
            "url": "#",
            "name": "Startups"
          }
        ],
        "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
        "category": "Programmes",
        "industry": "Logistics",
        "icon": "icon-individual",
        "target": "For Individuals",
        "color": "rose"
      },
      {
        "url": "/industry-support-detail",
        "title": "Media Manpower Plan",
        "topics": [
          {
            "url": "#",
            "name": "Digital Economy"
          },
          {
            "url": "#",
            "name": "Startups"
          }
        ],
        "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
        "category": "Scholarships",
        "industry": "Media",
        "icon": "icon-individual",
        "target": "For Individuals",
        "color": "green"
      },
      {
        "url": "/industry-support-detail",
        "title": "National Cybersecurity Postgraduate Scholarship",
        "topics": [
          {
            "url": "#",
            "name": "Digital Economy"
          },
          {
            "url": "#",
            "name": "Startups"
          }
        ],
        "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
        "category": "Schemes",
        "industry": "Media",
        "icon": "icon-individual",
        "target": "For Individuals",
        "color": "blue"
      },
      {
        "url": "/industry-support-detail",
        "title": "National Infocomm Competition NIC",
        "topics": [
          {
            "url": "#",
            "name": "Digital Economy"
          },
          {
            "url": "#",
            "name": "Startups"
          }
        ],
        "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
        "category": "Programmes",
        "industry": "Finance",
        "icon": "icon-individual",
        "target": "For Individuals",
        "color": "rose"
      },
      {
        "url": "/industry-support-detail",
        "title": "Infocomm Clubs Programme",
        "topics": [
          {
            "url": "#",
            "name": "Digital Economy"
          },
          {
            "url": "#",
            "name": "Startups"
          }
        ],
        "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
        "category": "Scholarships",
        "industry": "Media",
        "icon": "icon-individual",
        "target": "For Individuals",
        "color" : "green"
      },
      {
        "url": "/industry-support-detail",
        "title": "Infocomm Polytechnic Scholarship",
        "topics": [
          {
            "url": "#",
            "name": "Digital Economy"
          },
          {
            "url": "#",
            "name": "Startups"
          }
        ],
        "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
        "category": "Schemes",
        "industry": "Media",
        "icon": "icon-individual",
        "target": "For Individuals",
        "color": "blue"
      }
    ]
  })
