mixin custom-select(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .custom-select&attributes(attributes)
    label(for= spec.id)= spec.label
    select(name= spec.name, id= spec.id)
      each option in spec.options
        if option.default
          if option.profile
            option(value= option.value selected disabled hidden data-profile=option.profile ? option.profile : "")= option.text
          else
            option(value= option.value selected disabled hidden)= option.text
        else
          if option.profile
            option(value= option.value data-profile=option.profile ? option.profile : "")= option.text
          else 
            option(value= option.value)= option.text
