mixin snippet-card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .snippet-card&attributes(attributes)
    .snippet-card__header
      span.category= spec.category
      span.industry= spec.industry

    .snippet-card__content
      a.snippet-card__title(href= spec.url)
        h3= spec.title
      p.snippet-card__desc= spec.description

      if spec.target
        p.snippet-card__target
          span.icon(class= spec.icon)
          span.label= spec.target

      if spec.topics.length
        each topic in spec.topics
          a.pill(href= topic.url)= topic.name

mixin snippet-card-dot(spec)
  .snippet-card(class="snippet-card--{{=item.color}}")
    .snippet-card__header
      span.category {{=item.category}}

    .snippet-card__content
      a.snippet-card__title(href="{{=item.url}}")
        h3 {{=item.title}}
      p.snippet-card__desc {{=item.description}}

      | {{? item.target}}
      p.snippet-card__target
        span(class="icon {{=item.icon}}")
        span.label {{=item.target}}
      | {{?}}

      | {{? item.topics}}
      | {{~ item.topics :topic:topicIndex}}
      a.pill(href="{{=topic.url}}") {{=topic.name}}
      | {{~}}
      | {{?}}

mixin snippet-card-regulation-dot(spec)
  .snippet-card(class="snippet-card--{{=item.color}}")
    .snippet-card__header
      span.category {{=item.category}}
      span.industry {{=item.industry}}

    .snippet-card__content
      a.snippet-card__title(href="{{=item.url}}")
        h3 {{=item.title}}
      p.snippet-card__desc {{=item.description}}

      | {{? item.target}}
      p.snippet-card__target
        span(class="icon {{=item.icon}}")
        span.label {{=item.target}}
      | {{?}}

      | {{? item.topics}}
      | {{~ item.topics :topic:topicIndex}}
      a.pill(href="{{=topic.url}}") {{=topic.name}}
      | {{~}}
      | {{?}}

mixin snippet-card-newsroom-dot(spec)
  .snippet-card
    .snippet-card__header
      span.category {{=item.type}}
      span.date {{=item.date}}

    .snippet-card__content
      a.snippet-card__title(href="{{=item.url}}")
        h3 {{=item.title}}
      p.snippet-card__desc {{=item.description}}

mixin snippet-card-search-dot(spec)
  .snippet-card
    .snippet-card__header
      span.category {{=item.category}}
      span.industry {{=item.industry}}

    .snippet-card__content
      a.snippet-card__title(href="{{=item.url}}")
        h3 {{=item.title}}
      p.snippet-card__desc {{=item.description}}

      | {{? item.target}}
      p.snippet-card__target
        span(class="icon {{=item.icon}}")
        span.label {{=item.target}}
      | {{?}}

      | {{? item.topics}}
      | {{~ item.topics :topic:topicIndex}}
      a.pill(href="{{=topic.url}}") {{=topic.name}}
      | {{~}}
      | {{?}}
