// snippet-card styles
.snippet-card {
  $p: &;
  background: #fff;
  border-radius: 4px;
  box-shadow: $cardShadow;
  margin-bottom: 10px;
  position: relative;
  transition: box-shadow .25s ease-in-out;

  .pill,
  .btn-tag {
    margin-bottom: 10px;
  }

  &:hover, &:focus {
    box-shadow: $cardShadowHover;
  }

  &--dark-red {
    #{$p}__header {
      .category {
        color: $darkRed;
      }
    }

    #{$p}__title {
      &:hover, &:focus {
        color: $darkRed;
      }
    }
  }

  &--coral {
    #{$p}__header {
      .category {
        color: $coral;
      }
    }

    #{$p}__title {
      &:hover, &:focus {
        color: $coral;
      }
    }
  }

  &--rose {
    #{$p}__header {
      .category {
        color: $rose;
      }
    }

    #{$p}__title {
      &:hover, &:focus {
        color: $rose;
      }
    }
  }

  &--sea-green {
    #{$p}__header {
      .category {
        color: $seaGreen;
      }
    }

    #{$p}__title {
      &:hover, &:focus {
        color: $seaGreen;
      }
    }
  }

  &--grass-green {
    #{$p}__header {
      .category {
        color: $grassGreen;
      }
    }

    #{$p}__title {
      &:hover, &:focus {
        color: $grassGreen;
      }
    }
  }

  &--steel-blue {
    #{$p}__header {
      .category {
        color: $steelBlue;
      }
    }

    #{$p}__title {
      &:hover, &:focus {
        color: $steelBlue;
      }
    }
  }

  &--royal-blue {
    #{$p}__header {
      .category {
        color: $royalBlue;
      }
    }

    #{$p}__title {
      &:hover, &:focus {
        color: $royalBlue;
      }
    }
  }

  &--navy-blue {
    #{$p}__header {
      .category {
        color: $navyBlue;
      }
    }

    #{$p}__title {
      &:hover, &:focus {
        color: $navyBlue;
      }
    }
  }

  &--orange {
    #{$p}__header {
      .category {
        color: $orange;
      }
    }

    #{$p}__title {
      &:hover, &:focus {
        color: $orange;
      }
    }
  }

  &__header {
    @extend %clearfix;
    border-bottom: 1px solid $borderColor;
    padding: 7px 20px;

    .category {
      color: $purple;
      font-size: calc-em(12px);
      font-weight: $heavy;
      letter-spacing: .1em;
      text-transform: uppercase;
    }

    .industry {
      font-size: calc-em(12px);
      font-weight: $heavy;
      letter-spacing: .1em;
      text-transform: uppercase;

      &:before {
        content: "|";
        font-weight: $light;
        margin: 0 10px;
      }
    }

    .date {
      font-size: calc-em(12px);
      float: right;
      margin-top: 3px;
      text-transform: uppercase;
    }
  }

  &__content {
    padding: 20px;

    .btn {
      margin-right: 10px;
    }
  }

  &__title {
    color: $headerColor;
    font-weight: $medium;
    text-decoration: none;

    &:before {
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &:visited {
      color: $visitedLink;
    }

    &:hover, &:focus {
      color: $purple;
    }

    h3 {
      display: inline;
      font-size: calc-em(24px);
      margin: 5px 0 10px;
    }
  }

  &__desc {
    font-weight: $light;
  }

  &__target {
    margin: 10px 0;

    .icon {
      font-size: 0.8em;
    }

    .label {
      font-size: calc-em(14px);
      font-weight: $light;
      margin-left: 5px;
    }
  }
}

@media only screen and (min-width: $bpDesktop) {
  .snippet-card {
    &__target {
      margin: 0;
      position: absolute;
      right: 20px;
      top: 7px;
    }
  }
}
