include ../../molecules/thumbnail-card-portrait/thumbnail-card-portrait

mixin stories-carousel(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.stories-carousel(class=spec.__class)&attributes(attributes)
    .container
      header.stories-carousel__header
        div
          h2 !{spec.title}
          if spec.text
            p=spec.text
      .stories-carousel__body
        div(data-carousel)
          each storyArticle in spec.articles
            +thumbnail-card-portrait(storyArticle)
        .imda-carousel__controls.imda-carousel__controls--stories
          div(data-carousel-arrows)
      .stories-carousel__footer
        +button({
          "url": spec.url,
          "label": spec.label
        })