// stories-carousel styles
.stories-carousel {
  padding: 64px 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: linear-gradient(180deg, #431C53 0%, #702F89 100%);
  
  @include desktop {
    padding: 80px 0 148px;
  }

  &__header {
    margin: 0 0 40px;
    text-align: center;
    
    @include desktop {
      margin: 0 0 48px;
    }

    h2 {
      font-weight: 600;
      font-size: calc-em(26px);
      line-height: 120%;
      color: #fff;
      margin: 0 0 16px;

      &:last-child {
        margin: 0;
      }

      @include desktopMax {
        max-width: 280px;
        margin: 0 auto 20px;
      }

      @include desktop {
        font-size: calc-em(36px);
      }
    }

    p {
      margin: 0 0 24px;
      line-height: 120%;
      color: #fff;
    }
  }

  &__body {
    position: relative;
    
    [data-carousel] {
      width: calc(100% - 80px);
      margin: 0 auto;
      
      @include lgMobile {
        width: calc(100% - 120px);
      }

      @include tablet {
        width: calc(391 / 1240 * 100%);
        max-width: 391px;
      }

      &:not(.slick-initialized) {
        display: flex;
      }
    }
  }

  .slick-list {
    overflow: visible;
  }

  .slick-track {
    max-width: 100%!important;
    transform: translate3d(0, 0, 0)!important;
    perspective: 100px;
  }

  .slick-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    width: 100%!important;
    transform: translate3d(0, 0, 0) scale(0.7570332481);
    transition: transform 0.5s, opacity 0.5s;
    transition-timing-function: ease-in-out;
    pointer-events: none;
  }
  
  .slick-snext,
  .slick-sprev,
  .slick-snext2,
  .slick-sprev2{
    display: block;
  }

  .slick-snext,
  .slick-sprev {
    > a {
      &:before {
        opacity: 0;
      }

      &:after {
        opacity: 0.5;
      }
    }
  }
  
  .slick-snext2,
  .slick-sprev2 {
    > a {
      &:before {
        opacity: 0;
      }
      
      &:after {
        opacity: 0.7;
      }
    }
  }
  
  .slick-current {
    opacity: 1;
    position: relative;
    display: block;
    transform: translate3d(0, 0, 0) scale(1);
    z-index: 2;
    pointer-events: auto;
  }
  
  .slick-snext {
    opacity: 1;
    transform: translate(10.5%, 0) scale(0.9015748031);
    z-index: 1;
    
    @include tablet {
      transform: translate(59%, 0) scale(0.8797953964);
    }
  }
  .slick-snext2 {
    z-index: 0;
    
    @include tablet {
      opacity: 1;
      transform: translate(104%, 0) scale(0.7570332481);
    }
  }
  
  .slick-sprev {
    opacity: 1;
    transform: translate(-10.5%, 0) scale(0.9015748031);
    
    @include tablet {
      transform: translate(-59%, 0) scale(0.8797953964);
    }
  }
  
  .slick-sprev2 {
    @include tablet {
      opacity: 1;
      transform: translate(-104%, 0) scale(0.7570332481);
    }
  }

  &__footer {
    margin: 32px 0 0;
    text-align: center;

    a {
      background-color: transparent;
      border: 1px solid #fff;
    }
  }

  .imda-carousel__controls {
    @include desktop {
      justify-content: flex-start;
    }

    [data-carousel-arrows] {
      .slick-arrow {
        position: absolute;
        top: calc(50% - 20px);
        background-color: transparent;
        
        @include tabletMax {
          font-size: calc-em(24px);
        }

        @include lgMobileMax {
          width: 32px;
          height: 32px;
        }
        
        @include tablet {
          border: 1px solid #fff;
        }

        &.slick-prev {
          left: 0;
          
          @include lgMobileMax {
            left: -12px;
          }
        }
        
        &.slick-next {
          right: 0;
          
          @include lgMobileMax {
            right: -12px;
          }
        }
      }
    }
  }
}