// standard-content styles
.standard-content {
  // background: $background;
  padding: 30px 0 0;

  &__write-up {
    margin-top: 30px;
  }

  .image-card {
    margin-bottom: 20px;
  }

  &:last-child {
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: $bpTablet) {
  .standard-content {
    .image-card {
      margin-bottom: 30px;
    }
  }
}
