// image rte styles
.image-rte {
  $p: &;
  position: relative;
  background-color: #fff;
  
  @include clearfix; 

  &__image {
    width: 100%;
    float: left;
    margin-right: 16px;
    margin-bottom: 16px;

    @include tablet {
      width: 50%;
    }
  
    @include desktop {
      width: 50%;
      margin-bottom: 0;
    }
  }

  &__content {
    line-height: 180%;
    word-wrap: break-word;

    h3 {
      font-weight: 600;
      line-height: 140%;
      margin: 0 0 16px;
      
      @include desktop {
        font-size: calc-em(28px);
      }
    }

    table {
      td {
        vertical-align: top;

        &:first-child {
          white-space: nowrap;
          padding-right: 20px;
        }
      }
    }
  }
}