include ../rte/rte

mixin image-rte(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .image-rte&attributes(attributes)
    .image-rte__image
      img(src= spec.image, alt= spec.title)
    .image-rte__content
      +rte
          | !{spec.content}
