include ../../molecules/rte/rte

mixin accordion-list(spec)
    - spec = spec || {}
    - spec.__class = spec.__class || ''

    .accordion-list
      .accordion-list__header
        .accordion-list__header--title
          h2 Accordion Group Item 1
        .accordion-list__header--buttons
          a.btn.btn--icon.btn-expand(title="Expand")
            span(class="icon icon-plus")
            span(class="label") Expand All
          //- a.btn.btn--icon.btn-collapse(title="Collapse")
          //-   span(class="icon icon-minus")
          //-   span(class="label") Collapse All
      .accordion-list__wrap
        +accordion-item({
          "title": "Accordion No Header 1",
          "__id": "accordion-01"
        })
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, sint? Repudiandae veniam labore velit impedit quos excepturi ex quaerat laudantium.
        +accordion-item({
          "title": "Accordion No Header 2",
          "__id": "accordion-02"
        })
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus reprehenderit ea quibusdam reiciendis quae. Quisquam voluptate modi sint! Beatae, quos?
        +accordion-item({
          "title": "Accordion No Header 3",
          "__id": "accordion-03"
        })
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio minus facere autem fugit nam aut accusamus quisquam excepturi. Temporibus voluptas sit vel reiciendis necessitatibus suscipit facere totam obcaecati natus quas!
    .accordion-list
      .accordion-list__header
        .accordion-list__header--title
          h2 Accordion Group Item 2
        .accordion-list__header--buttons
          a.btn.btn--icon.btn-expand(title="Expand")
            span(class="icon icon-plus")
            span(class="label") Expand All
      .accordion-list__wrap
        +accordion-item({
          "title": "Accordion Item 1",
          "__id": "accordion-04"
        })
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, sint? Repudiandae veniam labore velit impedit quos excepturi ex quaerat laudantium.
        +accordion-item({
          "title": "Accordion Item 2",
          "__id": "accordion-05"
        })
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus reprehenderit ea quibusdam reiciendis quae. Quisquam voluptate modi sint! Beatae, quos?
        +accordion-item({
          "title": "Accordion Item 3",
          "__id": "accordion-06"
        })
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio minus facere autem fugit nam aut accusamus quisquam excepturi. Temporibus voluptas sit vel reiciendis necessitatibus suscipit facere totam obcaecati natus quas!
    .accordion-list
      .accordion-list__header
        .accordion-list__header--title
          h2 
        .accordion-list__header--buttons
          a.btn.btn--icon.btn-expand(title="Expand")
            span(class="icon icon-plus")
            span(class="label") Expand All
      .accordion-list__wrap
        +accordion-item({
          "title": "Accordion Item 1",
          "__id": "accordion-07"
        })
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, sint? Repudiandae veniam labore velit impedit quos excepturi ex quaerat laudantium.
        +accordion-item({
          "title": "Accordion Item 2",
          "__id": "accordion-08"
        })
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus reprehenderit ea quibusdam reiciendis quae. Quisquam voluptate modi sint! Beatae, quos?
            table(style="text-align: center;" class="wraptable")
                thead
                  tr
                    th(style="width: 10%;")  Date
                    th(style="width: 10%;")  Time
                    th(style="width: 50%;") Some head
                tbody
                  tr
                    td 14 Feb 2023 (Tue)
                    td some cell
                    td some cell
                  tr
                    td 8:30 AM – 10:00 AM
                    td some cell
                    td some cell
                  tr
                    td 14 Feb 2023 (Tue)
                    td 8:30 AM – 10:00 AM
                    td(style="vertical-align: top; text-align: left;") 
                      span(style="font-weight: bold;") some cell
                      ol
                        li list item
                        li list item
                        li InvoiceNow
                          ul
                            li What is Invoicenow
                            li Ecosystem
                            li Why should companies based in Singapore use InvoiceNow
                        li list item
                        li list item
                        li list item
                  tr
                    td some cell
                    td some cell
                    td some cell
        +accordion-item({
          "title": "Accordion Item 3",
          "__id": "accordion-09"
        })
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio minus facere autem fugit nam aut accusamus quisquam excepturi. Temporibus voluptas sit vel reiciendis necessitatibus suscipit facere totam obcaecati natus quas!
            .table
              table(style="text-align: center;" class="wraptable")
                thead
                  tr
                    th(style="width: 10%;")  Date
                    th(style="width: 10%;")  Time
                    th(style="width: 50%;") Some head
                tbody
                  tr
                    td 14 Feb 2023 (Tue)
                    td 
                      a some cell
                    td some cell
                  tr
                    td 8:30 AM – 10:00 AM
                    td 
                      a some cell
                    td some cell
                  tr
                    td 14 Feb 2023 (Tue)
                    td 8:30 AM – 10:00 AM
                    td(style="vertical-align: top; text-align: left;") 
                      span(style="font-weight: bold;") some cell
                      ol
                        li list item
                        li list item
                        li InvoiceNow
                          ul
                            li What is Invoicenow
                            li Ecosystem
                            li Why should companies based in Singapore use InvoiceNow
                        li list item
                        li list item
                        li list item
                  tr
                    td some cell
                    td some cell
                    td some cell

                  

mixin accordion-item(spec)
    - spec = spec || {}
    - spec.__class = spec.__class || ''

    .accordion-item(id=spec.__id class=spec.__class)&attributes(attributes)
      a.accordion-title(href="#" + spec.__id)
        if spec.image
          .accordion-title__image
            img(src=spec.image data-profile1=spec.image data-profile2=spec.image2 data-profile3=spec.image3 alt="" )
        span !{spec.title}
        span.icon.icon-angle-down
      .accordion-content(id= spec.id class=spec.__layoutClass)
        +rte()
          if block
              block
          else
              p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit voluptas cum ratione voluptates reprehenderit adipisci omnis quisquam neque earum. Non ut debitis, maiores accusamus iure error id animi voluptate cumque.
