// accordion styles
$separatorColor: #d7d6d6;
$headerBgColor: #f0f0f0;
$headerColor: #6F358D;
$bodyBgColor: #fff;
$expandedHeaderColor: #fff;
$expandedHeaderBgColor: #6F358D;
$headerHoverColor: #6F358D;
$headerHoverBgColor: #d7d6d6;

// accordion styles
.accordion-item {
  > .row {
    // hides the layout content from sitefinity on load before accordion is formed using JS
    display: none;
  }
}
.accordion-list {
  margin-bottom: 30px;

  @include desktop {
    margin-bottom: 60px;
  }

  &__header {
    position: relative;
    min-height: 50px;

    &--buttons {
      position: absolute;
      top: 33%;
      transform: translateY(-50%);
      right: 0;
    }
  }

  .accordion-item {
    margin-bottom: 3px;
    border-top: 1px solid $borderGray;

    > .row {
      // shows the layout content from sitefinity on load after accordion is formed using JS
      display: block;
    }

    .accordion-title {
      background-color: transparent;
      color: $textPurple;
      display: block;
      padding: 24px 100px 24px 36px;
      position: relative;
      text-decoration: none;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 3px;
        z-index: 1;
        background-color: $primaryPurple;
        transition: width 0.35s ease-in-out;
      }
      
      @media only screen and (min-width: $bpDesktop) and (hover: hover) {
        &:hover {
          &:before {
            width: 100%;
          }
        }
      }

      span:first-child {
        font-size: calc-em(18px);
        font-weight: 700;
        transition: all .25s ease-in-out;

        i {
          display: block;
          font-weight: 400;
          color: $grey3;
          font-size: calc-em(13px);
          font-style: normal;
        }
      }

      .icon {
        display: flex;
        // font-size: 1em;
        height: 100%;
        align-items: center;
        position: absolute;
        right: 15px;
        font-size: 1.8em;
        transition: transform .25s ease-in-out;
        top: 0;
        color: #6F358D;
      }
    }

    .accordion-content {
      background-color: $bodyBgColor;
      display: none;
      line-height: 140%;
      color: $textBlack;
      padding: 0px 36px 20px;
      
      p {
        margin-top: 0;
      }
    }

    &.expanding {
      .accordion-title {
        .icon {
          transform: rotate(180deg);
        }
        
        &:before {
          width: 100%;
        }
      }
    }

    &.expanded {
      .accordion-title {
        .icon {
          transform: rotate(180deg);
        }

        &:before {
          width: 100%;
        }
      }
    }
  }
}

.accordion-content {
  > .row {
    > .col-md-3,
    > .col-md-4 {
      padding-right: 24px;

      & + .col-md-8,
      & + .col-md-9 {
        padding-right: 8px;
        padding-left: 24px;
      }

      // Reset for 4-4-4 and 3-3-3-3
      &.col-sm-4,
      &.col-sm-6 {
        padding-right: 8px;
      }

      & ~ .col-md-3,
      & ~ .col-md-4 {
        padding-right: 8px;
      }
      // end of reset block
    }

    > .col-md-8,
    > .col-md-9 {
      padding-right: 24px;

      & ~ .col-md-3,
      & ~ .col-md-4 {
        padding-left: 8px;
        padding-right: 24px;
      }

      & + .col-md-3,
      & + .col-md-4 {
        padding-right: 8px;
        padding-left: 24px;

        &:nth-child(odd) {
          // odd child of 3-9 or 4-8 row
          padding-left: 8px;
          padding-right: 24px;
        }
      }
    }
  }
}

@media only screen and (max-width: $bpTablet - 1) {
  .accordion-list__header--buttons {
    text-align: right;
    margin-bottom: 15px;
    position: relative;
    transform: none;
  }
}