// purplebg-section-wrapper styles
.purplebg-section-wrapper {
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 12px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: $purpleShadow;
  }

  .event-detail-wrapper + & {
    .purplebg-section-wrapper__bg {
      display: none;
    }

    &:before {
      display: none;
    }
    
    .purplebg-section-wrapper__box-wrapper {
      background-color: rgba(76,43,93, 0.4);
    }
  }

  &__box-wrapper {
    background-color: $purple05;
    position: relative;
    padding-top: 60px;
    padding-bottom: 20px;

    & > h2 {
      margin: 0 auto;
      font-weight: 600;
      line-height: 1.4;
      font-size: calc-em(32px);
      padding: 0 30px;
      max-width: $bpLgDesktop;
      
      @include desktop {
        text-align: center;
      }
    }
  }

  .section-header {
    h2.no-desktop {
      @include desktopMax {
        display: block;
      }
    }
    &__header-wrapper {
      margin-bottom: 12px;
    }
  }

  &__bg {
    display: none;

    @include desktop {
      display: block;

      svg {
        position: absolute;
    
        &.trapezium {
          top: 0;
          right: 0px;
          transform: scaleX(-1);
        }
    
        &.triangle {
          bottom: 0;
          left: -110px;
        }
      }
    }
  }

  &__content {
    padding-top: 0px;

    & > section:first-child .container {
      position: relative;
      padding-bottom: 54px;

      &::after {
        content: "";
        display: block;
        width: calc(100% - 40px);
        height: 1px;
        border-bottom: 1px solid $borderGray;
        position: absolute;
        bottom: 0;
        left: 20px;
      }
    }

    & > section:last-child .container {
      padding-bottom: 54px;
      &::after {
        content: none;
      }
    }
    
    .cta {
      margin-top: 30px !important;
    }
  }
}