mixin purplebg-section-wrapper(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .purplebg-section-wrapper(class=spec.__class)&attributes(attributes)
    .purplebg-section-wrapper__box-wrapper
      h2 Explore more
      .purplebg-section-wrapper__bg 
        svg.trapezium(width="54" height="238" viewBox="0 0 54 238" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M-91 236L53 159.291V-344.486L-91 -423V236Z" stroke="#ECD1E0" stroke-width="1.5" stroke-miterlimit="10")
        svg.triangle(width="188" height="105" viewBox="0 0 188 105" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M284 317L143.033 3.00001L1.99997 317L284 317Z" stroke="#E2D5E8" stroke-width="2" stroke-miterlimit="10")
      .purplebg-section-wrapper__content
        if block 
          block