extends ../_layouts/standard-detail

block append config
  - pageUrl = "/standard-listing"
  - var pageData = site.data.standardDetail.newsDetail
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts
  - nextArticle = pageData.nextArticle

block detailContent
  +video-player({
    "videoId": "L209rWk_0TY",
    "image": "/images/detail/gallery-1.jpg",
    "title": "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, quibusdam."
  })

  +highlight-card({
    "image": "/images/detail/highlight-1.jpg",
    "title": "Section Highlight",
    "content": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio!"
  })
