extends ../_layouts/standard-listing

block append config
  - pageUrl = "/standard-listing"
  - var pageData = site.data.standardListing.sectors
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageHeader = pageData.pageHeader
  - pageItems = pageData.items

block detailContent
  p
