extends ../_layouts/standard-listing

block append config
  - pageUrl = "/technology-innovation"
  - var pageData = site.data.standardListing.technologyInnovation
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageHeader = pageData.pageHeader
  - pageItems = pageData.items
  - callToAction = pageData.callToAction

block beforeListContent
  +standard-content()
    +rte()
      h2 Overview

      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem laudantium, dolor, neque eum, exercitationem recusandae aliquam ea sapiente molestias sunt nesciunt maxime dolores? Ullam vel vitae fuga corporis odit impedit.

      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor omnis fuga dolorum similique aut. Temporibus, delectus accusantium nostrum maxime reprehenderit voluptatibus nemo tempore quasi dolores itaque repellat perspiciatis voluptates. Aliquam, distinctio tempore in fugiat excepturi sint accusamus! Culpa, animi? Praesentium laudantium molestiae amet, soluta nisi eos minima ex debitis quisquam?

      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas laudantium nostrum dolor nihil accusamus vel perspiciatis officia, accusantium, quasi impedit assumenda natus hic. Deserunt voluptate non nesciunt iste sunt. Dolorem.
