extends ../_layouts/base

include ../_modules/molecules/rte/rte
include ../_modules/molecules/event-speaker-card/event-speaker-card
include ../_modules/molecules/cta-banner/cta-banner
include ../_modules/molecules/purplebg-section-wrapper/purplebg-section-wrapper
include ../_modules/organisms/anchor-nav/anchor-nav
include ../_modules/organisms/event-details-banner/event-details-banner
include ../_modules/organisms/event-details-section/event-details-section
include ../_modules/organisms/event-speakers/event-speakers
include ../_modules/organisms/event-card-carousel/event-card-carousel
include ../_modules/organisms/text-carousel/text-carousel
include ../_modules/organisms/related-posts/related-posts

block append stylesheets

block append scripts

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - pageTitle = 'Event Details'
  - darkMode = true
//- block breadcrumb
  //- +breadcrumb()

//- block banner
  //- +banner()

block content
  +event-details-banner({
    "bg": "/images/news/news-1.jpg",
    "image": "/images/news/news-1.jpg",
    "signature": true,
    "startTime": "May 5, 2023 15:00:00",
    "type": "Event",
    "title": "Asia Tech x Inspire",
    "text": "The Age of Immersive Experience with AI",
    "datetime": "26 FEB 2023<br/>11:00 am - 12:30pm (SGT)<br/>2:00 pm - 3:30pm (SGT)",
    "location": "IMDA, 10 Pasir Panjing Road, Mapletree Business City",
    "urlText": "www.asiatechinspire.com",
    "url": "https://www.asiatechinspire.com"
  })
  
  .event-detail-wrapper
    +anchor-nav-events({
      "items": [
        {
          "url": "#about",
          "name": "About"
        },
        {
          "url": "#keyTakeaways",
          "name": "Key takeaways"
        },
        {
          "url": "#speakersExperts",
          "name": "Speakers & experts"
        },
        {
          "url": "#qasession",
          "name": "Q&A session"
        },
        {
          "url": "#participatingEvents",
          "name": "Participating events"
        },
        {
          "url": "#highlights",
          "name": "Highlights from previous years"
        }
      ]
    })
    .container
      +event-details-section({
        "title": "About"
      })#about
        +rte()
          p Welcome to Asia Tech x Inspire, the ultimate event for tech enthusiasts and innovators! Join us for a dynamic and insightful gathering where experts from the tech industry will share their experiences, knowledge, and predictions on the latest trends and innovations in the tech world.

          p About the Session: Our event aims to provide a unique opportunity for attendees to gain a deeper understanding of the latest tech advancements and the impact they have on the world around us. With thought-provoking sessions and expert-led discussions, you'll have the chance to explore the most significant trends in the industry and network with like-minded individuals.

          p ATxInspire provides a platform for attendees to learn, collaborate, and grow. Whether you're a seasoned professional or just starting out, ATxInspire offers something for everyone who's looking to take their career or business to the next level.

          p Don't miss out on this incredible opportunity to learn, connect, and grow at Asia Tech x Inspire! Register now to secure your spot and join us for an unforgettable event.

      +event-details-section({
        "title": "Key takeaways"
      })#keyTakeaways
        +rte()
          p At Asia Tech x Inspire, we believe that knowledge is power, and we want to ensure that you leave our event with a wealth of information and actionable insights. Our key takeaways session will provide a comprehensive summary of the key themes, trends, and ideas discussed during the event. This session is designed to help you reflect on what you've learned and leave with a clear understanding of how to apply these insights in your own work.

        +text-carousel({
          "textBlocks": [
            {
              "title": "Session 1: The Future of AI",
              "text": "<ul><li>The latest trends and innovations in the field of artificial intelligence</li><li>How AI is transforming various industries, including healthcare, finance, and transportation</li><li>The ethical implications of AI and how to ensure responsible use</li></ul>"
            },
            {
              "title": "Session 2: The Future of AI",
              "text": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nemo vitae sit cum nam velit laborum commodi. Beatae repellendus harum fugit iure maiores ducimus. Amet quae distinctio illum voluptate excepturi?Quia commodi eos eius ex quam cupiditate itaque dolorum, magni fugiat voluptatem iure alias cumque, sunt sed tenetur odio magnam a non aliquid dolor ipsam. Ipsa beatae quidem accusantium saepe?</p>"
            },
            {
              "title": "Session 3: The Future of AI",
              "text": "<ul><li>The latest trends and innovations in the field of artificial intelligence</li><li>How AI is transforming various industries, including healthcare, finance, and transportation</li><li>The ethical implications of AI and how to ensure responsible use</li></ul>"
            },
            {
              "title": "Session 4: The Future of AI",
              "text": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ut excepturi molestiae minima soluta, consequatur omnis praesentium mollitia commodi. Repellat totam, debitis quod consectetur odio alias aliquam quasi quam fugiat.</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis iste accusamus repellat quas nam doloribus vel commodi, fugit in possimus nostrum voluptates nemo natus. Error eos necessitatibus tenetur eveniet maxime.</p>"
            }
          ]
        })

      +event-details-section({
        "title": "Speakers & experts"
      })#speakersExperts
        +rte()
          p Our event will feature a lineup of experts and thought leaders from the tech industry who will share their experiences and insights. Our speakers and experts are innovators in their respective fields, and they'll offer unique perspectives on the latest trends and innovations in tech. You'll have the opportunity to learn from the best and connect with industry leaders who are shaping the future of tech.

        +event-speakers({
          "speakers": [
            {
              "image": "/images/speaker1.png",
              "name": "John Smith",
              "designation": "Founder and CEO of a prominent AI startup",
              "text": "With over 10 years of experience in the field of artificial intelligence, John has led his company to develop cutting-edge solutions for businesses across a range of industries. He has been featured in Forbes, TechCrunch, and other leading publications."
            },
            {
              "image": "/images/speaker2.png",
              "name": "Dr. Sarah Chen",
              "designation": "Professor of Computer Science at a top-ranked university",
              "text": "Dr. Lee's research focuses on machine learning and data mining, and she has published numerous papers in top-tier academic journals. She is also a sought-after speaker and has given talks at conferences around the world."
            },
            {
              "image": "/images/speaker3.png",
              "name": "Alex Rodriguez",
              "designation": "Founder of a blockchain startup",
              "text": "Alex is a thought leader in the field of blockchain technology, and has been instrumental in developing innovative applications of the technology in industries ranging from finance to healthcare. He is also a frequent contributor to leading tech publications."
            },
            {
              "image": "/images/speaker1.png",
              "name": "John Smith",
              "designation": "Founder and CEO of a prominent AI startup",
              "text": "With over 10 years of experience in the field of artificial intelligence, John has led his company to develop cutting-edge solutions for businesses across a range of industries. He has been featured in Forbes, TechCrunch, and other leading publications."
            },
            {
              "image": "/images/speaker2.png",
              "name": "Dr. Sarah Chen",
              "designation": "Professor of Computer Science at a top-ranked university",
              "text": "Dr. Lee's research focuses on machine learning and data mining, and she has published numerous papers in top-tier academic journals. She is also a sought-after speaker and has given talks at conferences around the world."
            },
            {
              "image": "/images/speaker3.png",
              "name": "Alex Rodriguez",
              "designation": "Founder of a blockchain startup",
              "text": "Alex is a thought leader in the field of blockchain technology, and has been instrumental in developing innovative applications of the technology in industries ranging from finance to healthcare. He is also a frequent contributor to leading tech publications."
            }
          ]
        })

      +event-details-section({
        "title": "Q&A session"
      })#qasession
        +rte()
          p At Asia Tech x Inspire, we want to encourage an open and inclusive discussion. Our Q&A session will provide an opportunity for attendees to engage with our speakers and experts and ask any questions they may have. Whether you're looking for insights on the latest tech trends or seeking advice on how to navigate the industry, our Q&A session is the perfect opportunity to get your burning questions answered.

          p Here are some tips to help you get the most out of the Q&A session:

          ul
            li Come prepared with your most pressing questions about the latest trends and challenges in the tech industry
            li Be respectful of the time and expertise of our expert panelists by keeping your questions concise and focused
            li Take notes during the session to help you remember key insights and takeaways

      +event-details-section({
        "title": "Participating events"
      })#participatingEvents
        +event-card-carousel({
          "events": [
            {
              "url": "#",
              "image": "/images/news/news-5.jpg",
              "signature": true,
              "whiteLabel": true,
              "type": "Event",
              "date": "6-21 Mar 2023",
              "title": "TechSkills Accelerator",
              "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
            },
            {
              "url": "#",
              "image": "/images/news/sky-is-limit.jpg",
              "signature": true,
              "type": "Event",
              "date": "6-21 Mar 2023",
              "title": "National Cybersecurity Postgraduate Scholarship",
              "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
            },
            {
              "url": "#",
              "image": "/images/news/news-1.jpg",
              "signature": false,
              "type": "Event",
              "date": "6-21 Mar 2023",
              "title": "Industry Preparation for Pre-graduate (iPREP) Programme",
              "description": "A Smart Nation of the future.",
            }
          ]
        })

      +event-details-section({
        "title": "Highlights from previous years"
      })#highlights
        +cta-banner({
          "signature": true,
          "whiteLabel": true,
          "title": "Asia Tech x Inspire 2022",
          "image": "/images/cta-banner-events1.jpg",
          "cta": {
            "url": "/endorsed-companies",
            "name": "Learn more"
          }
        }).cta-banner--event

        +cta-banner({
          "signature": true,
          "title": "Asia Tech x Inspire 2021",
          "image": "/images/cta-banner-events2.jpg",
          "cta": {
            "url": "/endorsed-companies",
            "name": "Learn more"
          }
        }).cta-banner--event

  +purplebg-section-wrapper().purplebg-section-wrapper--events
    +related-posts({
      "type": "event",
      "items": [
        {
          "url": "#",
          "image": "/images/news/news-5.jpg",
          "signature": true,
          "whiteLabel": true,
          "type": "Event",
          "date": "6-21 Mar 2023",
          "title": "TechSkills Accelerator",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
        },
        {
          "url": "#",
          "image": "/images/news/sky-is-limit.jpg",
          "signature": true,
          "type": "Event",
          "date": "6-21 Mar 2023",
          "title": "National Cybersecurity Postgraduate Scholarship",
          "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
        },
        {
          "url": "#",
          "image": "/images/news/news-1.jpg",
          "signature": false,
          "type": "Event",
          "date": "6-21 Mar 2023",
          "title": "Industry Preparation for Pre-graduate (iPREP) Programme",
          "description": "A Smart Nation of the future.",
        }
      ]
    })