// image-link styles
.image-link {
  $p: &;
  margin: 0 0 20px;
  
  @include desktop {
    margin: 0 0 30px;
  }

  @include hover {
    &:hover {
      #{$p}__image {
        &:before {
          width: 100%;
        }
      }
    }
  }
  
  &__image {
    border-bottom: 1px solid $borderGray2;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -4px;
      width: 24px;
      height: 3px;
      background-color: $primaryPurple;
      transition: width 0.35s ease-in-out;

      @include nohover {
        width: 100%;
      }
    }

    img {
      margin: auto;
    }
  }

  &__content {
    padding: 22px 0px;
    word-wrap: break-word;

    p {
      font-size: calc-em(20px);
      font-weight: 600;
      line-height: 140%;
      color: $textBlack;
      margin: 0 0 14px;
    }
  }
}
