mixin image-link(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .image-link&attributes(attributes)
    .image-link__image
      img(src= spec.image, alt= spec.title)
    .image-link__content
      p!= spec.header ? spec.header : spec.description
      if (spec.header)
        span!= spec.description
      if (spec.url)
          +button({
            "url": "#",
            "label": "Learn more"
          }).btn-primary--inverse
