extends ../_layouts/microsite

include ../_modules/organisms/page-banner/page-banner
include ../_modules/molecules/social-share/social-share

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - pageTitle = 'Royston Tan | Producer'
  - sectionName = 'Industry Development'
  -
    breadcrumbs = [
      {
        "name": "Industry Development",
        "url": "#"
      },
      {
        "name": "Sectors",
        "url": "#"
      },
      {
        "name": "Media",
        "url": "#"
      },
      {
        "name": "Film"
      }
    ]

block content
  <section class="content">
    +page-banner({
      "pageTitle": pageTitle,
      "breadcrumbs": breadcrumbs,
      "sectionName": sectionName,
      "articleDate": "20 December 2017"
    })
    <section class="page-title resize">
      <div class="container">
        <h1>Industry Development</h1>
      </div>
    </section>
    <section class="content">
      <section class="article resize">
        <div class="container">
          +social-share().social-share--horizontal
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <p>While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space. It is those feelings that drive our love of astronomy and our desire to learn more and more about it.</p>
              <p>The thing that is most exciting about studying the universe is also the most frustrating and that is that no matter how expert we get, we are always just getting started. But if it’s any consolation, some of the most advanced minds in science and from history always felt that way about space. Even the greats such as Copernicus and Einstein looked up into space and felt like they were just a spec in the presence of such infinity.</p>
              <section class="widget-3-columns">
                <div class="row">
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="widget-image-text widget-image-text--long-image">
                      <img src="/images/fact1.jpg" class="image">
                      <div class="text"><strong>MILLIONS</strong>&nbsp;
                        of cinema visitors in Singapore in 2016
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="widget-image-text">
                      <img src="/images/fact2.jpg" class="image">
                      <div class="text"><strong>SEATING CAPACITY</strong>&nbsp;for all cinemas in Singapore in 2016</div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <a href="#" class="sggd-btn sggd-btn--gradient sggd-btn--standard scf-btn">
                      <div class="btn-text"><span>Download full overview</span></div>
                      <span class="fa fa-file-pdf-o"></span>
                    </a>
                  </div>
                </div>
              </section>
              <h4>Key global industry figures in Singapore</h4>
              <p>With acknowledgement to “Latent Images – Film in Singapore” by Jan Uhde and Yvonne Ng Uhde (Second Edition, 2010), as well as producers, distributors and the Cinematograph Film Exhibitors Association.</p>
              <section class="widget-3-columns">
                <div class="row">
                  <div class="col-xs-12 col-sm-4 col-md-4 keyindustry">
                    <div class="download">
                      <a href="/assets/images/something.pdf" class="download__button">
                        <div class="download__title has-match-height">
                          <span class="name">Box Office Information for Singapore Films from 1991</span>
                          <div class="icon"><img src="/Cwp/assets/imda/images/icon-download.png"><span>PDF</span></div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4 keyindustry">
                    <div class="download">
                      <a href="/assets/images/something.pdf" class="download__button">
                        <div class="download__title has-match-height">
                          <span class="name">Singapore’s Top 5 Grossing Movies of All Time</span>
                          <div class="icon"><img src="/Cwp/assets/imda/images/icon-download.png"><span>PDF</span></div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4 keyindustry">
                    <div class="download">
                      <a href="/assets/images/something.pdf" class="download__button">
                        <div class="download__title has-match-height">
                          <span class="name">Singapore's Top 10 Grossing Movies by Year from 2003</span>
                          <div class="icon"><img src="/Cwp/assets/imda/images/icon-download.png"><span>PDF</span></div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4 keyindustry">
                    <div class="download">
                      <a href="/assets/images/something.pdf" class="download__button">
                        <div class="download__title has-match-height">
                          <span class="name">Cinema Attendance in Singapore from 1990</span>
                          <div class="icon"><img src="/Cwp/assets/imda/images/icon-download.png"><span>PDF</span></div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4 keyindustry">
                    <div class="download">
                      <a href="/assets/images/something.pdf" class="download__button">
                        <div class="download__title has-match-height">
                          <span class="name">Number of Cinema Screens and Capacity in Singapore from 1998, also by Exhibitor</span>
                          <div class="icon"><img src="/Cwp/assets/imda/images/icon-download.png"><span>PDF</span></div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </section>
    </section>
  </section>
