include ../../atoms/loading-icon/loading-icon
include ../../molecules/snippet-card/snippet-card
include ../../molecules/filters-group/filters-group
include ../../molecules/pagination/pagination
include ../../molecules/teaser-card/teaser-card

mixin newsroom(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .newsroom(data-endpoint="/ajax/newsroom.json")
    .container
      .row
        .col-sm-4.col-md-4.col-lg-3.newsroom__filters
          +filters-group({
            "fields": [
              {
                "__type": "select",
                "label": "I am a",
                "id": "support",
                "name": "support",
                "options": [
                  {
                    "value": "organisations",
                    "text": "Business",
                    "profile": "profile1"
                  },
                  {
                    "value": "students",
                    "text": "Student/Professional",
                    "profile": "profile2"
                  },
                  {
                    "value": "individuals",
                    "text": "Member of Public/Senior",
                    "profile": "profile3"
                  }
                ]
              },
              {
                "label": "Filter by type",
                "id": "type",
                "name": "type",
                "__type": "select",
                "options": [
                  {
                    "value": "media",
                    "text": "Media Releases"
                  },
                  {
                    "value": "speeches",
                    "text": "Speeches"
                  }
                ]
              },
              {
                "label": "Filter by year",
                "id": "year",
                "name": "year",
                "__type": "select",
                "options": [
                  {
                    "value": "2019",
                    "text": "2019",
                    "categories": ["media"]
                  },
                  {
                    "value": "2018",
                    "text": "2018",
                    "categories": ["speeches"]
                  },
                  {
                    "value": "2017",
                    "text": "2017",
                    "categories": ["speeches"]
                  },
                  {
                    "value": "2017",
                    "text": "2017",
                    "categories": ["media"]
                  },
                  {
                    "value": "2016",
                    "text": "2016",
                    "categories": ["media","speeches"]
                  },
                  {
                    "type":"link",
                    "value": "/programme-listing",
                    "text": "Home",
                    "categories": ["speeches"]
                  }
                ]
              }
            ]
          })

        .col-sm-8.col-md-8.col-lg-9.newsroom__content
          +loading-icon()
          ul.newsroom__list

          +pagination-js().newsroom__pagination

  script#newsroomTemplate(type="text/x-dot-template")
    |{{? it.length}}
    |{{~ it :item:index}}
    li
      +teaser-card-newsroom-dot()
    |{{~}}
    |{{??}}
    p.empty-msg Sorry, there is no result. Please try with different filter.
    |{{?}}
