mixin dropdown-nav(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  nav.dropdown-nav&attributes(attributes)
    ul
      - var activeClass
      each item in spec.items
        - activeClass = (item.isActive) ? 'active' : ''
        li(class= activeClass)
          a(href= item.url)= item.name
