// dropdown-nav styles
.dropdown-nav {
  display: inline-block;
  position: relative;
  min-width: 200px;

  &.list-shown {
    .dropdown-nav__trigger {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    ul {
      opacity: 1;
      transform: scale(1);
      visibility: visible;
    }

    .icon {
      transform: rotate(180deg);
    }
  }

  &__trigger {
    background: #fff;
    border: 0;
    border-radius: 8px;
    border: 1px solid $purple40;
    color: $primaryPurple;
    font-size: calc-em(18px);
    font-weight: $medium;
    padding: 10px 50px 10px 10px;
    position: relative;
    text-align: left;
    width: 100%;

    @include tabletMax {
      font-size: calc-em(16px);
    }

    &:hover, &:focus {
      background: lighten($background, 4%);
      box-shadow: $purpleShadow;
    }

    .icon {
      align-items: center;
      display: flex;
      color: $primaryPurple;
      font-size: calc-em(8px, 18px);
      height: 100%;
      justify-content: center;
      position: absolute;
      width: 48px;
      right: 0;
      text-align: center;
      top: 0;
      transition: transform .25s ease-in-out; 
    }
  }

  ul {
    @extend %list-unstyled;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: $textGlow1;
    max-height: 350px;
    opacity: 0;
    overflow: auto;
    position: absolute;
    // MOZ
    scrollbar-color: $primaryPurple $lightPurple;
    scrollbar-width: thin;
    // IE 11
    scrollbar-face-color: $primaryPurple;
    scrollbar-track-color: $lightPurple;
    transform: scale(0.5);
    transition: transform .25s $easeInOutExpo, opacity .25s ease-in-out, visibility .25s ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: 8;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      background: $lightPurple;
    }

    &::-webkit-scrollbar-thumb {
      background: $primaryPurple;
      border-radius: 5px;
    }

    li {
      &.active {
        a {
          background: $purple10;
          color: $primaryPurple;
          padding-right: 45px;

          &::after { 
            content: "\e90e";
            font-family: icomoon !important;
            font-weight: 400;
            text-align: right;
            position: absolute;
            right: 20px;
          }
        }
      }

      a {
        background: #fff;
        border: 0;
        color: $darkGrey2;
        display: block;
        font-size: calc-em(16px);
        font-weight: 600;
        padding: 12px 10px;
        text-align: left;
        text-decoration: none;
        width: 100%;

        @include tabletMax {
          font-size: calc-em(14px);
        }

        &:hover, &:focus {
          background: $purple10;
          color: $primaryPurple;
        }
      }
    }
  }
}

@media only screen and (max-width: $bpTablet - 1) {
  .dropdown-nav {
    display: block;
  }
}
