mixin accordion(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .accordion
    each item, index in spec.items
      .accordion-group
        a.accordion-title(href="#" + spec.name + '-' + index)
          span.label= item.title
          span.icon.icon-angle-down
        .accordion-content(id= spec.name + '-' + index)
          != item.content
