// accordion styles
.accordion {
  .accordion-group {
    margin-bottom: 10px;

    .accordion-title {
      background: $background;
      border-left: 4px solid $purple;
      border-radius: 4px;
      color: $purple;
      display: block;
      padding: 15px 20px;
      position: relative;
      text-decoration: none;
      transition: all .25s ease-in-out;

      &:hover, &:focus {
        background: darken($background, 10%);
      }

      .label {
        font-size: calc-em(24px);
        font-weight: $medium;
      }

      .icon {
        align-items: center;
        display: flex;
        font-size: 1.8em;
        height: 100%;
        justify-content: center;
        position: absolute;
        right: 15px;
        transition: all .25s ease-in-out;
        top: 0;
        vertical-align: middle;
      }
    }

    .accordion-content {
      display: none;
      padding: 20px;
    }

    &.expanding {
      .accordion-title {
        background: $purple;
        color: #fff;

        .icon {
          transform: rotate(180deg);
        }
      }
    }
  }
}
