extends ../_layouts/base

include ../_modules/organisms/page-banner/page-banner
include ../_modules/organisms/digitalsol-listing/digitalsol-listing

block append config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var pageTitle = "Digital Solutions List for COVID-19"
  - var sectionName = "For Industry"
  -
    var breadcrumbs = [
      {
        "name": "For Industry",
        "url": "/standard-landing"
      },
      {
        "name": "Digital Solutions List for COVID-19"
      }
    ]

block content
  +page-banner({
    "pageTitle": pageTitle,
    "breadcrumbs": breadcrumbs,
    "sectionName": sectionName
  })

  +digitalsol-listing()
