// event-details-section styles
.event-details-section {
  @include desktopMax {
    margin: 0 -30px;
  }

  @include desktop {
    margin: 0 0 70px;
  }

  &.active {
    > header {
      @include desktopMax {
        background-color: $darkPurple40;
      }

      .icon {
        transform: scaleY(-1);
      }
    }
  }

  &:last-child {
    > header {
      @include desktopMax {
        border-bottom: 1px solid #fff;
      }
    }
  }

  > header {
    @include desktopMax {
      padding: 32px 30px;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #fff;
      transition: background-color 0.25s ease-in-out;
    }

    @include desktop {
      margin: 0 0 24px;
      pointer-events: none;
    }

    h2 {
      font-weight: 600;
      font-size: calc-em(20px);
      line-height: 140%;
      margin: 0;
      
      @include desktop {
        font-size: calc-em(30px);
      }
    }

    .icon {
      font-size: calc-em(7px, 20px);
      margin: 0;
      transition: all 0.25s ease-in-out;

      @include desktop {
        display: none;
      }
    }
  }

  > div {
    padding: 35px 30px 60px;
    
    @include desktop {
      padding: 0;
      display: block !important;
    }
  }
}