mixin event-details-section(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.event-details-section(class=spec.__class)&attributes(attributes)
    header
      h2=spec.title
      span.icon.icon-chevron-down
    div(style="display: none;")
      block
