// testimonial-item styles
.testimonial-item {
  .testimonial-content {
    p {
      font-family: $font-family;
      font-size: calc-em(18px);
      font-weight: $roman;
    }
  }

  .testimonial-author-detail {
    .author-name {
      font-family: $font-family;
      font-size: calc-em(21px);
      font-weight: $black;
      text-decoration: none;
    }

    .author-title {
      font-family: $font-family;
      font-size: calc-em(15px);
      font-weight: $roman;
    }
  }
}

@media only screen and (max-width: $bpTablet - 1) {
  .testimonial-item {
    .testimonial-content {
      p {
        font-size: calc-em(14px) !important;
      }
    }

    .testimonial-author-detail {
      .author-name {
        font-size: calc-em(17px);
      }

      .author-title {
        font-size: calc-em(14px);
      }
    }
  }
}
