mixin testimonial-item(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.name = spec.name || ''

  .testimonial-item(class=spec.__class)&attributes(attributes)
    .testimonial-author-detail
      a(href="https://www.google.com.sg" target="_blank").author-name=spec.name
      p.author-title
    .testimonial-avatar
      img(src="/images/avatar.jpg")
    .testimonial-content
      p <a href="https://www.google.com.sg" target="_blank">Lorem ipsum dolor sit</a> "amet consectetur adipisicing elit. Voluptate quasi facilis ipsam, magnam laborum optio rem eius aperiam qui animi? Illum rerum asperiores beatae error harum quasi dolorem, ut sit."

