include ../../atoms/buttons/buttons

mixin film-listing(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  //
    Params passed to BE:
    - itemsperpage
    - page
    - search
    - year
    - language
    - genre
    - feature
  .film-listing(class=spec.__class, data-api='/api/filmDirectory')&attributes(attributes)
    .row
        each item in site.data.directory
          .film-listing__item.col-xs-12.col-sm-4.col-md-3
            +film(item)
      script(type='text/x-dot-template', id='filmListing')
        | {{~it.listing :item:index}}
        .film-listing__item.col-xs-12.col-sm-4.col-md-3
            a.film(href='{{=item.link}}')
              .film__image
                img(src='{{=item.image}}')
              .film__content.has-match-height
                h2.film__title {{=item.title}}
                span.film__desc {{=item.desc}}
                span.film__tag {{=item.tag}}
                span.right-arrow
                  +right-arrow
        | {{~}}

