// event styles
.event {
  margin-bottom: 15px;
  display: block;
  position: relative;
  text-decoration: none;

  &:before {
    content: '';
    display: block;
    background: $bgLightGreyOld;
    position: absolute;
    top: -10px;
    right: 0;
    left: -5px;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease-in-out;
  }

  &:hover:before {
    transform: scaleX(1);
  }

}

.event__date {
  width: 3em;
  padding-top: 2px;
  margin-right: 0.5em;
  position: relative;
  padding-left: 5px;

  .date,
  .month {
    display: block;
    text-transform: uppercase;
    line-height: 1;
  }

  .date {
    font-size: calc-em(32px);
    color: $pinkOld;
    margin-top: 5px;
  }
}

.event__desc {
  width: calc(100% - 4em);
  position: relative;

  .title {
    margin: 0;
    line-height: 1.2;
    font-size: calc-em(16px);
    color: #000;
    font-weight: $heavy;
  }

  .tag {
    font-size: calc-em(14px);
  }
}

.event__date,
.event__desc {
  display: inline-block;
  vertical-align: top;
}

@media only screen and (max-width: $bpTablet - 1) {
  .scf-event {
    margin-top: 30px;
  }
}
