mixin event(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.scf-event(class=spec.__class)&attributes(attributes)
    h2 Upcoming Events
    a(href="#").event
      .event__date
        span.month OCT
        span.date 31
      .event__desc
        h3.title RAI Research Seminar: Andreas Ackermann
        span.tag Seminar
    a(href="#").event
      .event__date
        span.month Nov
        span.date 02
      .event__desc
        h3.title South Asia and its Diaspora
        span.tag Conference
    a(href="#").event
      .event__date
        span.month Nov
        span.date 22
      .event__desc
        h3.title Reviewer Meets Reviewed: The Great Reimagining
        span.tag Workshop
    a.sggd-btn(class="sggd-btn--standard", href=spec.link)&attributes(attributes)
      .btn-text
        span VIEW ALL
      .arrow
        .arrow-wrapper
          span.left
          span.right
