extends ../_layouts/base

include ../_modules/molecules/homepage-tour/homepage-tour
include ../_modules/molecules/highlight-card/highlight-card
include ../_modules/molecules/video-player/video-player
include ../_modules/molecules/image-text/image-text
include ../_modules/molecules/article-link/article-link
include ../_modules/molecules/image-link/image-link
include ../_modules/molecules/image-cta-listing/image-cta-listing
include ../_modules/molecules/image-rte/image-rte
include ../_modules/molecules/cta-banner/cta-banner
include ../_modules/molecules/teaser-card/teaser-card
include ../_modules/molecules/short-image-card/short-image-card
include ../_modules/molecules/box-quote/box-quote
include ../_modules/molecules/name-card/name-card
include ../_modules/molecules/topic-card-listing/topic-card-listing
include ../_modules/molecules/tags-list/tags-list
include ../_modules/molecules/purplebg-section-wrapper/purplebg-section-wrapper
include ../_modules/organisms/accordion-list/accordion-list
include ../_modules/organisms/detail-content/detail-content
include ../_modules/organisms/gallery/gallery
include ../_modules/organisms/newsletter/newsletter
include ../_modules/organisms/related-posts/related-posts
include ../_modules/organisms/page-banner/page-banner
include ../_modules/organisms/page-header/page-header
include ../_modules/organisms/three-col-imgcard/three-col-imgcard
include ../_modules/organisms/two-col-carousel/two-col-carousel
include ../_modules/organisms/standard-content-carousel/standard-content-carousel
include ../_modules/organisms/selected-posts/selected-posts
include ../_modules/organisms/article-listing-with-questionnaire/article-listing-with-questionnaire
include ../_modules/organisms/digital-blocks/digital-blocks
include ../_modules/organisms/article-gallery-carousel/article-gallery-carousel
include ../_modules/organisms/call-to-actions/call-to-actions
include ../_modules/organisms/partners/partners

block append scripts
  +internalpage-tour

block append config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var pageData = site.data.standardDetail.articlePage
  - var pageTitle = "Modules Phase Two"
  - var pageDescription = "IMDA drives the growth, competitiveness and innovation of Singapore's information and communication technology (ICT) industry by nurturing local ICT enterprises."
  - var sectionName = "Industry Support"
  - var pageBanner = pageData.pageBanner
  - var breadcrumbs = pageData.breadcrumbs
  - var tags = pageData.tags
  -
    var relatedPosts = [
      {
        "url": "#",
        "title": "TechSkills Accelerator",
        "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
        "category": "Grants",
        "industry": "Finance",
        "target": "For Individuals",
        "icon": "icon-individual",
        "color": "orange"
      },
      {
        "url": "#",
        "title": "National Cybersecurity Postgraduate Scholarship",
        "description": "A Smart Nation of the future, with a rich array of tech products and services, will require different skills. We will need people familiar with tech skills and who are also sensitive to how tech can be applied to improve living.",
        "category": "Programmes",
        "industry": "Finance",
        "target": "For Individuals",
        "icon": "icon-individual",
        "color": "blue"
      },
      {
        "url": "#",
        "title": "Industry Preparation for Pre-graduate (iPREP) Programme",
        "description": "A Smart Nation of the future.",
        "category": "Grants",
        "industry": "Finance",
        "target": "For Enterprises",
        "icon": "icon-organisation",
        "color": "pink"
      }
    ]

block content
  div(style="height: 100px;")
  .container
    h1 Site revamp modules

    h2 Table with visible scrollbar
    +rte()
      table
        div.notice Swipe to view
          span.icon.icon-chevron-right 
        thead
          tr
            th Head 1
            th Head 2
            th Head 3
            th Head 4
            th Head 5
            th Head 6
            th Head 7
            th Head 8
        tbody
          tr
            td row 1 cell 1
            td row 1 cell 2
            td row 1 cell 3
            td row 1 cell 4
            td row 1 cell 5
            td row 1 cell 6
            td row 1 cell 7
            td row 1 cell 8
          tr
            td row 2 cell first
            td row 2 cell
            td row 2 cell
            td row 2 cell
            td row 2 cell
            td row 2 cell
            td row 2 cell
            td row 2 cell last
          tr
            td row 3 cell first
            td row 3 cell
            td row 3 cell
            td row 3 cell
            td row 3 cell
            td row 3 cell
            td row 3 cell
            td row 3 cell last
          tr
            td row 4 cell first
            td row 4 cell
            td row 4 cell
            td row 4 cell
            td row 4 cell
            td row 4 cell
            td row 4 cell
            td row 4 cell last
          tr
            td row 5 cell first
            td row 5 cell
            td row 5 cell
            td row 5 cell
            td row 5 cell
            td row 5 cell
            td row 5 cell
            td row 5 cell last 

  
    h1 Styling check 

    h2 Current Detail Content Section: 
    +detail-content({
      "nextButton": nextArticle,
      "tags": tags,
      "articleDate": articleDate
    })

    h2 Detailed Content 18px 
    +detail-content({
       "nextButton": nextArticle,
      "tags": tags,
      "articleDate": articleDate
    }).detail-content--eighteen

    h2 Detailed Content 19px 
    +detail-content({
       "nextButton": nextArticle,
      "tags": tags,
      "articleDate": articleDate
    }).detail-content--nineteen

    h2 Detailed Content 20px 
    +detail-content({
       "nextButton": nextArticle,
      "tags": tags,
      "articleDate": articleDate
    }).detail-content--twenty