mixin homepage-tour(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  script.
    const steps = [
      {
        element: ".site-header__profile",
        content: "<strong>1 of 4</strong><p>Selected the wrong profile? Simply select another profile here.</p>",
        position: "s"
      },
      {
        element: ".questionnaire-filters.step-1",
        content: "<strong>2 of 4</strong><p>Here's your one-stop IMDA directory. Just tell us who you are and what you need. We'll curate what's useful for you.</p>",
        position: "n"
      },
      {
        element: ".home-tabs .home-tabs__nav nav a:nth-child(2)",
        content: "<strong>3 of 4</strong><p>See our latest updates.</p>",
        position: "s"
      },
      {
        element: ".home-tabs .home-tabs__nav nav a:nth-child(3)",
        content: "<strong>4 of 4</strong><p>There's more! See what others are browsing!</p>",
        position: "s"
      }
    ];

    const mobileSteps = [
      {
        element: ".site-header__profile button",
        content: "<strong>1 of 4</strong><p>Selected the wrong profile? Simply select another profile here.</p>",
        position: "s"
      },
      {
        element: ".questionnaire-filters.step-1",
        content: "<strong>2 of 4</strong><p>Here's your one-stop IMDA directory. Just tell us who you are and what you need. We'll curate what's useful for you.</p>",
        position: "n"
      },
      {
        element: ".home-tabs .home-tabs__nav nav",
        content: "<strong>3 of 4</strong><p>See our latest updates.</p>",
        position: "s"
      },
      {
        element: ".home-tabs .home-tabs__nav nav",
        content: "<strong>4 of 4</strong><p>There's more! See what others are browsing!</p>",
        position: "s"
      }
    ];

mixin internalpage-tour(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  script.
    const steps = [
      {
        element: ".site-header__profile",
        content: "<p>Click here to select which profile you belong to. You can change this profile anytime!</p>",
        position: "s"
      }
    ];

    const mobileSteps = [
      {
        element: ".profile-indicator",
        content: "<p>Click here to select which profile you belong to. You can change this profile anytime!</p>",
        position: "s"
      }
    ]