// pill styles
.pill {
  display: inline-block;
  font-weight: 400;
  font-size: calc-em(14px);
  line-height: 140%;
  padding: 4px 16px;
  border-radius: 40px;
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  transition: all 0.35s ease-in-out;
  margin-right: 10px;
  margin-bottom: 10px;

  // fallback colour without theme set
  color: $primaryPurple;
  border-color: $primaryPurple;

  &:hover {
    background-color: $lightPurple;
  }
}

button.pill {
  background-color: #fff;
}