mixin pill(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  - var tag = spec.tag ? spec.tag : 'a'

  #{tag}.pill(class=spec.__class href=spec.url ? spec.url : "#")&attributes(attributes) !{spec.label}