extends ../../_layouts/standard-detail

block append config
  - baseUrl = "../../"
  - pageUrl = "/news-listing/about-smf"
  - var pageData = site.data.standardDetail.aboutSMF
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts
  - nextArticle = pageData.nextArticle

block detailContent
  +rte()
    h2 Five important aspects of Singapore Media Festival 2018 that make it a must-visit event.

    p Mr Robert Gilby, Chairman of the SMF Advisory Board, announcing the 'Asia Is Now' theme at the media conference in October.

    p If there’s one mega media and content event that you cannot miss, it’s the Singapore Media Festival (SMF). Running from 28 Nov to 9 Dec 2018, the SMF celebrates the best of Asian storytelling under this year’s theme of ‘Asia Is Now’.

    p Here are some of the highlights of the SMF that you ought to know:

    p 1. Many happening events under one umbrella brand

    p It would take too many paragraphs to define what SMF is, but here’s a quick summary: SMF is the umbrella festival for several events.

    ul
      li The Singapore International Film Festival (SGIFF): The SGIFF has become the largest and longest-running film event on the arts calendar since its creation in 1987. The 29th edition is organised by the Singapore International Film Festival Ltd.
      li The Asia TV Forum and Market (ATF), and ScreenSingapore: For the folks in the media business to meet and trade.
      li SMF Ignite: A four-day event comprising workshops and conferences for digital content creators, with everything revolving around this year’s theme, “The Convergence of Big Data, AI and Storytelling”.
      li The inaugural Asian Academy Creative Awards (AAA): The AAA will honour TV excellence in craft and technical disciplines across multiple platforms. Kind of like Asia’s very own Emmys, in other words.

    p So be sure to plan your schedule well to catch all the relevant events and happenings.

    p Also, do check whether it’s a ticketed event, an event limited to industry folks, or a free event open to the public – just in case!

    p 2. Singapore Originals

    p Flying the flag high will be several notable Singapore productions.

    p A Land Imagined, a mystery thriller by award-winning local filmmaker Yeo Siew Hua that makes its Singapore premiere at SGIFF, is competing in the SGIFF Silver Screen Awards (in the Asian Feature Film category). Supported by the Singapore Film Commission, the film has already garnered top wins at the Locarno Film Festival and the El Gouna Film Festival in Egypt amongst others.

    p This year, in celebration of its 20th anniversary, the Singapore Film Commission will premiere a documentary titled 'Singapore Cinema: Between Takes' featuring the evolution and significant milestones of Singapore’s film industry and talent, at SGIFF.

    p And if you are attending, do stay on after the credits. A panel session featuring local filmmakers such as Eric Khoo, Kirsten Tan and Sanif Olek will be held after the screening.

    p It’s not just new works alone.

    p Even before the Festival proper, the Asian Film Archive and the Singapore Film Commission have already held public screenings of three restored 20-year-old films – The Teenage Textbook Movie, Forever Fever and Money No Enough – under the ‘Singapore Classics Reignited’ initiative.

    p In short, it's a celebration proper of Singapore films, new and old!

    p Tip: Visitors to the Asia TV Forum and Market will get the opportunity to check out Little Nyonya 2, a remake of the iconic local classic TV series by GHY Culture & Media.

    p 3. Starstruck

    p If you are into star-gazing, there’s good news: Get your autograph books ready!

    p For example, Hong Kong Cantopop Queen and actress Sammi Cheng will fly down to promote her new movie, First Night Nerves, directed by auteur Stanley Kwan. She will be holding court in the ‘SGIFF 2018: In Conversation with Sammi Cheng’ session on 7 Dec.

    p Then, there’s Hawaii Five-0’s Daniel Dae Kim, who was discovered on the Lost island and has since gone on to bigger roles, including in the Divergent movies. Aside from sharing his experiences in an ‘SGIFF 2018: In Conversation’ session, the Korean-American hunk will also be sitting on the Asian Feature Film Competition jury.

    p And just about every film buff would know Joan Chen, the multi-hyphenated, award-winning Chinese-American star. Just think of movies as diverse as The Last Emperor, Little Flower and Xiu Xiu: The Sent Down Girl.

    p She will receive the SGIFF 2018 Cinema Legend Award, and also sit down for a ‘In Conversation’ session too.

    p So if it’s star power you’re after, SMF has got you covered!

    p 4. Films for everyone

    p The Philippines is the Country-Of-Focus for SMF this year, for two very good reasons: The country is celebrating 100 years of Philippine cinema, and the country will celebrate the 50th anniversary of bilateral diplomatic relations with Singapore in 2019.

    p Aside from a robust representation of Philippine films in the SGIFF Official Selection and Southeast Asian Short Film Competition, Filipino director Mikahil Red’s horror movie, Eerie, will make its world premiere as a SGIFF Special Presentation film – catch it if you dare!

    p In fact, film buffs can catch all these and much more at the SGIFF, given that there are over 100 films from 44 countries, with some making their regional debuts here.

    p For example, Sorry To Bother You, a dark comedy by American director – and rapper – Boots Riley is having its Southeast Asian premiere at the SGIFF.

    p Given the wealth of titles, there's bound to be several films that will strike a chord with you, so check out the SGIFF website now!

    p 5. Workshops Galore

    p Media industry practitioners will find lots to do at SMF, when it comes to learning the tricks of the trades.

    p At the Asian Academy Creative Campus, aspiring media professionals can attend masterclasses and panels in key skills such as live TV directing and writing.

    p The SGIFF will also host several masterclasses, helmed by experts such as Mexican filmmaker Carlos Reygadas, Hong Kong auteur Stanley Kwan and Cambodian creator Rithy Panh.

    p Forgive us for tooting our own horn, but IMDA is hosting a special workshop by the creator of Nas Daily, Nuseir Yassin, where three local fans will get to shoot and produce their very own 1-minute videos under his tutelage. He will also be giving a keynote speech titled 'Deep Dive Into Nas Daily Metrics - How Storytelling Trumps Everything Else'.

    p So aside from the glam factor, SMF offers learning and training opportunities that media folks can benefit from.

    p Aside from these, there are plenty of exciting happenings taking place at the Singapore Media Festival 2018, so do explore the official website for more details: www.sgmediafestival.com.
