mixin content-carousel(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .content-carousel(class=spec.__class, data-slider-speed= 5000)&attributes(attributes)
    .slider-nav.slider-nav--prev
      span &#xe915
    .slider-nav.slider-nav--next
      span &#xe915
    .content-carousel-dots
    .content-slider
      - for (var i = 0; i < 3; ++i) {
        .content-slide
          .col-6
            .slide-image
              img(src="/images/brochure-2.jpg", alt="")
          .col-6
            .slide-content
              .content-title
                p
                  strong lorem ipsum dolar sin.
              .content-body
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos fugiat consequatur asperiores similique accusantium cupiditate provident perspiciatis neque aliquid. Eaque quisquam illo, sequi modi labore sunt recusandae eveniet doloremque nesciunt?
      - }

