mixin contact-section(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.contact-section(class=spec.__class)&attributes(attributes)
    .container.container--mw1140
      .row
        .col-xs-12.col-sm-12.col-md-4
          h2.title Contact the SFC
        .col-xs-12.col-sm-12.col-md-8
          .contact-wrapper
            .row
              .col-xs-12.col-sm-7.col-md-7
                .contact__image
                  img(src="/Cwp/assets/imda/images/icon-location.png")
                .contact__info
                  p
                    strong Singapore Film Commission Secretariat
                    br
                    | Infocomm Media Development Authority
                    br
                    | 3 Fusionopolis Way
                    br
                    | #16-22 Symbiosis
                    br
                    | Singapore 138633 ​
              .col-xs-12.col-sm-5.col-md-5
                .contact__image
                  img(src="/Cwp/assets/imda/images/icon-phone.png")
                .contact__info.bigger
                  a(href="tel:65 63773 800 ") (65) 63773 800
                .contact__image
                  img(src="/Cwp/assets/imda/images/icon-envelope.png")
                .contact__info.bigger
                  a(href="mailto:SFC@imda.gov.sg") SFC@imda.gov.sg
