// contact-section styles
.contact-section {
  h2 {
    font-family: $font-family;
    font-weight: $roman;
  }

  .title {
    font-size: calc-em(40px);
  }
}

.contact-wrapper {
  .contact__info {
    &.bigger {
      font-size: calc-em(20px);
    }

    a {
      font-family: $font-family;
      font-weight: $heavy;
    }
  }
}

@media only screen and (max-width: $bpTablet - 1) {
  .contact-section {
    .title {
      font-size: calc-em(32px);
    }
  }
}
