include ../../atoms/loading-icon/loading-icon
include ../../molecules/filters-group/filters-group
include ../../molecules/pagination/pagination
include ../../molecules/teaser-card/teaser-card

mixin regulation-listing(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .regulation-listing(data-endpoint="/ajax/regulation-listing.json")
    .container
      .row
        .col-sm-4.col-md-4.col-lg-3.regulation-listing__filters
          +filters-group({
            "fields": [
              {
                "__type": "search",
                "label": "Filter by keyword",
                "id": "keyword",
                "name": "keyword"
              },
              {
                "__type": "checkbox",
                "label": "Type of regulations and licensing",
                "name": "category",
                "options": [
                  {
                    "value": "all",
                    "label": "All"
                  },
                  {
                    "value": "allRegulations",
                    "label": "Regulations",
                    "subgroup": {
                      "__type": "checkbox",
                      "label": "Type of regulations",
                      "name": "regulationField",
                      "options": [
                        {
                          "value": "regulations",
                          "label": "Acts and Regulations"
                        },
                        {
                          "value": "standards",
                          "label": "Standards & Guidelines"
                        },
                        {
                          "value": "codes",
                          "label": "Codes of Practice"
                        },
                        {
                          "value": "policies",
                          "label": "Frameworks and Policies"
                        },
                        {
                          "value": "consultations",
                          "label": "Consultations"
                        },
                        {
                          "value": "enforcement",
                          "label": "Enforcement Decisions"
                        }
                      ]
                    }
                  },
                  {
                    "value": "licenses",
                    "label": "Licenses"
                  }
                ]
              },
              {
                "__type": "checkbox",
                "label": "Industry you are interested in",
                "name": "industry",
                "options": [
                  {
                    "value": "all",
                    "label": "All Industries"
                  },
                  {
                    "value": "arts",
                    "label": "Arts",
                    "subgroup": {
                      "__type": "checkbox",
                      "label": "Type of Arts",
                      "name": "artsField",
                      "options": [
                        {
                          "value": "arts1",
                          "label": "Arts 1"
                        },
                        {
                          "value": "arts2",
                          "label": "Arts 2"
                        },
                        {
                          "value": "arts3",
                          "label": "Arts 3"
                        }
                      ]
                    }
                  },
                  {
                    "value": "broadcast",
                    "label": "Broadcast",
                    "subgroup": {
                      "__type": "checkbox",
                      "label": "Type of Broadcast",
                      "name": "broadcastField",
                      "options": [
                        {
                          "value": "broadcast1",
                          "label": "Broadcast 1"
                        },
                        {
                          "value": "broadcast2",
                          "label": "Broadcast 2"
                        },
                        {
                          "value": "broadcast3",
                          "label": "Broadcast 3"
                        }
                      ]
                    }
                  },
                  {
                    "value": "films",
                    "label": "Films"
                  },
                  {
                    "value": "internet",
                    "label": "Internet"
                  },
                  {
                    "value": "newspaper",
                    "label": "Newspaper & Printing Press"
                  },
                  {
                    "value": "telecommunications",
                    "label": "Telecommunications",
                  },
                  {
                    "value": "postal",
                    "label": "Postal"
                  }
                ]
              }
            ]
          })
        .col-sm-8.col-md-8.col-lg-9.regulation-listing__content
          +loading-icon()
          ul.regulation-listing__list

          +pagination-js().regulation-listing__pagination

  script#regulationListingTemplate(type="text/x-dot-template")
    | {{?it.length}}
    | {{~it :item:index}}
    li
      +teaser-card-no-date-dot()
    | {{~}}
    | {{??}}
    p.empty-msg Sorry, there is no result. Please try with different filter.
    | {{?}}
