// profile-landing styles
.profile-selector {
  &__text {
    @include ipad {
      height: calc(calc(100vh - 32px) * 0.34);
      height: calc(calc(calc(var(--vh, 1vh) * 100) - 32px) * 0.34);
    }
  }

  &__intro {
    position: relative;
    padding: 32px 20px;
    background-color: $purple10;

    @include ipad {
      height: 100%;
    }

    @include desktop {
      height: 100%;
      padding: 40px 24px;
      background-color: transparent;
    }

    @include lgDesktop {
      padding: 64px;
    }

    .no-hover & {
      &.default-hidden {
        .profile-selector__intro__bg,
        .profile-selector__intro__text {
          opacity: 0;
        }
      }
    }

    &__bg {
      position: absolute;
      right: 0;
      bottom: 0;
      overflow: hidden;
      transition: opacity 0.35s ease-in-out;

      @include desktop {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      @include desktopMax {
        width: 100%;
        height: 100%;

        &::before {
          display: block;
          content: "";
          width: 100%;
          height: 50%;
          position: absolute;
          top: 0;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
        }

        &::after {
          display: block;
          content: "";
          width: 100%;
          height: 60%;
          position: absolute;
          bottom: 0;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
        }
      }

      img {
        @include desktopMax {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      video {
        @include absolute-img;
        @include image-cover;
      }
    }

    &__logo {
      display: block;

      @include desktopMax {
        margin: 0 0 40px;
      }
      
      @include ipad {
        margin: 0 0 48px;
      }

      @include desktop {
        position: absolute;
        top: 40px;
        left: 24px;
        z-index: 3;
      }

      @include lgDesktop {
        top: 64px;
        left: 64px;
      }

      img {
        @include desktopMax {
          width: 190px;
          position: relative;
          z-index: 1;
        }

        @include lgMobileMax {
          width: 170px;
        }

        @include desktop {
          width: 200px;
        }
      }
    }

    &__text {
      color: #fff;
      transition: opacity 0.35s ease-in-out;

      @include desktopMax {
        position: relative;
      }

      @include desktop {
        position: absolute;
        width: calc(100% - 48px);
        top: calc(50% + 50px);
        transform: translate(0, -50%);
        z-index: 1;
      }

      @include lgDesktop {
        width: calc(100% - 128px);
      }
    }

    h1 {
      font-weight: 500;
      font-size: calc-em(28px);
      line-height: 120%;
      margin: 0 0 14px;

      @include ipad {
        font-size: calc-em(40px);
      }
      
      @include desktop {
        font-size: calc-em(48px);
        margin: 0 0 24px;
      }
      
      @include lgDesktop {
        font-size: calc-em(56px);
        line-height: 1.1;
      }
      
      b {
        font-weight: 800;

        @include desktop {
          font-weight: 700;
        }
      }
    }

    p {
      font-weight: 500;
      line-height: 140%;
      margin: 0 0 16px;

      @include desktop {
        font-size: calc-em(20px);
      }
      
      @include lgDesktop {
        font-size: calc-em(26px);
      }
    }
  }

  &__info {
    display: flex;
    color: #fff;
    font-size: calc-em(24px);
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-decoration: none;

    @include desktop {
      display: none;
    }

    .icon {
      line-height: 1;
      margin: 0;
      font-size: calc-em(14px, 24px);
      margin: 0;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      background-color: transparent;
      border: 3px solid #fff;
      border-radius: 50%;
      color: #fff;
      transition: all 0.35s ease-in-out;
    }
  }

  &__profiles {
    @include desktopMax {
      display: none;
    }

    @include desktop {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }

    > div {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: all 0.35s ease-in-out;

      &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

        .profile-selector__profiles__image {
          background-color: black;
        }

        video {
          z-index: 1;
          background-color: black;
        }
      }
    }

    &__image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
        z-index: 1;
      }

      video {
        @include absolute-img;
        @include image-cover;
      }
    }

    &__text {
      position: absolute;
      left: 0;
      right: 0;
      top: calc(50% + 50px);
      transform: translateY(-50%);
      width: 100%;
      padding: 24px 24px 60px 24px;
      color: #fff;
      z-index: 1;

      @include lgDesktop {
        padding: 0 64px 64px;
      }

      h2 {
        font-size: calc-em(32px);
        line-height: 120%;
        margin: 0 0 20px;
        font-weight: 500;
        text-shadow: $textGlow1;
        
        @include lgDesktop {
          font-size: calc-em(36px);
        }

        b {
          font-weight: 800;
        }
      }

      p {
        font-weight: 500;
        line-height: 140%;
        text-shadow: $textGlow1;
        margin: 0;

        @include lgDesktop {
          font-size: calc-em(18px);
        }
      }
      
      a {
        display: none;
        margin: 16px 0 0;
        
        .no-hover & {
          display: inline-flex;
        }
      }
    }

    > div {
      &:first-child {
        .profile-selector__profiles__text {
          padding: 24px 84px 60px 24px;

          @include lgDesktop {
            padding: 0px 124px 64px 64px;
          }
        }
      }
    }
  }

  &__main {
    position: relative;
  }

  &__text {
    @include desktop {
      position: relative;
      width: 40%;
      height: calc(100vh - 32px);
      height: calc(calc(var(--vh, 1vh) * 100) - 32px);
      z-index: 0;
    }
  }

  &__nav {
    @include ipad {
      height: calc(calc(100vh - 32px) * 0.66);
      height: calc(calc(calc(var(--vh, 1vh) * 100) - 32px) * 0.66);
    }

    @include desktop {
      width: 60%;
      height: calc(100vh - 32px);
      height: calc(calc(var(--vh, 1vh) * 100) - 32px);
      position: absolute;
      top: 0;
      left: 40%;
      right: 0;
      bottom: 0;
      z-index: 1;
    }

    ul {
      @include normalise-list;

      @include hover {
        &:hover {
          li {
            &:after {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }

      @include desktop {
        li {
          &.active {
            &:after {
              opacity: 0;
              visibility: hidden;
            }
          }
        }
      }
    }

    li {
      @include ipad {
        height: calc(calc(100vh - 32px) * 0.22);
        height: calc(calc(calc(var(--vh, 1vh) * 100) - 32px) * 0.22);
      }

      @include desktopMax {
        display: block;
        border-bottom: 1px solid #fff;
      }

      @include desktop {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: calc(100% / 3);
        border-left: 1px solid #fff;
        transition: width 0.35s ease-in-out;

        &:after {
          content: '';
          background-color: rgba(0, 0, 0, 0.25);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          visibility: hidden;
          transition: all 0.35s ease-in-out;
        }
      }

      &:first-child {
        @include desktop {
          border-left: none;
        }
      }

      &:last-child {
        @include desktopMax {
          border-bottom: none;
        }
      }

      .btn.btn-primary {
        display: flex;
        height: auto;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: 140px;
        width: calc(100% - 40px);
        left: 20px;
        border: 1px solid #fff;
        padding: 10px 20px;
        transition: opacity 0.35s ease-in-out 0.2s;
        transform: translateY(calc(50% - 9px));
        
        svg {
          display: block;
          position: static;
          width: 24px;
        }
      }

      @include hover {  
        &:hover {
          @include desktop {
            width: calc(calc(100% / 3) + 70px);
            z-index: 1;
          }
        }
      }

      @include nohover {  
        &.active {
          @include desktop {
            width: calc(calc(100% / 3) + 70px);
            z-index: 1;

            .btn.btn-primary {
              opacity: 1;
              visibility: visible;
              
              svg {
                display: block;
              }
            }
          }

          a {
            img {
              opacity: 1;
              visibility: visible;
    
              &:first-child {
                animation: leftright 2.5s linear infinite alternate;
              }
      
              &:nth-child(2) {
                animation: updown 2.5s linear infinite alternate;
              }
      
              &:nth-child(3) {
                animation: rightleft 2.5s linear infinite alternate;
              }
            }
          }
          svg{
            display: none;
          } 
        }
      }

      &.profile-item--purple {
        @include desktop {
          right: calc(100% / 3 * 2);
        }

        a {
          background-color: $darkPurple40;
        }
      }

      &.profile-item--turquoise {
        @include desktop {
          right: 0;
        }

        a {
          background-color: $darkerTeal;
        }
      }
      
      &.profile-item--maroon {
        @include desktop {
          right: calc(100% / 3);
        }
        
        a {
          background-color: $darkerMaroon;
        }
      }
    }

    a {
      display: block;
      color: #fff;
      text-decoration: none;
      padding: 20px;
      
      @include ipad {
        padding: 32px 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
      
      @include desktop {
        width: 100%;
        height: 100%;
        padding: 40px 20px;
        position: relative;
      }
      
      @include lgDesktop {
        padding: 40px 32px;
      }

      .profile-item__text {
        @include desktop {
          position: absolute;
          top: 40%;
          width: calc(100% - 40px);
        }

        @include lgDesktop {
          width: calc(100% - 64px);
        }
      }

      @include hover {
        &:hover {
          img {
            opacity: 1;
            visibility: visible;
  
            &:first-child {
              animation: leftright 2.5s linear infinite alternate;
            }
    
            &:nth-child(2) {
              animation: updown 2.5s linear infinite alternate;
            }
    
            &:nth-child(3) {
              animation: rightleft 2.5s linear infinite alternate;
            }
          }
        }
      }
    }

    .profile-item__props {
      @include desktop {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      img {
        @include desktopMax {
          display: none;
        }
        
        display: block;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: all 0.35s ease-in-out;

        &:first-child {
          top: 0;
          right: 0;
          // width: 61%;
          height: 22%;
        }

        &:nth-child(2) {
          right: 0;
          bottom: 0;
          // width: 66%;
          height: 32%;
        }

        &:nth-child(3) {
          left: 0;
          bottom: 0;
          // width: 56%;
          height: 11%;
        }
      }
    }

    .icon {
      display: block;
      margin: 0 0 8px;
      font-size: calc-em(32px);


      @include desktopMax {
        font-size: calc-em(38px);
      }

      @include mobileMax {
        font-size: calc-em(32px);
      }
      
      @include desktop {
        margin: 0 0 16px;
      }
      
      @include lgDesktop {
        font-size: calc-em(44px);
      }
    }
    
    .label {
      display: block;
      margin: 0 0 14px;
      font-weight: 600;
      font-size: calc-em(22px);
      line-height: 140%;

      @include desktopMax {
        font-size: calc-em(28px);
        margin: 0 0 38px;
      }

      @include mobileMax {
        font-size: calc-em(22px);
        margin: 0 0 14px;
      }

      @include desktop {
        margin: 0 0 8px;
      }
      
      @include lgDesktop {
        font-size: calc-em(28px);
      }
    }

    .profile-info {
      display: none;

      @include desktop {
        display: block;
      }
    }

    svg {
      height: 19px;
      animation: leftrightctaarrow 1.5s linear infinite alternate;

      @include desktop {
        position: absolute;
        left: 20px;
        bottom: 140px;
      }

      @include lgDesktop {
        left: 32px;
      }
    }

    .arrow-body {
      stroke: #fff;
      // stroke-dasharray: 3;
      // stroke-dashoffset: 0;
      // animation-timing-function: linear;
      // animation-duration: 4s;
      // animation-iteration-count: infinite;
    }
    
    .arrow-head {
      stroke: #fff;
      // stroke-dasharray: 3;
      // stroke-dashoffset: 2;
      // animation-timing-function: linear;
      // animation-duration: 4s;
      // animation-iteration-count: infinite;
      // animation-delay: 0.8s;
    }
  }

  &__guide {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(38, 38, 38, 0.4);
    }

    &__content {
      padding: 32px 24px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      max-width: 360px;
      position: relative;
      z-index: 1;
    }

    .guide-item {
      margin: 0 0 32px;

      &__profile1 {
        .icon, h3 {
          color: $darkPurple40;
        }
      }
      
      &__profile2 {
        .icon, h3 {
          color: $darkerMaroon;
        }
      }
      
      &__profile3 {
        .icon, h3 {
          color: $darkerTeal;
        }
      }
    }

    .icon {
      font-size: calc-em(22px);
      margin: 0 0 8px;
    }

    h3 {
      font-weight: 600;
      font-size: calc-em(20px);
      line-height: 140%;
      margin: 0 0 8px;
    }

    p {
      line-height: 140%;
      margin: 0;
    }

    footer {
      margin: 16px 0 0;

      button {
        display: flex;
        text-align: center;
        width: 100%;

        &:focus-visible {
          outline: -webkit-focus-ring-color auto 1px;
        }
      }
    }
  }
}

html.mobile-maxheight {
  @include mobileMax {
    min-height: 100vh;
    background-color: $purple10;
  }
}