mixin profile-landing(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .profile-selector(class=spec.__class)&attributes(attributes)
    .profile-selector__main
      .profile-selector__text
        .profile-selector__intro
          a(href="/business").profile-selector__intro__logo
            img.desktop-only(src="/Cwp/assets/imda/images/imda-logo-white.svg", alt="IMDA Logo")
            img.no-desktop(src="/Cwp/assets/imda/images/imda-logo-white.svg", alt="IMDA Logo")
          .profile-selector__intro__bg
            img.no-desktop(src="/Cwp/assets/imda/images/landing-default-m.png", alt="")
            video.desktop-only(src="/Cwp/assets/imda/images/landing-default.jpg" autoplay preload="auto" muted poster="/Cwp/assets/imda/images/landing-default.jpg" playsinline loop)
          .profile-selector__intro__text
            h1 Architects of Singapore's Digital Future
            p IMDA leads Singapore’s digital transformation by developing a vibrant digital economy and an inclusive digital society.
            a(href="#profileGuide").profile-selector__info
              span.sr-only Show profile guide
              span.icon.icon-info
            
        .profile-selector__profiles
          #profile1
            .profile-selector__profiles__image
              video(src="/Cwp/assets/imda/images/landing-business.jpg" autoplay preload="auto" muted poster="/Cwp/assets/imda/images/landing-business.jpg" playsinline loop)
              //- picture
                source(srcset="/Cwp/assets/imda/images/landing-business.jpg", media="(max-width: 1023px)")
                source(srcset="/Cwp/assets/imda/images/landing-business.jpg")
                img(src="/Cwp/assets/imda/images/landing-business.jpg", alt="")
            .profile-selector__profiles__text
              h2 Be digitally empowered for innovation and growth
              p At IMDA, we empower businesses to leverage opportunities brought forth by digitalisation, through programmes that will aid them in integrating tech, while strengthening their digital foundations. 
              
          #profile2
            .profile-selector__profiles__image
              video(src="/Cwp/assets/imda/images/landing-students.jpg" autoplay preload="auto" muted poster="/Cwp/assets/imda/images/landing-students.jpg" playsinline loop)
              //- picture
                source(srcset="/Cwp/assets/imda/images/landing-students.jpg", media="(max-width: 1023px)")
                source(srcset="/Cwp/assets/imda/images/landing-students.jpg")
                img(src="/Cwp/assets/imda/images/landing-students.jpg", alt="")
            .profile-selector__profiles__text
              h2 Get access to tech and media opportunities and upskilling 
              p At IMDA, we endeavour for every Singaporean to be tech-skilled to leverage jobs and opportunities as part of our efforts to build a Digital Talent hub that is globally competitive.
              
          #profile3
            .profile-selector__profiles__image
              video(src="/Cwp/assets/imda/images/landing-community.jpg" autoplay preload="auto" muted poster="/Cwp/assets/imda/images/landing-community.jpg" playsinline loop)
              //- picture
                source(srcset="/Cwp/assets/imda/images/landing-community.jpg", media="(max-width: 1023px)")
                source(srcset="/Cwp/assets/imda/images/landing-community.jpg")
                img(src="/Cwp/assets/imda/images/landing-community.jpg", alt="")
            .profile-selector__profiles__text
              h2 Embrace digital for life. Be enriched by digitalisation, securely
              p At IMDA, we ensure a safe and inclusive digital society, where all Singaporeans can participate in Singapore’s digital future, and be enriched as we embrace digital for life.
              
      nav.profile-selector__nav(aria-label="Profile navigation")
        ul
          li.profile-item.profile-item--purple
            a(href="/business" data-info="#profile1")
              .profile-item__props
                img(src="/Cwp/assets/imda/images/landing-screen1.svg", alt="")
                img(src="/Cwp/assets/imda/images/landing-screen2.svg", alt="")
                img(src="/Cwp/assets/imda/images/landing-screen3.svg", alt="")
              .profile-item__text
                span.icon.icon-suitcase
                span.label Businesses
                span.profile-info Business Owners, Managers &amp; Consultants across sectors 
              +right-arrow
              +button({
                "url": "/business",
                "label": "View the homepage"
              })(data-info="#profile1")
              
          li.profile-item.profile-item--maroon
            a(href="/students-and-professionals" data-info="#profile2")
              .profile-item__props
                img(src="/Cwp/assets/imda/images/landing-screen1.svg", alt="")
                img(src="/Cwp/assets/imda/images/landing-screen2.svg", alt="")
                img(src="/Cwp/assets/imda/images/landing-screen3.svg", alt="")
              .profile-item__text
                span.icon.icon-graduation-hat
                span.label Student & Professionals
                span.profile-info Undergraduates, Post-graduates, Professionals, Mid-careerists
              +right-arrow
              +button({
                "url": "/students-and-professionals",
                "label": "View the homepage"
              })(data-info="#profile2")
          li.profile-item.profile-item--turquoise
            a(href="/public-and-seniors" data-info="#profile3")
              .profile-item__props
                img(src="/Cwp/assets/imda/images/landing-screen1.svg", alt="")
                img(src="/Cwp/assets/imda/images/landing-screen2.svg", alt="")
                img(src="/Cwp/assets/imda/images/landing-screen3.svg", alt="")
              .profile-item__text
                span.icon.icon-people
                span.label Public & Seniors
                span.profile-info Singaporeans of all ages and walks of life
              +right-arrow
              +button({
                "url": "/public-and-seniors",
                "label": "View the homepage"
              })(data-info="#profile3")
    .profile-selector__guide#profileGuide.no-desktop(tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true" style="display: none;")
      .profile-selector__guide__overlay
      .profile-selector__guide__content
        header
          h2#profileModalLabel.sr-only Learn more about the profile
        section.guide-item.guide-item__profile1
          span.icon.icon-suitcase
          h3.label Businesses
          p Business lorem ipsum dolor sit amet consectetur adipisicing elit.
        section.guide-item.guide-item__profile2
          span.icon.icon-graduation-hat
          h3.label Student & Professionals
          p Student & Professionals lorem ipsum dolor sit amet consectetur adipisicing elit.
        section.guide-item.guide-item__profile3
          span.icon.icon-people
          h3.label Public & Seniors
          p Public & Seniors lorem ipsum dolor sit amet consectetur adipisicing elit.
        footer
          button(type="button" aria-label="Close profile guide").btn.btn-primary Okay, got it!