extends _layouts/base

include _modules/organisms/profile-landing/profile-landing

block append scripts

block append config
  - pageTitle = 'Profile Selector'
  - isProfileLanding = true

block content
  +profile-landing
