// news-listing styles
.events-search,
.events-listing,
.news-listing {
  // background: $background;
  padding: 30px 0;

  &__content {
    min-height: 300px;
    overflow: hidden;
    position: relative;
    width: 100%;

    &.content-loaded {
      .loading-icon {
        display: none;
      }

      .pagination {
        display: block;
      }
    }

    &.content-updating {
      .loading-icon {
        display: block;
      }
    }

    .loading-icon {
      left: 0;
      position: absolute;
      margin: auto;
      right: 0;
      top: 20px;
      z-index: 1;
    }

    .pagination {
      display: none;
    }
  }

  &__item {
    width: 100%;
    margin: 0 0 20px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &--dark {
    background: $pageBannerBlack;
    color: $imdaWhite;

    .empty-msg {
      color: $imdaWhite;
    }

    .pagination-js--dark {

      .pagination__list li a {
        color: $imdaWhite;
      }

      .pagination__list li.active a {
        background: $imdaWhite;
        color: $textBlack;
      }

      .pagination__list li.next-page a, .pagination__list li.prev-page a {
        border: 0;
      }
    }
  }

  .listing-filter {
    margin: 0 0 61px;
    display: flex;
    flex-direction: column;
    gap: 33px;
    
    @include desktopMax {
      margin: 0 0 45px;
      padding: 24px 24px 16px;
      border: 1px solid #fff;
      border-radius: 8px;
      gap: 24px;
    }

    .listing-filter__header {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .btn-pill {
        background: #fff;
        font-size: calc-em(8px);
        color: $contentHubBlack;
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-right: 10px;

        @include tablet {
          display: none;
        }

        .icon {
          margin: 0;
          transition: all 0.25s ease-in-out;
          color: $contentHubBlack;
        }

        &.expanded {
          .icon {
            transform: scaleY(-1);
          }
        }
      }
    }

    &__footer {
      margin: 38px 0 0;
      display: flex;
      justify-content: center;

      @include tablet {
        display: none;
      }

      .btn {
        padding: 8px 22px;
        border-radius: 22px;
        color: $textBlack;
      }
    }

    .listing-filter__label {
      font-size: calc-em(16px);
      line-height: 140%;
      letter-spacing: 0.08em;
      color: $imdaWhite;
      min-width: max-content;

      @include tablet {
        margin: 0 0 18px;
        font-size: calc-em(18px);
      }
    }

    &__profile-label {
      font-weight: 300;
      font-size: calc-em(12px);
      line-height: 140%;
      letter-spacing: 0.08em;
    }

    .custom-select__custom-dropdown {
      width: 100%;
      min-width: 150px;
    }

    .listing-filter__searchbar {
      .row {
        @include desktop {
          margin: 0 -12px;
        }
      }

      .listing-filter__field {
        @include desktopMax {
          margin-bottom: 20px;
          flex: 0 0 100%;
          max-width: 100%;
          
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .listing-filter__selection {
        margin: 0 0 16px;

        .custom-list {
          li {
            &[data-value=""] {
              &:after {
                width: calc(100% - 36px);
                left: 18px;
                right: 18px;

                @include desktop {
                  width: calc(100% - 42px);
                  left: 21px;
                  right: 21px;
                }
              }
            }
          }
        }
        
        @include desktop {
          margin: 0;
          width: calc(calc(100% / 3) - 12px);
          position: relative;
          padding: 0 0 0 12px;

          &:after {
            content: '';
            display: block;
            width: 1px;
            height: 24px;
            background-color: #fff;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
          }

          .custom-trigger {
            border-right: none;
            border-radius: 22px 0 0 22px;
          }

          .custom-list {
            border-radius: 22px 0 22px 22px;
          }
        }
      }

      .listing-filter__search {
        @include desktop {
          margin: 0;
          width: calc(calc(100% / 3 * 2) + 12px);
          padding: 0 12px 0 0;
          line-height: 1.4;

          .search-field__input {
            border-left: none;
            border-radius: 0 22px 22px 0;
            padding: 8px 50px;
          }
        }
      }
    }

    .listing-filter__filters {
      border: none;
      padding: 7px 0 0;

      @include tablet {
        padding: 0;
        display: block !important;
      }
      
      .row {
        @include tablet {
          margin: 0 -12px;
        }
      }

      .listing-filter__selection {
        margin: 0 0 10px;
        width: 100%;

        @include tablet {
          width: calc(100% / 2);
          margin: 0 0 14px 0;
          padding: 0 12px;
        }
  
        @include desktop {
          width: calc(100% / 3);
        }
  
        &:last-of-type {
          @include tabletMax {
            margin: 0;
          }
        }

        &:last-child {
          margin: 0;
        }
      }

      .custom-trigger {
        border-radius: 0;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        border-bottom: 1px solid #fff;

        &:hover, &:focus {
          background: transparent;
          box-shadow: none;
        }
      }

      .custom-list {
        border-radius: 8px;

        li {
          &[data-value="all"] {
            position: relative;
  
            button {
              &:before {
                content: '\e91c';
                font-family: icomoon !important;
                font-weight: 400;
                text-align: right;
                position: absolute;
                right: 17px;
                transform: scaleY(-1);
                font-size: calc-em(8px, 18px);
                color: #fff !important;
  
                @include desktop {
                  font-size: calc-em(8px, 18px);
                  right: 16px;
                }
              }
            }
          }
        }
      }

      .custom-select__custom-dropdown {
        &.list-shown {
          .custom-list {
            border-radius: 8px;
          }
        }
      }
    }

    .search-field {
      &__input {
        -webkit-appearance: none;
        -webkit-border-radius: 0 0 22px 22px;

        &::placeholder {
          font-weight: 600;
          color: $imdaWhite;
          opacity: 1;
        }
      }

      .btn-submit {
        @include tablet {
          right: 12px;
        }
      }
      
      .icon {
        color: $imdaWhite;
        cursor: pointer;
      }
    }

    .search-field__input,
    .custom-trigger {
      background-color: transparent;
      border: 1px solid $imdaWhite;
      color: $imdaWhite;
      border-radius: 22px;
      padding: 10px 50px 10px 16px;
      line-height: 1.4;
      
      @include tablet {
        padding: 8px 50px 8px 28px;
      }

      &:hover,
      &:focus {
        background-color: transparent;
      }

      .icon {
        color: $imdaWhite;
      }
    }

    .custom-select__custom-dropdown {
      &.list-shown {
        .custom-trigger {
          .icon {
            transform: rotate(0);
          }
        }
      }
    }

    .custom-list {
      top: 0;
      background-color: $contentHubBlack;
      border-radius: 22px;
      border: 1px solid #fff;

      li {
        button {
          background: $contentHubBlack;
          font-size: calc-em(16px);
          font-weight: 400;
          line-height: 140%;
          padding: 9px 50px 9px 16px;
          color: #fff;

          &:hover, &:focus {
            background: $contentHubBlack;
            color: $purple60;
          }

          &:after {
            font-size: calc-em(14px);
          }

          @include tablet {
            font-size: calc-em(18px);
            padding: 8px 28px;
          }
        }

        &.active {
          button {
            background: $primaryDarkPurple;
            color: #fff;
            font-weight: 600;

            &:after {
              display: none;
            }
          }
        }

        &[data-value=""] {
          position: relative;

          &:after {
            content: '';
            position: absolute;
            width: calc(100% - 18px);
            height: 0.5px;
            left: 9px;
            right: 9px;
            bottom: 0;
            background-color: #fff;

            @include desktop {
              width: 100%;
              height: 1px;
              left: 0;
              right: 0;
            }
          }

          button {
            pointer-events: none;

            &:before {
              content: '\e91c';
              font-family: icomoon !important;
              font-weight: 400;
              text-align: right;
              position: absolute;
              right: 17px;
              transform: scaleY(-1);
              font-size: calc-em(8px, 18px);

              @include desktop {
                right: 16px;
              }
            }
          }

          &.active {
            button {
              background: $contentHubBlack;
              font-weight: 400;

              &:after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $bpTablet), print {
  .events-listing,
  .news-listing {
    &__list {
      margin: 0 -12px;

      .empty-msg {
        padding: 0 12px;
      }
    }

    &__item {
      padding: 0 12px;
      width: (100% / 2);
      margin-bottom: 24px; 
      
      & > * {
        height: 100%;
        display: flex;
        flex-direction: column;

        & > *:last-child {
          flex-grow: 1;
        }
      }
    }
  }
}

@media only screen and (min-width: $bpDesktop), print {
  .events-listing,
  .news-listing {
    &__item {
      width: (100% / 3);
    }
  }
}
