include ../../atoms/loading-icon/loading-icon
include ../../molecules/listing-filter/listing-filter
include ../../molecules/pagination/pagination
include ../../molecules/teaser-card/teaser-card
include ../../molecules/stories-card/stories-card

mixin news-listing(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .news-listing(data-endpoint="/ajax/news-listing.json")&attributes(attributes)
    .container
      +news-listing-filter({
        "search": [
          {
            "__type": "select",
            "label": "Support for",
            "id": "support",
            "name": "support",
            "options": [
              {
                "value": "",
                "text": "Select a profile"
              },
              {
                "value": "all",
                "text": "All profiles",
                "profile": "profile0",
                "selected": true
              },
              {
                "value": "Businesses",
                "text": "Businesses",
                "profile": "profile1"
              },
              {
                "value": "Students-&-Professionals",
                "text": "Students & Professionals",
                "profile": "profile2"
              },
              {
                "value": "Public-&-Seniors",
                "text": "Public & Seniors",
                "profile": "profile3"
              }
            ]
          },
          {
            "id": "keyword",
            "name": "keyword",
            "__type": "search"
          }
        ],
        "filters": [
          {
            "__type": "select",
            "label": "Type",
            "id": "type",
            "name": "type",
            "options": [
              {
                "value": "",
                "text": "Select content"
              },
              {
                "value": "all",
                "text": "All content",
                "profilelist": "profile1"
              },
              {
                "value": "all",
                "text": "All content",
                "profilelist": "profile2"
              },
              {
                "value": "all",
                "text": "All content",
                "profilelist": "profile3"
              },
              {
                "value": "success stories",
                "text": "Success stories",
                "profilelist": "profile1"
              },
              {
                "value": "thought leadership",
                "text": "Thought leadership",
                "profilelist": "profile1"
              },
              {
                "value": "success stories",
                "text": "student test 1",
                "profilelist": "profile2"
              },
              {
                "value": "thought leadership",
                "text": "student test 2",
                "profilelist": "profile2"
              },   
              {
                "value": "success stories",
                "text": "others test 1",
                "profilelist": "profile3"
              },
              {
                "value": "thought leadership",
                "text": "others test 2",
                "profilelist": "profile3"
              }
            ]
          },
          {
            "label": "Select industry",
            "id": "industry",
            "name": "industry",
            "__type": "select",
            "options": [
              {
                "value": "",
                "text": "Select industry"
              },
              {
                "value": "all",
                "text": "All industries",
              },
              {
                "value": "business",
                "text": "Business"
              },
              {
                "value": "Technology",
                "text": "Technology"
              },
              {
                "value": "Telecommunications",
                "text": "Telecommunications"
              },
              {
                "value": "Postal",
                "text": "Postal"
              },
              {
                "value": "Financial Services",
                "text": "Financial Services"
              },
              {
                "value": "Logistics",
                "text": "Logistics"
              },
              {
                "value": "Retail",
                "text": "Retail"
              },
              {
                "value": "Security",
                "text": "Security"
              },
              {
                "value": "Environmental Services",
                "text": "Environmental Services testing"
              },
              {
                "value": "Food Services",
                "text": "Food Services"
              },
              {
                "value": "Wholesale Trade",
                "text": "Wholesale Trade"
              },
              {
                "value": "Others",
                "text": "Others"
              }
            ]
          },
          {
            "__type": "select",
            "label": "Topics",
            "id": "topic",
            "name": "topic",
            "options": [
                {
                  "value": "",
                  "text": "Select topic"
                },
                {
                  "value": "all",
                  "text": "All topics",
                  "profilelist": "profile1"
                },
                {
                  "value": "all",
                  "text": "All topics",
                  "profilelist": "profile2"
                },
                {
                  "value": "all",
                  "text": "All topics",
                  "profilelist": "profile3"
                },
                {
                  "value": "profile 1 topic",
                  "text": "profile 1 topic",
                  "profilelist": "profile1"
                },
                {
                  "value": "profile 1 topic 2",
                  "text": "profile 1 topic 2",
                  "profilelist": "profile1"
                },
                {
                  "value": "profile 2 topic 1",
                  "text": "profile 2 topic 1",
                  "profilelist": "profile2"
                },
                {
                  "value": "profile 2 topic 2",
                  "text": "profile 2 topic 2",
                  "profilelist": "profile2"
                },   
                {
                  "value": "profile 3 topic 1",
                  "text": "profile 3 topic 1",
                  "profilelist": "profile3"
                },
                {
                  "value": "profile 3 topic 2",
                  "text": "profile 3 topic 2",
                  "profilelist": "profile3"
                }
              ]
            },
          {
            "__type": "select",
            "label": "Year",
            "id": "year",
            "name": "year",
            "options": [
              {
                "value": "",
                "text": "Select year"
              },
              {
                "value": "all",
                "text": "All years"
              },
              {
                "value": "2022",
                "text": "2022"
              },
              {
                "value": "2021",
                "text": "2021"
              },
              {
                "value": "2020",
                "text": "2020"
              },
              {
                "value": "2019",
                "text": "2019"
              },
              {
                "value": "2018",
                "text": "2018"
              },
              {
                "value": "2017",
                "text": "2017"
              },
              {
                "value": "2016",
                "text": "2016"
              },
              {
                "value": "2015",
                "text": "2015"
              },
              {
                "value": "2014",
                "text": "2014"
              },
              {
                "value": "2013",
                "text": "2013"
              },
              {
                "value": "2012",
                "text": "2012"
              },
              {
                "value": "2011",
                "text": "2011"
              },
              {
                "value": "2010",
                "text": "2010"
              },
              {
                "type":"link",
                "value": "/news-listing",
                "text": "Archived"
              }
            ]
          }
        ]
      }).news-listing__filters.listing-filter--dark

      .news-listing__content
        +loading-icon()
        .news-listing__list
        //- each item, index in spec.items
        //-   .news-listing__item
        //-     +panel-card(item)(class="panel-card--" + item.color)

        +pagination-js().news-listing__pagination.pagination-js--dark

  script#newsListingTemplate(type="text/x-dot-template")
    |{{? it.length}}
    |{{~ it :item:index}}
    .news-listing__item
      //+teaser-card-news-dot().no-border
      +stories-card-dot()
    |{{~}}
    |{{??}}
    p.empty-msg Sorry, there is no result. Please try with different filter.
    |{{?}}
