// detail-content styles
.detail-content {
  margin-bottom: 0 !important;
  padding-bottom: 20px !important;
  
  @include desktop {
    padding-bottom: 72px !important;
  }

  // > .row {
  //   margin-bottom: 0;
  // }

  // > .accordion-list,
  // > .video-player,
  // > .highlight-card,
  // > .gallery,
  // > .image-link,
  // > .teaser-card,
  // > .cta-banner,
  // > .standard-content__carousel {
  //   margin-bottom: 30px;
    
  //   @include desktop {
  //     margin-bottom: 60px;
  //   }
  // }

  // > .image-text,
  // > .rte {
  //   margin-bottom: 20px;
  // }

  // > .image-text {
  //   margin-top: 0;
  // }

  // .tags-list {
  //   margin: 20px 0;
  // }

  > * {
    margin-bottom: 20px;
  }

  > .accordion-list,
  > .box-quote,
  > .highlight-card,
  > .image-link,
  > .image-text,
  > .selected-posts,
  > .image-cta-listing,
  > .topic-card-listing,
  > .video-player,
  > .gallery,
  > .image-text,
  > .rte,
  > .teaser-card,
  > .cta-banner,
  > .standard-content__carousel {
    margin-bottom: 20px !important;
  }

  > .box-quote {
    margin-top: 50px;
    margin-bottom: 50px !important;
  }

  > .highlight-card {
    margin-top: 50px;
    margin-bottom: 20px !important;
  }

  > .image-cta-listing {
    .image-link {
      margin-bottom: 0 !important;
    }
  }

  > .selected-posts {
    margin-top: 0px;
    .article-link {
      margin-bottom: 0 !important;
    }
  }

  > .image-rte {
    margin-bottom: 0 !important;
    .rte {
      h1:first-child {
        padding-top: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 20px !important;
      }
    }
  }

  > .topic-card-listing {
    margin-top: 0px;
  }

  .row {
    margin-bottom: 0px;
    .image-link {
      margin-bottom: 20px !important;
    }
    .teaser-card {
      margin-bottom: 20px !important;
    }
  }

  .rte {
    > .image-text {
      margin-bottom: 20px !important;
    }
  }

  > .rte:first-child {
    > h1:first-child { 
      padding-top: 0 !important;
    }
  }

  > .accordion-list {
    > .accordion-content {
      > h2:first-child { 
        padding-top: 0 !important;
      }
    }
  }

  div:last-of-type:not(.btn-read-more, .table-responsive, .teaser-card) {
    margin-bottom: 0 !important;
  }

  &__footer {
    margin-bottom: 0px;

    &:has(div) {
      margin-top: 20px;
    }

    .btn-read-more {
      background-color: $lightGrey;
      color: #000;
      display: flex;
      align-items: center;
      padding: 24px;
      gap: 20px;
      line-height: 170%;
      border-radius: 8px;

      @include tabletMax {
        flex-direction: column;
      }

      @include desktop {
        margin-bottom: 12px;
      }

      .btn-primary {
        min-width: 250px;
      }

      .title {
        font-weight: 600;
        font-size: calc-em(18px);

        @include desktop {
          font-size: calc-em(20px);
        }
        
      }
    }

    .detail-content__last-update {
      margin-top: 20px;
      margin-bottom: 0;
      font-size: calc-em(14px);
      line-height: 140%;
      display: flex;
      align-items: center;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      color: $textBlack;
    }
  }
}

@media only screen and (max-width: $bpTablet - 1) {
  .detail-content {
    padding-bottom: 20px !important;
    &__footer {
      .btn-social-share {
        display: none;
      }
    }
  }
}