include ../../molecules/tags-list/tags-list
include ../../molecules/video-player/video-player
include ../../molecules/highlight-card/highlight-card
include ../../molecules/box-quote/box-quote
include ../../molecules/image-link/image-link
include ../../molecules/name-card/name-card
include ../../molecules/teaser-card/teaser-card
include ../../molecules/rte/rte
include ../../molecules/footnote/footnote
include ../../organisms/selected-posts/selected-posts
include ../../organisms/gallery/gallery

mixin detail-content(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  article.detail-content
    if block
      block
    else
      +video-player({
        "videoId": "L209rWk_0TY",
        "image": "/images/detail/gallery-1.jpg",
        "title": "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, quibusdam."
      })

      +highlight-card({
        "image": "/images/detail/highlight-1.jpg",
        "title": "Section Highlight",
        "content": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio!"
      })

      +highlight-card({
        "image": "/images/detail/highlight-2.jpg",
        "title": "Section Highlight",
        "content": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio!"
      }).highlight-card--purple.highlight-card--reverse

      +box-quote({
        "image": "/images/detail/quote.jpg",
        "title": "Lorem ipsum dolor",
        "content": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores labore dignissimos architecto quos nisi et, dolore fugiat placeat error animi officiis non cumque impedit maxime deserunt reprehenderit dolorem sapiente hic laboriosam veniam ut eos odit tempora? Non ea officiis corporis officia at quidem nam blanditiis, similique necessitatibus aperiam vitae reprehenderit!",
        "author": "James Lim Rui Yi",
        "designation": "Senior Manager, Industry Development Group"
      })

      +box-quote({
        "title": "Lorem ipsum dolor",
        "content": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores labore dignissimos architecto quos nisi et, dolore fugiat placeat error animi officiis non cumque impedit maxime deserunt reprehenderit dolorem sapiente hic laboriosam veniam ut eos odit tempora? Non ea officiis corporis officia at quidem nam blanditiis, similique necessitatibus aperiam vitae reprehenderit!",
        "author": "James Lim Rui Yi",
        "designation": "Senior Manager, Industry Development Group"
      })

      .row
        .col-md-6.col-sm-6
          +teaser-card({
            "title": "Silver Infocomm Curriculum",
            "category": "Scheme",
            "industry": "Tech",
            "description": "IMDA developed a set of customised curriculum to increase infocomm litgeracy among seniors. There are two tracks, iBEGIN and iLIVE, for seniors to learn basic infocomm and digital lifestyle skills respectively.",
            "url": "#",
            "target": "For Individuals",
            "icon": "icon-individual"
          }).teaser-card--panel.teaser-card--blue
        .col-md-6.col-sm-6
          +teaser-card({
            "title": "Silver Infocomm Curriculum",
            "category": "Scheme",
            "industry": "Tech",
            "description": "IMDA developed a set of customised curriculum to increase infocomm litgeracy among seniors. There are two tracks, iBEGIN and iLIVE, for seniors to learn basic infocomm and digital lifestyle skills respectively.",
            "url": "#",
            "target": "For Individuals",
            "icon": "icon-individual"
          }).teaser-card--panel.teaser-card--pink

      +selected-posts({
        "items": [
          {
            "url": "#",
            "image": "/images/detail/selected-1.jpg",
            "title": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, quidem!",
            "description": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quae magni unde dicta, repudiandae qui odit atque neque natus quidem sequi accusamus non consectetur similique, animi nostrum facere dolor nesciunt quam adipisci? Eveniet necessitatibus, enim minima voluptatibus alias rem labore."
          },
          {
            "url": "#",
            "image": "/images/detail/selected-2.jpg",
            "title": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, quidem!",
            "description": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quae magni unde dicta, repudiandae qui odit atque neque natus quidem sequi accusamus non consectetur similique, animi nostrum facere dolor nesciunt quam adipisci? Eveniet necessitatibus, enim minima voluptatibus alias rem labore."
          },
          {
            "url": "#",
            "image": "/images/detail/selected-3.jpg",
            "title": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, quidem!",
            "description": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quae magni unde dicta, repudiandae qui odit atque neque natus quidem sequi accusamus non consectetur similique, animi nostrum facere dolor nesciunt quam adipisci? Eveniet necessitatibus, enim minima voluptatibus alias rem labore."
          }
        ]
      })

      +selected-posts({
        "items": [
          {
            "url": "#",
            "image": "/images/detail/selected-1.jpg",
            "title": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, quidem!",
            "description": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quae magni unde dicta, repudiandae qui odit atque neque natus quidem sequi accusamus non consectetur similique, animi nostrum facere dolor nesciunt quam adipisci? Eveniet necessitatibus, enim minima voluptatibus alias rem labore."
          },
          {
            "url": "#",
            "image": "/images/detail/selected-2.jpg",
            "title": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, quidem!",
            "description": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quae magni unde dicta, repudiandae qui odit atque neque natus quidem sequi accusamus non consectetur similique, animi nostrum facere dolor nesciunt quam adipisci? Eveniet necessitatibus, enim minima voluptatibus alias rem labore."
          }
        ]
      })

      +gallery({
        "items": [
          {
            "image": "/images/detail/gallery-1.jpg",
            "alt": "Groupfie",
            "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
          },
          {
            "image": "/images/detail/gallery-1.jpg",
            "alt": "Groupfie",
            "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
          },
          {
            "image": "/images/detail/gallery-1.jpg",
            "alt": "Groupfie",
            "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
          },
          {
            "image": "/images/detail/gallery-1.jpg",
            "alt": "Groupfie",
            "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
          }
        ]
      })

      .row
        .col-md-4
          +image-link({
            "title": "Title",
            "image": "/images/detail/image-1.png",
            "description": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, inventore.",
            "url": "#"
          })
        .col-md-4
          +image-link({
            "title": "Title",
            "image": "/images/detail/image-2.png",
            "description": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, inventore.",
            "url": "#"
          })
        .col-md-4
          +image-link({
            "title": "Title",
            "image": "/images/detail/image-3.png",
            "description": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, inventore.",
            "url": "#"
          }).col-md-4

    if spec.tags && spec.tags.length
      +tags-list({
        "title": "Tags",
        "items": spec.tags
      })

    footer.detail-content__footer
      if spec.footnote
        +footnote
      if spec.articleDate
        p.detail-content__last-update
          | Last updated on: #{' '}
          = spec.articleDate

      //- .addthis_toolbox
      //-   a.btn.btn-social-share.addthis_button_more
      //-     span.icon.icon-share
      //-     span.label Share

      if spec.nextButton
        div.btn-read-more
          span.title= spec.nextButton.title
          +button({
            "url": spec.nextButton.url,
            "label": "Read the next article"
          })