// search-results styles
.search-results {
  margin: 30px 0 45px;

  @include desktop {
    margin: 45px 0 60px;
  }

  &__summary {
    margin: 25px 0 36px;

    @include desktop {
      margin: 0 0 40px;
    }

    p {
      line-height: 140%;
      margin: 0;
    }
  }

  &__content {
    position: relative;
    min-height: 300px;

    &:before {
      content: "";
      background: #fff;
      height: 100%;
      left: 0;
      opacity: 0.8;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    &.content-loaded {
      &:before {
        display: none;
      }

      .loading-icon {
        display: none;
      }

      .pagination {
        display: block;
      }
    }

    &.content-updating {
      &:before {
        display: block;
      }

      .loading-icon {
        display: block;
      }
    }

    .loading-icon {
      left: 0;
      position: absolute;
      margin: auto;
      right: 0;
      top: 20px;
      z-index: 1;
    }

    .pagination {
      display: none;
    }
  }

  &__list {
    @extend %list-unstyled;

    li {
      margin-bottom: 20px;

      @include desktop {
        margin-bottom: 30px;
      }

      .teaser-card {
        height: 100%;
      }
    }
  }
}
