include ../../atoms/loading-icon/loading-icon
include ../../molecules/filters-group/filters-group
include ../../molecules/pagination/pagination
include ../../molecules/teaser-card/teaser-card
include ../../organisms/search-filters/search-filters

mixin search-results(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .search-results(data-endpoint="/ajax/search-results.json" data-suggestions-endpoint="/ajax/search-suggestions.json")
    .container
      +search-filters({
        "fields": {
          "label": "Type of support",
          "name": "support",
          "options": [
            {
              "value": "all",
              "label": "All"
            },
            {
              "value": "programmes",
              "label": "Programmes"
            },
            {
              "value": "grants",
              "label": "Grants"
            },
            {
              "value": "digitalsolutions",
              "label": "Digital Solutions"
            },
            {
              "value": "industrydigitalplans",
              "label": "Industry Digital Plans"
            },
            {
              "value": "certifications",
              "label": "Certifications"
            },
            {
              "value": "roadmaps",
              "label": "Roadmaps"
            },
            {
              "value": "regulations",
              "label": "Regulations"
            },
            {
              "value": "licenses",
              "label": "Licenses"
            },
            {
              "value": "contenthub",
              "label": "Content Hub"
            }
          ]
        }
      })
      .search-results__summary
        p Showing results 
          span.page 1-6
          |  of 
          span.total 30
          |  results
      .search-results__content
        +loading-icon()
        ul.search-results__list.row

        +pagination-js().search-results__pagination

  script#searchResultsTemplate(type="text/x-dot-template")
    | {{?it.length}}
    | {{~it :item:index}}
    li.col-md-4
      +teaser-card-no-date-dot()
    | {{~}}
    | {{??}}
    p.empty-msg Sorry, there is no result. Please try with different filter.
    | {{?}}

