include ../../molecules/cta-card/cta-card


mixin cta-section(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''


  if spec.page == 'sgdigital'
    section.cta-section(class=spec.__class)&attributes(attributes)
      .col-3
        +cta-card({"image":"/images/card-1.jpg","text":"Film Community"})
      .col-3
        +cta-card({"image":"/images/card-2.jpg","text":"Filming in Singapore"})
      .col-3
        +cta-card({"image":"/images/card-3.jpg","text":"Film Literacy & Awareness"})
      .col-3
        +cta-card({"image":"/images/card-4.jpg","text":"Programmes / Grants"})
      .col-3
        +cta-card({"image":"/images/card-5.jpg","text":"Film Directory"})
      .col-3
        +cta-card({"image":"/images/card-6.jpg","text":"Facts & Figures "})
      .col-3
        +cta-card({"image":"/images/card-5.jpg","text":"Film Directory"})
      .col-3
        +cta-card({"image":"/images/card-6.jpg","text":"Facts & Figures "})
  else if spec.page == 'componenttemplate'
    section.cta-section(class=spec.__class)&attributes(attributes)
      .col-4
        +cta-card({"image":"/images/card-1.jpg","text":"Film Community"})
      .col-4
        +cta-card({"image":"/images/card-2.jpg","text":"Filming in Singapore"})
      .col-4
        +cta-card({"image":"/images/card-3.jpg","text":"Film Literacy & Awareness"})
  else
    section.cta-section(class=spec.__class)&attributes(attributes)
      .col-xs-12.col-sm-6.col-md-4
        +cta-card({"image":"/images/card-1.jpg","text":"Film Community"})
      .col-xs-12.col-sm-6.col-md-4
        +cta-card({"image":"/images/card-2.jpg","text":"Filming in Singapore"})
      .col-xs-12.col-sm-6.col-md-4
        +cta-card({"image":"/images/card-3.jpg","text":"Film Literacy & Awareness"})
      .col-xs-12.col-sm-6.col-md-4
        +cta-card({"image":"/images/card-4.jpg","text":"Programmes / Grants"})
      .col-xs-12.col-sm-6.col-md-4
        +cta-card({"image":"/images/card-5.jpg","text":"Film Directory"})
      .col-xs-12.col-sm-6.col-md-4
        +cta-card({"image":"/images/card-6.jpg","text":"Facts & Figures "})
