mixin name-card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .name-card&attributes(attributes)
    .name-card__content.match-height
      .name-card__img
        img(src= spec.image, alt= spec.salutation + " " + spec.name)
      .name-card__info
        h3.name-card__name
          span.salutation= spec.salutation
          | #{' '}
          span.name= spec.name
        .name-card__designation
          != spec.designation
    .name-card__footer
      +button({
        "url": spec.cta.url,
        "label": spec.cta.label
      }).btn-primary--inverse
      if (spec.cta2)
        +button({
          "url": spec.cta2.url,
          "label": spec.cta2.label
        }).btn-primary--inverse