// name-card styles
.name-card {
  $p: &;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  @extend %clearfix;
  height: calc(100% - 20px);

  @include tablet {
    box-shadow: $purpleShadow;
  }

  @include desktop {
    margin-bottom: 30px;
  }

  &> * {
    width: 100%;
  }

  &__content {
    /* display: flex; */
    /* height: 100%; */

    @include tablet {
      display: flex;
    }

    .btn svg {
      min-width: 24px;
    }
  }

  &__img {
    float: left;
    flex: 0 0 35.7615894%;
    max-width: 35.7615894%;
    width: 35.7615894%;
    padding: 6px 0;

    @include tablet {
      padding: 42px 12px 12px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: top center;
    }
    /* flex: 0 0 35.7615894%;
    max-width: 35.7615894%;
    @include aspect-ratio(137, 160, 35.7615894%);
    position: relative;

    img {
      @include absolute-img;
      @include image-cover;
    } */
  }

  &__info {
    flex: 0 0 calc(100% - 35.7615894%);
    max-width: calc(100% - 35.7615894%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 24px;
    line-height: 1.4;
    color: $textBlack;
    padding: 0px 22px 12px;
    position: relative;
    float: left;

    @include tablet {
      padding: 38px 10px 12px 0px;
    }
  }

  &__name {
    font-size: calc-em(18px);
    margin: 0;
    font-weight: 600;
  }

  &__designation {
    p {
      margin: 0;
    }
  }

  &__footer {
    padding: 12px 0px 36px;

    @include tablet {
      padding: 12px 12px 24px 12px;
    }

    & > .btn {
      width: 100%;
      text-align: center;
      font-size: calc-em(14px);
    }

    & > .btn:not(:last-child) {
      margin-bottom: 12px;
    }
    /* & > .btn {
      float: left;
      clear: both;
      margin-bottom: 12px;
    } */
    /* @include tablet {
      width: calc(100% - 64px);
    } */
  }
}
