extends ../_layouts/base

include ../_modules/organisms/page-banner/page-banner
include ../_modules/organisms/news-listing/news-listing

block append config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var pageTitle = "IMPACT News"
  - var pageDesc = "This is our vision for the future of digital, and how we are bringing it to life."
  - var sectionName = "News & Events"
  -
    var breadcrumbs = [
      {
        "name": "News & Events",
        "url": "/standard-landing"
      },
      {
        "name": "IMPACT News"
      }
    ]

block content
  +page-banner({
    "pageTitle": pageTitle,
    "pageDesc": pageDesc,
    "breadcrumbs": breadcrumbs,
    "image": "/images/pagebanner1.jpg",
    "color": "dark" 
  }).page-banner--dark

  +news-listing({
    "pageUrl": "/news-listing",
    "items": [
      {
        "url": "#",
        "title": "Coding talents Swiftly discovered",
        "image": "/images/news/news-1.jpg",
        "date": "03 Nov 2017",
        "readtime": "5 mins read",
        "industries": [
          "Retail"
        ],
        "category": "Success stories",
        "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
        "topics": [
          {
            "name": "Digital Economy",
            "url": "#"
          },
          {
            "name": "Startups",
            "url": "#"
          }
        ],
        "color": "purple"
      },
      {
        "url": "#",
        "title": "New Singapore Digital Scholarship offers global exposure and more",
        "image": "/images/news/news-4.jpg",
        "date": "03 Nov 2017",
        "readtime": "8 mins read",
        "industries": [
          "Retail",
          "Finance"
        ],
        "category": "Thought leadership",
        "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
        "topics": [
          {
            "name": "Digital Economy",
            "url": "#"
          },
          {
            "name": "Startups",
            "url": "#"
          }
        ],
        "color": "green"
      },
      {
        "url": "#",
        "title": "Best of the Bestest",
        "image": "/images/news/news-5.jpg",
        "date": "03 Nov 2017",
        "readtime": "10 mins read",
        "industries": [
          "Retail"
        ],
        "category": "Success stories",
        "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
        "topics": [
          {
            "name": "Digital Economy",
            "url": "#"
          },
          {
            "name": "Startups",
            "url": "#"
          }
        ],
        "color": "orange"
      },
      {
        "url": "#",
        "title": "What you need to know about the Singapore Media Festival 2018",
        "image": "/images/news/news-6.jpg",
        "date": "03 Nov 2017",
        "readtime": "3 mins read",
        "industries": [
          "Retail"
        ],
        "category": "Thought leadership",
        "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
        "topics": [
          {
            "name": "Digital Economy",
            "url": "#"
          },
          {
            "name": "Startups",
            "url": "#"
          }
        ],
        "color": "rose"
      },
      {
        "url": "#",
        "title": "Insider Secrets of the AI Escape Bus Challenge",
        "image": "/images/news/news-6.jpg",
        "date": "03 Nov 2017",
        "readtime": "5 mins read",
        "industries": [
          "Retail"
        ],
        "category": "Success stories",
        "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
        "topics": [
          {
            "name": "Digital Economy",
            "url": "#"
          },
          {
            "name": "Startups",
            "url": "#"
          }
        ],
        "color": "blue"
      },
      {
        "url": "#",
        "title": "The AI Future is a game",
        "image": "/images/news/news-7.jpg",
        "date": "03 Nov 2017",
        "readtime": "7 mins read",
        "industries": [
          "Broadcast and publication"
        ],
        "category": "Thought leadership",
        "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
        "topics": [
          {
            "name": "Digital Economy",
            "url": "#"
          },
          {
            "name": "Startups",
            "url": "#"
          }
        ],
        "color": "purple"
      },
      {
        "url": "#",
        "title": "The AI Future is a game",
        "image": "/images/news/news-8.jpg",
        "date": "03 Nov 2017",
        "readtime": "8 mins read",
        "industries": [
          "Retail"
        ],
        "category": "Success stories",
        "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
        "topics": [
          {
            "name": "Digital Economy",
            "url": "#"
          },
          {
            "name": "Startups",
            "url": "#"
          }
        ],
        "color": "green"
      },
      {
        "url": "#",
        "title": "What you need to know about the Singapore Media Festival 2018",
        "image": "/images/news/news-9.jpg",
        "date": "03 Nov 2017",
        "readtime": "15 mins read",
        "industries": [
          "Retail"
        ],
        "category": "Success stories",
        "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
        "topics": [
          {
            "name": "Digital Economy",
            "url": "#"
          },
          {
            "name": "Startups",
            "url": "#"
          }
        ],
        "color": "orange"
      },
      {
        "url": "#",
        "title": "Insider Secrets of the AI Escape Bus Challenge",
        "image": "/images/news/news-10.jpg",
        "date": "03 Nov 2017",
        "readtime": "12 mins read",
        "industries": [
          "Retail"
        ],
        "category": "Success stories",
        "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, reiciendis.",
        "topics": [
          {
            "name": "Digital Economy",
            "url": "#"
          },
          {
            "name": "Startups",
            "url": "#"
          }
        ],
        "color": "green"
      }
    ]
  }).news-listing--dark
