mixin article-gallery-carousel(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.article-gallery-carousel(class=spec.__class)&attributes(attributes)
    .article-gallery-carousel__texts
      div#cardCarousel(data-carousel)
        each article in spec.articles
          article.article-card
            a(href=article.url)
              span.vh= article.title
            .article-card__image
              picture
                source(srcset=article.mobileImage, media="(max-width: 1023px)")
                source(srcset=article.image)
                img(src=article.image, alt="")
            .article-card__text
              h3=article.title
              if article.text
                p=article.text
              +button({
                "url": article.url,
                "label": article.label
              })
      .imda-carousel__controls.imda-carousel__controls--article-gallery-carousel
        div.no-desktop(data-carousel-pager)
        div(data-carousel-arrows)
        div.desktop-only(data-carousel-dots)
    //- .article-gallery-carousel__images
    //-   div#imagesCarousel(data-carousel data-navfor='#cardCarousel')
    //-     each image in spec.articles
    //-       //- picture
    //-         source(srcset=image.mobileImage, media="(max-width: 1023px)")
    //-         source(srcset=image.image)
    //-       img(src=image.image, alt="")
