// article-gallery-carousel styles
.article-gallery-carousel {
  &.active {
    @include desktop {
      position: relative;
    }
  }

  .imda-carousel__controls {
    width: 100%;
    height: 40px;

    @include desktopMax {
      margin: 32px 0 24px;
    }

    @include desktop {
      padding: 0 10px;
      justify-content: flex-start;
      margin-top: 24px;
    }

    [data-carousel-dots] {
      margin: 0 0 0 32px;
    }
  }

  picture {
    // @include aspect-ratio(604, 390, 100%);
    display: block !important;
    overflow: hidden;

    img {
      // @include absolute-img;
      @include image-cover;
    }
  }

  &__texts {
    .slick-slide {
      @include desktop {
        padding: 10px;
      }
    }

    .article-card {
      position: relative;

      @include desktop {
        display: flex !important;
        flex-direction: column;
      }

      & > a {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        
        @include desktop {
          display: none;
          pointer-events: none;
        }
      }

      &__image {
        width: 100%;

        @include desktop {
          flex: 0 0 calc(550 / 1230 * 100%);
          max-width: calc(550 / 1230 * 100%);
        }
      }

      &__text {
        padding: 24px;
        background-color: #fff;
        
        @include desktopMax {
          border-left: 1px solid $borderPurple2;
          border-right: 1px solid $borderPurple2;
          border-bottom: 1px solid $borderPurple2;
        }

        @include desktop {
          padding: 28px;
          align-self: flex-end;
          flex: 0 0 calc(695 / 1230 * 100%);
          max-width: calc(695 / 1230 * 100%);
          box-shadow: $purpleShadow;
          position: relative;
          z-index: 1;
          margin: calc(-280 / 1230 * 100%) 0 0;
        }
  
        h3 {
          font-weight: 600;
          font-size: calc-em(20px);
          line-height: 120%;
          color: $textBlack;
          margin: 0 0 16px;
          
          @include desktop {
            font-size: calc-em(28px);
            margin: 0 0 24px;
          }
        }
        
        p {
          color: $textBlack;
          line-height: 140%;
          margin: 0 0 16px;
          
          @include desktopMax {
            @include line-clamp(4);
          }

          @include desktop {
            margin: 0 0 24px;
          }
        }

        .btn {
          z-index: 2;
        }
      }
    }
  }

  &__images {
    position: relative;
    margin: 32px 0 0;

    [data-carousel-arrows] {
      .slick-arrow {
        
        @include desktop {
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          z-index: 1;
        }
        
        &.slick-prev {
          @include desktop {
            left: 10px;
          }
        }
        
        &.slick-next {
          @include desktop {
            right: 10px;
          }
        }
      }
    }

    [data-carousel] {
      @include desktopMax {
        display: none;
      }

      @include desktop {
        padding: 0 62px;
        text-align: center;
      }
    }

    .slick-slide {
      padding: 0 10px;
      cursor: pointer;
      
      @include desktop {
        padding: 0 30px;
      }

      &.slick-current {
        cursor: auto;

        picture {
          border-color: $lightPurple;

          &:after {
            background-color: rgba(0,0,0,0);
          }
        }
      }
    }

    picture {
      border: 5px solid transparent;
      transition: all 0.35s ease-in-out;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: $overlay;
        transition: all 0.35s ease-in-out;
      }
    }
  }
}