include ../../molecules/testimonial-item/testimonial-item

mixin testimonial-section(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.testimonial-section(class=spec.__class)&attributes(attributes)
    .bg-image
      img(src="/images/bgimage.jpg")
    .container.container--mw1140.content-wrapper
      h3 Success Stories
      .testimonial-carousel
        +testimonial-item({"name":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique soluta."})
        +testimonial-item({"name":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique soluta."})
      .carousel-arrow.carousel-arrow--next
        span.icon.icon-angle-right
      .carousel-arrow.carousel-arrow--prev
        span.icon.icon-angle-right
      a.sggd-btn(class="sggd-btn--standard", href=spec.link)&attributes(attributes)
        .btn-text
          span VIEW ALL
        .arrow
          .arrow-wrapper
            span.left
            span.right
