// testimonial-section styles
.testimonial-section {
  h3 {
    font-family: $font-family;
    font-size: calc-em(50px);
    font-weight: $light;
    line-height: 3.125rem;
  }
}

@media only screen and (max-width: $bpTablet - 1) {
  .testimonial-section {
    h3 {
      font-size: calc-em(30px);
    }
  }
}
