mixin carousel-banner(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.image = spec.image || ''
  - spec.title = spec.title || ''
  - spec.desc = spec.desc || ''
  - spec.cta = spec.cta || ''
  - spec.link = spec.link || '#'

  section.carousel-banner(class=spec.__class data-slider-speed=3000)&attributes(attributes)
    .slider-nav.slider-nav--prev
      span.icon.icon-angle-right
    .slider-nav.slider-nav--next
      span.icon.icon-angle-right
    .banner-slider
      a.banner-slide(href='http://www.google.com')
        .banner-image
          img.desktop-img(src='/images/banner3.jpg')
          img.mobile-img(src='/images/banner1small.jpg')
          .banner-content.desktop-content
            .container
              span.banner-detail
                h1 This is a desktop title with more.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                span.sggd-btn.sggd-btn--special
                  .btn-text
                    span=spec.cta
                  .arrow
                    .arrow-wrapper
                      span.left
                      span.right
          .banner-content.mobile-content
            .container
              span.banner-detail
                h1 This is a mobile content with more.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                span.sggd-btn.sggd-btn--special
                  .btn-text
                    span=spec.cta
                  .arrow
                    .arrow-wrapper
                      span.left
                      span.right
