include ../../molecules/image-card/image-card

mixin featured-articles(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.featured-articles.viewport-animate
    .container
      .featured-articles__header
        h2.vh Featured articles
        .featured-articles__img
          .featured-articles__img-wrapper
            img.sgdigital-logo(src="/Cwp/assets/imda/images/FB-tn.png", alt="SG Digital Logo")
        a.cta-link-angle(href="/news-listing")
          span More on SG:Digital
          span.icon.icon-angle-right
        //- h3.featured-articles__title More reasons to smile!
        p.featured-articles__desc Explore Singapore's digitalisation efforts!

        //- button.btn.btn-circle.slick-prev.slick-arrow(type="button")
        //-   span.icon.icon-arrow-left
        //-   span.vh Previous slide

        //- button.btn.btn-circle.slick-next.slick-arrow(type="button")
        //-   span.icon.icon-arrow-right
        //-   span.vh Next slide

      .featured-articles__posts
        each item in spec.items
          .list
            +image-card(item).image-card--has-teaser
