// featured-articles styles
.featured-articles {
  opacity: 0;
  padding: 15px 0;
  transform: translateY(40px);
  transition: transform .25s $easeInOutExpo, opacity .25s ease-in-out;

  &.in-view {
    opacity: 1;
    transform: translateY(0);
  }

  .slick-dots {
    @extend %list-unstyled;
    margin-top: 5px;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 2px;

      &.slick-active {
        button {
          background: $red;
        }
      }
    }

    button {
      background: $background;
      border: 0;
      border-radius: 50%;
      display: inline-block;
      height: 8px;
      overflow: hidden;
      padding: 0;
      text-indent: -9999px;
      width: 8px;
    }
  }

  &__header {
    @extend %clearfix;
    margin-bottom: 20px;

    .cta-link-angle {
      display: inline-block;
      margin-top: 20px;
    }
  }

  &__title {
    font-size: calc-em(30px);
    font-weight: $medium;
    margin: 10px 0;
  }

  &__desc {
    font-size: calc-em(18px);
    font-weight: $light;
    margin: 10px 0;
  }

  &__posts {
    @extend %list-unstyled;

    .image-card--has-teaser {
      &:visited {
        .image-card__title {
          color: $grey;
        }
      }
    }

    .image-card {
      &__image {
        @include aspect-ratio(226, 150, 100%);
    
        @media only screen and (min-width: $bpDesktop) {
          @include aspect-ratio(226, 150, 100%);
        }
    
        img {
          @include absolute-img;
          @include image-cover;
        }
      }
    }
  }

  .slick-arrow {
    background: #fff;
    border: 1px solid $grey6;
    bottom: 0;
    color: $grey6;
    margin: auto;
    position: absolute;
    top: 0;
    z-index: 1;

    &.slick-prev {
      left: 0;
    }

    &.slick-next {
      right: 0;
    }

    &.slick-disabled {
      border-color: $grey4;
      background: $grey4;
      box-shadow: none;
      color: $background;
      cursor: auto;
    }
  }

  &__img-wrapper {
    //float: left;
    //width: 115px;
    @include aspect-ratio(115, 53, 100%);
    //padding-top: 5%; //to change to aspect ratio

    img {
      /* position: absolute;
      top: 0%; */
      @include absolute-img;
      @include image-cover;
    }
  }
}

@media only screen and (max-width: $bpTablet - 1) {
  .featured-articles {
    &__header {
      .slick-arrow {
        display: none !important;
      }
    }
  }
}

@media only screen and (max-width: $bpDesktop - 1) {
  .featured-articles {
    &__posts {
      .slick-arrow {
        height: 45px;
        width: 45px;
      }
    }
  }
}

@media only screen and (min-width: $bpTablet) {
  .featured-articles {
    &__header {
      /* .sgdigital-logo {
        float: left;
        width: 115px;
        vertical-align: middle;
      } */

      .cta-link-angle {
        float: right;
        margin-top: 20px;
      }

      .slick-prev {
        margin-right: 20px;
      }
    }

    &__img {
      float: left;
      width: 115px;
    }

    &__desc {
      // display: inline-block;
      float: left;
      font-size: calc-em(28px);
      font-weight: $medium;
      width: 100%;
    }

    &__posts {
      > .slick-list {
        margin: 0 -15px;
      }

      .slick-arrow {
        height: 45px;
        opacity: 0.5;
        width: 45px;

        &:focus {
          opacity: 0.5;
        }

        &:hover {
          opacity: 1;
        }
      }

      li, .list{
        padding: 0 15px;
      }
    }
  }
}

@media only screen and (min-width: $bpDesktop) {
  .featured-articles {
    padding: 30px 0;

    &__desc {
      margin-left: 20px;
      width: auto;
    }
  }
}

@media only screen and (min-width: $bpDesktop + 80) and (max-width: $bpLgDesktop - 1) {
  .featured-articles {
    .slick-arrow {
      &.slick-prev {
        left: -50px;
      }

      &.slick-next {
        right: -50px;
      }
    }
  }
}

@media only screen and (min-width: $bpLgDesktop + 80) {
  .featured-articles {
    .slick-arrow {
      &.slick-prev {
        left: -50px;
      }

      &.slick-next {
        right: -50px;
      }
    }
  }
}
