// accordion-sliders styles
.accordion-sliders {
  margin: 0 -20px;
  overflow: hidden;
  position: relative;

  @include desktop {
    margin: 0 0 56px;
    overflow: visible;
    filter: drop-shadow(0px 0px 12px rgba(112, 47, 138, 0.2));
  }

  [data-carousel] {
    margin: 0 14px;
    
    @include desktop {
      display: flex;
      margin: 0;
      width: 100%;
      border: 2px solid #fff;
      border-radius: 8px;
      overflow: hidden;
    }
  }

  .slick-list {
    overflow: visible;
  }

  .slick-track {
    @include desktopMax {
      display: flex;
    }

    @include desktop {
      max-width: 100%!important;
      transform: translate3d(0, 0, 0)!important;
      perspective: 100px;
      display: flex;
    }
  }

  .slick-slide {
    @include desktopMax {
      height: inherit;
    }

    @include desktop {
      margin: 0;
      float: none;
      display: flex;
    }

    .horizontal-accordion__content,
    .horizontal-accordion__content > div {
      @include desktopMax {
        height: 100%;
      }
    }
  }

  .imda-carousel__controls {
    margin: 16px 0 0;
    padding: 0 20px;
    
    @include desktop {
      padding: 0;
      position: absolute;
      top: 100%;
      right: 0;
    }
    
    [data-carousel-pager] {
      color: #fff;
  
      @include desktop {
        display: none;
      }
    }

    [data-carousel-arrows] {
      .slick-arrow {
        &.slick-disabled {
          border-color: #fff;
          color: #fff;
        }
      }
    }
  }
}