mixin accordion-sliders(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.accordion-sliders(class=spec.__class)&attributes(attributes)
    div(data-carousel)
      if block
        block
    .imda-carousel__controls.imda-carousel__controls--accordion
      div.no-desktop(data-carousel-pager)
      div(data-carousel-arrows)