// anchor-nav styles
.anchor-nav {
  background-color: #fff;
  border-bottom: 1px solid $borderGray2;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;

  &.is-sticky {
    position: fixed;
    top: 112px;
  }

  &--events {
    position: relative;
    margin: 0 0 75px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;

    &.is-sticky {
      position: sticky;
      background-color: $darkPurple40; 
    }

    .anchor-nav__list {
      justify-content: space-between;
      width: 100%;

      li {
        flex: 1 0 0;
        width: 100%;
        min-width: 0;
        max-width: 100%;
        margin: 0;

        a {
          color: #fff !important;
          justify-content: center;
          padding: 20px;

          &:hover {
            color: #fff !important;
            border-color: transparent !important;
          }
        }

        &.active {
          a {
            color: #fff !important;
            border-color: #fff !important;
          }
        }
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    gap: 35px;
  }

  span {
    font-weight: 600;
    line-height: 140%;
  }

  &__list {
    @extend %list-unstyled;
    display: flex;

    li {
      margin-right: 10px;
      text-align: center;

      &:last-child {
        margin-right: 0;
      }

      a {
        border-bottom: 3px solid transparent;
        color: $textBlack;
        padding: 20px 30px;
        font-weight: $medium;
        text-decoration: none;
        height: 100%;
        transition:  border-color 0.2s ease-in-out;
        display: flex;
        align-items: center;

        &:hover {
          color: $primaryPurple;
          border-color: $primaryPurple;
          font-weight: 600;
        }
      }

      &.active {
        a {
          color: $primaryPurple;
          border-color: $primaryPurple;
          font-weight: 600;
        }
      }
    }
  }
}

@media only screen and (max-width: $bpDesktop - 1) {
  .anchor-nav {
    display: none;
  }
}
