mixin anchor-nav(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  nav.anchor-nav
    .container 
      ul.anchor-nav__list
        each item in spec.items
          li
            a(href= item.url)= item.name


mixin anchor-nav-events(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  nav.anchor-nav.anchor-nav--events
    .container 
      ul.anchor-nav__list
        each item in spec.items
          li
            a(href= item.url)= item.name