mixin film-filter(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .film-filter(class=spec.__class)&attributes(attributes)
    legend.filter__group.filter__group--short
      //label.vh(for='search1') Keyword
      .filter__subgroup.filter--search
        input(type='text', id='search1', name='search', placeholder='Search keyword')
        label.keyword-search(for='search')
          span.vh Search
          span.fa.fa-search
    legend.filter__group
      span.desc Filter by
      .filter__subgroup
        label.vh(for='year1')
        select.filter-select(type='text', id='year1', name='year')
          option Year
          option(value='2018') 2018
          option(value='2017') 2017
          option(value='2016') 2016
          option(value='2015') 2015
      .filter__subgroup
        label.vh(for='language1')
        select.filter-select(type='text', id='language1', name='language')
          option Language
          option(value='English') English
          option(value='Chinese') Chinese
          option(value='Hokkien') Hokkien
          option(value='Mandarin') Mandarin
          option(value='Malay') Malay
          option(value='Tamil') Tamil
      .filter__subgroup
        label.vh(for='genre1')
        select.filter-select(type='text', id='genre1', name='genre')
          option Genre
          option(value='Drama') Drama
          option(value='Thriller') Thriller
      .filter__subgroup
        label.vh(for='feature1')
        select.filter-select(type='text', id='feature1', name='feature')
          option Feature Film
      a#filter-btn.sggd-btn.sggd-btn--noicon.sggd-btn--gradient.cta-card-btn(href="#")
        span.btn-text
          span Filter
