include ../../molecules/featured-card/featured-card

mixin featured(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.featured
    .container
      h2.featured__title Featured
      .featured__list.row
        each item in spec.items
          .col-md-4
            +featured-card(item)

