// featured styles
.featured {
  margin: 30px 0 50px;
  
  @include desktop {
    margin: 50px 0 80px;
  }

  &__title {
    font-size: calc-em(28px);
    font-weight: 400;
    margin: 0 0 30px;
    
    @include desktop {
      font-size: calc-em(32px);
    }
  }

  &__list {
    .col-md-4 {
      @include desktopMax {
        margin: 0 0 20px;
        
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}