// stories-card styles
.stories-card {
  a {
    display: block;
    border: 1px solid $textOffWhite;
    border-radius: 8px;
    overflow: hidden;
    color: $textOffWhite;
    height: 100%;
    text-decoration: none;
    position: relative;
  }

  &__image {
    @include aspect-ratio(394, 246, 100%);
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    display: block;

    picture {
      @include absolute-img;
      width: 100%;
      height: 100%;
    }

    img {
      @include absolute-img;
      @include image-cover;
    }
  }

  .header-readtime {
    display: inline-flex;
    position: absolute;
    align-items: center;
    background-color: $textBlack;
    border-radius: 25px;
    right: 13px;
    bottom: 13px;
    padding: 2px 20px 0px;
    font-size: calc-em(12px);
    
    svg {
      margin-right: 8px;
    }

    .readtime {
      text-transform: uppercase;
      line-height: 140%;
    }
  }

  &__text {
    padding: 20px 20px 50px;
    
    @include desktop {
      padding: 20px 30px 50px;
    }

    h3 {
      line-height: 140%;
      font-weight: 600;
      margin: 0 0 20px;
      font-size: calc-em(20px);
      
      @include desktop {
        font-weight: 500;
        font-size: calc-em(22px);
      }
    }

    p {
      line-height: 140%;
      margin: 0 0 30px; 
    }

    a {
      background-color: black;
    }

    .footer-date {
      position: absolute;
      display: flex;
      align-items: center;
      bottom: 30px;
      left: 20px;

      @include desktop {
        left: 30px;
      }

      svg {
        margin-right: 9px;
      }

      .date {
        font-size: calc-em(14px);
        line-height: normal;
      }
    }

    .right-arrow {
      bottom: 26px;

      .arrow-body,
      .arrow-head {
        stroke: $textOffWhite;
      }
    }
  }
}