mixin stories-card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  article.stories-card(class=spec.__class)&attributes(attributes)
    a(href=spec.url) 
      picture.stories-card__image
        source(srcset= spec.mobileImage, media="(max-width: 1023px)")
        source(srcset= spec.image)
        img(src=spec.image, alt="")
      .stories-card__text
        h3=spec.title
        p=spec.description
        span.right-arrow
          +right-arrow

mixin stories-card-dot(spec)
  article.stories-card&attributes(attributes)
    a(href="{{=item.url}}") 
      .stories-card__image
        picture
          | {{? item.mobileImage}}
          source(srcset="{{=item.mobileImage}}", media="(max-width: 1023px)")
          | {{?}}
          source(srcset="{{=item.image}}")
          img(src="{{=item.image}}", alt="{{=item.title}}")
        | {{? item.readtime}}
        .header-readtime
          svg(xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 11 11" fill="none") 
            path(d="M9.22313 4.18812C8.93639 3.56552 8.52345 3.01992 7.99537 2.56562C7.36212 2.02112 6.5938 1.64822 5.77566 1.48652C5.1568 1.36332 4.5003 1.36442 3.89362 1.48652C3.4685 1.57012 3.06552 1.70762 2.69132 1.89132C2.50644 1.97162 2.45441 2.17952 2.52969 2.29172C2.59501 2.38852 2.76661 2.42812 2.91163 2.34012C3.05556 2.26972 3.22826 2.19382 3.42754 2.12672C3.6102 2.06402 3.79841 2.01342 3.99215 1.97602C4.26449 1.92102 4.54791 1.89352 4.83464 1.89352C5.12138 1.89352 5.40147 1.92102 5.67713 1.97602C6.41113 2.12122 7.09863 2.45562 7.66657 2.94292C8.13929 3.34992 8.50906 3.83832 8.7659 4.39602C9.02939 4.96362 9.16224 5.56862 9.16224 6.19562C9.16224 8.56832 7.22041 10.4988 4.83353 10.4988C2.44666 10.4988 0.502617 8.56942 0.502617 6.19672C0.502617 5.22432 0.833635 4.31352 1.39603 3.58202C1.51671 3.47202 1.50896 3.28502 1.40046 3.19262C1.30083 3.10902 1.13587 3.11782 1.03734 3.22782C0.385266 4.05282 0 5.08792 0 6.19672C0 8.84552 2.16878 10.9993 4.83353 10.9993C7.49829 10.9993 9.66486 8.84442 9.66486 6.19672C9.66486 5.49712 9.5154 4.82062 9.22202 4.18812H9.22313Z" fill="white")
            path(d="M4.83334 1.6514C4.69495 1.6514 4.58203 1.5392 4.58203 1.4017V0.4997C4.58203 0.3622 4.69495 0.25 4.83334 0.25C4.97173 0.25 5.08465 0.3622 5.08465 0.4997V1.4028C5.08465 1.5403 4.97173 1.6525 4.83334 1.6525V1.6514Z" fill="white")
            path(d="M8.99393 4.54148C8.97401 4.54148 8.95408 4.53928 8.93415 4.53378C8.85998 4.51618 8.79687 4.46448 8.76587 4.39518C8.50903 3.83748 8.13926 3.34908 7.66654 2.94208C7.61008 2.89258 7.57797 2.82108 7.58019 2.74628C7.5824 2.67148 7.61783 2.60108 7.67761 2.55598L8.39832 2.00268C8.61752 1.83438 8.93304 1.87398 9.10243 2.09178L9.97813 3.21488C10.1475 3.43268 10.1077 3.74618 9.88957 3.91448L9.14782 4.48758C9.10353 4.52168 9.04818 4.54038 8.99393 4.54038V4.54148ZM8.21897 2.77048C8.56438 3.10708 8.85333 3.48768 9.08139 3.90678L9.58069 3.52068L8.70498 2.39758L8.21897 2.77048Z" fill="white")
            path(d="M4.83295 6.90288C5.2261 6.90288 5.54481 6.58621 5.54481 6.19558C5.54481 5.80495 5.2261 5.48828 4.83295 5.48828C4.4398 5.48828 4.12109 5.80495 4.12109 6.19558C4.12109 6.58621 4.4398 6.90288 4.83295 6.90288Z" fill="white")
            path(d="M4.83334 5.85761C4.69495 5.85761 4.58203 5.74541 4.58203 5.60791V3.00751C4.58203 2.87001 4.69495 2.75781 4.83334 2.75781C4.97173 2.75781 5.08465 2.87001 5.08465 3.00751V5.60791C5.08465 5.74541 4.97173 5.85761 4.83334 5.85761Z" fill="white")
            path(d="M3.27344 0.2497C3.27344 0.1122 3.38636 0 3.52475 0H6.1419C6.28028 0 6.3932 0.1122 6.3932 0.2497C6.3932 0.3872 6.28028 0.4994 6.1419 0.4994H3.52475C3.38636 0.4994 3.27344 0.3872 3.27344 0.2497Z" fill="white")
          .readtime {{=item.readtime}}
        | {{?}}
      .stories-card__text
        h3 {{=item.title}}
        | {{? item.description}}
        p {{=item.description}}
        | {{?}}
        | {{? item.date}}
        .footer-date
          svg(svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" viewBox="0 0 9 12" fill="none") 
            path(d="M8.13184 12.0007H0.869565C0.389902 12.0007 0 11.5646 0 11.0281V0.974816C0 0.438345 0.389902 0.00226677 0.869565 0.00226677H2.02805C2.15568 -0.0118509 2.26367 0.10109 2.26508 0.234424C2.26648 0.369326 2.15708 0.485404 2.02805 0.472855H0.869565C0.622721 0.472855 0.420757 0.697169 0.420757 0.974816V11.0297C0.420757 11.3058 0.621318 11.5317 0.869565 11.5317H8.13184C8.37868 11.5317 8.58065 11.3074 8.58065 11.0297V0.974816C8.58065 0.698737 8.38008 0.472855 8.13184 0.472855H3.7195C3.5554 0.491679 3.43338 0.345796 3.44039 0.220306C3.44741 0.102659 3.56802 -0.0181254 3.7195 0.00226677H8.13184C8.6115 0.00226677 9.0014 0.438345 9.0014 0.974816V11.0297C9.0014 11.5662 8.6115 12.0023 8.13184 12.0023V12.0007Z" fill="white") 
            path(d="M7.35871 4.83778H1.64202C1.52561 4.83778 1.43164 4.73268 1.43164 4.60248C1.43164 4.47229 1.52561 4.36719 1.64202 4.36719H7.35871C7.47512 4.36719 7.56909 4.47229 7.56909 4.60248C7.56909 4.73268 7.47512 4.83778 7.35871 4.83778Z" fill="white")
            path(d="M7.35871 6.46668H1.64202C1.52561 6.46668 1.43164 6.36158 1.43164 6.23139C1.43164 6.10119 1.52561 5.99609 1.64202 5.99609H7.35871C7.47512 5.99609 7.56909 6.10119 7.56909 6.23139C7.56909 6.36158 7.47512 6.46668 7.35871 6.46668Z" fill="white")
            path(d="M7.35871 8.09559H1.64202C1.52561 8.09559 1.43164 7.99049 1.43164 7.86029C1.43164 7.7301 1.52561 7.625 1.64202 7.625H7.35871C7.47512 7.625 7.56909 7.7301 7.56909 7.86029C7.56909 7.99049 7.47512 8.09559 7.35871 8.09559Z" fill="white") 
            path(d="M7.35871 9.7284H1.64202C1.52561 9.7284 1.43164 9.6233 1.43164 9.49311C1.43164 9.36291 1.52561 9.25781 1.64202 9.25781H7.35871C7.47512 9.25781 7.56909 9.36291 7.56909 9.49311C7.56909 9.6233 7.47512 9.7284 7.35871 9.7284Z" fill="white")
          span.date {{=item.date}}
        | {{?}}
        span.right-arrow
          +right-arrow