// latest-updates styles
.latest-updates {
  background: linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);
  opacity: 0;
  padding: 30px 0;
  transform: translateY(40px);
  transition: transform .25s $easeInOutExpo, opacity .25s ease-in-out;

  &.in-view {
    opacity: 1;
    transform: translateY(0);
  }

  &__header {
    @extend %clearfix;
    padding: 20px 0;

    .custom-select {
      .custom-trigger {
        font-weight: $heavy;
      }
    }

    .cta {
      display: inline-block;
      margin-bottom: 10px;

      span:first-child {
        font-weight: $heavy;
      }
    }
  }

  &__title {
    display: inline-block;
    font-size: calc-em(26px);
    font-weight: $medium;
    margin: 0 20px 10px 0;
    padding-top: 20px;
    position: relative;

    &:before {
      content: "";
      background: $red;
      height: 3px;
      position: absolute;
      top: 0;
      width: 60px;
    }
  }

  &__item {
    margin-bottom: 30px;

    .thumbnail-card {
      height: 100%;

      &__image {
        img {
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }
    }
  }
}

@media only screen and (max-width: $bpTablet - 1) {
  .latest-updates {
    &__header {
      .custom-select {
        .custom-trigger {
          display: block;
        }
      }
    }
  }
}

@media only screen and (min-width: $bpTablet) {
  .latest-updates {
    &__header {
      .custom-select {
        float: right;
        margin-top: 15px;
      }

      .cta {
        margin-left: 20px;
      }
    }

    &__title {
      display: inline-block;
      font-size: calc-em(30px);
    }
  }
}
@media only screen and (min-width: $bpDesktop) {
  .latest-updates {
    padding: 40px 0 0;

    &__item {
      float: left;
      padding: 0 15px;

      &:nth-child(4) {
        clear: left;
      }
    }
  }
}
