include ../../molecules/thumbnail-card/thumbnail-card

mixin latest-updates(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.latest-updates.viewport-animate(data-endpoint="/ajax/latest-updates.json")
    .container
      header.latest-updates__header
        h2.latest-updates__title Latest Updates

        a.cta.cta-link-angle(href="/news-listing")
          span View all news
          span.icon.icon-angle-right

        .latest-updates__selection.custom-select
          label.vh(for="latestUpdateTopics") Select topics
          select#latestUpdateTopics(name="latestUpdateTopics")
            option(value="all") All topics
            option(value="robots", data-topic="Robots") Robots
            option(value="better internet", data-topic="Better Internet") Better Internet

      .latest-updates__content

  script#latestUpdateTemplate(type="text/x-dot-template")
    .row
      +latest-update-dot()

mixin latest-update-dot(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  //- |{{~ it :item:index}}
  //- |{{? index==0}}
  //- .latest-updates__item.col-md-7.col-sm-6
  //-   |{{? item.image}}
  //-   +thumbnail-card-dot()
  //-   |{{??}}
  //-   +thumbnail-card-dot().thumbnail-card--no-image
  //-   |{{?}}
  //- |{{?? index==1}}
  //- .latest-updates__item.col-md-5.col-sm-6
  //-   |{{? item.image}}
  //-   +thumbnail-card-dot().thumbnail-card--green
  //-   |{{??}}
  //-   +thumbnail-card-dot().thumbnail-card--green.thumbnail-card--no-image
  //-   |{{?}}
  //- |{{?? index==2}}
  //- .latest-updates__item.col-md-5.col-sm-6
  //-   |{{? item.image}}
  //-   +thumbnail-card-dot().thumbnail-card--orange
  //-   |{{??}}
  //-   +thumbnail-card-dot().thumbnail-card--orange.thumbnail-card--no-image
  //-   |{{?}}
  //- |{{?? index==3}}
  //- .latest-updates__item.col-md-5.col-sm-6
  //-   |{{? item.image}}
  //-   +thumbnail-card-dot().thumbnail-card--pink
  //-   |{{??}}
  //-   +thumbnail-card-dot().thumbnail-card--pink.thumbnail-card--no-image
  //-   |{{?}}
  //- |{{?? index==4}}
  //- .latest-updates__item.col-md-7.col-sm-6
  //-   |{{? item.image}}
  //-   +thumbnail-card-dot().thumbnail-card--blue
  //-   |{{??}}
  //-   +thumbnail-card-dot().thumbnail-card--blue.thumbnail-card--no-image
  //-   |{{?}}
  //- |{{?}}
  //- |{{~}}
