extends ../_layouts/standard-detail

include ../_modules/molecules/homepage-tour/homepage-tour
include ../_modules/molecules/highlight-card/highlight-card
include ../_modules/molecules/video-player/video-player
include ../_modules/molecules/image-text/image-text
include ../_modules/molecules/article-link/article-link
include ../_modules/molecules/image-link/image-link
include ../_modules/molecules/image-cta-listing/image-cta-listing
include ../_modules/molecules/image-rte/image-rte
include ../_modules/molecules/cta-banner/cta-banner
include ../_modules/molecules/teaser-card/teaser-card
include ../_modules/molecules/short-image-card/short-image-card
include ../_modules/molecules/box-quote/box-quote
include ../_modules/molecules/name-card/name-card
include ../_modules/molecules/topic-card-listing/topic-card-listing
include ../_modules/molecules/tags-list/tags-list
include ../_modules/molecules/purplebg-section-wrapper/purplebg-section-wrapper
include ../_modules/organisms/accordion-list/accordion-list
include ../_modules/organisms/detail-content/detail-content
include ../_modules/organisms/gallery/gallery
include ../_modules/organisms/newsletter/newsletter
include ../_modules/organisms/related-posts/related-posts
include ../_modules/organisms/page-banner/page-banner
include ../_modules/organisms/page-header/page-header
include ../_modules/organisms/three-col-imgcard/three-col-imgcard
include ../_modules/organisms/two-col-carousel/two-col-carousel
include ../_modules/organisms/standard-content-carousel/standard-content-carousel
include ../_modules/organisms/selected-posts/selected-posts
include ../_modules/organisms/article-listing-with-questionnaire/article-listing-with-questionnaire
include ../_modules/organisms/digital-blocks/digital-blocks
include ../_modules/organisms/article-gallery-carousel/article-gallery-carousel
include ../_modules/organisms/call-to-actions/call-to-actions
include ../_modules/organisms/partners/partners


block append config
  - pageUrl = "/article-page-margin"
  - var pageData = site.data.standardDetail.articlePage
  - pageTitle = pageData.pageTitle
  - pageDescription = pageData.pageDescription
  - sectionName = pageData.sectionName
  - breadcrumbs = pageData.breadcrumbs
  - pageBanner = pageData.pageBanner
  - tags = pageData.tags
  - relatedPosts = pageData.relatedPosts


block detailContent
  +image-text({
    "image": "/images/detail/gallery-1.jpg",
    "alt": "Groupfie",
    "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
  })
  +rte()
    h1 Header 1 - Font size 32px, Medium 500
    h1 Header 1 - Font size 32px, Medium 500
    h1 Header 1 - Font size 32px, Medium 500
    h2 Header 2 - Font size 30px, Medium 500
    h2 Header 2 - Font size 30px, Medium 500
    h2 Header 2 - Font size 30px, Medium 500
    h3 Header 3 - Font size 24px, Medium 500
    h3 Header 3 - Font size 24px, Medium 500
    h3 Header 3 - Font size 24px, Medium 500
    h4 Header 4 - Font size 20px, Medium 500
    h4 Header 4 - Font size 20px, Medium 500
    h4 Header 4 - Font size 20px, Medium 500
    h5 Header 5 - Font size 18px, Medium 500
    h5 Header 5 - Font size 18px, Medium 500
    h5 Header 5 - Font size 18px, Medium 500
    h6 Header 6 - Font size 18px, Medium 500
    h6 Header 6 - Font size 18px, Medium 500
    h6 Header 6 - Font size 18px, Medium 500
    p Paragraph - Font size 18px, Regular 400
    p Paragraph test
    p Paragraph test Paragraph testp Paragraph testp Paragraph testp Paragraph test
    p Paragraph test p Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph test
    h2 H2 end of RTE

  .rte
    h2 Video Player
  +video-player({
    "videoId": "L209rWk_0TY",
    "image": "/images/detail/gallery-1.jpg",
    "title": "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, quibusdam."
  })
  .rte 
    h2 Gallery
  +gallery({
    "items": [
      {
        "image": "/images/detail/gallery-1.jpg",
        "alt": "Groupfie",
        "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
      },
      {
        "image": "/images/detail/gallery-1.jpg",
        "alt": "Groupfie",
        "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
      },
      {
        "image": "/images/detail/gallery-1.jpg",
        "alt": "Groupfie",
        "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
      },
      {
        "image": "/images/detail/gallery-1.jpg",
        "alt": "Groupfie",
        "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
      }
    ]
  })
  .rte 
    h2 Image Link
  +image-link({
    "title": "Title",
    "image": "/images/detail/image-1.png",
    "description": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, inventore.",
    "url": "#"
  })
  .rte
    h2 Highlight Card
  +highlight-card({
    "image": "/images/detail/highlight-1.jpg",
    "title": "Section Highlight",
    "content": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio!"
  })
  .rte 
    h2 Highlight Card Reverse
  +highlight-card({
    "image": "/images/detail/highlight-2.jpg",
    "title": "Section Highlight",
    "content": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio!"
  }).highlight-card--purple.highlight-card--reverse
  .rte
    h2 Box Quote
  +box-quote({
    "image": "/images/detail/quote.jpg",
    "title": "Lorem ipsum dolor",
    "content": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores labore dignissimos architecto quos nisi et, dolore fugiat placeat error animi officiis non cumque impedit maxime deserunt reprehenderit dolorem sapiente hic laboriosam veniam ut eos odit tempora? Non ea officiis corporis officia at quidem nam blanditiis, similique necessitatibus aperiam vitae reprehenderit!",
    "author": "James Lim Rui Yi",
    "designation": "Senior Manager, Industry Development Group"
  })
  .rte
    h2 CTA Banner
  +cta-banner({
    "title": "Explore companies accredited by IMDA",
    "description": "Lorem ipsum dolor sit",
    "image": "/images/cta-banner.jpg",
    "cta": {
      "url": "/endorsed-companies",
      "name": "View endorsed companies"
    }
  })
  .rte
    h2 Article Listing
  .row
    .col-md-4.col-sm-4
      +teaser-card({
        "title": "Silver Infocomm Curriculum",
        "category": "Scheme",
        "industry": "Tech",
        "description": "IMDA developed a set of customised curriculum to increase infocomm litgeracy among seniors. There are two tracks, iBEGIN and iLIVE, for seniors to learn basic infocomm and digital lifestyle skills respectively.",
        "url": "#",
        "target": "For Individuals",
        "icon": "icon-individual"
      }).teaser-card--panel.teaser-card--blue
    .col-md-4.col-sm-4
      +teaser-card({
        "title": "Silver Infocomm Curriculum",
        "category": "Scheme",
        "industry": "Tech",
        "description": "IMDA developed a set of customised curriculum to increase infocomm litgeracy among seniors. There are two tracks, iBEGIN and iLIVE, for seniors to learn basic infocomm and digital lifestyle skills respectively.",
        "url": "#",
        "target": "For Individuals",
        "icon": "icon-individual"
      }).teaser-card--panel.teaser-card--pink
    .col-md-4.col-sm-4
      +teaser-card({
        "title": "Silver Infocomm Curriculum",
        "category": "Scheme",
        "industry": "Tech",
        "description": "IMDA developed a set of customised curriculum to increase infocomm litgeracy among seniors. There are two tracks, iBEGIN and iLIVE, for seniors to learn basic infocomm and digital lifestyle skills respectively.",
        "url": "#",
        "target": "For Individuals",
        "icon": "icon-individual"
      }).teaser-card--panel.teaser-card--pink
  .rte
    h2 Image Listing 
  +selected-posts({
    "items": [
      {
        "url": "#",
        "image": "/images/detail/selected-1.jpg",
        "title": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, quidem!",
        "description": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quae magni unde dicta, repudiandae qui odit atque neque natus quidem sequi accusamus non consectetur similique, animi nostrum facere dolor nesciunt quam adipisci? Eveniet necessitatibus, enim minima voluptatibus alias rem labore."
      },
      {
        "url": "#",
        "image": "/images/detail/selected-2.jpg",
        "title": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, quidem!",
        "description": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quae magni unde dicta, repudiandae qui odit atque neque natus quidem sequi accusamus non consectetur similique, animi nostrum facere dolor nesciunt quam adipisci? Eveniet necessitatibus, enim minima voluptatibus alias rem labore."
      },
      {
        "url": "#",
        "image": "/images/detail/selected-3.jpg",
        "title": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, quidem!",
        "description": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quae magni unde dicta, repudiandae qui odit atque neque natus quidem sequi accusamus non consectetur similique, animi nostrum facere dolor nesciunt quam adipisci? Eveniet necessitatibus, enim minima voluptatibus alias rem labore."
      }
    ]
  })
  .rte
    h2 Image CTA Listing 
  +image-cta-listing({
    "items": [
      {
        "title": "Title",
        "image": "/images/detail/image-1.png",
        "header": "Test",
        "description": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, inventore.",
        "url": "#"
      },
      {
        "title": "Title",
        "image": "/images/detail/image-2.png",
        "header": "Test2",
        "url": "#"
      },
      {
        "title": "Title",
        "image": "/images/detail/image-3.png",
        "header": "nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn",
        "description": "nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn",
        "url": "#"
      }
    ]
  })
  .rte 
    h2 Three Column Card
  +standard-content-carousel({
    "items": [
      {
        "image": "/images/standard/landing-1.jpg",
        "title": "What we do",
        "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
        "url": "#"
      },
      {
        "image": "/images/standard/landing-2.jpg",
        "title": "Organisation Structure",
        "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith. An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
        "url": "#"
      },
      {
        "image": "/images/standard/landing-3.jpg",
        "title": "Awards & Certification",
        "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
        "url": "#"
      },
      {
        "image": "/images/standard/landing-4.jpg",
        "title": "Service Standards",
        "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
        "url": "#"
      },
      {
        "image": "/images/standard/landing-5.jpg",
        "title": "Corporate Publications",
        "description": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
        "url": "#"
      }
    ]
  })
  .rte
    h2 Icon + RTE
  +topic-card-listing({
    "items": [
      {
        "image": "/Cwp/assets/imda/images/ic-print.png",
        "text": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
      },
      {
        "image": "/Cwp/assets/imda/images/ic-print.png",
        "text": "An Act that establishes the IMDA, to provide for its functions and powers, and for matters connected therewith.",
      },
      {
        "image": "/Cwp/assets/imda/images/ic-print.png",
        "text": "nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn",
      }
    ]
  }).topic-card-listing--iconTop
  .rte
    h2 Image + RTE 
  +image-rte({
    "image": "/images/detail/highlight-1.jpg",
    "content": "<h1>H1 Lorem ipsum dolor</h1><p>sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio! sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio! sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio!</p>sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio!</p><p>sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio!<p>sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio!</p><p>sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio!</p><p>sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio!</p><p>sit amet consectetur adipisicing elit. Ad porro magni qui vitae dignissimos hic enim cum repellendus nihil odio!</p>"
  }) 
  .rte
    h2 Accordion List
  +accordion-list
  .rte
    h2 Row with Image Link
  .row
    .col-md-4
      +image-link({
        "title": "Title",
        "image": "/images/detail/image-1.png",
        "description": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, inventore.",
        "url": "#"
      })
    .col-md-4
      +image-link({
        "title": "Title",
        "image": "/images/detail/image-2.png",
        "description": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, inventore.",
        "url": "#"
      })
    .col-md-4
      +image-link({
        "title": "Title",
        "image": "/images/detail/image-3.png",
        "description": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, inventore.",
        "url": "#"
      })

  .rte
    h2 start of RTE
    p Paragraph - Font size 18px, Regular 400
    p Paragraph test
    p Paragraph test Paragraph testp Paragraph testp Paragraph testp Paragraph test
    p Paragraph test p Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph test
    h2 H2 end of RTE
  
  .rte
    H2 start of RTE
    p Paragraph - Font size 18px, Regular 400
    p Paragraph test
  +image-text({
    "image": "/images/detail/gallery-1.jpg",
    "alt": "Groupfie",
    "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
    })
  .rte
    p Paragraph test Paragraph testp Paragraph testp Paragraph testp Paragraph test
    p Paragraph test p Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph testp Paragraph test
    h2 H2 end of RTE
  .rte
    h2 Header 2
    p Paragraph - Font size 18px, Regular 400
    p Paragraph - Font size 18px, Regular 400
  +image-text({
    "image": "/images/detail/gallery-1.jpg",
    "alt": "Groupfie",
    "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
  }) 
  +image-text({
    "image": "/images/detail/gallery-1.jpg",
    "alt": "Groupfie",
    "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, facilis?"
  }) 
  .rte
    h2 Header 2 title 
  +box-quote({
    "image": "/images/detail/quote.jpg",
    "title": "Lorem ipsum dolor",
    "content": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores labore dignissimos architecto quos nisi et, dolore fugiat placeat error animi officiis non cumque impedit maxime deserunt reprehenderit dolorem sapiente hic laboriosam veniam ut eos odit tempora? Non ea officiis corporis officia at quidem nam blanditiis, similique necessitatibus aperiam vitae reprehenderit!",
    "author": "James Lim Rui Yi",
    "designation": "Senior Manager, Industry Development Group"
  })
  .rte
    p Paragraph - Font size 18px, Regular 400
    p Paragraph - Font size 18px, Regular 400
    