mixin cta-banner(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .cta-banner(class=spec.__class)&attributes(attributes)
    .cta-banner__image
      img(src= spec.image, alt= spec.title)
      if spec.signature
        .cta-banner__label(class= spec.whiteLabel ? 'cta-banner__label--white' : '')
          +signature-label
    .cta-banner__content
      .cta-banner__bg
        svg.svg-line(width="389" height="515" viewBox="0 0 389 515" xmlns="http://www.w3.org/2000/svg")
          path(d="M387 1003H-10V4L387 1003Z" stroke="#ECD1E0" stroke-width="1.5" stroke-miterlimit="10")
        svg.shape-with-fill(width="150" height="217" viewBox="0 0 150 217" xmlns="http://www.w3.org/2000/svg")
          path(d="M101.641 27.4301V190.601L148.9 215.447V2L101.641 27.4301Z" stroke-width="1.5" stroke-miterlimit="10")
          path(d="M1 215.558L48.259 190.713V27.5415L1 2.11133V215.558Z" stroke-width="1.5" stroke-miterlimit="10")
      .cta-banner__text
        h3.cta-banner__title= spec.title
        if spec.description
          p.cta-banner__desc= spec.description
        if spec.cta
          +button({
            "url": spec.cta.url,
            "label": spec.cta.name
          })

