// cta-banner styles
.cta-banner {
  $p: &;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  box-shadow: $purpleShadow;
  margin-bottom: 30px;
    
  @include desktop {
    margin-bottom: 60px;
  }

  &:hover {
    #{$p}__bg {
      .shape-with-fill {
        path {
          fill: $purple20;
        }
      }
    }
  }

  &--event {
    border-radius: 8px;
    border: 1px solid #fff;
    overflow: hidden;
    margin-bottom: 20px;
    
    @include desktop {
      margin-bottom: 24px;
    }

    #{$p}__bg {
      .svg-line {
        display: none;
      }

      .shape-with-fill {
        path {
          fill: transparent;
        }
      }
    }

    #{$p}__content {
      background-color: $contentHubBlack;
      padding: 26px 20px 30px;

      @include desktop {
        padding: 26px 64px 30px;
      }
    }

    #{$p}__title {
      font-weight: 600;
      font-size: calc-em(18px);
      line-height: 120%;
      margin: 0 0 23px;
      
      @include desktop {
        font-size: calc-em(36px);
        margin: 0 0 33px;
      }
    }

    .btn {
      border: 1px solid #fff;
      background-color: transparent;
      padding: 7px 20px;

      &:hover {
        background-color: $darkPurple20;
      }
    }
  }

  &__label {
    position: absolute;
    top: 0;
    right: 0;
    width: 102px;
    height: 102px;

    &.cta-banner__label--white {
      svg {
        path {
          stroke: #fff;
          fill: #fff;
          
        }
      }
    }

    svg {
      position: absolute;
      left: 0;
      bottom: 0;
      animation: rotating 6s linear infinite;

      path {
        stroke: #000;
        fill: #000;
      }
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;

    @include desktopMax {
      display: none;
    }

    .svg-line {
      position: absolute;
      top: 55%;
      left: 0;
      fill: none;

      path {
        stroke: $lightMaroon;
      }
    }

    .shape-with-fill {
      max-height: 80%;
      width: auto;
      position: absolute;
      top: 50%;
      right: -3px;
      transform: translate(0, -50%);
      
      path {
        stroke: $purple20;
        fill: #fff;
        transition: fill 0.35s ease-in-out;
      }
    }
  }

  &__image {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    @include aspect-ratio(334, 201, 100%);
    
    @include tablet {
      flex: 0 0 50%;
      max-width: 50%;
      @include aspect-ratio(334, 201, 50%);
    }
    
    @include desktop {
      flex: 0 0 37%;
      max-width: 37%;
      @include aspect-ratio(334, 201, 37%);
    }

    img {
      @include absolute-img;
      @include image-cover;
    }
  }

  &__content {
    position: relative;
    padding: 24px 20px;
    line-height: 140%;
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include tablet {
      padding: 30px 32px;
      flex: 0 0 50%;
      max-width: 50%;
    }
    
    @include desktop {
      flex: 0 0 63%;
      max-width: 63%;
      padding-right: 160px;
    }

    @include lgDesktop {
      padding: 60px 160px 60px 64px;
    }
  }

  &__text {
    position: relative;
  }

  &__title {
    font-size: calc-em(24px);
    font-weight: 600;
    line-height: 140%;
    margin: 0 0 16px;
    
    @include desktop {
      font-size: calc-em(28px);
    }
  }

  &__desc {
    margin: 0 0 16px;
    
    @include desktop {
      font-size: calc-em(18px);
    }
  }
}