// browse-interest styles
.browse-interest {
  position: relative;
  margin: 54px 0 0;
  padding: 93px 0 80px;
  
  @media screen and (min-width: 500px) {
    min-height: 655px;
  }

  @include desktop {
    margin: 84px 0 0;
    padding: 133px 0 118px;
  }

  &__bg {
    opacity: 0.5;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: none;
      @include image-cover;
    }
  }

  &__header {
    text-align: center;
    position: relative;

    h2 {
      font-weight: 600;
      font-size: calc-em(36px);
      line-height: 120%;
      color: #fff;
      text-shadow: $textGlow1;
      max-width: 500px;
      width: 90%;
      margin: 0 auto -12px;
      
      @include lgMobile {
        width: 70%
      }

      @include desktop {
        margin: 0 auto -40px;
        font-size: calc-em(80px);
        max-width: 814px;
      }

      &:before,
      &:after {
        content: '';
        display: block;
        width: 3%;
        height: 2px;
        position: absolute;
        bottom: 12px;
        background-color: #fff;

        @include lgMobile {
          width: 13%;
        }

        @include desktop {
          bottom: 40px;
        }
        
        @media only screen and (min-width: 1200px) {
          width: calc(50% - 407px);
        }
      }

      &:before {
        left: 0;
      }
      
      &:after {
        right: 0;
      }
    }
  }

  &__body {
    border: 2px solid #fff;
    border-top: none;
    padding: 48px 24px;
    color: #fff;
    text-align: center;

    @media screen and (min-width: 500px) {
      min-height: 405px;
    }
    
    @include desktop {
      padding: 100px 20px 72px;
    }

    label {
      font-weight: 400;
      font-size: calc-em(20px);
      line-height: 140%;

      @include desktop {
        font-size: calc-em(48px);
      }
    }

    > div {
      margin: 0 auto;
      display: inline-block;
    }
  }

  &__step {
    margin: 0 0 28px;
    
    &--step2 {
      display: none;

      &.active {
        display: block;
      }

      .custom-select {
        margin: 0 0 28px;
        
        @include desktop {
          margin: 0 0 24px;
        }
        
        &:last-child {
          margin: 0;
        }
      }

    }
    
    @include desktop {
      margin: 0 0 24px;
    }

    &:last-child {
      margin: 0;
    }

    label {
      pointer-events: none;

      @include desktop {
        text-align: left;
      }
    }

    .custom-select {
      display: flex;
      align-items: center;
      gap: 24px;
      
      @include desktopMax {
        flex-direction: column;
        gap: 5px;
      }
    }

    .custom-select__custom-dropdown {
      min-width: 130px;
      
      @include desktopMax {
        max-width: 240px;
      }

      // @include desktop {
      //   width: 100%;
      //   max-width: 752px;
      // }

      &.list-shown {
        // .custom-trigger {
        //   border-bottom-left-radius: 34px;
        //   border-bottom-right-radius: 34px;

        //   .icon {
        //     transform: rotate(0);
        //   }
        // }

        .custom-list {
          transform: translate(-50%, 0) scale(1);
        }
      }
    }

    .custom-trigger {
      border: none;
      border-radius: 0;
      background-color: transparent;
      font-weight: 600;
      font-size: calc-em(24px);
      line-height: 140%;
      color: #fff;
      padding: 0 50px 0 0;
      
      @include desktopMax {
        padding: 0;
        text-align: center;
      }
      
      @include desktop {
        font-size: calc-em(48px);
      }

      &:hover, &:focus {
        background: transparent;
        box-shadow: none;
      }

      .label {
        border-bottom: 3px solid $orange80;
        
        @include desktop {
          margin: 0 16px 0 0;
        }
      }

      .icon {
        color: #fff;
        font-size: calc-em(12px, 48px);

        @include desktopMax {
          right: -40px;
        }
      }
    }

    .custom-list {
      min-width: 300px;
      max-height: 375px;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0) scale(0.5);
      background-color: #2f3033;
      border-radius: 4px;

      li {
        button {
          background: #2f3033;
          text-align: center;
          font-size: calc-em(16px);
          font-weight: 400;
          line-height: 140%;
          padding: 13px 36px;
          color: #fff;

          &:hover, &:focus {
            background: #2f3033;
            color: $purple60;
          }

          &:after {
            font-size: calc-em(14px);
          }

          @include desktop {
            font-size: calc-em(26px);
            padding: 18px 36px;
          }
        }

        &.active {
          button {
            padding-right: 36px;
            background: $primaryDarkPurple;
            color: #fff;
            font-weight: 600;

            &:after {
              display: none;
            }
          }
        }

        &[data-value="all"] {
          position: relative;

          button {
            &:before {
              content: '\e91c';
              font-family: icomoon !important;
              font-weight: 400;
              text-align: right;
              position: absolute;
              right: 11px;
              transform: scaleY(-1);
              font-size: calc-em(10px, 36px);
              color: #fff !important;

              @include desktop {
                font-size: calc-em(10px, 26px);
                right: 30px;
              }
            }
          }
        }
      }
    }
  }

  a {
    margin: 7px 0 0;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    
    @include desktop {
      margin: 24px 0 0;
    }
  }
}