include ../../custom-select/custom-select

mixin browse-interest(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.browse-interest(class=spec.__class)&attributes(attributes)
    picture.browse-interest__bg
      source(srcset= spec.mobileBg, media="(max-width: 767px)")
      source(srcset= spec.bg)
      img(src=spec.bg, alt="")
    .container
      header.browse-interest__header
        h2=spec.title
      .browse-interest__body
        div
          .browse-interest__step.browse-interest__step--step1
            +custom-select({
              "label": "I am a",
              "id": "support",
              "name": "support",
              "options": [
                {
                  "text": "All profiles",
                  "value": "all",
                  "profile": "profile0"
                },
                {
                  "text": "Business",
                  "value": "Businesses",
                  "profile": "profile1"
                },
                {
                  "text": "Student or Professional",
                  "value": "Students-&-Professionals",
                  "profile": "profile2"
                },
                {
                  "text": "Member of Public or Senior",
                  "value": "Public-&-Seniors",
                  "profile": "profile3"
                }
              ]
            })
          .browse-interest__step.browse-interest__step--step2#profile0.active
            +custom-select({
              "label": "looking for",
              "id": "browseInterest2",
              "name": "topic",
              "options": [
                {
                  "text": "All",
                  "value": "all"
                },
                {
                  "text": "Built & Environment",
                  "value": "build-and-environmentstudent"
                },
                {
                  "text": "Collaboration Opportunities",
                  "value": "collaboppstudent"
                },
                {
                  "text": "Digitalisation for Businesses",
                  "value": "digitalisationbusinessstudent"
                },
                {
                  "text": "Food Services",
                  "value": "foodstudent"
                },
                {
                  "text": "Professional Services",
                  "value": "professionalstudent"
                },
                {
                  "text": "Financial",
                  "value": "financialstudent"
                },
                {
                  "text": "ICT",
                  "value": "ictstudent"
                },
                {
                  "text": "Logistics",
                  "value": "logisticsstudent"
                },
                {
                  "text": "Manufacturing",
                  "value": "manufacturingstudent"
                },
                {
                  "text": "Media",
                  "value": "mediastudent"
                },
                {
                  "text": "Retail",
                  "value": "retailstudent"
                },
                {
                  "text": "Wholesale Trade",
                  "value": "wholesalestudent"
                }
              ]
            })
          .browse-interest__step.browse-interest__step--step2#profile1
            +custom-select({
              "label": "from",
              "id": "browseInterest1",
              "name": "industry",
              "options": [
                {
                  "text": "All",
                  "value": "all"
                },
                {
                  "text": "Built & Environment",
                  "value": "build & environmentbusiness"
                },
                {
                  "text": "Collaboration Opportunities",
                  "value": "collaboppbusiness"
                },
                {
                  "text": "Digitalisation for Businesses",
                  "value": "digitalisationbusiness"
                },
                {
                  "text": "Food Services",
                  "value": "foodbusiness"
                },
                {
                  "text": "Professional Services",
                  "value": "professionalbusiness"
                },
                {
                  "text": "Financial",
                  "value": "financialbusiness"
                },
                {
                  "text": "ICT",
                  "value": "ictbusiness"
                },
                {
                  "text": "Logistics",
                  "value": "logisticsbusiness"
                },
                {
                  "text": "Manufacturing",
                  "value": "manufacturingbusiness"
                },
                {
                  "text": "Media",
                  "value": "mediabusiness"
                },
                {
                  "text": "Retail",
                  "value": "retailbusiness"
                },
                {
                  "text": "Wholesale Trade",
                  "value": "wholesalebusiness"
                }
              ]
            })
            +custom-select({
              "label": "looking for",
              "id": "browseInterest1",
              "name": "topic",
              "options": [
                {
                  "text": "All",
                  "value": "all"
                },
                {
                  "text": "Built & Environment",
                  "value": "build & environmentbusiness"
                },
                {
                  "text": "Collaboration Opportunities",
                  "value": "collaboppbusiness"
                },
                {
                  "text": "Digitalisation for Businesses",
                  "value": "digitalisationbusiness"
                },
                {
                  "text": "Food Services",
                  "value": "foodbusiness"
                },
                {
                  "text": "Professional Services",
                  "value": "professionalbusiness"
                },
                {
                  "text": "Financial",
                  "value": "financialbusiness"
                },
                {
                  "text": "ICT",
                  "value": "ictbusiness"
                },
                {
                  "text": "Logistics",
                  "value": "logisticsbusiness"
                },
                {
                  "text": "Manufacturing",
                  "value": "manufacturingbusiness"
                },
                {
                  "text": "Media",
                  "value": "mediabusiness"
                },
                {
                  "text": "Retail",
                  "value": "retailbusiness"
                },
                {
                  "text": "Wholesale Trade",
                  "value": "wholesalebusiness"
                }
              ]
            })
          .browse-interest__step.browse-interest__step--step2#profile2
            +custom-select({
              "label": "looking for",
              "id": "browseInterest2",
              "name": "topic",
              "options": [
                {
                  "text": "All",
                  "value": "all"
                },
                {
                  "text": "Built & Environment",
                  "value": "build-and-environmentstudent"
                },
                {
                  "text": "Collaboration Opportunities",
                  "value": "collaboppstudent"
                },
                {
                  "text": "Digitalisation for Businesses",
                  "value": "digitalisationbusinessstudent"
                },
                {
                  "text": "Food Services",
                  "value": "foodstudent"
                },
                {
                  "text": "Professional Services",
                  "value": "professionalstudent"
                },
                {
                  "text": "Financial",
                  "value": "financialstudent"
                },
                {
                  "text": "ICT",
                  "value": "ictstudent"
                },
                {
                  "text": "Logistics",
                  "value": "logisticsstudent"
                },
                {
                  "text": "Manufacturing",
                  "value": "manufacturingstudent"
                },
                {
                  "text": "Media",
                  "value": "mediastudent"
                },
                {
                  "text": "Retail",
                  "value": "retailstudent"
                },
                {
                  "text": "Wholesale Trade",
                  "value": "wholesalestudent"
                }
              ]
            })
          .browse-interest__step.browse-interest__step--step2#profile3
            +custom-select({
              "label": "looking for",
              "id": "browseInterest3",
              "name": "topic",
              "options": [
                {
                  "text": "All",
                  "value": "all"
                },
                {
                  "text": "Built & Environment",
                  "value": "build-and-environmentpub"
                },
                {
                  "text": "Collaboration Opportunities",
                  "value": "collabopppub"
                },
                {
                  "text": "Digitalisation for Businesses",
                  "value": "digitalisationbusinesspub"
                },
                {
                  "text": "Food Services",
                  "value": "foodpub"
                },
                {
                  "text": "Professional Services",
                  "value": "professionalpub"
                },
                {
                  "text": "Financial",
                  "value": "financialpub"
                },
                {
                  "text": "ICT",
                  "value": "ictpub"
                },
                {
                  "text": "Logistics",
                  "value": "logisticspub"
                },
                {
                  "text": "Manufacturing",
                  "value": "manufacturingpub"
                },
                {
                  "text": "Media",
                  "value": "mediapub"
                },
                {
                  "text": "Retail",
                  "value": "retailpub"
                },
                {
                  "text": "Wholesale Trade",
                  "value": "wholesalepub"
                }
              ]
            })
          +button({
            "label": "Browse",
            "url": "#"
          })
