mixin event-speakers(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .event-speakers(class=spec.__class)&attributes(attributes)
    .row(data-carousel)
      each speaker in spec.speakers
        div
          +event-speaker-card({
            "image": speaker.image,
            "name": speaker.name,
            "designation": speaker.designation,
            "text": speaker.text
          })
    .imda-carousel__controls.imda-carousel__controls--event-speakers
      div(data-carousel-arrows)
      div.desktop-only(data-carousel-dots)
      div.no-desktop(data-carousel-pager)