// event-speakers styles
.event-speakers {
  margin: 24px 0 0;
  
  @include desktop {
    margin: 30px 0 0;
  }

  .row {
    &.slick-initialized {
      display: block;
    }

    .slick-slide {
      padding: 0 15px;
      float: none;
      height: auto;
    }

    .slick-track {
      display: flex;
    }

    &:not(.slick-initialized) {
      > div {
        @include desktop {
          padding: 0 15px;
          max-width: calc(100% / 3);
          flex: 0 0 calc(100% / 3);
        }
        
        > div {
          height: 100%;
        }
      }
    }
  }

  .imda-carousel__controls {
    margin: 20px 0 0;
    
    @include desktop {
      justify-content: flex-start;
      gap: 50px;
    }
    
    [data-carousel-dots] {
      color: #fff;

      li {
        &.slick-active {
          .dot-indicator {
            background-color: #fff;
          }
        }

        .dot-indicator {
          border-color: #fff;
        }

        .dot-page {
          color: #fff;
        }
      }
    }

    [data-carousel-pager] {
      color: #fff;
  
      @include desktop {
        display: none;
      }
    }

    [data-carousel-arrows] {
      .slick-arrow {
        border: 1px solid #fff;
        background-color: transparent;
        
        &.slick-disabled {
          border-color: #fff;
          color: #fff;
        }
      }
    }
  }
}