// event-details-banner styles
.event-details-banner {
  color: #fff;
  position: relative;
  padding: 32px 0 45px;
  
  @include desktop {
    padding: 30px 0 158px;
  }

  &__bg {
    @include absolute-img;
    width: 100%;
    height: 100%;
    filter: blur(50px);      
    -webkit-filter: blur(50px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include desktop {
      filter: blur(225px);
      -webkit-filter: blur(225px);
    }

    @supports (-webkit-touch-callout: none) {
      filter: blur(50px);
      -webkit-filter: blur(50px);
    }
  }

  .container {
    @include desktop {
      padding: 0 102px;
    }
  }

  &__content {
    @include desktop {
      overflow: hidden;
      border-radius: 8px;
      box-shadow: 0px 0px 12px rgba(8, 12, 24, 0.25);
    }
  }

  &__card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 12px rgba(8, 12, 24, 0.25);

    @include desktop {
      border-radius: 0;
      box-shadow: none;
    }
  }

  &__image {
    @include aspect-ratio(335, 239, 100%);
    
    @include desktop {
      @include aspect-ratio(1080, 423, 100%);
    }

    img {
      @include absolute-img;
      @include image-cover;
    }
  }

  &__label {
    position: absolute;
    top: 0;
    right: 0;
    width: 102px;
    height: 102px;
    
    @include desktop {
      width: 220px;
      height: 220px;
    }

    &.event-details-banner__label--white {
      svg {
        path {
          stroke: #fff;
          fill: #fff;
        }
      }
    }

    svg {
      position: absolute;
      left: 0;
      bottom: 0;
      animation: rotating 6s linear infinite;

      @include desktop {
        width: 385px;
        height: 385px;
      }

      path {
        stroke: #000;
        fill: #000;
      }
    }
  }

  &__text {
    text-align: center;
    padding: 0 20px 38px;
    background-color: $contentHubBlack;
    
    @include desktop {
      padding: 0 56px 51px;
    }
  }

  &__starttime {
    background-color: $contentHubBlack;
    border: 1px solid #fff;
    border-radius: 8px;
    display: inline-flex;
    flex-direction: column;
    gap: 3px;
    padding: 6px 28px;
    width: auto;
    margin: 0 auto -31px;   // -31px due to -50% translation. then minus 17px required margin below
    transform: translate(0, -50%);

    @include tablet {
      padding: 11px 74px 14px;
      gap: 6px;
      margin: 0 auto -51px;   // -51px due to -50% translation. then minus 24px required margin below
    }

    > span {
      font-weight: 500;
      font-size: calc-em(10px);
      line-height: 140%;
      text-transform: uppercase;
      
      @include tablet {
        font-size: calc-em(14px);
      }
    }

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 23px;

      @include tablet {
        gap: 44px;
      }

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-width: 30px;
        max-width: 100%;
        flex: 1 0 0;
        position: relative;

        &:after {
          content: ':';
          position: absolute;
          top: 9px;
          font-size: calc-em(12px);
          line-height: 1;
          right: -13px;
          
          @include tablet {
            right: -26px;
            font-size: calc-em(18px);
          }
        }

        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }

    .counter {
      font-weight: 400;
      font-size: calc-em(20px);
      line-height: 120%;

      @include tablet {
        font-size: calc-em(30px);
      }
    }

    .label {
      font-weight: 400;
      font-size: calc-em(6px);
      line-height: 140%;

      @include tablet {
        font-size: calc-em(10px);
      }
    }
  }

  &__header {
    padding: 16px 0 0;
    
    @include desktop {
      padding: 24px 0 0;
    }

    span {
      font-weight: 500;
      font-size: calc-em(12px);
      line-height: 140%;
      margin: 0 0 10px;
      display: block;
      
      @include desktop {
        font-size: calc-em(16px);
      }
    }

    h1 {
      font-weight: 600;
      font-size: calc-em(30px);
      line-height: 120%;
      margin: 0 0 10px;

      @include desktop {
        font-size: calc-em(36px);
        margin: 0 0 6px;
      }
    }

    p {
      font-weight: 500;
      line-height: 140%;
      margin: 0;

      @include desktop {
        font-size: calc-em(20px);
      }
    }
  }

  &__details {
    margin: 39px 0 0;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    
    @include desktop {
      background-color: $contentHubBlack;
      margin: 0px;
      flex-direction: row;
      gap: 50px;
      padding: 0 36px 89px;
    }
    
    @include lgDesktop {
      gap: 100px;
      padding: 0 56px 89px;
    }

    .icon {
      display: block;
      width: 24px;
    }

    a {
      color: #fff;
    }

    .event-banner-details {
      display: flex;
      gap: 16px;

      @include desktop {
        width: 100%;
        min-width: 0;
        max-width: 100%;
        flex: 1 0 0;
        position: relative;
      }

      &:after {
        @include desktop {
          content: '';
          position: absolute;
          width: 0.5px;
          height: 100%;
          background-color: #fff;
          top: 0;
          right: -25px;
          bottom: 0;
        }
        
        @include lgDesktop {
          right: -50px;
        }
      }

      &:last-child {
        &:after {
          display: none;
        }
      }

      > div {
        display: flex;
        flex-direction: column;
        gap: 4px;
        line-height: 140%;
        
        @include desktop {
          font-weight: 500;
          gap: 10px;
          font-size: calc-em(14px);
        }

        > span {
          &:first-child {
            font-weight: 600;

            @include desktop {
              font-weight: 500;
              font-size: calc-em(20px, 14px);
            }
          }
        }
      }
    }
  }
}