mixin event-details-banner(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .event-details-banner(class=spec.__class)&attributes(attributes)
    .event-details-banner__bg(style="background-image: url(" + spec.bg + ")")
    
    .container
      .event-details-banner__content
        .event-details-banner__card
          .event-details-banner__image
            picture
              source(srcset= spec.image, media="(max-width: 1023px)")
              source(srcset= spec.image)
              img(src=spec.image, alt="")
            if spec.signature
              .event-details-banner__label(class= spec.whiteLabel ? 'event-details-banner__label' : '')
                +signature-label

          .event-details-banner__text
            .event-details-banner__starttime(data-starttime=spec.startTime)
              span The event will start in
              div
                .day
                  span.counter 0
                  span.label Days
                //- .colon :
                .hour
                  span.counter 00
                  span.label Hours
                //- .colon :
                .min
                  span.counter 0
                  span.label Minutes
                //- .colon :
                .sec
                  span.counter 00
                  span.label Seconds
            
            header.event-details-banner__header
              span=spec.type
              h1=spec.title 
              p=spec.text
          
        .event-details-banner__details
          .event-banner-details
            span.icon
              svg(width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M20.8488 3.44238H1.19703C0.967925 3.44238 0.78125 3.63754 0.78125 3.85816V20.5231C0.78125 20.7437 0.967925 20.9389 1.19703 20.9389H4.51474C4.73536 20.9389 4.93052 20.7437 4.93052 20.5231C4.93052 20.3025 4.73536 20.1073 4.51474 20.1073H1.60431V8.44017H20.3906V20.1073H7.67972C7.45911 20.1073 7.26395 20.3025 7.26395 20.5231C7.26395 20.7437 7.45911 20.9389 7.67972 20.9389H20.8063C21.027 20.9389 21.2221 20.7437 21.2221 20.5231V3.85816C21.2221 3.663 21.0779 3.48481 20.8488 3.44238V3.44238ZM20.3906 7.60862H1.60431V4.27393H20.3906V7.60862Z" fill="white")
                path(d="M8.29099 3.51854C8.29099 4.99497 7.08609 6.19138 5.61815 6.19138C5.40602 6.19138 5.23632 6.02168 5.23632 5.80955C5.23632 5.59742 5.40602 5.42771 5.61815 5.42771C6.67032 5.42771 7.52732 4.57071 7.52732 3.51854C7.52732 2.46638 6.67032 1.60937 5.61815 1.60937C4.56599 1.60937 3.74292 2.42395 3.7005 3.44218H2.94531C2.97925 1.99969 4.16718 0.845703 5.61815 0.845703C7.06912 0.845703 8.29099 2.04212 8.29099 3.51854Z" fill="white")
                path(d="M19.0677 3.51854C19.0677 4.99497 17.8628 6.19138 16.3948 6.19138C16.1827 6.19138 16.013 6.02168 16.013 5.80955C16.013 5.59742 16.1827 5.42771 16.3948 5.42771C17.447 5.42771 18.304 4.57071 18.304 3.51854C18.304 2.46638 17.447 1.60937 16.3948 1.60937C15.3427 1.60937 14.5281 2.42395 14.4857 3.44218H13.7305C13.7644 1.99969 14.9439 0.845703 16.3948 0.845703C17.8458 0.845703 19.0677 2.04212 19.0677 3.51854Z" fill="white")

            div
              span Date and time
              time 
                | !{spec.datetime}
          .event-banner-details
            span.icon
              svg(width="20" height="31" viewBox="0 0 20 31" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M9.9966 30.6667C9.84015 30.6667 9.70412 30.5644 9.66557 30.4186L6.66591 18.6424C2.6709 17.2888 0 13.6761 0 9.59544C0 4.30478 4.48475 0 9.9966 0C15.5084 0 20 4.30478 20 9.59544C20 13.737 17.2475 17.3954 13.1527 18.7012C12.9305 18.8013 12.6902 18.7056 12.6244 18.5576C12.5541 18.3965 12.672 18.1419 12.9373 18.0809C13.613 17.8655 14.5834 17.4759 15.5878 16.7556C17.8937 15.1016 19.3198 12.4725 19.3198 9.59761C19.3198 4.66605 15.1389 0.655075 9.9966 0.655075C4.85432 0.655075 0.680195 4.66388 0.680195 9.59544C0.680195 13.4562 3.24453 16.8666 7.06042 18.0809C7.17152 18.1158 7.25541 18.205 7.28262 18.3138L9.9966 28.967L12.1483 20.4162C12.1936 20.2333 12.3886 20.1245 12.57 20.1724C12.7446 20.2181 12.8534 20.3966 12.8081 20.5707C11.9284 24.0223 11.2073 26.9647 10.3254 30.4186C10.2891 30.5644 10.1508 30.6667 9.99433 30.6667H9.9966Z" fill="white")
                path(d="M9.99402 14.0558C7.42968 14.0558 5.34375 12.0535 5.34375 9.59429C5.34375 7.13504 7.42968 5.13281 9.99402 5.13281C12.5584 5.13281 14.6488 7.13504 14.6488 9.59429C14.6488 12.0535 12.5606 14.0558 9.99402 14.0558ZM9.99402 5.78571C7.80606 5.78571 6.02395 7.49413 6.02395 9.59429C6.02395 11.6944 7.80379 13.4029 9.99402 13.4029C12.1842 13.4029 13.9686 11.6944 13.9686 9.59429C13.9686 7.49413 12.1865 5.78571 9.99402 5.78571Z" fill="white")

            div
              span Location
              span=spec.location
          .event-banner-details
            span.icon
              svg(width="26" height="21" viewBox="0 0 26 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M6.1339 20.5995C4.66733 20.5995 3.29799 20.0324 2.25275 19.0033C1.21562 17.9581 0.648438 16.5807 0.648438 15.1222C0.648438 13.6637 1.21562 12.2863 2.24465 11.241L8.58088 4.91291C9.61802 3.87578 10.9955 3.30859 12.462 3.30859C12.9401 3.30859 13.4181 3.37341 13.88 3.49495C15.7679 3.99732 17.2507 5.48819 17.7611 7.368C18.2635 9.2559 17.7206 11.2816 16.3432 12.6671L13.4262 15.584C13.329 15.657 13.2237 15.6975 13.1102 15.6975C12.9725 15.6975 12.8429 15.6408 12.7456 15.5435C12.5674 15.3653 12.5512 15.0736 12.7051 14.871L15.6301 11.946C16.7564 10.8197 17.2021 9.16678 16.7888 7.62728C16.3756 6.08779 15.1683 4.8805 13.6288 4.46727C13.248 4.37003 12.8591 4.31332 12.4701 4.31332C11.279 4.31332 10.1528 4.77516 9.31012 5.61784L2.97388 11.9541C1.84762 13.0803 1.40198 14.7333 1.81521 16.2647C2.22844 17.8042 3.43573 19.0114 4.97523 19.4247C5.35605 19.5219 5.74497 19.5786 6.1339 19.5786C7.32498 19.5786 8.45124 19.1168 9.29391 18.2741L9.85299 17.715C9.95022 17.6178 10.0799 17.5692 10.2095 17.5692C10.3391 17.5692 10.4769 17.6259 10.5741 17.7231C10.6714 17.8204 10.72 17.95 10.72 18.0877C10.72 18.2255 10.6633 18.3551 10.566 18.4443L10.0069 19.0033C8.96981 20.0324 7.59237 20.5995 6.1258 20.5995H6.1339Z" fill="white")
                path(d="M13.8957 17.7141C13.4015 17.7141 12.9153 17.6493 12.4373 17.5197C10.5818 17.0092 9.1152 15.5426 8.60473 13.6871C8.09427 11.8316 8.60473 9.82219 9.94166 8.43664L12.7938 5.57643C12.891 5.4873 13.0125 5.43868 13.1422 5.43868C13.2799 5.43868 13.4096 5.4873 13.4987 5.58453C13.6932 5.77899 13.7013 6.08689 13.5149 6.28945L10.6628 9.15777C9.53653 10.284 9.09899 11.937 9.51222 13.4684C9.92546 15.0079 11.1327 16.2151 12.6722 16.6284C13.0531 16.7256 13.442 16.7823 13.8309 16.7823C15.022 16.7823 16.1483 16.3205 16.9909 15.4697L23.3191 9.14157C24.4453 8.01531 24.8829 6.36238 24.4696 4.83099C24.0564 3.29149 22.8491 2.0842 21.3096 1.67097C20.9288 1.57374 20.548 1.51702 20.159 1.51702C18.968 1.51702 17.8417 1.97887 16.999 2.82964L16.5129 3.3077C16.4156 3.39683 16.2941 3.44544 16.1645 3.44544C16.0348 3.44544 15.8971 3.38872 15.8079 3.29959C15.6135 3.10513 15.6054 2.79723 15.7917 2.59467L16.2779 2.10851C17.315 1.07138 18.6925 0.496094 20.159 0.496094C20.6371 0.496094 21.1151 0.560915 21.577 0.682454C23.4649 1.18481 24.9558 2.67569 25.4581 4.5636C25.9605 6.45151 25.4257 8.48526 24.0402 9.8627L17.6959 16.1989C16.6668 17.1875 15.3218 17.7303 13.8957 17.7303V17.7141Z" fill="white")

            div
              span Link to register
              a(href=spec.url)=spec.urlText

