mixin image-box(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .image-box(class=spec.__class)&attributes(attributes)
    .col-6
      .box-image
        img(src="/images/brochure-2.jpg", alt="")
    .col-6
      .box-content
        .content-title
          p
            strong lorem ipsum dolar sin.
        .content-body
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos fugiat consequatur asperiores similique accusantium cupiditate provident perspiciatis neque aliquid. Eaque quisquam illo, sequi modi labore sunt recusandae eveniet doloremque nesciunt?
